[2019-06-23 23:49] GeorgeAdamon commented on #4155
I just opened a repo, documenting the process, I will upload a sample project in the following days!
https://github.com/GeorgeAdamon/quest-realsense

[2019-06-24 00:49] ArtlyStyles opened #4270 "Can not install on Nvidia Jetson TX2"
I tried to install librealsense2 on Nvidia Jetson TX2 following instruction here
    https://github.com/IntelRealSense/librealsense/blob/master/doc/distribution_linux.md
However, when I run
    sudo apt-get install librealsense2-dkms
I got the following error:
   E: Unable to locate package librealsense2-dkms
How can I fix the problem?

Thanks,

[2019-06-24 02:50] RealSenseCustomerSupport commented on #3789
----------------------------------------------

@challen-zhou Any update from your side? Will close the issue if no other questions. Thanks!

[2019-06-24 02:52] RealSenseCustomerSupport commented on #3966
----------------------------------------------

@thanujadax Any update?

[2019-06-24 02:56] challen-zhou commented on #3789
@RealSense-Customer-Engineering , thanks very much for your kindly support!
We are working on this, but since of some other urgent tasks, progress on this verification would be very slow, suggest to close this issue, we will ask for your support with new ticket if any further question.

[2019-06-24 05:35] UsaidPro opened #4271 "Successfully installed librealsense on Arch Linux (modified files to work with kernel 5.1.12)"
----------------------------------------------------------------------------------------------------

| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D435i |
| Firmware Version                   | 05.10.13.00 |
| Operatin

[2019-06-24 05:40] UsaidPro commented on #4271
I missed another error I had at the end: `modprobe: ERROR: could not insert 'uvcvideo': Exec format error`. Looking at `dmesg`, this was due to `uvcvideo: version magic '5.1.12 SMP preempt mod_unload ' should be '5.1.12-arch1-1-ARCH SMP preempt mod_unload '`. This was easily solved by doing `sudo modprobe --force uvcvideo` and `rm -rf kernel/` for cleanup.

[2019-06-24 06:07] #3789 closed

[2019-06-24 06:55] MartyG-RealSense commented on #4155
@GeorgeAdamon  Thanks so much for the effort you have gone to in sharing the experience with other community members in an easy to follow format!

[2019-06-24 07:13] MartyG-RealSense opened #4272 "Announcement: Raspberry Pi 4 Model B with two USB 3 ports now available"
Hi everyone,

A new 'Raspberry Pi 4 Model B' development board is now available to purchase that has two USB 3 ports.

https://www.raspberrypi.org/products/raspberry-pi-4-model-b/

[2019-06-24 07:23] RealSenseCustomerSupport commented on #3745
----------------------------------------------

@jinfagang Do you get it though? Sorry for the delay as these questions are not librealsense related and our support will be limited. If you have any other librealsense related question, we'll try our best to support. Thanks!

[2019-06-24 07:36] RealSenseCustomerSupport commented on #3952
----------------------------------------------

@leoregner Which librealsense version did you get the issue? And noticed the camera firmware you used is v5.9.2 which is a little old, could you please update to the latest librealsense and FW to see if you still get the issue? Thanks!

[2019-06-24 07:38] RealSenseCustomerSupport commented on #3974
----------------------------------------------

@stephen-systemfriend Sorry for the late response! Did you still get the issue of "Software device is streaming!"?

[2019-06-24 07:41] RealSenseCustomerSupport commented on #3894
----------------------------------------------

@Resays Sorry for the late response! Did you get it through now?

[2019-06-24 07:51] mola1129 commented on #4258
Thanks. I will try it.

[2019-06-24 07:51] #4258 closed

[2019-06-24 08:02] orshefi commented on #4261
Hi @dorodnic

First thing first, I want to start sharing my code changes in order to receive guidance and review from you guys, please send me a reference on how to do so.

Here's what I have so far:

1. Removed all lines that initialize manager in the code base
2. Changed pick_tm2_devices to find the USB device info that corresponds to the product id of the t265

Next thing I'd like to do is to c

[2019-06-24 08:53] filartrix opened #4274 "depth_example not working with Matlab 2018a on Windows 7"
----------------------------------------------------------------------------------------------------
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D415               |
| Firmware Version                   | 05.11.06.250

[2019-06-24 08:57] buctfy commented on #4266
I used face recognition dnn model,so code ran a little slowly in my laptop ,I want to know weather up-board  can detect face in real time

[2019-06-24 09:17] MartyG-RealSense commented on #4266
Comparing the spec of the Up Squared to the spec of an average budget business laptop, it looks as though Up Squared would provide comparable performance to a budget laptop.

https://up-board.org/upsquared/specifications/

I notice that Up are now selling a modern equivalent to the old robotics kit that pairs an Up Squared with a D435i camera.

https://up-shop.org/home/307-up-squared-robomaker-dev

[2019-06-24 10:00] RealSenseCustomerSupport commented on #4042
----------------------------------------------

@nicovanduijn Do you still have issue also if connect to USB3 port on UP Core? Could you please try 4.15 kernel on UP Core?

[2019-06-24 10:11] Resays commented on #3894
Hi, Yes I got thembut the details about working with realsense is too weak ... and i having a hard time to grab the information about realsense 

Thanks anyway .. if i need more information i'll contact you again
Siddiqui, Muhammad YasirPh.D. Scholar, Tongmyong University    On Monday, June 24, 2019, 4:42:16 PM GMT+9, RealSense Customer Support <notifications@github.com> wrote:

@Resays Sorry for

[2019-06-24 10:38] dorodnic commented on #4261
The issue with persistent update is that Movidius does not store firmware image on-board, and was designed to receive new firmware upon every power-up.

You can open pull-request to share and collaborate on this.

I'm not entirely sure about Device.h. The listener in librealsense is generic, abstracted via device_watcher interface, plugging into the context. From there, the new detected device_inf

[2019-06-24 11:08] ogoshen commented on #4253
The `rs2_deproject_pixel_to_point` function isn't exported to the library, and so can't be called from c# (as are other functions in the `rsutil.h` file)

But actually there isn't much to benefit from wrapping it, porting should do just as well.

I'll also just mention that for the D4xx series the depth stream doesn't require any distortion correction, so deprojection is very simple:

[code]

[2019-06-24 11:15] Resays commented on #2200
not working properly ... can write a code for depth raw file ?
and how to traverse depth and convert to rgb data ?

[2019-06-24 11:57] dorodnic commented on #4247
The T265 comes precalibrated and does not require any user recalibration. If you want to integrate it with 3rd-party wheel-odometry you need to provide relevant extrnsics.

[2019-06-24 11:57] #4247 closed

[2019-06-24 12:00] dorodnic commented on #4271
Hi @UsaidPro
Thank you for sharing, let us know if you encounter any problems

[2019-06-24 12:49] Ahad19931 commented on #4245
Is there anyone who can help me in this regard?

[2019-06-24 13:13] HadeelRS opened #4277 "RealSense SDk and Building Dependencies"
Hello,

I just got RealSense Tracking camera T265 and I installed the SDK and the sample examples. However, I am trying to build my own C++ project from the scratch in Visual Studio 2019  and I tried to add the RealSense library to my project and link it. But, I can't include the library, the program can't define it yet. So could you help me in providing the right steps in building all the externa

[2019-06-24 13:13] nicovanduijn commented on #4042
As mentioned in my initial post, USB3 is not an option for our use-case (due to GPS interference).

Using a different kernel would be one option, but this really is just the tip of the ice berg of our problems. The main issue is that we it doesn't work well in bright light due to the exposure issues (#4140 #4022 ), which we're not sure if they are broken in 5.09.13 or just invisible because I can'

[2019-06-24 13:30] dorodnic commented on #4277
All you need is `realsense2.lib`, `realsense2.dll` and `include` folder, all provided inside the Windows Installer. You configure linker and include directories in a standard way, and place `realsense2.dll` near your application. Alternatively, the SDK is installing `C:\Program Files (x86)\Intel RealSense SDK 2.0\intel.realsense.props` file that when included will configure your C++ project to use

[2019-06-24 13:38] derens99 commented on #4158
That would be very helpful if you could post your example. Thanks.

[2019-06-24 14:07] ClementDardenne opened #4278 "Issues with GLFW3 (fixed ?) and now GUID_DEVINTERFACE_USB_DEVICE (new)"
Hi,

I tried for hours to build librealsense2 under Windows 10 (with cmake & VS 2015/2017).
My goal is to use rs-kinfu module : https://github.com/IntelRealSense/librealsense/tree/master/wrappers/opencv/kinfu

My problem is related to GLFW3. I can generate my Project with cmake, but if I try to build rs-kinfu with Visual Studio 2015/2017 in Release, I have :

`C:\..\examples\example.hpp(9): fatal

[2019-06-24 15:07] leoregner commented on #3952
@RealSenseCustomerSupport Thanks, this solved the problem. Anyways, I had already moved to Linux in the meantime.

[2019-06-24 15:07] #3952 closed

[2019-06-24 15:51] ttoivone opened #4279 "Syscall param epoll_ctl(event) points to uninitialised byte(s) (Valgrind)"
I am getting the error on the subject line when running my test application using librealsense2 under Valgrind on Ubuntu 18.04.2 x86. Below is full error log. To me it seems that struct epoll_event e is not fully initialized in file third-party/libtm/libtm/src/infra/Poller_lin.cpp before it is given to epoll_ctl() function. Maybe that is not strictly required and Valgrind is overly cautious, but i

[2019-06-24 15:55] pabloalcain opened #4281 "Possible bug in capturing: Frame didn't arrive within 5000 / Error occured during execution of the processing block!"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D415 |
| Firmware Version                   | 05.09.02.00 |
| Operating System & Version | Debian 8  |
| Kernel Version (Linux Only)    |  4.9.0-8-amd64

[2019-06-24 16:58] sanjay-nag commented on #2402
I'm facing this too, while installing ros-kinetic-turtlebot-stage! Any update on this?

`
Preparing to unpack .../ros-kinetic-turtlebot-stage_2.2.3-0xenial-20190608-162035-0800_amd64.deb ...
Unpacking ros-kinetic-turtlebot-stage (2.2.3-0xenial-20190608-162035-0800) ...
Processing triggers for libc-bin (2.23-0ubuntu10) ...
Setting up ros-kinetic-librealsense (1.12.1-0xenial-20190607-170900-0800) ..

[2019-06-24 18:00] RealSenseCustomerSupport commented on #4082
----------------------------------------------

Hi McJun1,
Do you find the filter? You may try filter Lee #87.

[2019-06-24 18:01] #4099 closed

[2019-06-24 18:19] RealSenseCustomerSupport commented on #4140
----------------------------------------------

Hi

Thanks a lot for reporting.

Yes, that's the known issue (https://github.com/IntelRealSense/librealsense/issues/4022) and will be fixed in firmware 5.11.12.0.

Thank you

[2019-06-24 18:22] ercarpio commented on #3139
Hi @agrunnet @RealSenseCustomerSupport ,

Was the subpixel linearity feature released in version 2.23? If so, do we still need to wait for firmware 5.11.9 to be released (as stated in #4100 ) to use it?

Thanks!

[2019-06-24 18:56] abuzaina commented on #4202
hi @ev-mp ,
Thank you for your reply, the second usage link in your first reply does not go anywhere. I would appreciate if you send it again.
I am still not sure how to inject the depth frames from the D410 and the RGB frames from the camera to the software device, are there any examples of it ?

[2019-06-24 19:07] #4130 closed

[2019-06-24 20:04] nawara72 commented on #4256
Thanks, will look into it

[2019-06-24 20:04] #4256 closed

[2019-06-24 20:47] agrunnet commented on #3139
Yes.
We will be publishing a white paper on it very soon.

[2019-06-24 21:00] ParadoxRobotics opened #4282 "Map stitching with T265 for large scale application ?"
I would like to perform VIO using the T265 on a 1km road.
Since the T265 have limited memory, is it possible to perform map stitching with load/save internal map on a external computer ?
Also if it is possible, how can we know the limit of the map ? Does the T265 internal map memory have a maximum flag ?

[2019-06-24 21:36] cga-cmu commented on #4158
Same problem here in Intel NUC running realsense packages v. 2.23
Please post working example.
uname -a
Linux nuc0 4.18.0-24-generic #25~18.04.1-Ubuntu SMP Thu Jun 20 11:13:08 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux

[2019-06-24 21:40] etharooni opened #4283 "T265 Device not connected on Raspian"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | T265 |
| Firmware Version                   | 0.0.18.5129 |
| Operating System & Version |  Raspian Stretch Lite |
| Kernel Version (Linux Only)    |  4.19.42-v7+ |
| Platfo

[2019-06-24 22:06] #4132 closed

[2019-06-24 23:01] RealSenseCustomerSupport commented on #4137
----------------------------------------------

Hi @ChenJfChen
Do you still have question on this issue?

[2019-06-24 23:01] #4015 closed

[2019-06-24 23:01] #4026 closed

[2019-06-24 23:23] tmichals opened #4284 "RealSense Viewer on Nano not connecting to T265."
| | |
|---|---|
|**librealsense**|2.21.0 RELEASE|
|**OS**|Ubuntu 18|

Unable to get the RealSense Viewer to display the T265... can not add the T265.   I have worked through the similar related github issues that talk about the same problem  ....but not able to get T265 working .   The same T265 camera works perfectly on my windows10 PC with the RealSense viewer so the camera is good.     I am usi

[2019-06-25 00:25] #4137 closed

[2019-06-25 00:26] ChenJfChen commented on #4137
I'm so sorry to forget to close this issue

[2019-06-25 00:29] stephen-systemfriend commented on #3974
Just upgraded to the latest version, still getting this error

[2019-06-25 00:38] cga-cmu commented on #4158
More details:
4 D435 cameras running Signed_Image_UVC_5_11_6_250.bin firmware
librealsense:development as of today Mon Jun 24 20:37:36 EDT 2019
uname -a
Linux a1 4.15.0-52-generic #56~16.04.1-Ubuntu SMP Thu Jun 6 12:03:31 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux

[2019-06-25 00:42] cga-cmu commented on #4158
several launches of rs-multicam. ^C marks successful launches

cga@a1:~/opencv-rs2$ ./rs-multicam
RealSense error calling rs2_pipeline_start_with_config(pipe:0x21f1d00, config:0x21ee7c0):
    hwmon command 0x10 failed. Error type:  (1).
cga@a1:~/opencv-rs2$ ./rs-multicam
RealSense error calling rs2_pipeline_start_with_config(pipe:0x1c081f0, config:0x1c083a0):
    hwmon command 0x30 failed. Error t

[2019-06-25 01:10] RealSenseCustomerSupport commented on #4144
----------------------------------------------

Hi,
Could you please attach a left IR image along with depth image to show the problem?
Did you try to increase the projector power?

[2019-06-25 01:25] radfordi commented on #4282
How large a map you need depends on the scale of your scene.  If you are high up in drone with a downward facing T265 you might be able to see the same scene while moving over large distances so the map size would be small with respect to the distance covered, compared flying low over the ground which would eat up your map in relatively short distance.

The T265 map has a fixed size for now.  We a

[2019-06-25 01:33] RealSenseCustomerSupport commented on #4054
----------------------------------------------

@ccfire Any update? Will close the ticket if no other questions. Thanks!

[2019-06-25 01:33] mickeyouyou commented on #4284
It's same situation to me.

ubuntu 18.04 T265

[2019-06-25 01:36] radfordi commented on #4277
The standard `cmake` technique is to add the location of `librealsense` to your `CMAKE_PREFIX_PATH` with something like this (run in your build directory):
[code]
and then to ask `cmake` to find `librealsense` using that path in your `CMakeLists.txt` like so
[code]
this should deal with the include paths, finding the DLL, etc. automatically.

[2019-06-25 01:48] RealSenseCustomerSupport commented on #4008
----------------------------------------------

@ClimbsRocks If no other questions about this ticket, will close it accordingly. Thanks!

[2019-06-25 01:51] RealSenseCustomerSupport commented on #4059
----------------------------------------------

@omarfakhr Any update from your side? Looking forward to your reply. Thanks!

[2019-06-25 01:54] RealSenseCustomerSupport commented on #3978
----------------------------------------------

@oursland  No update from you for several weeks, will close the ticket at this point. Please feel free to create new ticket if you still have questions or issues. Thanks!

[2019-06-25 01:55] RealSenseCustomerSupport commented on #3530
----------------------------------------------

@GameHuiTea Could you please update if you still need any other support for this ticket? Thanks!

[2019-06-25 02:03] #3978 closed

[2019-06-25 02:03] #4008 closed

[2019-06-25 02:03] #4054 closed

[2019-06-25 02:09] mickeyouyou commented on #4229
I also encountered an unstable connection in the same environment. Sometimes the device can be seen through the realsense-viewer, sometimes not at all. An exception was encountered while reading with the sample rs-pose-and-image: "No device connected".

[2019-06-25 02:14] RealSenseCustomerSupport commented on #3701
----------------------------------------------

@sophie-shin Any good news from your side? Looking forward to your reply. Thanks!

[2019-06-25 03:03] xiaoyanluo commented on #4144
Thanks for your responses.

[2019-06-25 03:03] #4144 closed

[2019-06-25 04:46] RealSenseCustomerSupport commented on #4069
----------------------------------------------

@gravitychen Some modifications were made based on config.txt provided by AntoineWefit and please see https://gist.github.com/sherrysun2018/a56e6091d7ba51220ab0169240e84775

Please have try this json preset to see if the view is better or not.
Also you can add some post processing as AntoineWefit suggested. Thanks!

[2019-06-25 05:33] stephen-systemfriend commented on #3974
after digging around through the code for a while, I fixed it.
the correct code doesn't call
        depthGenerator.Open(depthStream);
        depthGenerator.Start(sync.SubmitFrame);

or
        colorGenerator.Open(colorStream);
        colorGenerator.Start(sync.SubmitFrame);

because those are started by pipe.open(cfg).
instead what I had to do was call
pipe.open(cfg, sync.SubmitFrame) instead of

[2019-06-25 05:33] #3974 closed

[2019-06-25 06:05] RealSenseCustomerSupport commented on #4042
----------------------------------------------

@nicovanduijn According to #4140, the exposure issue will be fixed in firmware 5.11.12.0. Will update you when this firmware ready.
Considering only kernel version is different between your PC and UP Core, please have a try with kernel 4.15 on UP Core if possible. Thanks!

[2019-06-25 06:09] RealSenseCustomerSupport commented on #4085
----------------------------------------------

@ambikesh13499 With ev-mp's previous reply, did you get it through now? Looking forward to your update. Thanks!

[2019-06-25 06:14] RealSenseCustomerSupport commented on #4086
----------------------------------------------

@SirDifferential Could you please check if the latest firmware 5.11.6.250 have the issue or not? Thanks!
https://downloadmirror.intel.com/28870/eng/D400_Series_Production_FW_5_11_6_250.zip

[2019-06-25 06:31] itachi134999 commented on #4085
Yeah this issue is solved. Thanks

[2019-06-25 06:33] itachi134999 commented on #4212
Can anyone tell me what is the problem here, why callback is not working at the time of USB connection or disconnection.

Is the problem in the code ?

[2019-06-25 06:48] RealSenseCustomerSupport commented on #4096
----------------------------------------------

@gowooyan Sorry for late reply! Did you still get the issue now?  And is the camera working well with other samples?

[2019-06-25 06:53] omarfakhr commented on #4059
I am on vacation right now. Can I check it when I come back?

Thanks a lot
Omar Fakhr

Sent from my mobile device

[2019-06-25 07:05] malith1992 commented on #2586
I try to build the pyrealsense2 from source. But I can't understand what the following step mean
"Alternatively, copy the build output (librealsense2.so and pyrealsense2.so) next to your script." . I just copied the two files in to usr/local/lib but I think that is not what it want me to do.

I get the "No module named 'pyrealsense2' error when I try to import pyrealsense2 in my python code.

[2019-06-25 07:14] mickeyouyou opened #4285 "T265 No device connected, please connect a RealSense device"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | T265 |
| Firmware Version                   | (Open RealSense Viewer --> Click info) |
| Operating System & Version |   Linux (Ubuntu 18)   |
| Kernel Version (Linux Only)

[2019-06-25 07:39] malith1992 commented on #4188
What is the python script folder location you copied those files

[2019-06-25 08:23] pinumber22by7 opened #4286 "Wavy Point Cloud Issue"
I am using D435i for getting a pointcloud but I am getting a Wavy(wave type) pattern on the pointcloud and my application(use of the camera) requires detection of a discontinuity which i am unable to get.
any help is appreciated

[2019-06-25 08:59] tmichals commented on #4284
Yes I have seen the same issue as mickeyouyou .  Below the lsusb shows Bus 001 Device 007: ID 03e7:2150 is connected.

lcs@lcs:~$ lsusb
Bus 002 Device 004: ID 2109:8110 VIA Labs, Inc. Hub
Bus 002 Device 003: ID 2109:8110 VIA Labs, Inc. Hub
Bus 002 Device 002: ID 0bda:0411 Realtek Semiconductor Corp.
Bus 002 Device 001: ID 1d6b:0003 Linux Foundation 3.0 root hub
Bus 001 Device 007: ID 03e7:2150
Bus

[2019-06-25 09:08] ClementDardenne commented on #4278
Hi again,

I finally fix most of the linking errors by adding OpenGL32.Lib and GlU32.Lib in addition to glfw3.lib in VS2017.

I have a last linking error :

`error LNK2019: unresolved external symbol GUID_DEVINTERFACE_USB_DEVICE referenced in function "bool __cdecl librealsense::platform::get_usb_descriptors(unsigned short,unsigned short,class std::basic_string<char,struct std::char_traits<char>,c

[2019-06-25 09:40] nevynwong commented on #3590
Hi vik-timmersion ,
I have a similar problem. I want to save the aligned color and depth frames. I don't know how to do it. Can you help me? Thanks.

[2019-06-25 11:27] mickeyouyou commented on #3434
sorry  still No device connected in fireware 2.21

[2019-06-25 11:49] dorodnic commented on #4286
This type of noise is inherent to D400 technology, but it can be exaggerated by bad calibration, and improved by following [this white-paper](https://dev.intelrealsense.com/docs/tuning-depth-cameras-for-best-performance)

[2019-06-25 12:06] ParadoxRobotics commented on #4282
I am currently searching for an embedded SLAM approach for a forest robot (inspection task) using low computer ressource (Jetson nano or the new RPI4).
I hesitate with a classical approach using a SLAM algorithm (orb-slam or other) on a normal computer or a low-power approach using the T265.
The travel distance is approximately 900m on a forest track.
I assume the current implementation of the T26

[2019-06-25 12:12] orshefi commented on #4261
@dorodnic now I understand the complexity involved with the right solution, it is very complicated and demands a deep understanding of the different libraries.

The other solution you suggested seems reasonable so before working my way through it I'd like to clarify some things I may not fully understand:

The way I understood the flow (device_hub, pipeline, sensors, etc..) eventually it all comes

[2019-06-25 12:19] JimmyFroost opened #4288 "Kidnapped T265"
|---------------------------------|------------------------------------------- |
| Camera Model                       | T265 |
| Operating System & Version | Windows 10  |                                |
| Platform                                 | PC   |
| Language                            |  **Matlab**                    |

Hi

After experimenting T265 for a few months now, I've witnessed the

[2019-06-25 12:29] dorodnic commented on #4284
We need to check and update this thread, hopefully within couple of days. As it stands Nano is not part of our official test matrix, but we understand the importance of the platform.

[2019-06-25 12:35] dorodnic commented on #4261
As far as I understand, yes, libusb_ref_device is the one that locks, but I'm not expert in this specific API (@matkatz ?)
The problem with locking in TrackingDevice ctor is that the TrackingManager will still preemptively create such devices regardless if they are needed or not. This is why I was thinking to keep Manager's map, but instead of it mapping TrackingDevice* for it to map some other ob

[2019-06-25 12:46] ev-mp commented on #4285
@mickeyouyou , T265 build requires internet connection for firmware download, and in absence of it the T265 device compilation is skipped. This event is reported to the CMake's log but often overlooked.
For the HW part -  can you share `lsusb` output  ?

[2019-06-25 12:51] ev-mp commented on #4283
@etharooni hello,
T265 device appears in the HW log:

So hw-related issue can be safely ruled out.

Please check the following:
- Internet access during compilation is required for T265 support (see #4285)
- Librealsense's `udev-rules` are properly [applied](https://github.com/IntelRealSense/librealsense/blob/master/doc/installation.md#prerequisites):

[2019-06-25 13:14] mickeyouyou commented on #4285
[code]

[2019-06-25 13:47] mrchrisjoy commented on #2893
@jessefulton Have you managed to get the realsense working as a camera source on Mac?

I'm trying to build a browser application that uses the realsense, using chrome's Media Capture Depth Stream Extensions, but having trouble enumerating frames from the realsense on Mac (Mojave). It works perfectly fine on windows.

[2019-06-25 13:56] ev-mp commented on #4285
The device appears in the list:

So the issue is probably with the compilation without internet access- please review the CMake log for TM2 event.
Make sure that you have internet access and rebuild librealsense. Proxy might be required for corporate networks. You can also share the logs for review

[2019-06-25 14:52] MCSuperior opened #4289 "Depth image is too dark when using OpenCV"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D435 |
| Firmware Version                   | 05.11.01.00 |
| Operating System & Version |   Ubuntu 16.04  |
| Kernel Version (Linux Only)    |  4.15.0-52-generic

[2019-06-25 15:33] dorodnic commented on #4289
Well raw depth data is not really intended to be looked at. We provide `rs2::colorizer` class used in all examples that convert depth frame to synthetic RGB visualisation

[2019-06-25 15:52] gdiiorio opened #4290 "Howto get an copy of DepthStream"
* Before opening a new issue, we wanted to provide you with some useful suggestions (Click "Preview" above for a better view):

    * Consider checking out SDK [examples](https://github.com/IntelRealSense/librealsense/tree/master/examples#sample-code-for-intel-realsense-cameras).
    * Have you looked in our [documentations](https://github.com/IntelRealSense/librealsense/tree/master/doc#useful-lin

[2019-06-25 16:05] manouj commented on #3351
@Dealerpriest
Hi, I am trying to get a software synchronized recording from multiple RS cameras. Can you please explain where/in which script you called the RecordDevice.Pause() and RecordDevice.Resume() functions.
Were you able to achieve synchronized recording and playback in this way?

Thanks,
Manouj

[2019-06-25 16:06] cga-cmu commented on #4158
This code seems to work. I removed the OpenCV display stuff.

`int main(int argc, char * argv[]) try
{
  int i = 0;
  rs2:context ctx;
  int n_cameras;
  rs2::pipeline pipelines[MAX_N_CAMERAS];
  int loop_count = 0;
  int frame_counts[MAX_N_CAMERAS];

  // Create librealsense context for managing devices
  auto list = ctx.query_devices();
  n_cameras = list.size();
  if ( n_cameras == 0 )
    thro

[2019-06-25 16:08] GucciPrada commented on #4091
Sorry for this late report!

I've tried the librealsense-dev 2.23.0.13, ran `capture` on Huawei P20 for 640x480@30fps RGBD.
Before restarting the phone, I got the same result as before: the app cannot receive any frame correctly.
<details>
<summary> log before Huawei P20 restarted</summary>

[code]
</details>

** After rebooting the phone, ** I got a different result:
   The color stream was strea

[2019-06-25 16:15] etharooni commented on #4283
@ev-mp
I just re-ran the scripts and it appears to have the same symptoms.

I have also had internet access during the entire compilation process - is there a way to check to see if T265 support has been compiled?

[2019-06-25 17:15] mbechard commented on #4233
@felipeccc What did you need to change to fix the crash? I'm also seeing the same crash even though the frame I'm getting is directly out of a rs2::frameset

[2019-06-25 17:16] mbampi commented on #4201
Thank you very much @ogoshen  👍

[2019-06-25 17:16] #4201 closed

[2019-06-25 17:21] ev-mp commented on #4283
@etharooni , during CMake configuration make sure to request T265 module to be built-in:

Then follow the CMake log for TM2-related messages - you should see report whether internet connection was established and the module was properly configured

[2019-06-25 17:29] cga-cmu commented on #4158
Correction: above code sometimes gets error, but less than rs-multicam demo code.

cga@nuc0:~/opencv-rs2$ ./multi-all
n_cameras: 4
827112072509
827312071410
752112070756
827312071794
RealSense error calling rs2_pipeline_start_with_config(pipe:0x5556d6994c80, config:0x5556d698d8a0):
    hwmon command 0x10 failed. Error type:  (1).

cga@nuc0:~/opencv-rs2$ ./multi-all
n_cameras: 4
827112072509
827312

[2019-06-25 17:57] etharooni commented on #4283
Interesting.

`-- Checking internet connection...
-- Failed to identify Internet connection, disabling BUILD_WITH_TM2`

I changed the timeout in the connectivity check by changing the line
`file(DOWNLOAD "http://realsense-hw-public.s3-eu-west-1.amazonaws.com/Releases/connectivity_check" "${CMAKE_CURRENT_SOURCE_DIR}/connectivity_check" SHOW_PROGRESS TIMEOUT 5 STATUS status)`
in file CMake/tm2_conne

[2019-06-25 18:02] #4068 closed

[2019-06-25 18:02] #4084 closed

[2019-06-25 18:11] kroq-gar78 commented on #4158
Here I create a `rs2::syncer` object to synchronize all sensors across all cameras. If you wanted to emulate the original `rs-multicam`'s use of `pipeline` objects, you could create a `syncer` for each _camera_, and put those into a `vector<syncer>` instead of `vector<pipeline>`.

[code]

[2019-06-25 19:28] NickolasCavagnaro opened #4291 "ExportToPly Gives Incoherent/Garbled Images"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D435 |
| Firmware Version                   | 05.11.04.00 |
| Operating System & Version | Linux (Ubuntu 16) |
| Kernel Version (Linux Only)    | 4.15.0-51-generic |
| Platf

[2019-06-25 19:44] radfordi commented on #4282
You are correct that we have mostly tested indoors, but we have tested on drones and driven in cars outdoors.  Maybe forests will work? 🤷‍♂  We'd love to hear if they do!

[2019-06-25 21:10] RealSenseCustomerSupport commented on #3616
----------------------------------------------

We are still investigating this issue. An internal ticket has also been filed accordingly for further support.

[2019-06-25 21:44] patrickpoirier51 opened #4292 "Impossible to access Realsense forum"
Sorry to request support here, but it seems that there is no way to access forum ....

My old profile was deleted, so I created a new one , but once I sign in, and try to access forum, it is redirecting to
https://sfederation.intel.com/affwebservices/public/saml2sso?SPID=https://saml.salesforce.com.isvc.forums&ProtocolBinding=urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST&RelayState=%2Fs%2F

and e

[2019-06-25 21:56] ArtlyStyles commented on #4288
how fast was the cart moving?

[2019-06-25 22:38] RealSenseCustomerSupport commented on #4134
----------------------------------------------

For TX2, the installation instruction from Jetsonhacks is quite up-to-date.
https://www.jetsonhacks.com/2018/07/10/librealsense-update-nvidia-jetson-tx-dev-kits/
Additionally, here is the most recent releases for the libRealSense that can be installed:
https://github.com/IntelRealSense/librealsense/releases
https://github.com/jetsonhacks/buildLibreal

[2019-06-25 23:54] silvermind20 opened #4293 "Wrapper examples compatibility with opencv 4"
What is the best way to make the wrapper examples compatible with opencv 4.0. I have read all the related issues and currently I do not want to install / use opencv older versions.

[2019-06-26 01:54] RealSenseCustomerSupport commented on #3800
----------------------------------------------

Hi @kevindehecker,
Were you able to overcome this by referencing to the following issue?
https://github.com/IntelRealSense/librealsense/issues/4054#issuecomment-495141217

[2019-06-26 03:35] yx0123 commented on #4270
You have to do manual installation for the TX2 following the instructions [here](https://github.com/IntelRealSense/librealsense/blob/master/doc/installation.md)

[2019-06-26 03:46] RealSenseCustomerSupport commented on #4056
----------------------------------------------

@frankfalse Could you please feedback your kernel version as ev-mp requested? Thanks!

[2019-06-26 04:06] RealSenseCustomerSupport commented on #3894
----------------------------------------------

@Resays Glad to know this resolved. Not sure if you have noticed our official site https://www.intelrealsense.com/  Please check there to see if you can find what you want. And if still can't get answer, please feel free to open tickets here. Thanks!

[2019-06-26 04:08] RealSenseCustomerSupport commented on #4095
----------------------------------------------

@redM0nk Any update from your side with the suggestion of ev-mp? Looking forward to your update. Thanks!

[2019-06-26 04:10] RealSenseCustomerSupport commented on #4112
----------------------------------------------

@ljy345115678 Did you try SDK tool RealSenseViewer on your setup to see if still get this issue?

[2019-06-26 04:14] RealSenseCustomerSupport commented on #4141
----------------------------------------------

@aburbanol Could you please provide the output of "lsusb |grep 8086" when you get the issue? And what example did you run when get the issue?

[2019-06-26 04:22] buctfy commented on #4266
Up Squared can install win 10,and I have got the object coordinates with opencv ,realsense D435 ,vs15 in windows 10.Now I plan to remove the code to Up Squared ,and hope realsense D435  to work without laptop.(Turn on the  Up Squared 's switch,realsense get object coordinates automatically).I don't know how to do.Can you give me some advise？

[2019-06-26 05:27] RealSenseCustomerSupport commented on #4136
----------------------------------------------

@jinxzzz For RealSense Viewer, did you get it by installing Win7 SDK? Or you build it by yourself? If you build it by yourself, please make sure you build Release version instead of Debug version. Release build will get lower CPU compared with Debug build.

[2019-06-26 05:57] MartyG-RealSense commented on #4266
I would think that the most straightforward way to do it would be to set Windows 10 on the Up Squared to automatically start your program on boot-up so that when it completes power-up, it launches your program and captures the coordinates with the camera.

Information about adding an application to Windows 10's start-up launcher can be found in the link below.

https://support.microsoft.com/en-gb/

[2019-06-26 05:57] RealSenseCustomerSupport commented on #4059
----------------------------------------------

@omarfakhr No problem. Enjoy your vacation! Let's check it later.

[2019-06-26 06:02] MartyG-RealSense commented on #4292
The Intel Support forums are still available, and their front page can be accessed here:

https://forums.intel.com/s/

The RealSense forum though has moved to a new site at the link below.

https://support.intelrealsense.com/hc/en-us/community/topics

[2019-06-26 06:05] #4085 closed

[2019-06-26 06:11] itachi134999 opened #4294 "Pattern for serial_number for intel real sense D415"
Hi,

I am using serial_number of camera as a unique camera id. I wanted to check if camera id passed is invalid id or not. Do Intel real sense have any regular expression for serial_number so that we can quickly check if the id format is correct or its an invalid id.

[2019-06-26 06:39] rijo11811 commented on #4188
the issue is resolved. Lot of small mistakes from my end. The main issues was that link I created for the pyrealsense2 so was broken. It is working fine now.

[2019-06-26 06:39] #4188 closed

[2019-06-26 07:06] JimmyFroost commented on #4288
I was walking and pushing the cart quite slowly, slower than a usual walking speed.
I don't need to go fast for the project I'm working on, I'd rather say the slower the better

[2019-06-26 07:26] buctfy commented on #4266
you mean I need to  install win10,opencv and vs15 in upboard  and set  exe automatically start.I can get object coordinates without laptop.

[2019-06-26 07:50] maxwu8416 commented on #949
hi~so is there anybody already solved this problem !?
i also have this problem and stop right here around a week....
hope someone can share your solution...

[2019-06-26 07:53] felipeccc commented on #4233
@mbechard I don't know if it will be of much help, but I am using a home made library (that uses realsense2) and the problem was solved when I built it in the Release Mode instead of Debug.
And even though it crashed in a realsense function, I still don't know the source of the problem.

[2019-06-26 07:58] patrickpoirier51 commented on #4292
Thanks Marty for your reply.
I can access forum.intel.com , but if I want to add content
or ask questions I need to sign-in and once I am logged in
there is no way to access forum, I keep being redirected as described above

[2019-06-26 08:02] jerryt3204 opened #4295 "Unable to use D435 on ROS with Jetson TX2"
Did anyone try to use D435 on ROS with Jetson TX2 (Jetpack3.3) ?
I followed Jetsonhack's steps:
https://github.com/jetsonhacks/installRealSense2ROSTX
but there is an error:
E: Unable to locate package ros-kinetic-librealsense2

Before i did the step above, i've done these steps:
Installed librealsense2, reference:
https://github.com/jetsonhacks/buildLibrealsense2TX
Installed ROS-kinetic, reference

[2019-06-26 08:06] maxwu8416 commented on #1756
hi~so is there anybody already solved this problem !?
i also have this problem and stop right here around a week....
hope someone can share your solution...

[2019-06-26 08:09] maxwu8416 commented on #1756
hi~so is there anybody already solved this problem !?
i also have this problem and stop right here around a week....
hope someone can share your solution...

[2019-06-26 08:28] maxwu8416 commented on #539
hi~so is there anybody already solved this problem !?
i also have this problem and stop right here around a week....
hope someone can share your solution...

[2019-06-26 08:45] kevindehecker commented on #3800
Nope, that did not work for me. I needed that system to work, so I ended up reinstalling the system with Ubuntu 18.04.01...

I still have my own laptop which I don't like to reinstall with the 4.18 headers. I'm not going to downgrade that to 4.15. Could you check when the 4.18 headers will be supported?

[2019-06-26 08:56] #4141 closed

[2019-06-26 09:17] MartyG-RealSense commented on #4292
Once you have signed in and get redirected, please try getting back to the RealSense forum front page with this link:

https://forums.intel.com/s/topic/0TO0P00000018NTWAY/intel-realsense-technology

[2019-06-26 09:33] HIAI2019 opened #4296 "hole filling filters don't work"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D435  |
| Firmware Version                   | (Open RealSense Viewer --> Click info) |
| Operating System & Version |   Win (10) |
| Platform

[2019-06-26 09:36] MartyG-RealSense commented on #4266
If you install windows 10 on an Up Board then it should boot like a Windows desktop PC, and allow you to set your program to start automatically.

You should also install on the Up Board any software that your application relies upon to work, such as OpenCV.

[2019-06-26 09:41] SirDifferential commented on #4086
The new firmware appears to work on the same 6 realsenses. Thank you for the continued updates.

[2019-06-26 09:41] #4086 closed

[2019-06-26 10:04] patrickpoirier51 commented on #4292
Well.... we are getting from bad to worse !!
Cannot sign in now,  the site is not responding .... HTTP ERROR 502

[2019-06-26 10:16] MartyG-RealSense commented on #4292
With login problems on the Intel Support site, the Intel IT admins recommend trying clearing your browser cache.

[2019-06-26 10:19] menandro opened #4297 "Multicamera IMU data mix up"
* Before opening a new issue, we wanted to provide you with some useful suggestions (Click "Preview" above for a better view):

    * Consider checking out SDK [examples](https://github.com/IntelRealSense/librealsense/tree/master/examples#sample-code-for-intel-realsense-cameras).
    * Have you looked in our [documentations](https://github.com/IntelRealSense/librealsense/tree/master/doc#useful-lin

[2019-06-26 10:26] patrickpoirier51 commented on #4292
Well, finally I could post here:
https://support.intelrealsense.com/hc/en-us/community/posts/360033190853-Autonomous-Flying-using-the-RealSense-T265-Tracking-Camera-in-GPS-Denied-Environment

Feel free to reference on the "old" forum, as we cannot get access ;-)

[2019-06-26 10:27] menandro2015git commented on #4296
I think you shouldn't apply the colorizer before you do the filtering.

[2019-06-26 10:42] MartyG-RealSense commented on #4292
Thanks so much for posting about Thien's excellent drone work!

[2019-06-26 11:10] ClementDardenne commented on #4278
Finally, I find a solution by changing :

[code]

by

`DEFINE_GUID(GUID_DEVINTERFACE_USB_DEVICE, 0xA5DCBF10L, 0x6530, 0x11D2, 0x90, 0x1F, 0x00, 0xC0, 0x4F, 0xB9, 0x51, 0xED);`

in win-helpers.cpp

[2019-06-26 11:10] #4278 closed

[2019-06-26 12:42] seath49 commented on #539
Hi, it's been a long time, not sure if I recollect this correctly ...
the issue was with the carrier board of TX2, not supporting usb3.
The manufacturer confessed at the end.
I'll try to reach out to my colleague who suffered this just recently.

[2019-06-26 13:01] alexcherpi commented on #3964
Hi @MartyG-RealSense
You said that we could use standard algorithm such as in (https://arxiv.org/pdf/1809.06132.pdf) to reconstruct the depth map from the right&left images.
But to my knowledge the T265 has a IR projector which projects a dot pattern both left & right cameras can see. I'm afraid that given all these dots in the image standard depth-from-stereo algorithm would lead to errors during

[2019-06-26 13:05] maxwu8416 commented on #539
@seath49  thamk you!!
 i really appreciated that your reply, and also bothering you to reach out your colleague, if there has any new information please let me know !
Thanks again, Expect your update

[2019-06-26 13:13] MCSuperior commented on #4289
Thank you for the answer, that explains why this did not work.
Eventually, I am only interested in obtaining the actual (and most importantly correct) depth at a specified pixel coordinate and I thought that fetching the pixel value in a depth image would work. How do I do it then?

[2019-06-26 13:27] MartyG-RealSense commented on #3964
Since that PDF was quoted, an example program for getting depth from the T265's left and right fisheye cameras has been added to the SDK.   It isn't as good as the depth on a dedicated depth camera such as the D415 or D435 but certainly better than nothing.

https://github.com/IntelRealSense/librealsense/blob/master/wrappers/python/examples/t265_stereo.py

As far a I know, the T265 does not have a

[2019-06-26 14:41] JimmyFroost commented on #4263
Hi,

I am looking forward to answers and solutions regarding this issue as well, especially the save/load relocalization map to avoid bad trajectory.
I use Matlab wrapper, I hope it will also get some useful info and examples.

Thanks.

[2019-06-26 14:41] JimmyFroost commented on #3709
Hi,

Any update available on this matter ?

[2019-06-26 14:42] Furane commented on #3686
I have the same problem. I can't get metadata from realsense (specially timestamp) using an odroid xu4.
I already installed the patch from freemanlo, did not work. I also checked ON the option ENFORCE_METADATA in cmake and I got no result.
Did you find a solution?

[2019-06-26 14:52] alexcherpi commented on #3964
So you mean than the T265 can provide depth map on textureless surface without an IR projector whereas the D453 needs an IR projector?

[2019-06-26 15:00] MartyG-RealSense commented on #3964
The D-models can operate without the dot pattern, using ambient light such as sunlight as the means to analyze depth information.   Dot projection is just a useful feature to have in environments where ambient light is not strong.  Unlike most depth cameras, the 400 Series actually performs better in strong sunlight.

[2019-06-26 15:04] agrunnet commented on #3964
There are no plans to compute depth inside the T265. And you are correct, that on truly textureless surfaces it is not possible to generate good depth without a projector.

[2019-06-26 15:58] JimmyFroost opened #4300 "T265 Localization map in Matlab"
| Camera Model | D415 + T265 |
| Firmware Version | (05.11.01.100) / (0.0.18.5502) |
| OS | Win ( 10) |
| Platform | PC |
| SDK Version | { 2.2} |
| Language |Matlab 2019a |

------------

Hi ,

I've been reading issues about saving localization maps, and testing it a bit in RealSense Viewer 2.21.0 :

![image](https://user-images.githubusercontent.com/50022505/60195516-80a06b00-983b-11e9-9bff-4bec

[2019-06-26 16:25] etharooni commented on #4283
Success!  Suggestion: maybe timeout should be longer.

[2019-06-26 16:25] #4283 closed

[2019-06-26 16:53] ParadoxRobotics commented on #4282
I hope other people will also try the T265 in large / long scale condition ^^

[2019-06-27 01:55] vusdo opened #4305 "Horizontal object distance problem."
----------------------------------------------------------------------------------------------------
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | { D415 } |
| Firmware Version                   | 05.11.06.200 |
| Opera

[2019-06-27 03:49] nevynwong opened #4306 "How do I save all the aligned color and depth frames in a.bag file?"
| Camera Model                       |D415|
| Operating System & Version | Win 10 |
| Platform                                 | PC |
| Language                            |MATLAB |

I've recorded a.bag file and aligned the depth and color, but how do I save all the aligned frames?Because I need to align the color image sequence and the depth sequence or point cloud.
My alignment code looks like t

[2019-06-27 04:13] RealSenseCustomerSupport commented on #3966
----------------------------------------------

@thanujadax If no other questions for this ticket, close this accordingly. Thanks!

[2019-06-27 04:20] RealSenseCustomerSupport commented on #4053
----------------------------------------------

@brolinA Got your point! Will feedback this request to our Engineering team. Any update will let you know. Thanks!

[2019-06-27 04:22] brolinA commented on #4053
Thank you. Please do it ASAP

[2019-06-27 05:02] #3966 closed

[2019-06-27 05:02] #3745 closed

[2019-06-27 05:17] malith1992 opened #4307 "get_fisheye_frame(1).as_video_frame() fuction don't give any output in T265"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | T265 |
| Operating System & Version |   Ubuntu 18 .04                                      |
| Platform                                 | Jetson nano

[2019-06-27 06:50] ronzeman99 opened #4308 "Require T265 calibration for underwater use"
----------------------------------------------------------------------------------------------------

| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | { T265 } |
| Firmware Version                   | (v2.23.0) |
| Operati

[2019-06-27 07:28] gdiiorio commented on #4253
thanks

[2019-06-27 07:28] #4253 closed

[2019-06-27 07:55] dorodnic commented on #4305
Could you please share IR / RGB images as well?

[2019-06-27 08:30] jb455 commented on #4306
If you save the frames normally, you can then align them when you play them back later.

[2019-06-27 08:43] wenxyong opened #4311 "Why the D435i can not work in MFC application?"
* Before opening a new issue, we wanted to provide you with some useful suggestions (Click "Preview" above for a better view):

    * Consider checking out SDK [examples](https://github.com/IntelRealSense/librealsense/tree/master/examples#sample-code-for-intel-realsense-cameras).
    * Have you looked in our [documentations](https://github.com/IntelRealSense/librealsense/tree/master/doc#useful-lin

[2019-06-27 09:12] JimmyFroost commented on #4288
Another day, some other tests, some other kidnapping events !

Let me add this question :
How come the confidence value is still 3 (ie high) when the camera loses its way ? Is there no indicator that allows to understand:

- camera imu is getting "moving state" value
- camera fisheyes see that new elements are coming in display, aka camera is moving

and yet the trajectory is still or speed is alm

[2019-06-27 09:16] vusdo commented on #4305
In RGB, the object is not displayed on the screen because the angle of view is small.

[2019-06-27 09:29] nevynwong commented on #4306
I don't quite understand this. Could you tell me how to do it specifically?Thanks.

[2019-06-27 09:33] AntoineWefit commented on #4296
@buctfy you should take a look at the [rs-measure example](https://github.com/IntelRealSense/librealsense/blob/master/examples/measure/rs-measure.cpp), it might help you.

[2019-06-27 09:39] jb455 commented on #4306
I don't know specifically how you do it using the matlab wrapper, but the basic process would be: save the colour and depth frames in the bag file (no need to do alignment at this stage unless you need it for something else while recording), then when playing back align the frames as required. The code you've posted looks reasonable for this purpose (the second part), unless matlab needs anything

[2019-06-27 09:58] nevynwong commented on #4306
The above code aligns depth to color from .bag file,  but I don't know how to extract the aligned color and depth sequence. Coulc the aligned color and depth frames be saved in a.bag and then extract them?But that doesn't seem right.

[2019-06-27 10:10] jian-chai commented on #1858
HI

Hi Yann,
how did you work around this issue?

[2019-06-27 13:45] grigala opened #4315 "Pointcloud: comparing deprojected points vs points.get_vertices()"
----------------------------------------------------------------------------------------------------

| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D415  |
| Firmware Version                   | 05.11.01.100 |
| Operati

[2019-06-27 13:50] kehanXue opened #4316 "On Jetson TX2: No RealSense devices were found! Use Realsense t265"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | { T265 } |
| Firmware Version                   | 0.0.18.5715 |
| Operating System & Version |  Linux (Ubuntu 16) |
| Kernel Version (Linux Only)    |  (4.4.38)

[2019-06-27 14:12] kehanXue commented on #4316
Oh I have just see the #4285. Let me have a try building with TM2.

[2019-06-27 14:39] #4289 closed

[2019-06-27 15:10] MCSuperior opened #4318 "Getting very big deviation when using deprojection in D435"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D435 |
| Firmware Version                   | 05.11.01.00 |
| Operating System & Version |   Ubuntu 16.04  |
| Kernel Version (Linux Only)    |  4.15.0-52-generic

[2019-06-27 16:52] dorodnic commented on #4306
Bag file records raw data from the camera. Using this data, you can perform alignment when you need aligned frames back.

[2019-06-27 16:54] dorodnic commented on #4305
I'm not sure I understand. Is the color-scale on the right not accurately depicts object distances? Or are the distances from get_distance wrong?

[2019-06-27 16:58] dorodnic commented on #4315
Hi @grigala
Please note that you are using `depth_intrinsics` but taking values from `aligned_depth_frame`. These two viewports are not identical, hence the discrepancy. If you skip `align` step, or change the code to use aligned intrinsics you should get the right results.

[2019-06-27 17:06] vusdo commented on #4305
The actual measurement result is that the middle object is the closest, and the object should be farther away on the oblique side.  However, get_distance results in very similar values.

[2019-06-27 17:22] atyshka opened #4319 "Unable to use 60 fps, Realsense D435"
|---------------------------------|------------------------------------------- |
| Camera Model                       | D435 |
| Firmware Version                   | 05.11.06.250 |
| Operating System & Version |  Ubuntu 18.04 |
| Kernel Version (Linux Only)    |  4.18.0-24-generic                                         |
| Platform                                 | PC |
| SDK Version

[2019-06-27 17:28] dorodnic commented on #4319
Maybe it is due to auto-exposure? There is an option call auto-exposure priority-mode that will prevent FPS reduction in low light settings.

[2019-06-27 17:48] atyshka commented on #4319
That seems to solve my problem... but while trying to solve it myself i found another problem: the uvc module isn't correct. I installed librealsense2-dkms, rebooted, but running `modinfo uvcvideo | grep version` prints out `version:        1.1.1` which isn't correct. Any ideas why this is happening?

[2019-06-27 19:10] m1halo opened #4320 "Data hole on surface reflecting light"
----------------------------------------------------------------------------------------------------

| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D435 |
| Firmware Version                   |  5.11.6.250 |
| Operating

[2019-06-27 20:37] RealSenseCustomerSupport commented on #4079
----------------------------------------------

As the whitepaper mentioned "Because of the inverse relationship between disparity and depth, MaxZ will decrease much faster than minZ as the disparity shift is increased."
The disparity shift method decreases the minZ, but it sacrifices the maxZ.

[2019-06-27 20:42] RealSenseCustomerSupport commented on #3829
----------------------------------------------

I am just wondering if there's any update/potential fix that you might have discovered to workaround the issue?
Thank you.

[2019-06-27 20:48] RealSenseCustomerSupport commented on #3961
----------------------------------------------

Closing this issue for now. Please feel free to reopen if issue is still relevant. Thank you.

[2019-06-27 21:03] #3961 closed

[2019-06-27 21:18] grigala commented on #4315
Hi @dorodnic,

Thanks very much for your suggestion, sounds like that could indeed be the problem. I'm gonna give it a try tomorrow.

Are those two approaches you suggested identical? Ignoring `align` process is easy but that might cause additional problems down the road - how do I get aligned intrinsics?

[2019-06-27 21:25] RealSenseCustomerSupport commented on #3800
----------------------------------------------

Hi @kevindehecker,
Thanks to @ev-mp has the PR for 4.18 kernel.
https://github.com/IntelRealSense/librealsense/pull/4265

[2019-06-28 01:29] buctfy commented on #4266
Thanks a lot

[2019-06-28 01:29] #4266 closed

[2019-06-28 01:36] nevynwong commented on #4306
Yes, I now need to align the data recorded in the.bag file, but how to extract the aligned color and depth sequences is difficult for me.

[2019-06-28 01:45] RealSenseCustomerSupport commented on #4177
----------------------------------------------

@TianhangTang This seems to be the known issue which will be fixed by later firmware version. Currently please recover it by below procedure.

- Use DFU tool to roll back firmware to previous firmware ( in you case it should be v5.10.3)
- DO NOT disconnect USB3 cable right after firmware update finishes - just leave it there for ~20 seconds
- After t

[2019-06-28 02:04] #3530 closed

[2019-06-28 02:04] #3701 closed

[2019-06-28 02:04] radfordi commented on #3516
We are working on a PR, #4321, to disable pose jumping and/or relocalization.

[2019-06-28 02:21] RealSenseCustomerSupport commented on #4147
----------------------------------------------

@EmmanuelCos Did you get chance to try as MartyG-RealSense suggested? If you want to go back to factory golden calibration data, you can also try "Intel.Realsense.CustomRW -g".

[2019-06-28 03:10] paulyang1990 opened #4322 "Different D435i IMU frame in different SDK version"
I have two ubuntu computer, one is 16.04 and the other is 18.04.

I used the same steps to setup realsesnse lib, ros wrapper and launch file. But I astonishingly found that the two computer gave IMU data in different frames.

On the 16.04 computer, IMU frame is aligned with camera frame. While on the 18.04 computer, IMU frame is different.

I guess the reason is that in SDK, code to read IMU data

[2019-06-28 03:52] kehanXue commented on #4316
Oh I have fixed it. Just building with TM2 and the t265 will work on Jetson tx2 well!

[2019-06-28 03:52] #4316 closed

[2019-06-28 05:26] menandro2015git commented on #4306
Your code seems correct. To save aligned_depth_frame, you need to extract the data. From depth_example.m:

`depth= aligned_depth_frame.get_data();`

[2019-06-28 05:46] MartyG-RealSense commented on #4320
An old trick for dealing with gaps in data caused by reflectivity is to use a fine spray-on powder such as foot powder or baby powder to dampen the reflection.  It is reputed that a project to scan a vehicle bodywork repair workshop sprayed the entire workshop in baby powder to remove the reflections of the metalwork.

There are also professional 3D scanning sprays that can do the same job of damp

[2019-06-28 06:22] dorodnic commented on #4322
No such mechanism in the SDK. Please check what versions of the SDK and the ROS wrapper are being used across the two devices.

[2019-06-28 06:26] dorodnic commented on #4320
In the image above I don't think the issue is reflectivity (strictly there is no reflection in the IR image), but rather IR over-saturation. You can try experimenting with different values of exposure and gain controls to fine tune the image to your use case.
In extreme case where you have brightly illuminated surfaces and really dark surfaces, it is impossible to find one value of sensor exposure

[2019-06-28 06:29] TianhangTang commented on #4177
@ev-mp Thank you for your reply, and sorry for not answering you these days because these devices do not belong to me, so I have to turn them back to company and have no chance to do the test. Anyway, they do work fine after I downgraded their firmware back to former version. Thanks again.

[2019-06-28 06:33] kevindehecker commented on #3800
Cool, thanks!

[2019-06-28 06:37] kevindehecker commented on #4116
I haven't had this problem anymore for a while, since I was upgraded to 2.23 and I upgraded the firmware to 05.11.06.250

[2019-06-28 06:38] TianhangTang commented on #4177
@RealSenseCustomerSupport Thank you for you answer and suggestions, these suggestions is helpful to me, looking forward to your later firmware version.

[2019-06-28 06:39] dorodnic commented on #4315
Almost identical, yes. Alignment will introduce small differences because aligned image is resampled from the original (so these are not exactly the same points).
Also, in previous versions of the SDK we did encounter bugs with these types of combined operations, but they should be solved by now and the expected behavior is for two methods to yield very similar results.

[2019-06-28 06:47] RealSenseCustomerSupport commented on #4081
----------------------------------------------

@themikem Did you get chance to try as ev-mp suggested to collect realsense-viewer logs with DEBUG level? And did you get any issue for depth?

[2019-06-28 06:54] malith1992 commented on #4250
How to display the fish eye camera view of T265 with pyrealsense2 in Jetson nano

[2019-06-28 06:58] RealSenseCustomerSupport commented on #4115
----------------------------------------------

@RZz96 What example did you try?

[2019-06-28 07:30] malith1992 opened #4323 "How to display the fish eye camera view of T265"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | T265 |
| Operating System & Version |  Ubuntu 18.04                                        |
| Platform                                 | NVIDIA Jetson nano  |
| SDK Version

[2019-06-28 11:56] patrickpoirier51 commented on #4292
Still pending approval, doesn't looks like an active and opened "community"  to me ... anyway, thanks for your help

[2019-06-28 12:36] MartyG-RealSense commented on #4292
I recently had a comment stuck in the approval filter for 12 days before I noticed, so the person I was responding to wouldn't have seen it.  I would recommend stripping out any links you had in the message and posting it again to see if that gets you past the filter.

[2019-06-28 14:21] kevindehecker commented on #4116
Never mind I do have this problem still. It was just circumvented in another way.

[2019-06-28 14:36] a17sans opened #4324 "Creating a 3D point cloud in python"
Hello everyone,

Is there a way to create a .PLY image only with python (without using RealSense Viewer) using only a camera and a rotating plateform ?

I would like to place an object on the plateform, film all the rotation and get a .ply image all with python code. Does anyone know if it is possible ?

Thanks a lot,

Alric

[2019-06-28 14:45] vhanded opened #4325 "What is the correct way to shut down?"
* Before opening a new issue, we wanted to provide you with some useful suggestions (Click "Preview" above for a better view):

    * Consider checking out SDK [examples](https://github.com/IntelRealSense/librealsense/tree/master/examples#sample-code-for-intel-realsense-cameras).
    * Have you looked in our [documentations](https://github.com/IntelRealSense/librealsense/tree/master/doc#useful-lin

[2019-06-28 14:57] bill-wright commented on #4324
Hi Alric,

This example should get you started in the right direction:

[https://github.com/IntelRealSense/librealsense/blob/master/wrappers/python/examples/export_ply_example.py](url)

[2019-06-28 15:14] a17sans commented on #4324
Brilliant thank you so much

[2019-06-28 15:16] nevynwong commented on #4306
It's just one frame. What I want to save is the whole video sequence images.

[2019-06-28 15:17] BenBergman opened #4326 "Errors compiling nodejs wrappers"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D435 |
| Firmware Version                   | 5.11.6.250 |
| Operating System & Version |  MacOS  |
| Kernel Version (Linux Only)    |  macOS v10.14.5

[2019-06-28 15:55] PaulKrush commented on #4308
Wow. Are the intrinsics different underwater? I would believe this. Have you done this and have calibration images to share?

[2019-06-28 15:59] PaulKrush commented on #4288
See issue #3516 and PR #4321

There are two different ways to look at this. Some people want the jump not to happen. I am like you and I want to pose history updated so the jump does not exist in the recorded path.

[2019-06-28 16:09] derens99 commented on #4158
So the workaround is to use syncer instead of pipelines? How does this affect affect a hardware sync/ hardware trigger? I often find myself needing to unplug and replug these devices in order to solve the startup crashes also.

[2019-06-28 16:49] xtrawurst commented on #4214
@RealSense-Customer-Engineering @dperox @matkatz

The Android part of librealsense often maps C pointers to Java `long`s to be used as handles. This is problematic when targeting 32-bit targets on Android (such as the still popular armeabi-v7a) as the pointer width (32 bit) doesn't match to the `long` width (64-Bit) and so handles may contain garbage in half of the `long`.

Attached is a patch fil

[2019-06-28 19:38] kroq-gar78 commented on #4158
It doesn't seem to affect hardware sync. `pipeline` uses `syncer` under the hood already I think, and HW sync is done by the cameras themselves (not in `librealsense`). See [this reply/thread](https://github.com/IntelRealSense/librealsense/issues/2637#issuecomment-434203140) for some details on how the sync exactly works. For the D435, inter-camera HW sync is done between depth sensors. In that sa

[2019-06-28 20:19] amashal opened #4328 "Driver not recognized Windows 7"
I am not able to install the Intel 435i drivers on Windows 7. I installed the latest SDK (2.23.0.909) multiple times but I have not been successful. Any suggestions?

Screenshot of my Device Manager:

![device manager](https://user-images.githubusercontent.com/8277951/60369085-883d4c80-99c0-11e9-8221-790c04a74720.PNG)

| | |
|---|---|
|**librealsense**|2.23.0 RELEASE|
|**OS**|Windows|

Please prov

[2019-06-28 21:32] radfordi commented on #4288
Yes, I think you'll want to disable jumping once #4321 gets merged and the firmware gets updated.

[2019-06-28 22:03] #4118 closed

[2019-06-29 06:01] nikhilkoditala commented on #4272
Hi @MartyG-RealSense
Thanks for sharing this info. I want to connect and sync around 8 D415 cameras. To transfer frames, I am thinking to use one raspberry pi 4 model to connect to 2 cameras via usb 3 and a ethernet hub to connect raspberry pi to central system. So, I will be having 4 raspberry pi's which connects 8 cameras to central system. Apart from this I will be using a sync cable to sync al

[2019-06-29 06:53] MartyG-RealSense commented on #4272
Your proposed setup sounds like the EtherSense project that was created by an Intel RealSense employee, with two cameras on each board instead of one.

https://github.com/krejov100/EtherSense

If the spec of the board is equal to or greater than the original-model Up Boards used in the EtherSense example (Pi 4 is superior) then it should be able to cope with 2 cameras on the same board.  Two D415

[2019-06-29 07:10] MartyG-RealSense commented on #4328
Someone else who had a driver detection problem when trying to install the camera on Windows 7 was given the advice in the link below.

https://github.com/IntelRealSense/librealsense/issues/2506#issuecomment-428653246

[2019-06-30 02:06] cychai1995 commented on #3229
sudo service systemd-udevd --full-restart

[2019-06-30 08:50] RealSenseCustomerSupport commented on #3935
----------------------------------------------

Hi @Ahad1993,

Any update? If no further support required, will close this.

[2019-06-30 11:10] orshefi opened #4331 "Issue with t265 usb device identification"
Hi guys,

I had looked further into the issue of Realsense T265 device sometimes need to be reconnected in order to be identified by the Realsense SDK.

After I sniffed around the code base I believed I arrived at the source of the issue:

I added the following print line in order to evaluate the reason for why the device isn't initialized despite it is connected:

[code]

The printed output was t

[2019-06-30 12:41] kevindehecker commented on #4116
Made some small progress. So it seems that if I change the order of things, I do not get this problem.

Problem appears when I do this:
[code]
But not so if I start the cam *after*! :

[code]

[2019-06-30 15:44] matkatz commented on #4216
We don't have a recommended device currently.

I can say that with version 2.24.0 (also on the development branch) I'm able to stream depth 1280x720 @ ~27-30 FPS together with 960x540 @ ~27-30 over Pixel2, S8 and FireFly RK3399.

On both the Pixel and the S8 I have encountered the "Out of memory" issue which I didn't see on the RK 3399.

You can try to check the performance of the latest version u

[2019-06-30 15:50] matkatz commented on #4091
Thanks @GucciPrada.
I don't have a solution for the "Out of memory" state yet.
Will update once I'll have some news regarding this issue.

[2019-06-30 19:06] maipbui commented on #4216
Sounds good. Thanks a lot for your answer.

[2019-06-30 19:07] #4216 closed

[2019-06-30 23:36] amashal commented on #4328
I did try that, but unfortunately it did not work.

[2019-07-01 01:27] GucciPrada commented on #4091
OK,  thanks!

[2019-07-01 01:49] terranas opened #4332 "D435i: memory usage increasing constantly"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D435I |
| Firmware Version                   | 05.11.01.100 |
| Operating System & Version | Win 10 |
| Platform                                 | PC |
| SDK Version

[2019-07-01 01:59] vhanded opened #4333 "Unable to set RS2_FORMAT_RGB8 to infrared."
* Before opening a new issue, we wanted to provide you with some useful suggestions (Click "Preview" above for a better view):

    * Consider checking out SDK [examples](https://github.com/IntelRealSense/librealsense/tree/master/examples#sample-code-for-intel-realsense-cameras).
    * Have you looked in our [documentations](https://github.com/IntelRealSense/librealsense/tree/master/doc#useful-lin

[2019-07-01 02:20] RealSenseCustomerSupport commented on #3568
----------------------------------------------

@TouchDeeper Sorry for the late response. Did you still have the issue now? Looking forward to your reply. Thanks!

[2019-07-01 02:31] nevynwong commented on #4306
@dorodnic, I now need to align the depth and color in the collected. Bag and then do something else.But it looks like I can't extract all the aligned frame sequences with the above processing, so what should I do?

[2019-07-01 03:04] RealSenseCustomerSupport commented on #4178
----------------------------------------------

@TianhangTang Considering the issue that only 640x480 resolution can be got by OpenCv, I think it should be OpenCv related. Here are two links for your reference. Please check to see if helps.
https://stackoverflow.com/questions/16390810/opencv-cant-set-resolution-of-video-capture
https://stackoverflow.com/questions/14287/increasing-camera-capture-re

[2019-07-01 04:22] menandro2015git commented on #4333
The index should be 1 or 2, not 0.

[2019-07-01 05:25] BritskNguyen opened #4334 "Intel realsense dying en masse"
My 2 D435 and 1 Z200 died without cause.

[2019-07-01 05:37] BritskNguyen commented on #4334
Dear everybody, I have had 3 realsense cameras bricked in a row (2 D435, 1 R200).

They are mounted on a drone, and it's usually ok for a few runs. But at a certain time, they just die, lsusb returns no device.

It may be some electrical interference here. I wonder if someone has experienced this kind of sensitivity and if you have any insights on how to overcome this? Or generally how sensitive a

[2019-07-01 05:57] Resays commented on #3286
That's the problem ... people want help, but they don't help others ...
I'm trying to get depth and xyz from raw file as well ...

[2019-07-01 06:07] TouchDeeper commented on #3568
I move the camera closer to the banana. The result became better. But I used the sr300 instead of d435 in the end.

[2019-07-01 06:07] #3568 closed

[2019-07-01 06:09] MartyG-RealSense commented on #4334
Are the cameras permanently disabled (as 'bricked' implies) or do they work again after being reset, please?

I cannot think of much that would permanently destroy a RealSense camera on such a predictable schedule.  An electro magnetic pulse (EMP) can knock out electronics, but surely the rest of the drone would be affected if that were the case.  A more probable cause would be if extreme vibratio

[2019-07-01 07:01] BritskNguyen commented on #4334
They cannot be detected when I plug them on other computers. No "intel corp" device shows up when using the command lsusb.

Vibration is not the issue since we haven't flown the drone, just some ground test.

If this helps, the camera is connected to a UP board's USB. We're down to the last realsense now.

[2019-07-01 07:05] RealSenseCustomerSupport commented on #4055
----------------------------------------------

@jinxzzz Any other question for this ticket? Looking forward to your update. Thanks!

[2019-07-01 07:06] RealSenseCustomerSupport commented on #4096
----------------------------------------------

@gowooyan Could you please update? Thanks!

[2019-07-01 07:09] RealSenseCustomerSupport commented on #4136
----------------------------------------------

@jinxzzz Could you please update? Thanks!

[2019-07-01 07:09] RealSenseCustomerSupport commented on #4112
----------------------------------------------

@ljy345115678 Could you please update? Thanks!

[2019-07-01 07:11] RealSenseCustomerSupport commented on #4095
----------------------------------------------

@redM0nk Any other questions about this ticket?

[2019-07-01 07:22] MartyG-RealSense commented on #4334
I have not heard of a case like this before.  If you are plugging the camera into an original Up Board with a USB OTG micro-port then I am aware that cameras may experience difficulties operating sometimes unless a mains-powered USB hub is used, because of the camera being provided with insufficient power otherwise (the newer and more powerful Up Squared board with full USB 3.0 port does not seem

[2019-07-01 07:31] JimmyFroost commented on #4288
Thank you @PaulKrush  & @radfordi , I remember seeing this #4321 indeed.

Hopefully we'll have it in an update soon !

[2019-07-01 07:48] RealSenseCustomerSupport commented on #3612
----------------------------------------------

@jlindgard @daniel-dennis @jonaslindgard  According to PR#4237 merged to v2.24, the issue will get improved with the PR.  Could you please have a try with v2.24 and share the result? Thanks!

[2019-07-01 07:52] RealSenseCustomerSupport commented on #4120
----------------------------------------------

@chankamlam Sorry for late response. Did you still have the issue? Looking forward to your update. Thanks!

[2019-07-01 08:01] ssomda21 opened #4335 "cmake error (python wrapper)"
* Before opening a new issue, we wanted to provide you with some useful suggestions (Click "Preview" above for a better view):

    * Consider checking out SDK [examples](https://github.com/IntelRealSense/librealsense/tree/master/examples#sample-code-for-intel-realsense-cameras).
    * Have you looked in our [documentations](https://github.com/IntelRealSense/librealsense/tree/master/doc#useful-lin

[2019-07-01 08:02] RealSenseCustomerSupport commented on #4065
----------------------------------------------

@jinxzzz  Sorry, current version there's no C# version of frame_to_mat. Welcome to contribute if you have any input about this. Thanks!

[2019-07-01 08:06] #3894 closed

[2019-07-01 08:07] eMrazSVK opened #4336 "Reconnection Issue with T265"
----------------------------------------------------------------------------------------------------

| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | T265 |
| Firmware Version                   | 0.0.18.5715 |
| Operating

[2019-07-01 08:16] RealSenseCustomerSupport commented on #4131
----------------------------------------------

@matspetter Yes. FW5.10.6 should fix the problem. Or else you can also upgrade FW to the latest v5.11.6.250 which can be got from https://downloadmirror.intel.com/28870/eng/D400_Series_Production_FW_5_11_6_250.zip
 DSOs are in our internal tracking system so they're not public.

[2019-07-01 08:30] RealSenseCustomerSupport commented on #3890
----------------------------------------------

@evercoast-smm Did you mean that the issue not seen with kernel 4.16 and 4.18? Do you also get such issue if you use less cameras?

[2019-07-01 08:45] MCSuperior commented on #4318
As it turned out, the intrinsics changed after the alignment process. Therefore, the data which was obtained before this step was incorrect. Using the color frame intrinsics instead solved this issue.

Concerning the distortion model, however, it should be pointed out that it still gives me the Brown-Conrady model although the coefficients indicate something else. That might be confusing.

[2019-07-01 08:45] #4318 closed

[2019-07-01 09:02] RealSenseCustomerSupport commented on #4044
----------------------------------------------

@scizors Align needs rs_transform_point_to_point but also need rs2_deproject_pixel_to_point and rs2_project_point_to_pixel
https://github.com/IntelRealSense/librealsense/blob/v2.24.0/src/proc/align.cpp#L35

[2019-07-01 09:05] orshefi commented on #4331
@ev-mp please share your thoughts

[2019-07-01 09:06] a17sans commented on #4324
I used this example, but I do not manage to record during a certain period of time.
I think this is what explains that I only get a few points on the .PLY and no object form.

Is there a way to record a video and generate a .PLY after that ?

Thank you for your help

[2019-07-01 09:06] sailfish009 opened #4337 "D415 depth image resolution"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D415  |
| Firmware Version                   | 05.11.01.100 |
| Operating System & Version |   Win 10  |
| Kernel Version (Linux Only)    |

[2019-07-01 09:43] a17sans opened #4338 "Update camera settings while capturing"
Hello everyone,

I used this example here : [wrappers/python/examples/python-rs400-advanced-mode-example.py](https://github.com/IntelRealSense/librealsense/tree/master/wrappers/python/examples/python-rs400-advanced-mode-example.py)
to edit de settings. It works fine to load the configuration at the beginning but I can't reload the configuration file after it even if I try to put the code in the ma

[2019-07-01 09:49] siheria-arrow opened #4339 "cccccchvbcfghknvgdhkngnkdfcedufvfbhbnnkuvgej"
* Before opening a new issue, we wanted to provide you with some useful suggestions (Click "Preview" above for a better view):

    * Consider checking out SDK [examples](https://github.com/IntelRealSense/librealsense/tree/master/examples#sample-code-for-intel-realsense-cameras).
    * Have you looked in our [documentations](https://github.com/IntelRealSense/librealsense/tree/master/doc#useful-lin

[2019-07-01 09:56] a17sans commented on #4338
Update : it works fine but the camera gets very very slow, I guess I'll find another way

[2019-07-01 09:56] #4338 closed

[2019-07-01 10:26] ev-mp commented on #4339
@siheria-arrow hello,
It seem though that only the lower rows of your keyboard keys are operational - please check and update

[2019-07-01 10:28] ev-mp commented on #4337
@sailfish009 hello,
This is often a result of [decimation post-processing filter](https://github.com/IntelRealSense/librealsense/blob/master/doc/post-processing-filters.md#decimation-filter) being turned on in the Viewer.  #3392, #3989

[2019-07-01 10:34] ev-mp commented on #4335
@ssomda21 hello,
Invoking CMake should always be done from [the SDK's topmost directory](https://github.com/IntelRealSense/librealsense/tree/master/wrappers/python#building-from-source). #4169
Please rerun and update

[2019-07-01 10:45] #4150 closed

[2019-07-01 10:45] #4139 closed

[2019-07-01 10:47] ev-mp commented on #4332
@terranas hello, thank you for the report.
Seem like a possible bug. We'll look into this

[2019-07-01 10:52] ev-mp commented on #4322
@paulyang1990 hello, please provide logs/screenshots with the different orientations reports

[2019-07-01 11:03] ev-mp commented on #4296
@buctfy hello, as already noted by @menandro2015git - the filters apply to depth frames only.
The result of `rs2::frame depth_frame = frames.get_depth_frame().apply_filter(c);` is a RGB frame with 16bit depth data mapped to RGB using JET color scheme with histogram equalization. Hence calling `hole-filling` has not effect.
Make sure to apply the `colorizer` after the other (e.g. `hole-filling`) fi

[2019-07-01 11:12] ljy345115678 commented on #4112
Yes, I tried. RealSenseViewer doesn't have this problem.

[2019-07-01 11:16] ev-mp commented on #4262
Closed as non-informative

[2019-07-01 11:16] #4262 closed

[2019-07-01 11:22] ev-mp commented on #4259
@ksze hello,
Please check that camera hardware is enabled in Windows'  `Camera Privacy Settings`
![image](https://user-images.githubusercontent.com/17897861/60432639-6c79b680-9c0b-11e9-8aa1-2a402a416d52.png) #3381, #2572

[2019-07-01 11:36] #4339 closed

[2019-07-01 13:40] aPonza opened #4341 ""Failed to identify Internet connection" but connection works"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       |  D435  |
| Firmware Version                   | 05.11.01.100 prior to failure|
| Operating System & Version | Ubuntu 16.04  |
| Kernel Version (Linux Only) | 4.8.15-rt10 PRE

[2019-07-01 14:51] filipematosinov opened #4342 "D435 drops connection on UP Board"
----------------------------------------------------------------------------------------------------

| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | {D435 } |
| Firmware Version                   | 5.11.4 |
| Operating S

[2019-07-01 14:58] atyshka opened #4343 "DKMS not correctly patching, Ubuntu 18.04"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D435 |
| Firmware Version                   | 05.11.06.250 |
| Operating System & Version |  Ubuntu 18.04.02 |
| Kernel Version (Linux Only)    | 4.18.0-25-generic|
| Platfo

[2019-07-01 15:05] Rizhiy opened #4344 "Length of bag file"
Camera Model: D435
Language: Python 3.7

### Issue Description

How can I get the length of a `.bag` file?
SDK doesn't have an obvious function and by default the video just loops back to the start.

Here is my code for reading the file:
[code]

[2019-07-01 15:44] jkarvounis commented on #4328
I have the same issue.  Tried updating USB 3.0 drivers did not help either.  Currently stuck since my computer cannot recognize my 435i

[2019-07-01 15:50] chankamlam commented on #4120
yes

[2019-07-01 16:18] RealSenseCustomerSupport commented on #3800
----------------------------------------------

You are welcome.
Closing this ticket now. Please feel free to reopen if further help is needed.
Thank you.

[2019-07-01 17:02] #3800 closed

[2019-07-01 17:44] atyshka commented on #4319
Closing this since the original issue is solved. but please see #4343 regarding the above.

[2019-07-01 17:44] #4319 closed

[2019-07-01 18:05] #4184 closed

[2019-07-01 18:15] xtrawurst commented on #4215
@dorodnic @matkatz
Update: Upgraded affected devices to Android 9.0, but the error still happens.

[2019-07-01 18:28] realsens01 commented on #4344
Is [get_duration](https://intelrealsense.github.io/librealsense/python_docs/_generated/pyrealsense2.playback.html#pyrealsense2.playback.get_duration) what you're looking for? If you want the number of frames, I believe in the past I used this in combination with ``seek`` and ``get_position``.

[code]

Currently, I use the ``rosbag`` package to process Realsense bag files.

[2019-07-01 18:39] Rizhiy commented on #4344
I need number of frames

[2019-07-01 19:09] realsens01 commented on #4344
I apologize. The code I provided is old, and I had forgotten that ``get_position`` returns a time, instead of a frame number. This might be one of the reasons that I switched to the ``rosbag`` packages, which I've found to be much easier to use.

[code]

[2019-07-01 19:26] realsens01 commented on #4344
This worked for me, but I did not verify the number:

[code]

[2019-07-01 20:19] RealSenseCustomerSupport commented on #4140
----------------------------------------------

Just an update: the bug will be fixed within firmware 5.11.13.0.

Thanks

[2019-07-01 22:05] #4098 closed

[2019-07-01 22:28] agrunnet commented on #4175
I agree that tracking a bee is very challenging because it is very small, but it depends on how close you can be. Also you the challenge is compounded by the speed of the bees. Luckily we have started investigating this, and I can give you some preliminary data. This is particularly in the context of exploring adding a new high-speed mode that allows us to go to 400fps capture, but with a narrower

[2019-07-01 23:03] sailfish009 commented on #4337
@ev-mp thanks! it works fine for me!

[2019-07-01 23:03] #4337 closed

[2019-07-02 00:02] vhanded commented on #4333
Thanks, edited 0 to 1. Issue still the same.

Here i the full log:
[code]

[2019-07-02 00:23] ssomda21 commented on #4335
You mean the root directory, right?
Thank you for your comment. It works well!

[2019-07-02 01:10] RealSenseCustomerSupport commented on #4069
----------------------------------------------

@gravitychen Did you get chance to try? Any update? Looking forward to your reply.Thanks!

[2019-07-02 01:11] RealSenseCustomerSupport commented on #4042
----------------------------------------------

@nicovanduijn Any luck if upgrade kernel to 4.15 on UP Core?

[2019-07-02 01:30] ronzeman99 commented on #4308
I have noticed that the init_stream_profiles() function in tm2/tm-device.cpp has a set_intrinsics function. Will this allow the functionality I am looking for @dorodnic?

[2019-07-02 01:38] RealSenseCustomerSupport commented on #4056
----------------------------------------------

@frankfalse Could you please update if you still need support on this? Thanks!

[2019-07-02 01:41] RealSenseCustomerSupport commented on #4157
----------------------------------------------

@eholly1 Thanks for your input. The fix is now in v2.24. https://github.com/IntelRealSense/librealsense/blob/v2.24.0/tools/realsense-viewer/realsense-viewer.cpp#L245

[2019-07-02 01:42] RealSenseCustomerSupport commented on #4147
----------------------------------------------

@EmmanuelCos Any other questions about this ticket? Looking forward to your update. Thanks!

[2019-07-02 01:44] RealSenseCustomerSupport commented on #4081
----------------------------------------------

@themikem Could you please update if you still need support on this? Thanks!

[2019-07-02 01:45] RealSenseCustomerSupport commented on #4115
----------------------------------------------

@RZz96 Could you please update if you still need support on this? Thanks!

[2019-07-02 01:54] RealSenseCustomerSupport commented on #4112
----------------------------------------------

@ljy345115678 Then it might be your own program issue. Could you please provide your code snippet so that we can look into it? Thanks!

[2019-07-02 02:06] #4157 closed

[2019-07-02 03:17] chaojizhangdaxin commented on #3865
Sorry, I've been looking at other projects. Didn't notice the mailbox. We now use other cameras. For the same scenario, the depth obtained by using SDK is more accurate. And the depth we get with our own programs is wrong.@RealSenseCustomerSupport

[2019-07-02 04:06] RealSenseCustomerSupport commented on #4043
----------------------------------------------

@xen20 @xiaoyanluo  Could you please provide the difference details? The .json file you load and read will be helpful.

[2019-07-02 04:29] RealSenseCustomerSupport commented on #4009
----------------------------------------------

@ClimbsRocks @radfordi With Python3.7 support from v2.23(PR#4012:https://github.com/IntelRealSense/librealsense/pull/4012), do you still have this issue? Looking forward to your update. Thanks!

[2019-07-02 04:34] #4014 closed

[2019-07-02 05:03] radfordi commented on #4009
@RealSenseCustomerSupport, this was user error (pointing `cmake` to the wrong directory).  This issue can be closed.

[2019-07-02 06:13] RealSenseCustomerSupport commented on #4066
----------------------------------------------

@guokiddo1  Any luck with libusb_clear_halt?

[2019-07-02 06:19] RealSenseCustomerSupport commented on #4071
----------------------------------------------

@filipematosinov @LDWinner What SDK version did you use when get the issue?

[2019-07-02 07:06] MartyG-RealSense commented on #4342
RealSense cameras can run indefinitely so long as they remain within temperature tolerances.  When problems occur in long-running operations, it is usually related to a glitch in the computing hardware (Up Squared in this case), USB port or the operating system.

As you have found, Up Squared is indeed capable of supporting two RealSense cameras on the same board.

In regard to USB power stability

[2019-07-02 07:08] #4009 closed

[2019-07-02 07:11] RealSenseCustomerSupport commented on #4196
----------------------------------------------

@nourbouabena The link below might helps.
https://github.com/IntelRealSense/librealsense/tree/master/wrappers/csharp

[2019-07-02 07:28] RealSenseCustomerSupport commented on #2850
----------------------------------------------

This issue is fixed in librealsense 2.24.0.

[2019-07-02 07:35] aPonza commented on #4286
Where can the "Intel OEM Calibration Tool and Chart" mentioned in the paper be found? Both [the provided link](https://www.intelrealsense.com/developers/) and [what I googled](https://downloadcenter.intel.com/product/128255/Intel-RealSense-Depth-Camera-D435) lead to at most Windows 10 stuff (I'm looking for ubuntu, but probably have it) and seemingly no pdfs with stuff to print (this is likely wha

[2019-07-02 07:55] RealSenseCustomerSupport commented on #4154
----------------------------------------------

@jinxzzz Please check if below code snippet helps.

https://github.com/IntelRealSense/librealsense/blob/master/wrappers/python/examples/box_dimensioner_multicam/helper_functions.py#L121-L147

[2019-07-02 08:04] #2850 closed

[2019-07-02 08:08] RealSenseCustomerSupport commented on #4191
----------------------------------------------

@evercoast-smm What's the hardware platform used? Did you apply kernel patch when install SDK?

[2019-07-02 08:13] RealSenseCustomerSupport commented on #4145
----------------------------------------------

@fgrzadkowski Did you get the issue with ROS when plug the camera to Port A for every time? Is it USB2 or USB3 port?

[2019-07-02 08:17] RealSenseCustomerSupport commented on #4120
----------------------------------------------

@chankamlam What's SDK version and Xcode version you use?

[2019-07-02 08:19] RealSenseCustomerSupport commented on #4167
----------------------------------------------

@filipematosinov Did you get through with Iramati's suggestion? Looking forward to your update. Thanks!

[2019-07-02 08:21] ksze commented on #4259
HI @ev-mp, like I wrote above, I have already followed the advice in other tickets (#3644 / #3381 / #3879) to enable location and camera in Windows' privacy settings, for both Microsoft Store apps and "traditional" desktop apps, to no avail.

[2019-07-02 08:24] RealSenseCustomerSupport commented on #4164
----------------------------------------------

@sahilparekh How about IR stream? Could you please provide a snapshot when enable IR stream only? And did you try other USB ports or PCs to see if any issue also? Thanks!

[2019-07-02 08:53] RealSenseCustomerSupport commented on #4111
----------------------------------------------

@alexex0723 Did you have such IR issue with latest RealSenseViewer(https://github.com/IntelRealSense/librealsense/releases/download/v2.24.0/Intel.RealSense.Viewer.exe)?

[2019-07-02 08:56] nicovanduijn commented on #4042
Due to the container system we use, I cannot update the kernel for now

[2019-07-02 09:14] sherrysun2018 commented on #4328
Please note that D435i currently not supported on Win7 yet. You can find this in Release Note.
"D435i requires FW version 5.11.2.+ and is currently supported on Linux and Windows 10 only. Windows 7, Android and Mac OS support under development to be included in future releases."

[2019-07-02 09:16] Rizhiy commented on #4344
I just needed it to stop looping, `repeat_playback=False` worked for that.

[2019-07-02 09:16] #4344 closed

[2019-07-02 09:24] Cavendish-Koo opened #4346 "non-exist points appear between two planes"
| Camera Model                       | D435 |
| Operating System & Version |  Ubuntu 16.04  |
| Platform                                 | PC |

### Issue Description
   I want to find edges of an object in front of the camera.However, when the  object is far away from the camera, the edges of the object are connected to the background with a list of points that actually not exist.It makes me hard

[2019-07-02 10:37] HadeelRS commented on #4277
Dorodnic and Radfordi thank you so much for your help .. I'll try.

[2019-07-02 10:44] taubar commented on #1290
Hi, i'm experiencing similar problems (visualising data) using D435 on MacOS.
After running the bSel, i get

bSel =
  BagSelection with properties:

           FilePath: '/Volumes/RonyPaz_08-9346932/20190408_140444.bag'
          StartTime: 0.0365
            EndTime: 1.2135e+03
        NumMessages: 18219
    AvailableTopics: [1×3 table]
    AvailableFrames: {0×1 cell}
        MessageList: [18219×

[2019-07-02 11:20] chd415 commented on #3475
Hi, I have the same issue with @ChewbEp and @ebinsunny , and here is my result from 'lsusb -v'

Bus 002 Device 001: ID 1d6b:0003 Linux Foundation 3.0 root hub
Couldn't open device, some information will be missing
Device Descriptor:
  bLength                18
  bDescriptorType         1
  bcdUSB               3.10
  bDeviceClass            9 Hub
  bDeviceSubClass         0 Unused
  bDeviceProtoco

[2019-07-02 11:23] filipematosinov opened #4347 "Alligning frames outputs zeros"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D435 |
| Firmware Version                   | 5.11.4 |
| Operating System & Version |   Ubuntu 18.04 |
| Kernel Version (Linux Only)    | 4.18.0-25-generic |
| Platform

[2019-07-02 11:23] filipematosinov opened #4348 "Aligning frames outputs zeros"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D435 |
| Firmware Version                   | 5.11.4 |
| Operating System & Version |   Ubuntu 18.04 |
| Kernel Version (Linux Only)    | 4.18.0-25-generic |
| Platform

[2019-07-02 12:59] tmichals commented on #4284
Thanks dorodnic.   Hopefully we can get this issue figured out.

[2019-07-02 14:04] eMrazSVK commented on #4295
`git clone https://github.com/IntelRealSense/realsense-ros` into your catkin_ws/src directory and run catkin build (catkin_make). JetsonHacks is pretty good, but since it is one person project and librealsense is updating frequently, lot of things there are outdated. It should work.

[2019-07-02 14:42] guokiddo1 commented on #4066
for our new binary version.
1. we add "libusb_clear_halt" when recieve LIBUSB_TRANSFER_ERROR
2. for SDK build config:

    BUILD_WITH_OPENMP = false
    CMAKE_BUILD_TYPE = Release
    ENABLE_ZERO_COPY = true

    to reduce the CPU utilization

*********************************************************
And some very strange things happends.
After open D435 3~5 hours. The USB 3.0 host of  RK3399 is h

[2019-07-02 15:33] antongit opened #4349 "C# How to get Colorized DepthFrame as RGBA"
Hello,

it's just a question.
As far as I get it right if I apply Colorizer ProcessingBlock the resulting Frame has RGB Format.
Is it somehow possible to get this Frame as RGBA or convert the resulting Frame from RGB to RGBA afterwards?

I think I'm missing something.

Thank you,
Anton

[2019-07-02 16:51] RaymondKirk commented on #2190
@fiorano10, @RealSense-Customer-Engineering could you provide more information about how to use/access this feature in realsense-ros?

[2019-07-02 19:51] ev-mp commented on #4341
@aPonza hello,
Iasit possible that you're using a corporate network ? In that case you'll probably need to configure a proxy to bypass the firewalls. Alternatively - obtain an uncensored internet access (use Phone's hotspot), rerun the cmake and update .

[2019-07-02 19:55] #4335 closed

[2019-07-02 19:58] ev-mp commented on #4347
A duplicate of #4348

[2019-07-02 19:58] #4347 closed

[2019-07-02 20:53] grigala commented on #4315
Hi @dorodnic,

Thanks, it helped to pass all my tests. However, the reason I was running those tests in the first place was to understand why me deprojected points are getting shifted - they are not where they should be. I still couldn't wrap my head around what could be causing this issue.

I'm obtaining pixel landmarks, deprojecting them to points and when visualizing it together with point clou

[2019-07-02 21:45] radfordi commented on #4331
Hi @orshefi,

Thank for your detailed report.   I believe this is the sign of a T265 power on race condition that we have seen with certain hubs.

Are you using a hub, would you try the suggestion in #3657 to power the hub first and then plug in the T265?  If not could you let us know what your configuration is?

[2019-07-02 22:20] kevindehecker opened #4350 "UDEV rules issue after updating to 2.24"
----------------------------------------------------------------------------------------------------

| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D400 |
| Firmware Version                   | 5.11.6.250 |
| Operating

[2019-07-02 22:21] kevindehecker opened #4351 "Unable to link after update to 2.24"
----------------------------------------------------------------------------------------------------

| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D400 |
| Firmware Version                   | (Open RealSense Viewer --

[2019-07-02 23:28] vhanded commented on #4333
@ev-mp

The full code:
[code]

[2019-07-03 02:38] nevynwong opened #4352 "Invalid postprocessing?"
| Camera Model                       | D415|
| Firmware Version                   |11.6 |
| Operating System & Version | Win10|
| Platform                                 | PC|
| SDK Version                            |2.21|
| Language                            |Matlab |

I set post-processing in the viewer, but there is no post-processing for the depth and point cloud of re-convert.exe. Why?

[2019-07-03 05:39] vusdo commented on #4305
Do you understand? I want to know the reason.

[2019-07-03 07:06] kevindehecker commented on #4351
I've reverted the packages back to v2.23, this solves the problem for now:

[code]

[2019-07-03 07:10] orshefi commented on #4331
Hi @radfordi,

From what I could understand from the information provided in your answer and the ticket attached its a firmware issue.

The solution offered on #3657 isn't applicable to most purposes, one of the main abilities of the t265 camera is that it has lean bandwidth that allows it to be trafficked by a USB hub together with other cameras.

Most of the robotics application use embedded ARM

[2019-07-03 08:05] David-168 opened #4353 "Multi Camera issue on Android 8.1.0"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | { D435 } |
| Firmware Version                   | (Open RealSense Viewer --> Click info) |
| Operating System & Version |   Android  8.1.0|
| Kernel Version (Linux Only)

[2019-07-03 08:09] YH53 opened #4354 "How to include librealsense2/rs.hpp"
Required Info
| Camera Model | { D415 } |
| Operating System & Version | {Win 10 |

| SDK Version | 2.0 |
| Language | C++ |
Platform: visual studio 2015

 I want to create a new project，but it appears:Fatal error C1083: Cannot open include file: "librealsense2/rs.hpp": No such file or directory.
I try to solve it by include the header files path into my Visual Studio.
the path of my sdk is:C:\Pro

[2019-07-03 08:15] aPonza commented on #4341
That doesn't seem to be it. I'm already going out skipping the company firewall, but I still tried: while connected with my phone, I uncommented the `include(CMake/connectivity_check.cmake)` line and ran this:
[code]

...so the same output as before. I also tried:
[code]
and with both connections the output is the same, so that's not it as well. What else can I try?

[2019-07-03 09:25] SirDifferential commented on #4272
I'll write in this issue. I'll create a new one if you wish.

I'm currently trying to get a D435 working on an rpi4 with the latest raspbian-lite image. As far as I know, a new kernel must be compiled since the required drivers aren't enabled in the stock kernel. I also had to port the patches to the latest raspberry kernel, and I'm not 100% if I did everything correctly. A few changes from the ub

[2019-07-03 10:36] lihk11 commented on #1672
@lramati  Is it possible to set persistency index for temporal filter using Python?

[2019-07-03 11:48] anug7 commented on #3215
@dorodnic , Can you tell what are the information needed to perform the offline alignment?

[2019-07-03 11:58] lramati commented on #1672
It should be possible.
The options API should suffice, although we've had reports of it not
working correctly with filters. If that's the case, you can use the
extended constructor which takes smoothing alpha/delta parameters and also
the persistence control.

[2019-07-03 12:02] nikhilkoditala commented on #4272
@SirDifferential I don't know about your error, probably you can go through the below link which may be helpful.
https://dev.intelrealsense.com/docs/using-depth-camera-with-raspberry-pi-3

[2019-07-03 13:03] agrunnet commented on #4305
I don’t quite understand what you mean by oblique angle. You mean the objects in left and right side should be farther away?
When you consider distance to camera for your ground truth measurement do you measure from camera or from the plane of the camera? The depth map measures the distance in Z axis. If you want actual total distance directly away from the camera point you need to convert to poin

[2019-07-03 13:35] ijsmallman commented on #4350
I have this issue too

[2019-07-03 14:47] fgolemo commented on #4350
+1

[2019-07-03 15:53] nourbouabena commented on #4196
thank you :)

[2019-07-03 15:56] jpapon commented on #4343
Exact same problem here on a fresh install of 18.04.02. Anyone find a workaround?

[2019-07-03 17:35] grigala commented on #4315
Could this be an issue of aligning frames to color stream?
Because it seems like if I align frames to depth stream, problem dissappears:

`align_to = rs.stream.`~~color~~`depth`
`align = rs.align(align_to)`

[2019-07-03 18:26] antoniodourado opened #4356 "Get inclination angle of the camera"
----------------------------------------------------------------------------------------------------

| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D400 |
| Firmware Version                   | 05.11.06.250 |
| Operatin

[2019-07-03 19:03] #3878 closed

[2019-07-03 20:21] realsens01 commented on #3878
@RealSenseCustomerSupport : Why would you close this? This is the 3rd issue that I've had that you've closed without resolving. I've been working with RealSense for about a year or more now on a funded project and I've literally never gotten a solution from you.

[2019-07-03 20:23] realsens01 opened #4357 "Issue was closed without resolution, again."
See [my unresolved issue](https://github.com/IntelRealSense/librealsense/issues/3878).

[2019-07-03 20:29] jessefulton commented on #2893
@mrchrisjoy nope - I gave up on it after the customer service response ☹️

[2019-07-03 21:26] MartyG-RealSense opened #4359 "Announcement: Improvements to subpixel linearity of RealSense"
Hi everyone,

Intel has made improvements to the 'subpixel linearity' of Realsense cameras.  You can find details about it and a link to a white paper on the subject in the RealSense blog entry below:

https://www.intelrealsense.com/subpixel-linearity/

[2019-07-03 22:24] RealSenseCustomerSupport commented on #3829
----------------------------------------------

Closing the ticket. Please feel free to reopen if problem remains.
Thank you.

[2019-07-03 23:08] #3829 closed

[2019-07-03 23:08] #4134 closed

[2019-07-04 01:21] lihk11 commented on #1672
@lramati  Thanks your reply first!

[2019-07-04 01:29] lihk11 commented on #1672
@lramati Thanks for your timely reply!
I could find `rs.option.filter_smooth_alpha / filter_smooth_delta` which configures the alpha/delta parameter, but it seems that there isn't a "persistence control" attribute... Could you point out the exact attribute if it exists?

[2019-07-04 01:47] lihk11 commented on #1672
I just figure it out.

[2019-07-04 03:45] ev-mp commented on #4350
@kevindehecker  thanks for report.
Seem be due inconsistency in release vs debug builds. We're working on it.
As for now - the specific pop-up is a false alarm, it doesn't not affect functionality and can be safely disregarded

[2019-07-04 04:01] RealSenseCustomerSupport commented on #3945
----------------------------------------------

Is the issue clarified? I will close this if no further question.

[2019-07-04 04:02] ev-mp commented on #4351
@kevindehecker hello,
There were a missing dependency in the Debian build that has been resolved. Please try the latest and update

[2019-07-04 04:03] RealSenseCustomerSupport commented on #4146
----------------------------------------------

Fixed in librealsense 2.24.0.

[2019-07-04 04:03] #4146 closed

[2019-07-04 05:38] ev-mp commented on #4354
@YH53 hello, I  could be wrong here but when added to `Tools → Options → Projects and Solution..` the compiler wil search only for headers that are declared with <name.h> and not "name.h".
I think adding the headers to the solution and not globally should suffice, either by adding this path the relevant vcproj-s or via a custom .props file.

[2019-07-04 05:51] ev-mp commented on #4341
@aPonza , thanks for the logs.
It is not clear where the permission issue is coming from and it could be that the build directory is somehow corrupted. I'd recommend to make a clean cmake build and then post the full cmake log:
From Librealsense root dir :
`cd build`
`sudo make uninstall && make clean && sudo rm -rf * && cmake .. -DBUILD_EXAMPLES && make -j$(nproc) && sudo make install`

[2019-07-04 05:57] clear-zhu opened #4361 "Template tracking"
* Before opening a new issue, we wanted to provide you with some useful suggestions (Click "Preview" above for a better view):

    * Consider checking out SDK [examples](https://github.com/IntelRealSense/librealsense/tree/master/examples#sample-code-for-intel-realsense-cameras).
    * Have you looked in our [documentations](https://github.com/IntelRealSense/librealsense/tree/master/doc#useful-lin

[2019-07-04 06:27] eMrazSVK commented on #4325
What do you mean by shut down exactly? If it is on API level, you need to call `pipe.stop()`. If it is on realsense-viewer level, switching the sensor in the app should be sufficient.

[2019-07-04 06:39] MartyG-RealSense commented on #4361
Is 'template tracking' a feature request, please?

[2019-07-04 06:40] zhaozhongch opened #4362 "rs-imshow issue"
I guess after connecting D435 and run
`./rs-imshow`
I should be able to have a window and can see the image stream but I didn't see anything. The program just exit by itself immediately
![problem](https://user-images.githubusercontent.com/25599902/60645042-e325d800-9df4-11e9-8d4d-3f790a1141ba.png)

I try another example capture
`./rs-capture`
I can get the image stream.
![work](https://user-images

[2019-07-04 06:44] zhaozhongch commented on #4362
Sorry about the first image. I delete a `)` accidentally. it is
![problem](https://user-images.githubusercontent.com/25599902/60644927-9f32d300-9df4-11e9-9e0e-4ec825b46674.png)
It just shows I pressed enter after I input `./rs-imshow` the program exit immediately

[2019-07-04 07:02] ev-mp commented on #4343
@jpapon , we are struggling to upload to the server, in the meanwhile please install it manually from the attached file:
`mv librealsense2-dkms_1.3.6-0ubuntu0_all.txt librealsense2-dkms_1.3.6-0ubuntu0_all.deb`
`sudo dpkg -i librealsense2-dkms_1.3.6-0ubuntu0_all.deb`
[librealsense2-dkms_1.3.6-0ubuntu0_all.txt](https://github.com/IntelRealSense/librealsense/files/3358091/librealsense2-dkms_1.3.6-0ub

[2019-07-04 07:13] kazu0622 opened #4363 "How to set or get ROI for Auto Exposure with C++"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       |  D400  |
| Firmware Version                   | 05.09.14.00 |
| Operating System & Version |   {Win 10 |
| Kernel Version (Linux Only)    |

[2019-07-04 07:14] ahuizxc opened #4364 "t265 relocalization feature unstable."
Recently I tested the export_localization_map and import_localization_map feature of t265, and there some problems about. Firstly, I set about 20 static node and export the localization map, then i imported the localization map and try to get all 20 nodes in a loop, once i got one node, then i would get all nodes, that's for sure, But here is the problem: even i set 20 nodes in the localization ma

[2019-07-04 07:26] clear-zhu commented on #4361
I am using realsenseD435i to do a template tracking, which requires that I draw a rectangular box with the mouse on the area of interest in the video stream, save the area in the rectangular box as Mat format, and track the area. I know the methods and codes of ordinary cameras, and I am a novice in realsense. If you can provide a simple demo or example, I would like to ask you. Thank you very muc

[2019-07-04 07:49] matkatz commented on #4215
Hi @xtrawurst,
The Out of memory issue is not yet solved.
librealsense 2.24.0 improves some aspects of this issue but it seems that the phone can enter a state which only reboot can solve.
I will update once we have a progress with this issue.

[2019-07-04 08:10] MartyG-RealSense commented on #4361
Thank you for your additional information.  What you are aiming to achieve sounds complicated and so the project is probably best developed in stages instead of trying to do it all at once.

The first goal to achieve would be to draw the bounding box and exclude the data points outside of the box.  The link below describes the method that a RealSense user applied to achieve this.

https://github.c

[2019-07-04 08:20] AntoineWefit commented on #4363
Isn't [that](https://github.com/IntelRealSense/librealsense/blob/f112ed78e3917df79047254f864157195d4488b0/include/librealsense2/hpp/rs_sensor.hpp#L348-L379) C++ though ?
Hope this'll help !

[2019-07-04 08:49] clear-zhu commented on #4361
It’s too complicated for me to say, I should say it step by step. Now I want to use the mouse to select the area of interest in the video stream. But I did not find the relevant documentation. (Because I want to identify a stationary object, this object is random, so I need to select the area with the mouse)

[2019-07-04 09:07] MartyG-RealSense commented on #4361
Someone in the past asked about being able to select the ROI with the mouse in the RealSense Viewer.

https://github.com/IntelRealSense/librealsense/issues/2110

One of the Intel staff on this forum will be best equipped to give you advice on this subject.  I will tag a few of them into this conversation to highlight it to them.   Good luck!

@dorodnic @RealSenseCustomerSupport @RealSense-Customer

[2019-07-04 09:10] kazu0622 commented on #4363
@AntoineWefit Thank you for your comment.
I described my code as below.
	rs2::region_of_interest roi;
	rs2::roi_sensor s(depth_sensor);
	roi = s.get_region_of_interest();
	s.set_region_of_interest(roi);
It worked!

Thank you.

[2019-07-04 09:10] #4363 closed

[2019-07-04 09:12] buctfy commented on #4296
I delete some codes about colorizer,but when i run the code,depth image window don't show the image,and close after a little time
`using namespace std;
using namespace cv;
int main()
{
	//rs2::colorizer c;
	rs2::pipeline pipe;
	rs2::config cfg;
	rs2::hole_filling_filter  hole_filter;
	hole_filter.set_option(RS2_OPTION_HOLES_FILL,1);
	cfg.enable_stream(RS2_STREAM_DEPTH, 640, 480, RS2_FORMAT_Z16, 30

[2019-07-04 09:21] JimmyFroost commented on #4146
thank you, I managed to integrate both fisheyes stream. 👍

[2019-07-04 09:22] menandro2015git commented on #4296
Data type should be CV_16U or CV_16UC1.

[2019-07-04 09:23] kevindehecker commented on #4351
Yes seems to work again, thanks!

[2019-07-04 09:45] xtrawurst commented on #4215
@matkatz Thanks for the update.

If it helps, a while back we made a modified version of libRS 2.16.0 with a "hacked" libUSB that worked on non-rooted Android devices as a proof of concept internally in our company. That one had plenty of issues, but out-of-memory wasn't one. I.e. we were able to get an RGBD stream on devices that now show the out-of-memory error. I'd be happy to share the code if

[2019-07-04 10:34] eMrazSVK commented on #4361
Hey @clear-zhu, as you're saying you're familiar with this problem, it should be sufficient enough for you, if you knew how to get frames from RealSense cameras. You can gather frames from camera with OpenCV like in this [example ](https://github.com/IntelRealSense/librealsense/blob/master/doc/stepbystep/getting_started_with_openCV.md). Then you have the color frame in Mat format and you can conti

[2019-07-04 10:48] eMrazSVK commented on #4323
Hey,

Don't know much about it, but I think you can get it to work, if you go through this [example](https://github.com/IntelRealSense/librealsense/blob/master/wrappers/python/examples/t265_stereo.py). Exactly line 140, where you see, that how you can get fisheye streams.

[2019-07-04 12:55] npd26 commented on #1140
how to get left and right image using cv_bridge in ROS?

[2019-07-04 13:04] ev-mp commented on #4343
@atyshka ,@jpapon,
The package for Ubuntu 18.4.2 with kernel 4.18 is now available. To upgrade the current version to the new 1.3.6 use -
`sudo apt update && sudo apt upgrade`

[2019-07-04 13:33] kevindehecker commented on #4351
Crap, it is *not* working!

I tumbled into the reboot trap... After a reboot (needed for something else) I could *not* link once more.
BTW, the reported version after updating  is still 2.24.

[2019-07-04 14:00] ev-mp commented on #4352
@nevynwong hi , the post-processing is an on-demand feature that is integrated into the customer code and is not a part of a core data streaming..
While the purpose of `rs-convert` tool is to transcode depth data into additional formats. Modifying the data on-the-fly is an extension use-case that is not in the scope of the tool.

You can privately modify `rs-convert` to also include depth post-pro

[2019-07-04 14:11] ev-mp commented on #4351
That's correct - the change is in the Debian build (number) - there is no change in Librealsense.
The only thing that changes after reboot is the the `source ...` and the linker list are being updated.
Is it possible that you have several versions installed in separate locations ?
Can you share the error log ?

[2019-07-04 14:23] AnnaRomanov commented on #4356
Hi, did you look at [rs_motion](https://github.com/IntelRealSense/librealsense/tree/master/examples/motion) example? It shows how to calculate the rotation in euler angles, would that help?

[2019-07-04 14:27] aPonza commented on #4341
Stops at the configuration phase with the same output as before: the "See also" log file is [CMakeOutput.log](https://github.com/IntelRealSense/librealsense/files/3359672/CMakeOutput.log)

[2019-07-04 15:59] kevindehecker commented on #4351
Error log? You mean the linker error?

[code]

Really not that helpfull, but I don't have other errors... Please specify.

[2019-07-04 17:17] matkatz commented on #4066
I also see this issue on my FIreFly boards  (3399 and 3328)  with the solution for un-rooted devices.
This issue was reproduced also on earlier versions of librealsense.

Configure more streams at higher resolutions accelerates the reproduction.
For example with [depth 1280x720x30 | color 1280x720x30] I was able to run more than 10 hours with no issues (until I needed to stop the test), while conf

[2019-07-04 17:40] beduffy commented on #4350
I have the same issue, should I revert back to 2.23?

[2019-07-04 18:17] zhaozhongch commented on #4362
I don't assume I need modify the original code of `im-show` to get the image stream. However, seems I have to do it.
The original code loop part is
[code]
I simply change it to
[code]
Then I can get the image stream
![im-show](https://user-images.githubusercontent.com/25599902/60683534-80185d80-9e55-11e9-9c4f-c22469b36757.png)
EM...The example code should change seems or maybe it is my personal se

[2019-07-04 19:16] kevindehecker commented on #4351
Aha, found the problem. In my CMakeList.txt I set the realsense library as follows:

[code]

Probably got that from some example in the early days. However, if I properly find the realsense package, the linker problem is solved!

[code]

[2019-07-04 19:16] #4351 closed

[2019-07-04 21:50] jpapon commented on #4343
Great, thank you.
I can't test at the moment, but I had no problem with master compiled from source, so I'm assuming the package works too.

[2019-07-05 00:50] RealSenseCustomerSupport commented on #4131
----------------------------------------------

@matspetter Any  other questions about this ticket? Looking forward to your reply. Thanks!

[2019-07-05 00:52] RealSenseCustomerSupport commented on #3890
----------------------------------------------

@evercoast-smm Any other questions about this ticket? Looking forward to your update. Thanks!

[2019-07-05 00:52] RealSenseCustomerSupport commented on #4044
----------------------------------------------

@scizors Any other questions about this ticket? Looking forward to your reply. Thanks!

[2019-07-05 00:53] RealSenseCustomerSupport commented on #4055
----------------------------------------------

@jinxzzz If no other questions, will close the ticket at this point.

[2019-07-05 00:55] RealSenseCustomerSupport commented on #4096
----------------------------------------------

@gowooyan If no other questions, will close the ticket.

[2019-07-05 00:56] RealSenseCustomerSupport commented on #4069
----------------------------------------------

@gravitychen If no other questions, will close the ticket.

[2019-07-05 00:59] RealSenseCustomerSupport commented on #4178
----------------------------------------------

@TianhangTang Any other questions about this ticket? Looking forward to your update. Thanks!

[2019-07-05 01:03] #4055 closed

[2019-07-05 01:03] #4065 closed

[2019-07-05 01:03] #4069 closed

[2019-07-05 01:03] #4096 closed

[2019-07-05 01:06] RealSenseCustomerSupport commented on #4112
----------------------------------------------

@ljy345115678 Any other questions about this ticket? Will closet it if no other questions.

[2019-07-05 01:07] RealSenseCustomerSupport commented on #4043
----------------------------------------------

@xen20 @xiaoyanluo Could you please update if you still need support on this?

[2019-07-05 01:15] RealSenseCustomerSupport commented on #4071
----------------------------------------------

@filipematosinov @LDWinner Could you please update if you still need support on this? Thanks!

[2019-07-05 01:17] RealSenseCustomerSupport commented on #4154
----------------------------------------------

@jinxzzz Did you get chance to try? Any other questions about this ticket? Looking forward to your update. Thanks!

[2019-07-05 02:07] #4112 closed

[2019-07-05 02:13] YH53 commented on #4354
@ev-mp I‘m sorry I didn't understand what you meant，could you please describe it in detail. Thank you very much.

[2019-07-05 03:07] RealSenseCustomerSupport commented on #4107
----------------------------------------------

@neocubist Any other questions about this ticket? Looking forward to your reply. Thanks!

[2019-07-05 03:27] schoningerJim opened #4366 "seg fault"
----------------------------------------------------------------------------------------------------

| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D435 |
| Firmware Version                   | 05.11.01.100 |
| Operatin

[2019-07-05 07:14] jerryt3204 commented on #4295
@eMrazSVK Thanks for your reply!!
I've done some steps like yours, and it works well.
I will test it again if i flash ma TX2, thank you.

[2019-07-05 07:45] SirDifferential commented on #4272
I think I solved part of the problem. These commits:

* https://github.com/raspberrypi/linux/commit/3bc85817d7982ed53fbc9b150b0205beff68ca5c
* https://github.com/raspberrypi/linux/commit/088ead25524583e2200aa99111bea2f66a86545a

Change how UVC drivers add their quirks into the driver description by using the UVC_QUIRK_INFO macro and then change the struct size. I added that macro to the Realsense

[2019-07-05 08:36] RealSenseCustomerSupport commented on #4196
----------------------------------------------

@nourbouabena You're welcome. Any other questions about this ticket?

[2019-07-05 08:44] RealSenseCustomerSupport commented on #4042
----------------------------------------------

@nicovanduijn Considering FW v5.9.13 is a little too old version, could you please try the latest FW v5.11.6.250 to see if you still get this IR stream missing issue on UP Core?

FW v5.11.6.250 download link: https://downloadmirror.intel.com/28870/eng/D400_Series_Production_FW_5_11_6_250.zip

[2019-07-05 08:48] RealSenseCustomerSupport commented on #4181
----------------------------------------------

@LalitPradhan Any update for this issue? Could you please provide the issue log as ev-mp suggested? Looking forward to your reply. Thanks!

[2019-07-05 09:50] quxichao opened #4368 "T265 pose precision consultation"
Hello, I want to ask about the positioning and direction error of the T265 camera.

good luck

[2019-07-05 09:57] itachi134999 opened #4369 "Firmware version for D415"
Hi,

Can anyone please let me know what is the significance of "recommended_firmware_version" key. Is it showing the latest firmware version available ?

Also what is the difference between "asic_serial_number" and "serial_number".

[2019-07-05 10:05] filipematosinov commented on #4071
Yes, I am running the sdk version 2.24.

The requested logs (during this logs no error occured:
[rs-enumerated-to-dik.log](https://github.com/IntelRealSense/librealsense/files/3362154/rs-enumerated-to-dik.log)
[rs-save-to-disk.log](https://github.com/IntelRealSense/librealsense/files/3362155/rs-save-to-disk.log)

[2019-07-05 10:10] a17sans opened #4370 "Export_to_ply overwriting file"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D400 |
| Operating System & Version |   Win 10  |
| Platform                                 | PC  |
| Language                            |  Python  |

Hello :

### Objecti

[2019-07-05 10:26] a17sans commented on #4324
Created other issue with more description  and code here : [#4370](https://github.com/IntelRealSense/librealsense/issues/4370)

[2019-07-05 10:26] #4324 closed

[2019-07-05 10:41] guokiddo1 commented on #4066
We run it as root devices
and use SDK 2.23.0

[2019-07-05 11:54] hpf9017 commented on #4341
I met the same problem before.
the reason is that you are lack of target-0.0.18.*.mvcmd file.
you need to wait for "Build with TM2" to download the file compeletely when you :
cmake ../ in the build directory.
![lADPDgQ9qz_wiKfNC9DND8A_4032_3024](https://user-images.githubusercontent.com/17041625/60720873-ad046780-9f5e-11e9-9aba-95236bcac4e5.jpg)

[2019-07-05 12:08] ev-mp commented on #3536
The DKMS package for Ubuntu bionci kernel 4.18 is publicly available.
#4343

Feel free to try and provide feedback

[2019-07-05 12:46] rupeshchandgude commented on #4291
I am facing same issue. I am using D435 model on ubuntu 16.04.  I am getting below output :
![Screenshot from 2019-07-05 18-13-01](https://user-images.githubusercontent.com/35450740/60723262-cf8f8400-9f50-11e9-8dd0-4ff397c839e9.png)

[2019-07-05 15:12] s-hemer commented on #3536
Yes that was just what I wanted to add to this thread highlighting that now it was the time to close that issue not 1.5 month ago. Thanks anyway.

[2019-07-05 15:25] s-hemer commented on #3422
I can only agree with @paulbovbel: where is the problem to build, pack and upload the DFU tool to the bionic repository? That would be the only proper and clean way when distributing software for Ubuntu via apt.

[2019-07-05 15:35] aPonza commented on #4341
Not sure I understand:
- I set the waiting time to 60s in [here](https://github.com/IntelRealSense/librealsense/blob/6a7917c2bdcc3cb5c93b161c876c632d73634866/CMake/connectivity_check.cmake#L3) but nothing changed;
- Per normal build configuration, this line happens `-- No internet connection, disabling BUILD_WITH_TM2` before I reach the bit you're highlighting in the image, and this leads me to be

[2019-07-05 16:28] rcohe032 commented on #4245
I just changed the order of your code and it worked. After the for loop you do not need
"depth = fs.get_depth_frame();" because this is the unaligned data and it is not used.
Right after the for loop put this first:

`aligned_frames = alignedFs.process(fs);
depth = aligned_frames.get_depth_frame();`

and then you can continue with your code as is after moving that up. You were calculating the dept

[2019-07-05 16:28] bsamadi commented on #4350
realsense-viewer cannot see 435i or T265. It affects functionality.

[2019-07-05 16:43] MartyG-RealSense opened #4371 "Announcement: Intel Click store releases a SR300 calibration target board"
Hi everyone,

A calibration target board for the SR300 has been added to Intel's online Click store for $149.99.

https://store.intelrealsense.com/buy-intel-realsense-sr300-calibration-target.html

[2019-07-05 18:59] #4362 closed

[2019-07-06 03:35] wenxyong opened #4372 "D435i can not work in MFC application"
----------------------------------------------------------------------------------------------------

| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | {  D435i } |
| Operating System & Version |   {Win 10  |

[2019-07-06 22:25] themikem commented on #4081
@RealSenseCustomerSupport I noticed that new firmware has been posted since I tried this.  Let me update everything and see if I can still reproduce.

[2019-07-07 00:39] ijeppsen opened #4373 "nodejs-pose.js failes, while the realsense-viewer wroks."
I've been trying to get the nodejs bindings to work with the t265 with no luck.  I've gotten and built from source the librealsense repo on Ubuntu 18.04.2 LTS and the realsense viewer loads and i'm able to see pose information from the device.  I've gotten the nodejs wrappers built but need documentation showing how to map from https://dev.intelrealsense.com/docs/rs-pose to nodejs format

[2019-07-07 01:47] #2585 closed

[2019-07-07 01:48] philipjames44 commented on #2585
If anyone lands on this issue I never found a solution. The issue was consistent across Ubuntu and Mac OSX. I just lived with a few seconds of lost footage.

[2019-07-07 05:14] ArtlyStyles opened #4374 "Student discount for T265"
Is there any discount on T265 for college student?

[2019-07-07 11:55] karimbernardet commented on #4175
Hi
Thanks for your help
For the point 2, is there any procedure somewhere to do that ? (I am under ubuntu linux)
Thanks
Karim

[2019-07-07 12:58] agrunnet commented on #4175
config->enable_stream(RS2_STREAM_DEPTH, 0, 848, 480, RS2_FORMAT_Z16, 90); \\ enable depth
config->enable_stream(RS2_STREAM_INFRARED, 1, 848, 480, RS2_FORMAT_Y8, 90); \\ enable left monochrome

[2019-07-07 14:32] baozinihao321 opened #4375 "Import Error SDK 2.24.0 Python3.7 on Raspberry Pi 4 Raspbian 10 Buster"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       |  D435  |
| Firmware Version                   | 5.11.6 |
| Operating System & Version |   Raspbian 10 Buster  |
| Kernel Version (Linux Only)    |  4.19

[2019-07-07 16:49] CroMocha commented on #4375
Have you tried steps 4 and 5 as found in:
https://github.com/IntelRealSense/librealsense/tree/master/wrappers/python
Ran into this problem just recently too, easily solved by copying librealsense2.so that was in my librealsense/build directory and pyrealsense2.cpython-35m-arm-linux-gnueabihf.so (might be named differently in your installation) that was in librealsense/build/wrappers/python directo

[2019-07-07 17:27] baozinihao321 commented on #4375
Thanks for help. I update the .bashrc file.

export PYTHONPATH=$PYTHONPATH:/home/pi/librealsense/build/wrappers/python

export PYTHONPATH=$PYTHONPATH:/home/pi/librealsense/build/

export PYTHONPATH=$PYTHONPATH:/home/pi/librealsense

However, it seems to be another problem.

pi@raspberrypi:~ $ python3
Python 3.7.3 (default, Apr  3 2019, 05:39:12)
[GCC 8.2.0] on linux
Type "help", "copyright", "cred

[2019-07-07 22:16] ntsarb opened #4376 "Incompatibility with Windows 10 Pro version 1903"
Camera Model                       |  Intel RealSense D435 |
Firmware Version                   | Signed_Image_UVC_5_11_6_250.bin  |
Operating System & Version |   Win 10 Professional for Workstations ver. 1903 |
Intel Device Driver Version    | 6.1.160.14  (dated 1 April 2019) |
Kernel Version (Linux Only)    |  N/A                                         |
Platform

[2019-07-08 00:29] sjdrc commented on #3369
This is also a critical missing feature for us. We have deployed several ARM devices with RealSense cameras to a client in another city. Due to the recent firmware bug that causes some D415s to show up as D410s, our software is not able to run on some of the deployed devices. Only fix is to update the firmware of the device, however I am not able to run the update tool from our remote devices. Wha

[2019-07-08 00:58] xiaoyanluo commented on #4043
Thank you! All the best.

[2019-07-08 01:11] RealSenseCustomerSupport commented on #4178
----------------------------------------------

@TianhangTang If no other questions, will close this ticket accordingly. Thanks!

[2019-07-08 01:14] RealSenseCustomerSupport commented on #4059
----------------------------------------------

@omarfakh Did you get chance to try now? Thanks!

[2019-07-08 01:15] nevynwong commented on #4352
@ev-mp hi ,It may be difficult for me to modify rs-convert.exe for post-processing, so how do I get the post-processing results?Is there any other way?
Thank you.

[2019-07-08 01:16] #4177 closed

[2019-07-08 01:22] TianhangTang commented on #4178
@RealSenseCustomerSupport I am not familiar with the github and sorry for forgetting to close the issue, Thank you for you kindly help.

[2019-07-08 01:22] #4178 closed

[2019-07-08 01:36] CroMocha commented on #4375
If you check out /home/pi/librealsense/build you'll find a few librealsense2.so files(librealsense2.so, librealsense2.so.2.24, ... ), looks like your code chose to import librealsense2.so.2.24 instead of librealsense2.so. Maybe you can try just copying over the correct file.

[2019-07-08 02:04] RealSenseCustomerSupport commented on #4120
----------------------------------------------

@chankamlam Could you please update your SDK version and Xcode version when you get the issue? Thanks!

[2019-07-08 02:05] RealSenseCustomerSupport commented on #4167
----------------------------------------------

@filipematosinov Could you please update? Thanks!

[2019-07-08 02:06] RealSenseCustomerSupport commented on #4164
----------------------------------------------

@sahilparekh Could you please update? Looking forward to your reply. Thanks!

[2019-07-08 02:21] RealSenseCustomerSupport commented on #4145
----------------------------------------------

@fgrzadkowski Could you please update if you still need support on this? Thanks!

[2019-07-08 02:22] RealSenseCustomerSupport commented on #4111
----------------------------------------------

@alexex0723  Any update? Looking forward to your reply. Thanks!

[2019-07-08 02:24] RealSenseCustomerSupport commented on #4056
----------------------------------------------

@frankfalse If no other questions, will close the ticket accordingly. Thanks!

[2019-07-08 02:48] RealSenseCustomerSupport commented on #4136
----------------------------------------------

@jinxzzz If no other questions will closet this ticket accordingly. Thanks!

[2019-07-08 02:49] RealSenseCustomerSupport commented on #4095
----------------------------------------------

@redM0nk If no other questions about this ticket, close it accordingly. Thanks!

[2019-07-08 03:07] #4095 closed

[2019-07-08 03:07] #4056 closed

[2019-07-08 03:07] #4136 closed

[2019-07-08 03:11] clear-zhu commented on #4361
thanks your answer helped me a lot.

[2019-07-08 03:12] peterhinson commented on #4336
Hi @eMrazSVK,
I had a similar issue under MacOS: after reconnecting/reinitializing the T265, the first few libusb calls in `Device::interruptEndpointThread()` would return LIBUSB_ERROR_IO, sending the driver into ERROR_STATE (the handling of which seems to bork the device).

As a hack, simply ignoring LIBUSB_ERROR_IO appears to allow reconnection. In my case the error is issued a few times and the

[2019-07-08 04:33] RealSenseCustomerSupport commented on #4193
----------------------------------------------

@Vaibhavjolly Could you please double check if *glfw3*, *mesa* and *gtk* packages were installed? These packages are required according to https://github.com/IntelRealSense/librealsense/blob/master/doc/installation.md

    *glfw3*, *mesa* and *gtk* packages are required if you plan to build the SDK's OpenGl-enabled examples.

[2019-07-08 05:10] divyakush commented on #4376
Hello ntsarb,
You can visit my site and solve your problem manually
I have mentioned a simple and effective process on [open dll file](https://opendllfiles.com/) website.
If you will do not solve your problem then mail me via mail.
thanks
David Thomas

[2019-07-08 05:30] divyakush opened #4378 "Export to D435i can't work in overwriting file"
**Required Info**
Camera Model -                        D435i
Operating System & Version -  Win 10
Platform -                                  Vs2015
Language -                                VC +++

** Objectives:**
I would like to place an object on a turning table, or rotate the camera over the object and get a .ply file.

My problem :
I used the example here: export_ply_example, and it works f

[2019-07-08 05:35] xhuan28 opened #4379 "How can I get motion frame such as accel and gyro through frameset from pipeline?"
I would like to get motion frames such as accel and gyro frame through frameset from pipleine. However, it seems that there is no such kind of API(get_accel_frame() or get_gyro_frame()) provided by the class of frameset, just like get_depth_frame(), get_color_frame(), get_fisheye_frame(), get_pose_frame(), etc.
Do you have plan to develop those APIs in future?

[2019-07-08 06:06] RealSenseCustomerSupport commented on #4147
----------------------------------------------

@EmmanuelCos If no other questions about this ticket, will close it accordingly. Thanks!

[2019-07-08 06:07] #4147 closed

[2019-07-08 06:08] RealSenseCustomerSupport commented on #4115
----------------------------------------------

@RZz96 If no other questions about this issue, will close it accordingly. Thanks!

[2019-07-08 06:20] RealSenseCustomerSupport commented on #4170
----------------------------------------------

@JoeD1557 According to your description, the issue is not librealsense or RealSense camera related. Maybe you can try Upboard forum to see if anyone has clue about this.

[2019-07-08 07:02] sahilparekh commented on #4164
@RealSenseCustomerSupport , Sorry for late reply.
For the above queries:
1) yes i had tried on different machines and also on different usb port on same machine but yet the depth stream is giving error
2) Attaching snapshot with only infrared channel on
![Screenshot from 2019-07-08 12-26-38](https://user-images.githubusercontent.com/5284846/60789313-7441d980-a17c-11e9-8732-d13634fc2bfe.png)
![Scre

[2019-07-08 07:02] #4115 closed

[2019-07-08 07:39] fgrzadkowski commented on #4145
Sorry for not updating it. I missed previous notification.

All ports are USB3. This was very repeatable (I don't remember if it was exactly every single time, but it was probably more than 90% of times. Since then I've changed the PCI card and I haven't seen this issue, but it'd be still to understand why librealsense is crashing while realsense-viewer can handle those errors.

[2019-07-08 08:13] eMrazSVK commented on #4379
Hello,

You have all those in pose frame (rs2::pose_frame). At least accel values. Take a look [here](https://github.com/IntelRealSense/librealsense/blob/master/examples/pose-predict/rs-pose-predict.cpp). Especially line#32 in predict_pose function. You can access velocity, acceleration, angular velocity and angular acceleration and of course translation and rotation.

[2019-07-08 08:18] eMrazSVK commented on #4336
@peterhinson Thanks for answer, but I still get `Segmentation fault (core dumped)`. I applied your "patch" to both `Device::interruptEndpointThread()` and `Device::streamEndpointThread()`. Still no success. I wonder how is this possible. In the Intel's realsense-ros wrapper it is somehow handled and the process doesn't terminate.

[2019-07-08 08:36] ambersun1234 opened #4381 "Nvidia TX2, pipe.start() assertion failed"
----------------------------------------------------------------------------------------------------

| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D435i |
| Firmware Version                   | (Open RealSense Viewer -

[2019-07-08 08:40] eMrazSVK commented on #4381
Hi,

You have a typo at `pipe = ts.pipeline()` so its not `ts`, its `rs`, so change it to: `pipe = rs.pipeline()`

[2019-07-08 08:58] malith1992 commented on #3409
Hello @pedrombmachado , Why is this gyro = gyro_data(f[1].as_motion_frame().get_motion_data()) don't give angle in degrees. Can you please tell me how to convert these gyro values to angles in degrees ?

Thanks

[2019-07-08 09:32] rupeshchandgude opened #4382 "Ply file giving wrong output"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       |  D435  |
| Firmware Version                   | RealSense Viewer |
| Operating System & Version |  Ubuntu 16  |
| Kernel Version (Linux Only)    | 4.15.0-54-generic  |
| Pla

[2019-07-08 10:20] a17sans commented on #4382
I have exactly the same issue for days ... I tried to generate the .ply directly without saving it to a bag file, same results ...

[2019-07-08 11:05] eMrazSVK commented on #4382
From the `output of ply file` isn't it just zoomed out? Did you try to zoom in? I had this issue sometime in the past (I do not remember exact case). Because sometimes it returns points which are too far from the actual captured scene and viewers in general get confused, they try to keep each point in view and so it is zoomed out. If this is the case, you can try to cut the distant points by some

[2019-07-08 11:52] rupeshchandgude commented on #4382
Thanks for reply. But I don't know how to generate ply file directly from realsense-viewer. Can you please give reference or code if any?

[2019-07-08 11:58] jb455 opened #4383 "Cameras non-responsive after applying PointCloud filter"
----------------------------------------------------------------------------------------------------

| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D400  |
| Firmware Version                   | Various including latest

[2019-07-08 11:59] rupeshchandgude commented on #4382
Thanks for answer. After zooming in, I can see the shapes similar to that are in original figures. But they are very noisy. It is very hard to recognize. Can you share any code snippets regarding to cutting out points based on distance?

[2019-07-08 12:19] eMrazSVK commented on #4382
@rupeshchandgude You could use [this](http://docs.ros.org/kinetic/api/librealsense2/html/rs-pcl_8cpp_source.html) as some kind of guide. It uses PCL library to apply the PassThrough filter.

[2019-07-08 12:22] ambersun1234 commented on #4381
@eMrazSVK
It is just a typo of the article. I've updated the article.

[2019-07-08 12:27] eMrazSVK commented on #4381
Maybe try to look at this #1091
Does your device get recognized as an USB3 device? You can check with `dmesg` command.

[2019-07-08 12:53] a17sans commented on #4382
Actually I do exactly the same thing that you do in your temp.txt but from the camera directly without using .bag just like this example : [export_ply](https://github.com/IntelRealSense/librealsense/blob/master/wrappers/python/examples/export_ply_example.py)

But I have also tried to export a ply from a .bag and I have exactly the same results ...
Do you concatenate all the .ply you have to get a

[2019-07-08 13:02] eMrazSVK commented on #4382
Anyways, I found my old work. [Here](https://github.com/eMrazSVK/JetsonSLAM/blob/develop/lib/RS_PCL_converter.cpp) is how you convert RS frame to PCL cloud. Then take a look [here](https://github.com/eMrazSVK/JetsonSLAM/blob/develop/lib/jetSlam_registration_toolkit.cpp#L11) so you see how to use PCL PassThrough filter. Hope it helps.

[2019-07-08 13:18] cottev opened #4384 "IMU on Android"
Hi,

I would like to know when is planned the support of the IMU for the camera D435i on Android ?

Best Regards,
Stephane

[2019-07-08 14:19] zinan93 commented on #4350
I also have the same issue, cannot see d435

[2019-07-08 14:27] RealSenseCustomerSupport commented on #4308
----------------------------------------------

Hi @ronzeman99 ,

Are you going to use your own method to calibrate the intrinsics and replace our calibration data in your use case?
You prefer to have the custom calibration capability like D400 camera?

[2019-07-08 14:48] rcohe032 opened #4385 "Creating Matlab mex files with realsense library"
----------------------------------------------------------------------------------------------------

| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | { D415 } |
| Firmware Version                   | (05.11.06.250) |
| Op

[2019-07-08 15:17] SlavikLiman commented on #4374
Hi @ArtlyStyles ,
Currently we don't offer discounts for college students.

[2019-07-08 15:28] hpf9017 commented on #4341
when I run the cmake ..
it stay at “Building with TM2” for a long time.
I think it took more than 10 minutes with my internet speed.
actually, I went to do others things,
then come back it finally finished.

[2019-07-08 16:11] JoeD1557 commented on #4170
Yeah, I ended up being able to resolve the issue by replacing the board with one that had USB 3.0 A ports on it.

[2019-07-08 16:11] #4170 closed

[2019-07-08 16:21] kevindehecker commented on #4350
#sudo apt-cache policy  librealsense2 #pick v2.23
sudo apt remove librealsense2*
sudo apt-get install librealsense2=2.23.0-0~realsense0.1166
sudo apt-get install librealsense2-dev=2.23.0-0~realsense0.1166
sudo apt-get install librealsense2-dbg=2.23.0-0~realsense0.1166
sudo apt-get install librealsense2-gl*=2.23.0-0~realsense0.1166
sudo apt-get install librealsense2-udev*=2.23.0-0~realsense0.1166
s

[2019-07-08 16:48] maipbui commented on #4354
Copy all header files you need to 1 folder has same path with your solution. e.g. header files are in "include" folder and my project is "measure".
![image](https://user-images.githubusercontent.com/39065593/60827493-55444700-a17e-11e9-81e5-1325be717f72.png)
Then go to Project &rightarrow; Properties &rightarrow; C/C++ &rightarrow; Additional Include Directories &rightarrow; type in $(SolutionDir)

[2019-07-08 17:20] atyshka commented on #4350
Yeah having this issue too. However it seems that the rules are actually not installed. Running `ls /etc/udev/rules.d/` does not show anything related to realsense, and yet the device seems to work fine except for the viewer warning

[2019-07-08 19:20] sshhj89 opened #4386 "Streaming IMU and image data"
* Before opening a new issue, we wanted to provide you with some useful suggestions (Click "Preview" above for a better view):

    * Consider checking out SDK [examples](https://github.com/IntelRealSense/librealsense/tree/master/examples#sample-code-for-intel-realsense-cameras).
    * Have you looked in our [documentations](https://github.com/IntelRealSense/librealsense/tree/master/doc#useful-lin

[2019-07-08 19:41] kevindehecker commented on #4350
They are here: https://github.com/IntelRealSense/librealsense/blob/master/config/99-realsense-libusb.rules
If you copy that file into /etc/udev/rules.d/ and reload the udev rules: `udevadm control --reload-rules && udevadm trigger` maybe it will work again...

[2019-07-08 20:20] gtiongco95 commented on #4350
Same as other people. No rules installed. Warning appears. Camera not detected/working.

[2019-07-08 22:35] ArtlyStyles commented on #4316
@kehanXue

Can you share how you installed all librealsense on TX2? I have problem to install the software package.

[2019-07-09 00:50] xhuan28 commented on #4379
Thanks for your suggestion. Yes, I can get accel and gyro info from pose frame with T265. However, I am thinking of how should I get the information from D435i camera on which there is no pose frame.

[2019-07-09 02:12] ronzeman99 commented on #4308
Hi @RealSenseCustomerSupport,

In my use case I would calibrate the intrinsics myself and then replace your calibration data.
It would also be very useful to have the support for custom calibration like the D400 has.

Cheers,
Ron

[2019-07-09 02:48] radfordi commented on #4331
@orshefi, above you are seeing the Myriad 2 boot loader (`3e7:2150`) which runs from ROM before we upload the T265 firmware.   While we investigate why certain hubs are having this issue, can you confirm if that unplug/re-plug work-around works for you?

[2019-07-09 03:25] orshefi commented on #4331
Hi @radfordi,
Repluging works.
You mentioned that it doesn't work with certain hubs, can you specify the ones that it does work with?

[2019-07-09 04:41] HiOtto commented on #2637
Is it possible to run the sensors at another framerate while triggered by external pulse  (e.g. 20/40 fps, instead of 15/30/60/90)?

[2019-07-09 05:30] HiOtto opened #4387 "Frame Rate"
_Originally posted by @dorodnic in https://github.com/IntelRealSense/librealsense/issues/2945#issuecomment-449555411_

Question:

1. How you align the 250/400Hz imu data with15/30/60/90 Hz image data when 15N can not be exactly divisible by 250/400 ?
2. Is it possible to run the rgb/depth sensors at another framerate while triggered by external pulse (e.g. 20/40 fps, instead of 15/30/60/90) ?

[2019-07-09 06:13] RealSenseCustomerSupport commented on #4107
----------------------------------------------

@neocubist If no other questions will close this issue accordingly. Thanks!

[2019-07-09 06:38] RealSenseCustomerSupport commented on #4196
----------------------------------------------

@nourbouabena If no other question will close the issue accordingly. Thanks!

[2019-07-09 06:53] RealSenseCustomerSupport commented on #4191
----------------------------------------------

@evercoast-smm Could you please update if you still need support on this? Thanks!

[2019-07-09 06:55] hosseinpg opened #4388 "Using librealsense as external library in Ubuntu"
I have a D435 camera and I'm trying to use librealsense library as external source. Unfortunately, I can not find related ...config.cmake file or the related module. Are they provided? If not how can I make use of librealsense as external library?

[2019-07-09 06:57] RealSenseCustomerSupport commented on #3890
----------------------------------------------

@evercoast-smm If no other questions about this issue, will close it accordingly. Thanks!

[2019-07-09 06:57] RealSenseCustomerSupport commented on #4131
----------------------------------------------

@matspetter If no other questions about this issue, will close it accordingly. Thanks!

[2019-07-09 07:02] RealSenseCustomerSupport commented on #4044
----------------------------------------------

@scizors If no other questions will close it accordingly. Thanks!

[2019-07-09 07:07] #3890 closed

[2019-07-09 07:07] #4044 closed

[2019-07-09 07:07] #4107 closed

[2019-07-09 07:07] #4131 closed

[2019-07-09 07:07] #4196 closed

[2019-07-09 07:16] ambersun1234 commented on #4381
@eMrazSVK
Result from `dmesg` is as follows
[code]
Not sure how to extract some useful information from `dmesg`, so I just copy some lines that looks improtant. I cannot tell whether the device get recognized as USB3 device or not, so I tried [another method](https://askubuntu.com/questions/604158/how-do-i-tell-if-a-usb-thumb-drive-is-usb-3-0).
I get this:
[code]
According to the [article](https:/

[2019-07-09 07:20] peterhinson commented on #4336
Shoot! You could try enabling all logging levels in libtm to narrow it down. Is the program entering ERROR_STATE prior to the seg fault? I suspect something is left dangling/stale in that code path- in my case, the driver returns bogus sensor readings and fails to resync the clock even after exiting ERROR_STATE.

It's interesting that the ROS wrapper doesn't exhibit the issue. By the looks of the

[2019-07-09 07:41] eMrazSVK commented on #4336
@peterhinson Thanks, will try that libtm logging to trace the error. And based on the output in terminal - yes ERROR state is entered prior to seg fault, but that might be only the output, I do not know about exact behaviour, must check that.

Btw I have a feeling, that in ros-wrapper, they just shutdown the node and create new one before the segmentation fault happens. In my opinion, it should so

[2019-07-09 07:49] eMrazSVK commented on #4381
@ambersun1234 You can see in the dmesg (after reconnecting the camera) something like New SuperSpeed device. High Speed is USB2 and Super Speed is for USB3. That's how you can find out. But method you used seems legit. Did you use some kind of USB hub or are you directly connecting it to Jetson? Are you using some kind of 3rd party carrier board? Try changing the cable maybe. But thats just some s

[2019-07-09 07:52] eMrazSVK commented on #4379
What about [this](https://github.com/IntelRealSense/librealsense/blob/master/doc/d435i.md#api)? There is clearly a method `get_motion_data()`.

[2019-07-09 08:00] eMrazSVK commented on #4386
Use `poll_for_frames()` function. It will not block the thread. It is used in [this example](https://github.com/IntelRealSense/librealsense/blob/master/examples/multicam/rs-multicam.cpp). The example considers using multiple cameras, but I hope the principle is the same. The elementary difference is:

- `wait_for_frames()` waits until frames are available and blocks main loop until frames are rece

[2019-07-09 08:29] rupeshchandgude commented on #4382
I have solved the issue. There is small bug in ply file generation code.
I just comment out below line in temp.txt file.
`config.enable_stream(rs.stream.depth, 1280, 720, rs.format.z16, 30)`
Which result into correct output. Thanks for your help

[2019-07-09 08:29] #4382 closed

[2019-07-09 08:32] danneboom commented on #4351
Same problem here after 2.24 (2.24.0-0~realsense0.1243) update. Before, in **QT** I could link with

     LIBS += -lrealsense2

Now, it says

    /usr/bin/ld: cannot find -lrealsense2

and also `LIBS += -L/usr/lib/x86_64-linux-gnu -lrealsense2` or `LIBS+=/usr/lib/x86_64-linux-gnu/librealsense2.so` does NOT work. Using pkg-config like

    CONFIG+=link_pkgconfig
    PKGCONFIG+=realsense2

does not

[2019-07-09 08:51] ambersun1234 commented on #4381
@eMrazSVK
I connect `realsense` and `tx2` via the cable which is provided along with realsense. I didn't use any 3rd party carrier board.

The only thing I have connected is just `realsense` and `tx2`.
As for the software part, I only install `opencv` from source, and update `tx2` via `jetpack`.
Not sure those operations will effect `realsense` or not.

I've got another `realsense` here, so maybe

[2019-07-09 09:00] a17sans commented on #4382
Did you set particular parameters for your camera ? Will you try to get only one ply file from your .bag ?

Thanks

[2019-07-09 09:22] ev-mp commented on #4386
@sshhj89 hello,
You need to consider the following - using synchronous API calls (`wait_for_frames`, `poll_for_frames`, `rey_wait_for_frames` streamlines the application logic flow. But the caveat is the processing required in the user's code. So if, in the above segment, the OpenCv part takes about 30msec to process than the theoretically the FPS is bounded to 33Hz. An actually it will be lower d

[2019-07-09 09:27] ev-mp commented on #4384
@cottev hello,
Delivering IMU capability to android platform is a scheduled feature. I'm sorry but I am not able to provide further details at this time.
Please follow the (bi-weekly) SDK releases and notifications.

[2019-07-09 09:30] cottev commented on #4384
Hi,

Thanks for this reply but could you tell me if it is a matter of weeks, months or years ?
We would need this info to choose the approach of our algo based on your camera.

Br,
Stephane

[2019-07-09 09:40] ev-mp commented on #4383
@jb455 hello,
Please start with adding input check into the code as currently it just assumes that `frame.DepthFrame` actually constitutes a depth frame. The same would apply to the result of `frame.DepthFrame.ApplyFilter(pc)` as the casting does not verify the underlying type.

Regarding the device's removal from the device manager - can you provide Windows system logs from the integrated D410 ca

[2019-07-09 09:46] ev-mp commented on #4381
@ambersun1234 hello,
Based on the input the SDK may not recognize the connected realsense devices:

Please perform the following:
- Verify that you have the udev rules installed [as required](https://github.com/IntelRealSense/librealsense/blob/master/doc/installation.md#prerequisites):

- Build and run SDK's `rs-enumerate-devices` tool and share the output.

[2019-07-09 10:14] hangmann commented on #4331
Hi orshefi,
replugging works for me, too. But I have the same problem as stated above. Personally I am using the Icy Box USB 3.0 Hub IB-AC6110

[2019-07-09 10:48] xpetresx commented on #3592
Dear developers,
I would like to point out, that the masking feature would be very handy. In our particular application that concerns underground operations of mobile robots, when the robot carries its own lightsource. The image from T265 can look like follows:
![fishEyeCam](https://user-images.githubusercontent.com/11027830/60881404-e5998f00-a245-11e9-80f9-7b2b7a2185df.jpg)

As the front legs of

[2019-07-09 10:56] jb455 commented on #4383
Hi, thanks for your reply. I've changed the code like so:
[code]
It throws at "Points not valid" and the camera is still dying.
I don't have one of the other devices to hand at the moment, but when I do, what exactly is it you want? Relevant stuff from the Windows Event Viewer?

[2019-07-09 11:07] ev-mp commented on #4388
@hosseinpg hello,
The required cmake configuration files for external compilation and linkage are deployed via `sudo make install` or `sudo apt install librealsense2-dev` commands depending on the build/deployment schemes selected.

Adding librealsense2 to external cmake as a build dependency then can be done with the standard CMake notation. See the comment by @radfordi [here](https://github.com/

[2019-07-09 11:19] ev-mp commented on #4387
@HiOtto hello,
1. Librealnsense SDK provides a syncer class utility that aligns the frames temporally relying on stream-specific heuristics and the different timestamps provided. The syncer tries to minimize the anticipated latency while delivering temporally-coherent framesets. There are certain cases, such as synchronizing Depth and IMU, where the basic fps rate differ by an order of magnitude.

[2019-07-09 11:28] ev-mp commented on #4369
@itachi134999 hello,
The 'recommended firmware version' is the minimal stable version that delivers the set of capabilities advertised in the associated Librealsense release. Using firmware version older than this one may result in missing functionality and or being affected by the known issues.

The "ASIC serial number is the one assigned to the main board and also the one that is reported via "l

[2019-07-09 11:30] ev-mp commented on #4368
@quxichao , I'm not sure I understand what do you mean by that.
Can you be more specific and elaborate the actual use-case and the concern with the positioning/direction info ?

[2019-07-09 11:31] ev-mp commented on #4356
@antoniodourado hello,
Was the reference provided by @AnnaRomanov  helpful ?

[2019-07-09 11:40] ev-mp commented on #4350
@gtiongco95 hello,
The udev rules files will be installed into the ``/etc/udev/rules.d" and/or "/lib/udev/rules.d" based on the type of installation selected (manual or via debian packages accordingly).
The purpose of this notification is to alert the user in case one has outdated or even multiple udev files in those locations which can lead to unexpected behavior.

Make sure to follow pickup the

[2019-07-09 12:56] descamps2 opened #4390 "Missing points on tube borber"
I am trying to measure a tube diameter using a D415, but i see a lot of missing point on the tube border. The D415 is placed parallel to the tube orientation (see the image attached from realsense viewer), so there should be little occlusion, even on the borders.

I understand that the surface on the border of the tube can be more difficult to detect, because the reflection from the laser projecto

[2019-07-09 13:05] HiOtto commented on #4387
1. "minimize the anticipated latency" means there is an nonconstant latency between the imu timestamp and the image/depth timestamp provide by the driver ?
If the imu is f1 Hz and image is f2 Hz, with f1 >f2, the latency is supposed to vary between +-1/(f1) s ?
2. I want to sync the image/depth data with a external pulse signal without using imu data of realsense, the pulse is from the system cloc

[2019-07-09 13:20] antoniodourado commented on #4356
I'm still testing it!

Will be back soon with results.

Em ter, 9 de jul de 2019 08:31, ev-mp <notifications@github.com> escreveu:

[2019-07-09 13:59] AntoineWefit commented on #4390
If you haven't already, I would advise you to tune your camera's parameters, those are saved in a configuration file (.json).
This can be done with the Intel RealSense Viewer. You'll then need to apply these parameters before streaming.
Tell us if you need more details about that !

I'm very confident that a finely tuned camera will give you much better results than what you've shown :)

[2019-07-09 14:09] TanmayPathak opened #4391 "D435i IMU problem"
----------------------------------------------------------------------------------------------------

| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D435i |
| Operating System & Version |   Win 10 |
| Language

[2019-07-09 15:09] hosseinpg commented on #4388
Thank you for your replay dear @ev-mp. I'm a little bit confused. I have installed the realsense peckage using the description provided in this link: https://github.com/IntelRealSense/librealsense/blob/master/doc/distribution_linux.md
In this case I have tested the viewer and it is working. Also my projects cmake file can find the realsense2 package using the find_package function. But I could not

[2019-07-09 16:03] #4097 closed

[2019-07-09 17:10] radfordi commented on #4388
Hi @hosseinpg, you likely just need the GLFW headers.  In case you don't have the GLFW or `librealsense` headers, can get them with:
[code]
Then, in your `CMakeLists.txt` file you would do something like this:
[code]
You might also need OpenGL, so you'd add:
[code]

[2019-07-09 17:33] imoss15 opened #4392 "Launching mavros px4.launch causes Realsense T265 '/camera/odom/sample' topic's pose to drift significantly"
----------------------------------------------------------------------------------------------------

| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | { T265} |
| Firmware Version                   | (Open RealSense Viewer

[2019-07-09 17:59] RealSenseCustomerSupport commented on #4148
----------------------------------------------

Hi

Yes, that's the known issue. Can you please check the firmware by using LibRealSense?

Thanks

[2019-07-09 18:04] matkatz commented on #4215
@xtrawurst sorry for the late response.
You are more than welcome to share your code or any suggestions.
I think that this issue appeared when I changed the backend from USB requests to USB bulk transfer.
The reason that I'm trying to avoid from going back is that on the devices that doesn't show this issue the performance is much better. i.e. I can stream HD depth + HD IR + 960x540 RGB all @ 30 F

[2019-07-09 18:20] beduffy commented on #3917
I'm also interested in this for the python wrapper:

`config.enable_stream(rs.stream.pose)`  # crashes here `RuntimeError: Couldn't resolve requests`

if I try to have an empty config I get
`pose = frames.get_pose_frame()`
pose is a null pointer so later on `pose_frame = np.asanyarray(pose_frame.get_data())` crashes

Similar with accel and gyro.
`AttributeError: 'pyrealsense2.pyrealsense2.composit

[2019-07-09 21:10] #4129 closed

[2019-07-09 21:10] #4243 closed

[2019-07-10 01:33] suger-csj commented on #2652
Hello, I have the same problem. Can you post the complete code? Thank you very much！

[2019-07-10 01:34] RealSenseCustomerSupport commented on #4336
----------------------------------------------

Hi @eMrazSVK,

1. which librealsense version do you use now?
2. Per below message, it should be due to the USB connection. You plan to design a mechanism to handle the disconnect event?
09:45:15.797 [13548] [E] Device-17A0: FW crashed - got error in stream endpoint thread function: status = -1 (LIBUSB_ERROR_IO), actual = 0

3. For libtm host log, you

[2019-07-10 03:45] ambersun1234 commented on #4381
@ev-mp
I've run `./scripts/setup_udev_rules.sh`
When i run `rs-enumerate-devices`
it shows

I'm pretty sure that realsense is connected to tx2 via cable
and tx2 did recognized it as USB3 via `lsusb`

[2019-07-10 04:16] doronhi commented on #4039
@YoshuaNava ,
Your notes sound valid and it could be that this depend is an overkill and can be replaced.
`package.xml` is part of the ROS installation and librealsense package is still not available as a ROS debian package.
That in mind, it would help to validate your notes if you could please describe the operations that triggered reading the file `package.xml`?

[2019-07-10 04:58] ambersun1234 commented on #4381
@ev-mp
I've run `./scripts/setup_udev_rules.sh`
`rs-enumerate-devices` result is as follows
[code]
I connect `realsense` with `tx2` via provided cable on USB3.0, but it seems that `realsense` get recognized as USB2.0.
By the way, I don't have extra `realsese` for AB test.
Should I update `realsense`'s firmware? Because I found some case that may cause error.
Thanks.

[2019-07-10 05:31] yuemasy commented on #3139
Hi,
@RealSenseCustomerSupport
I am also confused with choosing D415 or D435. Currently to get better depth quality, I used D415 but D435 has wider fov than D415.  So I am looking for which is my best choice. I found this info about tuning D435 is very useful and could you please give more info about D415? Thank you.

[2019-07-10 06:00] agrunnet commented on #3139
Did you check out the following link?
https://dev.intelrealsense.com/docs/tuning-depth-cameras-for-best-performance

[2019-07-10 06:02] ev-mp commented on #4391
@TanmayPathak hello, IMU raw data inherently exhibits noisy characteristics.
Please take a look at [rs-motion](https://github.com/IntelRealSense/librealsense/tree/master/examples/motion) demo that continuously integrates IMU data to produce orientation angles/matrix.
Duplicate of #4356 .

[2019-07-10 06:22] YoshuaNava commented on #4039
Hi doronhi,
I'm currently generating Debian packages of librealsense and realsense2_camera. While running  rosdep to install all the pkg depends, prior to generating debians, I observed that it tried to install Linux image generic.

I tried removing it locally, and it didn't seem to cause any issues.

[2019-07-10 07:25] malith1992 commented on #4188
@rijo11811 Can you please tell me how you create the link for the pyrealsense2. Because I have the same issue.

[2019-07-10 07:29] SirDifferential commented on #4375
Did you by chance get your realsenses working on your raspberry 4? I've been debugging them for a few days and posted my findings in this thread: https://github.com/IntelRealSense/librealsense/issues/4272#issuecomment-508665141

[2019-07-10 08:01] BriceRenaudeau opened #4393 "How is defined T265 confidence ?"
Hello,
I would like to know how is the confidence given by the t265 is defined.
- Is it related to the position or the motion?
- Is it related to the number of feature in images?
- Is it related to image histogram?
- Is it related to accel/gyro measurements?

In the documentation, I just found an introduction to the T265 with no mention of the confidence.

[2019-07-10 08:04] yuemasy commented on #3139
Hi @agrunnet Yes, I have read it and try to change setup. Thank you.
@RealSenseCustomerSupport
I have two D435 and one D415 device, I put each camera in front of a wall with a 2.23m distance . I found that the two D435, one display about 2.35m(this one I test with depth quality tool, RMS err=0.06-0.07), another shows 2m. The error is too large. D415 value is correct. How can I solve the problem? T

[2019-07-10 08:14] baozinihao321 commented on #4375
@SirDifferential  Thanks for your work and suggestion. I will try your methods. And could you explain more about "latomic" (I am not familiar with cmake). Should I add     set(CMAKE_CXX_LINK_FLAGS "${CMAKE_CXX_LINK_FLAGS} -latomic") in the CMakeLists.txt? Or Something else? Thanks!

[2019-07-10 08:15] RealSenseCustomerSupport commented on #4064
----------------------------------------------

Hi @Drawodash,

Is the issue clarified? which OS version did you use? Did you follow the instruction in 't265_stereo.py'?

    **$ apt-get install python3-venv # install python3 built in venv support**
    **$ python3 -m venv py3librs # create a virtual environment in pylibrs**
    **$ source py3librs/bin/activate # activate the venv, do this from ev

[2019-07-10 08:39] SirDifferential commented on #4375
I didn't try editing the CMake files and instead compiled only one example by calling gcc manually. With Cmake, I guess you need to add `-latomic` to the link flags for all the examples and tools as they link against `librealsense.so`. I think the file you need to edit is `librealsense/examples/CMakeLists.txt` and change this block:

[code]

to

[code]

and if you build the graphical examples, the

[2019-07-10 08:57] JMonkey94 opened #4394 "Intel Realsense D435 supporting SDK"
I wonder what else SDK that Intel Realsense D435 camera can be use other than Nuitrack and Realsense SDK 2.0. I want to use the camera for **skeletal detection** and **Face recognition** and also I was suggest to use Nuitrack SDK but I was found Openpose as well. I wonder what else SDK which have the feature I want and also open source or trial that i can try with my camera.

if possible i wish th

[2019-07-10 09:04] baozinihao321 commented on #4375
@SirDifferential It works !! after changing the Python binding CMakeLists.txt. Thank you so much!

[2019-07-10 09:04] #4375 closed

[2019-07-10 09:09] Drawodash commented on #4064
hi,

I was using a Ubuntu console from a Windows10 OS. then i tried from a jupyter notebook and it worked correctly. so i think my problem was that the linux terminal didn't recognize the camera.

[2019-07-10 09:16] jan-robot opened #4395 "How can we simply rotate 90° a color frame ?"
Hi,

I use a realsense D415 camera vertically.
I checked the examples provided, and I would like to do the same thing as "capture" but with a 90 ° rotation in the rendering. Is there a simple way to do that?
I'm trying to find more information on the internet but the only similar thing I found was: https://github.com/IntelRealSense/librealsense/issues/3249

But it was only for the depth and I did

[2019-07-10 09:24] SirDifferential commented on #4375
If you got your realsense working, I'd like to know if it also works with 1280x720 depth feed. I'm occasionally getting the minimal examples streaming, but it's very unrealiable, and seems to work less often with higher resolution. Often times sending specific commands seems to cut the connection (emitter enable, use preset, get fov...)

[2019-07-10 09:43] descamps2 commented on #4390
Depending on the illumination, i can most of the time get better results than the images i have shown, that was mostly to illustrate the problem.
For the parameter tuning, i have tried to tune the exposure and auto exposure (most important, i need to increase the mean intensity set point for best result), the projector power (important indoor, much less outdoor), and the various presets for depth

[2019-07-10 11:16] baozinihao321 commented on #4375
@SirDifferential It seems that I can only use 640x480 depth feed. Maybe the USB3.0 is recognized as USB2.0 and the SDK still use compatible mode.

[2019-07-10 14:58] PaulKrush commented on #3806
Similar:
https://github.com/IntelRealSense/realsense-ros/tree/occupancy-mapping/occupancy

[2019-07-10 15:29] AntoineWefit commented on #4390
I understand your concern, it is indeed tricky to find a set of settings that works for a variety of conditions. Lighting conditions are a big deal with these cameras, especially when we are talking about variable conditions.
I guess that trying to tune the auto-exposure is a good start. If you're willing to do so, you could also add some physical filters on your camera. Try [these long-pass IR fi

[2019-07-10 15:29] eMrazSVK commented on #4336
Hi @RealSenseCustomerSupport

1. I use 2.23, but I triead 2.24 and no success

2. I was planning it, but for my project, it is not so important right now, so I dropped this interest for now

3. Thanks, I can try this at least

Btw this happens also on standard Ubuntu laptop as well.

Any additional information I can provide:

- I get segmentation fault when I unplug T265 while running example `rs-

[2019-07-10 18:11] YunfanZhang42 commented on #4384
Following up on this issue here. Our team also needs this feature and would be interested in knowing the release date for IMU support on Android.

[2019-07-10 19:02] maipbui opened #4397 "Run SDK examples from .bag file / Convert bag file to video format (mp4, avi)"
----------------------------------------------------------------------------------------------------

| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | {  D400 } |
| Firmware Version                   | (Open RealSense View

[2019-07-10 19:29] ev-mp commented on #4343
@atyshka ,@jpapon, did you manage to deploy and test the package ?

[2019-07-10 19:33] ev-mp commented on #4333
@vhanded hi, requesting IR stream to produce and RGB image requires to use IR index 0.
Please change the index and update

[2019-07-10 19:35] ev-mp commented on #4322
@paulyang1990 , any update ?

[2019-07-10 19:53] jpapon commented on #4343
@ev-mp Yes, it worked fine for me on Kubuntu 18.04.02

[2019-07-10 20:55] charliecb opened #4398 "SDK error compiling/linking [C++]"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       |D435|
| Firmware Version                   |05.11.06.250|
| Operating System & Version |Ubuntu 14.04|
| Kernel Version (Linux Only)    |4.4.0-141|
| Platform

[2019-07-10 21:50] OOyindamola opened #4399 "modinfo: ERROR: Module hid_sensor_gyro_3d not found"
----------------------------------------------------------------------------------------------------

| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D435i |
| Operating System & Version |   Ubuntu Mate armv7l  |
| Kernel

[2019-07-10 22:08] #4255 closed

[2019-07-10 23:31] guikunchen commented on #4341
@hpf9017 hi, I meet the same problem looks like the image you had post. "Building with TM2" takes 30 minutes or more, when it finished, the problem emerge. Could you give me some help? Thank you for your time.

[2019-07-11 02:02] RealSenseCustomerSupport commented on #4064
----------------------------------------------

Hi @Drawodash,

It's good it's working finally. I guess Ubuntu in Windows 10 is not well integrated. Previously, I tried parallels to install a different OS on MacBook and also faced the USB camera not detected issue.
T265 Ueeds to be recognized in two stage. 1) MA2X5X USB device recognized, 2) After FW loaded, T265 USB device recognized

[2019-07-11 02:55] RealSenseCustomerSupport commented on #4042
----------------------------------------------

@nicovanduijn Did you get chance to try FW v5.11.6.250? Looking forward to your update. Thanks!

[2019-07-11 02:56] RealSenseCustomerSupport commented on #4181
----------------------------------------------

@LalitPradhan Could you please update if you still need support on this? Thanks!

[2019-07-11 03:01] RealSenseCustomerSupport commented on #4043
----------------------------------------------

@xen20 How about your side? Do you still have questions for this ticket?

[2019-07-11 03:02] RealSenseCustomerSupport commented on #4081
----------------------------------------------

@themikem Did you get it through with the latest firmware? Looking forward to your update. Thanks!

[2019-07-11 03:04] RealSenseCustomerSupport commented on #4193
----------------------------------------------

@Vaibhavjolly Any other questions for this issue? Looking forward to your update. Thanks!

[2019-07-11 03:07] hpf9017 commented on #4341
@guikunchen this is what happened when I took this picture.
then I changed the internet with a VPN and then it successed.

[2019-07-11 03:36] RealSenseCustomerSupport commented on #4111
----------------------------------------------

@alexex0723 Could you please update if you still need support on this? Thanks!

[2019-07-11 03:37] RealSenseCustomerSupport commented on #4154
----------------------------------------------

@jinxzzz If no other questions will close this ticket. Thanks!

[2019-07-11 03:38] RealSenseCustomerSupport commented on #4120
----------------------------------------------

@chankamlam Could you update? Thanks!

[2019-07-11 03:39] RealSenseCustomerSupport commented on #4167
----------------------------------------------

@filipematosinov If no other questions about this ticket, will close it accordingly. Thanks!

[2019-07-11 03:40] RealSenseCustomerSupport commented on #4191
----------------------------------------------

@evercoast-smm No response got from you. If no other questions about this issue, will close it accordingly. Thanks!

[2019-07-11 03:41] nevynwong opened #4400 ".bag file post-processing"
| Camera Model                       | D415 |
| Firmware Version                   | FW05.11.06.250 |
| Operating System & Version | Win 10 |
| Platform                                 | PC |
| SDK Version                            | 2.21 |
| Language                            | matlab |

I want to do depth post-processing on all the depth frames that have been recorded in the.bag file, but I do

[2019-07-11 04:03] #4154 closed

[2019-07-11 04:03] #4167 closed

[2019-07-11 04:03] #4191 closed

[2019-07-11 05:19] ev-mp commented on #4399
@OOyindamola  hello,
The debian distribution currently supports [X86 architecture](https://github.com/IntelRealSense/librealsense/blob/development/doc/distribution_linux.md) PCs.
For ARM-based board check the [Building from Source guide](https://github.com/IntelRealSense/librealsense/blob/development/doc/installation.md)

[2019-07-11 05:25] ev-mp commented on #4397
@maipbui hello,
You can load and replay the bag files directly via realsense-viewer.
To see how to load and replay bag files in code check the [rs-record-playback](https://github.com/IntelRealSense/librealsense/tree/master/examples/record-playback) tutorial.

[2019-07-11 05:27] rijo11811 commented on #4188
@malith1992 We need to dive into the concept of links in Linux to figure out the issue. I used a work around.
i copied my python script into the original location of pyrealsense2.so. PFB the same on my raspberrypi:

****@icets-ubuntu-mate:~/Desktop/librealsense-master/build/wrappers/python$

I had many pyrealsense2 so files here with names like "pybackend2.cpython-36m-aarch64-linux-gnu.so
" . Rena

[2019-07-11 05:28] RealSenseCustomerSupport commented on #4323
----------------------------------------------

Hi @malith1992,

Is the issue resolved based on @eMrazSVK suggestion?

[2019-07-11 05:37] ev-mp commented on #4372
@wenxyong , the application flow and also the attached log is not informative - what is the console output when the error occurs ?
One thing I noticed, though, is that you seem to start a new pipeline when event is fired.
In general, establishing a pipeline allocates all the internal resources and activates Host-Device streaming, therefore creating a pipeline should be performed only once on initi

[2019-07-11 05:37] maipbui commented on #4397
Hi @ev-mp ,
Thanks for your reply.
I mean I want to run SDK examples (e.g rs_align, rs_measure etc) from pre-recording *.bag files. Before I always plugged the camera in, run the example. Now I don't have the camera and I want to run SDK examples from my pre-recording *.bag files. How should I do it?

[2019-07-11 06:28] malith1992 commented on #4323
@RealSenseCustomerSupport @eMrazSVK  This code [example](https://raw.githubusercontent.com/IntelRealSense/librealsense/master/wrappers/python/examples/t265_stereo.py) is not running properly

[2019-07-11 06:46] RealSenseCustomerSupport commented on #4206
----------------------------------------------

@jb455 The latest SDK v2.24 now can support to new firmware update tool for cross platforms including windows: https://github.com/IntelRealSense/librealsense/tree/master/tools/fw-update
Please have a try and feedback. Thanks!

[2019-07-11 07:31] pisuke30405 opened #4404 "rotate hte camera"
| | |
|---|---|
|**librealsense**|2.21.0 RELEASE|
|**OS**|Windows|

Please provide a description of the problem

[2019-07-11 07:33] aPonza commented on #4341
@guikunchen @hpf9017 your problem is definitely different from mine, I don't get to "Building with TM2" at all, and in fact it's set to **not** build with TM2, currently. I'd suggest opening a separate issue if yours is still not resolved.

[2019-07-11 07:41] malith1992 commented on #4391
@ev-mp from the [rs-motion](https://github.com/IntelRealSense/librealsense/tree/master/examples/motion) example, we can get angles of two axis only. Isn't it ?

[2019-07-11 08:15] jb455 commented on #4206
Looks perfect, thanks!

[2019-07-11 08:15] #4206 closed

[2019-07-11 08:16] RealSenseCustomerSupport commented on #4217
----------------------------------------------

@taletovic @zhuzunjie17 Did you try "Intel.Realsense.CustomRW -g" to see if can reset the calibration to default gold factory setting?

[2019-07-11 08:41] jb455 commented on #4383
I've tried twice to get to zendesk to submit this with no luck...
Here's the log from a few seconds before the crash, then trying to restart the camera afterwards: https://pastebin.com/P8YfM4Gv
The only thing I could see in the event viewer that looked vaguely relevant from around the same time was a LiveKernelEvent which mentioned USBHUB3 with the signature:
[code]
I can share the full event priv

[2019-07-11 08:45] yjhtc007 opened #4405 "Can't open the D435 color camera using LabVIEW"
Required Info:
Camera Model - D435
Operating System & Version - Win 10 64bit
Language - LabVIEW 2017 64bit

Objectives:
I would like to open the D435's color camera using LabVIEW

My problem :
I would like to open the D435's color camera using LabVIEW, and I using the 'RealSense_HelloWorld_Depth_and_Color.vi' downloaded from https://github.com/IntelRealSense/librealsense/tree/master/wrappers/labvi

[2019-07-11 08:52] RealSenseCustomerSupport commented on #4057
----------------------------------------------

@filipematosinov Did you get it through now? Any other questions? Looking forward to your update. Thanks!

[2019-07-11 08:54] RealSenseCustomerSupport commented on #4127
----------------------------------------------

@Samvid95 Did you get it through with dorian3d's suggestion? Any other questions? Looking forward to your update. Thanks!

###

[2019-07-11 09:02] taletovic commented on #4217
@RealSenseCustomerSupport
Hello, yes I've tried reseting the calibration to default gold factory settings but without any success.
Could you please provide us default calibration of a working D435i like @zhuzunjie17 said?

After that we could try to tune it again with Dynamic Calibration Tool.
Thanks

[2019-07-11 09:13] RealSenseCustomerSupport commented on #4220
----------------------------------------------

@L1ttlewhite Seen from the dmesg you provided, D435i was detected. Aslo you can type "lsusb |grep 8086" to double check.  And could you please provide the result of "rs-enumerate"?

[33501.011845] usb 2-2: Manufacturer: Intel(R) RealSense(TM) Depth Camera 435i
[33501.011849] usb 2-2: SerialNumber: 903223053620

[2019-07-11 09:29] LITONG12345 opened #4406 "Mutil Intel D415"
Is it possible to call multiple Intel D415 cameras simultaneously in IntelRealSense UnitySdk?
Where can I change in your Demo?
Or do you have any good Suggestions? I am looking forward to your reply

[2019-07-11 09:54] agrunnet commented on #4405
It is because that demo is trying to open the LEFT stereo camera color channel, and not the third RGB sensor. The D435 is only monochrome so can’t open as a color channel.

[2019-07-11 10:42] ev-mp commented on #4343
Thank you for feedback!

[2019-07-11 10:42] #4343 closed

[2019-07-11 10:47] doisyg commented on #4393
Related to this issue: https://github.com/IntelRealSense/realsense-ros/issues/770

[2019-07-11 11:06] matkatz commented on #4091
@xtrawurst  let's continue the conversation on this thread.

I'm trying to revert the bulk transfer changes and use USB requests instead.
After removing some locks and extra copies I'm getting the same performance as I got with bulk transfer, hopefully without  the OOM error.
Since I'm not capable to reproduce that error on my devices I wanted to ask you to help me verify that I'm on the right dir

[2019-07-11 11:11] xtrawurst commented on #4215
@matkatz
Ok, thanks for the explanation. Let's continue on #4091 then

[2019-07-11 11:12] xtrawurst commented on #4091
@matkatz
Great, I'll give it a try and let you know!

[2019-07-11 11:42] BertrandKevin opened #4407 "RealSense error calling rs2"
Hello everyone,

I'm using 3 cameras D435 and connected to an UpBoard running Ubuntu 18.04 LTS. The problem is that when I launch my code, sometimes it works and sometimes it didn't (my code is launched with crontab).

When it works, I save 4 pictures and when it didn't work, I receive different message.

The picture bellow shows you the log of my crontab.
<img width="833" alt="Capture d’écran 201

[2019-07-11 12:02] patrickpoirier51 opened #4408 "T265 adding an auxiliary Serial & Power port for embedded systems."
Allow me to make a System Modification Request here, for adding an auxiliary Serial & Power port for embedded systems.

This port would offer a direct connection for smaller systems to read the signal on a serial interface without having to load any specific driver. This port would also be used for power using a 5 Volts regulated supply.

Here is what could be the auxiliary pinout:
- Vcc
- TX
- RX

[2019-07-11 12:07] #4292 closed

[2019-07-11 12:49] a17sans commented on #4378
I'm currently trying to do the exact same thing.

I managed (with a little change of setiings) to get a ply like this (it is a banana over the turning table) from one frame :
![image](https://user-images.githubusercontent.com/43274648/61051936-35ad5880-a3e2-11e9-9d59-06c618b064fd.png)

But as soon as we will have to get it from a .bag file / multiple frames, I'm afraid we will have to do some regi

[2019-07-11 12:58] ev-mp commented on #4397
@maipbui, please check tutorial link from the previous response :
The difference between the live vs playback configuration can be narrowed down to the pipe's configuration:

    **cfg.enable_device_from_file("a.bag");**
    pipe->start(cfg); //File will be opened in read mode at this point

Note that after modifying the initialization you'll also need to discover which stream types are available

[2019-07-11 13:06] a17sans commented on #4370
I managed to get a ply file quite correct with the following parameters (JSON file) :

[Custom.txt](https://github.com/IntelRealSense/librealsense/files/3382110/Custom.txt)

Here's a link to another discussion on the same subject : [#4378 ](https://github.com/IntelRealSense/librealsense/issues/4378)

[2019-07-11 13:13] kamadhenu87 opened #4409 "CustomRW on raspbian"
----------------------------------------------------------------------------------------------------

| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       |  D410  |
| Firmware Version                   | 5.9.11 |
| Operating Sy

[2019-07-11 13:17] MartyG-RealSense commented on #4406
A while ago, a RealSense community member called frenchtouchXR edited the **RsConfiguration.cs** script of the Unity wrapper to support recording with multiple cameras.  They made their edit beneath the **case mode.Record** instruction at line 42 of the script.

https://github.com/IntelRealSense/librealsense/blob/master/wrappers/unity/Assets/RealSenseSDK2.0/Scripts/RsConfiguration.cs#L42

Directly

[2019-07-11 13:19] osadeh opened #4410 "Linux: fails to link with librealsense2"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       |  D400 |
| Firmware Version                   | N/A |
| Operating System & Version |   Linux (Ubuntu 14/16/17)   |
| Kernel Version (Linux Only)    |  N/A |
| Platform

[2019-07-11 13:42] MartyG-RealSense commented on #4404
Could you provide more detail please?   Are you asking if it is okay to rotate the camera (for example, putting it side-on or facing downwards), or do you need a way to rotate the camera's image?   Thanks!

[2019-07-11 13:54] hpf9017 commented on #4341
@aPonza you can try to use cmake .. -DCMAKE_BUILD_TYPE=Release
according to [https://github.com/IntelRealSense/librealsense/blob/master/doc/installation.md](url)
in 'Building librealsense2 SDK'
I use your command 'cmake .. -DCMAKE_BUILD_TYPE=RelWithDebInfo', and get the same
fault with yours.

[2019-07-11 14:04] MartyG-RealSense commented on #4408
Thank you very much for your detailed feature request and sharing your project!  I should make clear that I am not an Intel employee, so the reply below is not representative of an official response, just a personal one.  I'm sure that the Intel personnel on this forum will be happy to contribute their own feedback.

Existing models in the RealSense range do not tend to receive significant hardwar

[2019-07-11 14:28] ev-mp commented on #4410
@osadeh hello,
Make sure to pull the latest v2.24 debian - "sudo apt update && sudo apt upgrade"
Reinstalling is also a viable option : " sudo apt purge librealsense2* && sudo apt install librealsense2-dev llibrealsense2-dbg ..."
Also make sure that you don't have multiple so versions installed, like in "/usr/local/lib/librealsense2*.."

[2019-07-11 14:39] aPonza commented on #4341
I don't understand how this makes sense, but it is correct. In relation to [this comment](https://github.com/IntelRealSense/librealsense/issues/4341#issuecomment-508347900), I'm also not sure, since it should have removed the cache with the listed command? Thank you @hpf9017!

[2019-07-11 15:22] chutsu commented on #1140
Why are the infrared imagers index-ed from 1? Also the [Wiki](https://github.com/IntelRealSense/librealsense/wiki/API-How-To#start-streaming-left-and-right-infrared-imagers) is wrong.

[2019-07-11 15:34] Tomatower commented on #3686
After seeing the identical issue; By accident I connected the camera to a USB2-only port.
Solved it by plugging the Camera into an USB3-Port.

Maybe the warning could be a bit clearer here :)

[2019-07-11 15:57] xtrawurst commented on #4091
@matkatz
Confirmed! I no longer see the issue on my Samsung Galaxy Tab S4, even when using Depth @ 1280x720 and RGB @ 1920x1080. Will test on other devices too.

Quick question: What's, roughly, the processing being done CPU-sided on each frame in libRS after the USB transmission completes? At full size capture the frame rate on my S4 is below 30 fps and I'm trying to figure out if it's
a) The USB

[2019-07-11 16:00] Alexander-Shamin opened #4411 "Error 0x80070005 - D435"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D435 |
| Firmware Version                   | FW Version: 5.9.13.0 |
| Operating System & Version |   Win 10  |

| SDK Version                            |  2.21, 2.22, 2.23

[2019-07-11 16:06] Alexander-Shamin commented on #4411
Update  Firmware Version to 5_11_6_250. Check some drivers:

- Intel RealSense D400 Series UWP Driver v6.1.160.14
- Intel RealSense D400 Series UWP Driver v5.1.160.24
- DMFT_Version 5.1.160.37
Nothing helps

[2019-07-11 16:27] osadeh commented on #4410
I did. I removed and purged all librealsense* packages, and then ran
[code]

Also tried it on a clean docker image - same results

[2019-07-11 17:28] ev-mp commented on #4391
@malith1992, that is correct. In an inertial system affected by G-Force only you can extract the actual Pitch and Roll angles. You also track the left-right rotation, but the initial Heading angle is arbitrary defined.

[2019-07-11 17:59] maipbui commented on #4397
I got it run as I wanted now.
I need to save RGB stream to analyze some data. Is it possible to convert bag file to video format like `mp4` or `avi`?
![image](https://user-images.githubusercontent.com/39065593/61073522-9d17d800-a3e3-11e9-8e79-3983cdb29319.png)
For example, can I save the color stream of `depth_under_water.bag` directly to my computer with video format? Is there any way to achieve

[2019-07-11 18:47] mepix commented on #4410
I'm having the same issue as well, and tried the same workarounds (purging 2.24.0, reinstalling, updating the udev rules).  It seems like this is related to [Issue 4351](https://github.com/IntelRealSense/librealsense/issues/4351).  Though that issue is marked as "solved", the work around suggested works for building with CMAKE directly and may not work with other popular IDEs like QT.

[2019-07-11 19:13] peterwatsonnm opened #4412 "GPS vs T265 position data project"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | T265 |
| Firmware Version                   | (Open RealSense Viewer --> Click info) |
| Operating System & Version |   Ubuntu 16  |
| Kernel Version (Linux Only)    |

[2019-07-11 20:57] lvale commented on #4408
Agree completely with @patrickpoirier51

The current "consumer friendly" format of the RealSense cameras is great for bench use, and limited use on autonomous devices where the cables and connectors, although correct from an engineering point of view, make it hard to integrate with systems that down't have those bulky USB plugs.

I do hope that the industrial version is more versatile.

[2019-07-11 21:22] OOyindamola commented on #4399
Thanks a lot.

I reinstalled the Ubuntu Mate 64-bit Version and my kernel version is 4.15. I did not get the error from installing the librealsense2-dkms package as I had earlier but I was not able to install librealsense2-utils. The error is still "unable to locate package librealsense2-utils".

Kindly assist.

[2019-07-11 21:32] RealSenseCustomerSupport commented on #4140
----------------------------------------------

This issue is just fixed in FW5.11.12.0. Please kindly wait for the official release.

[2019-07-11 21:41] MartyG-RealSense commented on #4412
Others can undoubtedly offer better advice on the technicalities of this subject than I can.  At the time of the T265's launch though, an Intel spokesman told the Venturebeat tech website that the T265 is about as accurate as GPS within 100 meters cubed, if that is of any help.

[2019-07-11 21:48] peterwatsonnm commented on #4412
@MartyG-RealSense Thank you for the information! I have gathered as much from reading online.  I guess my goal is to find out how close "about as accurate" is...

[2019-07-11 21:51] fiorano10 opened #4413 "T265 images over-exposed as compared to D435"
----------------------------------------------------------------------------------------------------

| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D400/T265  |
| Firmware Version                   | 5.11.6.25 |
| Opera