[2019-08-21 11:14] lramati commented on #4647
The source code for the disparity_transform (In C++) can be found [here](https://github.com/IntelRealSense/librealsense/blob/master/src/proc/disparity-transform.h)
As for modifying frame data directly, not quite. Frames are read-only, however, it is possible to define a custom filter which, with the help of `rs.frame_source` can allow you to perform processing on a realsense frame and then package

[2019-08-21 11:39] lramati commented on #4660
The code looks fine.
As for `get_motion_frame`, while no such convenience function exists, I suggest you take a look at [`rs.composite_frame.first_or_default`](https://intelrealsense.github.io/librealsense/python_docs/_generated/pyrealsense2.composite_frame.html#pyrealsense2.composite_frame.first_or_default) which is used to [implement](https://github.com/IntelRealSense/librealsense/blob/master/in

[2019-08-21 11:46] MaryBD commented on #3617
I tried to install realsense D435 on Jetson TX2 (Jetpack 3.3) following this:  https://dev.intelrealsense.com/docs/nvidia-jetson-tx2-installation
which didn't work, and using this:
https://www.youtube.com/watch?v=9JgPZ2UDhiI

which at the end showed some errors:
-- The CUDA compiler identification is unknown
CMake Error at CMakeLists.txt:7 (project):
  No CMAKE_CUDA_COMPILER could be found.

  Tel

[2019-08-21 11:47] MaryBD commented on #3617
I tried to install realsense D435 on Jetson TX2 (Jetpack 3.3) following this: https://dev.intelrealsense.com/docs/nvidia-jetson-tx2-installation
which didn't work, and using this:
https://www.youtube.com/watch?v=9JgPZ2UDhiI

which at the end showed some errors:
-- The CUDA compiler identification is unknown
CMake Error at CMakeLists.txt:7 (project):
No CMAKE_CUDA_COMPILER could be found.

Tell CMa

[2019-08-21 12:12] zinan93 commented on #4689
just tried rs-capture and rs-depth, also doesn't work. But installing the WA DKMS works. Many thx! I shall keep an eye on the debian fix then.

[2019-08-21 12:57] ARRevolution commented on #3617
The answer is in the thread above but it is a little convoluted....
Follow the jetson hacks instructions exactly and take my previous comment into account First- https://github.com/IntelRealSense/librealsense/issues/3617#issuecomment-478272810

https://github.com/jetsonhacks/buildLibrealsense2TX

This worked for me with D435i so should work with the D435

[2019-08-21 13:00] nafidoni opened #4693 "Unable to Launch Android Java example for realSense"
I follow the instruction for this link https://github.com/IntelRealSense/librealsense/blob/master/wrappers/android/examples/java_example/readme.md
Everything was fine. Also when I connect the camera it didn't switch on and the application has just bug.
Please could you help me?
What should I do?
Thanks.

[2019-08-21 13:08] yyxr75 commented on #3892
Any progress on this?
I just encountered the same problem.

[2019-08-21 13:25] yyxr75 commented on #2850
Hi there,
I just encountered this issue yesterday.
My system is ubuntu-18.04
`uname -a`
`Linux yang-B250-HD3P 5.0.0-25-generic #26~18.04.1-Ubuntu SMP Thu Aug 1 13:51:02 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux`

And librealsense version is the latest one showed below:

![Screenshot from 2019-08-21 21-17-22](https://user-images.githubusercontent.com/44866138/63435222-1bdb4880-c459-11e9-8c83-bf48e1c7

[2019-08-21 13:29] ev-mp commented on #4689
@zinan93 , please provide the following data for review:
- Kernel log `dmesg -wT`
- Console logs for `rs-depth` and `rs-capture`
- Librealsense log:
     -   run `realsense-viewer` -> click on configuration in the upper right corner -> change the log file verbosity level to "DEBUG" -> clock "Apply" -> take a note of the log file name/path
    -  rerun `realsense-viewer` and try to stream depth and

[2019-08-21 13:36] MartyG-RealSense commented on #4693
What model of RealSense camera are you using please?  If it is a D435i, it does not have support for Android yet.

![image](https://user-images.githubusercontent.com/41145062/63436685-02b6a580-c421-11e9-8788-390531dc2fbf.png)

[2019-08-21 13:38] filipematosinov commented on #4636
@dorodnic How can we do that? I can only find how to set them using the pybackend module which we try to avoid

[2019-08-21 14:05] MartyG-RealSense commented on #4636
@filipematosinov   Could you confirm the method by which you want to change exposure, gain and sharpness please?  RealSense Viewer, C++, C# or Python.  Thanks!

[2019-08-21 14:11] Tangpearl opened #4694 "Is there a way to know the parameters of D435?"
* Before opening a new issue, we wanted to provide you with some useful suggestions (Click "Preview" above for a better view):

    * Consider checking out SDK [examples](https://github.com/IntelRealSense/librealsense/tree/master/examples#sample-code-for-intel-realsense-cameras).
    * Have you looked in our [documentations](https://github.com/IntelRealSense/librealsense/tree/master/doc#useful-lin

[2019-08-21 14:12] #4694 closed

[2019-08-21 14:28] Tangpearl opened #4695 "Is there a way to know D435's parameters?"
----------------------------------------------------------------------------------------------------

| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D400  |
| Firmware Version                   | (Open RealSense Viewer -

[2019-08-21 15:00] MartyG-RealSense commented on #4695
The SDK has a tool called **sensor-control** that can give information about a camera and the sensors supported on that particular model.

If you are using Windows, you can find a pre-built executable version of the tool by downloading and installing the full SDK, and then going to the SDK folder location below:

**C: > Program Files (x86) > Intel RealSense SDK 2.0 > Tools > rs-sensor-control**

I

[2019-08-21 15:05] NXTwoThou commented on #4570
Fixed with v2.26.0

[2019-08-21 15:05] #4570 closed

[2019-08-21 15:31] Tangpearl commented on #4695
thanks very much

[2019-08-21 15:36] NXTwoThou commented on #4664
Unfortunately same issue with v2.26.0.

1) RealSense Viewer works fine without loading a preset
2) RealSense Viewer works fine loading my custom preset file.
3) Using the C# wrapper gives an error about an invalid parameter when trying to set JsonConfiguration.
4) If I remove the parameter from the json file, setting JsonConfiguration says "a device attached to the system is not functioning"
5) If

[2019-08-21 15:43] Tangpearl commented on #4695
so do you know how to change these parameters through codes?

[2019-08-21 15:49] sailfish009 opened #4696 "frameset size is 1 when read 1 frame recorded bag file"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D415 |
| Firmware Version                   | 05.11.06.250 |
| Operating System & Version |   Win 10 64bit  |
| Kernel Version (Linux Only)    |

[2019-08-21 15:51] MartyG-RealSense commented on #4695
The 'API How To' page (the version of it with text explanations) is a good place to start.  If you have follow-up questions after that about specific functions, you are welcome to add comments here on this discussion.

https://github.com/IntelRealSense/librealsense/wiki/API-How-To#get-first-realsense-device

[2019-08-21 16:01] filipematosinov commented on #4636
@MartyG-RealSense  I want to use Python

[2019-08-21 16:10] radfordi commented on #4648
Hi @vladHoloArch,

You need to uploaded (with a single bulk write) the firmware (`target.mvcmd`) to the Movidius device before it turns into a T265 device from which you can get data.  After that, you can start the pose or image streams.

[2019-08-21 16:22] MartyG-RealSense commented on #4636
If you would like to change exposure in Pyrealsense2, I hope that the script in the link below will be of help to you.

https://github.com/IntelRealSense/librealsense/issues/2683

There is another Python example here:

https://forums.intel.com/s/question/0D70P000005PM7dSAG

I'm not so sure about the gain and sharpness, though it looks as though it is accessed through the **rs.option.gain** and *rs

[2019-08-21 17:10] Tangpearl commented on #4695
Thank you

[2019-08-21 18:05] LossOfHumanIdentity commented on #4682
Hi @ev-mp, thank you for your reply, even though I'm not sure I fully understood how to actually use the Software Device you mentioned for this specific scenario.

Anyway, I've been able to perform the above mentioned task in a Python environment by simply getting the depth_image, masking it as desired and then call the native OpenCV `cv2.reprojectImageTo3D` method like stated in the following:

`

[2019-08-21 18:09] vladHoloArch commented on #4648
Thanks @radfordi
do I just convert the firmware to bytes and send it to endpoint 0? there's no api how to I format my request to open pose/image stream?

[2019-08-21 19:08] radfordi commented on #4648
Yes.
[code]

[2019-08-21 19:20] Tangpearl opened #4699 "Error about post-processing"
I'm  doing some work about D435 post-processing. I want to change the filtered rs2::frame into cv::Mat and do some following work. However, there happens an error. To be convenient, I wrote the part where the problem happens into a test.cpp. However, the error is beyond me. Hope to get some help. Appreciate it very much.

----------------------------------------------------------------------------

[2019-08-21 20:07] maximilianwulf commented on #2850
@yyxr75, I got the same error on my laptop and the reason was that Ubuntu updated the kernel to 5.0. ... without me noticing it. Switching back to 4.18 solved the problem.
Supported kernel versions are listed here https://github.com/IntelRealSense/librealsense/blob/master/doc/distribution_linux.md.

[2019-08-21 20:14] JBBee opened #4700 "T265 fails to start with 2.26.0"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | T265 |
| Firmware Version                   | 0.1.0.242 |
| Operating System & Version |   Win 10 |
| Kernel Version (Linux Only)    |

[2019-08-21 20:31] Tangpearl commented on #4699
Just now I find that as long as I remove the decimation filter, the code can run. I'm wondering why this can happen.

[2019-08-21 21:04] ev-mp commented on #4699
@Tangpearl , the decimation filter [changes the depth frame size](https://github.com/IntelRealSense/librealsense/blob/development/doc/post-processing-filters.md#decimation-filter), as well as the frame intrinsic.
When iteration over the filtered depth data adjustments shall be made for the new dimension and intrinsic to avoid buffer overruns and misalignment

            //z_D435 = depth.at<unsign

[2019-08-21 21:34] vladHoloArch commented on #4648
@radfordi can you show me what you use for opening the stream after writing the firmware?
does the device needs to be requested each time before it writes the frames to endpoint 1 or it just starts writing and overwriting the last data? meaning do I just need to read from the endpoint after opening the stream?

[2019-08-21 21:45] Jrokisky commented on #3617
@MaryBD I put together some instructions for installing the Jetson D435 on the TX2 here:
 https://github.com/Jrokisky/ros2_system_setup/tree/master/instructions

It may be out of date.

[2019-08-21 22:46] MartyG-RealSense commented on #4434
@AmanTiwari1503     I just wanted to update your case to let you know that D435i support for Android has apparently been added in the new SDK version 2.26.0, according to the Releases web-page.

[2019-08-21 22:48] MartyG-RealSense commented on #3803
@state-of-the-art   I just wanted to update your case to let you know that D435i support for Android has apparently been added in the new SDK version 2.26.0, according to the Releases web-page.

[2019-08-22 00:03] medlraffy opened #4701 "D415, Android, Java Example, Dropped Frames"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D415 |
| Firmware Version                   | 05.11.11.100 |
| Operating System & Version |   Android, 8.0.0  |
| Platform                                 | Samsung Galaxy S

[2019-08-22 00:46] harville commented on #4518
@kylesaltmarsh and @mickeyouyou: Can you describe the most common scenario(s) that cause the NaN values to occur? Also, the new 2.26.0 version of librealsense fixes some issues with recording T265 raw data, so we might consider the option of trying to have you make a recording of usage leading up to a failure like this, to help us debug.

[2019-08-22 01:00] harville commented on #4592
@peterwatsonnm Have you seen any NaN pose output since starting to use USB 3 cables?

[2019-08-22 01:18] medlraffy commented on #4701
It streams correctly if I revert to an older dependency:
[code]

[2019-08-22 01:27] tonyhsiao1995 opened #4702 "Camera time stamp question"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D435 |
| Firmware Version                   | 05.11.06.250 |
| Operating System & Version |   Ubuntu16.04  |
| Kernel Version (Linux Only)    | 4.15.0-55-generic  |
| Platfo

[2019-08-22 01:31] sailfish009 commented on #4696
found the reason, frameset size is fine. the cause is about frame timing.

[2019-08-22 01:31] #4696 closed

[2019-08-22 01:33] sailfish009 commented on #4510
found the reason, frameset size is fine. the cause is about frame timing. logically, write_data_once() function itself fine. but physically must have to wait sensor does it's job.

[2019-08-22 01:33] #4510 closed

[2019-08-22 02:49] schoningerJim commented on #4272
Hi,
Could you share the steps you did?
I would like to build the lib for my raspberry pi 4 too

Thanks in advance.

[2019-08-22 03:02] #4018 closed

[2019-08-22 05:57] tanikapod commented on #4660
Thanks, I'll look into that!

I guess what I'm asking is how is it possible that each time I run my code, there are a different total number of frames, each with slightly inconsistent timestamps?

[2019-08-22 06:06] ev-mp commented on #4682
The SDK provides methods to gather the required components for the openCv's `Q` matrix:
- Sensor intrinsic data ([example](https://github.com/IntelRealSense/librealsense/blob/master/examples/measure/rs-measure.cpp#L283-L285))
- Inter-sensor extrinsic and baseline data ([example](https://github.com/IntelRealSense/librealsense/blob/master/tools/depth-quality/depth-quality-model.cpp#L812-L813))
- The

[2019-08-22 06:25] ev-mp commented on #4702
@tonyhsiao1995 , it is not clear what _streams_ are are configured in this use-case.
In case you have both RGB and Depth streaming then the framesets will include both. So then the question is whether he intra-stream sync is active, because if not then the frames will be be produced asynchronously.
To invoke the internal sync (RGB will be the master) you have to configure identical FPS, enforce `F

[2019-08-22 06:29] ev-mp commented on #4671
@TanmayPathak , it is unreasonable that any SDK thread will lock beyond 15 seconds without raising an exception.
Can you reproduce the deadlock with realsense-provided demos/tools?
Can you provide kernel/application/console logs for review ?

[2019-08-22 07:50] nafidoni commented on #4693
I am using Model: D435

[2019-08-22 07:52] MartyG-RealSense commented on #4693
Thank you very much for the confirmation of your camera model.  Can you provide details of any error messages that you receive, please?

[2019-08-22 08:09] nafidoni commented on #4693
Thank you for your help. I found the solution. I was using Android 7.0 while the minimum is 7.8.

I will look for a new device and execute it.

[2019-08-22 08:10] martijnkusters opened #4703 "Can some help to reduce noise in depth measurements"
D415
sdk 2.25.0
firmware updated.

Currently we are trying to reduce the depth noise measurement at about 1.4 m distance.
In the figure below I show the result of 1 pixel measurement.

![image](https://user-images.githubusercontent.com/23382659/63497802-dce2dc80-c4c4-11e9-9d2b-e55197a7ad4b.png)

 The distance varies in time. I use already all filters.
Can some help what parameters I can tweak to r

[2019-08-22 08:16] kfirosIntel opened #4704 "Rosbag Inspector Crash"
The rs-rosbag-inspector.exe crashes immediately when running it.
![image](https://user-images.githubusercontent.com/42607912/63498489-ae69ff00-c4ce-11e9-9234-d0a9715116e9.png)

OS Name:                   Microsoft Windows 10 Pro

[2019-08-22 08:26] MartyG-RealSense commented on #4693
If you are referring to the information on the Releases page, it says "7, 8" (Android 7 or Android 8), not Android version 7.8.

[2019-08-22 09:18] MartyG-RealSense commented on #4703
Although depth noise increases over distance (a phenomenon called RMS error), it only becomes particularly noticeable when observing surfaces further than around 3 meters from the camera.

You may be able to get a further reduction in noise by turning off the IR Emitter component, which projects a semi-random pattern of dots onto the scene to help the camera to read details from flat surfaces such

[2019-08-22 09:22] nafidoni commented on #4693
I test the application and that is the execution log that I receive.

08/22 11:20:21: Launching app
No apk changes detected since last installation, skipping installation of /home/cedriq/Bureau/Nafi_Work/RealSense/librealsense-2.19.2/wrappers/android/examples/java_example/app/build/outputs/apk/debug/app-debug.apk
$ adb shell am force-stop com.example.realsense_java_example
$ adb shell am start -n

[2019-08-22 09:39] nafidoni commented on #4693
I test the application and that is Log

08/22 11:26:09: Launching app
$ adb push /home/cedriq/Bureau/Nafi_Work/RealSense/librealsense-2.19.2/wrappers/android/examples/java_example/app/build/outputs/apk/debug/app-debug.apk /data/local/tmp/com.example.realsense_java_example
$ adb shell pm install -t -r "/data/local/tmp/com.example.realsense_java_example"
Success
APK installed in 4 s 696 ms
$ adb she

[2019-08-22 10:33] MartyG-RealSense commented on #4693
Apologies for the delay in responding, I was carefully analyzing the log that you kindly provided.

As the error is related to waiting for frames, you may find some useful information in the case of a wait for frames error with Android that is in the link below.

https://github.com/IntelRealSense/librealsense/issues/2135

[2019-08-22 10:37] filipematosinov commented on #4272
Using Raspbian Buster follow the normal instuctions for Raspbian with a slight modification.
Check here https://github.com/IntelRealSense/librealsense/issues/4565#issuecomment-518359584

[2019-08-22 10:57] nafidoni commented on #4693
I read that
Current firmware version: 05.09.02.00
Minimal firmware version: 05.10.03.00
Could this be the problem??

[2019-08-22 11:07] coldcoda opened #4705 "realsense SDK2 & unity"
Hello, which version of unity is supported by RS SDK2 ?
Thanks a lot !!

[2019-08-22 11:34] MartyG-RealSense commented on #4693
I'm not aware of a specific firmware requirement for the Android wrapper.  However, having a recent firmware installed is a common fix for a lot of RealSense problems.   05.09.02.00 is one of the oldest firmwares, dating back to February 2018, not long after the camera's launch.  A large number of improvements and fixes have been implemented in firmware updates since then.

[2019-08-22 11:43] nafidoni commented on #4693
Hi @MartyG-RealSense ,

Thanks you for your reply. How should I update my Firmare.

[2019-08-22 11:56] MartyG-RealSense commented on #4693
Intel recently introduced a new cross-platform firmware update system to make firmware updates easier.  This includes a tool called **rs-fw-update**

https://dev.intelrealsense.com/docs/firmware-update-tool

If you cannot get Librealsense to work yet on your Android device, the easiest way to update the firmware may be to use a computer with Windows or Linux.  This offers you a couple of ways to u

[2019-08-22 12:46] tonyhsiao1995 commented on #4702
OK, Thanks for the reply.
Another question for the time stamp, I am writing my function.
[code]
I have two programs to call this function. One program is like a unit test, only have a  while loop to call the function repeatedly and it works very well. However, in the real application program, I got the wrong timestamp like below. The frameset time is old. This error will happen at approximate 10%

[2019-08-22 12:47] MartyG-RealSense commented on #4705
You shouldn't experience problems if you use the latest 2019 versions of Unity.  2018 versions will be fine too if you do experience problems.

[2019-08-22 13:33] zinan93 commented on #4689
Yeah so I tested today with the manually installed WA DKMS SDK 2.25 is not stable, it still sometimes freezes. I updated to SDK 2.26 and it's the same.

* So for kernel log please see [here](https://github.com/zinan93/realsense_log/blob/926226bec88c3bb1b87b09509395f88fd71be09e/dmesglog.txt#L1)
* now both rs-depth and rs-capture runs smoothly most of the time, but sometimes it freezes and there's n

[2019-08-22 13:45] s-hemer commented on #4586
Adding to @fnoop's comment: With the latest, clean 18.04 LTS one is now completely lost, cmp #4669 (beside manual downgrading the kernel of course).

[2019-08-22 14:07] MaryBD commented on #3617
I tried to install D435 but it returns an error that CUDA does not exist. I flash Jeston TX2 using both JetPack 3.2 and 3.3, the installation can be completed successfully but there is no CUDA installed in Jetson. Is there anyone facing this issue and how do you overcome?

[2019-08-22 14:32] kingbaggot commented on #4703
yeah - I've updated the firmware and am 2m from my flat surface and the a focussed point can jump around 80 mm which is throwing a lot of stuff off for me.

I've set the camera to the 'Left Imager Color w/o IR Pattern' and have no flourescents on in the room, and I don't get any noticeable change.

If you find a way to reduce this I would LOVE to know.

[2019-08-22 14:35] vvgokul55 commented on #4693
Hey @MartyG-RealSense,
I have been trying to connect to the Intel Realsense camera with the android device and getting UNKNOWN_ERROR at two different places based on setting the config parameter.

**More details are as follows.**
Firmware v: 05.11.06.250
Model: D410
SDK version: 2.26.0
Android v: 9
Device: Pixel 2

**Scenario 1**
If I have set a config with StreamType DEPTH and COLOR at 640 X 480,

[2019-08-22 15:05] RealSenseCustomerSupport commented on #4229
----------------------------------------------

Hi @ttomchy,

Do you also clarify the issue?

[2019-08-22 15:08] agrunnet commented on #4703
In your data it ranges from 1386 to 1395. This is 11mm peak to peak or probably 3.5mm RMS.

A single point is expected to have an RMS error of about 2.8mm at this distance so not far off, depending a bit on the pattern it is looking at. For example if you turn off laser and use random Ly textured surface you can probably improve this 2x.
Also try to turn down the exposure a bit. (Yes this is count

[2019-08-22 15:14] g138 commented on #3215
Hi

I am also facing the problem of aligning depth and rgb images  saved separately, Can someone suggest some technique to solve out this problem.

cheers

[2019-08-22 15:19] RealSenseCustomerSupport commented on #4209
----------------------------------------------

Hi @kouglov,

You can refer to below page to enable SLAM feature with the open source although it's not running on Unity.
http://wiki.ros.org/rtabmap_ros/Tutorials/HandHeldMapping

[2019-08-22 15:21] RealSenseCustomerSupport commented on #4165
----------------------------------------------

Hi @buzzer,

Is the issue clarified? any update?

[2019-08-22 15:34] martinthelwell opened #4707 "T265 Camera Pose data in Unreal Engine"
Hi,
The Unreal Engine plugin recognises the T265 camera,
and I see that 6dof data is listed as a format in the plugin code.

Is there currently a way to access the 6dof pose data within a Blueprint using the plugin?

Thanks,

[2019-08-22 15:45] belugum opened #4708 "CustomRW can't open device (Debian 9)"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D435 |
| Firmware Version                   | 05.11.06.250 |
| Operating System & Version |   Debian 9 |
| Kernel Version (Linux Only)    |  4.19.0-5 |
| Platform

[2019-08-22 15:49] MartyG-RealSense commented on #4693
@vvgokul55   At the end of May 2019, @matkatz  the Android wrapper developer tried the Android wrapper with a couple of Android 9 models including the Pixel 2, so it may not be your device and its Android version that is the source of the problem.

https://github.com/IntelRealSense/librealsense/issues/4091#issuecomment-497403457

@matkatz may be the best person to address this question, as the And

[2019-08-22 16:23] anug7 commented on #3215
There's no api to align on image (after they are saved in image formats) levels in librealsense.. The alignment api works on frameset which has additional information (like scale paremeter, resolution, etc..) needed to align

So, you need to align the frames before saving them or same the frames in rosbag format (librealsense allows you to do that). And you can open the bag file and do what they a

[2019-08-22 16:37] kingbaggot commented on #4703
hi agrunnet - If I turn off the laser then I get no readings at all - is that correct ?

[2019-08-22 16:41] MartyG-RealSense commented on #4703
The IR projector is useful for adding readable depth detail to flat / low texture objects in a scene but the camera does not rely exclusively on it.  It can also process depth using the ambient light in the area.

[2019-08-22 16:44] rabits commented on #3803
Thank you @MartyG-RealSense , I will check the new release.

[2019-08-22 16:47] radfordi commented on #4700
Thanks for the quick feedback, @JBBee.  I'll try and reproduce this.

[2019-08-22 17:10] state-of-the-art commented on #3803
Thank you @MartyG-RealSense  , I will check the new release.

[2019-08-22 17:13] jmachuca77 commented on #4681
Tried with different USB cables and even connecting the camera directly to the USB port on the Xavier and got exactly the same issue.

[2019-08-22 17:20] MartyG-RealSense commented on #4708
If the camera works normally except for calibration, I wonder if the calibration table inside the camera might be corrupted.  A 'gold reset' to factory defaults of the camera with **CustomRW -g** may correct this if the table is corrupted.

[2019-08-22 17:54] RealSenseCustomerSupport commented on #4521
----------------------------------------------

Hi

It's very complicated to "sync" both AE and AWB. My suggestion would be:
1) Assuming your lighting source color temperature is fixed, you can calibrate one camera by using Manual White Balance (while AE enabled). And then align other cameras to same White Balance value. No more AWB mode for all cameras.

2) Same thing to AE unless all image scene

[2019-08-22 19:35] MartyG-RealSense commented on #4681
I am wondering if it is a physical issue with the USB port on the Xavier.  With my own computer, a Windows machine, I sometimes hear a repeating USB disconnect and reconnect sound effect from my mouse even if I am not touching it at the time (though my leg may brush against the cable slightly)  My mouse will go dead and its lights go out, sometimes accompanied by an on-screen warning message, and

[2019-08-22 19:51] RealSenseCustomerSupport commented on #4412
----------------------------------------------

@peterwatsonnm - We plan on closing this issue at this time.  radfordi has answered what we can provide at this time.

[2019-08-22 20:05] RealSenseCustomerSupport commented on #4368
----------------------------------------------

We are always working on ways to improve and build upon the current accuracy of the T265.  Do monitor our releases which comes with target fixes or enhancements for stability and improvements on the algorithm.  There are many different environment features that can go into the performance of the T265 camera.

If there is a specific issue with details

[2019-08-22 20:07] #4368 closed

[2019-08-22 20:10] RealSenseCustomerSupport commented on #4424
----------------------------------------------

MacOS support for T265 is not supported at this time.

[2019-08-22 20:25] RealSenseCustomerSupport commented on #4392
----------------------------------------------

Glad to see things are working better now.  Closing out this issue.

[2019-08-22 20:41] RealSenseCustomerSupport commented on #4384
----------------------------------------------

Hi @cottev

Do let us know your feedback based on testing the PR #4605 outlined by dorodnic.

Thanks

[2019-08-22 20:48] ARRevolution commented on #3617
There are 2 parts to the Jetpack install.
1 - Flash OS
2 - Install CUDA etc.
Sounds like you missed the second part. Follow the jetson hacks video:
www.jetsonhacks.com/2017/03/21/jetpack-3-0-nvidia-jetson-tx2-development-kit/amp/

[2019-08-22 20:51] Jrokisky commented on #3617
Did you set CMAKE_CUDA_COMPILER?

On Thu, Aug 22, 2019, 4:48 PM ARRevolution <notifications@github.com> wrote:

[2019-08-22 20:56] RealSenseCustomerSupport commented on #4476
----------------------------------------------

@HadeelRS - Have you been able to figure out answers to your questions on this ticket?

[2019-08-22 21:07] #4392 closed

[2019-08-22 21:07] #4424 closed

[2019-08-22 22:23] tgurriet opened #4709 "Static linking error [C++, Linux]"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       |T265|
| Operating System & Version |   {Win (8.1/10) / Linux (Ubuntu 14/16/17) / MacOS  |
| Kernel Version (Linux Only)    |  4.15.0-58

[2019-08-22 23:29] nk2IsHere opened #4710 "odroid xu4 realsense d415 Frame didn't arrived within 5000 after 30 seconds"
* Before opening a new issue, we wanted to provide you with some useful suggestions (Click "Preview" above for a better view):

    * Consider checking out SDK [examples](https://github.com/IntelRealSense/librealsense/tree/master/examples#sample-code-for-intel-realsense-cameras).
    * Have you looked in our [documentations](https://github.com/IntelRealSense/librealsense/tree/master/doc#useful-lin

[2019-08-23 00:09] yyxr75 commented on #2850
Thanks a lot. So much help!

[2019-08-23 00:37] RealSenseCustomerSupport commented on #4504
----------------------------------------------

Hi ShettyHarapanahalli,
From depth accuracy point of view, D415 is about 2x better than D435/D435i. Because D415 uses 2M depth sensor; D435 uses 1M depth sensor. D415 FOV is much smaller than D435.

[2019-08-23 02:50] wodndb commented on #4521
@RealSenseCustomerSupport I appreciate your comments, I'm going to try what you recommended.

[2019-08-23 03:44] tonyhsiao1995 commented on #4702
I solve the problem.
The program executes making folder. It will cause camera time problem
[code]
I close the issue

[2019-08-23 03:44] #4702 closed

[2019-08-23 05:15] lamroger opened #4711 "How to create a desktop app with something like Electron"
I've been able to run the Node examples locally and want to build a desktop app with librealsense. node-librealsense is very easy to use for me and I'd like to use something like Electron to build an app for other people to use.

I don't have experience with develping desktop apps, especially cross-platform. Does anyone know if it would work or how it would work?

There seem to be dependencies for

[2019-08-23 05:20] ifq commented on #3762
Hi, @coldcoda how did you solve it? I have the same issue.

[2019-08-23 07:52] g138 commented on #3215
Thank u for your reply.

When i am saving the image after aligning them there is loss and duplication of frames, how can i solve this problem?

cheers

[2019-08-23 08:12] anug7 commented on #3215
Yes.. I haven't found a way to solve the loss. I am not sure what you mean by duplication..There will be more RGB frames than depth frames. Once way to handle that would be storing the frames with timestamp as file names and lookup color frame corresponding to the depth frame, as the timestamp of RGB & depth frames are synchronized.

[2019-08-23 08:16] belugum commented on #4708
Same thing for `Intel.Realsense.CustomRW -g`: `Error: cannot find or open device with serial number 829212070383`

The same command works fine on Windows 10 (same computer, same camera), so it's not an hardware issue.

My kernel version is not supported for the librealsense2-dkms package so that probably causes this. I found instructions to patch the kernel manually for Ubuntu with other kernel ve

[2019-08-23 08:19] g138 commented on #3215
Thank u for your quick response
cheers

[2019-08-23 08:27] MartyG-RealSense commented on #4708
Kernel patching can be bypassed with the CMake customization flag **-DFORCE_LIBUVC=true**

[2019-08-23 08:53] jawad-tech opened #4712 "Can't open the deploy.prototext or deploy.caffe model"
/caffe/caffe_io.cpp:1121: error: (-2:Unspecified error) FAILED: fs.is_open(). Can't open "MobileNetSSD_deploy.prototxt" in function 'ReadProtoFromTextFile'

I dont know why? Please help. I have used the same application from realsense wrapper and mad a ros node for it. The program "catkin_make" successfully build it but it provides error when i run the node. it says that the file cannot be opened

[2019-08-23 09:09] jawad-tech commented on #4639
Finally I solved it. The issue is with the mismatched version of open cv. The ROS version has opencv 3.3.1 and i am using opencv 3.4.

Basically the error is cv::dnn::experimental_dnn_v2
The dnn is included when i link the open cv library but the experimental_dnn_v2 header has different names for different opencv version.

The solution is:
1) Uninstall the ros-opencv version by
     sudo apt-get r

[2019-08-23 09:09] #4639 closed

[2019-08-23 10:24] didory123 opened #4713 "Multiple D435 devices RGB cameras flicker from light to black intermittently"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | {D400 } |
| Firmware Version                   | 05.11.06.250 |
| Operating System & Version |   {Win 10 |                                 |
| Platform

[2019-08-23 11:04] carryyu opened #4714 "Simple and important questions for me，please help me, thank you very much!"
* Before opening a new issue, we wanted to provide you with some useful suggestions (Click "Preview" above for a better view):

    * Consider checking out SDK [examples](https://github.com/IntelRealSense/librealsense/tree/master/examples#sample-code-for-intel-realsense-cameras).
    * Have you looked in our [documentations](https://github.com/IntelRealSense/librealsense/tree/master/doc#useful-lin

[2019-08-23 11:11] carryyu commented on #4714
It's the Code

[code]

[2019-08-23 11:12] carryyu commented on #4714
According to the code, if I want to process this frame, the processing time of this frame is about 1 second(time.sleep(1)). After processing this frame, the next frame is processed, but the next frame taken at this time is the next frame after one second. All the frames during the 1 second are lost, what should I do?
I hope that it will not take frames when I process the current frame, so the next

[2019-08-23 11:24] MartyG-RealSense commented on #4713
If you are doing a depth to color sync with your D435's, this may cause problems in a multi-camera setup according to the advice given in the link below.

https://github.com/IntelRealSense/librealsense/issues/2637#issuecomment-434203140

[2019-08-23 11:38] vizzbee commented on #4080
Hey @patrickpoirier51 @radfordi
I am attempting indoor navigation using t265 and put it preferrably in downward pose. Did the package by @hoangthien94 work?

[2019-08-23 11:49] patrickpoirier51 commented on #4080
Yes it does, and its now fully documented as an ArduPilot WIKI
http://ardupilot.org/copter/docs/common-vio-tracking-camera.html

Its quite easy using the python script as the camera position (Forward -vs- Down Looking)  is a parameter that can be passed as input arguments from the command line.

Enjoy !!

[2019-08-23 11:53] Dealerpriest commented on #3977
I have the same issue. Dropping frames on recording. I have not had the issue before. It came recently.

[2019-08-23 12:07] vvgokul55 commented on #4693
@MartyG-RealSense With the help of following setup I am getting an output from the camera
Device: Moto G6
Android OS version: 8.0.0
Timeout for frames: from 1000 to 2000 in milliseconds.
StreamType: Depth
Framerate: 0, 15 or 30
Index: 0 or -1
I am getting frames from the camera.

However when I try to add or have only a stream type Color. I am getting UNKNOWN_ERROR while starting the pipeline with

[2019-08-23 12:43] hoangthien94 commented on #4080
@vizzbee Just to add to @patrickpoirier51's answer: ArduPilot now supports T265 in forward/downward facing configuration, both with and without ROS. The wikis are available for step-by-step instructions on how to get the system up and running:
- [Wiki for T265 + ROS + ArduPilot](http://ardupilot.org/dev/docs/ros-vio-tracking-camera.html)
- [Wiki for T265 + ArduPilot ](http://ardupilot.org/copter/d

[2019-08-23 13:18] MartyG-RealSense commented on #4693
@vvgokul55   Your mention of the frame timeout was useful.  It enabled me to find a previous case in late 2018 where the Android wrapper was reported to be displaying similar symptoms to the ones you mention - mostly fine with the depth stream but frequently timing out on the color stream.

https://github.com/IntelRealSense/librealsense/issues/2738

An Intel team member on this forum made the foll

[2019-08-23 13:30] g2-bernotas commented on #4714
What happens if you tell it to play not in real-time:

[code]

[2019-08-23 14:14] dk67604 opened #4715 "Fail to use python box dimensioner when the camera is flipped for Intel realsense D435."
* Before opening a new issue, we wanted to provide you with some useful suggestions (Click "Preview" above for a better view):

    * Consider checking out SDK [examples](https://github.com/IntelRealSense/librealsense/tree/master/examples#sample-code-for-intel-realsense-cameras).
    * Have you looked in our [documentations](https://github.com/IntelRealSense/librealsense/tree/master/doc#useful-lin

[2019-08-23 14:14] Dealerpriest commented on #3977
I was able to verify this by also compiling and running the record-playback sample from the c++ sdk. I added two lines to get specific settings from the sensors:
[code]
This build records fine without any sign of dropping frames. I can also playback the recorded file in real sense viewer without any problem.
Using the same settings and recording in the real sense viewer starts dropping frames afte

[2019-08-23 16:26] #4682 closed

[2019-08-23 16:55] mjsobrep commented on #4653
That's an interesting idea, trying to use the scenery to prevent exiting the field of view. In my application, a mobile robot within a meter or so of pediatric subjects is trying to track the arms and face of the subjects. I think given your suggestions I will try two layouts, one with the cameras spaced vertically both facing in the same direction and one with them close together angled out.

So

[2019-08-23 17:08] RealSenseCustomerSupport commented on #4450
----------------------------------------------

Hi @cookem4 - it has been a while since this issue occurred.  Have you attempted checking the camera view to determine if there is static objects in the FOV?  Also we've posted newer releases since you encountered this issue.  Do take a look at the latest releases and see if anything has improved.

[2019-08-23 17:28] MartyG-RealSense commented on #4653
You're very welcome.   I'm glad I could be of help.  :)

The color imagers are rolling shutter, yes.  The faster global shutters on the D435 are useful for measuring fast-changing depth, such as a the real-time distance away of an oncoming car or outdoor scenery approaching a car-mounted camera.  Autonomous vehicles were one of the applications that the 400 Series cameras were designed for possibl

[2019-08-23 18:16] RealSenseCustomerSupport commented on #3897
----------------------------------------------

Does the device report consistent timestamps with the code or could we close this now?

[2019-08-23 18:40] RealSenseCustomerSupport commented on #4108
----------------------------------------------

The SDK provides official supports for Intel X86/AMD64-based Debian distributions for Ubuntu 16/18.
https://github.com/IntelRealSense/librealsense/blob/master/doc/distribution_linux.md

Additionally, the dev team also works with the communities to help to enable RealSense on not officially supported platforms as well as non-LTS Ubuntu kernel. Neverth

[2019-08-23 18:43] RealSenseCustomerSupport commented on #4525
----------------------------------------------

Hi Christopher,

Do you need any further clarifications regarding frame timestamp topic?

[2019-08-23 18:53] agrunnet commented on #4550
It should look a lot better. I will send some example.
Here is 848x480 @ 30fps. Laser power reduced to 70mW to remove saturation.
![image](https://user-images.githubusercontent.com/134740/63616493-82b54a80-c59c-11e9-829c-c9b3bf8462c3.png)

[2019-08-23 18:55] agrunnet commented on #4550
Here is point cloud with post processing, with 2x down-sample, and some temporal and spatial averaging.
![image](https://user-images.githubusercontent.com/134740/63616639-dc1d7980-c59c-11e9-92cc-275ad2bf6c7c.png)

[2019-08-23 19:00] agrunnet commented on #4550
I was using AlphaX=0.7 and deltaX=60 and AlphaT=0.2 and deltaT=20 when post-processing.

It looks like your images may be saturated by laser so turn it down.
Also the minimum distance at 848x480 is ~18cm so dont move closer than that. In one part of image you on the right you may be closer.
If there are specific scenes and features you need us to try then show us a picture and we can try to reprod

[2019-08-23 19:00] RealSenseCustomerSupport commented on #4413
----------------------------------------------

Hi @fiorano10

There are no planned changes to the exposure settings or configuration.  The unit for exposure is microsec and config from 200 - 16000.

Let us know if there is anything else needed on this.

Thanks

[2019-08-23 19:06] RealSenseCustomerSupport commented on #4496
----------------------------------------------

Hi @galikrosentalik

dorodnic provided some comment on this matter.  At this point in time is there anything further needed?

Thanks

[2019-08-23 19:07] #4481 closed

[2019-08-23 19:10] RealSenseCustomerSupport commented on #4500
----------------------------------------------

Hi @galikrosentalik

This has been open for a while now.  Are you able to debug with latest SDK release?

Thanks

[2019-08-23 19:11] agrunnet commented on #4550
Example video, just for reference.  I know video quality is not great.

[D435_848x480.zip](https://github.com/IntelRealSense/librealsense/files/3535866/D435_848x480.zip)

[2019-08-23 19:27] RealSenseCustomerSupport commented on #4451
----------------------------------------------

Hi @frankywashere

There are a few different examples in librealsense that might be able to help here rs-trajectory, tracking and depth (if you want to bring in a depth camera into the system).  Also the realsense-viewer has the capability of saving bag files and playback within the viewer itself.  Currently we also have APIs to export/save a map for

[2019-08-23 19:31] RealSenseCustomerSupport commented on #4487
----------------------------------------------

Hi @eMrazSVK

Is there anything further that is needed here that isn't covered in the response from ev-mp?

Thanks

[2019-08-23 20:35] realsens01 commented on #3977
Thanks @Dealerpriest. This issue was never resolved. I abandoned use of Realsense Viewer.

[2019-08-23 20:41] mjsobrep commented on #4653
That application by prowise is very cool. Definitely helps build confidence that I can do what I need to with the D415. I'm going to go pick a couple up.

[2019-08-23 20:41] #4653 closed

[2019-08-23 21:17] chutsu commented on #4525
Not at this point. However the issue still persists, the API is not documented adequately to reflect different returns of `frame::get_timestamp()` on different time domains.

[2019-08-23 21:29] RealSenseCustomerSupport commented on #4445
----------------------------------------------

Afte the librscalibrationapi is installed, can you verify the following paths/files described in section 2.2.2 and 3.3?
https://www.intel.com/content/dam/support/us/en/documents/emerging-technologies/intel-realsense-technology/RealSense_D400_Dyn_Calib_Programmer.pdf

[2019-08-23 22:10] erikgallegos opened #4716 "Android Align Frames"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D415 |
| Firmware Version                   | 05.11.01.100 |
| Operating System & Version |   Android 8.0  |
| Platform                                 | Galaxy S8 |
| SDK V

[2019-08-24 01:05] #4525 closed

[2019-08-24 01:10] chutsu commented on #4525
Issue isn't resolved and you closed it?

[2019-08-24 02:56] carryyu commented on #4714
Thank you very much, it works!

[2019-08-24 02:56] #4714 closed

[2019-08-24 16:13] galikrosentalik commented on #4500
Unfortonatly no.
I would appreciate very much you referencing my last comment, reaplaying dorodnic

[2019-08-24 16:41] visus100 opened #4718 "How to smooth exported ply"
| requierd info |  |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D435i |
| Firmware Version                   | D400_Series_FW_5_11_11_100 |
| Operating System & Version |   Win (8.1/10)  |
| Platform                                 | PC |
| SDK Version                            |  SDK-WIN10-2.23.0.909

[2019-08-24 19:57] MartyG-RealSense commented on #4718
The links below may provide useful advice about smoothing out a point cloud.

https://github.com/IntelRealSense/librealsense/issues/1053

https://github.com/IntelRealSense/librealsense/issues/1375

When exporting a ply, also take care to set the depth units correctly.

https://github.com/IntelRealSense/librealsense/issues/2009

Some users have reported that they get better results from exporting t

[2019-08-24 20:39] visus100 commented on #4718
Thanks for fast reply.

I digged a lot about it already and i did a lot of things to improve quality of scan. For example: change distance, take care of light conditions, changing power of emitter, etc..

Of course i can get a little bit better result than this what i show but still is looks like "minecraft blocks" (its just for compare)

I was wondering if someone could help me with adding someho

[2019-08-24 21:12] agrunnet commented on #4718
Please tell us more about the setting you chose. This looks worse that it should be.
Depth units =100
Distance=20cm
Turn down laser to 60mW
848x480
90fps
Post process with temporal average and down sample 2x.
Possibly set exposure manually until monchrone image looks quite dark.

[2019-08-24 22:58] visus100 commented on #4718
Thanks for sharing this camera settings. This improves my scan expectations (helps me a lot), but still i'm dreaming about some kind of mesh denoiser working just like in example:
https://isaacguan.github.io/projects/mesh-smoothing/

Because it actually looks like points are merged like layers (maybe some kind of improving exporter?)
I'm reaching this smooth model by blender smooth brush in sculpt

[2019-08-25 01:21] patrickpoirier51 commented on #3490
I think this has been a little prematuraly... anyway I just successfully build on a RPI Zero (a 3 days marathon) on the latets raspian-buster build and using the associated GCC 8.3

I had this error when linking

/usr/bin/ld: ../../librealsense2.so.2.26.0: undefined reference to `__atomic_fetch_add_8'
/usr/bin/ld: ../../librealsense2.so.2.26.0: undefined reference to `__atomic_store_8'
/usr/bin/ld

[2019-08-25 05:44] MartyG-RealSense commented on #4718
There is a code example here for export_to_ply:

https://github.com/IntelRealSense/librealsense/issues/2832#issuecomment-443823647

There is also an example program in the Python language called export_ply_example:

https://github.com/IntelRealSense/librealsense/blob/master/wrappers/python/examples/export_ply_example.py

If you want to programmatically apply processing to a point cloud mesh, it ma

[2019-08-25 10:15] kmeirlaen opened #4719 "Question - Using Align process() in C#"
----------------------------------------------------------------------------------------------------
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D435 |
| Firmware Version                   | 5.11.11.100 |
| Operating

[2019-08-25 22:27] codesian opened #4722 "Playback seek"
| Camera Model                       |  D400            |
| Firmware Version                   | latest             |
| Operating System & Version |  Ubuntu 18    |
| Kernel Version (Linux Only)   |  4.18              |
| Platform                                 |  PC                |
| SDK Version                           |  2.24             |
| Language                               |  c++

[2019-08-25 22:55] codesian opened #4723 "RGB and DEPTH Sync"
| Camera Model                       |  D415            |
| Firmware Version                   | latest             |
| Operating System & Version |  Ubuntu 18    |
| Kernel Version (Linux Only)   |  4.18              |
| Platform                                 |  PC                |
| SDK Version                           |  2.24             |
| Language                               |  c++

[2019-08-25 23:48] gachiemchiep commented on #4550
Hello @agrunnet
THank you for your answer.

I notify that the color ruler in your picture is different from mine.
1. mine : 0 ~ 4
2. yours: 0 ~ 1

Maybe this is the reason for this difference. I'm using realsense-viewer. Is there any options that i should change to make my color rules is as same as yours ?

[code]

I'm totally lost at this point. What kind of filter options are your mentioning abo

[2019-08-26 02:41] agrunnet commented on #4550
Color setting should not matter for depth.
The other depth setting are the “post processing” as outlined in the post processing white paper. You should be able to find the post processing in the RealSense viewer. I am sorry if I confuse with naming but it should be roughly the same in the viewer.

[2019-08-26 04:03] #4053 closed

[2019-08-26 04:30] minghuizhou123 opened #4724 "how to display or get depth image in the realsense t265"
![Screenshot from 2019-08-26 12-21-56](https://user-images.githubusercontent.com/49223640/63665162-b68eab00-c7fc-11e9-9c09-f1fc9041a4db.png)
![Screenshot from 2019-08-26 12-23-35](https://user-images.githubusercontent.com/49223640/63665161-b5f61480-c7fc-11e9-91a8-e20e5955b0d3.png)
![Screenshot from 2019-08-26 12-23-53](https://user-images.githubusercontent.com/49223640/63665160-b55d7e00-c7fc-11e9-

[2019-08-26 04:31] minghuizhou123 commented on #4724
<launch>
  <arg name="camera"              default="camera"/>
  <arg name="tf_prefix"           default="$(arg camera)"/>
  <arg name="external_manager"    default="false"/>
  <arg name="manager"             default="realsense2_camera_manager"/>

  <arg name="serial_no"           default=""/>
  <arg name="json_file_path"      default=""/>

  <arg name="fisheye_width"       default="848"/>
  <arg n

[2019-08-26 05:45] sam598 opened #4725 "MJPEG Color Stream"
The latest release 2.26.0 says that there is support for MJPEG as a stream format:
https://github.com/IntelRealSense/librealsense/pull/4622 - Support for MJPEG stream for selected SKUs

But when trying to enable an MJPEG color stream on a D415 the config fails with:
RuntimeError: Failed to resolve request. No device found that satisfies all requirements

What SKUs support MJPEG streaming? Does it

[2019-08-26 05:45] MartyG-RealSense commented on #4723
The link below summarizes why multi camera color to depth sync can be problematic (because "color sensor always wants to be the master), and discusses other aspects of the subject in detail.

https://github.com/IntelRealSense/librealsense/issues/4493

I would also personally recommend a minimum FPS of 15 if possible, as the experience of past cases shows that going as slow as 6 FPS can introduce p

[2019-08-26 06:16] MartyG-RealSense commented on #4724
It looks as though you are trying to write your own ROS script to get depth from the fisheye cameras like the **t265_stereo.py** script does.  Is that correct, please?

https://github.com/IntelRealSense/librealsense/pull/3951

There is advice in the link below on the difficulties of computing depth on the T265 due to its lack of built-in depth sensing.

https://github.com/IntelRealSense/librealsen

[2019-08-26 06:42] RealSenseCustomerSupport commented on #4326
----------------------------------------------

@alexeden Thanks very much for your input!
@BenBergman Did you get chance to try what Alexeden suggested workaround? Looking forward to your feedback. Thanks!

[2019-08-26 06:46] dorodnic commented on #4725
Hi @sam598
At the moment, none of the publicly available devices can benefit from this capability. However, librealsense is shared infrastructure for all supported and future RealSense devices, and we are paving the way for bringing higher-resolutions to RealSense devices.
You can check what stream profiles are supported by your device by running `rs-enumerate-devices`.

[2019-08-26 06:50] RealSenseCustomerSupport commented on #3896
----------------------------------------------

@Dealerpriest Sorry for late response. Is the issue still there? Looking forward to your reply. Thanks!

[2019-08-26 06:50] sam598 commented on #4725
Thanks @dorodnic for the quick reply.

To confirm I should not expect this capability to come to the D415 or D435?

[2019-08-26 06:52] RealSenseCustomerSupport commented on #3839
----------------------------------------------

@stephen-systemfriend Sorry for late response. Is this issue still existing for you? Looking forward to your reply. Thanks!

[2019-08-26 06:57] RealSenseCustomerSupport commented on #3274
----------------------------------------------

@picturedeeplover Did you see the issue if align to depth? Please create another ticket for the image display issue. Thanks!

[2019-08-26 07:10] Garand0o0 opened #4726 "How to Calibrate Depth Camera of D435I？"
Hi,
I am experimenting with D435I.  I can use rtabmap to get 3d clouds. But in my  3d clouds, the ratio of the actual length of all objects to the measured length is a constant, such as 1.12. And this constant is related to the distance of the camera from the measured object. I found that the depth of d435i was inaccurate by `rs-distance`. How to Calibrate Depth Camera of D435I？Thanks.

[2019-08-26 07:21] RealSenseCustomerSupport commented on #4189
----------------------------------------------

@shadowdk3 Sorry for the late response. Is this issue still exiting for you? Looking forward to your reply. Thanks!

[2019-08-26 07:22] MartyG-RealSense commented on #4726
The depth sensing of 400 Series cameras can be calibrated with the Dynamic Calibrator software.

https://downloadcenter.intel.com/download/28517/Intel-RealSense-D400-Series-Calibration-Tools-and-API

If you are using Linux, installation instructions are on page 14 of the calibration user guide.

https://www.intel.com/content/www/us/en/support/articles/000026723/emerging-technologies/intel-realsens

[2019-08-26 07:25] RealSenseCustomerSupport commented on #4156
----------------------------------------------

@shadowdk3 Thanks for raising this! Now we have one new firmware upgrade tool https://github.com/IntelRealSense/librealsense/tree/master/tools/fw-update
Could you please try this new version to see if any issue? Thanks!

[2019-08-26 07:59] Dealerpriest commented on #3977
I can also verify that this happens when using the demo scenes in the Unity package.

Please address this issue Intel. As of now the camera is rendered useless to me, being completely unable to record reliably using c# and unity.
I will have to create two separate programs, in different program environment. One c++ solution for recording and a unity/c# project for playback in VR. That's not what I

[2019-08-26 08:32] RealSenseCustomerSupport commented on #3024
----------------------------------------------

@oiramario Could you please check the latest SDK v2.26? lrs_options.cmake and the related wiki doc are updated. Looking forward to your feedback. Thanks!

[2019-08-26 08:52] dorodnic commented on #4725
Yes.
Unfortunately it is not as simple as back-porting to existing firmware code, but relies on some hardware changes we are experimenting with.

[2019-08-26 13:01] FlyingSpringrol commented on #3836
I've been working on a project involving stitching depth information. According to this paper (https://journals.sagepub.com/doi/pdf/10.1177/1729881417695560) a way to do it would be to align depth and color images, then use a homography solving method on the color images (such as those used for panoramas: like this openCV example) (https://www.pyimagesearch.com/2016/01/11/opencv-panorama-stitching

[2019-08-26 13:24] cottev commented on #4384
Hi,
Sorry for the delay I was in vacation ;-)
It is a great news and I will take a look to this release.
Thanks again for your effort.
Br,
Stephane

[2019-08-26 13:53] #4156 closed

[2019-08-26 14:37] vvgokul55 commented on #4693
@MartyG-RealSense, Can you please provide me a solution that can be done on the wrapper side as I am not familiar with handling the kernal layer of the android device

[2019-08-26 14:40] pandurdo opened #4728 "Recording to .bag File without compression"
---------------------------------------------------------------------------------------------------

| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | { D435} |
| Firmware Version                   | 05.11.06.250 |
| Operat

[2019-08-26 14:56] MartyG-RealSense commented on #4693
I do not have any hands-on experience with the Android wrapper, unfortunately.  I'll try pinging @ev-mp on the Intel team, as I believe that they have had dealings with Android development.

[2019-08-26 14:58] cottev commented on #4384
Hi,
I have just tested with the release of SDK 2.26.0 with an update of the FW camera ( Signed_Image_UVC_5_11_11_100.bin ).
I can us the gyro and the accel if I enable through the following commands:

_config.enable_stream(RS2_STREAM_GYRO);
config.enable_stream(RS2_STREAM_ACCEL);_

However as soon as I try to enable the pose the function pipe.start is blocked.

My code of enabling is quite simple:

[2019-08-26 15:05] Dealerpriest commented on #3977
I can also verify that this happens when using the demo scenes in the Unity package.

Please address this issue Intel. As of now I'm completely unable to record reliably using c# and unity.
My best option right now seems be to create two separate programs, in different program environment. One c++ solution for recording and one unity/c# project for playback in VR. That's not what I would consider

[2019-08-26 15:15] ShettyHarapanahalli commented on #4504
Thanks for the details :)

[2019-08-26 15:15] #4504 closed

[2019-08-26 15:53] MartyG-RealSense opened #4730 "Announcement: release notes and API changes for SDK version 2.26.0 available"
Hi everyone,

Though links for release notes and API changes for SDK version 2.26.0 are not yet on the 'Releases' page (they still say 'TBD'), I noticed that the pages have been updated with the details for this latest version.

**API CHANGES**

https://github.com/IntelRealSense/librealsense/wiki/API-Changes#version-2260

**RELEASE NOTES**

https://github.com/IntelRealSense/librealsense/wiki/Relea

[2019-08-26 16:50] Firifire commented on #3788
Tried Doing FW Update

` 27/08 00:48:20,240 ERROR [12044] (ds5-factory.cpp:696) RGB Extrinsic recovery routine failed

updating device:
Name: Intel RealSense D435I, serial number: --, ASIC serial number: --, firmware version: 05.11.06.250
5.11.6.250, USB type: 3.2

firmware update started

firmware update progress: 100[%]

firmware update done
 27/08 00:48:53,577 ERROR [1892] (ds5-factory.cpp:696)

[2019-08-26 18:43] matkatz commented on #4693
There was a bug in the Java example, please check PR #4673

@nafidoni, 05.09.02.00 FW is not supported by the Android wrapper, were you able to update? did it solve the problem?

@vvgokul55, please provide logcat.

[2019-08-26 20:36] RealSenseCustomerSupport commented on #4573
----------------------------------------------

@TyTruGolf We will do this in next ASIC/chip.
Can we close this ticket for now?

[2019-08-26 21:06] #4574 closed

[2019-08-26 21:06] #4581 closed

[2019-08-26 22:40] RealSenseCustomerSupport commented on #4414
----------------------------------------------

Since D435 is UVC compliant, it is possible to test them with standard v4l2 test applications such as yavta or the following link to narrow down the issue.
https://github.com/IntelRealSense/librealsense/issues/3416

[2019-08-26 22:48] RealSenseCustomerSupport commented on #4242
----------------------------------------------

When you are building wrapper from source you should follow all the instructions from "Build from Source" section.That means that paragraphs 1.2 and 1.3 should be both fully completed.

[2019-08-27 00:23] medlraffy opened #4732 "D415, Android, Backend Timestamp is 0"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D415 |
| Firmware Version                   | 05.11.11.100 |
| Operating System & Version |   Android, 8.0.0  |
| Platform                                 | Samsung Galaxy S

[2019-08-27 01:24] RealSenseCustomerSupport commented on #4121
----------------------------------------------

For playback of recorded files functionality in JavaScript, please take a look at Librealsense Node.js wrapper:

https://github.com/IntelRealSense/librealsense/tree/master/wrappers/nodejs

[2019-08-27 01:37] RealSenseCustomerSupport commented on #4414
----------------------------------------------

@WasabiFan, the frame timestamp and/or frame counter could provide a good way to detect the duplicated frames. The SDK provides a tool - data-collect, to collect and save timestamp. frame num and other information to a file.
https://github.com/IntelRealSense/librealsense/tree/master/tools/data-collect
https://github.com/IntelRealSense/librealsense/is

[2019-08-27 05:01] #4676 closed

[2019-08-27 05:07] dorodnic commented on #4732
Could you elaborate?

[2019-08-27 05:12] dorodnic commented on #4724
`rs_rgbd.launch` does not work with the T265, since T265 is not an RGB-D camera.
`t265_stereo.py` is a nice example to review, but we are not planning to expand on this use-case.

[2019-08-27 05:12] #4724 closed

[2019-08-27 05:15] dorodnic commented on #4665
Hi @RatheeshRK
Any luck with this? I'm curious to know how it went

[2019-08-27 05:16] vvgokul55 commented on #4693
Hey @matkatz,
attaching the log
**Configuration**
Platform: Android
Device: Moto G6 (8.0)
LibSense Sdk version: 2.26.0
Camera model: D415
Camera Firmware version: 05.11.06.250
Streams:
- Color (640 X 480), format: RGB8, framerate: 30, index: 0
- Depth (640 X 480), format: Z16, framerate: 30, index: 0

Wait for frames: 2000 millisec

[Android Log - Stream type Color not working.txt](https://github.

[2019-08-27 06:30] viswaroopam commented on #3011
The links like (https://realsense.intel.com/wp-content/uploads/sites/63/BKM-For-Tuning-D435-and-D415-Cameras-Webinar_Rev3.pdf) are broken. Is it possible to restore/redirect these links to the active page?

[2019-08-27 06:36] RealSenseCustomerSupport commented on #3540
----------------------------------------------

Hi @Vivichoos,

This is just a demo example which is used to detect the target object and measure the object dimension. A box is better for the measurement.
You need to modify it according to your usage and a specific target object. Or, someone in the community can help your use.

[2019-08-27 07:24] RealSenseCustomerSupport commented on #4281
----------------------------------------------

@pabloalcain Sorry for the late reply. What's the SDK version when you get this issue? Did you get chance to try the latest SDK version and FW to see if you still get the issue? Thanks!

[2019-08-27 07:33] dynamicmirage opened #4734 "Intel RealSense Examples Fail to Compile in Visual Studio"
Hello There, I have followed the windows installation: https://github.com/IntelRealSense/librealsense/blob/master/doc/distribution_windows.m

My IntelRealSense Viewer works.

When I open the Examples for IntelRealsense in Visual Studio 16 they fail to Build and Run. There are 617 errors mostly due to paths that have not been included. Please advise which paths need to be included and where.

Best,

[2019-08-27 08:56] Denial1990 commented on #1904
By using the 'ppx' and 'ppy'  parameters of intrinsic, we can get the center of projection.

[2019-08-27 09:40] vvgokul55 commented on #4693
Had also tested with device Samsung Galaxy Note 9(8.1.0) since it has got 3.1, Type-C 1.0 reversible connector unlike Moto G6. Also attaching the log from the device.
[Android Log (Note 9) - Stream type Color.txt](https://github.com/IntelRealSense/librealsense/files/3545396/Android.Log.Note.9.-.Stream.type.Color.txt)

[2019-08-27 09:48] MaryBD opened #4736 "Using Jetson TX2 with Realsense D435"
I need to use Realsense D435 with Jetson TX2. Is there any recommendation on how to do that. I tried flashing TX2 with Jetpack 4.2 but it wasn't compatible with librealsense release so I used Jetpack 3.3 and 3.2, but still had lots of issues with CUDA, ... and can't get the camera working. I appreciate any advices.

[2019-08-27 10:23] MaryBD commented on #3617
Thanks for your comments. I already followed this instruction, everything installed successfully no error but no CUDA installation.

[2019-08-27 10:51] codesian commented on #4723
@MartyG-RealSense, thanks for your response, im talking about on single camera rgb-depth sync not on a multicam configuration.
Im try with 15fps, maybe the situation would be better, just because more frames per second means less diference in distance between sensors shots, but frames remains unsynced.

[2019-08-27 11:10] #4728 closed

[2019-08-27 11:35] ev-mp commented on #4508
@RohanKurane , the fix is merged into the `legacy` branch

[2019-08-27 12:40] cottev commented on #4384
Hi,
In fact it is working as the pose is not supported by the camera D435i.
Thanks again,
Stephane

[2019-08-27 13:37] MaryBD commented on #3617
I notice that when I flash the TX2 after installing everything in the host machine, on the terminal that runs flashing it shows: Obtaining the IP address of target but never pass this line and never shows the ip address. Do you know what should I do?

[2019-08-27 13:55] MaryBD commented on #4736
Thanks for your comment. I got error when try to Install the libraries as:
E: Unable to locate package sudo apt-get install librealsense2-dkms

[2019-08-27 14:06] Jrokisky commented on #3617
Hi Mary,
I believe that I skipped that with Ctrl-c but am not entirely sure. Did you
see my comment above about the missing environment variable? I think your
original problem was that the cuda compiler could not be found.

On Tue, Aug 27, 2019, 10:03 AM MaryBD <notifications@github.com> wrote:

[2019-08-27 14:14] MartyG-RealSense commented on #4408
@patrickpoirier51   That's an awesome custom setup - thanks so much for sharing your work in such detail for other members of the community to benefit from!   :)

[2019-08-27 14:31] dorodnic commented on #4736
Sorry, skip the DKMS and just run: `sudo apt-get install librealsense2-utils`

[2019-08-27 14:32] dorodnic commented on #4699
Hi @Tangpearl
Did this help?

[2019-08-27 14:32] #4695 closed

[2019-08-27 14:33] #4686 closed

[2019-08-27 14:42] #4632 closed

[2019-08-27 14:44] dorodnic commented on #4615
I didn't have an answer for that one of the top of my hat (it is more of a opencv question), but you can convert YUY to RGB using this SDK :)
See `rs2::yuy_decoder` class.

[2019-08-27 14:46] dorodnic commented on #4601
Hope this can be closed, feel free to open new issue if you have any follow-up questions

[2019-08-27 14:46] #4601 closed

[2019-08-27 14:47] belugum commented on #4708
I reinstalled and double-checked the udev-rules, but CustomRW still doesn't work.

[2019-08-27 14:49] #4532 closed

[2019-08-27 14:49] #4528 closed

[2019-08-27 15:14] MartyG-RealSense commented on #4554
@Mustardsauce  The new Development Firmware 5.11.11.100 is available for download from the firmware releases page.  Among its updates are improved depth linearity.  Details of the additions in this firmware can be found at the link below.

https://support.intelrealsense.com/hc/en-us/community/posts/360034784453

[2019-08-27 15:15] ev-mp commented on #4709
@tgurriet , the static libs are not linked, so you must specify all the dependent libs for the linker to proceed. For `librealsense2.a`  archive those are:  `libfw.a`, `libtm.a`, `librealsense-file.a`.
Hence the Cmake line should probably look like:

[2019-08-27 15:21] MartyG-RealSense commented on #4422
@GucciPrada  I just wanted to update you that new Development Firmware 5.11.11.100 is available from the Firmware Releases page if you have not used it already.  Among the features that it adds are improved depth linearity.  The details of the additions in the firmware can be found in the link below.

https://support.intelrealsense.com/hc/en-us/community/posts/360034784453

[2019-08-27 15:23] MaryBD commented on #3617
Thanks for your both comments, I am going to check it can solve it.

[2019-08-27 15:46] MaryBD commented on #3617
I finally installed Realsense D435 on TX2 following this: https://github.com/IntelRealSense/librealsense/blob/master/doc/installation.md
and then at "Prepare Linux Backend and the Dev. Environment" instead of what suggested for ubuntu 16 I followed ubuntu 14 and it works now. However the streaming is very slow and I see lots of errors while streaming.

[2019-08-27 15:48] MaryBD commented on #4736
Thanks for your advice. I finally installed Realsense D435 on TX2 following this: https://github.com/IntelRealSense/librealsense/blob/master/doc/installation.md
and then at "Prepare Linux Backend and the Dev. Environment" instead of what suggested for ubuntu 16 I followed ubuntu 14 and it works now. However the streaming is very slow and I see lots of errors while streaming.

[2019-08-27 15:56] dorodnic commented on #4736
Please consider retrying `sudo apt-get install librealsense2-utils` since it will provide you with optimised SDK with CUDA. If you build from source, you need to make sure you build it with CUDA support.

[2019-08-27 16:56] Xxjojo commented on #4565
@ev-mp hey there,
I have the same problem.
Where in the CMakelist.txt does I have to put the line?

[2019-08-27 18:54] RealSenseCustomerSupport commented on #4503
----------------------------------------------

Please let us know if you need any further assistance with this matter.

[2019-08-27 20:42] MartyG-RealSense commented on #4681
Is your NetMate hub one that plugs into the mains electricity please, or is it a "passive" hub that draws its power from the PC?

[2019-08-27 20:57] MartyG-RealSense commented on #4681
When a RealSense model has apparent USB related issues with an Up Board, a mains powered USB hub has a better chance of correcting the problem than a passive hub, which cannot provide the stable wattage that a mains hub can.  I understand how it impacts mobility though.

[2019-08-27 21:13] MartyG-RealSense commented on #4681
The original Up Board only has a 'USB 3.0 OTG' micro port (not a full size USB 3 port) and a USB 2.0 port.  The newer UP Squared has a full USB 3.0 port.  Is your Up model an Up Squared, please?

[2019-08-27 21:33] MartyG-RealSense commented on #4681
Ok, thank you very much.

Some further digging brought to light that the T265 has had issues earlier this year with rs-enumerate-devices not detecting the T265.

https://github.com/IntelRealSense/librealsense/issues/3465

Are you able to get the T265 to work in the RealSense Viewer even if rs-enumerate-devices said it is not detected?

[2019-08-27 22:05] MartyG-RealSense commented on #4681
I apologize that the diagnostic process is taking some time and I appreciate all the information that you and others with this problem are patiently providing.

Since the T265 can function after unplug-replug, it is presumably not a mechanical fault with the OTG port or the hubs that is preventing initial detection on boot.

As mentioned earlier in this conversation thread, it is thought that an i

[2019-08-27 22:10] josephdanielchang opened #4740 "Converting .bin file to .png"
----------------------------------------------------------------------------------------------------

| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D415 |
| Firmware Version                   | 2.25.0 |
| Operating Syst

[2019-08-27 23:25] gachiemchiep commented on #4550
Hello @agrunnet
Could you share your preset file ?

[2019-08-28 02:25] calipos opened #4742 "ctx.query_devices() always =0 on Android"
build with cmake.
CMAKE_TOOLCHAIN_FILE  is  android-ndk-r17c/build/cmake/android.toolchain.cmake.
FORCE_LIBUVC = TRUE.

i get the includes&librealsense2.a and BUILD my application SUCCESSFUL with the lib.
but the ctx.query_devices() always =0 when the apk starts.
what the causal factors are? THANK YOU...

[2019-08-28 03:24] limjizhengshawn opened #4743 "Experiencing lower frame rate than requested in ROS2"
* Before opening a new issue, we wanted to provide you with some useful suggestions (Click "Preview" above for a better view):

    * Consider checking out SDK [examples](https://github.com/IntelRealSense/librealsense/tree/master/examples#sample-code-for-intel-realsense-cameras).
    * Have you looked in our [documentations](https://github.com/IntelRealSense/librealsense/tree/master/doc#useful-lin

[2019-08-28 05:22] MartyG-RealSense commented on #4681
@radfordi   Thanks so much for the information!

@rdinoff. @jmachuca77   I am not an Intel employee, so are not on the inside loop on internal discussions.  So I rely on the brains of kind fellows like @radfordi to fill in my knowledge gaps.  :)

[2019-08-28 05:38] MartyG-RealSense commented on #4740
An alternate approach may be to save the frames as a bag instead.  That gives you a lot of flexibility to convert the bag to a bin or a PNG, or play the frames back.  The SDK has an existing program called rs-convert that you could use as-is or adapt the code into your own project.

https://github.com/IntelRealSense/librealsense/tree/master/tools/convert

[2019-08-28 06:00] danvica commented on #4335
I'm using windows 10 and I've got exactly the same issue.

I've already tried to execute cmake-gui from several path including "C:\Program Files (x86)\Intel RealSense SDK 2.0" and "C:\Program Files (x86)\Intel RealSense SDK 2.0\librealsense-master".

Any suggestion ? Many thanks.

[2019-08-28 06:21] ogoshen commented on #3896
Yes you have, and your intuition was correct. The `PipelineProfile` returned from `Pipline.Start` is what's keeping things alive too long, hence `GC.Collect` resolved your issues.

If the object is otherwise unused just replace the `Start` calls with:
[code]

As to why this didn't happen in the editor, I can only assume the editor is generating some mild garbage and was collecting when the sdk add

[2019-08-28 06:46] mickeyouyou commented on #4518
We use apollo cyber RT as our framework  there is a lite version here. https://github.com/mickeyouyou/apollo_lite

scene : we launch the realsense driver  for cyber RT, data is normal, but there will be problem while run some minunes.

[2019-08-28 06:47] Samuel3Shin opened #4744 "Intel ResalSense D4xx Recovery"
| | |
|---|---|
|**librealsense**|2.26.0 RELEASE|
|**OS**|Linux|
|**Name**|Intel RealSense D4xx Recovery|
|**Product Line**|D400|
|**Asic Serial Number**|836313021804|

Please provide a description of the problem

Hi guys,

I'm currently using Ubuntu 16.
I tried firmware upgrade of my RealSense D435 and it failed.
After that, in realsense-viewer, my device is shown as a ResalSense D4xx Recovery

H

[2019-08-28 06:57] KwonTaewoong opened #4745 "Question about python version on nVidia Jetson"
Hi. I have a question.

I use python 2.7. but in pyrealsense2_aarch64 lib, don't exist python 2.7 version. but, exist python 3.6

Is pyrealsense impossible to use with python 2.7?

[2019-08-28 07:02] MartyG-RealSense commented on #4744
Intel recently introduced a new, easier firmware upgrade system that includes a tool called **rs-fw-update**.  This tool can do a recovery install on a camera with a failed firmware update.

https://dev.intelrealsense.com/docs/firmware-update-tool

To quote:

********

A camera/s might be in a recovery state, in such case listing the devices will output the following:

connected devices:
1) Name:

[2019-08-28 07:21] jakemin commented on #4435
There is a way to support Windows Hello and 2016 RealSense SDK on SR305.
Run "Install Recommended Firmware" in Intel RealSense Viewer V2.26.0.
This will downgrade to V3.21.0.0 and disconnect.
When you run Intel RealSense Viewer V2.26.0. Again, you will be prompted for a recommended firmware update(V3.26.1.0).
However, it is important to note that the model will change from SR305 to SR300 when the

[2019-08-28 07:31] MartyG-RealSense commented on #4745
The pre-made Windows binary versions of the Python wrapper are built for use with Python 2.7, so you should certainly be able to use it with 2.7.

The easiest way to install Pyrealsense2 is using **pip install pyrealsense2**

https://github.com/IntelRealSense/librealsense/tree/master/wrappers/python#installation

[2019-08-28 07:34] matkatz commented on #4693
The camera that you use is D410 which doesn't have a color sensor.
You can use the Infrared stream with Y8 or RGB8 (reconstructed RGB) formats, with the same resolution and FPS as the Depth stream.

[2019-08-28 07:36] MartyG-RealSense commented on #4740
If your recording periods are short then you could use the **Keep()** instruction to record the frames into memory and then save all the files in a single action at the end when the pipeline is closed.  This should be faster than writing to storage as you record.   Keep() is suited to short recording periods only because memory gets consumed by the frames otherwise.  I believe that the  recommende

[2019-08-28 08:11] Mustardsauce commented on #4554
Thank you :)

[2019-08-28 08:39] Garand0o0 commented on #4726
I want to improve the depth quality of D435I. The course you give is the calibration of dynamic parameters. I tried the calibration method you gave, but I didn't see any obvious effect. Are you sure that calibrating dynamic parameters will improve quality?

[2019-08-28 09:19] MartyG-RealSense commented on #4726
Calibration can improve an image in some circumstances, and also correct inaccuracies in depth readings if the inaccuracies are related to the camera's calibration.

If your project makes use of the D435i's IMU component, the IMU should be calibrated separately from the depth sensors.  If you do need to do this, the link below has an IMU calibration guide.

https://dev.intelrealsense.com/docs/dept

[2019-08-28 10:19] ravan786 commented on #1231
Hi,
In the above approach you are making point cloud from a single color and depth frame(you are taking single frame from live stream and generating PC on it). Can you please suggest a way for making a complete point cloud of an object using multiple frames ?
I tried it using open3d reconstruction system but the texture is of very poor quality and appears  to be blurred. Can anyone suggest anythin

[2019-08-28 10:27] svarnypetr commented on #1231
@ravan786 Sorry, I do not have experience with such an approach or making a point cloud created from multiple frames. I can imagine that it will be necessary to identify the points in a common reference frame so what I would do is to tie points from multiple color+depth frame pairs to one frame of reference (e.g. world) and then present them as one point cloud in that frame.

[2019-08-28 10:34] ravan786 commented on #1231
@svarnypetr any idea or code for tying points from multiple frame pairs?

[2019-08-28 10:35] MaryBD commented on #3617
I reinstall everything and skip the terminal with ctrl c but still no CUDA on jetson. I tried to follow instruction for installing CUDA but I got confused by different availabe instructions that fails. Is there any suggestion which one to follow?
Thanks, I am also going to check the environment variable.

[2019-08-28 10:41] svarnypetr commented on #1231
@ravan786 No, sorry.

[2019-08-28 10:51] dorodnic commented on #4744
Also, there is an option in the RealSense Viewer on the Recovery Device to Update to Recommended Firmware (under the "hamburger" menu)

[2019-08-28 11:13] Jrokisky commented on #3617
Does the command: which nvcc

Return anything?

On Wed, Aug 28, 2019, 6:36 AM MaryBD <notifications@github.com> wrote:

[2019-08-28 11:14] MaryBD commented on #4736
I faced some problem using CUDA, I am gonna give another try today. Thanks.

[2019-08-28 11:20] MaryBD commented on #3617
No it doesn't return anything. I have CUDA 9 on host and nothing on jetson.

[2019-08-28 11:23] Jrokisky commented on #3617
Any chance something similar to:
https://devtalk.nvidia.com/default/topic/1037725/jetpack-3-2-1-nvcc-is-not-in-path/
is happening?

On Wed, Aug 28, 2019, 7:20 AM MaryBD <notifications@github.com> wrote:

[2019-08-28 11:24] danvica opened #4747 "Compiling error - Python Wrapper"
* Before opening a new issue, we wanted to provide you with some useful suggestions (Click "Preview" above for a better view):

    * Consider checking out SDK [examples](https://github.com/IntelRealSense/librealsense/tree/master/examples#sample-code-for-intel-realsense-cameras).
    * Have you looked in our [documentations](https://github.com/IntelRealSense/librealsense/tree/master/doc#useful-lin

[2019-08-28 11:30] grigala opened #4748 "D415 RGB Camera Specification"
----------------------------------------------------------------------------------------------------

| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       |D415 |

### Since RGB sensor is a separate camera are intrinsics the sam

[2019-08-28 11:44] grigala commented on #4747
Have you tried to call CMake from top most source directory? I've had the same error when I was trying to compile it from `/wrappers/python/` directory, so try to CMake it from root folder.

[2019-08-28 11:59] MartyG-RealSense commented on #4748
On the D415 model (the cased model and the caseless Depth Module Kit model) the RGB sensor is integrated on the camera circuit board.  It is not board-integrated on the other models in the 400 Series range.  On the cased camera models such as D435 that have RGB but not a D415 board (the D435 models use the 'D430' board), the RGB sensor is attached separately via cable inside the camera casing.

Th

[2019-08-28 12:13] BriceRenaudeau commented on #4681
Thanks for the information,
I also have the same problem

[2019-08-28 13:08] danvica commented on #4747
Thanks for the quick help.
Well, I've executed cmake-gui from the following paths:

C:\
C:\Program Files (x86)
C:\Program Files (x86)\Intel RealSense SDK 2.0
C:\Program Files (x86)\Intel RealSense SDK 2.0\librealsense-master
C:\Program Files (x86)\Intel RealSense SDK 2.0\librealsense-master\src
C:\Program Files (x86)\Intel RealSense SDK 2.0\librealsense-master\wrappers

Note: Every time deleting t

[2019-08-28 13:17] rgreid commented on #4518
@harville replying for @kylesaltmarsh: in our case, in the ~10 times we've had the pose estimate turn into nans, the T265 has been in a feature-rich scene and not moving.  An odd situation for the filter to diverge!  A couple of times the same sensor has diverged while in motion (we've observed the pose estimate drifting rapidly away to infinity).  We'll aim to test 2.26.0 with a few different sen

[2019-08-28 13:27] codesian commented on #4728
Hi @pandurdo!

How can you solve it?

Thanks

[2019-08-28 13:31] grigala commented on #4747
I've just compiled it from the `master`.
Must be a local issue, try to clone the source somewhere else than `C:\Program Files (x86)\Intel RealSense SDK 2.0` i.e. in your home directory or desktop and then in root folder:
[code]
P.S. Also make sure you have all the required dependencies installed.
![image](https://user-images.githubusercontent.com/2084794/63859528-d57d7080-c9a7-11e9-8276-43e82153a3

[2019-08-28 13:34] danvica commented on #4747
Thanks, I'll try that.

BTW, I'm on windows 10.

[2019-08-28 13:41] grigala commented on #4747
I know, me too :)

Here if you didn't liked `WSL` shell 😄

![image](https://user-images.githubusercontent.com/2084794/63860896-3443e980-c9aa-11e9-9640-2d9fe8d20e57.png)

[2019-08-28 14:32] #3896 closed

[2019-08-28 14:36] grigala commented on #4748
Oh my bad, I missed that page apparently.

Thanks @MartyG-RealSense

[2019-08-28 14:36] #4748 closed

[2019-08-28 14:52] pwalczykk opened #4750 "Reproduction of hanging D400 camera issue"
----------------------------------------------------------------------------------------------------

| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D400 |
| Firmware Version                   | 05.11.01.00 |
| Operating

[2019-08-28 15:26] danvica commented on #4747
It works!
Many thanks.

[2019-08-28 16:01] MartyG-RealSense commented on #4750
Thank you very much for your carefully prepared test!  Well-structured test result data is a useful resource for increasing technical understanding of why certain problems might occur.  The commitment of yourself and other community members to improving the experience of RealSense users is really appreciated.  :)

[2019-08-28 16:36] MartyG-RealSense commented on #4740
I came across a web-based bin to png convertor that offers the source code for the convertor page on a GitHub.  As you are willing to create the convertor as a separate program, I wonder if this might meet your needs.  It would be quite quick to put a RealSense bin file into the existing pre-made convertor page and see if a good PNG comes out of it.

**Convertor web-page**

http://xem.github.io/3D

[2019-08-28 17:47] pandurdo commented on #4728
I followed the instructions from here:

https://github.com/IntelRealSense/librealsense/issues/4499#issuecomment-514938979

[2019-08-28 21:27] GerardMaggiolino commented on #3854
@dorodnic Just to clarify, are you stating that SR300, D415, D435 and T265 cameras should be compatible with the Jetson Nano per that linked guide?

Attempting to follow that guide on the Jetson Nano yields the following error:
[code]
which, when googling around, leads me to #1049 where the recommended method is using kernel patches.

[2019-08-28 23:34] gorshborsh opened #4751 "D435I IMU Calibration Not Accurate"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D435I |
| Firmware Version                   |  5.11.11 |
| Operating System & Version |  Win10  |
| Kernel Version (Linux Only)    |

[2019-08-29 00:49] tonyhsiao1995 commented on #4627
@wodndb
I am using something like this
https://www.advantech.com/products/5754ec6c-de46-4543-ab4e-f2a8d3e96c9c/pce-usb/mod_4bcf4f15-e3ad-4cf3-809c-c49eb0dcc439

[2019-08-29 01:59] Samuel3Shin commented on #4744
Thank you guys!

Especially, @dorodnic your solution solved my problem with just one click.

[2019-08-29 01:59] #4744 closed

[2019-08-29 05:51] magnusbarata commented on #4391
Hello, I'm new to sensors like IMU, and I've got some questions about using D435i IMU and converting it to angles.

1. I tried the rs-motion, and here's my result.
![rs-motion](https://user-images.githubusercontent.com/28722476/63911802-9104da00-ca66-11e9-8066-08e41f07f3be.gif)
As you can see, roll and pitch works fine, but yaw is not, which should be fine quoting this.

    My question is, why th

[2019-08-29 06:36] ogoshen commented on #4719
See [cs-tutorial-3-processing](https://github.com/IntelRealSense/librealsense/blob/master/wrappers/csharp/cs-tutorial-3-processing/Window.xaml.cs) sample for current API.

`Align.Process` should still be there but marked as obsolete.

[2019-08-29 06:40] nafidoni commented on #4693
Hallo @MartyG-RealSense ,

I was not able to update the micrologiciel version.

[2019-08-29 06:49] MartyG-RealSense commented on #4693
Micrologiciel is French for 'firmware', apparently.  :)

What device are you trying to do the firmware update on, please?   (PC with Windows or Linux, an Android device,, etc).

[2019-08-29 07:06] #2835 closed

[2019-08-29 07:34] nafidoni commented on #4693
Sorry, I was trying to update the firmware of RealSense Model D435  Current firmware version: 05.09.02.00 to Minimal firmware version: 05.10.03.00

[2019-08-29 07:46] MartyG-RealSense commented on #4693
If you have access to the RealSense Viewer software, you can update the firmware to a recommended version by going to the 'More' icon at the top of the options side-panel and selecting the 'Install Recommended Firmware' option.

![image](https://user-images.githubusercontent.com/41145062/63920797-841dc180-ca39-11e9-8346-fe43a3fb1a3c.png)

[2019-08-29 08:12] josephdanielchang commented on #4740
I tried the web converter, but only about the top 1/4 of the image is recovered and it has a very blue tint. Not sure if that’s because of the code above I used to save to .bin files or if it’s the web converter’s problem. Do you think the code I used in my first post should correctly save the entire frame as .bin?

[2019-08-29 08:22] nafidoni commented on #4693
Ok  Thanks. I am using Linux.
How can I have accesse to the realSense Viewer Software.

[2019-08-29 08:25] MartyG-RealSense commented on #4740
Dorodnic the RealSense SDK Manager offered some example code for another user for writing a binary.  It uses the outfile.write technique your own code uses:

https://github.com/IntelRealSense/librealsense/issues/1485#issuecomment-379703868

[2019-08-29 08:45] MartyG-RealSense commented on #4693
I am not a Linux user myself (I use Windows), but it looks as though when the Librealsense SDK is built in Linux, the binary versions of the examples and tools are placed in the folder **/usr/local/bin**

[2019-08-29 09:21] MartyG-RealSense commented on #4751
If you are trying to calibrate the camera in a downward-facing position, Alexandra from the Intel Support forum had this to say to another user attempting to calibrate the D435i in a downward-looking orientation:

"Calibrating the IMU for a downward facing position will not be possible ... our calibration for the IMU will calibrate it upright, that’s our configuration or expected configuration.  Y

[2019-08-29 09:24] KwonTaewoong commented on #4745
I installed it successfully.
Thanks a lot.

[2019-08-29 09:26] MartyG-RealSense commented on #4745
Awesome news, thanks so much for letting us know.   Good luck!

[2019-08-29 09:37] #4745 closed

[2019-08-29 10:32] lramati commented on #4657
With the caveat that I'm not familiar with Tkinter, the code looks like it should be fine. What kind of errors are you getting?

[2019-08-29 10:36] Murded opened #4753 "Android GLRsSurfaceView single frame causes dropped frames"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D415 |
| Firmware Version                   | 05.11.06.200 |
| Operating System & Version | Android 9  |
| Platform                                 |Phone  |
| SDK Version

[2019-08-29 10:43] SirDifferential opened #4754 "D435 heap-buffer-overflow with libuvc"
----------------------------------------------------------------------------------------------------

| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D435 |
| Firmware Version                   | Signed_Image_UVC_5_11_1_1

[2019-08-29 11:26] Murded commented on #4753
After looking at the Debug logs I can see this is displayed over and over:
[code]

[2019-08-29 11:40] noell1 opened #4755 "Firmware image (version 3.26.1.0) for SR300"
----------------------------------------------------------------------------------------------------

| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | { SR300 } |
| Firmware Version                   | (3.26.1.0) |
| Opera

[2019-08-29 12:08] coldcoda commented on #4705
Thanks!! I will try the unity 2019

[2019-08-29 12:12] coldcoda opened #4756 "RealSense SDK & D435"
Hello,
Does the Intel RealSense SDK (not SDK2) support the depth camera D435? And can I use the SDK to complete the Face Tracking and Recognition.

Thanks a lot !!!

[2019-08-29 12:26] MartyG-RealSense commented on #4755
The recommended firmware version for the SR300 is now **3.10.10.0**

I don't know of an ability to update the SR300 with the current DFU tool.  The older Windows-based SDK from 2016 had a text-based DFU tool for the SR300, though this may not be useful to you if you can only update via Linux.

https://forums.intel.com/s/question/0D70P000006973mSAA

I do not have a source for the firmware file thou

[2019-08-29 12:40] MartyG-RealSense commented on #4756
The 2016 SDK for Windows (2016 R3) does not support the 400 Series cameras such as D415 and D435, unfortunately.  It supports F200 and SR300 cameras.

[2019-08-29 13:44] coldcoda commented on #4756
I wish to get face landmarks with D435 also use unity to complete it, Is there any functions provided by Realsense SDK2 can  help me? I also wish to get Three-dimensional information of human face.

Finally, what I want to accomplish is that the change of facial expression drives the change of virtual face model. So,Is there any functions in Realsense SDK2 can  help me?

[2019-08-29 13:58] NXTwoThou commented on #4664
Same error with v2.27.0

![Untitled](https://user-images.githubusercontent.com/15003605/63946721-31dda000-ca3b-11e9-805d-4d478f3b67d1.png)

[2019-08-29 13:59] MartyG-RealSense commented on #4756
Nuitrack SDK supports face landmarks and can also be tightly integrated with Unity.  Below is a link to a Nuitrack face tracking tutorial for Unity that changes the expression on a 2D face sprite.

https://download.3divi.com/Nuitrack/doc/UnityFaceTracking_page.html

There is also face detection software in Unity based on the OpenCV vision software.  It is not inexpensive though, and its most advan

[2019-08-29 14:22] vvgokul55 commented on #4693
@nafidoni, Can you try RS Camera app, (https://play.google.com/store/apps/details?id=com.intel.realsense.camera&hl=en)
I believe it has got a feature that would update your firmware to the latest or so.

[2019-08-29 14:24] vvgokul55 commented on #4693
Thank you, @matkatz can you please suggest list of streams supported by D410 other than depth and infrared.

[2019-08-29 14:24] #4654 closed

[2019-08-29 14:28] MartyG-RealSense commented on #4693
If you are able to run the tool **rs-enumerate-devices** then it can list the modes supported by the particular RealSense camera model currently plugged in.

https://github.com/IntelRealSense/librealsense/tree/master/tools/enumerate-devices

[2019-08-29 14:39] Nyro-Binag commented on #4540
Same problem. The people at Nuitrack had the same problem with librealsence. https://community.nuitrack.com/t/unity-crashes-when-performing-a-drag-and-drop-operation/852/24

[2019-08-29 14:49] ArjanVroegop commented on #4569
Hi,
I'm sorry for the late reply, I was off work for a while. I'll have a look at this, this could indeed be the problem because our organisation does some weird stuff with the Windows user profiles. I'll let you know

[2019-08-29 14:53] ArjanVroegop commented on #4574
I'm sorry for the late reply, I did not have time to work on this issue lately (holiday season and other projects). The problem is still relevant, it is a side-project for me and I work on it every now and then.

So far I can use the strobe synced with the camera if I have the right settings but i don't understand what the settings really do.

About the remark on using the strobe pin of the OV2740

[2019-08-29 15:09] HadeelRS commented on #4476
Yes I found a solution ... Thank you

[2019-08-29 16:04] skylermaxwell42 opened #4760 "Will the Box Dimensioner Example work for SR300? (python)"
----------------------------------------------------------------------------------------------------

| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | SR300 |
| Firmware Version                   | 3.26.0 |
| Operating Sys

[2019-08-29 16:57] JBBee commented on #4700
Thanks @radfordi This works great now.  I can update our app to 2.27.0 now.  We load the localization map each time an AR session is started so we needed this.

Thanks again!

[2019-08-29 17:02] MartyG-RealSense commented on #4760
I do not know personally whether there is a reason why the script would not work with SR300.   However ...

Are you using the 6x9 calibration chessboard size specified in the instructions as your calibration object, please?   If you use a different size then you need to adjust the chessboard parameters in the box dimensioner script.

Also, the box that is being measured should be smaller than the

[2019-08-29 17:23] skylermaxwell42 commented on #4760
@MartyG-RealSense

Hi Marty,

Thanks for your quick response.

One reason it will not work is because when you run
[code]
it fails because the SR300 does not accept these options. There are other places in the code where it must be modified as well because it fails on certain SDK calls that only apply to the RS400 cameras

I am using the provided checkerboard in the project and I have the cameras

[2019-08-29 17:35] MartyG-RealSense commented on #4760
SR300 cameras can interfere with each other when placed in proximity to one another, yes.

I'm not sure that it needs to have a json loaded.  I'm not a Python expert but with SDK 2.0 in general, if you do not specify a configuration with a config / cfg command then the SDK uses that camera's default configuration.

[2019-08-29 18:01] dorodnic commented on #4760
Unfortunately, coded-light cameras (SR300) do interfere with each other in quite severe way when sharing field-of-view.

[2019-08-29 18:12] gorshborsh commented on #4751
Thank you for your reply, Marty.

I think I may not have described the issue properly.
When held in position 5 (these images were taken from the IMU calibration whitepaper) we get a reading of 9.4 m/s^2.
<img width="580" alt="rs_pos5" src="https://user-images.githubusercontent.com/17237103/63965204-a67a0400-ca66-11e9-900d-d8471a7ad2c4.PNG">
When held in position 6 we get a reading of 10.4 m/s^2.
<

[2019-08-29 18:16] MartyG-RealSense commented on #4760
There is Microsoft's 2012 'shake n sense' method of breaking up interference by vibrating a structured light camera with motors (Kinect 1 used coded light, whereas Kinect 2 was time of flight).   Though in honesty, I haven't heard of anyone who ever got the technique to work with a RealSense F200 or SR300 camera!

 https://www.microsoft.com/en-us/research/publication/shakensense-reducing-interfere

[2019-08-29 18:30] realsens01 commented on #2835
Not really sure why this was closed. The issue remains and my question was not answered. [dorodnic referred to this as an unresolved issue](https://github.com/IntelRealSense/librealsense/issues/3029#issuecomment-453114359), and I continue to have problems with it. Maybe because the OP is not responding? I'll go ahead and make a new one.

[2019-08-29 18:40] JingqiuZuo opened #4761 "use rs-convert to get csv from bag, failed"
* Before opening a new issue, we wanted to provide you with some useful suggestions (Click "Preview" above for a better view):

    * Consider checking out SDK [examples](https://github.com/IntelRealSense/librealsense/tree/master/examples#sample-code-for-intel-realsense-cameras).
    * Have you looked in our [documentations](https://github.com/IntelRealSense/librealsense/tree/master/doc#useful-lin

[2019-08-29 18:41] MartyG-RealSense commented on #4751
Thank you very much for the clarification.

Are you able to achieve more consistent results if you test the IMU with the **rs-motion** demo, please?

https://github.com/IntelRealSense/librealsense/issues/4391#issuecomment-509921061

[2019-08-29 18:51] realsens01 opened #4762 "Bag unindexed error when recording"
Creating a new issue because [2835](https://github.com/IntelRealSense/librealsense/issues/2835) was closed without resolution.

Notes:
* See [3044](https://github.com/IntelRealSense/librealsense/issues/3044#issuecomment-464514016) for my system specification.
* Dorodnic referred to [2835](https://github.com/IntelRealSense/librealsense/issues/2835) as a known and unresolved issue in [3029](https://

[2019-08-29 19:00] realsens01 commented on #4357
* Update to address some of the previous questions.
* This uses the stream indices suggested by @bmar45
* This uses the code suggested by @RealSenseCustomerSupport

[code]

[2019-08-29 19:35] realsens01 commented on #4357
Requested log output:
[code]

[2019-08-29 19:53] gorshborsh commented on #4751
The rs-motion demo seems to behave reasonably. I am not sure how such a discrepancy between the reported acceleration in the RealSense Viewer and the rs-motion demo can exist.

I wrote a program to poll my D435i for motion frames and print out the normalized magnitude of the acceleration, and it matches up with what the RealSense viewer reports for Position 5 and 6 above.

Do you have any inkling

[2019-08-29 20:17] MartyG-RealSense commented on #4751
The rs-motion documentation suggests that it uses something called a Complementary Filter to stabilize the data.  To quote:

**********

We use an approximate version of Complementary Filter to balance gyroscope and accelerometer results. Gyroscope gives generally accurate motion data, but it tends to drift, not returning to zero when the system goes back to its original position. Accelerometer, o

[2019-08-29 21:07] BenDavisson commented on #2118
Has there been an update for this issue in the last 8 months?  I have tried using pip install on python 3.7, 3.6, and 2.7

All result in "ERROR: No matching distribution found for pyrealsense2"

[2019-08-29 22:21] eric-schleicher opened #4763 "apt-get install librealsense2-dkms produces error and unknown result on system with multiple kernels available"
|                 Item  |  Value |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D400  Series |
| Firmware Version                   | N/A |
| Operating System & Version |   Ubuntu 18.04|
| Kernel Version (Linux Only)    |   4.18.0-15-generic                                       |
| Platform

[2019-08-29 22:25] kmeirlaen commented on #4719
Thanks, exactly what I needed!

[2019-08-29 22:25] #4719 closed

[2019-08-29 22:54] RealSenseCustomerSupport commented on #4522
----------------------------------------------

@rosesue, the RealSense D4 depth engine delivers 16bit depth data, with the default unit/scale of 1mm. The maximum depth unit is 10mm and can be changed on the fly.

Please keep in mind that "The depth error scales as the square of the distance away."

https://dev.intelrealsense.com/docs/tuning-depth-cameras-for-best-performance#section-change-the-de

[2019-08-29 23:00] RealSenseCustomerSupport commented on #4577
----------------------------------------------

@ankith001, can we close this ticket if there is no further question?

[2019-08-30 00:42] josephdanielchang commented on #4740
That's where I got my code from. Here's my full function.

[code]

The problem I'm having is not knowing how to unpack the .bin files properly.

[2019-08-30 00:57] sailfish009 opened #4764 "How to resize existen bag file?"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D415 |
| Firmware Version                   | 05.11.06.250 |
| Operating System & Version |   Win 10 64bit  |
| Kernel Version (Linux Only)    |

[2019-08-30 01:43] WasabiFan commented on #4414
What tests are you asking me to perform -- would you like me to run data-collect and provide the output? Or still do something with v4l?

[2019-08-30 05:16] ohtaisao commented on #4540
I looked at the thread but it seems the same phenomenon. Moreover, NuiTrack seems to fix the bug by identifying the cause! I want Librealsense's UnityWrapper to fix it as well.

[2019-08-30 05:51] MartyG-RealSense commented on #4764
ROS has a toolkit called **bag_tools ** that features a program called **cut.py**. It can input a bag file, crop it to the specified start point and 'duration' end-point, and write the result as an output bag.

http://wiki.ros.org/bag_tools#cut.py

[2019-08-30 06:36] coldcoda opened #4765 "pyrealsense2 & python3.7"
Hello,
Does pyrealsene2 support python3.7 ?
I have installed python 3.7 ,But I can't install pyrealsense2. Do I have to install a python3.6 ?

[2019-08-30 06:40] MartyG-RealSense commented on #4740
I researched the subject further and although there are plenty of general binary text to png solutions available, it occurred to me that none of them may be useful if the RealSense bin files are formatting the data in a particular way that requires a solution tailored to RealSense in order to get an intact PNG version of it.

I also considered the possibility of changing a bin back into a frame (a

[2019-08-30 07:10] MartyG-RealSense commented on #4765
Python 3.7 support was added in SDK version 2.23.0 in June 2019.

https://github.com/IntelRealSense/librealsense/pull/4012

Support for Pypi installation of 3.7 seems to be something that is still in the works.

https://github.com/IntelRealSense/librealsense/issues/4515#issuecomment-521235404

[2019-08-30 07:23] doisyg commented on #4681
Is there a rough estimate of when the problem will be fixed? Days, weeks or months? We would like to use the t265 on some production system and we need to make a decision soon.

[2019-08-30 07:27] SirDifferential commented on #4445
Alright, I got this solved. The classes / functions you mentioned aren't in the librscalibrationapi headers, but in the examples under `/usr/share/doc/librscalibrationapi`. I wasn't using the examples, but read the documentation on the PDF and utilized the API directly.

The original problem with `DC_ERROR_TABLE_NOT_SUPPORTED` seems to happen if the handle you pass to `DynamicCalibrationAPI::DSDyn

[2019-08-30 07:40] Kaju-Bubanja commented on #866
This issue still persists in the newest firmware 05.11.06.250

[2019-08-30 08:57] ArjanVroegop commented on #4569
I've found a solution. In our organisation the Documents folder is not local but somewhere on the network. I've created the folder C:\users\<username>\Documents and now the viewer works (version 2.27.0)

[2019-08-30 10:16] Dealerpriest opened #4766 "bag files with missing frames hangs when playback is non-realtime."
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D415 |
| Firmware Version                   | 05.11.06.250 |
| Operating System & Version |  Win 10  |
| Platform                                 | PC |
| SDK Version

[2019-08-30 10:29] Dealerpriest commented on #4766
One possibility I looked into was to use the rosbag inspector. But there isn't any compiled binary version included in the SDK install. Why?
I tried to compile the SDK myself but wasn't very successful. Anyone got any advice on this? Or perhaps a binary version of the rosbag inspector compiled for winx64?

[2019-08-30 12:13] kinetixx opened #4767 "435i see as 430i"
Hello

I have 6 cameras, RealSense 435i, all have the newest firmware -> D400_Series_Production_FW_5_11_6_250. 4 cameras the system see as 435i and two as 430i.
Serial numbers of these: 843112073212, 843112070069. RealSense Viewer see them as product id : 0B4B, but 435i see as 0B4A, but on the cameras it is written 435i. Is it possible?

Thank you.

[2019-08-30 12:28] MartyG-RealSense commented on #4767
430i isn't a camera model that is available for the public to buy yet, though it is supported by the SDK and so is probably a model of D435i without a casing (like the caseless D430 camera board) that Intel are doing internal testing on.

Typically, when a D435 mis-identifies as a D430, it is because the RGB sensor is not being detected.  I believe it may be corrected by downgrading the firmware t

[2019-08-30 12:39] patrickpoirier51 commented on #4408
BananaPi Zero is working just fine

![image](https://user-images.githubusercontent.com/12484190/64021337-b2ff6a80-cb01-11e9-906a-5a8ef00835cb.png)

[2019-08-30 13:36] NXTwoThou commented on #4664
Same issue with build 18970

[2019-08-30 14:27] paolorota opened #4768 "RuntimeError: command transfer failed to execute bulk transfer, error: RS2_USB_STATUS_ACCESS"
I have installed pyrealsense2 on my ubuntu 18.04 via pip3.

Once I run my code it says the error in the subject:

`RuntimeError: command transfer failed to execute bulk transfer, error: RS2_USB_STATUS_ACCESS` when I start the pipeline.

What does that mean?

My camera is a Creative blasterX senz3D.

Thanks,
P.

[2019-08-30 14:35] MartyG-RealSense commented on #4768
I just wanted to add for others who may have knowledge of this subject that the Creative BlasterX Senz3D is a RealSense SR300 camera manufactured by Creative (who also manufactured the official SR300 Developer Kit camera on behalf of Intel).  It looks and works the same as an official SR300.

[2019-08-30 15:08] Dealerpriest commented on #3897
I will try the code you provided asap and report back my findings👍

[2019-08-30 15:54] RealSenseCustomerSupport commented on #4445
----------------------------------------------

Hi @SirDifferential, thank you for the feedback and I am glad the issue is resolved.
We will close this ticket now.

[2019-08-30 16:05] #4108 closed

[2019-08-30 16:05] #4445 closed

[2019-08-30 17:28] RealSenseCustomerSupport commented on #4409
----------------------------------------------

@kamadhenu87, if there is no further question, we will go ahead and close this ticket.

[2019-08-30 17:41] MartyG-RealSense opened #4769 "Announcement: Highlighting the 'FRAMOS Depth Camera D435e' RealSense industrial camera"
Hi everyone,

It has come to my notice that Intel Authorized Distributor company FRAMOS, a long-time supporter of RealSense technology, have developed an industrial variant of the D435 named the 'FRAMOS Depth Camera D435e' that will be available from September 2019.

There is established precedent for this - in the previous generation of cameras before the 400 Series, companies including Creative

[2019-08-30 17:58] MartyG-RealSense commented on #4408
Though not related to the T265-specific theme of this discussion, I thought I would highlight a third party industrial version of the D435 from the company FRAMOS that I've come across that includes an M8 power connector.

https://github.com/IntelRealSense/librealsense/issues/4769

[2019-08-30 19:08] radfordi commented on #4408
Very nice, @patrickpoirier51!

[2019-08-30 21:32] kroq-gar78 commented on #4763
Not a dev on this project, but uploading the relevant bits of `/var/lib/dkms/librealsense2-dkms/1.3.6/build/make.log` would likely help.

[2019-08-30 22:47] RealSenseCustomerSupport commented on #4414
----------------------------------------------

Could you please check whether there is any duplicate frame (ID/timestamp) by running rs-data-collect via the USB-C hub first?
`rs-data-collect -c ./data_collect.cfg -f ./log.csv -t 60`
data_collect.cfg:

    DEPTH,1280,720,30,Z16,0COLOR,1280,720,30,RGB8,0

[2019-08-30 23:49] lvale commented on #4408
Well, asking price ranges means it is out of the amateur/hobby user....

[2019-08-31 05:33] MartyG-RealSense commented on #4408
@lvale   Yes, there is usually an old saying about luxury goods: "If you have to ask the price, you can't afford it".  On the other hand, FRAMOS seem to use a quote based system for every component on their store, so it won't necessarily be a very large excess over and above the standard D435.

[2019-08-31 08:33] sailfish009 commented on #4764
@MartyG-RealSense , thanks for the info!

[2019-08-31 08:33] #4764 closed

[2019-08-31 09:58] dorodnic commented on #4768
You can install realsense2-utils package or manually follow the installation step describing udev-rules update

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-08-31 09:58] dorodnic commented on #4768
(Basically by default on Linux you don’t have permissions to work with the camera)

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-08-31 11:53] dorodnic commented on #4767
It is possible if the cable connecting D400 ASIC board to the RGB module gets loose.
If you see this issue consistently I'd recommend contacting support for replacement.

[2019-08-31 11:55] #4700 closed

[2019-08-31 12:22] Soa11 opened #4770 "Problems building unity"
----------------------------------------------------------------------------------------------------

| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D435  |
| Firmware Version                   | 05.11.06.250 |
| Operati

[2019-08-31 15:23] MartyG-RealSense commented on #4770
If you are using Windows 10 then there is an installation short-cut so you do not have to build the wrapper yourself.  You can use the pre-made DLL library files that are supplied with the RealSense SDK.

https://forums.intel.com/s/question/0D70P0000068Yo0SAE

[2019-09-01 07:39] badforlabor opened #4771 "Color and depth maps are not aligned when moving fast"
----------------------------------------------------------------------------------------------------

| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | { D435 } |
| Firmware Version                   | 05.11.06.200 |
| Oper

[2019-09-01 08:58] MartyG-RealSense commented on #4771
Another RealSense user encountered this issue in February 2019, though a solution was not reached in that case.

https://github.com/IntelRealSense/librealsense/issues/3221

Are you using one of the SDK sample programs such as **rs-align** or **align-depth2color.py** or are you using your own script, please?   If it is your own script, please post the code in a comment below.  Thanks!

[2019-09-01 09:02] dorodnic commented on #4771
If misalignment is due to movement, first thing to check is whether the RGB and depth cameras are in hardware-sync. By default, RGB camera operate in FPS priority mode, meaning it can reduce FPS (to say 15) if there is not enough light. This will, in turn disable hardware sync. You can set Exposure Priority Mode in the Viewer or via code and configure the cameras to same FPS. This should reduce th

[2019-09-01 09:38] lramati commented on #4765
Your options are either to [compile from source](https://github.com/IntelRealSense/librealsense/tree/master/wrappers/python#building-from-source) or to downgrade to Python 3.6 and install via PyPi. Keep in mind that PyPi installation is not currently supported on any version of Python for Mac.

[2019-09-01 11:44] badforlabor commented on #4771
Awesome, that's right，It improves the situation by 90%，still has problem like this
![](https://github.com/badforlabor/rawimage/raw/master/solved-2019-09-01_193758.png)

### have any other solution?

[2019-09-01 11:47] badforlabor commented on #4771
yes, I'm using sample align.vcxproj in SDK.

[2019-09-01 13:50] MartyG-RealSense commented on #4771
Apologies for the delay in responding further.   I have been carefully considering and researching your case.

A test for whether the source of your problem is with the **rs-align** program may be to do a color to depth alignment in the RealSense Viewer's 3D point cloud mode and see if the same separation between color and depth occurs when you do fast motion.  The link below contains information

[2019-09-01 15:18] #4730 closed

[2019-09-01 19:01] CaleMcCollough commented on #2612
Sadly updating the webcam driver only reduces the frequency of but does not eliminate the freezing. I've read on the internet that Windows 10 has a problem with their change to YUY2 color space breaking webcams. The Windows 10 Camera is completely unusable; I can't even load the app right now, but in the RealSense viewer I can change to YUYV color space and I'm not getting the USB CAM overflow. Ma

[2019-09-01 19:32] kgh475926 opened #4775 "I'm having trouble finding where the variable "_pixel_top_left_int" is assigned in src/proc/sse/sse-align.cpp"
OS: Ubuntu
Language: C++

I'm having trouble finding where the variable "_pixel_top_left_int" is  assigned in src/proc/sse/sse-align.cpp

When I say assigned I mean a code that looks something like this:
_pixel_top_left_int = someVectorValue;
OR some form of modification of the vector.

Right now I understand that the vector _pixel_top_left_int is initialized in the constructor called image_transf

[2019-09-01 19:45] kgh475926 opened #4776 "Can there be constant values in variables when using one specific RGB and Depth camera?"
Camera Model: SR300
OS: Ubuntu
Platform: PC
Language: C++

I'm only using the camera SR300 for some project and I want to optimize some code to decrease the execution runtime. So I was just wondering if there can be constant values in variables when using one specific RGB and Depth camera (for this case, SR300)?

What I plan to do is to have all the constant variables and eliminate unnecessary cal

[2019-09-01 19:59] MartyG-RealSense commented on #4776
I'm not sure how much processing you would save, but you can certainly turn off auto-exposure and use set values for variables such as exposure and gain.  You could also turn off AE Priority to enforce a constant FPS.

[2019-09-02 01:54] RealSenseCustomerSupport commented on #3024
----------------------------------------------

@oiramario If no other questions, will close this accordingly. Thanks!

[2019-09-02 02:03] #3024 closed

[2019-09-02 03:01] RealSenseCustomerSupport commented on #4326
----------------------------------------------

@BenBergman Any update? Thanks!

[2019-09-02 03:02] RealSenseCustomerSupport commented on #4189
----------------------------------------------

@shadowdk3 Any update? Thanks!

[2019-09-02 03:02] RealSenseCustomerSupport commented on #3839
----------------------------------------------

@stephen-systemfrien Any update? Thanks!

[2019-09-02 03:03] RealSenseCustomerSupport commented on #3274
----------------------------------------------

@picturedeeplover Any update? Thanks!

[2019-09-02 03:26] stephen-systemfriend commented on #3839
Sorry, it's been really busy with other work, so I haven't been able to confirm, but as far as I can tell, it still drops a lot of frames once I connect it to the network device instead. I'm expecting degraded performance due to the latency, but I could do without it also halving the effective frame rate again by dropping a whole load more of the frames.

[2019-09-02 07:11] liltrekkie opened #4777 "A question about 360 degree captures"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D435i |
| Firmware Version                   | Latest |
| Operating System & Version | Win 10 |
| Platform                                 | PC |
| SDK Version

[2019-09-02 07:21] mikeroyal opened #4778 "Snap [Feature Request]"
I was wondering if you might have an interest in a [snap](https://snapcraft.io/) version. I would help make the snap and submit a PR if there's any interest.
[Crafting your first snap](https://tutorials.ubuntu.com/tutorial/create-your-first-snap#0)

[2019-09-02 08:16] badforlabor commented on #4771
I will give it a try, thank you very much.

[2019-09-02 08:16] #4771 closed

[2019-09-02 08:41] Maheshwariraghav112 opened #4779 "Malformed error"
E: Malformed entry 1 in list file /etc/apt/sources.list.d/realsense-public.list (Component)

[2019-09-02 08:47] MartyG-RealSense commented on #4778
Intel welcome community contributions of any kind for RealSense.  In an online 'webinar' session about RealSense in June 2018, the following statement was made by the Intel presenters:

"We strongly appreciate and encourage community participation ... we wanted to make it very easy for people to take the library and modify it to their needs, and share it with more people, even if it doesn't line u

[2019-09-02 08:52] comwise opened #4780 "install librealsense2-dkms error"
----------------------------------------------------------------------------------------------------

| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       |  D435i                                                     |
| Firmware

[2019-09-02 08:53] dizz opened #4781 "ros-kinetic-librealsense fails on install within container"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | n/a |
| Firmware Version                   | n/a |
| Operating System & Version |  Ubuntu 16.04 LTS  |
| Kernel Version (Linux Only)    |  (e.g. 4.14.13)

[2019-09-02 09:29] vangewj opened #4782 "missing using Intel.RealSense in U3D, who solved? "The type or namespace name `Intel' could not be found. Are you missing an assembly reference?""
* Before opening a new issue, we wanted to provide you with some useful suggestions (Click "Preview" above for a better view):

    * Consider checking out SDK [examples](https://github.com/IntelRealSense/librealsense/tree/master/examples#sample-code-for-intel-realsense-cameras).
    * Have you looked in our [documentations](https://github.com/IntelRealSense/librealsense/tree/master/doc#useful-lin

[2019-09-02 10:32] ev-mp commented on #4780
@comwise , D435i is implemented according to UVC 1.5 standard and the kernel you're running is pre-UVC1.5 (UVC1.1). So even if you manage to resolve compilation issues I don't think it is guaranteed that the device (or at least some controls) will work properly.
Officially UVC1.5 support was added in kernel 4.5, but with most distros (e.g Ubuntu) any kernel beyond ~4.4.0-60+ should be ok, like the

[2019-09-02 10:46] ev-mp commented on #4779
@Maheshwariraghav112 , this file `/etc/apt/sources.list.d/realsense-public.list` is not used by Librealsense and has been replaced by alternative and [streamlined approach](https://github.com/IntelRealSense/librealsense/blob/master/doc/distribution_linux.md#installing-the-packages) a while ago.
It is still mentioned in `intel-realsense-dfu` [installation guide](https://www.intel.com/content/dam/su

[2019-09-02 11:10] Dealerpriest commented on #4766
I have now tried this in both C++ and in Unity/C#. The behaviour is the same for both. So my conclusion is that there is some problem in the native library.

[2019-09-02 11:12] ev-mp commented on #4776
@kgh475926 , the scope of available optimizations is  use-case tailored so if you can describe your use-case/platform then we would be able to assess which optimizations may benefit the code (e.g. CUDA/OpenMP).
In the SDK we also have a built-in utility class named `scoped_timer` that measures function execution times, so you can use it to profile `librealsense` code and to highlight the time-cons

[2019-09-02 11:20] lramati commented on #4167
This should be addressed in PR #4758

[2019-09-02 11:23] lramati commented on #4416
This was addressed in PR #4758

[2019-09-02 11:38] ev-mp commented on #4763
@eric-schleicher , during installation DKMS will automatically try to install the package for the currently running kernel (e.g. 4.8.0-15) as well as the most advanced version found in grub (5.0.0-25).
I'm not sure if it is feasible to change the default DKMS settings and avoid installation for non-supported kernels in the first place, but it can be explored.
However it is a corner case which prod

[2019-09-02 11:40] ghost opened #4783 "Transform Pose from IR frame to Color Frame"
Hello,
Is there an easy way to transform an pose calculated in the Infrared Stream to the Color Stream?

[2019-09-02 12:01] Yhaws commented on #1098
Made a account just to say "thank you", this worked for me. Sooo... thank you (y)

[2019-09-02 12:03] g2-bernotas opened #4784 "RealSense Auto Exposure problem"
----------------------------------------------------------------------------------------------------

| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       |  D435  |
| Firmware Version                   |  05.11.01.100  |
| Oper

[2019-09-02 12:56] ev-mp commented on #4751
@gorshborsh, can you share the IMU intrinsic calibration ?

When the IMU calibration is performed and flushed to D435i's memory a new "Motion Correction" option would appear in realsense-viewer under the "Motion Module" branch.
Toggling this will change the IMU values, and in case of a properly performed IMU-calibration should  bring the accelerometer's norm close to the expected 9.8.
In the attac

[2019-09-02 15:07] ev-mp commented on #4783
@ghost hello,
 Librealsense does not cover direct 2D<=>2D alignment method, which are more in the CV domain.
This is feasible however, in Left IR->RGB scenario  by using the pointcloud class.

Pointcloud that receives RGB and Depth frames produces a "points" frame which comprise of vertices and texture [u,v] coordinates buffers.
So if you know the pixel coordinates of the area of interest in Left

[2019-09-02 15:19] ev-mp commented on #4734
@dynamicmirage , can you check that you have installed C++ Compiler/CRT/ATL components of the Visual Studio?
A quick check is to create and run a new C++ console application using MSVC "new project" item

[2019-09-02 15:20] Murded commented on #4753
Anyone else seen this issue?

[2019-09-02 15:24] ev-mp commented on #4647
@MCDM2018, do you need more assistance here?

[2019-09-02 15:25] ev-mp commented on #4644
@nevynwong , was it useful ?
Looking forward for an update.

[2019-09-02 15:27] ev-mp commented on #4624
@yishanchuan , the PR [#4774](https://github.com/IntelRealSense/librealsense/pull/4774) that fixes the manual patching for Bionic is being evaluated.
Feel free to try and comment

[2019-09-02 15:34] lramati commented on #4142
It seems like you're using a pretty old version of the notebooks. I couldn't reproduce your issue, but I just opened #4787 to try and fix some other issues. Could you see if the following binder link to my fork works for you?

[![Binder](https://mybinder.org/badge_logo.svg)](https://mybinder.org/v2/gh/lramati/librealsense/jupyter?filepath=notebooks%2Fdistance_to_object.ipynb)

[2019-09-02 15:35] lramati commented on #4579
I couldn't reproduce your issue, but I just opened #4787 to try and fix some other issues. Could you see if the following binder link to my fork works for you?

[![Binder](https://mybinder.org/badge_logo.svg)](https://mybinder.org/v2/gh/lramati/librealsense/jupyter?filepath=notebooks%2Fdistance_to_object.ipynb)

[2019-09-02 15:40] ev-mp commented on #4607
@manukharshan , unfortunately we maintain kernel patches for Ubuntu LTS versions only which do not include 4.19.
Kernel patches are not a prerequisite for running the SDK and in many cases can be skipped.
When building from sources that you can invoke "-DFORCE_LIBUVC=true" flag that provides user-space implementation for most kernel patches.
See #4484 for details

[2019-09-02 15:46] ev-mp commented on #4391
@magnusbarata , it seem that the gyro is not working properly.
With gyro streaming normally there should be no issue of tracking left/rigth. Actually gyro has no notion of "left/right" it just tracks attitude in 3D inertial frame.

Did you try to run `Reaselse-Viewer` and check the IMU framerates and data ?
As for the demo - please verify that this is not a host issue ( Release build/ Opengl drive

[2019-09-02 16:17] patrickpoirier51 commented on #4408
@radfordi
Its flying :-)
A 330 mm size is much ''friendlier'' for garage experiments than my original Q450.
BananaPi makes a nice little companion computer, as the complete sensor unit is around 150 Grams

https://www.youtube.com/watch?v=aQcRiFnSpGA

[2019-09-02 16:19] MartyG-RealSense commented on #4408
@patrickpoirier51    Congratulations, that's a beautiful vehicle!   :)

[2019-09-02 17:52] patrickpoirier51 commented on #4681
Following... Same Issue on my mini powered hub

Sequence from cold start
[    5.185719] hub 1-1:1.0: 4 ports detected
[    5.519724] usb 1-1.1: new high-speed USB device number 3 using ehci-platform
[    5.689179] usb 1-1.1: config 1 interface 0 altsetting 0 bulk endpoint 0x81 has invalid maxpacket 64
[    5.707505] usb 1-1.1: config 1 interface 0 altsetting 0 bulk endpoint 0x1 has invalid maxpack

[2019-09-02 18:04] matkatz commented on #4755
[rs-fw-update tool](https://github.com/IntelRealSense/librealsense/tree/master/tools/fw-update) is a command line tool that performs DFU process for both D400/SR300 cameras.
This tool is part of the [installer](https://github.com/IntelRealSense/librealsense/releases/download/v2.27.0/Intel.RealSense.SDK-WIN7.exe).

The current recommended FW for SR300 (same as the one that is embedded in the viewer

[2019-09-02 18:21] patrickpoirier51 commented on #4681
Well... that might be a short term solution:
uhubctl is utility to control USB power per-port on smart USB hubs. Smart hub is defined as one that implements per-port power switching.
https://github.com/mvp/uhubctl

[2019-09-02 18:22] matkatz commented on #4693
@nafidoni please see` Installing the packages` on Linux installation [instructions](https://github.com/IntelRealSense/librealsense/blob/master/doc/distribution_linux.md)

@vvgokul55 what @MartyG-RealSense said is a good option.
If you want to get the supported streams programmatically  you can check [createProfilesMap](https://github.com/IntelRealSense/librealsense/blob/7a3ffaf412401849894a4d69791

[2019-09-02 18:32] MartyG-RealSense commented on #4755
The situation with the SR300 firmware is kinda confusing.  The release notes for SDK 2.25.0 recommended that firmware 3.26.10 be used, but the Release page of the same version suggests firmware 3.10.10.0 for the SR300, as does every version up til the latest SDK version 2.27.0.

![image](https://user-images.githubusercontent.com/41145062/64130094-07cc0b00-cdb8-11e9-92bf-2eeba2258bf8.png)

I note t

[2019-09-02 20:04] kgh475926 commented on #4776
@ev-mp You are actually at what I'm trying to get. I'm trying to figure out a way to optimize the function move_depth_to_other in sse-align.cpp because I want to optimize the whole process of alignment. You have said that the camera intrinsic matrix are precomputed for efficiency but do you think the code implementation of the function move_depth_to_other can be optimized further or would you say

[2019-09-02 22:21] bgilreath commented on #4565
@ev-mp Thanks! The fix you suggested did fix my issue.

[2019-09-02 22:21] #4565 closed

[2019-09-03 00:42] pietroglyph opened #4789 "T265 Pose Inaccuracy"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | T265 |
| Firmware Version                   | 0.0.18.5715 |
| Operating System & Version |   Linux  |
| Kernel Version (Linux Only)    |  4.9.47

[2019-09-03 02:25] Maheshwariraghav112 commented on #4779
Thanks for your response .
As you told i already deleted all the packages but still having the same problem .

[2019-09-03 04:24] RealSenseCustomerSupport commented on #4274
----------------------------------------------

@filartrix Could you please update? Thanks!

[2019-09-03 04:26] RealSenseCustomerSupport commented on #4497
----------------------------------------------

@Ahad19931 With the suggestions from MartyG-RealSense and Doronihi, do you have any other questions?  Thanks!

[2019-09-03 04:33] RealSenseCustomerSupport commented on #4563
----------------------------------------------

@seunghak-kim Could you please provide more information and logs so that we can look into it further? Thanks!

[2019-09-03 04:44] RealSenseCustomerSupport commented on #4484
----------------------------------------------

@millto Could you please update? Looking forward to your reply. Thanks!

[2019-09-03 04:44] RealSenseCustomerSupport commented on #4385
----------------------------------------------

@rcohe032 Any other questions about this? Looking forward to your reply.Thanks!

[2019-09-03 04:50] RealSenseCustomerSupport commented on #4281
----------------------------------------------

@pabloalcain Could you please update? Thanks!

[2019-09-03 05:06] #4202 closed

[2019-09-03 05:47] noell1 commented on #4755
Thank you both for clarification and latest FW for SR300.

[2019-09-03 05:47] #4755 closed

[2019-09-03 05:50] ev-mp commented on #4779
@Maheshwariraghav112, I think I didn't express myself clear - There is no need to uninstall any Debian packages.
Just delete the mentioned file and run `sudo apt-get update` to update the cache.
In case of using `intel-realsense-dfu` create a new version of that file according to the installation guide.

[2019-09-03 06:04] ev-mp commented on #4776
@kgh475926, you can definitely profile the code and propose  additional optimizations both on micro and macro levels.
I'm hesitant to make suggestions as it is often platform/OS-specific. But if you're running a modern X64 CPUs then one of the low-risk optimization would be porting SSE to AVX.

[2019-09-03 06:28] #4241 closed

[2019-09-03 07:08] doronhi commented on #2190
@fiorano10 ,
The ROI option for ROS was added in version 2.2.8 of realsense2_camera [here](https://github.com/IntelRealSense/realsense-ros/releases/tag/2.2.8)
Sorry for the trouble you've gone through.

[2019-09-03 07:20] dorodnic commented on #4782
Have you tried https://github.com/IntelRealSense/librealsense/releases/download/v2.27.0/Intel.RealSense.unitypackage ?

[2019-09-03 07:28] #4747 closed

[2019-09-03 07:28] comwise commented on #4780
@ev-mp this linux image is clone，all old robots image is base on kernel 4.4.0-31,  if i upgrade the kernel，some devices is unusable，i need to update these device drivers which is a difficulty and complex job, if you can offer good advice, i will upgrade the linux kernel

[2019-09-03 07:33] #4614 closed

[2019-09-03 07:33] #4615 closed

[2019-09-03 07:35] #4588 closed

[2019-09-03 07:35] #4584 closed

[2019-09-03 07:38] dorodnic commented on #4564
No, not officially.
Ultimately, you have to include the native `realsense2.dll` for this to work, I don't see any way around it.

[2019-09-03 07:39] dorodnic commented on #4554
Hope it works well now. Please feel free to open a new issue if it does not

[2019-09-03 07:39] #4554 closed

[2019-09-03 07:42] #4530 closed

[2019-09-03 07:42] #4529 closed

[2019-09-03 07:43] #4522 closed

[2019-09-03 07:44] #4516 closed

[2019-09-03 07:45] #4485 closed

[2019-09-03 07:47] #4439 closed

[2019-09-03 07:48] #4409 closed

[2019-09-03 07:49] #4384 closed

[2019-09-03 10:14] vvgokul55 commented on #4693
Thanks @matkatz & @MartyG-RealSense for the help.

[2019-09-03 10:32] matkatz commented on #4716
Aligning a depth frame to a color frame creates a new depth frame with the same resolution as the color stream in which each depth pixel matches the color pixel on the color frame at the same index.
The opposite direction will create a new color frame with matching pixels.
You should call process/applyFilter on a frame set and not on a single frame.

For example:
[code]
An output of the code above

[2019-09-03 10:49] ev-mp commented on #4780
@comwise  Did you try to update the system? It should be really streamlined -

The kernel 4.4.0-31 was built into the baseline image, and this apparently the baseline Ubuntu used when started shipping Xenial.
As I mentioned above that kernel is not compatible with D435i as it does not include driver support for UVC1.5 standard. So in case you want to install DKSM upgrading the kernel is necessary.

[2019-09-03 11:16] andre-ryll commented on #866
I can second this. Running librealsense 2.26.0 and FW 05.11.06.250 on a D435.

Interestingly, the ASIC and projector temperature options appear in the list of supported options (sensor.get_supported_options()), but if I query them individually (sensor.supports(..)) it returns false (not supported). Actually trying to retrieve the value fails with an exception (not supported option).

We need this

[2019-09-03 12:42] skylermaxwell42 commented on #4760
@dorodnic Thank you for the confirmation about the SR300 interference.

@MartyG-RealSense Thanks for the suggestion but that approach is not feasible for me.

[2019-09-03 12:42] #4760 closed

[2019-09-03 15:05] RealSenseCustomerSupport commented on #4617
----------------------------------------------

Hi @tom8zds,

Is the issue resolved per the solution? If no additional support for this ticket, will close this.

[2019-09-03 15:30] tom8zds commented on #4617
yeah, it works. Thank you.

---Original---
From: "RealSense Customer Support"<notifications@github.com&gt;
Date: 2019/9/3 23:05:43
To: "IntelRealSense/librealsense"<librealsense@noreply.github.com&gt;;
Cc: "Mention"<mention@noreply.github.com&gt;;"tom8zds"<2407164659@qq.com&gt;;
Subject: Re: [IntelRealSense/librealsense] Fail to build on Raspberry 4b (#4617)

Hi @tom8zds,

Is the issue resolved pe

[2019-09-03 15:35] reyes73a opened #4792 "Recommended Setup for multiple D435s"
Hi guys,

I was wondering what would be a recommended companion computer for interfacing with multiple D435s. Right now, I have been testing a D435 with a Jetson Nano and at full res @30fps and the ROS node seems to be dropping frames frequently. My intention is try to interface with up to 4 D435s at the same time. I know I can try to reduce the resolution and FPS on each device, but I was wonderi

[2019-09-03 16:44] djkayip commented on #4518
I have T265 attached to a marathon runner to correct the positional data from GPS.
After running on the track for 2 -3 minutes, T265 starts giving us nan.
it that because of limitation of VSLAM?

[2019-09-03 17:21] kgh475926 commented on #4776
@ev-mp I see. Thank you for the suggestions I really appreciate it.

[2019-09-03 17:45] RealSenseCustomerSupport commented on #4242
----------------------------------------------

Hi richieclark33,

Do you need any further clarifications regarding this topic?

[2019-09-03 17:49] RealSenseCustomerSupport commented on #4121
----------------------------------------------

Hi Thomas,

Do you need any further clarifications regarding this topic?

[2019-09-03 17:59] MartyG-RealSense commented on #4792
If you have not seen it already, you may find Intel's guide on using multiple cameras with ROS useful.

https://www.intelrealsense.com/how-to-multiple-camera-setup-with-ros/

The guide gives suggestions for configuring a 3-camera setup in its "Adding More Cameras" section.  It too acknowledges the affect of the hardware spec on multi-cam performance, saying: "There are a couple of reasons why the

[2019-09-03 18:05] #4503 closed

[2019-09-03 21:09] nawara72 opened #4793 "Building with Cuda on windows"
Hi

I am trying to build librealsense on windows with Visual studio. I have no issues if building with no cuda. However if i try to build with cuda (using cmake then visual studio) i get these errors

I would appreciate any help to resolve this as soon as possible

Thanks
Nawar

ds5-options.obj : error LNK2038: mismatch detected for 'RuntimeLibrary': value 'MTd_StaticDebug' doesn't match value 'MD

[2019-09-03 21:32] hongluck opened #4794 "The requested pixel format 'W10 ' is not natively supported by the Linux kernel and likely requires a patch!"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | {  D400 } |
| Firmware Version                   | (Open RealSense Viewer --> Click info) |
| Operating System & Version |    Linux (Ubuntu 16.04)   |
| Kernel Version (Linu

[2019-09-03 23:31] visus100 opened #4795 "Error realsense viewer HRESULT: 0x8007001F"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       |D435i |
| Firmware Version                   | FW_5_11_11_100 |
| Operating System & Version |   Win 10 |
| Platform                                 | PC|
| SDK Version

[2019-09-04 00:18] erikgallegos opened #4796 "Android Pointcloud - mapTo/calculate"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D415 |
| Firmware Version                   | 05.11.01.100 |
| Operating System & Version |   Android 8.0  |
| Platform                                 | Galaxy S8 |
| SDK V

[2019-09-04 02:26] dynamicmirage commented on #4734
![image](https://user-images.githubusercontent.com/48935428/64221121-9a37e180-ce80-11e9-8fe9-bb2a3efe2abb.png)
Hi There,

Thank you for the suggestion. I compiled a small "RealSenseCheck" program and everything seems to work.

[2019-09-04 04:29] vangewj commented on #4782
Thank you

------------------ 原始邮件 ------------------
发件人: "Sergey Dorodnicov"<notifications@github.com>;
发送时间: 2019年9月3日(星期二) 下午3:20
收件人: "IntelRealSense/librealsense"<librealsense@noreply.github.com>;
抄送: "王洁"<532315324@qq.com>; "Author"<author@noreply.github.com>;
主题: Re: [IntelRealSense/librealsense] missing using Intel.RealSense inU3D, who solved?  "The type or namespace name `Intel' could no

[2019-09-04 04:35] MCDM2018 commented on #4647
@lramati Thanks to your help
@ev-mp No thanks. Thanks for consideration

[2019-09-04 04:35] #4647 closed

[2019-09-04 04:50] tonyjonyjack opened #4797 "find the point has min depth value in color image"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D435  |
| Firmware Version                   | (Open RealSense Viewer --> Click info) |
| Operating System & Version |   Win (10) |
| Platform

[2019-09-04 05:32] vangewj commented on #4782
support to capture face  78points  sdk of Unity ?use D435 RealSense

------------------ 原始邮件 ------------------
发件人: "Sergey Dorodnicov"<notifications@github.com>;
发送时间: 2019年9月3日(星期二) 下午3:20
收件人: "IntelRealSense/librealsense"<librealsense@noreply.github.com>;
抄送: "王洁"<532315324@qq.com>; "Author"<author@noreply.github.com>;
主题: Re: [IntelRealSense/librealsense] missing using Intel.RealSense inU3D,

[2019-09-04 05:34] jssa62 opened #4798 "Measure metrics of a 3d object"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | { D400 } |
| Operating System & Version |   {Win (10) / Linux (Ubuntu 16)   |
| Language                            |  {C/python }                          |

Hello,
I am tr

[2019-09-04 06:19] MartyG-RealSense commented on #4798
For the kind of 3D measuring that you are seeking, the Python-based **Box Dimensioner** sample may provide suitable results, though it is usually used with a minimum of two cameras.

https://github.com/IntelRealSense/librealsense/tree/master/wrappers/python/examples/box_dimensioner_multicam

In the Box Dimensioner example, you set up a chessboard object to calibrate the camera, and then place on t

[2019-09-04 06:52] ev-mp commented on #4794
@hongluck , for some reason the request from launch included "W10" infrared format which is used exclusively for calibration, was it on purpose? Are you running a modified launch file?
If yes - please elaborate the use-case and the changes as the Calibration mode has constrains.
If not - can you attach the output if "rs-enumerate-devices -o" ?

[2019-09-04 07:57] dorodnic commented on #4793
You can find the relevant flags in visual studio project settings (/mt vs /md) and make sure everything is dynamic debug (seem to be better for your case)
In general this hints at some kind of compilation mismatch (static vs dynamic lib, etc)

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-09-04 08:31] SirDifferential opened #4799 "Some options and controls cannot be set over libuvc on raspberry pi 4"
----------------------------------------------------------------------------------------------------
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D435 |
| Firmware Version                   | 05.11.11.100 |
| Operating

[2019-09-04 08:38] blackccpie opened #4800 "Fatal unmanaged exception after multiple rs2::pipeline instanciations"
-------------------------------------------------------------------------------

| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D400 |
| Firmware Version                   | 5.11.1 |
| Operating System & Version |   Win

[2019-09-04 09:27] bernland opened #4801 "Turn enable_record_to_file() on/off"
----------------------------------------------------------------------------------------------------

| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D415 |
| Firmware Version                   | 05.11.10.00 |
| Operating

[2019-09-04 09:39] SirDifferential commented on #4800
I tried running this with 7a3ffaf412401849894a4d69791b98559f624d47 and don't see any errors on Debian 10. The full program:

[code]

Maybe this is Windows specific?

[2019-09-04 10:11] blackccpie commented on #4800
@SirDifferential : seems like it's Windows specific indeed. I also ran the loop on MacOS and had no problem.

[2019-09-04 11:24] chechik opened #4802 "Failed to update firmware using 'intel-realsense-dfu.exe'."
* Before opening a new issue, we wanted to provide you with some useful suggestions (Click "Preview" above for a better view):

    * Consider checking out SDK [examples](https://github.com/IntelRealSense/librealsense/tree/master/examples#sample-code-for-intel-realsense-cameras).
    * Have you looked in our [documentations](https://github.com/IntelRealSense/librealsense/tree/master/doc#useful-lin

[2019-09-04 11:45] matkatz commented on #4796
please see #4601

[2019-09-04 11:55] matkatz commented on #4802
There is a limit of how many updates can be done to the same version, if you reached that limit the update procedure will fail and you will be able to update only to newer versions.

[Intel.RealSense.Viewer](https://github.com/IntelRealSense/librealsense/releases/download/v2.27.0/Intel.RealSense.Viewer.exe) now supports FW update and it should provide information in case of failure.

You can also

[2019-09-04 12:10] lramati commented on #4801
Yes. Should look something like this:
[code]

[2019-09-04 12:20] chechik commented on #4802
Thank you

[2019-09-04 12:24] mattcenoo commented on #4518
hi, I'm also experiencing the issue with:
FW version: 0.1.0.279
SDK Version: v2.27.0
if switch the option RS2_OPTION_ENABLE_MAPPING off, the pose data turn to be nan in a few minutes; but if the option is on, the issue seldom appear.
any suggestions?

[2019-09-04 14:02] hongluck commented on #4794
No, I did not modify it. I was doing the same way as it is explained in the wiki.ros.org following the orders.
The link is below.
https://github.com/IntelRealSense/realsense-ros#installation-instructions

This is the output you asked for.
Thank you for your kind help.

    Infrared 1	  1920x1080	@ 25Hz	   Y16
    Infrared 2	  1920x1080	@ 25Hz	   Y16
    Infrared 2	  1920x1080	@ 25Hz	   Y8
    Infr

[2019-09-04 14:05] ahuizxc opened #4803 "Using syncer along with pipeline"
Hi
Recently I encountered a breakdown about rs2::pipeline,
while I am using pipeline.start(callback) method, I want to get synced IMU data like accel and gyro at the same frameset. But I cannot find any information about this usage. What I find is all about using rs2::sensor and syncer.
so is there any sample code for this problem?
thanks a lot :)

[2019-09-04 14:15] hongluck commented on #4794
I found out that while I was running realsense viewer, it was working fine but there were error messages as well.
04/09 10:13:04,591 WARNING [140333542790912] (backend-v4l2.cpp:1148) Pixel format 20303157-0000-0010-8000-00aa003 likely requires patch for fourcc code W10 !
 04/09 10:13:04,599 WARNING [140333542790912] (backend-v4l2.cpp:1148) Pixel format 36315752-1a66-a242-9065-d01814a likely requir

[2019-09-04 14:16] soarwing52 commented on #1545
Hi, I haven't found any functioning example of playback.seek in python

I can get playback. [current_status,file_name,get_duration,get_position,pause, resume, set_real_time] all working

but seek still throws back error

`TypeError: seek(): incompatible function arguments. The following argument types are supported:
    1. (self: pyrealsense2.pyrealsense2.playback, Sets the playback to a specified

[2019-09-04 14:22] MartyG-RealSense commented on #4803
Intel have a guide about getting data from the IMU that has a sample script at the end of it in the section headed "API".  I hope this will be of use to you.

https://www.intelrealsense.com/how-to-getting-imu-data-from-d435i-and-t265/

I will post the listing here for your reading convenience.

`rs2::pipeline pipe;
rs2::config cfg;
cfg.enable_stream(RS2_STREAM_GYRO);
cfg.enable_stream(RS2_STREAM_A

[2019-09-04 14:27] ahuizxc commented on #4803
I have already read this code before, but what I really want is something like "imu_stream" that can provide the accel and gyro data at the same time.

[2019-09-04 14:31] MartyG-RealSense commented on #4803
I recall there was a discussion earlier this year about how to get image data and IMU data working together.

https://github.com/IntelRealSense/librealsense/issues/4018

[2019-09-04 15:07] #4617 closed

[2019-09-04 15:07] lramati commented on #1545
Can you please open a new issue for your problem and indicate when version of the SDK you are using and what the line you tried to run is?

[2019-09-04 15:28] soarwing52 opened #4804 "TypeError for playback.seek() in python wrapper"
* Before opening a new issue, we wanted to provide you with some useful suggestions (Click "Preview" above for a better view):

    * Consider checking out SDK [examples](https://github.com/IntelRealSense/librealsense/tree/master/examples#sample-code-for-intel-realsense-cameras).
    * Have you looked in our [documentations](https://github.com/IntelRealSense/librealsense/tree/master/doc#useful-lin

[2019-09-04 15:53] lramati commented on #4804
playback.seek() only works with floats and timedelta objects. the literal `0` is an int, and the translation layer doesn't do the two step process of promoting to float and then converting to timedelta. Using `0.` or `datetime.timedelta(0)` work for me.

[2019-09-04 15:54] lramati commented on #4804
There's also an unfortunate glitch with the documentation where the docstring is being interpreted as part of the name of the second argument, effectively hiding it from the displayed signature. I'm looking to address this for the next release

[2019-09-04 17:41] josephdanielchang commented on #4740
I tried reaching out to dorodnic, but he has not responded.

[2019-09-04 18:16] erikgallegos commented on #4796
@matkatz I see how the pointcloud vertices can be obtained but I don't feel that my question has been answered. Ideally I would like to replicate this workflow from matlab:

[code]

With the end goal being an array of pointcloud vertices that are aligned/mapped with the color frame.

[2019-09-04 18:24] MartyG-RealSense commented on #4740
As long as your case here is open then a member of the Intel team is obligated to visit it to ask if you still need help before they close the case (if you have not closed it yourself by then).  It is not possible to predict exactly when that visit will happen though.

I'll ping a few names to try to get some assistance for you from one of the Intel team.
@dorodnic @RealSenseCustomerSupport @RealS

[2019-09-04 20:18] MartyG-RealSense commented on #4769
Update: FRAMOS have released a promotional YouTube video for the D435e.

https://youtube.com/watch?v=_f890KiNVmA

[2019-09-04 20:48] RealSenseCustomerSupport commented on #4600
----------------------------------------------

Hi

Please note that, the RealSense D400 provides camera "Sync" mode, not "Single Trigger" mode.
When you configure camera to "mode 2", it is set as a slave camera. And user is supposed to provide an external pulsing source - but must be **continuous** pulsing (i.e. 30Hz). So the slave camera can be sync'd to the pulsing. The pulsing frequency must b

[2019-09-04 20:49] nawara72 commented on #4793
I simply use the cmakelists provided by librealsense, turn cuda on and generate a sln file from cmake and then compile in visual studio. So I am not really changing any configurations. So not sure why it is not working

[2019-09-04 21:24] RealSenseCustomerSupport commented on #4603
----------------------------------------------

@jungladicitta, is this resolved with the new cable? If so, can we close it?

[2019-09-04 21:45] RealSenseCustomerSupport commented on #4629
----------------------------------------------

@nevynwong, can we close this issue if there is no further question or update?

[2019-09-05 00:25] RealSenseCustomerSupport commented on #4514
----------------------------------------------

Hi Antoine,

Thank you for the provided information!
We couldn't reproduce the issue. Please update us if you will experience it again.

[2019-09-05 00:55] RealSenseCustomerSupport commented on #4612
----------------------------------------------

Hi @fredericoliz,

Do you need any further help regarding this topic?

[2019-09-05 03:44] jungladicitta commented on #4603
@RealSenseCustomerSupport

yes

[2019-09-05 03:44] #4603 closed

[2019-09-05 04:01] Shivani1796 commented on #547
@NikolausDemmel  Hello, can you help me to find exposure time of my fisheye image, when I check properties of the image I can find written exposure time but not the value so how to figure out exposure time of each image.
Thanks in advance

[2019-09-05 05:18] RealSenseCustomerSupport commented on #4551
----------------------------------------------

Hi @yangliu995,

Since the hardware sync between depth and color is applied for D415 only, I think you need to manipulate the frame data by your own thru frame number or timestamp.

[2019-09-05 06:12] tantitnomashi opened #4805 "How to switch to RGB camera with Javascript, WebRTC"
Our website use plugin WebRTC to make a telepresence feature, so I use .getUserMedia() to take video from realsense as a webcam, but the default camera is the stereo module, how can I change to the RGB module ?
Please help me,
My cam is **D453i**

[2019-09-05 06:15] wodndb commented on #4521
It's hard... I can't sync color of multiple realsense camera. I think it's good solution that add additional LED to normalize color of camera.

[2019-09-05 06:15] #4521 closed

[2019-09-05 06:51] malith1992 commented on #4031
I have the same issue.

[2019-09-05 06:55] dorodnic commented on #4031
Latest builds come with librealsense2 packages for Jetson. Please try by following distribution.md (skip the dkms) Works well on a nano for me. Also, same can be accomplished by building with libuvc (see relevant instructions under doc folder)

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-09-05 09:05] Murded commented on #4753
@matkatz Could you verify this is an issue please and I'm not just doing something wrong?

[2019-09-05 09:24] bernland commented on #4801
Thank you, @lramati!

In the meantime, I have found the save_single_frameset() method, which suits my needs perfectly as it allows for saving single frames with different file names. (Restarting the pipeline with a new config, on the contrary, takes quite some time.)

However, there are quite a few unanswered posts in regards to the depth frame not being recorded correctly: #4020, #2588 , #3671, a

[2019-09-05 09:29] wanghelin1024 opened #4806 "RealSense Viewer can't be opened in Win10"
* Before opening a new issue, we wanted to provide you with some useful suggestions (Click "Preview" above for a better view):

    * Consider checking out SDK [examples](https://github.com/IntelRealSense/librealsense/tree/master/examples#sample-code-for-intel-realsense-cameras).
    * Have you looked in our [documentations](https://github.com/IntelRealSense/librealsense/tree/master/doc#useful-lin

[2019-09-05 10:01] keithahern opened #4807 "Python API for A-factor?"
Hello,

Is there python bindings for the new A-factor functionality?

From github it looks like:
C
rs2_set_amp_factor
rs2_get_amp_factor

The white paper mentions
C
RS2_Set_A-factor
RS2_Get_A-factor
C++
set_new_depth_control
get_new_depth_control

Thanks

[2019-09-05 10:12] lramati commented on #4807
try rs.advanced_mode.get/set_amp_factor

[2019-09-05 10:29] Ajasra commented on #3644
this solution helped me. Delete all existing group policies.
https://appuals.com/this-program-is-blocked-by-group-policy/

[2019-09-05 10:46] keithahern commented on #4807
Thank you, I've got a little closer but not there yet.

Tried this:
[code]

got this:
[code]

Looking at some other examples I tried the following:

[code]

But got the following
[code]

[2019-09-05 11:19] NXTwoThou commented on #4664
Same issue with 2.28.0

[2019-09-05 11:41] lramati commented on #4807
There was an unfortunate oversight when adding the functions to the wrapper. I will open a pull request soon to address the issue, but as a pre-release version just went out it might take some time before it makes it into the official release and PyPi packages. You will be able to compile the branch from source if you'd like a fix sooner

[2019-09-05 11:45] ev-mp commented on #4806
@wanghelin1024 hello,
The `Realsense-viewer` uses Windows-predefined user settings to store application-specific settings and logs: " C:\users\<username>\Documents".
We have received similar reports by users whose Document's path included either non-utf strings or was a network-mapped path. #4569
Can you check whether this applies in your case?

[2019-09-05 11:48] keithahern commented on #4807
I’m compiling from source anyway.

Thank you Lior I’ll look out for the fix.

[2019-09-05 12:03] ev-mp commented on #4803
@ahuizxc hello,
The IMU streams use different clocks with "non-harmonic" data rates: 200/400 for Gyro and 63/250 for Accel . It is not feasible to generate a fully-synchronized accel/gyro tuples.
The approach used in the SDK is allow `pipeline` to decide how to proceed each stream:
- For UVC streams (depth/ir/color/fisheye) pipe's callback will generate a frameset of all the available video stream

[2019-09-05 12:12] giovannicairoli commented on #4040
Hello,

@RealSenseCustomerSupport Is there a sample or something similar about load, save maps and relocate where someone not expert can start?

Thank you

[2019-09-05 12:36] MaryBD commented on #3617
I finally manage to install CUDA, and run D435 on Jetson TX2... Using Jetpack 3.3: I used Ethernet cable to connect both host and Jetson to the same router. After flashing the TX2 the installation stuck at "Obtaining the target ip address" I skip that but ctrl c. Then I run "ifconfig" at jetson and pick the address by the eth0, use that address at host "ping <the target address>", ping was succesf

[2019-09-05 12:36] giovannicairoli commented on #4282
Hello @ParadoxRobotics,

I'm not super expert in programming and I need a little help. I'm doing something similar to your application in an indoor context. I already have a T265 and a D435. Could you please help me in understanding how to use them in order to save a map, import export it and re-locate my device in a known context? Samples or Documents? I did't find any document and I don't know w

[2019-09-05 12:39] MaryBD commented on #4736
I get it work: https://github.com/IntelRealSense/librealsense/issues/3617#issuecomment-528342960

[2019-09-05 12:42] keithahern commented on #4807
I've checked out the pull request, compiled the SDK, and I'm no longer getting the error, will continue testing to confirm it's working.

thank you.

[2019-09-05 12:58] lramati commented on #4801
The save_single_frameset processing block neglected to save the value of depth_units associated with the frame. When querying this value from the bag, it would see that it didn't have one and default to 0, which resulted in functions like depth_frame.get_distance reporting a distance of 0, even though the depth data was correctly recorded.
A pull request to fix this is incoming, but since a Pre-re

[2019-09-05 13:22] patrickpoirier51 commented on #4681
@radfordi  Jim, here is my '' Plan B '' to get the T265 flying without having to disconnect-reconnect
- Home made USB cable with power routing to an external cable
- Relay control of the power with the NC contact on T265 power
- Driven by BananaPi GPIO (opto-Driver)
- Shell script to Power reset before launching LibRealsense

![image](https://user-images.githubusercontent.com/12484190/64345498-7aa

[2019-09-05 13:51] MaryBD commented on #3617
I tried to run two Intel realsense D435 cameras on Jetson TX2 using python. I can connect to both cameras but I cannot stream both of them at the same time and one of them looses streaming after a few seconds. Is there anyone else having the same issue?

[2019-09-05 14:22] NikolausDemmel commented on #547
No, sorry, haven't used this camera in a long time. I don't know what the state of the SDK is these days.

[2019-09-05 14:25] hongluck commented on #4794
These are some error messages I have found whenever I turn my PC on.
Also I think it is related to a graphic driver problem as well. I will leave the link.

1. Error messages including librealsense
[https://imgur.com/a/EI55m6v](url)
2. gtx1650 graphic driver issues
[https://devtalk.nvidia.com/default/topic/1061656/linux/gtx1650-notebook-not-working-on-ubuntu16-04-black-screen-amp-login-loop-/3](ur

[2019-09-05 14:35] NXTwoThou commented on #4664
Hit a pausing point in my primary project so I could take a real look at this.  I went ahead and downloaded the latest source so I could try and debug what was going on.  I discovered the error was 100% me being a complete idiot.

When I first created my project I had added a reference to C:\Program Files (x86)\Intel RealSense SDK 2.0\bin\x64\Intel.Realsense.dll to my project.  When I compile, it

[2019-09-05 14:35] #4664 closed

[2019-09-05 15:02] soarwing52 commented on #4804
Thank you, timedelta(0) worked, and also using any float works.
But it seems like timestamp can't be used in this case?

[2019-09-05 15:10] rcohe032 commented on #4385
I still wasnt able to figure it out unfortunately. Since it is not a big deal for me I have just been using the workaround of putting pauses in my matlab code and changing the disparity manually in the RealSense Viewer.

Thanks anyways for your help

[2019-09-05 15:10] ev-mp commented on #4797
@tonyjonyjack hello,
To speedup the processing it seem that it will be much more efficient to first align depth to color, or color to depth. This will allow to perform the lookup into 2D frame rather than in 3D space and also take advantage of the already available optimizations, such as SSE
.
Secondly, I would suggest to further improve the algorithm by running the raw depth via decimation filter

[2019-09-05 16:13] MarqRazz commented on #4794
I get the same error
`An exception has been thrown: The requested pixel format 'W10 ' is not natively supported by the Linux kernel and likely requires a patch!
Alternatively please upgrade to kernel 4.12 or later. Last Error: Invalid argument`

My kernel version is: 4.15.0-60-generic

Here is my output from `rs-enumerate-devices -o`

`Device info:
    Name                          : 	Intel RealSe

[2019-09-05 16:36] matkatz commented on #4802
Currently no.

[2019-09-05 16:57] hongluck commented on #4794
Are you using the gtx1650 graphic card as well?

[2019-09-05 17:06] #4577 closed

[2019-09-05 17:18] RealSenseCustomerSupport commented on #3567
----------------------------------------------

Hi @Veasu,

Changing of depth table controls values is not supported by Node.js wrapper at the current stage of
development.

[2019-09-05 17:29] MarqRazz commented on #4794
No just a standard i7 with a internal 630 graphic's card

[2019-09-05 19:12] realsens01 commented on #4792
The recommendations from @MartyG-RealSense seem overly optimistic, to me, based on my experience in the past year. Things might have improved, but I still advise caution. Problems with the Realsense cameras have unquestionably been the largest source of delays in my project. My project requires recording from a pair of D435s, and I struggled to obtain reliable data, without frame drops. It took a

[2019-09-05 19:14] eric-schleicher commented on #4763
thanks.  closing.

[2019-09-05 19:14] #4763 closed

[2019-09-05 19:55] MartyG-RealSense commented on #4792
@realsense01  If you are seeking a more industrial level of stability, the own-brand version of the D435 being released this month by FRAMOS may be of interest to you.  It uses ethernet for its cabling and claims greater transmission reliability by doing packet resends.

https://github.com/IntelRealSense/librealsense/issues/4769

[2019-09-05 20:12] RealSenseCustomerSupport commented on #4552
----------------------------------------------

Hi

Is there any chance to upload the log file? or do you want us to close this ticket?

Thanks

[2019-09-05 20:19] MartyG-RealSense opened #4810 "Announcement: FRAMOS D435e RealSense industrial camera is now available to order"
Hi everyone,

Recently I highlighted a new industrial own-brand version of the RealSense D435 by the Intel Authorized Distributor company FRAMOS, called the FRAMOS D435e.

https://github.com/IntelRealSense/librealsense/issues/4769

The D435e is now available to order in the FRAMOS store.  Its industrial nature means that there is a price premium over the standard Intel RealSense D435 model, though

[2019-09-05 20:22] reyes73a commented on #4792
Cool thanks for the replies guys! I now have two D435s with me so I will be testing them both in the next few days on an i7, Jetson Nano and UpBoard. I will let you know how it goes. I am hoping I can at least do 2 D435s with the Up board because the Jetson struggles with only one resulting in late point cloud packets...

[2019-09-05 20:26] reyes73a commented on #4792
I have not been seeing these issues on my i7 (4770K). I can run a single D435 or together with a T265 at full res without packet drops (maybe an occasional one) and going through ROS. On the Jetson Nano however, I get like 3-5 warnings every second.

[2019-09-05 21:05] #4457 closed

[2019-09-05 22:19] RealSenseCustomerSupport commented on #4659
----------------------------------------------

@McJun1, please let us know if there is any update or needing further assistance.
Thank you.

[2019-09-05 22:42] RealSenseCustomerSupport commented on #4564
----------------------------------------------

Hi @smirkingman,

Do you need any further clarifications regarding this topic?

[2019-09-05 23:02] RealSenseCustomerSupport commented on #4553
----------------------------------------------

Just to add to the great suggestions from MartyG and unagiHuman, below is the up-to-date calibration tool and white paper for getting the best performance from the RealSense D400 cameras.

Dynamic Calibration Tool:
https://downloadcenter.intel.com/download/28517/Intel-RealSense-D400-Series-Calibration-Tools-and-API

Tuning depth cameras for best perf

[2019-09-06 01:06] #3325 closed

[2019-09-06 01:28] wanghelin1024 commented on #4806
Thanks for your quick support !!!
I checked my Document's path (C:\Users\A11190321040347\Documents), I think it should be OK.
Maybe it is not the same issue as #4569,  do you have some other suggestions? Many thanks.

[2019-09-06 02:04] #4004 closed

[2019-09-06 08:14] Shivani1796 commented on #547
Hey, do you know about pcalib.txt files which is used in DSO dataset. (
https://github.com/JakobEngel/dso ) I am working to make my own dataset
from that i need that response callibration file  & pcalib.txt file do you
know about that ?
Regards
Shivani Baldwa
Ming Chi University Of Technology
- 84 Gungjuan Rd, Taishan Dist, New Taipei City 24301
-
-
-
-
-
-
-
-  Taiwan

On Thu, Sep 5, 2019 at 10:2

[2019-09-06 09:16] pwalczykk commented on #4552
Hi,

sorry for not being verbose enough. I have shared a code and hardware setup of an experiment that is capable of reproducing hanging camera problem. Link to download sample log file is in the experiment description. Everything should be described in issue #4750, referenced just above.

"The experiment gathers logs from roslaunch and rs-fw-logger, which might be useful for debugging purpose. A

[2019-09-06 09:17] pwalczykk commented on #4552
I am attaching a log from from first camera failure detected in mentioned 64-hour experiment:

Waiting for RealSense device to connect...
RealSense device was connected...
Device Name: Intel RealSense D415
Device Location: /sys/devices/pci0000:16/0000:16:00.0/0000:17:00.0/0000:18:04.0/0000:1c:00.0/usb10/10-1/10-1:1.0/video4linux/video12

2019-08-24 00:15:19  FW_Log_Data:0F 00 00 00 A0 01 0A 10 8B

[2019-09-06 09:19] pwalczykk commented on #4552
And a corresponding experiment log:

==========================
 New attempt: 673/10000
 Date: Fri Aug 23 22:15:18 UTC 2019
=== realsense-kill-all-containers ===
Available Realsense cameras:
    Serial Number                 : 	811112060204
    Serial Number                 : 	802212061216
    Serial Number                 : 	802212060668
    Serial Number                 : 	811112060576
Sending S

[2019-09-06 10:56] evarcurto opened #4811 "roslaunch rs_camera.launch fails for a D415"
Hi, I'm trying to connect my D415 camera but when I run `roslaunch realsense2_camera rs_camera.launch`  the following error appears:
[ERROR] [1567766150.564553987]: Region-of-interest is not implemented for this device!
I'm using Ubuntu 16.04, kernel version 4.15.0-60-generic. My firmware version is 05.10.06.00.
![2019-09-06 11_42_02-Ubuntu 16 04   Running](https://user-images.githubusercontent.co

[2019-09-06 11:18] NikolausDemmel commented on #547
Its generated by the `responseCalib` tool in that respository: https://github.com/tum-vision/mono_dataset_code

Please refer to the code if you want to generate it differently. Or else also the DSO code to see how it is used there.

I cannot help you more, and this is really off-topic here.

[2019-09-06 11:52] Shivani1796 commented on #547
Thanks for your reply, won't bother you from now.
Thanks
Regards
Shivani Baldwa
Ming Chi University Of Technology
- 84 Gungjuan Rd, Taishan Dist, New Taipei City 24301
-
-
-
-
-
-
-
-  Taiwan

On Fri, Sep 6, 2019 at 7:18 PM Nikolaus Demmel <notifications@github.com>
wrote:

[2019-09-06 11:56] Murded opened #4812 "Can't build android library"
Hi, I've followed the tutorial shown at [https://github.com/IntelRealSense/librealsense/tree/master/wrappers/android](url) on how to build the android library, however when I execture the assembleRelease task I got the following output (I'm using Windows 10 - Android studio 3.4.1).

[code]

And here's the CMakeOutput.log

[code]

Any suggestions on what I could be missing?

[2019-09-06 12:35] gycka commented on #4806
I had this problem when the RealSense Viewer not opening at all. I found this to be caused by the disabled graphics card, specifically it was for the Intel NUC Hades Canyon.

The NUC was operated headless, but it stops working with enabled graphics card (black screen) until a monitor was attached. Disabled graphics did not allow to view RealSense viewer, enabled graphics did not allow to remotely

[2019-09-06 14:01] smirkingman commented on #4564
Hi Sergey,
thanks for the follow-up. I don't understand your suggestion:

When I publish as a netcoreapp2.1, realsense2.dll gets copied to the publish directory (so presumably the build recognised tghe dependency) and the program starts but fails with

How can I workaround this?

[2019-09-06 14:32] rupeshchandgude opened #4813 "vertex normal information is not present in ply file generated from bag file"
|---------------------------------|------------------------------------------- |
| Camera Model                       | D435 |
| Firmware Version                   | RealSense Viewer  |
| Operating System & Version | Ubuntu 16 |
| Platform                                 | PC |
| Language                            | python |

### Issue Description
I have generated bag file using Realsense Viewer.

[2019-09-06 14:33] RealSenseCustomerSupport commented on #4594
----------------------------------------------

Hi @AnthonyKyung11

Were you able to verify the USB3 connection on the Samsung platform you outline?

Thanks

[2019-09-06 14:57] brettmilinski opened #4814 "C# How to calculate the distance to an object based on mouse coordinates?"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D435  |
| Firmware Version                   | 05.11.06.250 |
| Operating System & Version |   Win (10) |
| Platform                                 | PC |
| SDK Version

[2019-09-06 15:02] #4412 closed

[2019-09-06 16:37] hongluck opened #4815 "No realsense string observed in install"
* Before opening a new issue, we wanted to provide you with some useful suggestions (Click "Preview" above for a better view):

    * Consider checking out SDK [examples](https://github.com/IntelRealSense/librealsense/tree/master/examples#sample-code-for-intel-realsense-cameras).
    * Have you looked in our [documentations](https://github.com/IntelRealSense/librealsense/tree/master/doc#useful-lin

[2019-09-06 16:42] hongluck commented on #4811
same in D435

[2019-09-06 17:15] AnthonyKyung11 commented on #4594
Yes, that was the issue, we were trying to see the image using USB 2.0. Thank you very much.

[2019-09-06 17:15] #4594 closed

[2019-09-06 17:55] #4812 closed

[2019-09-06 19:29] RealSenseCustomerSupport commented on #4641
----------------------------------------------

@vladHoloArch - I see that MartyG proposed the thread outlined in https://github.com/IntelRealSense/librealsense/issues/4163, I'd also add the threads discussed in these two as well - https://github.com/IntelRealSense/librealsense/issues/4709, and https://github.com/IntelRealSense/librealsense/pull/4302 if you haven't read through them already.

[2019-09-06 19:40] RealSenseCustomerSupport commented on #4590
----------------------------------------------

Hi @svabhishek29 - Were you able to take schmidtp1 advice on trying the PR?

[2019-09-06 19:51] RealSenseCustomerSupport commented on #4476
----------------------------------------------

Excellent

[2019-09-06 20:02] #4476 closed

[2019-09-06 20:51] RealSenseCustomerSupport commented on #4486
----------------------------------------------

Hi @AntoineWefit

The data within the latest datasheet is the most up to date information regarding the IR projector FOV

Thanks

[2019-09-06 21:19] RealSenseCustomerSupport commented on #4500
----------------------------------------------

I'm thinking it has to do with system configuration and setup.  We typically use Core i7 based NUCs when we are testing and/or utilizing the tracking camera.

When it comes to timeouts it's usually due to system config or using USB2 connection instead of USB3 connection.

Is there any system specific information you can provide that would help us att

[2019-09-06 21:29] RealSenseCustomerSupport commented on #4526
----------------------------------------------

@ArvindSanjeev , we are continuing updates to the relocalization feature and monitoring all the latest SDK changes and FW updates within the SDK would be the best option moving forward.

I've referenced a PR that also would be of assistance I think to you.
https://github.com/IntelRealSense/librealsense/pull/4321

[2019-09-06 21:35] RealSenseCustomerSupport commented on #4543
----------------------------------------------

@RudyAramayo - Are you using the latest LibRS?  Also wanted to make sure you're using USB3 connection along with a USB3 certified cable?

[2019-09-06 23:04] RealSenseCustomerSupport commented on #4589
----------------------------------------------

Hi @zomboir, do you have any further question on this topic?

[2019-09-07 00:32] kgh475926 opened #4816 "How to use the CUDA implementation for the alignment process?"
Camera: SR300
OS: Ubuntu
Platform: PC
Language: C++

What are the steps needed to use the CUDA implementation for the alignment process? Is it supported for ubuntu yet?
I tried to search any docs that can get me started but I haven't found any. (https://github.com/Maghoumi/culibrealsense is this the right direction?)

My understanding for CUDA so far is compile with the  `cmake ../ -DBUILD_WITH_CU

[2019-09-07 01:47] kgh475926 opened #4817 "How to switch from __SSSE3__ to RS2_USE_CUDA?"
C++, Ubuntu, PC

How can one switch from __SSSE3__ to RS2_USE_CUDA?

In a file called processing-blocks-factory.cpp, the function std::make_shared<librealsense::align_sse>(align_to) gets invoked because some macro is set to __SSSE3__ but within the same file, I want to invoke std::make_shared<librealsense::align_cuda>(align_to) which is only invoked for the macro RS2_USE_CUDA.

Is there a way to d

[2019-09-07 02:41] #4242 closed

[2019-09-07 03:25] edgarcamilocamacho opened #4818 "Kernel 4.19 support for Raspberry Pi 4"
----------------------------------------------------------------------------------------------------

| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D435 / T265 |
| Firmware Version                   | 05.11.11.100 / 0.1

[2019-09-07 07:11] MartyG-RealSense commented on #4818
A bug-fix for Kernel 4.19 was added in SDK version 2.24.0.  Some users continued to report problems with using 4.19 though.

A RealSense user succeeded in using 4.19 with Pi4 and Raspbian Buster with a method suggested by a member of Intel's RealSense team.

https://github.com/IntelRealSense/librealsense/issues/4565#issuecomment-518359584

[2019-09-07 08:47] tom8zds opened #4819 "how to compress depth frame data"
----------------------------------------------------------------------------------------------------

| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       |SR300  |                                      |
| Platform

[2019-09-07 10:02] MartyG-RealSense commented on #4819
You are correct that there are challenges to streaming over wi-fi.  Intel's RealSense development team are actively working on methods to improve compression.

Wi-Fi transmission has been accomplished in the past by using drone communication methods such as GStreamer.
https://software.intel.com/en-us/articles/intel-aero-compute-board-and-intel-realsense-technology-for-wi-fi-streaming-of-rgb-data

[2019-09-07 18:00] BenBergman commented on #4326
I haven't had a chance to try it. I ended up building something in OpenFrameworks instead while I waited for a solution here and haven't had the time to try this out yet.

[2019-09-07 20:42] visus100 opened #4820 "Eporting to PLY in Unity"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D435i |
| Firmware Version                   | FW_5_11_11_100 |
| Operating System & Version |   Win 10 |
| Platform                                 | PC |
| SDK Version

[2019-09-08 00:37] sjdrc commented on #4431
Having CPack generate proper packages would be useful in the interim, as currently we need to do source builds to compile CUDA support for the jetson.

[2019-09-08 04:15] theodop opened #4821 "RealSense D435i - unusable depth frames after using the device outside"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | {D435i} |
| Firmware Version                   | 05.11.06.250 |
| Operating System & Version |   Ubuntu 18  |
| Kernel Version (Linux Only)    |  4.18.0-25-generic

[2019-09-08 05:51] MartyG-RealSense commented on #4821
There have been a couple of past cases I know of where the depth has been badly affected by light when outdoors (e.g freezing or becoming very sparse) and a reset of the pipeline corrected the problem.

https://support.intelrealsense.com/hc/en-us/community/posts/360033445713-D435-Sunlight-saturation-problem

Some advice by a member of Intel's RealSense team (agrunnet) is given here:

https://githu

[2019-09-08 05:55] theodop commented on #4821
Thank you Marty, I agree that it appears to be the same issue as #4022. I only checked the new production build; I haven't had a look at the most recent dev build. I will do this and update.

[2019-09-08 07:43] svabhishek29 commented on #4590
yes, it worked well...the suggestion was able to help me solve the problem.
Thanks

[2019-09-08 08:07] lramati commented on #4804
Unfortunately, no. The timestamps returned from withing librealsense are expressed as nanoseconds, and the python timedelta object is only exact to the microsecond, so we opted to leave the return values as integers rather than lose precision.

[2019-09-08 08:15] lramati commented on #4813
You would have to turn the pointcloud into a mesh and then calculate vertex normals based on that mesh. I think PCL gets recommended frequently by people here for doing these kinds of things, although that appears to be a C++ project

[2019-09-08 11:50] dorodnic commented on #4816
For CUDA installation you need to follow official NVidia documentation. If you build the SDK with CMake flag `-DBUILD_WITH_CUDA=true` and the compilation (`make && sudo make install`)  completed without errors, your version of the SDK is using CUDA (no extra steps needed)
Similar to `sse-align.cpp` you have [`cuda-align.cu`](https://github.com/IntelRealSense/librealsense/blob/master/src/proc/cuda/

[2019-09-08 11:53] dorodnic commented on #4818
We only support official kernel versions used in i86 LTS versions of Ubuntu 16 / 18. This doesn't mean it will or will not work on non-i86 hardware, we just cannot make such commitments. For non-i86 platforms we recommend [libuvc_installation.md](https://github.com/IntelRealSense/librealsense/blob/master/doc/libuvc_installation.md) installation without kernel patching.

[2019-09-08 13:04] doronhi commented on #4116
The function `cam.start(cfg)` returns a profile through which you should take the device.
The device (dev) you use in `dev.first<rs2::depth_sensor>()` is a different object then the one used by the pipeline.
Using both at the same time, as is the case when calling one after camera was started, seems like the cause for the crash.
You should fix your second version of the code accordingly since righ

[2019-09-08 20:33] kgh475926 commented on #4816
@dorodnic I cmake-ed with `-DBUILD_WITH_CUDA=true` and also `make && sudo make install` but when it comes to the align object construction, the program keeps calling the align_sse instead of align_cuda.
Is does this mean that CUDA doesn't work for alignment?

[2019-09-09 01:55] RealSenseCustomerSupport commented on #4416
----------------------------------------------

@itachi134999  Could you please try the latest v2.28 to see if it meets your need? Thanks!

[2019-09-09 01:58] RealSenseCustomerSupport commented on #4274
----------------------------------------------

@filartrix Any update for this issue? Is your Win7 system 64bit or 32bit?

[2019-09-09 01:58] RealSenseCustomerSupport commented on #4497
----------------------------------------------

@Ahad19931 Any update for this? Looking forward to your update. Thanks!

[2019-09-09 02:48] RealSenseCustomerSupport commented on #4563
----------------------------------------------

@seunghak-kim Could you please update more information and the logs? Looking forward to your reply. Thanks!

[2019-09-09 04:56] Sttrr commented on #4024
Hello, @mmoyes I also encountered the same problem when I try `get_static_node`,and the program crashed. how did you solve this problem？thank you!!!

[2019-09-09 05:01] RealSenseCustomerSupport commented on #4189
----------------------------------------------

@shadowdk3 Could you please feedback if you still support on this? Thanks!

[2019-09-09 05:02] RealSenseCustomerSupport commented on #3274
----------------------------------------------

@picturedeeplover Any other questions about this ticket? Thanks!

[2019-09-09 05:44] rupeshchandgude commented on #4813
thanks @lramati  I will try that out.

[2019-09-09 06:18] tonyhsiao1995 opened #4822 "SR305 Time Domain"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D435 |
| Firmware Version                   | 05.11.06.250 |
| Operating System & Version |   Ubuntu16.04  |
| Kernel Version (Linux Only)    | 4.15.0-55-generic  |
| Platfo

[2019-09-09 06:42] moeller0 commented on #1189
Silly question, in the viewer IR cameras are identified by number, which of the two is the left IR camera?

[2019-09-09 06:59] ionidestiny opened #4823 "importerror module not found"
----------------------------------------------------------------------------------------------------

| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | T265|
| Firmware Version                   | librealsense v2.28.0|
| Op

[2019-09-09 07:15] MartyG-RealSense commented on #4822
The release notes for SDK 2.23.0, where global time was added, imply that global time support is dependent on sensor support for it.  I checked the RealSense Viewer with both a D435i and an SR300, and the Viewer offered a "Global Time Enabled" box-toggle option at the bottom of the **Controls** options category for the D435i to toggle global time on-off but did not offer that option on the SR300's

[2019-09-09 07:15] ev-mp commented on #4751
@gorshborsh , did you manage to verify the IMU calibration as specified ?
Please update

[2019-09-09 07:19] ev-mp commented on #4815
@hongluck , there was a breaking kernel change introduced in 4.15.0-58 which broke the DKMS for that branch. We're working on an update.
In the meanwhile for kernels  4.15.0-58+ please use a DKMS package attached in #4669

[2019-09-09 07:31] LJS98 opened #4824 "librealsense building examples problem"
* Before opening a new issue, we wanted to provide you with some useful suggestions (Click "Preview" above for a better view):

    * Consider checking out SDK [examples](https://github.com/IntelRealSense/librealsense/tree/master/examples#sample-code-for-intel-realsense-cameras).
    * Have you looked in our [documentations](https://github.com/IntelRealSense/librealsense/tree/master/doc#useful-lin

[2019-09-09 07:49] MartyG-RealSense commented on #4824
The link below contains details of the customization flags for CMake, such as BUILD_GRAPHICAL_EXAMPLES.

https://github.com/IntelRealSense/librealsense/wiki/Build-Configuration

That particular command, which is set to True by default, excludes the building of tools that are dependent on OpenGL when set to False, and is suitable for use with 'headless' systems.   Your glxinfo output would suggest

[2019-09-09 08:27] LJS98 commented on #4824
Thank you for helping me. However, I can't still get an exe file when I make.

[2019-09-09 08:34] ev-mp commented on #4824
@LJS98 , building all SDK artifacts, including the library, examples, wrappers, shall be invoked from the root librealsense directory as defined in the [installation guide](https://github.com/IntelRealSense/librealsense/blob/master/doc/installation.md#building-librealsense2-sdk)

Please follow the guide's instructions and run the build with the examples flag as suggested by @MartyG-RealSense:
 `cm

[2019-09-09 08:53] giovannicairoli commented on #4526
@RealSenseCustomerSupport Do you have any schedule about when it will be available? 2-6-12 months.

Thank you

[2019-09-09 08:58] LJS98 commented on #4824
@ev-mp
I tried it but it is same.
There is not error when I command 'make' but also there is not any exe file.

[2019-09-09 09:56] ev-mp commented on #4824
@LJS98 , it's not clear what is the current state of your workspace after all the tries.
I'd suggest to make a clean rebuild and provide the full console log for review if you'd still encounter the issue. Should be equivalent to

Navigating to librealsense root dir

sudo make uninstall && make clean && sudo rm -rf * && cmake .. -DBUILD_EXAMPLES=true -D<put_all_the_requested_flags> && make -j$(npro

[2019-09-09 10:01] #4823 closed

[2019-09-09 10:12] Ahad19931 commented on #4497
The problem was solved. Thanks!

[2019-09-09 12:15] soarwing52 commented on #4804
@lramati  thank you for the explaination.
I suppose the second can be converted either from frame numer with the correcsponding fps.

I will keep on optimizing my application, thank you!

[2019-09-09 12:15] #4804 closed

[2019-09-09 13:43] hongluck commented on #4815
Still giving me the error as the link
https://github.com/IntelRealSense/librealsense/issues/4794#issuecomment-528487804

[ERROR] [1568036482.236293983]: An exception has been thrown: The requested pixel format 'W10 ' is not natively supported by the Linux kernel and likely requires a patch!
Alternatively please upgrade to kernel 4.12 or later. Last Error: Invalid argument
terminate called after th

[2019-09-09 13:52] mstranne opened #4827 "streaming color and infrared from two different sources"
Hello,

I am using the R200 Camera on windows with librealsense in an cpp library for tracking of an infrared light pattern, which is working fine. I am able to use the provided extrinsics  to convert the pose from IR frame to Color, all working great!

I am wrapping all stuff to use it inside Unity, which was also easy to pass the color stream up to C# level.

However, now I want to use another l

[2019-09-09 14:49] ev-mp commented on #4815
Can you provide the full installation log of the deb ?

[2019-09-09 14:58] mmoyes commented on #4024
@Sttrr I'm still struggling to get this working consistently (in a usable way). Using version 2.26 onwards helps. I mostly wrap a try catch in a while loop: While (get static node not successful) { try get static node }

[2019-09-09 16:51] anuragtiwari opened #4828 "Getting Depth Data in Unity to map to heightmap of the Terrain in Unity."
Camera: D415
Unity 2018.1.6f1
C#

I am trying to generate a runtime terrain from the depth values of the realsense camera D415.
after going through multiple related issues posted, I went through the depthCutoff.cs script but do not understand where(which scen eit is getting used to map depth values to something

Here is what i have gotten so far.
I have created a terrain which is 640x480, the heig

[2019-09-09 16:53] RealSenseCustomerSupport commented on #4414
----------------------------------------------

Please let us know if there is any problem using the data-collect or further findings. Thank you.

[2019-09-09 17:39] matkatz commented on #4796
`calculate` is deprecated function and it currently simply calls to `process` in C++ wrapper.

`map_to` can be added but in case you work with pipeline and frameset you don't need it, simply provide the texture stream to the point cloud filter:
Pointcloud mPointcloud= new Pointcloud(StreamType.COLOR);

Please notice that align filter is not required if pointcloud filter is used, the alignment can

[2019-09-09 18:18] RudyAramayo commented on #4543
Howdy, I am using a Mac mini 2012. The issue is that it’s an old computer. I am using he cable you guys provided and the usb 3 port on the Mac mini with no hub attached. A new vr ready windows machine connects with no issue at all. I wish the device would be as reliable on Mac as it is for windows because the droid I am working on is extremely visible to the world and would be a great showcase of

[2019-09-09 21:25] MartyG-RealSense commented on #4155
I just wanted to add that I came across a 3D printing blueprint for a 400 Series mounter for Oculus Quest.

https://www.thingiverse.com/thing:3841368

[2019-09-09 21:35] MartyG-RealSense opened #4829 "Announcement: unofficial 3D printing blueprint of a handle for RealSense SR305 now available"
Hi everyone,

I came across a 3D printing blueprint for a handle for the RealSense SR305 camera that I thought I'd share.

https://www.thingiverse.com/thing:3831196

[2019-09-09 21:59] RealSenseCustomerSupport commented on #4656
----------------------------------------------

Hi @nikhilkoditala,

Please make sure that you have all the dependencies needed for successful compilation and linking:

https://github.com/IntelRealSense/librealsense/blob/master/doc/installation.md

Thank you!

[2019-09-09 22:00] WasabiFan commented on #4414
I will test this when I have some time to go into the lab and set up an Xavier.

Please don't close this issue; it is not resolved.

[2019-09-09 23:00] liltrekkie commented on #4777
It seems there is a limitation on the timestamps I can get 3d snapshots from the viewer, so I can only get a single one every second, which isn't enough to combine the point clouds together successfully.

So would anyone have any other recommendations?

[2019-09-09 23:27] josephdanielchang commented on #4740
How long does it usually take to get a response?

[2019-09-10 00:29] LJS98 commented on #4824
This is my console log
As you can see, rs-hello-realsense works. But pointcloud stiil doesn't work.
[console_log.txt](https://github.com/IntelRealSense/librealsense/files/3593110/console_log.txt)

[2019-09-10 00:33] RealSenseCustomerSupport commented on #4607
----------------------------------------------

Hi @manukharshan,

Do you need any further clarifications regarding this topic?

Thank you!

[2019-09-10 01:06] #4121 closed

[2019-09-10 01:20] RealSenseCustomerSupport commented on #4671
----------------------------------------------

Hi @TanmayPathak,

Please let us know whether or not have you managed to reproduce the issue.

Thank you!

[2019-09-10 01:48] #4824 closed

[2019-09-10 05:31] qwz3045 opened #4831 "RealSense D435i to save every frames to disk"
Required Info |  
-- | --
Camera Model | {D435i}
Firmware Version | 05.11.06.250
Operating System & Version | Ubuntu 18
Kernel Version (Linux Only) | 4.18.0-25-generic
Platform | PC
SDK Version | 2, RealSense Viewer
Language | C++ / RealSense Viewer

### Issue Description
following the program" examples/save-to-disk.cpp "I can just  captures 30 frames and writes the last frame to disk.Now I want t