[2020-01-24 09:54] ltorquato4 commented on #5491
By the way, I just saw the new release [2.32.1](https://github.com/IntelRealSense/librealsense/issues/5704) .
I will try this out!

[2020-01-24 11:19] bokkngo opened #5707 "running error of Intel.RealSense.Viewer.exe"
* Before opening a new issue, we wanted to provide you with some useful suggestions (Click "Preview" above for a better view):

    * Consider checking out SDK [examples](https://github.com/IntelRealSense/librealsense/tree/master/examples#sample-code-for-intel-realsense-cameras).
    * Have you looked in our [documentations](https://github.com/IntelRealSense/librealsense/tree/master/doc#useful-lin

[2020-01-24 11:22] bokkngo commented on #5707
I could not open the Intel.RealSense.Viewer.exe file. I'd like to test my Sense 3D scanner SR300.
My notebook is totally covering the hardware recommendations:
i5 7300HQ (so 7th gen.) 2.5 GHz
Geforce GTX 1050Ti Graphic card
RAM: 8 GB
1920 x 1080 screen resolution
900 GB free space

I've tried run the program on 3 different ways:
Simple doubleclick
right mouse/open
right mouse + run as administrato

[2020-01-24 14:11] Kevin-Delnoije commented on #5694
here is  a simple script that i used

[code]

[2020-01-24 14:11] #5694 closed

[2020-01-24 14:31] harshars08 opened #5708 "Caliberating the realsense depth image using c++ on ubuntu/linux"
Required Info
Camera Model	{  D435 }
Firmware Version	(5.9.0)
Operating System & Version	{ (Ubuntu 16.04 LTS}
Kernel Version (Linux Only)	{4.15}
Platform	PC
SDK Version	{ 1.3.11}
Language	{C++ }

Issue Description

 How to calibrate an infrared image and a depth image using realsense sdk calls for c++ on linux?

 In previuos version s calls were like below. Unable to find the same in 1.3.11
 // Ob

[2020-01-24 18:11] neilyoung opened #5709 "T265: Regression with version 2.32.1 on macOS"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | T265 |
| Firmware Version                   | 0.2.0.908  |
| Operating System & Version |  ubuntu 16.04.6 LTS, macOS Catalina, Raspbian Buster |
| Kernel Version (Linux Only

[2020-01-24 18:31] neilyoung commented on #5709
Update: Seems, it is also not working well on Ubuntu. The deltaT goes up from 0.01 s to 1.3 secs after about 30 s. Regardless of whether it is using USB 2.1 or 3.1

Will test next days how it behaves in a real app (with floor plan display)

[2020-01-24 18:40] matlabbe commented on #4505
@mikg13 I reproduced the problem of your [video](https://streamable.com/pllag) on kernel `5.3.0-26` and `5.0.0-37`. Only on `4.15.0-74` the timestamps are not flickering and increasing correctly. Tested on:
[code]

[2020-01-24 19:00] RealSenseCustomerSupport commented on #5657
----------------------------------------------

Hi Shivani,

The behavior you are seeing is correct. If you enable a stream it disables all others. Here are some working examples that demonstrate how to record/playback bag files in librealsense:

https://github.com/IntelRealSense/librealsense/tree/master/examples/record-playback
https://github.com/IntelRealSense/librealsense/tree/master/tools/reco

[2020-01-24 19:05] #5282 closed

[2020-01-24 20:00] ruffsl commented on #3921
Was this resolved by customizing the frame timestamp domain to either `SENSOR_TIMESTAMP` or `FRAME_TIMESTAMP`? Looks like one can only acquire the time from the middle of the exposure. Is this also a frequent convention of VIO sensors?

https://github.com/IntelRealSense/librealsense/blob/9f99fa9a509555f85bffc15ce27531aaa6db6f7e/include/librealsense2/hpp/rs_frame.hpp#L450-L454

---

I'm also having

[2020-01-24 20:29] neilyoung commented on #5709
OK, it MUST be an issue with the SDK. According to realsense-viewer the firmware is 0.2.0.926

But - with the latest SDK there is this increasing delay and there are gaps in the frame numbers.
This is not the case on the same device with the same camera but SDK 2.32.0

Good luck finding it

[2020-01-24 20:34] neilyoung commented on #5709
Here is a different version of the test script, now derived from an official sample (t265_example.py)

[code]

On macOS you should see an increasing delay and gaps in the frame numbers with 2.23.1. Not the case with 2.23.0 (commit cb453b50f5654655bb63624a4654a671817bc86e from Jan 5)

[2020-01-24 20:48] RealSenseCustomerSupport commented on #4778
----------------------------------------------

Hi @mikeroyal, Do you still plan to submit a PR for Snap? Thanks.

**Please be informed that we will close this ticket in seven (7) days if we have not heard back from you.

[2020-01-24 20:54] RealSenseCustomerSupport commented on #5618
----------------------------------------------

Hi @WasabiFan,

Has the comment provided by @ev-mp helped to find an answer to your question? Please let us know if you need any further assistance with this matter.

Thank you!

[2020-01-24 21:33] WasabiFan commented on #5618
It was helpful. @ev-mp where can this information be found publicly? Can you publish the official build scripts?

[2020-01-24 22:03] #4480 closed

[2020-01-24 23:25] ruffsl opened #5710 "Per-frame metadata is enabled for Accel but not Gyro"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D435i |
| Firmware Version                   | 05.12.02.100 |
| Operating System & Version |   Linux (Ubuntu 18.04)  |
| Kernel Version (Linux Only)    |  4.20.4-042004-gene

[2020-01-25 00:47] FPSychotic opened #5711 "Realsense viewer 2.32.1 do not show the new firm update for t265"
* Before opening a new issue, we wanted to provide you with some useful suggestions (Click "Preview" above for a better view):

    * Consider checking out SDK [examples](https://github.com/IntelRealSense/librealsense/tree/master/examples#sample-code-for-intel-realsense-cameras).
    * Have you looked in our [documentations](https://github.com/IntelRealSense/librealsense/tree/master/doc#useful-lin

[2020-01-25 03:20] ruffsl opened #5712 "Support interpolation methods of Accel and Gyro for IMU in SDK"
Many conventional VIO pipelines intake internal measurements as synchronized pair of accelerometer and gyroscope streams. If the sample rates for these streams are unsynchronized, then a linear interpolation over time is often applied to unionize the two into a single measurement stream.

There's been a lot of duplicate work in downstream projects to facilitate this required abstraction:
https://g

[2020-01-25 09:22] yputra commented on #5704
I tried the new firmware on my Raspberry Pi 4 to run the T265 together with the D435. I started the T265 first and then the D435 with delayed roslaunch in ROS. It does not show any error and the device seems to run well, but when I stream the data from T265, it actually stopped giving output (pose, etc.) after few minutes. It seems like it crashed but the software think it is still fine.

[2020-01-25 09:48] MartyG-RealSense commented on #5704
Have you tried the launch file for running a D4xx camera and T265 together please?

 **roslaunch realsense2_camera rs_d400_and_t265.launch**

[2020-01-25 12:12] OneQuestion opened #5713 "How to avoid memory leak and run program forever"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D435i |
| Firmware Version                   | 2.32 |
| Operating System & Version |  Ubuntu 16  |
| Kernel Version (Linux Only)    |                                   |
| P

[2020-01-25 12:16] OneQuestion commented on #5713
I'am aware of #2860 memory leak problem. Is there a way to avoid it by restarting service once in a while? I tried pipe.stop() and then pipe.start() again, but it made no difference.
My code goes like this:

`pipe.start()`
`frames = pipe.wait_for_frames();`
`depth = frames.get_depth_frame();`
`points = pc.calculate(depth);`
`vertices = points.get_vertices();`
`tex_coords = points.get_texture_coord

[2020-01-25 13:44] OneQuestion commented on #5706
have you tried the examples yet?

[2020-01-25 13:46] OneQuestion commented on #5682
you could just check z axis. It basically tells the distance from camera

[2020-01-25 14:06] MartyG-RealSense commented on #5713
Librealsense has a script instruction called **hardware_reset()** that can reset the camera automatically once a certain condition is met.  For example, one user set its activation to be conditional on a certain number of zero-value pixels being detected.

A simple C++ reset script for a single camera is provided in the link below.

https://github.com/IntelRealSense/librealsense/issues/2161#issuec

[2020-01-25 14:14] OneQuestion commented on #5713
so **hardware_reset()** should be used instead of pipe.stop() ? Does it have same effect as exiting the program?

[2020-01-25 14:24] MartyG-RealSense commented on #5713
pipe.stop stops the currently active camera streams that were initiated by starting the pipe with pipe.start.

A hardware_reset() is essentially the same as resetting the camera by doing a physical unplug and replug of the camera's USB cable to disconnect and reconnect it.

[2020-01-25 14:32] OneQuestion commented on #5713
so I shouldn't use stop or start in this situation at all? only these ? :
`	        rs2::context ctx;`
        `    rs2::device dev = ctx.query_devices().front();`
          `  dev.hardware_reset();`
          `  rs2::device_hub hub(ctx);`
         `   dev = hub.wait_for_device();`

[2020-01-25 14:34] OneQuestion commented on #5713
but it gives me **Frame didn't arrive within 15000**

[2020-01-25 14:41] MartyG-RealSense commented on #5713
Well, you need pipe.start of course to start the streams running in the first place.

Using hardware_reset is a common way to deal with problems that may arise during a program designed for long-running over a number of days.

 RealSense 400 Series cameras can run indefinitely so long as they remain within operating temperature tolerances.  When a problem with a long-run occurs, it is typically re

[2020-01-25 15:01] OneQuestion commented on #5713
default, so I guess 30fps
this is how I get this error:

    dev = ctx.query_devices().front();
    dev.hardware_reset();
    dev = hub.wait_for_device();
    pipe.stop();
    pipe.start();
    frames = pipe.wait_for_frames();
    depth = frames.get_depth_frame();
    points = pc.calculate(depth);
    vertices = points.get_vertices();
    tex_coords = points.get_texture_coordinates();`
also, it co

[2020-01-25 15:06] FPSychotic commented on #5711
0.2.0.926

[2020-01-25 15:08] #5711 closed

[2020-01-25 15:23] MartyG-RealSense commented on #5713
pipe.stop normally goes at the end of the script, not before pipe.start.

As I am not a RealSense programming specialist, there are people more able on this forum to give expert advice on this topic.   In the meantime, it may be a good idea to take a look at the SDK's point cloud example program.  Once started, it generates the point cloud in a window and keeps running until the window is manually

[2020-01-25 16:47] VladMVLX commented on #5646
![Screenshot_20200125-184448](https://user-images.githubusercontent.com/58504993/73124355-20290600-3fa3-11ea-9df9-fd069be7aa3c.png)
It literally says 6dof even hash tags it.

[2020-01-25 17:02] MartyG-RealSense commented on #5646
Although the D435i and T265 have the same IMU component, they handle IMU data differently.  On D435i, the raw IMU data is delivered directly to the host PC.  The T265 though has a Movidius Myraid 2 Visiaul Processing Unit (VPU) chip which the D435i lacks.  This VPU can generate **pose** information by fusing inertial and video sensor data.

[2020-01-25 17:14] yputra commented on #5704
Yes, I just did, still the same problem. The ROS launch did not show any error or termination, but I dont receive anymore data after few minutes

[2020-01-25 17:40] MartyG-RealSense commented on #5704
If you are connecting to the D435 and T265 using device serial number, an alternative approach to launching may be to launch by USB port ID instead.  This method was created after a number of users experienced problems with the D435 and T265 combination when using serial numbers to distinguish between the devices.  I believe this avoids the need for using launch delay timing.

https://github.com/I

[2020-01-25 17:41] neilyoung commented on #5709
OK, I can give the all-clear. At least a little bit. The problem is reduced to the frame-callback mechanism. When I return to the old form, replacing the frame callback with the known loop, the delay is constant in the range of **0.05 seconds**.

[code]

Perfectly okay.

But with the callback, there's nothing "in time" anymore.

I doubt that the mutex has become lame out of the sudden. It must be

[2020-01-26 09:29] ev-mp commented on #5515
@mgzjzzhang hello, this should be fixed in v2.32.1.
Please check and update.

[2020-01-26 09:33] ev-mp commented on #4669
Assume resolved.

[2020-01-26 09:33] #4669 closed

[2020-01-26 10:00] ev-mp commented on #5710
@ruffsl hello,
The difference in timestamp domains for gyro and accel is rooted in kernel inconsistency and requires kernel patch to rectify. The SDK provides the patches suites for Ubuntu LTS kernels, and v4.20 is not [on the list](https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=2&cad=rja&uact=8&ved=2ahUKEwju_eWYgKHnAhVEzKQKHUa9ANgQFjABegQIDBAF&url=https%3A%2F%2Fwww.thomas-krenn.com

[2020-01-26 11:01] neilyoung opened #5715 "T.265: SVG available?"
For a software documentation (especially for illustrating the diverse coordinate system transformations) I would need an SVG of the T.265. Is that available somehow?

[2020-01-26 11:07] ev-mp commented on #5703
@danem , those Ubuntu APT errors are 3rd party package messages (python), and are not SDK-related:

  404  Not Found [IP: 91.189.88.31 80]
Err:5 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 python3-apt amd64 1.6.4
  404  Not Found [IP: 91.189.88.31 80]
Get:6 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 python3-software-properties all 0.96.24.32.12 [23.6 kB]
Get:7 http:/

[2020-01-26 11:10] ev-mp commented on #5693
@BadMachine , please attach the code that triggers the error and/or Librealsense logs for review

[2020-01-26 11:44] ev-mp commented on #5688
@5693 Vivoslespagnos hello,
I reviewed the attached logs but couldn't identify any setup / hw issues that could result in failures:
- DKMS package is properly installed and loaded. It is confirmed both by the version string and the Kernel log produced by D435 during device enumeration
- You haven't specified what additional UVC devices are additionally attached to host PC, but connecting D435 to t

[2020-01-26 13:09] mgzjzzhang commented on #5515
Ok, thanks. I'll try

[2020-01-26 14:43] MartyG-RealSense commented on #5715
If you mean Scalable Vector Graphics, I have not personally come across an image of the T265 in that format.  A CAD file of the T265 in STP format is available though from the link below.

https://dev.intelrealsense.com/docs/cad-files

There is also a mechanical line-drawing of the T265 on page 28 of the data sheet document for the T265.

https://dev.intelrealsense.com/docs/tracking-camera-t265-da

[2020-01-26 17:35] BadMachine commented on #5693
@ev-mp
[code]
This

[2020-01-26 22:21] ruffsl commented on #5710
Ok, it wasn't obvious to me that at first, that installation of the DKMS deb packages and manually patching of the LTS kernel where both required simultaneously. I've switched back to the LTS kernel, and applied the kernel patch via the repo provided patch script, however rebooting after the patch, I'm still encountering the same issue.

[code]

Log from `scripts/patch-realsense-ubuntu-lts.sh`:

<

[2020-01-26 23:22] Ezward opened #5717 "Firmware 5.12.2.100 causes realsense-viewer to crash when imu is on D435i"
----------------------------------------------------------------------------------------------------

| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D435i |
| Firmware Version                   | 05.12.02.100|
| Operatin

[2020-01-26 23:29] ruffsl commented on #5710
After looking closer at the `patch-realsense-ubuntu-lts.sh` script, looks like it stalls from the `v1-media-uvcvideo-mark-buffer-error-where-overflow.patch` may already be upstreamed in Ubuntu LTS tag Ubuntu-4.15.0-74.84. I commented this section out, and proceed to install the built kernel modules:

https://github.com/IntelRealSense/librealsense/blob/83f952a4bd6b70d72459f66c7f67ddaba9d337a0/scrip

[2020-01-27 03:54] sonumathur commented on #5706
I have tried examples that are provided in list....

[2020-01-27 03:58] sonumathur commented on #5706
I not find any references to saving a stream data in MATLAB cloud..................

[2020-01-27 06:10] merttoka opened #5718 "rs2::depth_frame and rs2::points pixel formats"
* Before opening a new issue, we wanted to provide you with some useful suggestions (Click "Preview" above for a better view):

    * Consider checking out SDK [examples](https://github.com/IntelRealSense/librealsense/tree/master/examples#sample-code-for-intel-realsense-cameras).
    * Have you looked in our [documentations](https://github.com/IntelRealSense/librealsense/tree/master/doc#useful-lin

[2020-01-27 07:45] saikishor commented on #1904
@Litvak1 May be this should give you some idea
https://github.com/ros-perception/image_pipeline/blob/melodic/depth_image_proc/src/nodelets/point_cloud_xyz.cpp

[2020-01-27 09:56] Murded commented on #4580
Anyone have an update on this?

[2020-01-27 11:03] ev-mp commented on #5717
@Ezward hello, I tried D435i with the same FW and kernel versions as specified but could not reproduce any of the above in `realsense-viewer`/ `rs-capture` / `rs-measure`.
Can you turn on and provide the SDK and kernel logs for review ?

Additionally I'd recommend to try a different USB cable/port as some of the warnings are associated with power/hw setup.

[2020-01-27 11:18] ev-mp commented on #5710
@ruffsl hello,it great that you've managed to resolve the issue.
Two notes:
- There is no need to apply both DKMS and the manual script. Actually it must be avoided as the methods are functionally-equivalent, so running both may lead to unexpected results. You need to choose and implement one of the methods as prescribed. DKMS should be preferred for LTS kernels.
- The interrupt for user input wit

[2020-01-27 11:40] ev-mp commented on #5693
@BadMachine , can you post  the code of the main function along with the SDK and kernel logs?
The two lines provided  are taken out of context and therefore of no much help -

auto dev = device[0];

The only thing I could offer that you instantiate and de-reference an instance from a list without checking whether the list is empty.

[2020-01-27 14:33] laguerreche opened #5719 "T265 not found at Pipeline.Start() if QueryDevices was done before"
----------------------------------------------------------------------------------------------------

| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | RealSense T265 |
| Firmware Version                   | 0.2.0.926 |
| O

[2020-01-27 16:08] laguerreche opened #5720 "RealSenseViewer hangs at exit"
| | |
|---|---|
|**librealsense**|2.32.1 RELEASE|
|**OS**|Windows|
|**Name**|Intel RealSense T265|
|**Serial Number**|0000852212110652|
|**Firmware Version**|0.2.0.926|
|**Usb Type Descriptor**|3.1|
|**Product Line**|T200|

RealSenseViewer hangs when I try to quit by clicking on the close button of the window.

Steps to reproduce:
- starts the viewer with a connected camera,
- click on the toggle

[2020-01-27 16:21] laguerreche commented on #5720
A behavior that may be related...

If I run the sample "rs-capture" in VS 2017 (from the same SDK release built in x86_64), it hangs when I close its viewer window. If I then pause the debugger, I can see that the callstack of the main thread is blocked in the `concurrency.h` file at line 303:
`_was_flushed_cv.wait_for(lock_was_flushed, std::chrono::hours(999999), [&]() { return _was_flushed.load(

[2020-01-27 16:44] laguerreche opened #5721 "Adding fisheye distortion model in C# wrapper"
In SDK 2.32.1, the C# wrapper still doesn't expose the fisheye Kannala Brandt distortion model. Could you add it to `Distortion.cs` file? In the enum, it would take value 5.

Example:
[code]

[2020-01-27 16:55] neilyoung commented on #5715
@MartyG-RealSense Thanks, yes, I meant SVG.  Maybe I can convert from STP to SVG. Thanks

[2020-01-27 17:35] merttoka commented on #5718
Now I am experiencing a similar problem with `rs2::points` type:

[code]

As I understand the results, I have 19200 vertices, each containing 20 bytes of data. However `sizeof(rs2::vertex)` returns 12 (as expected). What other information is stored on the `rs2::points` object?

[2020-01-27 17:59] gglaspell commented on #5271
@schmidtp1 I am also experiencing some drift, even when the robot is perfectly stationary, when incorporating wheel odom into the t265 and wanted to verify I had calibration file setup correctly. Since I am using the **ROS wrapper**, I have **W** set to [0,0,0] as per your guidance. However, I am not sure if the wrapper corrects for **T** as well. I currently have **T** set in my JSON file as [0,-

[2020-01-27 18:50] RealSenseCustomerSupport commented on #5672
----------------------------------------------

You can see what streams are supported for the camera in use (`rs-enumerate-devices -d`), and start one pipeline with the desire configuration.
Thank you.

[2020-01-27 20:21] Ezward commented on #5717
It was the cable.  I was using a 3rd party cable when getting the errors.  When I switch to the supplied cable, everything worked.  Thank you.

[2020-01-27 20:21] #5717 closed

[2020-01-27 20:47] RealSenseCustomerSupport commented on #5666
----------------------------------------------

Hi @DavidCadtec,

You can find a couple of sample files here:
https://github.com/IntelRealSense/librealsense/blob/master/doc/sample-data.md

Thank you!

[2020-01-27 20:52] ruffsl commented on #5710
Thanks for the clarification. After I had rolled back to the LST kennel with the DKMS still installed, the issue persisted until I manually patched. Perhaps if I happen to repeat this with a fresh Ubuntu install this wouldn't be repeatable, but in theory the DKMS provided should work with 4.15.0-74.84 ?

[2020-01-27 22:39] RealSenseCustomerSupport commented on #5214
----------------------------------------------

Hi @neilyoung

Is there anything further necessary on this thread?

[2020-01-27 22:40] neilyoung commented on #5214
No. Can be closed.

[2020-01-27 22:40] #5214 closed

[2020-01-27 22:43] RealSenseCustomerSupport commented on #5078
----------------------------------------------

@neilyoung

Can this be closed out?

[2020-01-27 22:47] RealSenseCustomerSupport commented on #5439
----------------------------------------------

Will you be needing any further assistance with this?

[2020-01-27 22:48] neilyoung commented on #5078
No. Still alive.

[2020-01-27 22:55] RealSenseCustomerSupport commented on #5158
----------------------------------------------

Hi @tropicdragon
Are you still seeing this issue with the latest 2.32.1 librealsense?  Do you still need assistance on this issue?

[2020-01-27 22:57] RealSenseCustomerSupport commented on #5184
----------------------------------------------

Hi @neilyoung
Is there anything else necessary on this thread?

[2020-01-27 22:59] neilyoung commented on #5184
Nope

[2020-01-27 22:59] #5184 closed

[2020-01-27 23:01] RealSenseCustomerSupport commented on #4876
----------------------------------------------

Hi @msadowski

I hope you were successful in running with the latest versions of librealsense.  Now we are up to version 2.32.1.  Let me know if further assistance is necessary or we can close this thread.

[2020-01-27 23:02] #5015 closed

[2020-01-27 23:03] RealSenseCustomerSupport commented on #5228
----------------------------------------------

Hi @neilyoung

Can we close this thread out or is there anything further needed here?

[2020-01-27 23:07] neilyoung commented on #5228
yes

[2020-01-27 23:07] #5228 closed

[2020-01-27 23:25] RealSenseCustomerSupport commented on #3788
----------------------------------------------

Hi @DevastF,

Did the camera (from your last post) undergo a firmware downgrading before extrinsic recovery issue has occurred?

Thank you!

[2020-01-27 23:41] RealSenseCustomerSupport commented on #4197
----------------------------------------------

Hi @callendorph

Can this be closed out now?  Your PR associated with this was closed already as well.

[2020-01-27 23:43] RealSenseCustomerSupport commented on #4171
----------------------------------------------

Hi @millsrandy

Are you still seeing this issue with the latest version 2.32.1?

[2020-01-27 23:47] RealSenseCustomerSupport commented on #4163
----------------------------------------------

Hi @Shagai

Were you able to get around your issue?  Have you attempted the latest version 2.32.1 which has updates around how T265 is accessed?

[2020-01-27 23:49] RealSenseCustomerSupport commented on #4052
----------------------------------------------

Hi @vusdo

This thread has been opened for quite some time.  If there is nothing else needed, then the thread should be closed.

[2020-01-27 23:58] callendorph commented on #4197
:+1:

[2020-01-27 23:58] #4197 closed

[2020-01-28 00:00] RealSenseCustomerSupport commented on #4040
----------------------------------------------

There have been some updates to librealsense with regards to import/export maps and relocalization.  The latest version of librealsense now being 2.32.1...also an sample from this PR giving example of importing/exporting maps as well as get/set static nodes - https://github.com/IntelRealSense/librealsense/pull/5356

@marekskocz - have a look at the l

[2020-01-28 00:47] RealSenseCustomerSupport commented on #5675
----------------------------------------------

Hi @spaltiel, Do you have further question on this?
If we don't hear from you in 7 days, we will close this.

Thanks,

[2020-01-28 01:04] #5596 closed

[2020-01-28 01:06] RealSenseCustomerSupport commented on #5634
----------------------------------------------

@scizors,

Do you still need help with this question?

[2020-01-28 05:55] youngpm opened #5722 "Ubuntu 20.04 LTS support?"
I was curious how long it usually takes to get support out for a new LTS? I'm currently using 19.10, and the manual patching of the kernel scares me off.

Alternatively, what are the downsides to using the "RSUSB" backend?  Just performance?

Thanks!

[2020-01-28 06:53] byeongkyu opened #5723 ""Frames didn't arrived within 5 seconds" on Ubuntu 18.04.3 (Kernel 5.3.0-26) with librealsense-2.32.1"
----------------------------------------------------------------------------------------------------

| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D435 |
| Firmware Version                   | 05.12.02.100 |
| Operatin

[2020-01-28 07:01] zainmehdi opened #5725 "[E] TrackingManager: Error while loading file to device 0x0x7f8401ebb0 [T265]"
----------------------------------------------------------------------------------------------------

| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | { T265 } |
| Operating System & Version |   Linux- Ubuntu Bioninc 18.04

[2020-01-28 07:38] xaritonn commented on #5503
On ubuntu 18.04, the same thing happens. But additionally prints an error "Segmentation fault (core dumped)"

[2020-01-28 07:48] LiranAz commented on #5676
Still does now work, could it be a firmware issue?

[2020-01-28 08:29] MartyG-RealSense commented on #5676
It is difficult to make progress on the problem when neither Windows Device Manager or lsusb can detect the camera at all.

This case was assigned to @RealSenseCustomerSupport so I've tagged their name to help highlight this case to them.

It is rare but possible that the camera hardware is simply broken, in which case you would be entitled to return the camera to where you purchased it from for a

[2020-01-28 08:40] LiranAz commented on #5676
I understand, hopefully they will be able to help.
Thanks for your efforts.

[2020-01-28 10:10] xaritonn commented on #5503
similar to Ubuntu 18.04 same problem.
I think there is some kind of error in my code, but I can’t find it
@RealSenseCustomerSupport

[2020-01-28 12:03] neripaolo opened #5726 "RealSense-Matlab: multiple device"
Dear users

I'm new in realsense-matlab interface. I tryed the simple example to acquire point clouds, and they worked fine so far. Now I want to use more than one sensor, and I want to chose which one to use for each acquisition (timing is not an issue so far). How can I select which device to stream for in matlab? (I'm using D415).

Thank you for your help!

This is the code I'm using to start t

[2020-01-28 13:14] spaltiel commented on #5675
No,  we are good.

again lots of thanks to Sergey.

[2020-01-28 14:13] dbolkensteyn opened #5727 "RealSense Viewer doesn't detect ZR300 / R200 cameras on Windows 10"
| | |
|---|---|
|**librealsense**|2.29.0 RELEASE|
|**OS**|Windows|

I just installed the latest Intel RealSense Viewer for Windows 10. While it was able to successfully detect and stream data from my SR300 camera, it did not detect my other ZR300 nor R200 ones .

[2020-01-28 14:42] AaronZettler opened #5728 "Empty point cloud on rs2::pointcloud::calculate()"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D435i |
| Firmware Version                   | 05.12.01.00 |
| Operating System & Version |   Ubuntu 18.04.3 LTS |
| Kernel Version (Linux Only)    |  5.3.0-26-generic

[2020-01-28 15:07] kevinpaulsudarshan opened #5729 "Set the depth camera properties in c++"
* Before opening a new issue, we wanted to provide you with some useful suggestions (Click "Preview" above for a better view):

    * Consider checking out SDK [examples](https://github.com/IntelRealSense/librealsense/tree/master/examples#sample-code-for-intel-realsense-cameras).
    * Have you looked in our [documentations](https://github.com/IntelRealSense/librealsense/tree/master/doc#useful-lin

[2020-01-28 16:03] MartyG-RealSense commented on #5727
The current RealSense SDK is not compatible with R200 and ZR300, unfortunately.  It works with 400 Series cameras, SR3xx (SR300 and SR305), T65 and the forthcoming L515 lidar camera.

The current SDK's predecessor (now known as Legacy Librealsense) is compatible with R200 and ZR300.

https://github.com/IntelRealSense/librealsense/tree/v1.12.1

[2020-01-28 17:01] dbolkensteyn commented on #5727
Thank you

[2020-01-28 17:01] #5727 closed

[2020-01-28 17:05] #5612 closed

[2020-01-28 17:52] raymanfx opened #5730 "OpenCV RGB-D Odometry"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D435  |
| Firmware Version                   | 05.12.01.00 |
| Operating System & Version |  Linux (Raspbian Buster)  |
| Kernel Version (Linux Only)    |  (e.g. 4.19.93)

[2020-01-28 18:05] #5507 closed

[2020-01-28 18:11] #5715 closed

[2020-01-28 18:12] neilyoung commented on #5709
Anybody able to confirm?

[2020-01-28 18:48] msadowski commented on #4876
@RealSenseCustomerSupport Many thanks for remembering about this issue! It looks like I'll not be able to test it out for the next 2 months or so. If it's a clutter for you feel free to close it and I'll create a new issue if I run into it again.

[2020-01-28 18:50] Microset commented on #5719
Camera Model | RealSense T265
Firmware Version | 0.2.0.926
Operating System & Version | Ubunty 16.04
Platform | PC x86_64
SDK Version | 2.32.1
Language | Python
Segment | Robotics
I can agree with  laguerreche comments. In SDK2.32.1 I have the same problem in python examples: if calling Context.Devices, the function Pipeline.Start(Config) will throw a "No device connected" exception.
Changing SDK

[2020-01-28 19:04] #5593 closed

[2020-01-28 19:51] OneQuestion commented on #2860
So, exactly, what is the proper way of avoiding any such memory leak? What is the procedure of destroying processing block?

[2020-01-28 19:52] JTrantow opened #5731 "C6294 handle-winusb.h Ill defined for loop."
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | { D400 } |
| Firmware Version                   | (Open RealSense Viewer --> Click info) |
| Operating System & Version |   Win10|
| Platform

[2020-01-28 20:30] JTrantow opened #5733 "C6287 Redundant Code in zero-order.cpp, probably from a cut/paste error"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | { D400 } |
| Firmware Version                   | NA |
| Operating System & Version |   Win10|
| Platform                                 | PC|
| SDK Version

[2020-01-28 21:00] RealSenseCustomerSupport commented on #5676
----------------------------------------------

Hi @LiranAz,

Please make sure that the USB cable that you use to connect the camera to USB port/hub is in working condition.

Thank you!

[2020-01-28 21:34] JBBee opened #5735 "2.32.1 regression with set_motion_device_intrinsics()"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | T265 |
| Firmware Version                   | 0.2.0.926 |
| Operating System & Version |  Win 10 |
| Kernel Version (Linux Only)    |

[2020-01-28 22:19] matildameasday commented on #5473
Hi,
I've installed version 2.32.1. The D435 still won't work with the colour stream, and the issue with the T265 remains. I've downgraded back to version 2.29 again.

[2020-01-29 00:12] JTrantow opened #5736 "get_gvd_field() implementation"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | {  D400 } |
| Firmware Version                   | (NA) |
| Operating System & Version |   {Win10|
| Platform                                 | PC|
| SDK Version

[2020-01-29 02:15] Deer-1170 opened #5738 ""rosrun pcl_ros pointcloud_to_pcd input:=/ rtabmap/cloud_map" returns part of point cloud"
----------------------------------------------------------------------------------------------------

| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D435i |
| Firmware Version                   | 05.12.01.00 |
| Operatin

[2020-01-29 06:00] blakat360 commented on #3287
I'm trying to store a depth frame to compare with another frame at a later time. Is a .clone() method not the best option?

[2020-01-29 06:55] Uvindu opened #5739 "How to calculate all 3D points at once using the depth image"
Hi,
I would like to know how to calculate 3D point data (X,Y,Z distance) at once using depth image given by the realsense camera.
____python_code_____
`depth_point = pyrealsense2.rs2_deproject_pixel_to_point(depth_intrinsic, pixel coordinates, depth_distance_to pixel)`
depth_point shape is (3,1)
This function needs to run in a double for loop through rows and columns in order to get the 3D points

[2020-01-29 09:44] yonglizhong opened #5740 "Accessing color stream on two different python scripts"
* Before opening a new issue, we wanted to provide you with some useful suggestions (Click "Preview" above for a better view):

    * Consider checking out SDK [examples](https://github.com/IntelRealSense/librealsense/tree/master/examples#sample-code-for-intel-realsense-cameras).
    * Have you looked in our [documentations](https://github.com/IntelRealSense/librealsense/tree/master/doc#useful-lin

[2020-01-29 10:04] #4611 closed

[2020-01-29 12:42] dorodnic commented on #5739
I believe you are looking for [`pointcloud` class](https://intelrealsense.github.io/librealsense/python_docs/_generated/pyrealsense2.pointcloud.html#pyrealsense2.pointcloud)

[2020-01-29 12:45] dorodnic commented on #5740
Hi

The device is exclusively locked to one process during streaming.
You can implement some kind of interprocess communication layer, or use off the shelf solution like  ROS

[2020-01-29 16:15] Kevin-Delnoije opened #5742 "align color/depth pair on saved dataset"
* Before opening a new issue, we wanted to provide you with some useful suggestions (Click "Preview" above for a better view):

    * Consider checking out SDK [examples](https://github.com/IntelRealSense/librealsense/tree/master/examples#sample-code-for-intel-realsense-cameras).
    * Have you looked in our [documentations](https://github.com/IntelRealSense/librealsense/tree/master/doc#useful-lin

[2020-01-29 16:59] BadMachine commented on #5693
Seems the exception appears in:
[code]
Here log:
[code]

[2020-01-29 17:41] RealSenseCustomerSupport commented on #5699
----------------------------------------------

Hi @CamLogan Do you further help on this?

If we don't hear from you in 7 days, this issue will be closed.

[2020-01-29 18:26] RealSenseCustomerSupport commented on #5684
----------------------------------------------

In addition to @dorodnic suggestion to ensure the camera is properly calibrated, other factors to be considered that could affect depth performance are also discussed here:
https://dev.intelrealsense.com/docs/tuning-depth-cameras-for-best-performance

Please let us know if there is any other question on the same topic. Thank you.

[2020-01-29 19:30] neilyoung commented on #5709
Hi guys. I know you have a lot to do with all the open issues, but this lack of responses is frustrating. I think I'm not only asking stupid questions, but helping to fix issues as much as I can. But this requires at least a bit of attention.  For which I'm asking hereby, with all respect. No offence contained.

[2020-01-29 20:47] nancibles opened #5743 "Pointcloud Reprojection onto External Camera"
* Before opening a new issue, we wanted to provide you with some useful suggestions (Click "Preview" above for a better view):

    * Consider checking out SDK [examples](https://github.com/IntelRealSense/librealsense/tree/master/examples#sample-code-for-intel-realsense-cameras).
    * Have you looked in our [documentations](https://github.com/IntelRealSense/librealsense/tree/master/doc#useful-lin

[2020-01-29 21:21] abdulhafiz7794 opened #5744 ""No RealSense Camera Found" error using a demo of labview SDK wrapper library"
----------------------------------------------------------------------------------------------------

| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | {D435i |
| Firmware Version                   | 05.12.01.00 |
| Operati

[2020-01-29 21:36] abdulhafiz7794 commented on #5744
![realsens-viewer](https://user-images.githubusercontent.com/26580991/73399566-135f2780-42ad-11ea-8983-280181e6c1c7.PNG)

[2020-01-29 22:28] RealSenseCustomerSupport commented on #3428
----------------------------------------------

Hi @pkr97 Do you have chance to review the documents in the link above? Do you have further questions?

Please note: if we don't hear from you in 7 days, this issue will be closed.

[2020-01-29 23:08] MartyG-RealSense opened #5745 "Announcement: RealSense at upcoming real-world events in Las Vegas and Atlanta in March 2020 / RealSense hand tracking article"
Hi everyone,

The RealSense events page has added details of three real-world events in Las Vegas NV and Atlanta GA in March 2020 that RealSense will be featured at.

https://www.intelrealsense.com/webinars-and-events/

In other news, the Intel RealSense blog has published an article about hand tracking and gesture recognition, with links to papers on the subject.

https://www.intelrealsense.com/h

[2020-01-29 23:11] #5705 closed

[2020-01-29 23:11] #5704 closed

[2020-01-29 23:12] RealSenseCustomerSupport commented on #4777
----------------------------------------------

Let's close this ticket since the original question was answered. However, please feel to file another ticket here or on the Zendesk if further assistance is needed.
Thank you.

[2020-01-29 23:53] JTrantow opened #5746 "C26478: Don't use std::move on constant variables."
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | { R200 / F200 / SR300 / ZR300 / D400 } |
| Firmware Version                   | NA |
| Operating System & Version |   {Win10 in use}|
| Platform

[2020-01-30 00:51] nawara72 commented on #866
Hi  Any updates on the temperature fix

[2020-01-30 01:33] T2honda opened #5748 "librealsense unsupport Kernel version 5.3.0-28-generic"
I am trying to install the "librealsense" on Desktop PC with Ubuntu 18.04.3 LTS.

However, I got unsupport kernel error when I run the command " ./scripts/patch-realsense-ubuntu-lts.sh ".

Please see the attachment figure.
![Unsupported_kernel](https://user-images.githubusercontent.com/17995237/73412438-f4fc3900-434b-11ea-9fb4-56fd88c099da.png)

The kernel of the Ubuntu is " 5.3.0-28-generic ", it

[2020-01-30 02:30] #5738 closed

[2020-01-30 02:31] RealSenseCustomerSupport commented on #4877
----------------------------------------------

Hi @morcibacsi, Do you have further questions on this? Can we close it?
Thanks,

[2020-01-30 07:57] LiranAz commented on #5676
Hi,
Thanks for the reply.
The USB is functioning well. I also tried a different one, with no change.

On Tue, Jan 28, 2020 at 11:00 PM RealSense Customer Support <
notifications@github.com> wrote:

[2020-01-30 08:59] morcibacsi commented on #4877
@RealSenseCustomerSupport Can be closed. Thanks for the fix.

[2020-01-30 08:59] #4877 closed

[2020-01-30 13:26] SB11416158 commented on #5667
Hi @ev-mp ,
Any update on this? Were you able to replicate the problem?

[2020-01-30 13:27] omarfakhr commented on #2685
HI threedlife
I am having similar problems and need guidance of how to implement the Camera in XCODE. Please help

[2020-01-30 13:37] omarfakhr opened #5749 "XCODE App Bridging C header files"
| Camera Model                       | { D400  |
| Firmware Version                   |  |
| Operating System & Version |   MacOS  |
| Platform                                 | XCODE |
| SDK Version                            | ?                     |
| Language                            |  C to Swift  |
| Segment			|  others |

Hi there,

I managed to run the EXEC files on XCODE. Now I want to

[2020-01-30 14:46] JTrantow commented on #5321
Gave up on Open3D.

[2020-01-30 14:46] #5321 closed

[2020-01-30 16:13] ShettyHarapanahalli opened #5752 "RealSense Viewer tool display distance resolution in mm or 0.001 metres insted or 0.01 meters"
| | |
|---|---|
|**librealsense**|2.31.0 RELEASE|
|**OS**|Windows|
|**Name**|Intel RealSense D435I|
|**Serial Number**|844212071706|
|**Firmware Version**|05.12.01.00|
|**Advanced Mode**|YES|
|**Camera Locked**|YES|
|**Usb Type Descriptor**|3.2|
|**Product Line**|D400|
|**Asic Serial Number**|904523050880|
|**Firmware Update Id**|904523050880|

I have been using the RS happy about that, for a test

[2020-01-30 22:02] #5382 closed

[2020-01-30 22:02] #5451 closed

[2020-01-30 22:26] RealSenseCustomerSupport commented on #5676
----------------------------------------------

@LiranAz

Has the camera functioned well/was recognized by OS/Application in the past or it never normally functioned/ was recognized?

[2020-01-31 05:55] partlygloudy commented on #4518
@PedroHRPBS @RealSenseCustomerSupport I'm wondering if you've been able to solve this issue? We've been experiencing almost the exact same issue in the past few days. We're using a T265 on a drone - it's about 1kg, Pixhawk flight controller, pretty low vibrations. We've been able to get the drone to hover in Loiter mode in the lab and can move it around from side to side. When we moved to a large

[2020-01-31 06:43] zainmehdi commented on #5654
I am having the same issue. It was working with version 2.31. @RealSenseCustomerSupport  please provide some insight here.

[code]

[2020-01-31 07:16] zainmehdi commented on #5614
I tried this fix but still having the same error. Any updates on it ?

[2020-01-31 07:56] Allius27 opened #5753 "Unable to change Gain value after hardware reset"
| | |
|---|---|
|**librealsense**|2.32.1 RELEASE|
|**OS**|Windows|
|**Name**|Intel RealSense D415|
|**Serial Number**|839112062442|
|**Firmware Version**|05.11.15.00|
|**Advanced Mode**|YES|
|**Camera Locked**|YES|
|**Usb Type Descriptor**|3.2|
|**Product Line**|D400|
|**Asic Serial Number**|841113022293|
|**Firmware Update Id**|841113022293|

Hi there.
That is not a big problem, just for your inf

[2020-01-31 09:51] vnsiot commented on #5690
Hi @schmidtp1, can you please tell me how to use the calibration tool to measure the extrinsic for T265 and D435.

[2020-01-31 11:40] zainmehdi opened #5754 "Program started crashing after Firmware upgrade with librealsense v2.32"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | { T265 } |
| Operating System & Version |   Linux- Ubuntu Bioninc 18.04 |
| Platform                                 | NanoPi Neo4 |
| SDK Version

[2020-01-31 11:42] #5754 closed

[2020-01-31 15:22] brettmilinski opened #5755 "UWP 400 series code examples?"
----------------------------------------------------------------------------------------------------

| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       |  D435 |
| Operating System & Version |   {Win 10  |
| Platform

[2020-01-31 15:31] Vivoslespagnos commented on #459
Hi, I have the same problem, bellow my terminal copy :

crabe@PRJ11:~/catkin_ws$ catkin_make --only-pkg-with-deps ultimate
Base path: /home/crabe/catkin_ws
Source space: /home/crabe/catkin_ws/src
Build space: /home/crabe/catkin_ws/build
Devel space: /home/crabe/catkin_ws/devel
Install space: /home/crabe/catkin_ws/install
Whitelisted packages: ultimate
####
#### Running command: "make cmake_check_b

[2020-01-31 16:46] ShettyHarapanahalli commented on #5752
Well had to update the precision in "model-views.cpp" file, sharing the details below :

Line number 2773 -
ss << std::dec << ", " << std::setprecision(3) << meters << " meters";

Update the setprecision from 2 to 3 and build the tools gain.

[2020-01-31 16:46] #5752 closed

[2020-01-31 17:52] MartyG-RealSense commented on #5755
May I confirm please that you are using the version of the UWP driver created for the RealSense 400 Series cameras?

https://downloadcenter.intel.com/download/27799/Intel-RealSense-D400-Series-Universal-Windows-Platform-UWP-Driver-for-Windows-10

[2020-01-31 17:53] brettmilinski commented on #5755
@MartyG-RealSense Yes that is correct, I downloaded the latest version of the driver from Intel.

[2020-01-31 17:59] MartyG-RealSense commented on #5755
Regarding examples, there isn't much for UWP, but the link below may provide at least one usable sample program.

https://github.com/IntelRealSense/librealsense/issues/2722

[2020-01-31 18:10] brettmilinski commented on #5755
@MartyG-RealSense So I have to use a third party API in order to access the cameras and their data in UWP?

[2020-01-31 18:21] MartyG-RealSense commented on #5755
There is little reference information on using UWP with RealSense cameras because it has not been widely used.  The most likely practical application for UWP so far has been to interface a RealSense camera with a Microsoft HoloLens headset.

A couple of the Intel RealSense  team most likely to be able to provide technical advice on this subject are @ev-mp or @dorodnic

[2020-01-31 18:23] radfordi commented on #5614
Hi @zainmehdi, there are two fixes available in ##5615 and #5645.

[2020-01-31 18:30] radfordi commented on #4518
Hi @partlygloudy, if you are using the latest release, then the cause is likely vibrations.   We suggest mounting with a dampening material.

[2020-01-31 19:04] radfordi commented on #4331
@orshefi, @hangmann, [many boards/hubs](https://github.com/mvp/uhubctl#compatible-usb-hubs) have the ability to power cycle individual ports.   We have found that running this program https://github.com/mvp/uhubctl once on startup gets the device working when the Movidus bootloader (3e7:2150) its stuck in USB1.0 mode.

[2020-01-31 19:39] RealSenseCustomerSupport commented on #5640
----------------------------------------------

Hi @princetonpku

There seems to be a few different methods outlined.  I believe this thread can be closed out now.

[2020-01-31 21:12] neilyoung commented on #5683
closed for lack of interest

[2020-01-31 21:13] neilyoung commented on #5650
closed for lack of interest

[2020-01-31 21:13] neilyoung commented on #5554
closed for lack of interest

[2020-01-31 21:13] #5554 closed

[2020-01-31 21:14] neilyoung commented on #5470
closed for lack of interest

[2020-01-31 21:14] #5470 closed

[2020-01-31 21:14] neilyoung commented on #5472
closed for lack of interest

[2020-01-31 21:14] #5472 closed

[2020-01-31 22:03] #4778 closed

[2020-01-31 22:23] RealSenseCustomerSupport commented on #3949
----------------------------------------------

Hi @taletovic Do you still have question on this?
If we don't hear from you in 7 days, we will close this issue.

[2020-02-01 00:56] RealSenseCustomerSupport commented on #5672
----------------------------------------------

Closing this ticket if there is no other question for this topic. Thank you.

[2020-02-01 01:19] RealSenseCustomerSupport commented on #5666
----------------------------------------------

@DavidCadtec,

Do you need any further assistance with this question?

[2020-02-01 01:41] neilyoung opened #5756 "T.265: My experience after about 3 months"
I decided today to give up after about 3 months of intensive work with the T.265. For me personally the camera, especially its software, is not ready for production yet. My dilemma is that I would have a nice little application for the camera (https://neilyoung.github.io/t265pose/), but the currently unsolved (and possibly never solved open problems) prevent me from continuing work, let alone beta

[2020-02-01 02:03] #5457 closed

[2020-02-01 02:32] RealSenseCustomerSupport commented on #4091
----------------------------------------------

@Kafan1986 Glad to see 720p 15fps work for you. We did see some stability issue with HD or FHD resolution due to Android platform limitation. So please use the working configuration as workaround at this point. Thanks!

[2020-02-01 02:40] RealSenseCustomerSupport commented on #3977
----------------------------------------------

@realsens01 We did some tests on i7-8665U CPU@1.90GHz with 4 cores and didn't get freezing issue. Could you please  find any PC with comparable configuration to try again? Thanks!

[2020-02-01 05:58] kafan1986 commented on #4091
Actually I posted a little earlier. Although the camera was working but the colour frame was stuck, which I did not know at that point of time. Currently at 720p the device works from 4-7 hrs before it eventually faces the colour frame stuck or out of memory error. Happens in 1 - 1.5 hrs when set up at 1080p.

[2020-02-01 07:04] Petter-zhang-NJ commented on #5652
Thanks very much!
You are right. I added the reference Intel.Realsense.dll, and pasting the realsense2.dll into the Debug folder manually. It works with Vb.net.

[2020-02-01 07:04] #5652 closed

[2020-02-01 08:26] subbhyd commented on #5603
i am getting following error
AttributeError: module 'pyrealsense2' has no attribute 'rs2_project_color_pixel_to_depth_pixel'

[2020-02-01 16:50] DavidCadtec commented on #5666
Thanks for your recommendation ...
The resources you listes don't have a people track example...
If there's not other resource for bag files i will try to record some bag files myself...
I tried however to use the SDK for that but after recording the bag file could not be opened in the RealSense Viewer (Bag file not indexed error...).
Any hints to get that fixed ?

Thanks !

[2020-02-01 19:36] Sudoki opened #5757 "depth stream start failure"
| | |
|---|---|
|**librealsense**|2.31.0 RELEASE|
|**OS**|Windows|
|**Name**|Intel RealSense D435I|
|**Serial Number**|845112072188|
|**Firmware Version**|05.12.02.100|
|**Advanced Mode**|YES|
|**Camera Locked**|YES|
|**Usb Type Descriptor**|3.2|
|**Product Line**|D400|
|**Asic Serial Number**|904523051170|
|**Firmware Update Id**|904523051170|

I tried to calibrate my camera, and now I cannot get

[2020-02-01 20:06] #5757 closed

[2020-02-02 04:30] gitacct1800 opened #5759 "Unable to capture depth frames using SR305"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | { SR300 } |
| Firmware Version                   | (3.27.3.0) |
| Operating System & Version |   {Win 10}  |
| Kernel Version (Linux Only)    |  (e.g. 4.14.13)

[2020-02-02 07:24] LiranAz commented on #5676
No, no device recognizes it.

On Fri, Jan 31, 2020 at 12:26 AM RealSense Customer Support <
notifications@github.com> wrote:

[2020-02-02 07:34] ev-mp commented on #5753
@Allius27, thanks for the report.
The error is fired due to the fact that manual gain&exposure and the auto-exposure (AE) controls are strongly coupled:
- AE locks `exposure` and `gain` values for exclusive use, so when it is turned on any attempt to change `gain` or `exposure` manually will be rejected by the Device and an error will be fired.
- On HW reset the depth camera's AE mode is (re)-acti

[2020-02-02 07:42] ev-mp commented on #5748
@T2honda hello,
The official support for LTS kernel 5.3 will be added in the next release.
In the meantime you can use the [pending PR](https://github.com/IntelRealSense/librealsense/pull/5751). Feedback will be highly appreciated

[2020-02-02 07:45] ev-mp commented on #5723
@byeongkyu, please attach the kernel and application logs for review.

[2020-02-02 08:23] ev-mp commented on #5722
@youngpm hello,
Regarding Ubuntu 20 LTS - the official [Ubuntu page ](https://wiki.ubuntu.com/Releases) is yet silent about a concrete date, while [April 2020 would hardly come as a surprise](https://itsfoss.com/ubuntu-20-04-release-features/) for anyone given that both Ubuntu 16 and 18 were released in April of 2016 and 2018 respectively. We are also monitoring the situation to realign the SDK to

[2020-02-02 08:26] MartyG-RealSense commented on #5759
It looks as though your script is based on the **Tutorial_1** example from the Python wrapper page, which generates an ASCII art representation of the depth stream using a 640x480 resolution.

https://github.com/leggedrobotics/librealsense-rsl/blob/master/wrappers/python/examples/python-tutorial-1-depth.py

I notice that compared to your script, the example introduces the **try** instruction in a

[2020-02-02 09:11] ev-mp commented on #5676
@LiranAz , when connecting any USB device to Windows PC with speakers should get a distinct sound  that would mean that the device is recognized on the lowerst USB/Power level. Can you confirm this?
Additionally - for the Linux side - can you attach the kernel log produced when the device is plugged-in?

[2020-02-02 10:12] RiccardoBe opened #5760 "Python: Unable to change camera options after pipeline start T265"
Hi all,

I have some issues with changing option on my T265.

Whit this code
[code]

I get this error:

[code]

And if I start the pipeline immediately doing this
[code]

I get:

[code]

I am using latest librealsense, any ideas? Thanks

[2020-02-02 10:37] LiranAz commented on #5676
Other devices work on all PCs I tried (linux and windows).
This device does not work on any PC.

I opened syslog and nothing happens when I connect and disconnect the
device.
(I also verified that when I connect another USB device the log is updated
as expected)

On Sun, Feb 2, 2020 at 11:12 AM ev-mp <notifications@github.com> wrote:

[2020-02-02 12:57] neilyoung commented on #5756
Sorry for the typos.

[2020-02-02 13:36] neilyoung commented on #5760
For the first issue see here https://github.com/IntelRealSense/librealsense/issues/5479#issuecomment-567448946 and the second is already explained in the error message: You can't change options, while streaming.

Proper sequence is:

[code]

[2020-02-02 14:05] ev-mp commented on #5676
@LiranAz,
In case there is no HW activity on the bus during plug-in and you've tried different USB3 cables, then it is safe to assume that the device is bricked and you need to contact the re-seller for RMA replacement.

[2020-02-02 14:25] devshank3 opened #5761 "Align recorder (RGB & D ) SR305 VS D435i"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | {  SR300 / SR305 } |
| Firmware Version                   | 3.27.3.0|
| Operating System & Version |   Win (10) |
| Kernel Version (Linux Only)    |  -

[2020-02-02 14:56] UMINODAIKI opened #5762 "Installation proceeded according to the installation procedure of librealsense2. When I run sudo apt-get install librealsense2-utils I'm having a problem with the following error: The following packages have unmet dependencies. Does anyone know the cause or solution?"
Installation proceeded according to the installation procedure of librealsense2.
When I run

sudo apt-get install librealsense2-utils

I'm having a problem with the following error:

The following packages have unmet dependencies.

Does anyone know the cause or solution?

camera model ： D435i T265i
Firmware Ver: As of 2020.2.2 Latest
OS Ubuntu: Ubuntu 16.04
SDK Ver II: Intel® RealSense ™ SDK 2.0 (

[2020-02-02 16:19] RiccardoBe commented on #5760
@neilyoung Thanks for the quick answer! It works, the second example is self explanatory as you said but I tried (almost) everything to try to make it work :)
The issue can be closed.

[2020-02-02 16:19] #5760 closed

[2020-02-02 20:12] rhlvora commented on #4028
I think I'm getting the same thing.

If, as an example, I run rs-pose in the sdk samples I crash when the code tries to start the pipeline.

I have a D415, and I'm running on windows 10 in visual studio 2019.

![image](https://user-images.githubusercontent.com/11710052/73614541-4eb76a00-45bd-11ea-99fe-c9cf7b0226eb.png)

![image](https://user-images.githubusercontent.com/11710052/73614548-5bd45900-

[2020-02-02 22:09] grigala opened #5763 "Capturing a color image after aligning frames to the depth stream"
----------------------------------------------------------------------------------------------------

| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D400  |
| Language                            | Python

[2020-02-02 23:40] MartyG-RealSense commented on #5763
Do the black spots look similar to the ones in the  discussion linked to below, please?

https://github.com/IntelRealSense/librealsense/issues/2445

[2020-02-02 23:40] nawara72 opened #5764 "how to synchronize the Depth and color frames ?"
Hi
I would appreciate any help on what I am doing wrong. I am trying to get the timestamps of both depth and color frame of a D435, but they appear not synchronized. Snippet of my code and outputs are shown below. Would appreciate any help/comments. Thanks

depth_sensor.set_option(RS2_OPTION_ENABLE_AUTO_EXPOSURE, 0);
depth_sensor.set_option(RS2_OPTION_EXPOSURE, 8500);
depth_sensor.set_option(RS2_O

[2020-02-03 00:31] RealSenseCustomerSupport commented on #5616
----------------------------------------------

@vishnukumarts Did you get chance to try "OPTION_PLY_BINARY"? Looking forward to your update. Thanks!

[2020-02-03 00:37] RealSenseCustomerSupport commented on #5514
----------------------------------------------

@BeatrizAMartins Any update from your side? Looking forward to your reply. Thanks!

[2020-02-03 00:38] RealSenseCustomerSupport commented on #5510
----------------------------------------------

@nilendu7980 Could you please update? Looking forward to you reply. Thanks!

[2020-02-03 00:39] RealSenseCustomerSupport commented on #5502
----------------------------------------------

@arifsaeed Didn't get response from you for weeks. Will close it at this point. Please feel free to create new ticket if you still have questions or issues. Thanks!

[2020-02-03 00:57] RealSenseCustomerSupport commented on #5285
----------------------------------------------

@aalarcon96 Didn't get response from your side for weeks. Will close the ticket at this point. Please feel free to create new one if you still have questions or issues. Thanks!

[2020-02-03 00:58] RealSenseCustomerSupport commented on #5339
----------------------------------------------

@subbuweb Any update from your side? Thanks!

[2020-02-03 01:02] #5285 closed

[2020-02-03 01:02] #5502 closed

[2020-02-03 01:16] RealSenseCustomerSupport commented on #4998
----------------------------------------------

@xilunaJumma Any update? Thanks!

[2020-02-03 01:17] RealSenseCustomerSupport commented on #5075
----------------------------------------------

@xilunaJumma Sorry that we didn't get response from you for weeks. Will close this issue at this point. Please feel free to create new one if you still have questions or issues. Thanks!

[2020-02-03 01:19] RealSenseCustomerSupport commented on #4353
----------------------------------------------

@David-168 Sorry that we didn't get response from you for weeks. Will close this issue at this point. Please feel free to create new one if you still have questions or issues. Thanks!

[2020-02-03 01:20] RealSenseCustomerSupport commented on #5233
----------------------------------------------

@ipa-mah  Sorry that we didn't get response from you for weeks. Will close this issue at this point. Please feel free to create new one if you still have questions or issues. Thanks!

[2020-02-03 01:28] RealSenseCustomerSupport commented on #4138
----------------------------------------------

@aaranta Thanks for your share!
@areha001 Did you try what @aaranta sugested? Looking forward to your update. Thanks!

[2020-02-03 01:30] RealSenseCustomerSupport commented on #5453
----------------------------------------------

@vshalkov  Did you get chance to try removing "CONFIDENCE_THRESHOLD"? Any other questions about this ticket? Looking forward to your update. Thanks!

[2020-02-03 01:40] RealSenseCustomerSupport commented on #5500
----------------------------------------------

@NooBlock Sorry that we didn't get response from you for weeks. Will close this issue at this point. Please feel free to create new one if you still have questions or issues. Thanks!

[2020-02-03 01:43] zainmehdi commented on #5614
@radfordi Thanks alot for your reply. i already tried #5615 and it didnt work for me. I will try 5645 and update.

[2020-02-03 01:45] RealSenseCustomerSupport commented on #5021
----------------------------------------------

@GOBish Sorry that we didn't get response from you for weeks. Will close this issue at this point. Please feel free to create new one if you still have questions or issues. Thanks!

[2020-02-03 01:46] RealSenseCustomerSupport commented on #5371
----------------------------------------------

@xiao-keeplearning Any other questions about this? Looking forward to your update. Thanks!

[2020-02-03 01:46] RealSenseCustomerSupport commented on #5124
----------------------------------------------

@bbrucee Sorry that we didn't get response from you for weeks. Will close this issue at this point. Please feel free to create new one if you still have questions or issues. Thanks!

[2020-02-03 01:47] RealSenseCustomerSupport commented on #4249
----------------------------------------------

@jkenney9a Thanks for the feedback! We also reproduced here and will have engineers to look at it. Thanks!

[2020-02-03 01:49] RealSenseCustomerSupport commented on #4929
----------------------------------------------

@yokoshou Could you please update? Thanks!

[2020-02-03 01:50] RealSenseCustomerSupport commented on #5098
----------------------------------------------

@lNeo-afk Could you please update if you still need support on this? Thanks!

[2020-02-03 02:02] #4353 closed

[2020-02-03 02:02] #5021 closed

[2020-02-03 02:02] #5075 closed

[2020-02-03 02:02] #5124 closed

[2020-02-03 02:02] #5500 closed

[2020-02-03 03:04] #4300 closed

[2020-02-03 03:04] #5624 closed

[2020-02-03 06:21] RealSenseCustomerSupport commented on #5696
----------------------------------------------

@ASSSTUM For your 1st question, besides the suggestion from MartyG-Realsense to use resolution of 848x480, please also try high accuracy preset to see if helps.

For 2nd question, please move below two lines before "while True:" to get depth to color temporal alignment.
            colorizer = rs.colorizer()
            align = rs.align(rs.stream.col

[2020-02-03 06:24] jiapei100 opened #5765 "Build librealsense with BUILD_PYTHON_BINDINGS ?"
[code]

I installed my own **Python** and **pybind11**:

[code]

How can I install **librealsense** with my own **pybind11** and with **BUILD_PYTHON_BINDINGS** enabled?

Cheers
Pei

[2020-02-03 06:53] RealSenseCustomerSupport commented on #5516
----------------------------------------------

@MubasshirAhmed  @crogersarvr Currently there's no sample code for Unity connected to librealsense on android, but you can call Java API in Unity code to do some testing. Also please check USB permission.

[2020-02-03 07:01] RealSenseCustomerSupport commented on #5707
----------------------------------------------

Hi Bokkngo,
what is the OS and version you are using now? windows 10
please check if the viewer is minimized into a small icon, that you will need to maximized it

Attachment(s):
maximize it.jpg - https://realsensesupport.intel.com/attachments/token/nc3DhhBwzFspMxhPdHJyiXyZ5/?name=maximize+it.jpg

[2020-02-03 07:09] lokeshgs87 commented on #5520
Hi @kafan1986

[2020-02-03 07:09] lokeshgs87 commented on #5520
Hi @kafan1986

The following is the url which is written in python : https://github.com/IntelRealSense/librealsense/issues/5603.

Can you please help us to get the following details in android

depth_intrin
color_intrin
depth_to_color_extrin
color_to_depth_extrin

and also following functions (to convert color pixel to depth )

rs2_deproject_pixel_to_point
rs2_transform_point_to_point
rs2_project_

[2020-02-03 07:21] Makmarkrealsense commented on #5756
The fucking T265

Cheers

[2020-02-03 07:38] RealSenseCustomerSupport commented on #5599
----------------------------------------------

Had you tried not create cfg and pipe handler inside the init-pipeline function ( i.e, create cfg and pipe in the main script continuousFitting.m )to see if that can help to mitigate the issue you found?  if you found the handler is not return correctly when init-pipeline is called

[2020-02-03 07:45] grigala commented on #5763
Hi MartyG,

No, it's more like this: https://github.com/IntelRealSense/librealsense/issues/3045#issuecomment-453624096
![](https://camo.githubusercontent.com/c558c6b32e6c1dc55ee6d3522f1709481b5a56c2/68747470733a2f2f692e696d6775722e636f6d2f7a6656384242702e6a7067)

This is explainable - because frames are aligned to depth, the color image also inherits non-existing depth pixels, hence black spots. B

[2020-02-03 08:02] MartyG-RealSense commented on #5763
When you said black spots, I thought you literally meant spots (dots).  Are you referring to a black 'area' please?

If so, the outline around the hand looks like an effect called "occlusion", where the depth and color cameras are in different physical positions and so can't see the all the same parts of the scene.

A user who was apparently experiencing occlusion in their image posted the code th

[2020-02-03 08:06] lokeshgs87 opened #5766 "Regarding rs2_project_color_pixel_to_depth_pixel"
Hi @kafan1986

The following is the URL which is written in python: https://github.com/IntelRealSense/librealsense/issues/5603

Can you please help us to get the following details in android

depth_intrin
color_intrin
depth_to_color_extrin
color_to_depth_extrin

and also following functions (to convert color pixel to depth )

rs2_deproject_pixel_to_point
rs2_transform_point_to_point
rs2_project_po

[2020-02-03 09:24] jb455 commented on #5763
Is there a reason you can't align depth to colour and use the normal colour image? Alternatively, you can get a colour image (of sorts) naturally aligned to depth if you query the IR frame (only D415, not 435).

[2020-02-03 09:35] RealSenseCustomerSupport commented on #4091
----------------------------------------------

@kafan1986 So previously what you said "I am running streaming depth and colour frame on android for last 36+ hours at 720p 15fps without any crash" is not always what you get, right? What format did you set for color frame? Could you please try YUYV format to see if any improvement?

[2020-02-03 09:55] Pallav56 opened #5767 "Depth frames not refreshing"
Hi,

While using **box_dimensioner_multicam__demo.py** to calculate the dimension of box, depth frame is not getting refreshed/ changed but color frame is. Please guide me how i can sync both color and depth frame.

I am using **realsense_device_manager** for reading the frames having single camera

Attached the color frame with corresponding depth frame.

![42Color](https://user-images.githubuser

[2020-02-03 09:56] Pallav56 commented on #5767
I am using D435i.

[2020-02-03 10:03] RealSenseCustomerSupport commented on #5512
----------------------------------------------

@tylerjw I saw our engineers have provided comments on your PR https://github.com/IntelRealSense/librealsense/issues/5512  Any other questions? Thanks!

[2020-02-03 10:15] RealSenseCustomerSupport commented on #5668
----------------------------------------------

Hi SFR-mir,
(1) the SDK API you used is old, (v2.25)
we have new version SDK that is version 2.32 and newer FW which is 5,12.2
would suggest you to use that latest SDK (API) and FW  that improve the reliability of streaming

(2) for multi-camera streaming, we have white paper to ensure you configure the camera properly.
https://dev.intelrealsense.com

[2020-02-03 10:30] #5703 closed

[2020-02-03 11:20] xaritonn commented on #5503
I remade the sample a bit. So that he can play the file endlessly.
[bag_reader.py.zip](https://github.com/IntelRealSense/librealsense/files/4147526/bag_reader.py.zip)

And also I tried a new version of the pyrealsense2 (2.32.1.1299). The results are impressive
On my short bug file, the results are as follows (Ubuntu 16.04):

pyrealsense2 2.31.0.1235 = video restarts on average 2 times, then crashe

[2020-02-03 11:33] RealSenseCustomerSupport commented on #5088
----------------------------------------------

There is high CPU load when align is working.
Please try align the frames offline (calculate in your code.)
you refer to https://github.com/IntelRealSense/librealsense/blob/master/src/proc/align.cpp

BTW, don't forget make sure you have enable metadat in your system.
https://github.com/IntelRealSense/librealsense/blob/master/doc/installation_windows.

[2020-02-03 12:13] kestrelm opened #5770 "Which board can work with the pair: T265 + D435?"
Hello,

I am sourcing for a small low-powered board that can effectively work with a T265 + D435 pairing. I have tried the Nvidia Jetson Xavier with no success.

Will an Up Squared Board work? Or is there anything else you guys suggest? I will be running Ubuntu Linux 18.04 LTS.

Thanks!

[2020-02-03 12:15] RealSenseCustomerSupport commented on #5592
----------------------------------------------

Please have a try this sample.
https://github.com/PINTO0309/MobileNet-SSD-RealSense/blob/master/MultiStickSSDwithRealSense.py

[2020-02-03 12:54] MartyG-RealSense commented on #5770
An Up Squared board is an excellent, powerful pairing with RealSense that can support two devices at the same time.  Intel offer RealSense and Up Squared bundles in the official RealSense online store.

In the Intel presentation on YouTube linked to below, a T265 and D435 were used together on a mobile robot that used an Intel NUC mini PC as its computing unit.  NUCs come in a range of configurati

[2020-02-03 13:48] neilyoung commented on #5756
...at least a troll did care...

[2020-02-03 13:52] tylerjw commented on #5512
@RealSenseCustomerSupport I responded on the PR.  I still think the default build dependencies should be listed clearly.

[2020-02-03 13:57] MartyG-RealSense commented on #5756
I did read your comments but didn't feel qualified to provide feedback to your points, as I'm not a T265 specialist.

[2020-02-03 14:00] neilyoung commented on #5756
Thanks @MartyG-RealSense. I still have the hope, that I can resume soon and that all my problems will be solved :) Keep on doing your great job, all of you.

[2020-02-03 14:12] grigala commented on #5763
Hi @MartyG-RealSense, sorry yes, I meant a black area(s) displayed on a color image.

The link you posted aligns frames to the color stream which works just fine for me(/cc @jb455) when it comes to aligning frames. However @jb455, after this process, if I calculate points from the depth frame it does not produce a point cloud that is aligned to color image.  I tested it by taking a 2D landmark fro

[2020-02-03 14:17] ev-mp commented on #5746
@JTrantow, the PR has been accepted.
Closing the issue accordingly.

Thanks again for the contribution!

[2020-02-03 14:17] #5746 closed

[2020-02-03 14:19] ev-mp commented on #5658
Assume resolved

[2020-02-03 14:19] #5658 closed

[2020-02-03 14:25] jb455 commented on #5763
What's your test which suggests the point cloud isn't aligned? Are you using the correct intrinsics in `rs2_deproject_pixel_to_point`? You should pass the colour intrinsics.
There was a bug a long time ago where the point cloud module was using the wrong intrinsics on aligned frames but if you're using a fairly recent version that shouldn't be a problem.

If you want to stick with aligning to dept

[2020-02-03 14:27] drfg0119 opened #5773 "Problem of downgrading the librealsense version from 2.32.1 to 2.31.0"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | {SR300 / D400 } |
| Firmware Version                   |   |
| Operating System & Version |   Linux (Ubuntu 18)   |
| Kernel Version (Linux Only)    | 4.9

[2020-02-03 14:32] grigala commented on #5763
Thanks @jb455 , this might be a problem, I was passing depth intrinsics.

[2020-02-03 14:32] #5763 closed

[2020-02-03 14:37] ev-mp commented on #5667
@SB11416158 , sorry for the delay- I checked both the bag files provided several days ago and they were both correct. I managed to replay both the single frame and the longer records.

Just to confirm - did you read the zero values for the central pixel in both bag files, or only the shorter one?
I think that what's going on is that after starting the playback the recorded frames are being replaye

[2020-02-03 15:47] ev-mp commented on #5773
@drfg0119 hello,
In case you build the SDK from source then you need to first uninstall the v2.32.1 with `sudo make uninstall` invoked from the Librealsense build directory, probably `<path_to_lrs_src>/build/`.

If you were using the Debian packages then [follow the installation guide](https://github.com/IntelRealSense/librealsense/blob/master/doc/distribution_linux.md#uninstalling-the-packages) t

[2020-02-03 16:02] ev-mp commented on #5762
@UMINODAIKI hello,
You need to correct the repo source files as currently you're trying to download and install Librealsense debians on Ubuntu16 using the repository for Ubuntu18 (build number 1913 is for Bionic).

librealsense2-utils: Depends: librealsense2 (= 2.32.1-0 ~ realsense0.**1913**) but it is not going to be installed

Follow the installation guide - https://github.com/IntelRealSense/lib

[2020-02-03 16:35] kafan1986 commented on #4091
What I mean is that when I made that comment, my test setup was incorrect. I was working on the depth data only. When one streams color frame too then the system will crash quickly on Android. This either happens silently, i.e. the color stream gets stuck and then one needs to either check visually or check by comparing frame id with previous frame id to know this programmatically; otherwise the i

[2020-02-03 17:48] kafan1986 commented on #5766
These native APIs are not exposed with the current Android librealsense SDK. You need to write your own wrapper in native code and call that via JNI.

[2020-02-03 18:07] radfordi commented on #5756
Hi @neilyoung,

Thanks for your frank feedback and for all the bug reports you've given us to date (all 44 of them).   We really do appreciate them.  In particular, we appreciate your self-contained programs that reproduce many of the issues you've found!

We know it can be frustrating when there are regressions.   We did expect a few after #5213 was merged, given the scope of the change.

We *are

[2020-02-03 18:17] neilyoung commented on #5756
@radfordi Hi Jim, thank you so much for your kind words. I'm happy that the show is going on. I really like that cam, IMHO it is really a turn key solution.

44 issues, really? Wow... didn't expect that.

Thanks for the positive outlook. I will continue watching this site and will be available, if required. Let me know.

Regards

[2020-02-03 18:18] #5674 closed

[2020-02-03 19:06] #5684 closed

[2020-02-03 20:12] RealSenseCustomerSupport commented on #4915
----------------------------------------------

Will you be needing further assistance with this? Otherwise we can close this issue.

[2020-02-03 21:05] brettmilinski opened #5774 "UWP App crashes when trying to access cameras (D435 and T265)."
----------------------------------------------------------------------------------------------------

| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D435  and T265|
| Firmware Version                   | 05.11.06.200 |
|

[2020-02-03 21:05] #5439 closed

[2020-02-03 21:05] #5646 closed

[2020-02-03 21:06] #5600 closed

[2020-02-03 22:02] HowyZax opened #5775 "Feature Request: Read the state (or timestamp) of the Sync pin"
was: Syncing camera to Velodyne Lidar's Pulse Per Second signal

I would like to resolve time differences between camera frames and external Lidar frames. I could do this if there were a way to access (via the camera's metadata) the state of the SYNC hardware input pin.

By using a one-shot to convert an external PPS (Pulse Per Second) signal (a common output on GPS modules for 1us syncing) to a 1

[2020-02-03 22:05] RealSenseCustomerSupport commented on #5485
----------------------------------------------

Hi @neilyoung

With the samples that are out there do you still need anything on this thread?

The rs-ar-advanced (https://github.com/IntelRealSense/librealsense/tree/master/examples/ar-advanced) is out there in librealsense.

[2020-02-03 22:10] RealSenseCustomerSupport commented on #5463
----------------------------------------------

Hi @gerokatseros

I think this thread can be closed since a lot of good information has been provided by MartyG-RealSense.  Let us know if anything else is needed on this thread.

[2020-02-03 22:15] RealSenseCustomerSupport commented on #5343
----------------------------------------------

Hi @neilyoung

Are you still having this issue in the latest librealsense 2.32.1?

[2020-02-03 22:25] neilyoung commented on #5343
@RealSenseCustomerSupport No. As Jim stated here, it was indeed a kind of regression, since the map preservation - default before 2.32.1 - does now need an explicit enabling. Jim explained it here https://github.com/IntelRealSense/librealsense/issues/5343#issuecomment-562363468 and it was OK for me, so this issue has been closed and is fixed for me

[2020-02-03 22:25] neilyoung commented on #5485
@RealSenseCustomerSupport Old issue. Can be closed.

[2020-02-03 22:25] #5485 closed

[2020-02-03 22:56] RealSenseCustomerSupport commented on #5153
----------------------------------------------

Hi @jfaulring

I assume no further issues so this thread can be closed now?

[2020-02-03 23:04] #5175 closed

[2020-02-03 23:04] #5009 closed

[2020-02-03 23:04] #5745 closed

[2020-02-04 00:02] gachiemchiep commented on #5603
@subbhyd You need the realsense version larger than 2.31.0 , so please build re-build your realsense library

[2020-02-04 00:07] #4777 closed

[2020-02-04 00:57] zainmehdi commented on #5756
@neilyoung @MartyG-RealSense . A bit off topic but please pardon my ignorance. I had been working with transformation matrices for my app and was mostly eulers. I saw trajectory example and there is multiplication by 180 degrees around y-axis. I could understand the need for this. The quaternion transformation matrix on[ this](https://www.euclideanspace.com/maths/geometry/rotations/conversions/qua

[2020-02-04 02:56] m4xr1sk commented on #5527
uhubctl doesn't work for me with the Raspberry Pi 4B
it's always detected as:
Bus 001 Device 009: ID 03e7:2150 Intel Myriad VPU [Movidius Neural Compute Stick]
I have to manually unplug and re-plug the usb cable
how is that possibile?

[2020-02-04 02:57] jiapei100 opened #5776 "error: for statement expected before ‘uint16_t’"
I'm quite sure `#pragma omp parallel for schedule(dynamic)` brings me the following **ERROR** message if I build with **kinfu** enabled, for if I comment out this line 262 `#pragma omp parallel for schedule(dynamic)` in file **rs-kinfu.cpp**, it compiles successfully.

[code]

How to use OpenMP for kinfu in librealsense?

cheers
Pei

[2020-02-04 03:01] RealSenseCustomerSupport commented on #5680
----------------------------------------------

@JasonHoon Did you get black depth frames for streaming only(only preview and no recording)? How did you save the bag files for 8 cameras - save separately or save when streaming together? And how did you load the bag files? Could you please provide the code snippet so that we can further look at it? Thanks!

[2020-02-04 03:03] #3853 closed

[2020-02-04 03:13] RealSenseCustomerSupport commented on #5656
----------------------------------------------

@jiangxkjohn Did you follow the guide in https://github.com/IntelRealSense/librealsense/blob/master/doc/installation.md ?

[2020-02-04 03:24] jiapei100 opened #5777 "pyrealsense2 Python3.8.1 support?"
Check this
**https://pypi.org/project/pyrealsense2/#files**, wheel for python3.8.1 is NOT listed yet.
Is that IntelRealSense who has been maintaining **https://pypi.org/project/pyrealsense2/#files**?

Cheers
Pei

[2020-02-04 03:27] RealSenseCustomerSupport commented on #5630
----------------------------------------------

@HIAI2019 The focal length is 1.93mm for D435 IR. For details you can check the datasheet in https://www.intelrealsense.com/wp-content/uploads/2019/10/Intel-RealSense-D400-Series-Datasheet-Oct-2019.pdf

[2020-02-04 05:03] JasonHoon commented on #5680
@RealSenseCustomerSupport Thank you for response.
when I saved frames, I can't find problem or error. when I loaded bag file, I got black depth frames for Bag files. I saved the bag files on 8 cameras at the same time.
This is my code for save.

import pyrealsense2 as rs
import numpy as np
import cv2
import copy
import time

prevTime = 0
width2 = 424
height2 = 240

frame_fp = 60

depth_image66 = n

[2020-02-04 05:06] radfordi commented on #5527
Hi @m4xr1sk,

It looks like the [Raspberry Pi 4B is supported by `uhubctrl`](https://github.com/mvp/uhubctl#compatible-usb-hubs).  Have you upgraded your firmware as suggested [here](https://github.com/mvp/uhubctl#raspberry-pi-4b) to enable support for power cycling USB ports?

[2020-02-04 05:15] neilyoung commented on #5756
@zainmehdi Please try to clarify your question and push it again on a separate thread. You are on the right track with homogeneous transformation matrices. I suggest you to make you a little 3D model. I made mine from three pencils which I glued together, see https://neilyoung.github.io/t265pose/. This helps a lot to not get lost with all the possible rotations. You will be able to find the requir

[2020-02-04 05:20] JasonHoon commented on #5680
Actually, I don't need to show depth image when saving frame (cv2.imshow ).
I need saved Bag Files. I using saved Bag Files(depth image) for Image processing.

[2020-02-04 05:43] zainmehdi commented on #5756
@neilyoung Thanks alot I checked your blog and it was really helpful.

[2020-02-04 06:07] RealSenseCustomerSupport commented on #5620
----------------------------------------------

@eliranno What's the error details when you get execution failure? Could you please provide more logs or snapshots? Thanks!

[2020-02-04 06:38] RealSenseCustomerSupport commented on #5602
----------------------------------------------

@radfordi  Please refer to below links to get the value range. Any other questions? Thanks!

https://github.com/IntelRealSense/librealsense/blob/master/wrappers/python/pybackend.cpp#L101-L165
https://github.com/IntelRealSense/librealsense/blob/master/wrappers/python/pyrs_options.cpp#L13

[2020-02-04 06:49] merttoka commented on #5718
Found out that the structure of the memory block returned by `p.get_data()` contains elements in this order:
[code]
not
[code]

`n` being the linear index of `rs2::points p`.

[2020-02-04 06:49] #5718 closed

[2020-02-04 07:02] RealSenseCustomerSupport commented on #5566
----------------------------------------------

@Scientifeet Can you run rs-enumerate or rs-depth successfully on your setup? And did you get chance to try python examples such as https://github.com/IntelRealSense/librealsense/blob/master/wrappers/python/examples/python-tutorial-1-depth.py to see if any issue?

[2020-02-04 07:33] MartyG-RealSense commented on #5774
Advice given by a RealSense team member on this forum is that there is not UWP support for T265.

https://github.com/IntelRealSense/librealsense/issues/3758

The RealSense UWP driver supports the 400 Series cameras.

[2020-02-04 07:56] MartyG-RealSense opened #5778 "Announcement: API change notes added for RealSense SDK version 2.32.1"
Hi everyone,

I noticed that the API change release notes for SDK version 2.32.1 have been added (which I believe were originally 'TBD' at the date of this SDK version's release).  They include support for Z16H format and creating a processing block for decoding the Z16H compressed depth format.

https://github.com/IntelRealSense/librealsense/wiki/API-Changes#version-2321

[2020-02-04 10:00] drfg0119 commented on #5773
Hi @ev-mp , I follow your suggestion to make it downgrade successfully !! I'm really appreciate, thank you. And this is my commands after deleting old version:
$ `sudo apt install librealsense2=2.31.0-5ubuntu5~1.gbp95d195 librealsense2-dbg=2.31.0-5ubuntu5~1.gbp95d195 librealsense2-utils=2.31.0-5ubuntu5~1.gbp95d195 librealsense2-gl=2.31.0-5ubuntu5~1.gbp95d195 librealsense2-dev=2.31.0-5ubuntu5~1.gbp

[2020-02-04 11:18] ev-mp commented on #5773
@drfg0119 hello, I'm glad that the info was useful.

After installing a new SDK version I believe you must rebuild the ros wrapper from scratch. Additionally a critical step is missing in the description provided:

Did you uninstall the previous ros wrapper version **before** deleting the work space? If not - it is possible that you have a mix of both the old and new binaries, libs and includes ex

[2020-02-04 13:01] ShettyHarapanahalli opened #5779 "inaccurate distance when using API get_distance"
| | |
|---|---|
|**librealsense**|2.32.1 RELEASE|
|**OS**|Linux|
|**Name**|Intel RealSense D435I|
|**Serial Number**|844212071706|
|**Firmware Version**|05.12.02.100|
|**Advanced Mode**|YES|
|**Camera Locked**|YES|
|**Usb Type Descriptor**|3.2|
|**Product Line**|D400|
|**Asic Serial Number**|904523050880|
|**Firmware Update Id**|904523050880|

Hi,
I have been trying to get the distance of an objec

[2020-02-04 13:06] ShettyHarapanahalli commented on #5779
It will be helpful if we have an example for loading json configuration and pixel to point in python.

[2020-02-04 13:20] brettmilinski commented on #5774
@MartyG-RealSense I now remember reading this on the forums, but I still wish to use the 400 series in my UWP. Either way the program is crashing before I even try to access the cameras, so I must be trying to instantiate them incorrectly.

[2020-02-04 13:21] drfg0119 commented on #5773
@ev-mp Hi, I didn't uninstall the previous ros wrapper version, I just delete the work space and rebuild the work space, and it still works (EX: rs_camera.launch , opensourcetracking.launch). Maybe I'll try this method next time when I meet the question. Thank you for your attention!

[2020-02-04 13:43] MartyG-RealSense commented on #5774
Are you using the RealSense UWP driver please?

https://downloadcenter.intel.com/download/28723/Intel-RealSense-D400-Series-Universal-Windows-Platform-UWP-Driver-for-Windows-10

[2020-02-04 14:00] brettmilinski commented on #5774
@MartyG-RealSense Yes I have the latest download!

[2020-02-04 14:05] #5634 closed

[2020-02-04 14:09] MartyG-RealSense commented on #5774
It's a challenging problem.  There is not much reference material for scripting for UWP and C# other than the link below:

https://github.com/IntelRealSense/librealsense/issues/2702#issuecomment-444035850

@dorodnic from the RealSense team is probably going to be one of the best people to tackle this question, as they have already investigated the subject in the above link.

[2020-02-04 14:24] brettmilinski commented on #5774
@MartyG-RealSense No worries I am going to move forward with another solution.

[2020-02-04 14:24] #5774 closed

[2020-02-04 14:24] #5755 closed

[2020-02-04 14:25] #5682 closed

[2020-02-04 14:38] ev-mp commented on #5618
@WasabiFan, as for the inquiry -
while currently it is not in the public domain upstreaming the SDK debian distribution is one of the established team's goals, which in turn will automatically open-source the repositories.
Unfortunately I cannot elaborate on scheduling.

[2020-02-04 15:28] ev-mp commented on #5319
The resolution was successfully integrated into `development` branch. scheduled for the upcoming release.

[2020-02-04 15:42] RealSenseCustomerSupport commented on #5666
----------------------------------------------

@DavidCadtec,

Can you please provide more information about the problem with bag files recording/playback?
What is exact scenario of the issue?

Thank you!

[2020-02-04 15:42] Allius27 opened #5781 "Reboot USB connection on windows"
| | |
|---|---|
|**librealsense**|2.32.1 RELEASE|
|**OS**|Windows|
|**Name**|Intel RealSense D435|
|**Serial Number**|915112071095|
|**Firmware Version**|05.11.15.00|
|**Advanced Mode**|YES|
|**Camera Locked**|YES|
|**Usb Type Descriptor**|2.1, 3.1|
|**Product Line**|D400|
|**Asic Serial Number**|901523021687|
|**Firmware Update Id**|901523021687|

Good day.
Sometimes after unplug and plug in devi

[2020-02-04 15:47] SB11416158 commented on #5667
Hi @ev-mp ,
Thanks for you reply.

To confirm, I have recorded .bag files using a Python script.
When I playback these .bag files in Python, everything is ok and I have all the depth values for all pixels except for some holes.
But when I playback these .bag files in C++ all depth values are zero for all pixels. Also playing back these .bag files in RealSense Viewer all depth values are zero for a

[2020-02-04 16:02] MartyG-RealSense commented on #5781
You can reset the camera in the RealSense Viewer by going to the 'More' option at the top of the options side-panel (the icon that looks like a pile of plates') and selecting 'Hardware Reset' from its menu.

![image](https://user-images.githubusercontent.com/41145062/73762158-b5788700-4767-11ea-8be8-01b0e913fea6.png)

A reset can also be performed with scripting using the **hardware_reset()** inst

[2020-02-04 16:03] RealSenseCustomerSupport commented on #5676
----------------------------------------------

@LiranAz,

Just to make sure,can you please confirm that the camera we are talking about has never normally functioned/ was recognized by OS/Application since the day of the purchase?

Thank you!

[2020-02-04 16:06] ev-mp commented on #5779
@ShettyHarapanahalli hello,
The way the RGB and Depth frames are used in the above code is _intuitive and yet profoundly not feasible_ :
The Depth and RGB streams are produced by separate physical sensors (Depth and RGB), using different physical properties, such as aperture size, lenses, sensors. Additionally those sensors are positioned ~1.5cm apart which means that they capture different perspe

[2020-02-04 16:07] RealSenseCustomerSupport commented on #5618
----------------------------------------------

@WasabiFan,

Do you need any additional clarifications regarding this topic?

[2020-02-04 16:55] piraog opened #5782 "Power issue on raspberry pi with two SR305 cameras"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | SR305 |
| Firmware Version                   | 3.27.3.0 |
| Operating System & Version |  Raspbian GNU/Linux 10 (buster)  |
| Kernel Version (Linux Only)    |  4.19.75-v7l+

[2020-02-04 17:04] dorodnic commented on #5778
Thanks @MartyG-RealSense

[2020-02-04 17:06] ShettyHarapanahalli commented on #5779
@ev-mp  Thanks for pointing me about align streams, but still I get an error as "'pyrealsense2.pyrealsense2.BufData' object has no attribute 'get_distance'"

# First import the library
import pyrealsense2 as rs
# Import Numpy for easy array manipulation
import numpy as np
# Import OpenCV for easy image rendering
import cv2

# Create a pipeline
pipeline = rs.pipeline()
depth_frame = None

def mouse

[2020-02-04 18:16] christian-rauch commented on #5748
@ev-mp Any hints when this release will happen?

[2020-02-04 19:09] ev-mp commented on #5748
The next release is scheduled for this week. We're planning to have it complete by Monday.

[2020-02-04 19:25] ev-mp commented on #5779
@ShettyHarapanahalli , please pay attention to the following:
The mouse callback expect to receive a depth frame
[code]
While the actual underlying type that you assign to `depth_frame`  is just the pixels payload that is part of the actual frame
[code]
The type that the callback expects should be of the type `depth_frame = aligned_depth_frame`.

The link to python API documentation for convenienc

[2020-02-04 19:28] christian-rauch commented on #5748
Do you mean it is scheduled for next week? Because Monday was yesterday :-)

[2020-02-04 19:34] ev-mp commented on #5782
@piraog , the `realsense_device_manager.py` uses the camera's default configuration (`self._config`)
that for SR305 comprise of Depth+RGB streams. So unless you've overwritten the default configuration trying to start two devices would result in activation of 4 streams which draws more power than RPi4 USB ports can sustain.

[2020-02-04 20:11] ev-mp commented on #5710
The DKMS package for Ubuntu 18 is compatible with LTS kernels 4.15 and 4.18 branches (all patch numbers included).
It will be extended to support 5.0 and 5.3 in the next release.

[2020-02-04 20:46] #5515 closed

[2020-02-04 22:36] radfordi opened #5783 "100% CPU Usage"
Using 83f952a and a D435i w/ `5.12.2.100`, I see 100% CPU usage with this program (on a Mac):
[code]
and with this program
[code]

[2020-02-04 22:39] LMurphy99 opened #5784 "Converting numpy depth_map back into pyrealsense2 depth frame"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | {D435i} |
| Firmware Version                   | (N/A) |
| Operating System & Version |   {Win (10) |
| Kernel Version (Linux Only)    |  (N/A)

[2020-02-04 23:34] RealSenseCustomerSupport commented on #5407
----------------------------------------------

Hi @RajkiranVeldur, Like dorodnic commented, this discussion is beyond the scope of this project. Do you have further questions?
If we don't hear from you in 7 days, this issues will be closed. Thanks.

[2020-02-04 23:54] szx0112 commented on #3084
@RealSenseCustomerSupport Thanks for the videos. I follow the 3rd tutorial video for multicamera sync on two d435i cameras. I also connected a third camera without sync for comparison. However, I could not find significant difference on video fps, it seems that the depth stream of all three cameras are pretty close (30HZ). Could you provide a quick video for d435i as well?

[2020-02-05 00:04] #5477 closed

[2020-02-05 01:25] RealSenseCustomerSupport commented on #5739
----------------------------------------------

@Uvindu  Did you get it through with dorodnic's reply? Looking forward to your update. Thanks!

[2020-02-05 01:40] RealSenseCustomerSupport commented on #5729
----------------------------------------------

@kevinpaulsudarshan The source code of RealSenseViewer is in the link below. Please check if this helps you. Thanks!
https://github.com/IntelRealSense/librealsense/tree/master/tools/realsense-viewer

[2020-02-05 01:48] RealSenseCustomerSupport commented on #5680
----------------------------------------------

@JasonHoon Thanks for the quick update! We'll look into your code snippet and update you later. Thanks!

[2020-02-05 02:04] #5152 closed

[2020-02-05 02:04] #5648 closed

[2020-02-05 03:03] RealSenseCustomerSupport commented on #5635
----------------------------------------------

@vftejada  Your issue might be caused by RGB calibration table crashed. Did you get chance to try rs-pointcloud https://github.com/IntelRealSense/librealsense/tree/master/examples/pointcloud to see if any issue also?  Looking forward to your update. Thanks!

[2020-02-05 03:05] DavidCadtec commented on #5666
Sure.
I'm recording the bag file via Pyrealsense2 SDK (Python Wrapper)... the code i'm using is as below ...
After run it i get the ros bag file saved in the folder ...
But when i try to open it in the RealSense Viewer i get::

"Failed to load file /home/davidpro/PycharmProjects/EstudosIntelRS/test.bag. Reason: Io in rs2_context_add_device(ctx:0x5cd1890, file:/):
Failed to create ros reader: Bag u

[2020-02-05 03:22] RealSenseCustomerSupport commented on #5680
----------------------------------------------

@JasonHoon Another thing to check with you is that the dark depth image occurs randomly on all the cameras or only a few cameras of them. Did you get chance to try all the cameras with RealSenseViewer to see if any recording and playback issue?

[2020-02-05 04:24] ruffsl commented on #5710
Nice, looking forward to simply using the DKMS package for the current kernel shipped in Ubuntu.

I've noticed that for `5.0.0-23-generic`, I encountered device detection issues when applying the 3rd-party patchs that affects USB2 behavior, and so got working again by commenting them out.

https://github.com/IntelRealSense/librealsense/blob/83f952a4bd6b70d72459f66c7f67ddaba9d337a0/scripts/patch-re

[2020-02-05 04:25] #5710 closed

[2020-02-05 04:59] agrunnet commented on #5744
That is indeed odd. If it works in the viewer, it should work in Labview, which is simply a wrapper on realsense2.dll.

You appear to have done the right thing, but let me outline the exact steps that should work:
1. Run the RS Viewer first and test that it works.
2. Then find the app's folder location, and more specifically the location of the realsense2.dll file.
3. Copy that file into the locat

[2020-02-05 05:27] JasonHoon commented on #5680
@RealSenseCustomerSupport
At the eight cameras, the dark depth image occurs only on certain cameras(Fourth camera).

So I changed the Fourth camera with a new one, and after testing, I still got the same symptoms with the fourth camera.

And I try all the cameras with RealSenseViewer. recording , playback.

I could save depth, color image.   there was no dark depth image.

[2020-02-05 05:47] RealSenseCustomerSupport commented on #5728
----------------------------------------------

@AaronZettler Could you please try RealSenseViewer to see if you can get normal 3D preview? Also noticed that you're using SDK 2.9.1 which is old version. Please upgrade to the latest SDK version try again.

[2020-02-05 05:56] RealSenseCustomerSupport commented on #5680
----------------------------------------------

@JasonHoon Could you please try the playback for the bag files of forth camera in the RealSenseViewer to see if any dark depth image? Also please try lower FPS(such as 30fps) to see if any helps.

[2020-02-05 06:13] RealSenseCustomerSupport commented on #4964
----------------------------------------------

@yoichi0110 What's the exception details when you execute "Application.Run"? Any logs or snapshots? Looking forward to your reply. Thanks!

[2020-02-05 06:55] RealSenseCustomerSupport commented on #4469
----------------------------------------------

@knicos Could you please try gdb to get the core dump information about the Segfault? Thanks!

[2020-02-05 08:20] Allius27 commented on #5781
Thank you for reply.

I have tested this functional with one Viewer, and it works perfect. After disconnect camera have always detected as USB3.

But in my code, when I unplug camera and plug it again, somethimes it might determine as USB2.

I have found an example, when Viewer can determine it as USB2.0. Two processes of Viewer must be execute at the same time. And hardware reset doesn't work in

[2020-02-05 08:27] RealSenseCustomerSupport commented on #5781
----------------------------------------------

As to the dark IR image issue, please try enable the  the auto-exposure
based on the capture screen you attached, it looks be disabled
or you can increase exposure time of IR camera that should definitely can help the IR image brighter

Stereo Module->Control->Exposure

with USB2 connection, the auto-exposure feature should be still supported.
Basica

[2020-02-05 08:41] korzen commented on #5748
Hi, just to confirm that I have successfully patched and built the library under 5.3.0-28-generic using the development branch. My D415 finally works well!

[2020-02-05 08:46] JasonHoon commented on #5680
@RealSenseCustomerSupport  I tried to check the playback for the bag files in the RealSenseViewer.

I couldn't see the dark depth image, but there were not depth value.  The depth value of all pixels in the depth image was zero.

![image](https://user-images.githubusercontent.com/23208756/73824895-50dc2b80-483e-11ea-9e5e-4d0d106fb6db.png)

and I tried to change FPS to 15, 30, 60. I also got dark d

[2020-02-05 08:52] LiranAz commented on #5676
Sorry if there was a misunderstanding,
The device worked fine for a few days using SDK version 2.29.0.
Then, immediately after installing version 2.31.0 of the SDK, the device
stopped responding on this or any other computer.

Thanks for your help,
Liran.

On Tue, Feb 4, 2020 at 6:04 PM RealSense Customer Support <
notifications@github.com> wrote:

[2020-02-05 09:18] Allius27 commented on #5781
I think, that problem have resolved for this question.

Obviously, this problem belongs to camera version **05.11.15.00**
I have updated firmware for camera up to **05.12.02.100**, and problem was solved

With new software version independently on USB connection (USB2 or USB3) IR image is always perfect

[2020-02-05 09:28] evenlund opened #5786 "Calibration file missing"
The calibration file linked to in the readme.md (H_t265_d400.txt) is missing.

[2020-02-05 09:30] ShettyHarapanahalli commented on #5779
Updating the below line woked:
dist = aligned_depth_frame.get_distance(x, y)

[2020-02-05 09:40] MartyG-RealSense commented on #5786
It is a broken link.  You can get to it by using a link with a cfg extension instead of txt.

https://github.com/IntelRealSense/librealsense/blob/master/examples/tracking-and-depth/H_t265_d400.cfg

[2020-02-05 10:43] eidetic-av opened #5787 "Can't access data from color video_frame C++"
----------------------------------------------------------------------------------------------------

| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D435i |
| Firmware Version                   | 2.32.1 |
| Operating Sys

[2020-02-05 10:59] anug7 opened #5788 "D435 frame rate changes with respect to ambient lighting"
---------------------------------------------------------------------------------------------------

| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D435 |
| Firmware Version                   | 05.11.15.00 |
| Operating

[2020-02-05 11:06] MartyG-RealSense commented on #5788
You can enforce a constant FPS speed by leaving auto-exposure enabled but disabling the 'Auto-Exposure Priority' option.

https://github.com/IntelRealSense/librealsense/issues/5290

[2020-02-05 11:23] eidetic-av commented on #5787
Not to worry!

I was able to work it out based on the function here at line 66:
https://github.com/IntelRealSense/librealsense/blob/master/wrappers/pcl/pcl-color/rs-pcl-color.cpp

Not sure what I was doing wrong, but this function works!

[2020-02-05 11:23] #5787 closed

[2020-02-05 11:24] anug7 commented on #5788
@MartyG-RealSense ,

Will try the option and let you know. Just curious,  Wont disabling the auto-exposure give constant fps?

[2020-02-05 11:30] MartyG-RealSense commented on #5788
You could disable auto-exposure and set your own values manually, though it may affect depth performance for the reasons discussed in the link below,

https://github.com/IntelRealSense/librealsense/issues/1957#issuecomment-400715579

[2020-02-05 11:53] anug7 commented on #5788
I tried setting it for depth stream. But it fails.
[code]

And with manual exposure, the problem still persists.

[2020-02-05 12:00] anug7 commented on #5788
@MartyG-RealSense

Also I tried for color stream for which I was able to set this value using the same code. But the problem still persists. I used auto exposure and disabled **RS2_OPTION_AUTO_EXPOSURE_PRIORITY**.

[2020-02-05 12:00] MartyG-RealSense commented on #5788
Generally, RS2_OPTION settings are set to false or true with a 0 or 1, where 0 = false and 1 = true.  For example, to disable:

 sen.set_option(RS2_OPTION_AUTO_EXPOSURE_PRIORITY, 0.f);

[2020-02-05 12:04] neilyoung opened #5790 "PyRealSense2 PIP issue"
Today I was testing the PIP wheel of the 2.32.1 found here https://pypi.org/project/pyrealsense2/

It seems, that only Windows and Linux is supported currently. Would be great to have at least macOS and Raspbian too.

Anyway. I tested a script on my Ubuntu 18.04 with Python3.6. Before I installed the pyrealsense2 wheel:

[code]

So there is a complain, that pyrealsens2 has no attribute '__version_

[2020-02-05 12:32] ShettyHarapanahalli commented on #5779
Still not getting correct 3d Coordinates, sharing the function of the same [full code attached as txt file]-

[code]

[2020-02-05 12:44] piraog commented on #5782
@ev-mp Thanks for the quick answer
I did try to overwrite the realsense_device_manager, but somehow dodn't manage to do it completly.
In the end, without using the device manager It ended up working.

Thanks again for the quick reply

[2020-02-05 12:44] #5782 closed

[2020-02-05 12:44] MartyG-RealSense commented on #5790
The most recent mention of pip install for MacOS that I know of was in March 2019.  At the time, the status was that it was something that was being looked at but was taking some time.

https://github.com/IntelRealSense/librealsense/issues/3260#issuecomment-469361152

[2020-02-05 12:52] neilyoung commented on #5790
@MartyG-RealSense Thanks, but macOS is now not my biggest concern. I'm wondering, why two more ore less identical versions can show a different behaviour. I know that the __version__ thing was added lately. Has it just been forgotten by the "Wheelies"?

[2020-02-05 12:53] ShettyHarapanahalli commented on #5779
Will below code give correct 3d coordinates -
[code]
Full code attached as txt file.
[3D-Coordinates_of_selected_point.txt](https://github.com/IntelRealSense/librealsense/files/4159546/3D-Coordinates_of_selected_point.txt)

[2020-02-05 12:53] MartyG-RealSense commented on #5790
I'll have to defer that question to one of the Intel guys, as it is "outside of my wheel-house", as they say!

[2020-02-05 12:54] neilyoung commented on #5790
Thanks :) Let 'em roll :)

[2020-02-05 13:03] Allius27 commented on #5781
So, I hurried to close this issue.

My question is:
Is there some way to change connection from USB2 to USB3 on windows (Hardware reset doesn't work)?
May be without using librealsense library

[2020-02-05 13:57] orshefi commented on #5614
Hi @radfordi ,

Just tested the latest development version with #5645 merged into.
The serial number indeed is in the same convention as libtm and its great.
But nonetheless, the pipe cannot start with the serial number enabled in the config.

[2020-02-05 14:48] #5778 closed

[2020-02-05 14:54] MartyG-RealSense opened #5793 "Announcement: Follow-up on the RealSense-equipped SoftBank robot vacuum cleaners"
Hi everyone,

In February 2019, the RealSense blog published an article about how the company Brain Corp were using RealSense in robot vacuum cleaners with their BrainOS software in partnership with SoftBank Robotics.

https://www.intelrealsense.com/autonomous-robotics-intel-realsense-technology-and-brainos/

The official RealSense Twitter account has now posted a link to an update on these SoftBa

[2020-02-05 16:06] dorodnic commented on #5777
At the moment we provide pypi packages for Python 2, 3.6 and 3.7.
You have the option of switching to one of the supported python versions or building the library from source with python 3.8

[2020-02-05 16:30] LMurphy99 opened #5794 "Intel RealSense depth map format"
I'm trying to create my own point clouds from the realsense depth frames, as opposed to calculating one using the provided functionality. One key aspect I need to know is whether each depth pixel in the depth frame is distance relative to the center of one of the cameras, or whether the depth of each pixel is represented perpendicular to the XY plane.

Would really appreciate if anyone could let m

[2020-02-05 16:41] ShettyHarapanahalli commented on #5779
With the above code, I get an error as
"module 'pyrealsense2' has no attribute 'rs2_translate_point_to_point'"

Not sure if we have this interface in python, I was not able to get any references for "rs2_translate_point_to_point" and "point_to_point" from the link shared above.  Please suggest the correct api and sequence to do.

Sharing full code for reference.
[3D-Coordinates_of_selected_point.t

[2020-02-05 18:44] ltstein opened #5795 "Standalone Application Deployment-Distribution Documentation"
----------------------------------------------------------------------------------------------------

| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D400/T26x |
| Firmware Version                   | (Open RealSense View

[2020-02-05 18:51] radfordi commented on #5614
Hi @orshefi, the current `development` version (d363eb9) with #5645 is still missing #5615, so you'll need to merge that before it'll work.

[2020-02-05 18:55] MartyG-RealSense commented on #5795
I hope that the link below will be helpful.

https://github.com/IntelRealSense/librealsense/issues/4277

[2020-02-05 20:24] RealSenseCustomerSupport commented on #5720
----------------------------------------------

Hi @laguerreche

Thanks for the submission and information.

Is this causing a significant issue for you in what you're trying to accomplish?

[2020-02-05 20:32] neilyoung commented on #5720
I noticed a similar behavior on Windows 10 Home with 2.32.1 from PyPi. It was the stop (pipe.stop()) which hangs. But I was just making a quick test, not doing anything with probably patched USB drivers. The issue was reproducible.

[2020-02-05 20:54] RealSenseCustomerSupport commented on #5712
----------------------------------------------

Hi @ruffsl

Thanks for posting this request.  For our T265 tracking solution, the current way in which we handle the IMU (Accel and Gyro) works well for our SLAM algorithm.  The sample rates in which we've chosen is optimized for our SLAM algo and are fixed.  No plans to make changes to our sample rates in firmware.

Looking at the information in the

[2020-02-05 21:01] m4xr1sk commented on #5527
the firmware is upgraded. I'm waiting for an external usb hub to try with it

[2020-02-05 21:14] RealSenseCustomerSupport commented on #5651
----------------------------------------------

Hi @karry3775

Were you able to test and try the suggestions from ev-mp?

[2020-02-05 21:14] karry3775 commented on #5651
Yes thank you! It works now

On Wed, Feb 5, 2020, 3:14 PM RealSense Customer Support <
notifications@github.com> wrote:

[2020-02-05 21:17] RealSenseCustomerSupport commented on #3788
----------------------------------------------

@DevastF,

Do you still need help with this issue?

[2020-02-05 22:17] ruffsl commented on #5712
This request does not pertain to changing existing sample rates for the Accel and Gyro, only that an additional frame type be made available that interpolates the two into a single 6DoF motion frame.

I think this kind of filtering or preprocessing is a core necessity for many user end domain applications, no different than any of the existing filters like the temporal interpolation of depth frame

[2020-02-05 23:01] radfordi commented on #5527
Just to be clear, should see the following device in both cases.

The difference will be in the output of this command.
[code]
When the device needs to be reset, it should in USB 1.0 mode, and it will be in USB 2.0 mode after the device is power cycled.

[2020-02-06 00:24] jagatfx commented on #4762
I can ensure the comprehensiveness of this but what worked for me was to ensure in addition to calling `pipe->stop()` be sure to set the `pipe = nullptr`.

[2020-02-06 00:30] realsens01 commented on #4357
YES. I see the original issue on the four D435 cameras that I purchased directly from Intel.

[2020-02-06 00:34] realsens01 commented on #3977
My original post thread (you'll have to look back a year or two) listed the stats of the computer having the issue. 8th Generation Core i7-8700K. 6 cores. Dell. Pretty standard computer. None of the resource monitors show any issues.

[2020-02-06 00:35] RealSenseCustomerSupport commented on #5676
----------------------------------------------

@LiranAz,

Please downgrade the SDK version to 2.29.0 and check whether or not the device is still working
with it.

Thank you!

[2020-02-06 00:41] realsens01 commented on #4762
@DavidCadtec No solution has been offered for the cause of the unindexed error. I've put measures in place to introduce delays that give the bag time to write, but I still see the error fairly regularly. As I noted in [an earlier post](https://github.com/IntelRealSense/librealsense/issues/3044#issuecomment-464514016), the rosbag utility can be used to fix bags after they've been recorded. This is

[2020-02-06 00:47] RealSenseCustomerSupport commented on #3977
----------------------------------------------

@realsens01 Did you get any chance to try https://github.com/IntelRealSense/librealsense/tree/master/tools/recorder to see if any frames freezing or dropping?

[2020-02-06 01:30] RealSenseCustomerSupport commented on #5680
----------------------------------------------

@JasonHoon That's really strange. Do you see such zero depth value issue on the remaining cameras in RealSenseViewer when playback the bag files recorded by your code? Do these 8 cameras have the same firmware version?

[2020-02-06 01:53] realsens01 commented on #3977
To what end?

Have you looked through the post history?

[2020-02-06 02:02] #5672 closed

[2020-02-06 03:04] JasonHoon commented on #5680
@RealSenseCustomerSupport  I think so..

Now, I can find such zero depth value on the fourth camera.
When I switch the usb ports connected to the 8 camera, I find the zero depth value on the other camera, not the fourth.

I tried connecting 8 cameras to two USB hubs (4 cameras in one hub), but that wasn't the solution.

Yes All cameras have the same firmware version as 05.11.15.00.

[2020-02-06 04:17] jiapei100 opened #5797 "PCL Example Fail to Build..."
[code]

[2020-02-06 04:58] DavidCadtec commented on #4762
Thanks for your input @realsens01
Where do i get this rosbag utility ?

[2020-02-06 05:45] vocong25 opened #5798 "Errors of F200 on Raspberry Pi 4."
* Before opening a new issue, we wanted to provide you with some useful suggestions (Click "Preview" above for a better view):

    * Consider checking out SDK [examples](https://github.com/IntelRealSense/librealsense/tree/master/examples#sample-code-for-intel-realsense-cameras).
    * Have you looked in our [documentations](https://github.com/IntelRealSense/librealsense/tree/master/doc#useful-lin

[2020-02-06 05:59] RealSenseCustomerSupport commented on #5296
----------------------------------------------

@compscidr Another possible way is to do timestamp synchronization for temporal alignment on the slower devices and then send to the paired frames to the faster computer to do space alignment.

[2020-02-06 06:03] DavidCadtec commented on #4762
@realsens01
I added the calls to destroy pipeline and config objects and attributed None to them and everything worked perfectly with the recording !
As you said... not an awesome solution .. but it's a way to at least get the bag file properly created (not with unindexed issue ...).
Thank you !

[2020-02-06 06:15] LiranAz commented on #5676
Tried it with no luck.
As I mentioned above, there was no response.

On Thu, Feb 6, 2020 at 2:35 AM RealSense Customer Support <
notifications@github.com> wrote:

[2020-02-06 06:35] RealSenseCustomerSupport commented on #5379
----------------------------------------------

@ShettyHarapanahalli Are you looking for the way to transform the point cloud? If so, please check https://www.tutorialspoint.com/computer_graphics/3d_transformation.htm to see if helps. Thanks!

[2020-02-06 06:59] RealSenseCustomerSupport commented on #5438
----------------------------------------------

@vshalkov There's snapshot function in RealSenseViewer which can save color and depth image as *.png. Please refer to see if helps.
https://github.com/IntelRealSense/librealsense/tree/master/tools/realsense-viewer
https://github.com/IntelRealSense/librealsense/blob/master/third-party/stb_image_write.h

[2020-02-06 07:23] kumarvis commented on #2948
Hello @Medo91code  @dorodnic  Hey I have problem in revere manner I want to project (Depth Pixel -> Color Pixel) in way reverse of rs2_project_color_pixel_to_depth_pixel. Please help. I did the reverse of
Depth Pixel - > Depth point
Depth Point  - > Color Point
Color Point -> Color Pixel
But the X alignment has significant displacement.

[2020-02-06 07:57] MartyG-RealSense commented on #5798
Are you using the correct Pyrealsense for the legacy 1.12 SDK, please?  Pyrealsense2 is for the current RealSense SDK 2.0.  The similarly named but different Pyrealsense 2.x (e.g Pyrealsense 2.2) should be used with the legacy SDK.

The link below has a recently published guide to using an R200 (same generation as the F200) with the legacy SDK and the older Pyrealsense 2.2.  It may be adaptable fo

[2020-02-06 08:13] bmegli opened #5799 "hardware accelerated point cloud streaming (example and video)"
## A word of caution

For anybody planning to use similar approach it is important that he/she understands implications of using video codec for depth encoding. I wouldn't use it for anything but human teleoperation which is actually my personal use case and motivation.

## The video

[![Hardware Accelerated Point Cloud Streaming](http://img.youtube.com/vi/qnTxhfNW-_4/0.jpg)](http://www.youtube.co

[2020-02-06 10:32] christian-rauch commented on #5748
I received a Debian package update today with the new version and it correctly builds the `librealsense2-dkms` for `5.3.0-28-generic`.

[2020-02-06 10:56] anug7 commented on #5788
@MartyG-RealSense , I have tried your suggestion. Still the problem persists.

[2020-02-06 11:28] MartyG-RealSense commented on #5788
If you have turned off auto-exposure, did you set a manual exposure value that is appropriate for the FPS speed that you are using, as described in the advice linked to earlier please?

https://github.com/IntelRealSense/librealsense/issues/1957#issuecomment-400715579

[2020-02-06 12:56] laguerreche commented on #5720
@RealSenseCustomerSupport, my app lets the user start or stop tracking at any time because there's no need to run tracking all the time.

With the bug I reported, it means that the user cannot stop tracking because the app will freeze. When exiting the app, the app freezes if the user started tracking and then the app must be killed.

So it's quite a significant issue... As a workaround, I remain

[2020-02-06 14:51] anug7 commented on #5788
Yes. I set the value of exposure to 400 (~25fps).

[2020-02-06 15:01] MiguelKoch opened #5802 "Question: Recording .bag frame-by-frame"
----------------------------------------------------------------------------------------------------

| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       |                         D400                               |
| Firmware

[2020-02-06 15:08] MartyG-RealSense commented on #5788
I wonder if the sudden changes in light conditions caused by the LED might be saturating the IR imager, in the same way that a stream may degrade or freeze if it captures a burst of sunlight (by looking up at the sky or experiencing a bright ray reflected off a surface such as a glass door).

[2020-02-06 15:11] ShettyHarapanahalli commented on #5379
Thanks a ton for the response, I have been referring to open3D [https://github.com/intel-isl/Open3D].

[2020-02-06 15:11] #5379 closed

[2020-02-06 15:40] vftejada commented on #5635
Hi,
I managed to get the the example working as expected with the RGB texture functionality by upgrading to PCL version 1.8.  However, I noticed another issue when uploading the .pcd files generated using the PCL point cloud visualization implemented in the Load_PCLFile function. The frame is always shown upside down (rotated 180 degrees around de z axis).
Any ideas as to how to solve this issue?

[2020-02-06 15:41] gitacct1800 commented on #5759
I was able to resolve the problem by shifting the try instruction. Thanks for your help.

[2020-02-06 15:41] #5759 closed

[2020-02-06 15:50] MartyG-RealSense commented on #5802
Data from RealSense and non-RealSense cameras can be aligned using camera metadata.  the link below discusses alignment between a RealSense and a ZED camera.

https://github.com/IntelRealSense/librealsense/issues/2186

[2020-02-06 15:52] anug7 commented on #5788
Is there a way we could handle this? such that we can get consistent fps.

[2020-02-06 16:11] MartyG-RealSense commented on #5788
You could apply a physical IR filter to the camera.  This could take the form of a bulky external filter or a micro-thin filter film placed over the IR lens on the front of the camera.

Another approach may be to program the camera to reset automatically if an event that degrades performance occurs.  Assuming that the LED will be strobing between low and high constantly though, prevention (filteri

[2020-02-06 16:37] MiguelKoch commented on #5802
Thanks, I'll close this issue.

[2020-02-06 16:37] #5802 closed

[2020-02-06 17:04] RealSenseCustomerSupport commented on #4357
----------------------------------------------

Hi @realsens01

Did you attempt to RMA the cameras with the return process on the site?

[2020-02-06 17:15] RealSenseCustomerSupport commented on #5712
----------------------------------------------

Thanks for the update.  Apologies for thinking this was pertaining to T265 product line.  That was the context in which this thread was being viewed.  We will look at it from the D435i standpoint.

[2020-02-06 17:15] anug7 commented on #5788
@MartyG-RealSense , Thank you for your suggestion. Will try!

[2020-02-06 17:15] #5788 closed

[2020-02-06 17:19] RealSenseCustomerSupport commented on #5651
----------------------------------------------

That's great to hear.  I'll close the thread now.

[2020-02-06 18:05] #5651 closed

[2020-02-06 18:32] ev-mp commented on #4586
DKMS package with kernels 5.0 and 5.3 support is available for download.
FYI

[2020-02-06 18:34] bmegli commented on #5794
## Basics

See this:

https://github.com/IntelRealSense/librealsense/wiki/Projection-in-RealSense-SDK-2.0

## Details

You are specifically interested in this function:

[`rs2_deproject_pixel_to_point`](https://github.com/IntelRealSense/librealsense/blob/d19829788008b8e000870895a068f0c43d58895a/include/librealsense2/rsutil.h#L67)

This is exactly what you want to do.

## Camera intrinsics and dept

[2020-02-06 19:03] #5748 closed

[2020-02-06 19:15] sarathynp opened #5803 "Install on PI3 failed at the step "Building liberalsense2 SDK" . I am follwing the steps https://github.com/IntelRealSense/librealsense/blob/development/doc/installation.md"
* Before opening a new issue, we wanted to provide you with some useful suggestions (Click "Preview" above for a better view):

    * Consider checking out SDK [examples](https://github.com/IntelRealSense/librealsense/tree/master/examples#sample-code-for-intel-realsense-cameras).
    * Have you looked in our [documentations](https://github.com/IntelRealSense/librealsense/tree/master/doc#useful-lin

[2020-02-06 21:18] VD2410 opened #5804 "Align depth frame to rgb image"
I have a whole pipeline where a .Net frontend records the video from real sense and then saves both video and depth.

In the beginning, I was saving depth in the ".bag" file but because the file is too large and to better manage the storage I am now saving the depth in a compressed bits format ".dpt". If I say in short I can get the text file having depth value of every pixel.

Now I know how to a

[2020-02-06 21:28] doug-matthews opened #5805 "Feature Request: Allow the D435 IR Projector to be Always On."
### Issue Description
I was reading through Intel's white paper on projectors for the D4XX depth cameras and I came across their suggestion of using the projectors from multiple cameras. https://www.intelrealsense.com/wp-content/uploads/2019/03/WhitePaper_on_Projectors_for_RealSense_D4xx_1.0.pdf

In the article they say that the D435 pulses the projector in time with the frame capture, but that th

[2020-02-06 22:41] agrunnet commented on #5805
Yes. Feature is either already out or will be very shortly. Let me check.

[2020-02-06 23:55] RealSenseCustomerSupport commented on #5676
----------------------------------------------

@LiranAz,

Did the camera undergo other procedures in addition to SDK upgrade since the day of the purchase  and until the moment it has stopped working? Firmware update, recovery, calibration, etc. - these are the examples of other procedures I meant.

Thank you!

[2020-02-07 01:21] RealSenseCustomerSupport commented on #5209
----------------------------------------------

Hi AleBasso80,

Is the issue still there after latest firmware update ?

Thanks

**Please be informed that we will close this ticket in seven (7) days if we have not heard back from you.

[2020-02-07 02:32] RealSenseCustomerSupport commented on #5181
----------------------------------------------

@RodolfoAndrade Could you please try to configure RS2_STREAM_DEPTH and RS2_STREAM_COLOR to certain supported resolution such as 640x480 to try rs-align or rs-capture again?

And did you get such issue if you run SDK examples(such as rs-align) from SDK installation package? https://github.com/IntelRealSense/librealsense/releases/download/v2.32.1/Intel

[2020-02-07 03:35] jychong11 opened #5806 "Cannot run 3 Cameras together on Ubuntu Linux (Crash)"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D415 + D435 + T265 |
| Operating System & Version |   Ubuntu 18.04 LTS |
| Kernel Version (Linux Only)    |  (e.g. 4.14.13)                                         |
| Platf

[2020-02-07 05:27] BananaHemic opened #5807 "Unity SDK Freezes On Dispose"
I'm developing an AR application using the RealSense Unity SDK version 2.32.1. With Unity version 2019.2.13f1 on Windows 10, I'm experiencing consistent freezes in editor after exiting play mode. Digging deeper, it appears that m_pipeline.Dispose() in RsDevice is deadlocking. The Realsense device is the T265 firmware version 0.2.0.926.

[2020-02-07 06:14] RealSenseCustomerSupport commented on #5476
----------------------------------------------

@kromond Please refer to the link to configure `Eigen3_DIR` cmake's variable.
https://eigen.tuxfamily.org/dox/TopicCMakeGuide.html

[2020-02-07 06:26] RealSenseCustomerSupport commented on #5486
----------------------------------------------

@Dontla Please refer to the example below(SLAM with D435i) which based on RTAP-Map.

https://github.com/IntelRealSense/realsense-ros/wiki/SLAM-with-D435i
http://introlab.github.io/rtabmap/

Also you can refer to https://github.com/tzutalin/awesome-visual-slam#projects for more projects.

[2020-02-07 06:46] zeentan commented on #5806
Additional information:
Kernel: 5.3.0-28-generic

Seeing the following in dmesg
`
[  313.781293] uvcvideo: Failed to query (GET_CUR) UVC control 1 on unit 3: -32 (exp. 1024).
[  313.831610] uvcvideo: Failed to query (GET_CUR) UVC control 1 on unit 3: -32 (exp. 1024).
[  313.982078] uvcvideo: Failed to query (GET_CUR) UVC control 1 on unit 3: -32 (exp. 1024).
[  314.032394] uvcvideo: Failed to quer

[2020-02-07 06:47] #5793 closed

[2020-02-07 06:54] MartyG-RealSense opened #5808 "Announcement: Intel updates RealSense device selection guide to include L515 lidar camera"
Hi everyone,

Intel have updated their 'Which Intel RealSense device is right for you?' comparison guide to include the forthcoming new RealSense L515 lidar camera.

https://www.intelrealsense.com/which-device-is-right-for-you

[2020-02-07 06:59] vocong25 commented on #5798
Hi @MartyG-RealSense I've already installed and used legacy 1.12 SDK with pyrealsense (for legacy).
I think the problem here is I haven't patched uvc module in raspbian buster (kernel 4.19) which causes errors.
I have no idea how to patch it. I found some available scripts in the repo but all for other kernels/ubuntu version.
Any suggestions for me? Thanks in advance!

[2020-02-07 07:04] jirislaby opened #5809 "Proprietary license in src/win7/drivers/IntelRealSense_D400_series_win7.inf"
Could you lift the wording in the license here:
https://github.com/IntelRealSense/librealsense/blob/83f952a4bd6b70d72459f66c7f67ddaba9d337a0/src/win7/drivers/IntelRealSense_D400_series_win7.inf#L5-L10
?

It looks like very strict WRT to distribution in a linux distribution.

[2020-02-07 07:28] MartyG-RealSense commented on #5798
The link below has a guide to patching uvcvideo on Raspian Buster.

https://eleccelerator.com/wiki/index.php?title=Raspbian_Buster_ROS_RealSense#Patching_uvcvideo

[2020-02-07 08:19] vocong25 commented on #5798
Hi @MartyG-RealSense, It works like a charm.
But in some examples in cpp source and when using pyrealsense, I have a error: `rs.error: TemperatureControlLoop: opcodes do not match.`

![image](https://user-images.githubusercontent.com/26197025/74012468-e8678880-49bc-11ea-835e-33b1cebc55ee.png)

[2020-02-07 08:24] MartyG-RealSense commented on #5798
Apparently it may be a kernel compatibility issue between modern kernels and the legacy Librealsense.  A possible fix is provided in this link:

https://github.com/IntelRealSense/librealsense/pull/3929

[2020-02-07 09:10] #5706 closed

[2020-02-07 09:27] LiranAz commented on #5676
No, nothing at all.

On Fri, Feb 7, 2020, 01:55 RealSense Customer Support <
notifications@github.com> wrote:

[2020-02-07 10:02] vocong25 commented on #5798
Hi @MartyG-RealSense
Wow. It's amazing! I've made F200 work on Raspberry Pi 4.

1. Solution #3929 works for me.
2. To build appropriate legacy SDK for ARM (Raspberry Pi 4 - Kernel 4.19), I used the combination: https://github.com/Maghoumi/librealsense and `pyrealsense` with some modifications in file `rs.h`.

Thank you so much!

[2020-02-07 10:39] vocong25 commented on #5798
Hi @MartyG-RealSense
There are some problems with configuration.
Solution #3929 doesn't work :D

[2020-02-07 10:45] neilyoung opened #5810 "project"
@Mart

[2020-02-07 10:46] #5810 closed

[2020-02-07 10:46] neilyoung commented on #5810
Sorry, left too early...

[2020-02-07 10:51] neilyoung opened #5811 "Missing link"
A couple of days ago a post went through this list, which covered the question: How can I create my own CPP RealSense project? I can't find that anymore. I think it was initially of end of June last year. The question was, what do I need to do in order to create my own project in CPP? The question was answered by Jim as far as I remember and refreshed these days by Marty. Does anybody remember tha

[2020-02-07 10:57] MartyG-RealSense commented on #5798
I'll have to let @dorodnic advise on this one, as I do not have any experience with the legacy SDK, unfortunately.

In the meantime, it is possible that you may be able to configure via ROS using the old **realsense_camera** package that is compatible with the old-generation cameras such as F200.

http://wiki.ros.org/realsense_camera

That would open up the possibility to do dynamic reconfiguring

[2020-02-07 11:29] justnick21 commented on #2412
We are experiencing the exact problem as described above.

We have tested this across a number of cameras. Reliable recordings after we disabled auto-exposure was only observed in **2 of 13 cameras**.

Cameras experiencing this problem are from different batches, sometimes from different stores.

Our workaround for this at the moment is to hardware rest the cameras before setting params and initia

[2020-02-07 11:46] MartyG-RealSense commented on #5811
It was this link:

https://github.com/IntelRealSense/librealsense/issues/4277

[2020-02-07 12:16] neilyoung commented on #5811
Exactly. Many thanks. :)

[2020-02-07 12:16] #5811 closed

[2020-02-07 12:24] zainmehdi commented on #5725
Hi @radfordi , can you please provide some hints on hit. I am unable to run my program in debug mode because of this error.

[2020-02-07 13:54] #5629 closed

[2020-02-07 14:16] kevinpaulsudarshan commented on #5729
Thanks for your answer @RealSenseCustomerSupport. Actually I found the answer to my question in the sensor-control [example.](https://github.com/IntelRealSense/librealsense/tree/master/examples/sensor-control). Here is a small code snippet if anybody needs in the future.

    rs2::context ctx;
    rs2::device_list devices = ctx.query_devices();
    rs2::device selected_device;

    if (devices.siz

[2020-02-07 14:17] #5729 closed

[2020-02-07 14:29] RodolfoAndrade commented on #5181
We downloaded and install the new version (2.32.1.1297). The Intel RealSense Viewer works fine and the rs-align.exe found in "C:\Program Files (x86)\Intel RealSense SDK 2.0\tools" works too.

But the same error occurs with the VisualStudio project on the sample folder:
[code]

We also try your suggestion to change the resolution. Here is the code:
[code]
 This was the error message:
[code]

Hope t

[2020-02-07 16:17] zwn commented on #3434
It is not working for me in pyrealsense 2.32.1:

[code]

returns
[code]
If I comment out the `cfg.enable_device(serial_number)` it works ok.

I need to set the serial number to be able to work in multicam scenario.

[2020-02-07 16:24] zwn commented on #3434
I can confirm that it indeed works with version 2.19.2 so this is a regression. I going to file this as a new issue then.

[2020-02-07 16:57] sonumathur opened #5812 "How to get pointcloud2 by realsense d435 using Matlab"
| Camera Model                       | D435 |
| Operating System & Version |   Win 10  |
| Platform                                 | PC  |
| Language                            |  Matlab    |
|
### Issue Description

I want to process .xyz file from D435 in Matlab, but it Require PointCloud2 object as given in https://in.mathworks.com/help/ros/ref/pointcloud2.html#bu3uilg

I can save the using re

[2020-02-07 17:15] RyanHCCSI opened #5813 "D435 RGB camera does not work after firmware upgrade"
Property|Value
------|-----
Name|Intel RealSense D435
Camera Model|D400
Firmware Version|05.12.02.100
Operating System & Version|Windows 10 Pro (10.0.17763 Build 17763)
Platform|PC
SDK Version|2.32.1
Language| N/A

### Issue Description
I installed the RealSense SDK v2.32.1 for the first time and everything seemed to be running fine. I upgraded from an old firmware, I did not note the version but

[2020-02-07 17:27] zwn commented on #3434
I've found there is already an issue #5614 referring to this problem. I did more testing and the problem seems to be isolated to version 2.32.1. Version 2.31.0 works.

[2020-02-07 18:52] radfordi commented on #5725
Can you extract from your application a simple example program that shows the issue?

[2020-02-07 20:14] RealSenseCustomerSupport commented on #5619
----------------------------------------------

Hi @RoxanneUCAS2016,

In order to assist you in the most efficient manner, we need more information about
your system configuration. What is the FW version, build number of RealSense SDK 2.0,
Linux distribution name and version, build number of the Python wrapper for RealSense SDK 2.0 and
the Python version that you use in your system?

Thank you!

[2020-02-07 20:32] m4xr1sk commented on #5527
that's the version of the bootloader of the RPI4:
![image](https://user-images.githubusercontent.com/2210346/74062700-24b3dc80-49ef-11ea-9681-ef5341dec060.png)

Here the output of the lsusb after connecting the camera:
[code]
in the case above the camera is powered and working correctly with rs-pose
![image](https://user-images.githubusercontent.com/2210346/74063219-4b264780-49f0-11ea-95b5-4341556

[2020-02-07 20:35] RealSenseCustomerSupport commented on #4876
----------------------------------------------

Hi @msadowski

Thanks for the update and do create a new one when you're back to working with the product.

[2020-02-07 21:06] #4876 closed

[2020-02-07 21:28] RealSenseCustomerSupport commented on #4028
----------------------------------------------

rhlvora. The error is correct. You are trying to start a pipe with POSE streaming enabled which is only supported on an Intel T265 camera not the D415.

[2020-02-07 21:42] RealSenseCustomerSupport commented on #4028
----------------------------------------------

@kartur. We are unable to reproduce this issue. Hello-realsense example runs as expected on both a D415 and D435i. Can you provide some more information on what you might be doing differently?

Thanks

[2020-02-07 21:49] rhlvora commented on #4028
Sounds good, thanks!

[2020-02-07 21:54] RealSenseCustomerSupport commented on #5391
----------------------------------------------

Does that resolve your issue daothanlong11?

Thanks

[2020-02-07 21:55] RealSenseCustomerSupport commented on #5425
----------------------------------------------

Will you be needing further help with this?

[2020-02-07 22:03] #4762 closed

[2020-02-07 22:22] radfordi commented on #5527
Hi @m4xr1sk,

Thanks for the nice pictures!    Could you provide the output of this command after you use `uhubctl` to power the device back on?
[code]

[2020-02-07 22:52] realsens01 commented on #4762
@RealSenseCustomerSupport: @DavidCadtec believed his issue was solved. I do not. I opened this issue. Why did you close it without a solution?

[2020-02-07 22:52] RealSenseCustomerSupport commented on #5764
----------------------------------------------

Hi, please check the TimestampDomain (hardware clock, system time or global time).

[2020-02-07 22:56] realsens01 commented on #4762
@DavidCadtec: There is a rosbag package on the latest version of Ubuntu, iirc. However, I think you might have to install ROS for 16.04.

I would be careful about believing you've solved the problem with the strategy I mentioned. Have you tried allowing a bag to record for an extended period, and then reproducing the closure? For me, the problem seemed solved until there was long enough of a delay

[2020-02-07 23:05] #3949 closed

[2020-02-07 23:05] #5013 closed

[2020-02-07 23:07] RealSenseCustomerSupport commented on #4052
----------------------------------------------

Hi @vusdo

If there is nothing else needed, then the thread should be closed.
***If we don’t hear from you in 7 days, this issue will be closed.**

[2020-02-07 23:08] RealSenseCustomerSupport commented on #5158
----------------------------------------------

Hi @tropicdragon
Are you still seeing this issue with the latest 2.32.1 librealsense?  Do you still need assistance on this issue?

***If we don’t hear from you in 7 days, this issue will be closed.**

[2020-02-07 23:17] RealSenseCustomerSupport commented on #5767
----------------------------------------------

Please kindly refer to #3325 and see if the provided fix works in your case.
Thank you.

[2020-02-07 23:28] alisharifara commented on #1066
is there any update about this issue?
I am also getting the same error:
ModuleNotFoundError: No module named 'pyrealsense2'

[2020-02-07 23:30] RealSenseCustomerSupport commented on #4969
----------------------------------------------

The original issue (librealsense installation on TX2) should already be addressed.
Please feel free to submit a another ticket if more assistance is needed.
Closing this ticket unless otherwise. Thank you.

[2020-02-07 23:36] RealSenseCustomerSupport commented on #5131
----------------------------------------------

Please kindly let us know if this issue still persists.
Thank you.

[2020-02-07 23:56] evercoast-smm commented on #5131
We can confirm that this issue has been resolved in 2.31 with
FW 05.12.02.100. Note that we can also confirm that it will only work when
using an LTS kernel.

Thank you!

Evercoast <http://www.evercoast.com>  |  Sebastian Marino  |  Co-founder &
CTO

On Fri, Feb 7, 2020 at 6:36 PM RealSense Customer Support <
notifications@github.com> wrote:

[2020-02-08 00:03] #5699 closed

[2020-02-08 00:21] agrunnet commented on #5744
![image](https://user-images.githubusercontent.com/134740/74075048-bc9cd080-49c5-11ea-9672-ce0304272a69.png)
Here is screenshot showing D435i working. We will upload latest version next week. But basically I followed the steps I indicated above.

[2020-02-08 04:05] sarathynp commented on #4565
I am trying to install on Raspberry PI 4.
I am following the instructions from https://github.com/IntelRealSense/librealsense/blob/master/doc/libuvc_installation.md

My installation wnet all the way up to 57% and failed as
 ./libuvc_installation.sh

 57%] Linking CXX shared library librealsense2-gl.so
[ 57%] Built target realsense2-gl
make: *** [Makefile:130: all] Error 2

Any help will be appreci

[2020-02-08 06:04] RealSenseCustomerSupport commented on #5773
----------------------------------------------

Hi @drfg0119,

Do you need any additional help with the original question regarding downgrading the librealsense version from 2.32.1 to 2.31.0?

Thank you!

[2020-02-08 08:15] RealSenseCustomerSupport commented on #5742
----------------------------------------------

Hi @Kevin-Delnoije,

Can you please clarify what is the final objective of this operation? To have a numpy array that represents aligned depth to color image, to convert the result of an alignment to some specific format, etc?

Thank you!

[2020-02-08 08:40] m4xr1sk commented on #5527
just after connecting the camera:
[code]

power off:
[code]

power on:
[code]

and that's the output of the uhubctl:
[code]

everything seems correct but if I run rs-pose it doesn't output anything (just the error).
That's the output of the rs-fw-update:
[code]

[2020-02-08 14:33] dorodnic commented on #5809
Hi @jirislaby
Yes, sure, will update it. Previously Windows 7 specific drivers used to be distributed under proprietary license, but being part of the SDK now, should be updated to Apache.

[2020-02-08 16:33] zwn commented on #5509
@radfordi I have the opposite experience. See my comment here: https://github.com/IntelRealSense/librealsense/issues/3434#issuecomment-583477888. It is working with 2.31 and not working with 2.32. See also  #5614.

[2020-02-08 16:58] zwn commented on #4681
@RealSenseCustomerSupport Can we have this issue open while waiting for a solution? The problem can be experienced on multiple platforms as already reported here by many people and elsewhere on the internet. We are currently experiencing the issue on APU2 board. The suggested workaround is of no help since we cannot control when 5V is introduced to different parts of the board. T265 is alone with

[2020-02-08 17:03] zwn commented on #4681
Err sorry, I meant to call out @radfordi.

[2020-02-08 17:07] skylouis commented on #4681
If you want I can share with you the hardware solution we have put in place to control the 5V alimentation using GPIO of the single board computer.

[2020-02-08 17:25] zwn commented on #4408
To return to the original request - having UART port on something like T265 would be great for integration on drones and other robots. It would indeed very much simplify our life. Having a request-response protocol where one could ask for the current pose estimate (pose frame in librealsense speak) would be enough (equivalent of wait_for_frame and poll_for_frame to get either the next frame or the

[2020-02-08 20:01] Ezward opened #5815 "Errors logged whenever realsense-viewer is started"
----------------------------------------------------------------------------------------------------

| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D435i |
| Firmware Version                   | 05.12.02.100 |
| Operati

[2020-02-08 20:30] dorodnic commented on #5815
Hi @Ezward
Most of these are due to lacking kernel patches (specifically all of the warnings). Not sure what is the nature of the errors.
For D400 cameras on kernel 5.3 not having kernel patches have some small negative effects, like not having most accurate time-stamping and synchronization.
We are hard at work adding support for 5.x kernel versions. If you follow Linux installation instructions

[2020-02-09 00:18] Ezward commented on #5815
I'll wait for the 5.3 kernel support.

[2020-02-09 00:18] #5815 closed

[2020-02-09 02:00] sarathynp opened #5816 "After firmware upgrade the device serial number not found D435i camera"
| | |
|---|---|
|**librealsense**|2.32.1 RELEASE|
|**OS**|Linux|
|**Name**|Intel RealSense D4xx Recovery|
|**Product Line**|D400|
|**Firmware Update Id**|911623050324|

Please provide a description of the problem

[2020-02-09 02:21] sarathynp opened #5817 "Camera can not be selected after firmware upgrade"
| | |
|---|---|
|**librealsense**|2.32.1 RELEASE|
|**OS**|Linux|
|**Name**|Intel RealSense D4xx Recovery|
|**Product Line**|D400|
|**Firmware Update Id**|911623050324|

In Realsense viewer I selected update firmware (I should not have done!). Now the ca,er is in recovery mode. How do we get it working?

[2020-02-09 04:20] Pallav56 commented on #5767
I am already using the latest code, also able to do the calibration with chessboard, and not getting any error while running on objects, only the depth frame is not in sync in color frame.

Hence this thread [#3325](https://github.com/IntelRealSense/librealsense/issues/3325) does not help.

[2020-02-09 05:41] WasabiFan commented on #5618
I don't need clarification, but this issue should presumably stay open until the build script configurations are publicly available.

[2020-02-09 06:29] #5676 closed

[2020-02-09 11:23] dorodnic commented on #5817
Hi @sarathynp
Recovery device has an "Install Recommended Firmware" option in the device menu (under "More" button)

[2020-02-09 16:28] BeatrizAMartins commented on #5514
Thank you!! It worked

[2020-02-09 16:36] MartyG-RealSense commented on #5514
@BeatrizAMartins   Great, thanks for the update!

[2020-02-09 18:16] deepak-1530 opened #5819 "Set D435i to sleep mode."
* Before opening a new issue, we wanted to provide you with some useful suggestions (Click "Preview" above for a better view):

    * Consider checking out SDK [examples](https://github.com/IntelRealSense/librealsense/tree/master/examples#sample-code-for-intel-realsense-cameras).
    * Have you looked in our [documentations](https://github.com/IntelRealSense/librealsense/tree/master/doc#useful-lin

[2020-02-09 19:29] nawara72 commented on #5764
It says system time, would appreciate any help on what to do, Thanks

[2020-02-09 20:01] mvp commented on #5527
uhubctl author here.

@m4xr1sk , does your camera re-enumerate if you unplug/replug USB cable at this point?

If it does, can you try adding -R to uhubctl power on command and see if it helps?

[2020-02-09 23:53] a-m-p-m commented on #1181
I have a similar if not the same problem as @unagiHuman.

**Some background**:
I have two D435 cameras and two laptops running Windows 10.
One laptop has a USB 3 port, the other one has 2 USB-C ports.
I am using the cables provided with the D435 cameras as well as a bunch of other cables and adapters.
I know that one of the cameras and some of the cables/adapters are definitely working because I c

[2020-02-10 01:51] RealSenseCustomerSupport commented on #5739
----------------------------------------------

@Uvindu Could you please update?Thanks!

[2020-02-10 01:54] RealSenseCustomerSupport commented on #5723
----------------------------------------------

@byeongkyu Could you please provide more information as ev-mp commented? Thanks!

[2020-02-10 01:54] RealSenseCustomerSupport commented on #5696
----------------------------------------------

@ASSSTUM Any update from your side?  Thanks!

[2020-02-10 02:42] DavidCadtec commented on #4762
@realsens01
I did not mention in my post that "i've solved the problem" ... i just stated (and repeat here...): "it's a way to at least get the bag file properly created ..."
Just by calling the pipeline.stop should already be enough to generate the bag file properly ... So (i agree with you...) the issue remains open ...
But now, at least, i can get bag files with the videos recorded ...
My seque

[2020-02-10 03:15] RealSenseCustomerSupport commented on #5781
----------------------------------------------

Hi Allius27
The hardware reset should able to change the USB2 connection to USB3 connection if there is no USB3 signal integrity issue
there do some way to disable/enable the USB port that cause USB port re-enumerated the device that you can find on the website
but in your case, it looks the after hardware reset command is issued,
host try to enumera

[2020-02-10 06:46] weseu opened #5820 "TX2 Realsense-view show error:RS2_USB_STATUS_ACCESS"
----------------------------------------------------------------------------------------------------

| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       |  SR305  |
| Firmware Version                   |  2.22.0  |
| Operating

[2020-02-10 06:47] weseu commented on #5820
by the way, jetpack version is 4.2

[2020-02-10 07:07] RealSenseCustomerSupport commented on #4890
----------------------------------------------

@kjacks21 Seen from "Product ID = 0B3A", are you using D435i when get the issue?

[2020-02-10 07:26] zainmehdi commented on #5725
Its seems like its more of a QT error than librealsense. i am still trying to figure out and update asap.

[2020-02-10 08:02] RealSenseCustomerSupport commented on #5813
----------------------------------------------

Hi RyanHCCSI,
-please try to use viewer embeded FW update tool to burn the recommended FW again to see if help

you can find that under the More tab at the upper right side of viewer

More->Install recommended FW ( 5.12.02.100)
you can also click the info tab to check the FW version

-when plug the camera to PC
under device manager, could you see bot

[2020-02-10 09:03] #5753 closed

[2020-02-10 09:46] Kevin-Delnoije commented on #5742
yes, the final objective is to align depth to color image, and then estimate distance of detected object.
[This](https://github.com/IntelRealSense/librealsense/blob/jupyter/notebooks/distance_to_object.ipynb) notebook does almost exactly what i want, except that it requires rosbag.
Is it possible to achieve the same with depth and color images only and perhaps a config file about camera settings?

[2020-02-10 09:53] harmvandeven commented on #5430
@dorodnic I'm really looking forward to the camera's I've pre-ordered. I won't be bothering you with delivery expectations ;) But I do have 2 questions in advance.

1. I'm planning to install the camera's on a ceiling, quite far away from my server room/computer. I know the camera will use USB 3, are there any recommended extenders? Have you tested anything with long cables?
2. Do you by any chanc

[2020-02-10 09:59] ArjanVroegop commented on #5804
Hi,

I think it's easier to align the frames before writing the depth data to your custom file format. Is this an option for you?

[2020-02-10 10:11] Pallav56 commented on #5767
While capturing the live stream, color frame gets refreshed according to FPS given, but depth frame having the same FPS is not getting refreshed with the same rate as color frame is.

[2020-02-10 10:21] ninamwa commented on #3990
Hi. Did anyone find a solution for this? I am having the exact same problem using my D435 camera.
In the GUI it says "Failed to start calibration", but if using the CLI version I get the message:

Serial Number: 831612070671
Device Name: Intel RealSense D435
Device PID:  0B07
FW version:  05.12.02.100

Calibration Type: Targeted
Laser Power: On
Auto Exposure: On
AE SetPoint: Auto
Resolution: 1280x

[2020-02-10 10:35] MartyG-RealSense commented on #5430
I'm not Dorodnic but I will offer my own 2 cents of opinion.   :)

1.  My personal recommendation for a supplier of USB extending cables and equipment is Newnex, who produce industrial-grade products that can extend a RealSense camera up to 100 meters with fiber optic cable.  My assumption would be that one of their cables should work as well with L515 as it does with the 400 Series cameras.

http

[2020-02-10 10:54] galikrosentalik commented on #4500
Hi, sorry for the delay.
I still suffering from this issue. can we re-open the issue?
is there any more info you need from me in order to investigate this issue?

[2020-02-10 11:22] smirkingman commented on #1181
I had these problems, all due to cheap cables in chineseum. Change cables
until you get consistent usb3. If your pc supports thunderbolt, use that,
works better still

On Mon, 10 Feb 2020, 00:53 a-m-p-m, <notifications@github.com> wrote:

[2020-02-10 11:40] DevastF commented on #3788
Yes, I have tried downgrading the FW version when the issue first occured.

[2020-02-10 11:41] DevastF commented on #3788
I have sent the camera for replacement, since the issue persisted for so long.

[2020-02-10 11:43] arkulinskis commented on #1181
You used it twice now in this thread, what is chineseum?

[2020-02-10 11:45] jb455 commented on #5742
You would need the intrinsics of both the depth and colour cameras and the extrinsics between them, and the depth scale.
Note, saving a colourised depth image as png won't allow you to recover the raw depth values for alignment - you would need to save in some format which stores each pixel as a ushort or something similar.

[2020-02-10 11:49] jb455 commented on #5804
You could use a `SoftwareDevice` ([example](https://github.com/IntelRealSense/librealsense/tree/master/wrappers/csharp/cs-tutorial-4-software-dev)) to read your colour and depth data then run whatever filters you want on them, including align, but as @ArjanVroegop pointed out it would probably be easier to align before writing your files.

[2020-02-10 12:26] Kevin-Delnoije commented on #5742
thanks that helps a lot,
I am saving the raw numpy array obtained from frame which has data type uint16 and is measured in millimeters for my current realsense camera.
If you know any examples (preferably python) that use the intrinsics and extrinsics for computing depth-alignment that would be greatly appreciated

[2020-02-10 12:57] jb455 commented on #5742
If you're not too worried about latency you can do:

1. [`rs2_deproject_pixel_to_point`](https://github.com/IntelRealSense/librealsense/blob/master/include/librealsense2/rsutil.h#L67) using depth intrinsics
2. [`rs2_transform_point_to_point`](https://github.com/IntelRealSense/librealsense/blob/master/include/librealsense2/rsutil.h#L126) using depth -> colour extrinsics to transform the point to th

[2020-02-10 13:27] Kevin-Delnoije commented on #5742
That sounds like a solution!
For now i am sticking with rosbag files since we are mostly using the color data in the dataset anyway.
ill update this issue if i decide to implement this

[2020-02-10 13:27] #5742 closed

[2020-02-10 13:28] dorodnic commented on #5803
Please provide more information

[2020-02-10 13:29] AleBasso80 commented on #5209
Hello,
I don't have enough data yet to tell. Why do you think that the new fw may
solve the issue? Did you find a bug in the previous one?

Regards
Alessandro

Il giorno ven 7 feb 2020 alle ore 02:21 RealSense Customer Support <
notifications@github.com> ha scritto:

[2020-02-10 14:14] giordyb commented on #5510
I'm having the same problem, realsense viewer works but python wrapper throws a "No Device connected" error.

my setup is the following:

[code]

[2020-02-10 14:52] #5153 closed

[2020-02-10 14:54] impet14 opened #5822 "filter pointcloud from binary image"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | { D400 } |
| Operating System & Version |   { Linux (Ubuntu 14/16/17)  |
| Kernel Version (Linux Only)    |  (e.g. 4.14.13)                                         |
| Platf

[2020-02-10 14:56] justnick21 commented on #2412
@RealSense-Customer-Engineering could you re-open this ticket please?

[2020-02-10 15:10] dorodnic commented on #5820
Usually this is related to udev rules installation script - depends on the method you installed the sdk (Debian / from source?)

[2020-02-10 15:12] dorodnic commented on #5822
Hi @impet14
It's not very clear what type of binary format you mean. We strongly recommend using built-in ROS-bag playback and record mechanism to serialise and deserialise frames. There are many other ways to store / load data, but if you chose a different format you are on your own.

[2020-02-10 15:21] dorodnic commented on #5733
Hi @JTrantow
Thanks for the fixes

[2020-02-10 15:21] #5733 closed

[2020-02-10 15:21] #5803 closed

[2020-02-10 15:22] sarathynp commented on #5803
Resolved. there was a dependency that was installed to move forward.

[2020-02-10 15:27] hcostelha commented on #5707
I am having this problem too, and it is driving me nuts. I have tried with the "single viewer" and through the one installed with the SDK. The samples work just fine, including the rs-pointcloud.exe, but both the viewer and the dept-quality applications close immediately after being opened (I do not even get to see a window pop up) . I have tried running through the command line (power shell) but

[2020-02-10 15:35] ev-mp commented on #5510
@giordyb , the Tegra kernel lacks IIO drivers required by the camera's IMU. In order to use it with D435i you have to compile the SDK with `-DFORCE_RSUSB_BACKEND=true` flag.

@nilendu7980, do you need support with the issue ?

[2020-02-10 15:51] ev-mp commented on #5819
@deepak-1530 , the camera's power management is governed by the USB protocol policies implemented in the controller/kernel.
 On most OS-es the transition from high to low-power state will occur automatically within 3 seconds* of idle operation (no streaming and no controls sent/received).
*The threshold can be reconfigured for Linux, probably for the other OS-es as well.

[2020-02-10 17:55] gayanbrahmanage commented on #2122
A possible reason could be adding a wrong  server to the list of repositories. Clear check of the list in

`System Settings -> Software and Updates -> Other software`

Eg: `"deb http://realsense-hw............`

and Start over the installation ;)

[2020-02-10 18:04] PsycIT opened #5823 "How to save infrared streaming video and fix .bag file open error?"
----------------------------------------------------------------------------------------------------

| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D415 |
| Firmware Version                   | pyrealsense2 2.32.1 |
| O

[2020-02-10 18:24] PsycIT commented on #5823
`from __future__ import print_function

from PIL import Image
from PIL import ImageTk
import tkinter as tki
import threading
import datetime
import cv2

import pyrealsense2 as rs
import numpy as np
import imageio

class RecordingApp:
    def __init__(self):
        self.thread = None
        self.stopEvent = None

        # initialize the root window and image panels
        self.root = tki.Tk()

[2020-02-10 19:20] RealSenseCustomerSupport commented on #3788
----------------------------------------------

@DevastF,

I am closing the issue since the camera will be replaced. Please do not hesitate to open a new issue if you have additional questions.

Thank you!

[2020-02-10 19:26] RealSenseCustomerSupport commented on #5666
----------------------------------------------

@DavidCadtec,

Do you experience the same issue when you are recording using LRS without Python Wrapper?

Thank you!

[2020-02-10 20:05] #3788 closed

[2020-02-10 20:35] m4xr1sk commented on #5527
Hi mvp,
thanks for your suggestion.
If I unplug/replug the USB it always works.
Now I'm able to work with the camera with this script:

[code]

If I don't use -e or -R it doesn't work.
Sleep commands are optional (rs-pose is the program that I use to test the camera).
Also, the camera works only if connected to the amazon hub.
If I connect the camera directly to the RPI it doesn't work.

At the mo

[2020-02-10 21:20] mvp commented on #5527
-R is an attempt to fully reset USB bus, should be similar to physical replugging and re-enumeration.

It should work when directly plugged in RPi4B, but you may need to reset all 4 ports with `sudo uhubctl -l 2 -a cycle -R`.

As for AmazonBasics hub and necessity to use -e, that is not normal. Can you please share output of `sudo uhubctl -l 2-2`? It should list both 2-2 and 1-1.2, and command `su

[2020-02-10 21:57] TheButlah commented on #5442
Any chance that this has been worked on since then? It's biting me in the butt once more :(

[2020-02-10 23:18] BeatrizAMartins opened #5824 "How to get depth data from raw file?"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D430  depth module |
| Operating System & Version |   Win 10  |
| Platform                                 | PC |
| SDK Version                            | 2.22.0 |
| Langu

[2020-02-10 23:26] ruffsl opened #5825 "Official support for ROS2"
Hello RealSense team, I'd like to ask if we could have official support for RealSense with ROS2. I'm opening the floor here, as the ROS2 RealSense package over on the intel org doesn't seem to be watched by many of the core RealSense maintainers. As you may know, the RealSense device is quite popular with the robotics community, made accessible to robotics via the current ROS1 wrapper package.

I

[2020-02-10 23:46] realsens01 commented on #4762
@DavidCadtec : Sorry. It's just my experience that the "support" here closes issues if there's even a hint that something has been solved. In the 1-2 years I've been using the product, I'm not sure they've ever actually resolved an issue. It's really frustrating.

Sorry. Thanks for clarifying.

See [my earlier post](https://github.com/IntelRealSense/librealsense/issues/4762#issue-487120855). Setti

[2020-02-11 00:11] SoraDevin commented on #3728
@RealSenseCustomerSupport can you reopen this please? I'm also seeing this issue.

[2020-02-11 00:34] RealSenseCustomerSupport commented on #5616
----------------------------------------------

@vishnukumarts Could you please update? If we don’t hear from you in 7 days, this issue will be closed. Thanks!

[2020-02-11 00:35] RealSenseCustomerSupport commented on #5339
----------------------------------------------

@subbuweb Could you please update? If we don’t hear from you in 7 days, this issue will be closed. Thanks!

[2020-02-11 00:36] RealSenseCustomerSupport commented on #4998
----------------------------------------------

@xilunaJumma Could you please update. If we don’t hear from you in 7 days, this issue will be closed. Thanks!

[2020-02-11 00:39] RealSenseCustomerSupport commented on #5453
----------------------------------------------

@vshalkov Any update from your side? If we don’t hear from you in 7 days, this issue will be closed. Thanks!

[2020-02-11 00:43] RealSenseCustomerSupport commented on #5371
----------------------------------------------

@xiao-keeplearning Any update from your side? If we don’t hear from you in 7 days, this issue will be closed. Thanks!

[2020-02-11 00:49] RealSenseCustomerSupport commented on #4929
----------------------------------------------

@yokoshou Did you get it through now? Looking forward to your reply.Thanks!

[2020-02-11 00:57] RealSenseCustomerSupport commented on #5728
----------------------------------------------

@AaronZettle Any update from your side? Looking forward to your reply. Thanks!

[2020-02-11 00:58] RealSenseCustomerSupport commented on #4964
----------------------------------------------

@yoichi0110  Could you please provide more about the exception details so that we can further look into it? Looking forward to your update. Thanks!

[2020-02-11 00:59] RealSenseCustomerSupport commented on #4469
----------------------------------------------

@knicos Did you get chance to try gdb to get the core dump information? Looking forward to your update. Thanks!

[2020-02-11 01:34] RealSenseCustomerSupport commented on #5145
----------------------------------------------

Hi @jruizaranguren,

Please invoke "-DFORCE_LIBUVC=true" flag when you are building the library from sources. This flag provides a user-space implementation version of kernel patches.
Please let us know if you still experience the same problem or if you need any further assistance with this matter.

Thank you!

[2020-02-11 02:03] RealSenseCustomerSupport commented on #5181
----------------------------------------------

@RodolfoAndrade  For depth, please modify the format from RS2_FORMAT_RGB8 to RS2_FORMAT_Z16 to try again?

    cfg.enable_stream(RS2_STREAM_DEPTH, -1, 640, 480, rs2_format::RS2_FORMAT_RGB8, 0);

[2020-02-11 02:08] RealSenseCustomerSupport commented on #5680
----------------------------------------------

@JasonHoon Is the camera with zero depth value related to one certain USB port? Or does it happen randomly on all the USB ports?

[2020-02-11 02:31] RealSenseCustomerSupport commented on #5209
----------------------------------------------

Hi Alessandro,

Please note, if the issue still exists in latest firmware (or relatively new), the development team will look into it because old firmware issues are not supported after new firmware came out. The issue of DSO-11040 doesn't look like same as what is described in your case, plus it was already fixed in 5.11.2 (Reportedly, you're using

[2020-02-11 02:46] RealSenseCustomerSupport commented on #5765
----------------------------------------------

@jiapei100 It might be the similar issue as that in the link below. Please refer to the solution to see it helps.

https://stackoverflow.com/a/49977872

[2020-02-11 02:53] RealSenseCustomerSupport commented on #5088
----------------------------------------------

@SirNightTW Any update from your side? Thanks!

[2020-02-11 02:53] RealSenseCustomerSupport commented on #4138
----------------------------------------------

@aaranta Did you get chance to try? Looking forward to your reply. Thanks!

[2020-02-11 03:34] weseu commented on #5820
I install the librealsense from  " https://github.com/Tengyun-Mo/buildLibrealsense2TX2 ".
if it is error at udev rules installation script. how to fix it?

[2020-02-11 05:26] a-m-p-m commented on #1181
@smirkingman :
I am using the cables which worked fine with D435 & D415 on several other computers.
I don't think the cables are the problem.

@unagiHuman :
What was the cause of your problem with D435?

[2020-02-11 06:34] ev-mp commented on #5779
@ShettyHarapanahalli , the function you're looking for is [`rs2_transform_point_to_point`](
https://github.com/IntelRealSense/librealsense/blob/master/include/librealsense2/rsutil.h#L126)

More on the topic of 2D and 3D correlation can be found in https://github.com/IntelRealSense/librealsense/wiki/Projection-in-RealSense-SDK-2.0

[2020-02-11 06:48] RealSenseCustomerSupport commented on #5775
----------------------------------------------

Hi, HowyZax,

Currently, we do have frame metadata that store the system or hardware (D5 ASIC) time stamp
but it not meet your need.

https://www.intel.com/content/dam/support/us/en/documents/emerging-technologies/intel-realsense-technology/RealSense_Multiple_Camera_WhitePaper.pdf

To synchronize with other camera, we have the pin 5 (sync pin) to oth

[2020-02-11 06:48] MartyG-RealSense commented on #5824
Files can be loaded into MATLAB with the **imread** instruction.  I recommend googling for 'matlab imread raw file''.  Here is an example site from such a search:

https://uk.mathworks.com/matlabcentral/fileexchange/66927-read-raw-camera-images

[2020-02-11 07:45] drfg0119 commented on #5773
Hi @RealSenseCustomerSupport , I got a problem about performance of SR305, when I use TX2 to connect it on the API(realsense-viewr_2.31.0), I didn't see the same results on PC. The work distance isn't that good on TX2.
Btw, the SDK version on TX2 I used is the same on PC.

[2020-02-11 07:49] drfg0119 commented on #5773
Hi @ev-mp , I got the problem you said, ha ha. I rebuild the Intel ros wrapper and solved the problem finally, thank you!

[2020-02-11 09:43] ShettyHarapanahalli commented on #5779
@ev-mp the Z values from get distance and transform_point_to_point do not match. (sharing the output for reference).

Depth Scale is:  0.0010000000474974513

 Distance at the selected pixel x:501,y:370 is: **2.820000171661377** mtr
 3D coordinates of the corresponding selected pixel x:0.0008112132200039923,y:0.0005335451569408178 and z:**0.002820000285282731**

 Distance at the selected pixel x:50

[2020-02-11 09:44] ninamwa opened #5827 "Cartographer with camera D435 and ROS2"
Hi. I want to use Cartographer together with my **D435 camera and ROS Eloquent, in Ubuntu 18.**
I have been trying to use this tutorial (https://intel.github.io/robot_devkit_doc/pages/rs_slam.html) but get some problems as I do not have the T265 camera. What I have done is to comment out the T265 node, and also change the tracking_frame from "camera_pose_optical_frame" to "base_link" as the first

[2020-02-11 09:47] ramilmsh commented on #3990
make sure you are using a USB 3 cable (it will have blue plastic inside)

[2020-02-11 09:50] ninamwa commented on #3990
Both the USB cable and port is blue inside (=USB3) so I think the problem must be something else..

[2020-02-11 10:02] MartyG-RealSense commented on #5827
A few years ago a complete hardware and software tutorial for building a RealSense turtlebot was published.  It was designed for the old RealSense R200 camera and gmapping instead of Cartographer, but the author said that a 400 Series camera and Cartographer could be substituted into the design.

https://software.intel.com/en-us/articles/build-an-autonomous-mobile-robot-with-the-intel-realsense-ca

[2020-02-11 12:26] wangroger0801 opened #5828 "Multi-camera issue: After connecting the sixth camera, its motion frame doesn't arrive"
----------------------------------------------------------------------------------------------------

| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D435i |
| Firmware Version                   | 05.12.02.100 |
| Operati

[2020-02-11 12:41] galikrosentalik opened #5829 "T265- getting pose and fisheye frame"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | T265 |
| Firmware Version                   |  0.2.0.926 |
| Operating System & Version |  Linux (Ubuntu 18)  |
| Kernel Version |  4.15.0-54-generic |
| Platform

[2020-02-11 13:08] galikrosentalik opened #5830 "Unable to debug T265, still.."
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | T265 |
| Firmware Version                   | 0.0.18.5715 |
| Operating System & Version |  Linux (Ubuntu 18) |
| Kernel Version (Linux Only)    |4.18.0-25|
| Platform

[2020-02-11 13:09] impet14 commented on #5822
Hi @dorodnic
Thank you very much for your answer. I understand the step to implement by rosbag because of your suggestion.
As we would like to do semantic segmentation from color image. Now we could get the mask image of object as a binary image however we would like to filter the pointcloud to get only the poindcloud of the object using mask image we got.

[2020-02-11 13:16] ev-mp commented on #5779
@ShettyHarapanahalli , `rs2_deproject_pixel_to_point` accepts depth in metric unit. Apply the following to correct:

            print(f"\r Distance at the selected pixel x:{x},y:{y} is: {dist} **mtr**")
            depth_point = rs.rs2_deproject_pixel_to_point(color_intrin,[x,y],**dist**~~*depth_scale~~)
            [x3d,y3d,z3d] = rs.rs2_transform_point_to_point(depth_to_color_extrin,depth_point

[2020-02-11 13:21] jiapei100 commented on #5765
@RealSenseCustomerSupport

- If I `export PYTHONHOME=/usr/bin`, I got the following **ERRORs**.

[code]

- If I `export PYTHONHOME="" `

[code]

That seems to be a **Python** bug....

[2020-02-11 13:23] ASSSTUM commented on #5696
Many thanks for all your support. I will test it as soon as possible. Than I will give you a feedback.

[2020-02-11 13:33] SirNightTW commented on #5088
Thanks for your reply.
But I'm not familiar with c++, it might be a little bit challenging to me.
I'll update this post if there's any new progress.

The input of align function in python seems to be `pyrealsense2.composite_frame` class
Is there any approach to combine depth and rgb images into `pyrealsense2.composite_frame` ?
If yes, aligning the frames offline might be easier.

[2020-02-11 13:46] RodolfoAndrade commented on #5181
I did the modification:
`cfg.enable_stream(RS2_STREAM_DEPTH, -1, 640, 480, rs2_format::RS2_FORMAT_Z16, 0);`
but it did not work. This was the output:
[code]

[2020-02-11 14:09] ShettyHarapanahalli commented on #5379
We can also use the pytorch3d, the example demonstrates the same -
https://github.com/facebookresearch/pytorch3d/blob/master/docs/tutorials/camera_position_optimization_with_differentiable_rendering.ipynb

[2020-02-11 16:46] Colinsiya opened #5831 "Building SDK Samples for Android OS"
----------------------------------------------------------------------------------------------------

| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D435 |
| Host machine | Linux with Ubuntu 18.04 |
| Platform

[2020-02-11 16:47] jiapei100 commented on #5765
@RealSenseCustomerSupport

Ok, I got one answer from [https://discuss.python.org/t/fatal-python-error-init-fs-encoding-failed-to-get-the-python-codec-of-the-filesystem-encoding](https://discuss.python.org/t/fatal-python-error-init-fs-encoding-failed-to-get-the-python-codec-of-the-filesystem-encoding/3173).

It looks like it's NOT a python bug. Then, it clearly is a bug from librealsense itself. My

[2020-02-11 16:50] BeatrizAMartins commented on #5824
@MartyG-RealSense thank you! But how can I access to depth data at one point from the raw file?

[2020-02-11 16:57] MartyG-RealSense commented on #5824
Do you mean that you would like to be able to get the depth from a single coordinate in the file, please?

[2020-02-11 17:05] #5407 closed

[2020-02-11 17:06] BeatrizAMartins commented on #5824
Yes, I would like to get the depth in a single coordinate from the raw file. Is it possible? Thank you!

[2020-02-11 17:22] ShettyHarapanahalli commented on #5808
Do we have the accuracy for each device at the minimum depth range (Z) assuming we operate at night to avoid lighting condition variations?

[2020-02-11 17:30] RealSenseCustomerSupport commented on #5799
----------------------------------------------

@bmegli, great write-up!
Thank you.

[2020-02-11 17:32] MartyG-RealSense commented on #5824
I researched your question carefully.  The link below seemed to be one of the most useful ones for getting depth data from the .raw file:

https://github.com/IntelRealSense/librealsense/issues/2231#issuecomment-416814331

[2020-02-11 17:45] BeatrizAMartins commented on #5824
Thank you for the link! Do you know if it's possible to do it in Matlab?

[2020-02-11 17:51] MartyG-RealSense commented on #5808
Although it is possible to describe accuracy with a single line, in truth it is more complex than that and depends on a range of factors.

The link below describes in detail the accuracy of the 400 Series cameras.

https://github.com/IntelRealSense/librealsense/issues/999#issuecomment-366407953

The official L515 information page's FAQ gives the following information for the L515's depth accuracy.

[2020-02-11 17:53] pascoa-pand opened #5832 "Question: Choosing specs to Intel D435"
| Camera Model                       | { **D400** } |
| Platform                                 | {**PC**} |
| Language                            |  {**opencv**/**python** }                          |
| Segment			|  {**others** }                          |

Hello all,

I've recently acquired a RealSense camera - Intel D435. I want to take full advantage of the camera, getting the most FPS and hi

[2020-02-11 18:03] #4969 closed

[2020-02-11 18:11] kafan1986 commented on #5822
@impet14
It is easy. Create the pointcloud for only the colour pixel obtained after applying the mask. If you are  currently creating point cloud for the entire image and only need this part, then this approach will save you computation.

Step 1: rs2_project_color_pixel_to_depth_pixel to bring colour pixel to depth pixel, one at a time.
Step 2: rs2_deproject_pixel_to_point to get the point from de

[2020-02-11 18:19] yousseb commented on #5527
Based on uhubctl by @mvp, I created the repo:

https://github.com/yousseb/t265_reset

which basically recycles the specific hub port that a T265 is connected to.
@mvp : Thanks for uhubctl

[2020-02-11 18:21] mvp commented on #5527
@yousseb , I would recommend just calling uhubctl instead. It will get updated over time

[2020-02-11 18:25] MartyG-RealSense commented on #5824
Most of the references related to getting raw coordinates in MATLAB seem to be related to Kinect cameras.

I did find some code an Intel support team member provided for reading a RealSense-made .raw file in MATLAB.

**FID = fopen('IntelDepth.raw');**
**DepthImage = fread(FID, [1280, 720], 'uint16')'**;
**fclose(FID);**

Make sure you configure the depth image as z16 (16 bit)

[2020-02-11 18:57] kafan1986 commented on #5832
Maybe for your case that you described D415 was a better choice, as the D415's FOV of both colour and depth match, whereas D435 depth sensor has much wider FOV compared to the RGB camera's FOV.

Anyways coming back to your question, the RGB camera produces images at 30 FPS and depth is data can be obtained upto 90 FPS (at different resolution), but for your use case you can obtain highest resoluti

[2020-02-11 19:00] radfordi commented on #5527
@mvp, we appreciate your point, but our goal with this repo is to eventually integrate it into `librealsense` so that the resetting would happen automatically for most users and would work on platforms, like Android and Windows, where we don't use `libusb`.  We are fully aware that this solution would always be less complete than just using `uhubctl` directly.

[2020-02-11 19:40] MartyG-RealSense commented on #5832
Thanks so much @kafan1986

If you anticipate using the camera for processing-intensive applications, I would recommend going for an i7 processor.

As Kafan said, processing will happen on the CPU by default since the Vision Processor D4 component inside the camera will do initial processing that a computer GPU would normally do if the D4 was not there.

If you get a machine with Nvidia graphics th

[2020-02-11 19:44] mvp commented on #5527
@radfordi , it will not work on Windows. It doesn't have ability to send control message directly to the hub

[2020-02-11 19:58] pascoa-pand commented on #5832
This was very enlightening. Thank you very much for your help and kind responses

[2020-02-11 19:58] #5832 closed

[2020-02-11 20:00] RealSenseCustomerSupport commented on #5794
----------------------------------------------

Please let us know if we can close this ticket or there is any further question.
Thank you.

[2020-02-11 21:52] RealSenseCustomerSupport commented on #5131
----------------------------------------------

Hi Sebastian,
Thank you very much for the update.
Closing this ticket now.

[2020-02-11 22:05] #5131 closed

[2020-02-11 22:16] giordyb commented on #5510
@ev-mp thanks, that did the trick for me!

[2020-02-11 23:10] RealSenseCustomerSupport commented on #5764
----------------------------------------------

The global timestamp you provided seems have much improved the delta between depth and color frame:

Before:

    System Time
    DEPTH: 1580683413**562**.93750 ms
    COLOR: 1580683413**489**.05615 ms

    DEPTH: 1580683413596.07446 ms
    COLOR: 1580683413522.41382 ms

    DEPTH: 1580683413629.44995 ms
    COLOR: 1580683413555.77124 ms

    DEPTH:

[2020-02-11 23:19] radfordi commented on #5527
Thanks, @mvp, for the heads up.  No need to test there now. :)

[2020-02-11 23:23] RealSenseCustomerSupport commented on #4414
----------------------------------------------

Just curious, is this problem still persist on the latest build (2.32.1?) of the RealSense SDK?

[2020-02-11 23:32] WasabiFan commented on #4414
We updated to 2.31 two weeks ago and haven't seen the issue yet but also haven't done extensive testing. I'll post back here when we've had some more time with it under load.

[2020-02-11 23:32] RyanHCCSI commented on #5813
The uninstall and reinstall seemed to do the trick. Thank you for your help.

[2020-02-11 23:32] #5813 closed

[2020-02-11 23:37] mvp commented on #5527
@yousseb, please change license on https://github.com/yousseb/t265_reset to GPL2 then. it is based mostly on uhubctl code, which is GPL2.

[2020-02-12 03:07] vocong25 commented on #5798
hi @MartyG-RealSense,

After few days trying to fix those bug, I found the way to overcome those problems.
`https://github.com/vocong25/librealsense_for_arm`
This is the step-by-step guideline which works on my Raspbian Buster - Kernel 4.19.97-v7l+ with Realsense F200.

Finally, thank you very much for your help!

[2020-02-12 04:02] bgilreath commented on #4031
Any progress on this? My issue results in same bulk_transfer with D435i on Jetson Nano, 4.9.140-tegra, RealSense ROS v2.2.8, Running with LibRealSense v2.28.1, Device FW version: 05.12.01.00

[2020-02-12 04:05] DreamLFairy opened #5833 "when using function "points.export_to_ply()",the Z value of the derived point cloud is negative"
After I used the function of "points.export_to_ply()",I used the software "MeshLab" to view the point cloud,I found that the Z value of the derived point cloud is negative .
You know,the object is in front of the camera, so the distance is supposed to be a postive number.
Thank you  for answering my question very much.

[2020-02-12 04:29] a-m-p-m commented on #1181
@RealSense-Customer-Engineering @RealSenseCustomerSupport
@jlgarcia75 @dorodnic :

Unfortunately, the issue persists.
Any suggestions, please?

[2020-02-12 04:46] impet14 commented on #5822
Hi @kafan1986
Thank you for your suggestion.
May I see additional code to be my guide?

[2020-02-12 05:54] RealSenseCustomerSupport commented on #5510
----------------------------------------------

@nilendu7980 Could you please provide the information below?

- Platform/OS/Kernel versions
- Camera type (`rs-enumerate-devices`)
- SDK and Pyrealsense versions used

[2020-02-12 06:15] nancibles opened #5834 "Aligning depth image (and pointcloud) to RGB image is slightly off in the vertical axis"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | { D415 } |
| Firmware Version                   | (Open RealSense Viewer --> Click info) |
| Operating System & Version |   {Win (10) |
| Platform

[2020-02-12 06:18] m4xr1sk commented on #5527
Directly connected to the RPI it doesn't work.
out1.txt is the output of sudo uhubctl -l 2 -a cycle -R
[out1.txt](https://github.com/IntelRealSense/librealsense/files/4190114/out1.txt)

Also with the param "cycle" and connected to the amazon hub it doesn't work.
out2.txt is the output of sudo uhubctl -l 2-2 -a cycle -R
[out2.txt](https://github.com/IntelRealSense/librealsense/files/4190119/out2.tx

[2020-02-12 06:35] byeongkyu commented on #5723
There are no special messages.

 12/02 15:34:15,511 WARNING [140170099660544] (backend-v4l2.cpp:973) Frames didn't arrived within 5 seconds
 12/02 15:34:20,515 WARNING [140170099660544] (backend-v4l2.cpp:973) Frames didn't arrived within 5 seconds
 12/02 15:34:29,856 WARNING [140170108053248] (backend-v4l2.cpp:973) Frames didn't arrived within 5 seconds
 12/02 15:34:30,687 WARNING [140170082875136

[2020-02-12 06:36] RealSenseCustomerSupport commented on #5743
----------------------------------------------

@nancibles
For your 1st question, did you apply the intrinsic parameters along with the extrinsic parameters between D415 and your camera? Seems no such processing in your code snippet.

For the 2nd question, the intrinsic parameters of the depth image and the color image are not the same. You can use rs-enumerate to check more details about these pa

[2020-02-12 06:46] MartyG-RealSense commented on #5798
Great work!  Thanks so much for developing your solution and sharing it.    :)

[2020-02-12 07:19] weseu commented on #5820
I fix it by running "sudo apt-get install utils".

thank you.

[2020-02-12 07:19] #5820 closed

[2020-02-12 07:45] MartyG-RealSense commented on #5834
The first point I would make is to recommend that alignment is performed after the post-processing filters are applied and not before the filters.  This is how the RealSense Viewer's point cloud does it.  Doing so helps to reduce the distortion effect known as aliasing.

It is also a good idea to calibrate the RealSense camera to eliminate that as a possible cause of mis-alignment.

The image seem

[2020-02-12 08:05] ev-mp commented on #5833
@DreamLFairy , that's correct.
During PLY export conversion the pointcloud coordinate system (CS) is re-aligned from East-Down-North (x-right,y-down,z-forward) to East-Up-South (x-right, y,-up, negative z - forward) for native compatibility with OpenGL CS and tools that  adhere to it such as MeshLab.
Note that during the transformation the  CS's "Right-handedness" is preserved.

[2020-02-12 08:08] kafan1986 commented on #5822
Look at this https://github.com/IntelRealSense/librealsense/issues/5440#issuecomment-566593866 and https://github.com/IntelRealSense/librealsense/issues/5603#issuecomment-574019008

[2020-02-12 08:13] RealSenseCustomerSupport commented on #5798
----------------------------------------------

@vocong25 Glad to hear the issue resolve. Thanks for sharing!

[2020-02-12 08:29] RealSenseCustomerSupport commented on #5777
----------------------------------------------

@jiapei100 With the reply from dorodnic, any other questions? Looking forward to your reply. Thanks!

[2020-02-12 08:41] alexbarnett12 commented on #4176
Hi @patrickpoirier51 , I am trying to use the T265 on a UAV for autonomous flight in outdoor environments. I have performed successful indoor autonomous flight, but as soon as I go outside the T265 pose estimate diverges and the drone loses control. I am guessing it is a mixture of my vibration and the increased scale of outdoor environments, since it works extremely well inside with the same vibr

[2020-02-12 09:06] #5798 closed

[2020-02-12 09:26] jb455 commented on #5743
The aligned depth image will have the intrinsics of the colour image if that's what you mean.

How are you doing the colour -> external alignment? One thing I would check is that your extrinsic calibration is good enough - you need plenty of photos at different angles and distances to get a good calibration. Also, make sure the external camera can't move relative to the realsense camera or you'll

[2020-02-12 10:05] patrickpoirier51 commented on #4176
@alexbarnett12
Going outdoor is definitely another ball game. Because of the fisheye lens the T265 is prone to light saturation when it gets sunlight.
Look here for my configuration, it has the sensor looking down and I added a "skirt" to reduce exposure
https://github.com/IntelRealSense/librealsense/issues/4681#issuecomment-528360702
You need good features on ground and stable platform
https://di

[2020-02-12 10:33] galikrosentalik opened #5835 "using new hardware_reset api causing application to stuck"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | T265 & D400 |
| Firmware Version                   | 0.2.0.926 |
| Operating System & Version | Linux (Ubuntu 18) |
| Kernel Version (Linux Only)    |  4.15.0-54-generic |
|

[2020-02-12 11:00] aksharif05 commented on #4707
T265 support now in Unreal

[2020-02-12 11:03] aksharif05 opened #5836 "T265 suppor now in Unreal Engine"
* Before opening a new issue, we wanted to provide you with some useful suggestions (Click "Preview" above for a better view):

    * Consider checking out SDK [examples](https://github.com/IntelRealSense/librealsense/tree/master/examples#sample-code-for-intel-realsense-cameras).
    * Have you looked in our [documentations](https://github.com/IntelRealSense/librealsense/tree/master/doc#useful-lin

[2020-02-12 12:17] schmiran commented on #5828
Hello, I have the same problem.

I am running Ubuntu 18.04.4 LTS - 5.3.0-28-generic. The installation of realsense 2.32.1 via the Debian package worked without error messages. Also the kernel patch:

[code]

Whether I use the sensors inside ROS or just the realsense-viewer. Starting with the 4th sensor I get the error message:

[code]

I have exchanged the cables, as well as the ports, the error a

[2020-02-12 14:09] wangroger0801 commented on #5828
Hello @schmiran ,

Today we rebuilt the library from development branch (Latest commit d3980b2).
New library v2.32.1 and new firmware 5.12.02.100
It seems that we get rid of the error messages saying `metadata node-/dev/video23 was already been assigned `. Is it something you can do a try-out?

**However the motion frame is still not arrived from the sixth cameras**
New error messages when I switc

[2020-02-12 14:21] wangroger0801 commented on #5828
Well... I found out the same error `metadata node-/dev/video23 was already been assigned` after I enable the advanced mode in realsense viewer

[2020-02-12 15:10] westparezal2 commented on #3863
same here

[2020-02-12 15:19] bmegli commented on #5799
Related to  #3259, #4819

[2020-02-12 17:03] RealSenseCustomerSupport commented on #4915
----------------------------------------------

Hi @MingheCao

Will you be needing further assistance with this? Otherwise we can close this issue.

**If we don’t hear from you in 7 days, this issue will be closed.**

[2020-02-12 17:24] RealSenseCustomerSupport commented on #5807
----------------------------------------------

Hi @BananaHemic

Thanks for the notification here.  Can you provide screenshots or logs that outline the deadlock you're were able to see during your debug?

[2020-02-12 17:41] RealSenseCustomerSupport commented on #4414
----------------------------------------------

Thank you so much for the update.

[2020-02-12 17:54] radfordi commented on #4176
@alexbarnett12, I would concentrate on mechanical dampening.  The T265 gets scale from two places,  one is stereo and the other is the accelerometer.    When you are 60ft up in a done, stereo is close to useless, as the baseline is too small compared to that distance, so we have to rely on the accelerometer.  I see acceleration noise greater than 1g!   That's going to cause problems for scale reco

[2020-02-12 18:48] RealSenseCustomerSupport commented on #5816
----------------------------------------------

Hello sarathynp,

Can you let us know a little bit more details about how to reproduce the "issue"? as I tried back and forth on different firmware versions under LRS2.32.1, but couldn't reproduce this problem on D435i.

Thanks

**Please be informed that we will close this ticket in seven (7) days if we have not heard back from you.

[2020-02-12 18:52] nawara72 commented on #5764
Thanks for your help, yes you are right delta has improved but the frame counter is off. Should I be using the frame counters for any sort of synchronization indications??

Thanks

[2020-02-12 19:04] #5514 closed

[2020-02-12 19:59] JTrantow commented on #5731
Pull has been merged.

[2020-02-12 19:59] #5731 closed

[2020-02-12 20:31] nancibles commented on #5834
Thanks for your response. I ran the dynamic calibration tool and decided to hold off on the post-processing altogether for now. The images don't seem to be very much improved in terms of the severe occlusion, as this is what it looks like now. (I've put the same images horizontal/vertical just to visualize it better) I'm wondering if there's a way to improve this?

![image](https://user-images.git

[2020-02-12 20:33] benhanginaround commented on #5154
Hello,
This issue apparently didn't make it into FW5.12.1.0 (or 5.12.2.1). Do you have an update for when this bug should be resolved?
Thank you

[2020-02-12 20:36] nancibles commented on #5743
Currently, I am using the MATLAB Stereo Camera Calibrator to obtain the extrinsic parameters. I have fixed the two cameras in place, and use a set of ~25 pairs of images from the D415's RGB camera and my external camera and the error from this calibration is very low.

I have a separate script that applies the extrinsic parameters to reproject the pointcloud so it is "from the same perspective" as

[2020-02-12 20:42] BananaHemic commented on #5807
Thanks for the reply, there was nothing unusual in the logs, everything operates normally until Unity exits play mode