[2019-11-06 07:36] RealSenseCustomerSupport commented on #4993
----------------------------------------------

@kazu0622 If you want to load json file with the parameter 'secondpeakdelta' DS Second Peak Threshold, I think you can use RealSenseViewer to adjust this parameter and save the configuration to your own json file.  Below is one json file example after the modification of this parameter.  Also I attached one code snippet to enable advanced control and

[2019-11-06 08:08] MartyG-RealSense commented on #5182
Reading through the code, it gives me the impression that it is setting the variable **ps.Options[Option.EnablePoseJumping].Value** to '0' and then printing out the value (0) stored in that variable, rather than printing the actual current status of the pose jumping function.  If so, this would give an incorrect impression that pose jumping is disabled when it is actually still enabled.  What do y

[2019-11-06 08:12] mickeyouyou commented on #5192
sounds good 👍

[2019-11-06 08:15] RealSenseCustomerSupport commented on #5091
----------------------------------------------

Hi @evercoast-smm,

We have ColorCorrection values showing in the BKM doc and json file. This value is used to remove the impact of IR pattern, only working for D415.
Can we know what you plan to do?

[2019-11-06 08:20] RealSenseCustomerSupport commented on #4997
----------------------------------------------

Hi @Lee-daeho,

It's great that the issue is resolved. As @ev-mp mentioned, running librealsense apps with SR300 should work without internet. But, during the SDK configuration and building stage, the internet is required due to downloading some packages/firmwares from internet.

If no further question for this topic, will close this.

[2019-11-06 08:34] neilyoung commented on #5192
@MartyG-RealSense

Wow. Congratulations to that great update. I already tested the relocation feature and it works! I just now need an explanation, what practically can be achieved with this feature. It is just "Hey, I have found, I know this place?", since the translation coordinates are not changing to some value, which has seen in a previous run or what can be done with it?

Besides that there

[2019-11-06 08:50] MartyG-RealSense commented on #5194
The **rs_measure** sample program demonstrates code in its first lines to set the color scheme with the RS2_OPTION_COLOR_SCHEME instruction.

https://github.com/IntelRealSense/librealsense/tree/master/examples/measure#code-overview

[2019-11-06 08:54] neilyoung opened #5195 "T265: Unknown SensorType support (0xC)"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | T265 |
| Firmware Version                   | 0.2.0.857 |
| Operating System & Version |  Ubuntu 16.04 |
| Kernel Version (Linux Only)    |  4.15.0-66 generic

[2019-11-06 08:54] ev-mp commented on #5177
@jaehwan-pi , the results presented in your [previous post](https://github.com/IntelRealSense/librealsense/issues/5177#issuecomment-549790528) show significant deviations in steps 5 and 6 that apparently weren't rectified by calibration:

Position 1
viwer: 9.73(motion correction on), 9.48(motion correction off)
rs-motion: 9.72
Position 2
viwer: 9.78(motion correction on), 9.58(motion correction of

[2019-11-06 08:58] neilyoung commented on #5178
Update and correction to my post above: The `yaw` value goes from 0 to 180 and -180 to 0 again while rotating right. So ok. Any confirmation?

[2019-11-06 09:04] MartyG-RealSense commented on #5192
Glad you're excited by the update!

I do not have any further information about the workings of RS2_NOTIFICATION_CATEGORY_POSE_RELOCALIZATION at this time.

Yes, please open a separate issue about your file extension problem.  Thanks!

[2019-11-06 09:05] iPsych commented on #5136
@RealSenseCustomerSupport @ElnazTaqizadeh
Yes, After re-install libusb using homebrew, and set the env variable using /bin/launchctl setenv LIBRARY_PATH /usr/local/lib, it resolves the issue.

[2019-11-06 09:13] neilyoung commented on #5178
OK, no further confirmation necessary. My algorithm is right. It gives exactly the same values, if I alter the `t265_rpy.py` example and adding these lines at the end of the `for` loop:

[code]

So instead of the some opaque matrix witchcraft (no attack) a maybe more easier to understand approach.

q.e.d.

[2019-11-06 09:21] neilyoung opened #5196 "Realsense-Viewer: Minor issue with file name of saved/loaded map"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | T265 |
| Firmware Version                   | 0.2.0.857 |
| Operating System & Version |  Ubuntu 16.04 |
| Kernel Version (Linux Only)    |  4.15.0-66 generic

[2019-11-06 09:31] neilyoung commented on #5136
@iPsych Does this mean you are able to build the latest 2.30.0 SDK on macOS Catalina? And does it also provide full T265 support? Asking this because T265 support is still officially not supported on macOS.

[2019-11-06 09:32] iPsych commented on #5136
@neilyoung No, I am staying High-Sierra, since Mojave and Catalina have a lot of stability problems in my projects. I am using D435.

[2019-11-06 09:45] neilyoung commented on #5136
@iPsych OK, not a thing. I think I'm going to give it a try, nevertheless. Thanks.

[2019-11-06 09:45] zeralight opened #5197 "Example rs-align-advanced crashes"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D415 } |
| Firmware Version                   | 05.11.15.00  |
| Operating System & Version |   Ubuntu 18.04  |
| Kernel Version (Linux Only)    |  5.0.0.32-generic

[2019-11-06 09:51] honpong commented on #5184
@neilyoung, at line https://github.com/IntelRealSense/librealsense/blob/9f99fa9a509555f85bffc15ce27531aaa6db6f7e/examples/pose-apriltag/rs-pose-apriltag.cpp#L214

`tags.pose_in_camera[t]` is the tag position and orientation in camera coordinate.
`tags.pose_in_world[t]` is the tag position and orientation in world coordinate which is the same as the camera pose coordinate.
This example does **not**

[2019-11-06 10:11] jaehwan-pi commented on #5177
Here is my calibration result.

Device info:
    Name                          : 	Intel RealSense D435I
    Serial Number                 : 	843112072930
    Firmware Version              : 	05.11.06.250
5.11.6.250
    Recommended Firmware Version  : 	05.11.06.250
    Physical Port                 : 	/sys/devices/pci0000:00/0000:00:14.0/usb2/2-7/2-7:1.0/video4linux/video0
    Debug Op Code

[2019-11-06 10:33] neilyoung commented on #5184
Sorry,  but IMHO you are printing two lines: camera (rotation matrix and translation vector) and "world" (also rotation and translation). Both are different. From my understanding the "camera" is the pose of the camera in camera coordinates and "world" the the pose of the tag. Is this what you mean? Then we are on the same page.

[2019-11-06 10:50] pzoltowski commented on #4611
I have tested again with latest 2.30.0 version and it seems to work now on my macbook with MacOS Mojave - both adjusting exposure for IR camera and adjusting all controls for RGB camera. Great!

[2019-11-06 11:19] kafan1986 commented on #5185
I found the answer.

DepthFrame depth = f.as(Extension.DEPTH_FRAME);
Mat testMap = new Mat(depth.getHeight(),depth.getWidth(),CV_16UC1);
int size = (int) (testMap.total() * testMap.elemSize());
byte[] return_buff = new byte[size];
depth.getData(return_buff);
short[] shorts = new short[size/2];
ByteBuffer.wrap(return_buff).order(ByteOrder.LITTLE_ENDIAN).asShortBuffer().get(shorts);
testMap.put(0, 0

[2019-11-06 11:19] #5185 closed

[2019-11-06 11:21] Grandzxw commented on #5166
I remove the  DKMS package,and I follow the installation guide but when I run  ./scripts/patch-realsense-ubuntu-lts.sh ,it still happens:
Replacing videodev  -
	Applying the patched module ... modprobe: ERROR: could not insert 'videodev': Required key not available
Failed to insert the patched module. Operation is aborted, the original module is restored
Verify that the current kernel version is a

[2019-11-06 11:22] neilyoung commented on #5178
Created a PR to the development branch. Added a new python sample. https://github.com/IntelRealSense/librealsense/pull/5198

[2019-11-06 11:35] MartyG-RealSense commented on #5178
Thanks so much for your dedication to the community!

[2019-11-06 11:37] neilyoung commented on #5178
You're welcome. I use this to gain more and more knowledge about this great technology. And since the support is that superior, it's time to pay back (or try at least) :))

[2019-11-06 12:12] honpong commented on #5184
No, “camera” is the tag pose in “camera” coordinate and “world” is the tag pose in “world” coordinate. Both are pose of the same tag, just in different coordinate systems.

[2019-11-06 12:17] gjd2017 commented on #5194
@MartyG-RealSense ，Thanks,  solved it!

[2019-11-06 12:19] MartyG-RealSense commented on #5194
Great news - good luck with your project!

[2019-11-06 12:20] ev-mp commented on #5177
The accelerometer's sensitivity matrix shows a notable bias for the third axis compared to the first two
1.019777 -0.003257 -0.024311 0.003639
0.022153 1.017656 -0.023045 0.035226
-0.016549 0.057250 1.017623 **0.249794**

I'm not an expert but this might be due to the camera's axes being not strictly orthogonal during the calibration process. (Putting @dmirota on notice)
Are you using level or any

[2019-11-06 12:24] gjd2017 commented on #5194
@MartyG-RealSense , hi, another questions:  rs-capture（linux-source code）gets different resolution: 480P(clolor-image) and 720P(depth-image)， how can I get the same size of resolution?

[2019-11-06 12:28] neilyoung commented on #5184
OK, I think I got it, with the exception of the "world" coordinate system. What exactly is that? I have heard/read this term in several samples/publications already, w/o having a really good idea, what that is. Especially if you say (a couple of posts above):

If it is the same as the camera pose coordinate, why it is different :)?

Sorry for being so hard-minded. Please bear with me.

[2019-11-06 12:56] MartyG-RealSense commented on #5194
As the 'P' refers to the number of horizontal lines in a resolution, I believe that 720P would be 1280x720, and 480p would be 858x480.

You can set a custom resolution with 'cfg' configuration instructions placed just before the pipe.start() instruction.  Typical instructions for this may be:

// Define the cfg variable

rs2::config cfg;

// Set the resolution and FPS of the depth an color streams

[2019-11-06 13:31] rofreli opened #5199 "External Power Supply"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D435i                                                      |
| Firmware Version                   | 5.11.15.0                                                 |
| Operating S

[2019-11-06 14:41] MartyG-RealSense commented on #5199
A straightforward solution to powering the camera from mains electricity instead of your computing hardware's USB port would be to plug the full-size USB A end of the camera's USB cable into a powered USB 3 hub.  The Intel RealSense team have successfully used the 4-port AmazonBasics powered hub with the 400 Series camera.

https://www.amazon.com/dp/B00DQFGH80/

[2019-11-06 15:47] evercoast-smm commented on #5091
Yes, the @agrunnet uses the CCM in the BKM white-paper to remove the IR pattern.

Our application domain is human reconstruction from multiple sensors. We do not run with auto-exposure on. Still, as expected, we note that depending on a variety of factors that the sensor's color profiles do not match.

So, our desire is to do a fairly standard color registration (aka normalization) across all the

[2019-11-06 16:45] rofreli commented on #5199
Thank you I will try this solution.

[2019-11-06 16:46] aparkov commented on #5193
the drivers checkbox **was** checked. To be more specific, in the _Device Manager_, the depth cameras are not showing under Imaging Devices; however, under _Universal Serial Bus devices_ there are _D415 Color_ and _D415 Depth_ showing (with the driver dated 12/29/2014, ver 23.56.40.396).

[2019-11-06 17:51] seanngpack commented on #5136
@neilyoung could you report back when you try the build on Catalina?

[2019-11-06 18:33] RealSenseCustomerSupport commented on #5024
----------------------------------------------

Thank you @lramati.
Closing this ticket if no further question.

[2019-11-06 18:39] RealSenseCustomerSupport commented on #5120
----------------------------------------------

Please let us know if further assistance is needed for this topic.
Thank you.

[2019-11-06 19:03] neilyoung commented on #5136
@seanngpack Sure

[2019-11-06 19:15] honpong commented on #5184
@neilyoung “world” is a name of a coordinate system. I may call it system1, system2, etc... Using the word “world” just means it is the system of the highest level known in the problem.

[2019-11-06 19:17] RealSenseCustomerSupport commented on #5087
----------------------------------------------

Hi @Dontla,

One can deem frame_handle to be a smart pointer that wraps an actual frame object. This abstraction  is very useful, for example, for concurrent processing of the same frame.
Please let us know if you need further clarifications regarding this topic.

Thank you!

[2019-11-06 20:21] neilyoung commented on #5184
Ah great. Thanks for the explanation. Didn’t expect this meaning of the word. Do you know about any good source of information for continued learning?

Thank you very much.

[2019-11-06 21:53] RealSenseCustomerSupport commented on #5168
----------------------------------------------

Hi ArniBarni

There is a lot of breakout boards in the market, i.e. https://www.digikey.com/product-detail/en/sparkfun-electronics/BOB-11771/1568-1208-ND/5673794?WT.srch=1&gclid=EAIaIQobChMIyZbYi8TW5QIVleNkCh3eOArMEAkYBCABEgLcAvD_BwE

If you can do some simple HW job, you should be able to DIY.

Thanks

**Please be informed that we will close this ti

[2019-11-06 22:05] RealSenseCustomerSupport commented on #4859
----------------------------------------------

Hi @sam59

People have been talking about 24 fps support.
There are actually several frame rates: 24 FPS, 23.98 FPS and 25 FPS.
Could you please elaborate what is the frame rate you are looking for and what is your application?
We are gathering the feedback and scoping the effort.

Thanks,

[2019-11-06 22:58] MartyG-RealSense opened #5201 "Announcement: Intel blog article on RealSense, mixed reality capture and the MixCast VR system"
Hi everyone,

The RealSense blog has posted an article on Mixed Reality Capture applications (not the same as mixed reality as it is usually understood), and the new MixCast VR system.

https://www.intelrealsense.com/mixed-reality-capture-using-depth-cameras/ 

For further understanding of the concept of RealSense cameras and VR, I recommend researching a 2016 / 2017 prototype headset with a RealS

[2019-11-06 23:33] sam598 commented on #4859
23.98 is the most common framerate used for film, television and streaming production right now.

24.00 is an older standard that comes from celluloid film cameras. 25.00 is a standard framerate sometimes used in Europe and Asia.

23.98 would be my recommendation as it would get the most use from filmmakers, and allow the RealSense cameras to be used in film and television production.

As for my o

[2019-11-07 00:00] jaehwan-pi commented on #5177
I used D435i sensor box as recommended in " "librealsense/tools/rs-imu-calibration/images/"
So I assumed that it is closely aligned to the horizontal/vertical.

[2019-11-07 01:10] dk67604 commented on #5010
I'll try on Windows 10

[2019-11-07 01:25] RealSenseCustomerSupport commented on #5072
----------------------------------------------

@aswinkumar2019 Any update from your side? Looking forward to your reply. Thanks!

[2019-11-07 01:31] gjd2017 commented on #5194
@MartyG-RealSense , Thanks your reply, It seems python wrappers, I want C++ wrappers, any way, thank you very much.

[2019-11-07 01:33] RealSenseCustomerSupport commented on #4880
----------------------------------------------

@EnrikDS I think you're using USB2 connection on Raspberry Pi B. For USB2 mode, 424x240@6fps is not supported. So please try below supported configuration.

1280x720@6fps

640x480@6,15,30fps

480x270@6,15,30,60fps

[2019-11-07 01:43] RealSenseCustomerSupport commented on #4704
----------------------------------------------

@neilyoung Glad to hear that. SDK v2.30 is also released now. Let's close the issue. Thanks!

[2019-11-07 01:51] RealSenseCustomerSupport commented on #4517
----------------------------------------------

@skomatin Do you have the camera now? Any update? Thanks!

[2019-11-07 01:52] RealSenseCustomerSupport commented on #4284
----------------------------------------------

@tmichals Any update from you side? Thanks!

[2019-11-07 01:53] RealSenseCustomerSupport commented on #4214
----------------------------------------------

@xtrawurs Any progress for the PR? Thanks!

[2019-11-07 02:02] RealSenseCustomerSupport commented on #5136
----------------------------------------------

@iPsych Glad to hear the issue resolved. Close it accordingly. Thanks!

[2019-11-07 02:04] #4704 closed

[2019-11-07 02:04] #4792 closed

[2019-11-07 02:04] #5136 closed

[2019-11-07 02:19] RealSenseCustomerSupport commented on #5075
----------------------------------------------

@nafidoni Sorry, currently we don't have such JAVA API yet. If native API also acceptable for you, you can refer to C++ rs-convert to write one native API. https://github.com/IntelRealSense/librealsense/tree/master/tools/convert

[2019-11-07 02:21] RealSenseCustomerSupport commented on #5062
----------------------------------------------

@@cdb0y511 If no other questions about this, will close it accordingly. Thanks!

[2019-11-07 02:22] RealSenseCustomerSupport commented on #5045
----------------------------------------------

@bilalghalib Could you please update? Thanks!

[2019-11-07 02:23] RealSenseCustomerSupport commented on #5039
----------------------------------------------

@tonyjonyjack Any update from your side? Thanks!

[2019-11-07 02:31] RealSenseCustomerSupport commented on #4893
----------------------------------------------

@Nir Could you provide more details about the issue so that we can continue to look into it? Thanks!

[2019-11-07 03:05] #5062 closed

[2019-11-07 05:30] RealSenseCustomerSupport commented on #5091
----------------------------------------------

Thanks for the explanation. @agrunnet, any comment about this?

[2019-11-07 07:02] MartyG-RealSense commented on #5194
The stream code that I used is C++.  Python versions of stream config instructions tend to use rs.stream instead of rs2.stream, like this Python example:

rs_config.enable_stream(rs.stream.depth, 1280, 720, rs.format.z16, frame_rate)

I should add that if you use cfg, your pipe start line should be:

**pipe.start(cfg)**

[2019-11-07 07:08] gjd2017 commented on #5194
@MartyG-RealSense ， Get it! Thank you very much.

[2019-11-07 07:27] GucciPrada commented on #4091
Yes, I will try it in the following days.
Thank you!

[2019-11-07 08:45] mintos002 commented on #5187
Finally found out that the problem was that I wasn't usint the **using** statments.

Now I have in the UI the depth and the color image streams working perfectly, but now I need to show the RGB thermal image (an `IntPtr`) stream.
The problem is that it's not a `RsDevice` object so I can't use the `RsStreamTextureRender` or at least that's what I think.
So any idea how I can show the thermal image

[2019-11-07 09:09] #5194 closed

[2019-11-07 09:29] lramati commented on #5124
This is added by #5200

[2019-11-07 09:54] nirshemesh commented on #4893
The FW version is 5.11.11.100 (D415) SDK version is 2.0. (Windows 10).

The average temporal error of the point cloud of a flat wall located around 80 [cm] from the camera is around 8[mm]. I want to understand if this is the accuracy I should expect from this model ?

My need to have accuracy of around 1mm...

As i said the pointcloud is "breathing" overtime (temporal),

Thanks

Nir

[2019-11-07 10:15] Grandzxw commented on #5166
can you help me?

[2019-11-07 10:24] MartyG-RealSense commented on #5166
@ev-mp can help with this question better than I can.  I do apologize.

[2019-11-07 10:30] ramilmsh commented on #3990
[code]

I have a similar problem. My calibration is stuck after printing Resolution: 1280x720x30 or (\#13 Resolution: 1280x720x30 in GUI). It is just a black screen with no feed. I have firmware v05.11.15.00, librealsense v2.29.0, and dynamic calibration tool v2.6.8.0. There is no camera feed or anything on the calibration screen

![screenshot](https://user-images.githubusercontent.com/12879621/68

[2019-11-07 12:50] ev-mp commented on #5166
@Grandzxw, we'll try to troubleshoot the situation.
I presume that the work-space is already in some unstable state as it seems that you've tried but couldn't install according to the guide above , thus we'll make less assumptions and perform more "assertive" actions.
1. Uninstall DKMS
[code]
2. Update the system to avoid/resolve broken packages:
[code]
3.  In case you recognize that a newer kerne

[2019-11-07 12:59] ev-mp commented on #5193
@aparkov hello, are you using the 32 or 64-bit win7 version ?
Can you post the snapshot of device manager view for review ?
Thank you

[2019-11-07 14:18] tmichals commented on #4284
Yes, I was able to get the T265 to connect to the RealSense Viewer by following JetsonHacks T265 Nano install and adding  "-DBUILD_WITH_TM2=true" flag ....   cmake ../ -DBUILD_WITH_TM2=true

For various other reasons when I am working on a roslaunch for realsense, I may loose the T265 connection again .... but rebuilding with flag fixes that problem.   T265 works as long as I do not create a rosla

[2019-11-07 15:07] hassan-shehawy opened #5203 "r200 calibration doesn't work"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       |  R200 |
| Firmware Version                   | 1.0.72.10 |
| Operating System & Version |   Win 10  |                                        |
| Platform

[2019-11-07 15:26] agrunnet commented on #5091
I will answer the flow: this is done on-chip. It is in a flow that is parallel to the depth so any changes to color correction do not affect depth at all.

[2019-11-07 15:46] MartyG-RealSense commented on #5203
This forum will be the best place to discuss your question, as the Intel Support forum that you also posted at is an old forum no longer responded to by Intel Support staff.   I will re-post my response here.

This error with the calibrator usually occurs on devices with pen support such as Wacom MobileStudio Pro and Acer Aspire Switch 12. An R200 camera typically does not need to be recalibrated.

[2019-11-07 16:07] evercoast-smm commented on #5091
Thank you @agrunnet. Your comment raised a question I hadn't previously considered. Is it possible to set the CCM for the color sensor?

[2019-11-07 16:09] aparkov commented on #5193
Win7 Pro, 64-bit.
Device mgr snapshots:
![image](https://user-images.githubusercontent.com/57420094/68405661-1df2a080-0146-11ea-8694-49b9a6366927.png)

![image](https://user-images.githubusercontent.com/57420094/68405838-6ad67700-0146-11ea-9feb-a5c213010dac.png)

[2019-11-07 16:15] hassan-shehawy commented on #5203
Thanks for your response. Disabling it doesn't solve the problem, I still get the same error

[2019-11-07 16:40] RealSenseCustomerSupport commented on #4859
----------------------------------------------

Hi @sam59
Thanks for the great feedback!

[2019-11-07 16:53] MartyG-RealSense commented on #5203
Researching the issue, it seems to have become far more widespread, increasing from a handful of reports a couple of years ago to many on multiple sites across the internet.  It was thought that the problem may be due to the calibrator no longer working with modern versions of Windows 10.  If this is the case, it would help to explain why more and more people have reported this error in 2019 as th

[2019-11-07 17:34] MartyG-RealSense commented on #5203
Though calibration can be a factor in image quality, environmental factors such as lighting levels and types of lighting can have an effect on the waviness of a point cloud too.  Could you provide details please about how light it is in the location that the cloud is being generated in (dark / normal / bright lighting) and whether you are using bulb-based lights or ceiling strip-lights.  Thanks!

[2019-11-07 18:04] #5067 closed

[2019-11-07 18:04] #5082 closed

[2019-11-07 18:12] RealSenseCustomerSupport commented on #5054
----------------------------------------------

Hi @policchio,

Did you have a chance to try the workaround solution provided by @ogoshen? Please let us know if you need any further help with this matter.

Thank you!

[2019-11-07 19:29] neilyoung commented on #5136
@seanngpack Sorry, was not even able to generate a Makefile...:( Since it is not my priority I'm not pursuing this any further. At least the gist here is nonsense from first to last on Catalina :)

https://github.com/IntelRealSense/librealsense/blob/master/doc/installation_osx.md

[2019-11-07 19:42] harville commented on #5101
Thanks for the helpful feedback, @neilyoung . It would be great to get some clarifications on your issue:

- What exactly does the title of this ticket mean: Were you seeing no pose data at all being sent by the device for some time? Or was the data being sent, but was NaNs? 5000 is seconds, msec, samples?
- You mention you can reproduce by pointing camera at a white wall, in a dark room, or cover

[2019-11-07 19:48] daothanlong11 opened #5206 "Intel Realsense Calibration Algorithm"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       |  D415  |
| Firmware Version                   |  |
| Operating System & Version |    Linux (Ubuntu 18.04 LTS)  |
| Kernel Version (Linux Only)    |  5.0

[2019-11-07 19:52] ajshank opened #5207 "T265: lower rate, more robust pose"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       |  T265 |
| Firmware Version                   | All |
| Operating System & Version |   All  |
| Kernel Version (Linux Only)    |  All                                       |

[2019-11-07 20:06] neilyoung commented on #5101
@harville Sorry for being not specific enough. I didn't mention the specific situation and context, which produces this error.

First of all: The problem is still existent in 2.30.0 pre-release

OK, start over. There is a python example called `t256_example.py`. I replaced the `for _ in range` loop by a `while (true):` in order to let it run for a while.

After the initialisation phase the script

[2019-11-07 20:10] neilyoung commented on #5184
Can I assume, that the `tag.pose_in_camera` translation vector meets the center of the tag? I still have some problems with the rotation matrix content of the `tag.pose_in_camera`, the `yaw` value makes not much sense to me, need to double check. But in case the translation vector describes the center of the tag, I could live with the `yaw` of the initial camera pose.

[2019-11-07 20:34] MartyG-RealSense commented on #5206
The 'Programmer Guide' for the RealSense 400 Series' Dynamic Calibrator software tool may be a useful reference for you.

https://www.intel.com/content/www/us/en/support/articles/000026724/emerging-technologies/intel-realsense-technology.html

The guide states: "Users are free to use the example code, but the Intel calibration algorithms contained in the API library is not open source and only ava

[2019-11-07 20:37] ev-mp commented on #5172
@hobbitsyfeet, can you provide the json you're using and also post the camera info ?
`rs-enumerate-devices -s`

[2019-11-07 20:46] daothanlong11 commented on #5206
Thanks for your answer so quickly:))
In the question 2, does the camera use any calibration algorithm in the opencv library?

[2019-11-07 20:55] MartyG-RealSense commented on #5206
I hope the link below will be a useful reference for calibration with OpenCV.

https://github.com/IntelRealSense/librealsense/issues/2484

[2019-11-07 20:59] daothanlong11 commented on #5206
Thanks for all your answer, this help me a lots :))
I will close this issue

[2019-11-07 20:59] #5206 closed

[2019-11-08 00:14] RealSenseCustomerSupport commented on #5029
----------------------------------------------

Hi @evercoast-smm,

Please provide us with the following details about your system configuration :
how the cameras are connected to the host machine (direct connection, powered/unpowered hub, etc.)?
are all the cameras running the same FW Version (according to your information it's 05.11.15.00)?
are all the cameras connected to USB2/USB3/mixed/other?

[2019-11-08 01:39] stevendaniluk commented on #5047
I have been experimenting with a similar robot-sensor arrangement, with the realsense being placed on the front of the robot facing forward, ahead of the rear axle where the odometry estimate is computed.

Surprisingly, I found I did not have to apply any rotations in the odometry config file. It seems to be handling the conversion from the Twist message convention of x forward to the realsense fr

[2019-11-08 02:03] #5048 closed

[2019-11-08 04:14] kafan1986 commented on #5191
Can someone answer the above queries?

[2019-11-08 04:16] Grandzxw commented on #5166
when I follow your instructions , there happens two questions .the first is:
when I runs  sudo mv ubuntu-xenial-hwe-edge ubuntu-xenial-hwe-edge-prev/，it happens  MV: unable to get file state (STAT) for 'Ubuntu xenial HWE edge': no file or directory.
.then when I run ./scripts/patch-realsense-ubuntu-lts.sh  next. It still happens:
Replacing videodev  -
Module is resident, unloading ...  succeeded.

[2019-11-08 05:10] ramilmsh commented on #3990
@RealSenseCustomerSupport , the question is withdrawn. I have searched the issues some more and it turned out it was USB 2.1 issue, as soon as I found a USB 3 cable, calibration tool worked just fine.

But, on that note, could I make a request for some sort of descriptive error message? like "you are using USB 2.1, realsense might not work properly"?

[2019-11-08 05:32] ev-mp commented on #5166
@Grandzxw , the warning `required key not available` often indicates that the Secure Boot is turned on. Please provide the kernel log for confirmation, but at the same time you can follow [this comment](https://github.com/IntelRealSense/librealsense/issues/3354#issuecomment-469006598) to verify that it is turned off and then rerun the script. #2815, #3351

I've tried to follow this thread but stil

[2019-11-08 06:28] freemanlo commented on #5186
Hi @sumandeepb,

This looks like the USB bandwidth and power capability issue. How about only one D435i connected?
What's kind of platform you used?

[2019-11-08 07:05] neilyoung commented on #5178
@MartyG-RealSense OT question: Do you offer kind of payed support? I'm having a use case idea which I would like to discuss with one of your experts (not in this board), since there are some open questions to me.

[2019-11-08 07:11] sumandeepb commented on #5186
hi @freemanlo , there is only one device is connected. I just said that I have 8 D435i in stock, and only 2 of them have this issue. Rest of the 6 work fine. With same version of firmware. Hope that clarifies things.

[2019-11-08 07:52] MartyG-RealSense commented on #5178
Whilst there is an advanced tier of private RealSense support, it is usually only available to customers who will bring a significant level of 'return on investment' to Intel.  An example would be the intention to place an order for hundreds of thousands of RealSense cameras or camera boards.  Otherwise, this forum is the best place for T265 questions.

[2019-11-08 08:46] neilyoung commented on #5178
Makes sense. Thanks

[2019-11-08 09:50] Grandzxw commented on #5166
First thank you so much! Follow you instruction,I solve that question:required key not available.but after  I compile successfully,when I run realsense-viewer,it still happens:
 08/11 17:43:27,011 WARNING [140119205996288] (backend-v4l2.cpp:1148) Pixel format 36315752-1a66-a242-9065-d01814a likely requires patch for fourcc code RW16!
 08/11 17:43:32,062 WARNING [140119205996288] (types.cpp:48) set

[2019-11-08 10:03] #4036 closed

[2019-11-08 11:01] AleBasso80 opened #5209 "Depth module in D435 camera stops working"
| Camera Model                       |  Camera D435  |
| Firmware Version                   | 5.11.15.0 & 5.11.6.250 |
| Operating System & Version |   Ubuntu 16.04  |
| Kernel Version (Linux Only)    |  4.4.38-tegra  |
| Platform                                 | NVIDIA Jetson TX2 |
| SDK Version                            |   2.29.0   |
| Language                            |  C++ |
| Segment

[2019-11-08 11:08] Vaja787 opened #5210 "How to save regular to rosbag"
* Before opening a new issue, we wanted to provide you with some useful suggestions (Click "Preview" above for a better view):

    * Consider checking out SDK [examples](https://github.com/IntelRealSense/librealsense/tree/master/examples#sample-code-for-intel-realsense-cameras).
    * Have you looked in our [documentations](https://github.com/IntelRealSense/librealsense/tree/master/doc#useful-lin

[2019-11-08 11:19] MartyG-RealSense commented on #5209
RealSense 400 Series cameras can run indefinitely so long as they remain within temperature tolerances.  Officially this is 35 degrees C, though it can probably go up to 42 before problems start occurring.

According to the data sheet document for the 400 Series cameras, "the depth module implements a laser safety control circuit that adjusts laser drive output.  When laser power and depth streami

[2019-11-08 11:24] Grandzxw commented on #5166
**and when I run: sudo dmesg | tail -n 50 ，it happens:**

[   24.264400] Bluetooth: BNEP filters: protocol multicast
[   24.264402] Bluetooth: BNEP socket layer initialized
[   25.857530] PKCS#7 signature not signed with a trusted key
[   25.858001] bbswitch: version 0.8
[   25.858005] bbswitch: Found integrated VGA device 0000:00:02.0: \_SB_.PCI0.GFX0
[   25.858011] bbswitch: Found discrete VGA d

[2019-11-08 11:45] MartyG-RealSense commented on #5210
It sounds to me as though an ideal approach would be to use the ability of ROS to "split" a bag recording, automatically creating a new bag file after a specified duration and continuing on with the recording until the next time that the specified time period is reached.  So after every 3600 seconds of recording (60 minutes), a new bag file could be automatically started.

https://github.com/Intel

[2019-11-08 11:57] Vaja787 commented on #5210
Thanks, that is exactly what I needed, and it works. What I'd like about rs-record is that I can replay the bagfile in the realsense viewer. With ros record --split I'm not able to play back using realsense viewer. Which topics to I need to record to get the same format used by the viewer?

[2019-11-08 12:08] MartyG-RealSense commented on #5210
I'm not sure about this question of topics.  The link below does have a list of topics available to the RealSense ROS wrapper though, if that is any help.

https://github.com/IntelRealSense/realsense-ros#published-topics

[2019-11-08 12:31] Vaja787 commented on #5210
@MartyG-RealSense I learned that the rosbag produced by the viewer is not really a real rosbag when you compare it to the rs-record. Is there a way to integrate the --split to rs-record? and if so, where should it be added?

[2019-11-08 12:35] MartyG-RealSense commented on #5210
This subject is outside of my ROS knowledge, unfortunately.  One of the Intel RealSense team members who support this forum are likely to be able to offer good advice for your question.  I appreciate your patience.

[2019-11-08 13:14] AleBasso80 commented on #5209
Hello @MartyG-RealSense,
thank you for your quick reply.
What you said was my first thought also considering what the documentation describes, though during last summer I run some very long-running tests (3 months) in worse temperature conditions (environmental temperature about 10°C higher, so that the temperature within the case was higher as well) with the same case and the same acquisition and

[2019-11-08 13:24] MartyG-RealSense commented on #5209
A USB device may experience rapid overheating if there is a fault on the USB port or USB cable.  This kind of problem would typically manifest quickly though, with the casing of the device being hot to the touch within a few minutes.

There was also a past case of a camera temperature rise caused by overheating of a single-board computer, like the Jetson TX2 listed in your specification details at

[2019-11-08 13:35] AleBasso80 commented on #5209
During the tests I regularly log the Jetson and the realsense temperatures. After a quick ramp I don't notice any other significant change in these values, this is also why I don't know how to relate this issue with temperature, even if it looks very much so. Nevertheless I read on the realsense documentation that the access to the temperature device info should be limited to the development stage

[2019-11-08 13:37] AleBasso80 commented on #5209
PS: I know the new Framos device, unfortunately this is too big for my application.

[2019-11-08 13:39] #5191 closed

[2019-11-08 13:41] kafan1986 opened #5211 "D415: Question related to alignment and case design"
Required Info |  
-- | --
Camera Model | { D415 module}
Firmware Version | {05.11.15.00}
Operating System & Version | {Android}
Platform | {Arm-Odroid}
SDK Version | { 2.30.0 }
Language | {C++/Java }
Segment | {others }

A) Can RGB and depth camera be aligned with each working at different resolution. If yes, then to find one pixel's depth value (in RGB image) in depth data. Do I need to scale the

[2019-11-08 13:51] MartyG-RealSense commented on #5209
I went over all the reported symptoms again.  Another possibility that there may have been some kind of environmental event such as a flash of strong light that saturated the IR sensor, causing it to freeze.  In those circumstances, resetting the camera may correct it.   If you are not physically present all of the time, a **hardware_reset()** instruction can be added to an application's scripting

[2019-11-08 13:56] AleBasso80 commented on #5209
Thanks, I try to investigate in the direction you pointed out.

As regards the limitation, this is at page 38 of the camera datasheet:
3.6.7 Temperature Sensor
The stereo depth module is equipped with a thermal sensor that is used for laser
safety control (IR Projector). The RealSense library provides access to the thermal
sensor but it is not intended to be used by applications outside of develop

[2019-11-08 13:59] MartyG-RealSense commented on #5209
Thanks for the data sheet reference!  I guess that the information is suggesting that the temperature be treated as debug information.

[2019-11-08 14:01] AleBasso80 commented on #5209
Me too. Many thanks for your help. I'll let you know if I figure out what is actually happening.

[2019-11-08 15:20] JBBee commented on #5182
@MartyG-RealSense , the code above is using the Intel.Realsense C# wrapper so `ps.Options[Option.EnablePoseJumping].Value = 0;` is setting the pose jumping function and `ps2.Options[Option.EnablePoseJumping].Value` is reading the current value after starting the pipeline.  The code above sets it to zero before starting the pipeline, then once the pipeline is started it reads back a 1.  So my quest

[2019-11-08 15:35] abertonica commented on #975
Is documentation for Advanced Mode parameters still lacking?

[2019-11-08 15:39] MartyG-RealSense commented on #5182
I will have to defer this question to one of the Intel team such as @dorodnic since my coding knowledge is insufficient to provide a solution to this particular question.

[2019-11-08 16:18] JeremyBYU opened #5212 "D435i Motion Module Hardware Timestamps using LIBUVC"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       |  D435i  |
| Firmware Version                   | 05.11.15.00 |
| Operating System & Version |   Ubuntu 18.04  |
| Kernel Version (Linux Only)    |  Linux pop-os 5.3.0-20-gen

[2019-11-08 16:24] JeremyBYU commented on #4854
Here is something I have put together. I tested it and it seemed to work for me. It is adapted from rs-motion. It collects motion data (gyro, accel), on one thread, the other thread collects a frameset of rgb and depth. I provide counters on each sensor measurement to record an FPS and output to terminal.

[code]

[2019-11-08 16:48] xtrawurst commented on #4214
@RealSense-Customer-Engineering I'd do a PR but frankly I don't know how to do this through GitHub. The attached patch text file should contain everything that is needed though.

[2019-11-08 18:03] #4858 closed

[2019-11-08 18:12] argosvr commented on #5212
same problem here...

[2019-11-08 18:13] RealSenseCustomerSupport commented on #5037
----------------------------------------------

@lavaman71,

Do you still need help with this question?

[2019-11-08 18:23] neilyoung commented on #5207
If it would help to improve things, I would second that. But I doubt that it would. I think the whole engine is clocked by some sensor clock, and since the processing can catch up, this rate is just forwarded. In my experiences, it does also not overwhelm smaller devices (maybe Raspberry Pi Zero excluded) except on the USB interface. Also @ev-mp commented already on the data rate to be expected (h

[2019-11-08 18:34] ajshank commented on #5207
@neilyoung Yes, my interest in this has really nothing to do with overloaded communication interfaces. A lower data rate will probably help with robustness of the poses, and could even potentially cut some power demands (although that might be marginal if at all). Thanks for your vote :)

[2019-11-08 18:42] radfordi commented on #4543
If you've had problems with T265 on a Mac previously, then #5213 will likely address them.

[2019-11-08 18:43] radfordi commented on #4424
It's taken a while, but if you've had problems with T265 on a Mac previously, then #5213 will likely address them.

[2019-11-08 18:44] radfordi commented on #3386
If you've had problems with T265 on a Mac previously, then #5213 will likely address them.

[2019-11-08 18:50] radfordi commented on #4648
Hi @vladHoloArch, this PR #5213, replacing `libtm`, drastically simplifies the `librealsense` interface to the T265, and should give you some ideas for your Android port.

[2019-11-08 19:06] #5063 closed

[2019-11-08 19:06] #5080 closed

[2019-11-08 19:06] #4954 closed

[2019-11-08 19:20] neilyoung opened #5214 "T265: Still a few more doubts on apriltag pose detection sample...."
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | T265 |
| Firmware Version                   | 0.2.0.857 |
| Operating System & Version |  Ubuntu 16.04 |
| Kernel Version (Linux Only)    |  4.15.0-66 generic

[2019-11-08 19:30] neilyoung commented on #5207
@ajshank Sure, no doubt. Less power consumption could be a good reason for clocking it down. Would be nice to see if it makes a difference. I have measured a constant power consumption of 400 mA on a banana PI M2 Zero, whereas the power consumption of the camera was only around 150 mA.

[2019-11-08 19:32] neilyoung commented on #3386
If somebody, who has made a T265 run together with a Mac would share his build procedure, that would be awesome. I wasn't able to produce a makefile on Catalina yesterday... It's not in my focus, but I like my Mac more than my Ubuntu laptop...

[2019-11-08 19:50] RealSenseCustomerSupport commented on #4777
----------------------------------------------

Just curious if by any chance you have found the solution or w/a to convert bag into ply.
We are still not able to reproduce this issue on our side.

[2019-11-08 20:01] neilyoung commented on #5078
@dorodnic Would it be possible to give me a little pointer, how to view a T265 rosbag with the ROS viewer tools? Otherwise this issue can be closed.

[2019-11-08 20:45] Vaja787 commented on #5210
@RealSenseCustomerSupport Can you help me out to add the split function to rs-record?

[2019-11-08 21:16] liltrekkie commented on #4777
I actually have made some progress on this.

I moved the convert tool out of its folder, after which it refused to work at all then, which makes sense, I moved it back in the tools folder, how when I try to use the sample data, nothing happens. However, when I use my own bag file, It attempts to convert it, however, despite it saying 100%, nothing converts, and when you open the file, you get both

[2019-11-08 23:05] #5094 closed

[2019-11-09 00:03] kroq-gar78 commented on #4869
I am still getting the DKMS error on `librealsense2-dkms` version `1.3.6-0ubuntu0`, and `librealsense2` version `2.30.0-0~realsense0.1682`.

[2019-11-09 01:05] #4750 closed

[2019-11-09 01:05] #5102 closed

[2019-11-09 02:13] Grandzxw commented on #5166
**I can't find the same question with me.  can you give me some suggestion?**

[2019-11-09 07:23] Saminhasan5220 opened #5215 "How to plot point cloud data using matplotlib's scatter plot (3D)"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | {D400  |
| Firmware Version                   | 05.11.15.00|
| Operating System & Version |   Win (10) |
| Platform                                 | PC|
| Language

[2019-11-09 12:30] Andrew-fedoralabs opened #5216 "error: no matching function for call to 'rs2::frame::as()"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | T265 |
| Firmware Version                   | 0.2.0.857|
| Operating System & Version |   Ubuntu 18  |
| Kernel Version (Linux Only)    |  4.18

[2019-11-09 23:00] jaymzh commented on #4869
@RealSense-Customer-Engineering / @RealSenseCustomerSupport  - we're at the 1-month mark since your last comment. Any update?

[2019-11-10 00:46] drhalftone opened #5217 "realsense-viewer in 3d display mode crashes when connected to host using Google remote-desktop"
I'm running realsense-viewer on an Up board running Ubuntu 18.04 over a chrome-remote-desktop connection.  Displaying video in 2D mode works fine, but when I switch to 3D display mode, the entire system reboots.

[2019-11-10 04:36] mhkabir commented on #3844
@dorodnic Would you be able to share how to use the above API for controlling the emitter? Thanks!

[2019-11-10 06:54] zofnatb opened #5218 "Low fps when aligning depth to color in resolution 1270*720 - rs2 d435"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | { D435 } |
| Firmware Version                   | (Open RealSense Viewer ) |
| Operating System & Version |   { Linux (Ubuntu 16)   |
| Kernel Version (Linux Only)    |  (4.

[2019-11-10 08:19] MartyG-RealSense commented on #5218
Anther user who had low FPS performance with imshow and had also read #2321 got better results by building librealsense with CUDA support to offload processing work into the GPU.

https://github.com/IntelRealSense/librealsense/issues/2376

CUDA support is typically offered in Nvidia graphics chips.  The link below describes how to build with CUDA, and an alternative GPU offload method if you do no

[2019-11-10 08:23] zofnatb commented on #5218
Tanks, I will  try that and update :)

[2019-11-10 08:36] ev-mp commented on #5218
@zofnatb,  it is highly likely to be the case of CPU being fully utilized. Frame alignment operation is indeed CPU-intensive. You can use `htop` to get actual results.

I'm not sure that you can run CUDA on NUC but on the SDK level you need to verify that the library is compiled with optimizations turned on (`cmake .. -DCMAKE_BUILD_TYPE=release`)

BTW, the viewer does not generate aligned images.

[2019-11-10 08:56] ev-mp commented on #5166
@Grandzxw hello, what did you mean by

Did you manage to follow the reference link to disable secure boot in BIOS settings?
This is a key step to allow for kernel patching on the PC you're running.

I reviewed the attached kernel log and it reprots that the patches are is still not patches as needed:

[ 1173.687997] uvcvideo: Unknown video format 00000032-0000-0010-8000-00aa00389b71

You need prov

[2019-11-10 09:05] zofnatb commented on #5218
@MartyG-RealSense  I don't think I can use CUDA in my NUC.
@ev-mp  how can I verify that on my SDK level  the library is compiled with optimizations turned on (cmake .. -DCMAKE_BUILD_TYPE=release) ?  Sorry I'm very new to this.
thanks.

[2019-11-10 09:07] ev-mp commented on #5216
@Andrew-fedoralabs , there seem to be inconsistency between
https://dev.intelrealsense.com/docs/rs-pose and
https://github.com/IntelRealSense/librealsense/tree/master/examples/pose with the latter being the source.
Thanks for reporting - it will be rectified.
Till resolved follow the description in the [origin](https://github.com/IntelRealSense/librealsense/tree/master/examples/pose#code-overview)

[2019-11-10 09:13] Vaja787 commented on #5210
@MartyG-RealSense Maybe you can help me find a solution. My standards dropped over the weekend. Here is why: I tried recording with the viewer for a day, just to see if it was able to record for so long. It worked, however, this gets me stuck with a .bag file of 1.2 TB.... Unable to play it anywhere....

So, is there any method that lets me record smaller bag files? The --split function is not wor

[2019-11-10 09:23] MartyG-RealSense commented on #5210
One way to reduce bag file size when using rs-record-playback is to enable compression.  The lengthy discussion in the link below looks at this subject.   Also, in the RealSense Viewer, you can enable compression in the playback and record preferences in the Viewer's settings window.

https://github.com/IntelRealSense/librealsense/issues/4499

[2019-11-10 09:42] Vaja787 commented on #5210
@MartyG-RealSense Thank you for your amazingly quick response! If I look at this, I can't really relate. My goal is to record for 3 days, resulting in 3 TB of data. If compression even accomplish to have half the file size, I still have 1.5 TB.

I found issue [#4633](https://github.com/IntelRealSense/librealsense/issues/4633) very interesting. And I think this might provide me with a solution. Whe

[2019-11-10 09:43] ev-mp commented on #5218
@zofnatb, if you're using [Debian packages](https://github.com/IntelRealSense/librealsense/blob/master/doc/distribution_linux.md#installing-the-packages) then the optimizations are already turned on, so the FPS you get are probably very close to the max that NUC can provide.

In case you build the SDK [from source](https://github.com/IntelRealSense/librealsense/blob/master/doc/installation.md#buil

[2019-11-10 09:50] MartyG-RealSense commented on #5210
You are very welcome.   :)

The link below discusses a case similar to what you have in mind.  The user only wants to record when motion is detected across the camera centre-line in order to avoid recording a huge bag.   Dorodnic the RealSense SDK Manager gives advice on how this might be implemented.

https://github.com/IntelRealSense/librealsense/issues/2433#issuecomment-423957626

I am out of o

[2019-11-10 10:59] lxz1104 opened #5219 "Can't connect camera SR300"
After upgrade librealsense by apt , it can't detect and  connect the camera SR300 .
----------------------------------------------------------------------------------------------------

| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model

[2019-11-10 11:00] lxz1104 commented on #5219
The terminal output:
[code]

[2019-11-10 11:07] ev-mp commented on #5212
@JeremyBYU hello, please see answers inlined:

With all kernels v.416+ you get the standard HW timestamp for free (w/o kernel patches), You'd still need to apply the patches if you need the extended frame metadata - exposure, gain, laser poser, etc'. But if you're only interested in getting HW timestamps then using unmodified kernel should suffice.

The `backend_timestamp` is host-generated attrib

[2019-11-10 12:00] ev-mp commented on #5147
@dankamongmen , you can check the metadata attributes in `realsense-viewer`:
![Metadata_Show1](https://user-images.githubusercontent.com/17897861/68543629-4b4b8280-03c2-11ea-818d-34ced4ec4c1d.gif)

The warning `failed to query UVC control 1 on unit 3` can be disregarded as SDK handles it internally.

[2019-11-10 13:31] zofnatb commented on #5218
@ev-mp
Thank you very much for solving this problem.

[2019-11-10 13:31] #5218 closed

[2019-11-10 14:18] dorodnic commented on #5193
Hi @aparkov
I think manually unistalling device drivers of these two and re-installing the SDK should solve the issue. The fact that it states "D415 Color" instead of "D415 RGB" is an indication that it is still using the old driver.

[2019-11-10 15:10] Vaja787 commented on #5210
@MartyG-RealSense  I tried and I tried, without success :( I'm looking into the script of rs-record. I'm unfamiliar with C++ so it is difficult for me. However, I'm thinking, the scripts starts recording, and stops it after a given amount of time. Can it made into a loop, that it starts and stops recording in a loop, untill I say to it to stop it? I think this method makes most sense? But yet agai

[2019-11-10 18:02] daothanlong11 opened #5220 "GET INTRINSIC AND EXTRINSIC PARAMETER ONLY"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       |  D415  |
| Firmware Version                   |  |
| Operating System & Version |    Linux (Ubuntu 18.04 LTS)  |
| Kernel Version (Linux Only)    |  5.0

[2019-11-10 18:15] BlackieCen commented on #4957
Hi, I have the same problem as @kjacks21. I select a recorded device from a .bag-file but have the following error.
    depth_sensor = profile.get_device().first_depth_sensor()
RuntimeError: Could not find requested sensor type!
And it worked before well. Using D435 and firmware 05.11.10.0

[2019-11-10 18:23] kjacks21 commented on #4957
@BlackieCen try updating your pyrealsense2 version. That fixed into for me.

[2019-11-10 18:44] dankamongmen commented on #5147
Thanks, I should be able to look into this tomorrow (Monday 2019-11-11).

[2019-11-10 18:48] BlackieCen commented on #4957
@kjacks21 I tried. It works now! Thanks!

[2019-11-10 21:42] MartyG-RealSense commented on #5220
You can get the intrinsics and extrinsics of a camera with the instructions **get_intrinsics** and **get_extrinsics_to**.    Details of ways to do this are in the link below.

https://github.com/IntelRealSense/librealsense/issues/1706

[2019-11-10 21:42] #5211 closed

[2019-11-10 21:49] kafan1986 opened #5222 "D415: rs2_project_color_pixel_to_depth_pixel implementation for android available?"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | { D415} |
| Firmware Version                   | {05.11.15.00} |
| Operating System & Version |   {Android} |
| Platform                                 | {Odroid - ARM} |
|

[2019-11-10 22:40] MartyG-RealSense commented on #5210
I apologize for the delay in responding further.  I have been trying to think of.a way to solve this problem without C++ programming and as easily as possible.  My recommendation is to forget about rs-record-playback and instead record with the ROS bag split.  You should be able to play the bag back with ROS's own viewer tool called **rqt_bag**.

http://wiki.ros.org/rqt_bag

[2019-11-10 23:12] ajshank commented on #5214
@neilyoung If I recall, for apriltags, the _center_ of the tag should be the center of the frame (and not one of the edges). Have you had good results with this tag family in general (with, say, the base apriltags library)? I've seen that some tag families have weird detection issues/offsets.

As for your orientation of z-axis, it looks to me that z (blue) is always pointed into the tag in all you

[2019-11-11 00:30] JeremyBYU commented on #5212
Thank you for this thorough response. I will continue to use the libuvc/rsusb driver for now, since mostly all I care about is timestamps.  The only thing that you mentioned that I am a a little concerned with is this quote:

Just wondering if this implies that there might be an issue with speed when using libuvc.  However that is something that I can determine myself through my own tests.

[2019-11-11 00:49] Grandzxw commented on #5166
Thank you so much! I have solve it .

[2019-11-11 03:08] RealSenseCustomerSupport commented on #5139
----------------------------------------------

Hi @Kylemaycry,

Do you have any update to provide more debug info?

[2019-11-11 03:11] RealSenseCustomerSupport commented on #4221
----------------------------------------------

I will close this if no further response.

[2019-11-11 03:45] Kylemaycry commented on #5139
Still working on it

On Sun, Nov 10, 2019 at 10:08 PM RealSense Customer Support <
notifications@github.com> wrote:

[2019-11-11 03:50] Kylemaycry commented on #5139
From` rs-fw-logger.exe`

Waiting for RealSense device to connect...
RealSense device was connected...
Device Name: Intel RealSense D435I
Device Location: \\?\usb#vid_8086&pid_0b3a&mi_00#6&cd8de86&0&0000#{e5323777-f976-4f5b-9b55-b94699c46e44}\global

2019-11-10 22:47:23  FW_Log_Data:0F 00 00 00 A0 02 05 10 50 00 83 F0 C4 00 00 00 00 00 00 00 BD 63 88 1C A0 01 1D 10 26 00 63 52 01 00 14 00 8A 3B FC

[2019-11-11 03:54] Kylemaycry commented on #5139
From `rs-fw-logger.exe`

Waiting for RealSense device to connect...
RealSense device was connected...
Device Name: Intel RealSense D435I
Device Location: \\?\usb#vid_8086&pid_0b3a&mi_00#6&cd8de86&0&0000#{e5323777-f976-4f5b-9b55-b94699c46e44}\global

2019-11-10 22:53:03  FW_Log_Data:0F 00 00 00 A0 A1 1D 10 97 00 3E 84 01 00 14 00 8A 3B FC 3F B3 36 16 6C A0 01 26 10 07 00 EF 90 00 00 7F 07 00 00 00

[2019-11-11 03:56] Kylemaycry commented on #5139
From `rs-enumerate-devices`
Device info:
    Name                          :     Intel RealSense D435I
    Serial Number                 :     838412070598
    Firmware Version              :     05.10.13.00
    Recommended Firmware Version  :     05.11.15.00
    Physical Port                 :     \\?\usb#vid_8086&pid_0b3a&mi_00#6&cd8de86&0&0000#{e5323777-f976-4f5b-9b55-b94699c46e44}\global
    D

[2019-11-11 06:19] RealSenseCustomerSupport commented on #5143
----------------------------------------------

@ahuizxc Did you get it through with the explanation from ev-mp? Looking forward to your update. Thanks!

[2019-11-11 06:41] ev-mp commented on #5173
@JimXu1989 , the missing python interface for that  function is being reviewed in the PR linked above. You can download it for evaluation.

[2019-11-11 07:18] JimXu1989 commented on #5173
Hi, thanks a lot for your reply!
Do you mean rs2_project_color_pixel_to_depth_pixel  is avaiable for  RealSense SDK  v2.30.0?

[2019-11-11 07:22] RealSenseCustomerSupport commented on #4903
----------------------------------------------

@@wbing-xu Could you please update? Thanks!

[2019-11-11 07:49] dorodnic commented on #5217
I imagine this has something to do with your OpenGL graphics drivers. One thing that is likely to help is - click on the gears icon in right-top corner, go to settings, navigate to "Performance" tab and disable both "Use GLSL for Rendering" and "Use GLSL for Processing".

[2019-11-11 07:54] RealSenseCustomerSupport commented on #4893
----------------------------------------------

@nirshemesh According to section 4.7 in the datasheet https://www.intelrealsense.com/wp-content/uploads/2019/10/Intel-RealSense-D400-Series-Datasheet-Oct-2019.pdf , the temporal noise is ≤ 1% for D400 cameras(up to 2 Meters and 80% FOV). You can refer to https://dev.intelrealsense.com/docs/depth-post-processing and try post-processing to see if it he

[2019-11-11 07:59] dorodnic commented on #5216
It seems the problem is with how ReadMe.io is handling GitHub code snippets. I have updated the relevant document to render correctly

[2019-11-11 08:00] RealSenseCustomerSupport commented on #4284
----------------------------------------------

@tmichals Do you mean that sometimes you still get T265 disconnection issue if use roslaunch?  Which launch file did you run when get the issue?

[2019-11-11 08:04] dorodnic commented on #5215
Hi @Saminhasan5220
It's a valid question. I'm not an expert in python to help with this, but I think you are on the right track and the two pointcloud examples may help - [opencv_pointcloud_viewer.py](https://github.com/IntelRealSense/librealsense/blob/development/wrappers/python/examples/opencv_pointcloud_viewer.py) and [pyglet_pointcloud_viewer.py](https://github.com/IntelRealSense/librealsense/

[2019-11-11 08:13] RealSenseCustomerSupport commented on #4091
----------------------------------------------

@GucciPrada Thanks! Looking forward to your update.

[2019-11-11 08:26] neilyoung commented on #5214
@ajshank Thanks for commenting

I would expect this too, somehow. But meanwhile I have seen a couple of other detection frames. Most are centered at one of the upper or lower borders, but I also did see one, which was nailed to the bottom/left corner. But none of it have been positioned in the center of the tag so far.

I have absolutely no experiences with ATs. I just took the one which was bundl

[2019-11-11 09:18] giovannicairoli commented on #4854
thank you @JeremyBYU ,

I will try it as soon as possible

[2019-11-11 09:53] dorodnic commented on #5196
Thank you @neilyoung
We should address it eventually

[2019-11-11 09:58] dorodnic commented on #5182
Hi @JBBee
Sorry, this may be a bit confusing. The way to solve this is by using `Config` object, something like this:
[code]

[2019-11-11 10:53] dorodnic commented on #5174
Hi @zainmehdi
We are cross-compiling with Android toolchain in Travis - [.travis.yml](https://github.com/IntelRealSense/librealsense/blob/master/.travis.yml#L87). Maybe this can help.
I may be mistaken, but the wrong file format for Android is handled by [`set(CMAKE_EXE_LINKER_FLAGS "${CMAKE_EXE_LINKER_FLAGS} -fPIE -pie")`](https://github.com/IntelRealSense/librealsense/blob/master/CMake/android_c

[2019-11-11 11:01] #5162 closed

[2019-11-11 11:04] dorodnic commented on #5140
Seems like a mismatch between ROS wrapper version and installed librealsense version (installed version seem to be older than the one required by the wrapper)
I would uninstall any version of librealsense and the wrapper, clone/install both according to instructions on the ROS wrapper repo and try again.

[2019-11-11 11:39] dorodnic commented on #5158
The device is detected at OS level. Please share CMake output

[2019-11-11 11:42] dorodnic commented on #5000
Should be resolved now

[2019-11-11 11:43] dorodnic commented on #4986
Should be resolved now

[2019-11-11 11:46] dorodnic commented on #4799
Should be resolved now (with the latest release)

[2019-11-11 11:49] dorodnic commented on #4461
Should be resolved today

[2019-11-11 11:54] mintos002 opened #5223 "Can't debug the code because of System.Exception: Frame didn't arrived within 5000. UNITY"
---------------------------------------------------------------------------
| Camera Model                          | D435
| Firmware Version                      | 05.11.15.00
| Operating System & Version     | Win (10)
| Platform                                   | PC
| SDK Version                             | 2.29.0
| Language                                 | unity
---------------------------

[2019-11-11 11:54] #4413 closed

[2019-11-11 11:55] #4308 closed

[2019-11-11 12:10] mintos002 opened #5224 "Can't show public objects in RsDevice inspector. UNITY"
| Camera Model | D435
| Firmware Version | 05.11.15.00
| Operating System & Version | Win (10)
| Platform | PC
| SDK Version | 2.29.0
| Language | unity
---------------------------------------
Hello there.
I'm trying to modify the RsDevice.cs script to be able to show some public variables that I've added in the code to the Unity inspector. I've been able to use them createing a RsDevice object in

[2019-11-11 12:35] vladHoloArch opened #5225 "D435 orthographic to perspective projection matrix"
| Camera Model | D435
| Firmware Version | 05.11.15.00
| Operating System & Version | Win (10) / Android 8.1
| Platform | PC / Android
| SDK Version | 2.29.0
| Language | unity

Trying to get the perspective projection matrix derived from d435 rgb module, I've seen the example with ArBackground but it uses the orthographic projection, how to modify this matrix to fit my needs?
  var projectionMatr

[2019-11-11 13:22] dorodnic commented on #5137
Hi @TheBricktop
The problem makes sense, sorry for delay in response. There is unfortunately no built-in way to map one texture stream to another texture stream without one of them being depth. So probably using shader with extrinsics and extrinsics passed as uniforms. The following code may be useful as reference - [gl/pointcloud-gl.cpp:24-103](https://github.com/IntelRealSense/librealsense/blob/

[2019-11-11 13:38] SirDifferential commented on #4799
Confirmed working on latest master. Fantastic work. :elephant:

[2019-11-11 13:38] #4799 closed

[2019-11-11 13:38] SirDifferential commented on #4754
This no longer happens with latest master. Good work, everyone. :camel:

[2019-11-11 13:38] #4754 closed

[2019-11-11 14:23] RealSenseCustomerSupport commented on #4957
----------------------------------------------

@szx0112, it should be also working for you, right?

[2019-11-11 14:25] JeremyBYU commented on #5212
I think I just ran into an issue with something you just said:

I have a program that is modified from rs-motion.  Two rs:pipelines are created

1. One pipeline that monitors motion data through a callback. e.g. pipeline.start(config, callback). This puts it in a seperate thread.
2. Another pipeline that gets aligned rgb, depth camera data.  This is on the main thread using the blocking wait for f

[2019-11-11 14:29] ipa-mah commented on #5219
I have the similar issue when installing librealsense from source.
The `rs-multicam` only detects D435 camera. SR300 is not detected by the software

[2019-11-11 14:54] JeremyBYU commented on #5212
To make a clarification on why I am actually still using rsusb. My final deployment will be on a Raspberry Pi4. This seems to the recommended way to install realsense. I have been switching between Linux x86_64 (personal PC) and RPI4 buster x64 (experimental new 64 bit kernel)  and testing code between the two. It seems to be working okay except with this new issue.

[2019-11-11 15:49] kcshum commented on #5001
@supriyasathya1 I encountered the same error. How did you fix it?

[2019-11-11 15:56] lxz1104 commented on #5219
Yes,I'm install by source code.
And how can I fix this problem.

[2019-11-11 15:57] kcshum opened #5227 "OpenNI2 + Realsense D435: FrameSync not supported"
| Camera Model                       | D435 |
| Firmware Version                   | 05.11.06.250 |
| Operating System & Version | Win 10 |
| Platform                                 | PC |
| SDK Version                           | 2.30.0.1174 |

I encountered an error when using the OpenNI2 wrapper in my application.

[RS2] ERROR at FILE .../librealsense/wrappers/openni2/src/Rs2Driver.cpp LINE 25

[2019-11-11 16:08] JBBee commented on #5182
Ahh, thank you.  This worked great @dorodnic @MartyG-RealSense

[2019-11-11 16:08] #5182 closed

[2019-11-11 16:37] RealSenseCustomerSupport commented on #5164
----------------------------------------------

Hi @JimXu Do you need further help on this?

[2019-11-11 17:02] #5118 closed

[2019-11-11 17:05] aparkov commented on #5193
Thank you @dorodnic -- that fixed it!

[2019-11-11 17:05] #5193 closed

[2019-11-11 17:09] szx0112 commented on #4957
Yes, the problem is solved, and I am going to close this issue. Thanks.

[2019-11-11 17:09] #4957 closed

[2019-11-11 17:22] ajshank commented on #5214
I've forgotten most of the AprilTags-related things I knew, and I don't have a setup lying around that I can quickly test with, sorry. I'm also not very familiar with all the extra stuff that librealsense can report for AprilTags.
But here are a two things to narrow down your problem:

1. The angle that you marked with a question mark, should be in 2D, i.e., there should be two angles: an elevatio

[2019-11-11 18:14] neilyoung commented on #5214
@ajshank Thanks again for your input. I totally agree with 1) I also saw this little problem arising. I would just change 2D to 3D and 1D to 2D in your comment.  I also agree on 2) I have all the information there. I should be able to crunch that.

In the meantime I have really merged that two applications into one. If I would have a bit more C++ knowledge, I would consider to contribute that to t

[2019-11-11 19:04] #4373 closed

[2019-11-11 19:07] RealSenseCustomerSupport commented on #5154
----------------------------------------------

Hi theodop
Thank you very much for the report.
Yes, the issue can be reproduced. This is firmware bug after issue (https://github.com/IntelRealSense/librealsense/issues/4022) was fixed. I can fix the issue by manually changing some register settings. So anyway, will have our firmware team fix it in next release or after.

Thanks

[2019-11-11 19:19] kafan1986 commented on #5222
I am using NDK and I found helper function, rs2_project_color_pixel_to_depth_pixel that can do what I want bringing colour pixel to depth pixel. Is there a helper function for depth pixel to colour space?

[2019-11-11 19:55] #5222 closed

[2019-11-11 21:41] neilyoung opened #5228 "T265: ERROR: Bulk transfer message 0x25"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | T265 |
| Firmware Version                   | 0.2.0.857 |
| Operating System & Version |  Ubuntu 16.04 |
| Kernel Version (Linux Only)    |  4.15.0-66 generic

[2019-11-11 22:00] netgittemp opened #5229 "modinfo uvcvideo | grep "version:""
I am installing Intel® RealSense™ SDK 2.0.
ubuntu 16.04
4.15.0-66-generic

`realsense-viewer` is working correctly.
However, when I do `$ modinfo uvcvideo | grep "version:"`, the output cannot see any `realsense` string as you can see the following.
[code]
Could you please help me?

[2019-11-11 22:59] RealSenseCustomerSupport commented on #4913
----------------------------------------------

Hi @KC176,

Please use Depth Quality Tool v2.30.0 and FW v5.11.15.0 for your task and let us know if you need additional help with this issue.

Thank you!

[2019-11-12 05:10] RealSenseCustomerSupport commented on #5139
----------------------------------------------

Hi @Kylemaycry,

1. It looks some data corrupted. Please also run "rs-enumerate-devices -c".
2. Your D435i firmware version still show 5.10.13.0. It's not upgraded to 5.11.15.0 successfully.

[2019-11-12 07:36] likestudy commented on #5229
I meet the same problem with
ubuntu 16.04, 4.10.0-28-generic by following
https://github.com/IntelRealSense/librealsense/blob/development/doc/distribution_linux.md
After the step $  sudo apt-get install librealsense2-utils and connect the realsense sr300, i can open the realsense-viewer but can not get any picture.
Anyone have meet the same problem?

[2019-11-12 08:28] ogoshen commented on #5225
The resulting matrix is a perspective matrix, you can see this when running the AR sample.
When using the slider to change the sphere's distance, the sphere will be larger when closer and smaller when far. This won't happen in an orthographic projection.

Can't remember the math from the top of my head, but basically the orthographic matrix is used to transform screen space to normalized coordinat

[2019-11-12 08:37] ev-mp commented on #5229
@netgittemp hello, the dkms package for kernel 4.15 is not applicable to versions 4.15.0-58+.(#4669, #4869). The fix is under test. In the meantime the [manual installation guide]((https://github.com/IntelRealSense/librealsense/blob/master/doc/installation.md)) is available, where you patch the kernel with script:
[code]
Note that the script patching does not amend the drivers names. There are way

[2019-11-12 08:57] ogoshen commented on #5223
The error message is pretty clear, you cannot call `Texture2D.LoadRawTextureData` outside Unity's main thread (like the camera's thread in your case).

You can use the `Intel.RealSense.FrameQueue` for multithreading, see this file:

https://github.com/IntelRealSense/librealsense/blob/2decb32456fc68396da2bc4de25028b1ee2d735f/wrappers/unity/Assets/RealSenseSDK2.0/Scripts/RsStreamTextureRenderer.cs#L

[2019-11-12 10:40] hassan-shehawy commented on #5203
Thanks for your comment and sorry for late response. I don't know about others, but I don't use Windows unless I have to. Since I started using the R200 I had no problem with the accuracy for all the applications I've been working on. However, for the current project, it's an issue. That's why I was trying to figure out a solution and one of them is of course camera calibration and unfortunately t

[2019-11-12 10:44] hassan-shehawy commented on #5203
Thanks for your help. Yes, I have been sorting out other variables contributing to the quality and reached the calibration one which saved me before multiple times. For illumination, I tried bulb and LED.
Yes, that's an example of what I get,. The area in the green rectangle should be a flat surface.

![untitled](https://user-images.githubusercontent.com/24234907/68664886-5e389100-0541-11ea-8c8a-9

[2019-11-12 11:31] likestudy commented on #2363
@RealSense-Customer-Engineering Hello, I meet the same problem, And i have tried on 4 computers by following https://github.com/IntelRealSense/librealsense/blob/master/doc/distribution_linux.md.
After the step "sudo apt-get install librealsense2-utils",  the information by "modinfo uvcvideo | grep "version:" is:
version:        1.1.2.realsense-1.3.5
srcversion:     35CF6FF13E7340591034B90
And the

[2019-11-12 12:10] MartyG-RealSense commented on #5203
Apparently it is possible to do calibration for the R200 using the R200-compatible predecessor of the current RealSense SDK, which is now known as Legacy Librealsense.  This is because, according to one of the Librealsense developer leaders who worked on that Librealsense at the time, rectification is not done on the camera chip, unlike the current 400 Series cameras which do on-board rectificatio

[2019-11-12 12:29] ev-mp commented on #2363
@likestudy hi,  please provide the details and logs for assessment -
What do you mean by no picture ? Is the camera being recognized by viewer, but you cannot start streaming ?
 Which sensors did you try to activate and what were the errors you've received ?
Does the device passes enumeration correction ? What does the kernel log show when you plug-in the camera?
Can you collect and provide the re

[2019-11-12 12:35] vladHoloArch commented on #5225
@ogoshen thanks, it does makes sense. Besides the projection matrix do I need to simulate the distortion the camera produces?

[2019-11-12 12:46] likestudy opened #5230 "Realsense camera can not be recognised"
* Before opening a new issue, we wanted to provide you with some useful suggestions (Click "Preview" above for a better view):

    * Consider checking out SDK [examples](https://github.com/IntelRealSense/librealsense/tree/master/examples#sample-code-for-intel-realsense-cameras).
    * Have you looked in our [documentations](https://github.com/IntelRealSense/librealsense/tree/master/doc#useful-lin

[2019-11-12 12:49] likestudy commented on #2363
@ev-mp Sorry for that i did not describe my problem clearly. I open a new issue that  [Realsense camera can not be recognised](https://github.com/IntelRealSense/librealsense/issues/5230).
Thanks for your help.

[2019-11-12 13:03] likestudy commented on #5230
And the information of "dmesg" is :
[ 5389.348780] CPU: 1 PID: 565 Comm: wl_event_handle Tainted: P           OE   4.10.0-28-generic #32~16.04.2-Ubuntu
[ 5389.348782] Hardware name: LENOVO 20192/INVALID, BIOS 6BCN40WW(V2.00) 01/24/2013
[ 5389.348783] Call Trace:
[ 5389.348792]  dump_stack+0x63/0x90
[ 5389.348796]  __warn+0xcb/0xf0
[ 5389.348799]  warn_slowpath_null+0x1d/0x20
[ 5389.348822]  cfg802

[2019-11-12 13:05] markgrts opened #5231 "Uvcvideo patching issue"
----------------------------------------------------------------------------------------------------

| Required Info |
|---------------------------------|------------------------------------------- |
| Camera Model                       | SR300 |
| Operating System & Version |   Ubuntu 18.04  |
| Kernel Version (Linux Only)    |  5.0.0-32-generic  |
| Platform                                 | PC

[2019-11-12 14:02] RajkiranVeldur opened #5232 "fatal error: GL/glu.h: No such file or directory #include <GL/glu.h>"
* Before opening a new issue, we wanted to provide you with some useful suggestions (Click "Preview" above for a better view):

    * Consider checking out SDK [examples](https://github.com/IntelRealSense/librealsense/tree/master/examples#sample-code-for-intel-realsense-cameras).
    * Have you looked in our [documentations](https://github.com/IntelRealSense/librealsense/tree/master/doc#useful-lin

[2019-11-12 14:05] ev-mp commented on #5230
The highlighted error messages:

[ 6286.398830] usb usb4-port3: cannot disable (err = -32)

can indicate host controller issue. It doesn't necessary mean that the controller fails but you can try switching USB port/cable to mitigate the error. According to the log the UVC driver is properly patched and also loaded correctly, so the issue is probably elsewhere.

Therefore please describe the issue

[2019-11-12 14:42] ev-mp commented on #5231
@markgrts, the script you're using is the correct one for LTS kernel 5.0.  There could be several reasons for rejecting the patched module, like. Secure Boot or Ubuntu packages inconsistency.
Please post the kernel log trace when the mentioned error occurs for review (`dmesg`)

[2019-11-12 15:00] markgrts commented on #5231
`dmesg` gives me:

[  495.931326] media: Linux media interface: v0.10
[  495.931613] Lockdown: modprobe: Loading of unsigned module is restricted; see man kernel_lockdown.7
[  495.960839] videodev: Linux video capture interface: v2.00

[2019-11-12 15:24] ev-mp commented on #5232
RajkiranVeldur hello, the include file `<GL/glu.h>` is part of `libglu1-mesa-dev` package  listed in  [Ubuntu18 installation prerequisites](https://github.com/IntelRealSense/librealsense/blob/master/doc/installation.md#ubuntu-build-dependencies) :
[code]
Please verify that it was properly installed

[2019-11-12 15:34] ipa-mah opened #5233 "[Ubuntu18]SR300 is not detected by librealsense"
* Before opening a new issue, we wanted to provide you with some useful suggestions (Click "Preview" above for a better view):

    * Consider checking out SDK [examples](https://github.com/IntelRealSense/librealsense/tree/master/examples#sample-code-for-intel-realsense-cameras).
    * Have you looked in our [documentations](https://github.com/IntelRealSense/librealsense/tree/master/doc#useful-lin

[2019-11-12 15:40] ev-mp commented on #5231
@markgrts , googling the error [identifies](https://askubuntu.com/questions/1046269/virtualbox-loading-of-unsigned-modules-is-restricted) this error as one of the symptomps of Secure Boot being enabled.
In order to load patched kernel modules this feature must be disabled.
There are references how to check the Secure Boot  state of the  on Linux - https://www.centos.org/forums/viewtopic.php?t=4722

[2019-11-12 16:00] ev-mp commented on #5233
@ipa-mah hello, the kernel log doesn't suggests that anything went wrong; on the contrary, the camera was correctly identified as USB3 device and both the enumeration and loading of the UVC driver completed successfully.

Is it a first time usage ? Do you manage to communicate with this camera on another PC/OS ?
Can you share the output of `rs-enumerate-devices` ?

[2019-11-12 16:11] ipa-mah commented on #5233
@ev-mp
SR300:
`rs-enumerate-devices` outputs:
`No device detected. Is it plugged in?`

For 435, it outputs list of modes and device info as usual

[2019-11-12 16:23] RajkiranVeldur commented on #5232
Thank you. The issue is resolved. I had to reinstall: sudo apt-get install libglfw3-dev libgl1-mesa-dev libglu1-mesa-dev

[2019-11-12 16:42] likestudy commented on #5230
Thanks for your help.

**1.** The problem is that the camera can not be recognized, as below:
![图片](https://user-images.githubusercontent.com/30099214/68689965-32062a00-05ac-11ea-89ea-3119d8b823ea.png)

**2.**The sensor I want to activate is the realsense SR300, and the error is this camera can not be recognized.

**3. As I try "rs-enumerate-devices",** I get >>No device detected. Is it plugged in

[2019-11-12 17:03] markgrts commented on #5231
Secure Boot was enabled. After disabling it, it worked. Thank you very much!

[2019-11-12 17:03] #5231 closed

[2019-11-12 17:05] Kylemaycry commented on #5139
Because I tried to downgrade it to recover it. It can be upgraded to the
latest version, but still doesn't work.

On Tue, Nov 12, 2019 at 12:10 AM RealSense Customer Support <
notifications@github.com> wrote:

[2019-11-12 17:10] gbr1 commented on #5229
Hi @dorodnic, this issue happen also on UP Xtreme with Ubuntu 18.04.3 LTS and kernel 5.0.0-1-generic.
I tried to patch using `patch-realsense-ubuntu-lts.sh` but nothing changed.
Log of installation of `librealsense-dkms`:
[code]

I know that I can compile librealsense from source as explained [here](https://github.com/IntelRealSense/librealsense/blob/master/doc/installation.md) but are you plannin

[2019-11-12 17:22] Kylemaycry commented on #5139
[rs-enumerate-devices -c.txt](https://github.com/IntelRealSense/librealsense/files/3837372/rs-enumerate-devices.-c.txt)

[2019-11-12 18:20] RealSenseCustomerSupport commented on #4593
----------------------------------------------

Hi @JBBee - are you still running into corrupted maps issue?

[2019-11-12 18:37] bobbyvinson commented on #3450
I was following through the python example for the wheel odometry and ran into a bit of an issue. In the line `pose_sensor = tm2.first_pose_sensor()` I am getting an
AttributeError: "'pyrealsense2.pyrealsense2.tm2' object has no attribute 'first_pose_sensor'"
I stepped though and looked at what functions the tm2 object could call and only found a `first_depth_sensor`, method and `first_roi_sensor`

[2019-11-12 19:06] #4972 closed

[2019-11-12 19:15] JBBee commented on #4593
Hi @RealSenseCustomerSupport actually we are still seeing corrupted maps being exported every so often in 2.30.0.  Please see below.

Steps to reproduce in the viewer:
- Start with a freshly plugged in T265.  Start the module and walk around the room for a bit, for maybe 20 seconds.  Stop the module and export the localization map to a file.
- Import the file just exported and run it for a short w

[2019-11-12 19:18] JeremyBYU commented on #5212
All my investigations have determined that it will not be possible to use Libuvc/rsusb to get high frequency motion data (200fps) at the same time of getting low frequency video data (30fps).  I must use kernel drivers.

It was previously said:

My investigations are showing this not to be true.  I will open up a separate issue for that. Closing this now.

[2019-11-12 19:18] #5212 closed

[2019-11-12 20:36] radfordi commented on #4593
Thanks for the procedure @JBBee.  While we try and duplicate this, could you provide the final map that fails to import?

[2019-11-12 20:46] JBBee commented on #4593
Sure @radfordi , here is the corrupted map.  Thanks again.

[map.zip](https://github.com/IntelRealSense/librealsense/files/3838150/map.zip)

[2019-11-12 20:47] neilyoung commented on #4593
Interesting. Will try to reproduce tomorrow.

[2019-11-12 20:50] radfordi commented on #4593
Thanks @JBBee.  I'm able to duplicate the issue with that map.

[2019-11-12 22:55] tropicdragon commented on #5158
Yes I have attached it below:

cmake ../ -DBUILD_PYTHON_BINDINGS:bool=true -DBUILD_EXAMPLES=true -DCMAKE_BUILD_TYPE=Release -DFORCE_LIBUVC=true
-- Internet connection identified
-- Info: REALSENSE_VERSION_STRING=2.28.0
-- Setting Unix configurations
-- Using libuvc (by force)
-- using RS2_USE_LIBUVC_BACKEND
-- pybind11 v2.2.1
CMake Warning (dev) at /usr/share/cmake-3.13/Modules/FindOpenGL.cmake:27

[2019-11-12 23:13] JeremyBYU commented on #4505
I have this same issue. Note the frame timestamp discrepancy from time of arrival. Funny enough the first few seconds show a good time (157.....blah) then it jumps to (314....blah).

![image](https://user-images.githubusercontent.com/6628085/68718586-affc0e00-0577-11ea-9416-465423136456.png)

[2019-11-13 03:34] RealSenseCustomerSupport commented on #5039
----------------------------------------------

@tonyjonyjack No feedback from your side for weeks. Will close the issue at this point. Please feel free to create new one if you still have issues/questions. Thanks!

[2019-11-13 03:34] RealSenseCustomerSupport commented on #5045
----------------------------------------------

@bilalghalib No feedback from your side for weeks. Will close this at this point. If you still have issues/question, please feel free to open new one. Thanks!

[2019-11-13 04:02] #5039 closed

[2019-11-13 04:02] #5045 closed

[2019-11-13 04:02] #5116 closed

[2019-11-13 05:29] radfordi commented on #4593
@JBBee, #5234 should fix this.  It also doubles the internal map size as a bonus.

[2019-11-13 05:59] JimXu1989 commented on #5164
This issue could be closed

[2019-11-13 05:59] #5164 closed

[2019-11-13 07:05] ev-mp commented on #5229
@gb1, the `librealsense2-dkms` package and `patch-realsense-ubuntu-lts.sh` script are two alternative methods to apply kernel patches. As they affect the same kernel drivers you cannot apply both but have to pick one method - [currently](https://github.com/IntelRealSense/librealsense/blob/master/doc/distribution_linux.md#using-pre-build-packages) kernel 5.0 is supported with the later so you need

[2019-11-13 07:19] ev-mp commented on #5232
Thanks for confirmation, closing it now

[2019-11-13 07:19] #5232 closed

[2019-11-13 07:35] ogoshen commented on #5225
Yes, though the color stream for D435 has no distortion (intrinsics.coeff[] are all 0)

[2019-11-13 08:01] RealSenseCustomerSupport commented on #5117
----------------------------------------------

Hi @KarlAbson,

A simple C# app with json file loading has no the issue. Do you have any librealsense log there when you run your app with this loading exception issue?
Will also further discuss internally to have a simple way to configure the advanced parameters directly in C#.

[2019-11-13 08:12] likestudy commented on #5229
@ev-mp I have previously installed kernel patches in two ways. But if I use ‘dkms status ’in the follow-up process, I will delete the extra ones. This should not be the reason why I can't identify the camera.
I saw someone saying that the problem was solved by upgrading the firmware. But I don't know how to check the firmware version of the SR300 and where to upgrade the firmware. Can you give me

[2019-11-13 09:29] dorodnic commented on #5158
Thank you @tropicdragon
You are right, the build process went Ok as well.
Did you try to run any of the examples under sudo (I'm trying to eliminate permissions issue)
Also, could you check using `which` command that you are running the version you compiled and not some older version installed on the device? (not very likely, I know, but I'm trying to eliminate common reasons for this issue first)

[2019-11-13 10:38] ev-mp commented on #5229
@likestudy , I presume you refer to #5230, correct ? I'll follow SR300 identification in that thread.
As for the original question - since you're using kernel 4.15.0-66 then please make sure that the dkms package was not installed for the current kernel ( `dkms status`).

[2019-11-13 10:45] liltrekkie commented on #4777
A small update, I went out and built an Intel based system (9900k) and a zen based system (3900x) and installed realsense. The ply converter still does not work on them. I'm not sure what else I can even do at this point. Is there any debugging that I can do that would be useful here?

[2019-11-13 12:06] dongkaizhou opened #5235 "D435i depth map noise problem"
Hi,
I am working on a project with D435I, get the depth map and convert it to a 3D point cloud through the PCL point cloud library.
The D435i depth map have noises, I had taked filtering measures by PCL, the effect has improved.
However, there is a strange phenomenon. The same perspective, when there is no one, there is a lot of noise; When someone is there, the noise a lot less.  Why is it?
Is th

[2019-11-13 12:08] KarlAbson commented on #5117
Hi @RealSenseCustomerSupport,

Thanks for the reply. I managed to fix this. The problem was related to the following case:
[C# Wrapper - samples crash on launch](https://github.com/IntelRealSense/librealsense/issues/5122)

Simply there are a number of issues with the C# wrapper. The dlls are named wrong. He cannot find the realsense2.dll as it is now called realsense2d.dll. Also the C# projects ar

[2019-11-13 12:14] neilyoung commented on #4593
@radfordi I can confirm the issue. I additionally noticed no relocation info on the third run, step 3. Import failed too in step 4. Currently cloning your repo. While running Cmake I got this trace:

`--Info: REALSENSE_VERSION_STRING=2.17.0`

Not sure if it is just cosmetic.

Anyway. After build I can't make your version run. Starting realsense-viewer just gives this

[code]

Since your PR is not

[2019-11-13 13:37] ev-mp commented on #5233
@ipa-mah , we managed to reproduce it and can confirm that this is a SR300 bug introduced in the latest v2.30 version. it will be rectified in the next release.
In the meanwhile please use SDK v2.29 or older.
Sorry for the inconvenience

[2019-11-13 13:44] ev-mp commented on #5230
@likestudy , based on the info provided we were able to reproduce it locally and unfortunately this is  a software issue introduced in the latest v2.30 version.
We'll address it in the next release. For now you can rollback to v2.29.
Duplicate of #5233

[2019-11-13 13:51] ev-mp commented on #5219
@lxz1104 , please be aware that this is a known issue for SR300 with V2.30. Please revert to the previous v2.29.
Duplicate of #5233, #5230

[2019-11-13 14:28] GenusJqj opened #5236 "How to preset D435i camera by .JSON file in MATLAB?"
* Before opening a new issue, we wanted to provide you with some useful suggestions (Click "Preview" above for a better view):

    * Consider checking out SDK [examples](https://github.com/IntelRealSense/librealsense/tree/master/examples#sample-code-for-intel-realsense-cameras).
    * Have you looked in our [documentations](https://github.com/IntelRealSense/librealsense/tree/master/doc#useful-lin

[2019-11-13 14:39] ipa-mah commented on #5233
@ev-mp
Thank you for your info.
I built the SDK v2.27, v2.28 and had the same issue with SR300. The SDK v2.29 cannot detect camera
`rs-enumerate-devices` outputs:

[code]
But `realsense-viewer` cannot open `Coded-Light Depth Sensor`, and outputs:

[code]
Waiting for next release of the SDK

[2019-11-13 14:58] likestudy commented on #5230
@ev-mp Thanks very much. But i can't find how to rollback to V2.29. As I follow https://github.com/IntelRealSense/librealsense/blob/master/doc/distribution_linux.md, I get the default version V2.30. And if I build from source code, i also can't find where to choose the version.
Is there any tutorial i can refer to? Thanks again.

[2019-11-13 15:05] RajkiranVeldur opened #5237 "Error while trying to run the script rs-face-dlib.cpp"
* Before opening a new issue, we wanted to provide you with some useful suggestions (Click "Preview" above for a better view):

    * Consider checking out SDK [examples](https://github.com/IntelRealSense/librealsense/tree/master/examples#sample-code-for-intel-realsense-cameras).
    * Have you looked in our [documentations](https://github.com/IntelRealSense/librealsense/tree/master/doc#useful-lin

[2019-11-13 15:34] dorodnic commented on #5235
I think this is just an artefact of the histogram equalisation while visualising the depth map. Do you see any actual change in quantitive metrics such as RMS error (the Depth Quality tool can be used to collect some basic measurements)

[2019-11-13 15:48] likestudy commented on #5230
@ev-mp. I find the link https://github.com/IntelRealSense/librealsense/releases/tag/v2.29.0.
I think I just follow https://github.com/IntelRealSense/librealsense/blob/master/doc/installation.md to build from the source code can rollback to v2.29.

[2019-11-13 16:22] JBBee commented on #4593
Thanks @radfordi I'll grab it once it's merged.

[2019-11-13 16:53] RealSenseCustomerSupport commented on #5132
----------------------------------------------

Is this still an issue or has been resolved?
The timeout might be due to the waiting of coherent set of frames from 10 cameras.

[2019-11-13 17:18] evercoast-smm commented on #5132
I'd love to better understand your process for "waiting of coherent set of frames from 10 cameras"? Can you please elaborate on that, and/or refer us to a specific section of the RS code?

Thanks!

[2019-11-13 17:44] RealSenseCustomerSupport commented on #4518
----------------------------------------------

Hi @PedroHRPBS @manomitbal @mickeyouyou, @mattcenoo, @djkayip, @rgreid

An updated LibRealSense release has been posted:
https://github.com/IntelRealSense/librealsense/releases/tag/v2.30.0

There are updates which can have a positive affect on the NaN issues that you are seeing.

Please give this new release a test in your environments and let us kno

[2019-11-13 18:24] likestudy commented on #5230
@ev-mp Thanks a lot for your help. As I rollback to V2.29, the camera can be detected by realsense-viewer. But I use a python script to get video stream, the "No device connected" error occured.
**My code is here:**
_import pyrealsense2 as rs
pipeline = rs.pipeline()
config = rs.config()
profile = config.resolve(pipeline) # does not start streaming
profile = pipeline.start(config) # Start streamin

[2019-11-13 18:47] collinabidi opened #5238 "Trying to make a new example"
|----------------------------------------|------------------------------------------- |
| Camera Model                        | D400                               |
| Firmware Version                   |  2.29.0                               |
| Operating System & Version  |  Ubuntu 18.04  |
| Kernel Version (Linux Only)    |  5.0.0-31                          |
| Platform

[2019-11-13 18:54] neilyoung commented on #5238
I did the same with another example. Basically I just had to create a new directory under examples. I put the new source file and an altered CMakeList.txt, which I too from the original sample.

Then there is a CMakeList.txt in the ./examples folder. You need to `add_subdirectory(your_path)`.

That worked for me.

[2019-11-13 19:02] #5087 closed

[2019-11-13 19:03] collinabidi commented on #5238
I did that too, doesn't seem to work for me :/

[2019-11-13 19:17] fred-och-karlek commented on #5230
hey, I have the same issue. Can I reach you and discuss with you a little bit? @likestudy

[2019-11-13 19:34] ev-mp commented on #5230
@likestudy , please verify that the python package you use is also built with v2.29.
When using Pype - you can get a list of all the previous releases with
[code]
and the install one of the previous versions, like
[code]

When building from sources then you can also use git interface (if you using SCM) and checkout tag `v2.29.0`

[2019-11-13 19:40] JBBee opened #5239 "Pose Accuracy and Stability - Calibration"
----------------------------------------------------------------------------------------------------

| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | T265 |
| Firmware Version                   | 0.2.0.857 |
| Operating S

[2019-11-13 19:53] ev-mp commented on #5238
@collinabidi make sure the new CMake for `rs-align-bag` has [install target](https://github.com/IntelRealSense/librealsense/blob/master/examples/hello-realsense/CMakeLists.txt#L14) defined -

then the binary will be copied to the proper runtime path with `sudo make install`

[2019-11-13 20:23] ev-mp commented on #5233
@ipa-mah,  the camera is properly recognized with the previous version as expected, so this is great.
The error reported at the end is of a different nature:

The message is fired when the device is forcibly disconnected from/by host. And it often occurs due to device being under-powered. I would recommend to switch USB port and/or get a powered USB3 hub.

[2019-11-13 20:35] ev-mp commented on #5237
@RajkiranVeldur, the code you mention is not a stand-alone script but a fully-articulated [Cmake
 project](https://github.com/IntelRealSense/librealsense/tree/master/wrappers/dlib).
It should be invoked and build from the Librealsense's root using the appropriate flags:

cmake ..   -DCMAKE_BUILD_TYPE=release -D......        ......  **-DBUILD_DLIB_EXAMPLES=true -DDLIB_DIR=<TBD>**

Please follow the

[2019-11-13 20:35] JeremyBYU commented on #4505
So I have hunted down the issue a bit and have a better understanding.

When using global timestamps the timestamp returned is the device hardware timestamp _synchronized_ with the host time. In order to do this a linear regression model is created that takes *samples*. These samples are (x,y) pairs, where x is the device time and y is the host time.  A linear regression is performed on the sample

[2019-11-13 21:06] #5101 closed

[2019-11-13 21:17] tropicdragon commented on #5158
Yes, so right now I upgraded to 2.30, originally I was at 2.28, I upgraded to see if it would fix my issues and the problem continues to persist. I uninstalled 2.28, and I checked in usr/local/lib and it is no longer there anymore. So right now I am using 2.30.

I had a python file that worked on my Raspberry Pi 4, I would run the command
` python3 t265-pose.py `
I am not sure in this case where I

[2019-11-13 21:45] MikeFlanigan commented on #3617
I've been working on getting a D435i working on a JetsonTX2 and have read through this thread and tried multiple solution paths.

I'm a little unclear on this (quoted) post. Did it work with Jetpack 4.2?
The jetson hacks article https://github.com/jetsonhacks/installRealSense2ROSTX is for Jetpack 3.3 no?

[2019-11-13 22:43] radfordi commented on #4593
@neilyoung, those message aren't related to T265.   When running `cmake` you should have seen:
[code]
so I'd guess you don't have my branch checked out.  Try doing `git checkout t265-release` and then building again.

[2019-11-13 23:08] sdkaplan opened #5240 "T265 as a webcam"
Is there a simple way to use the Realsense T265 as a webcam in linux? I want to save the video stream and cannot figure out how to do it with Librealsense and OpenCV.

[2019-11-13 23:24] JeremyBYU commented on #4505
Here is some further information. The UVC Metadata warning only occurs after about 5-10 seconds for me. In the beginning reading the frame timestamp is not a problem and all is working (including global timestamps). Then an error occurs and the backup reader (giving host time) is switched to causing the issue.

As for that uvc driver I'm using, I have tried the following:

1. Raw unpatched kernel

[2019-11-14 01:10] RealSenseCustomerSupport commented on #4777
----------------------------------------------

Build and debug from rs-convert source may be a good way to narrow down where the issue is.
https://github.com/IntelRealSense/librealsense/blob/master/doc/installation_windows.md

Also see the attachment for a very short bag file and the rs-convert tool with more verbose log.

Attachment(s):
rs-convert.zip - https://realsensesupport.intel.com/attachm

[2019-11-14 01:13] RealSenseCustomerSupport commented on #4777
----------------------------------------------

Please try the following link if you have any permission issue from the previous one. Thank you.

https://intel.sendsafely.com/receive/?thread=J184-LRMG&packageCode=C0tdE8xtIHzpgEcMn7WfVhFht80mt0VCTUkU5Cgjfls#keyCode=sK5EjNOLgBsCNo03eIPvdfUIweHnqYeDKUuWNnyQJd0

[2019-11-14 01:13] RealSenseCustomerSupport commented on #5085
----------------------------------------------

Hi @MoBaT - ev-mp provided some good information regarding tethering D435 pointcloud to T265 position as well as provided link to the sample.  I think this can be closed now.

[2019-11-14 01:18] RealSenseCustomerSupport commented on #5009
----------------------------------------------

Hi @AJMena - ev-mp referenced another github ticket that is similar.  I believe the information there would also be valuable here as well.

https://github.com/IntelRealSense/librealsense/issues/5085

[2019-11-14 01:21] RealSenseCustomerSupport commented on #5011
----------------------------------------------

Hi @tropicdragon - Just keep monitoring our releases at this time we cannot comment on future release plans.  I will close this ticket out now.

Thanks @MartyG-RealSense for your comment here as well.

[2019-11-14 01:28] RealSenseCustomerSupport commented on #5132
----------------------------------------------

Clarification, I meant to say the rs2::Syncer would try to wait and deliver synchronized frames (one RGB and one Depth stream) per camera. In this case, there are total of 10 cameras.

The frame syncer is documented here:
https://github.com/IntelRealSense/librealsense/blob/659860bb9a0eca56814c97d90a162b3cdfb2af82/doc/frame_lifetime.md#frame-syncer

[2019-11-14 02:04] #4848 closed

[2019-11-14 02:04] #4938 closed

[2019-11-14 02:04] #5054 closed

[2019-11-14 02:45] likestudy commented on #5230
@fred-och-karlek Of course, if I can give you some help.

[2019-11-14 02:57] likestudy commented on #5230
@ev-mp Oh... Thank you very much, I can get the image after I installed the corresponding version of pyrealsense2. After I installed it from source on a computer, I can find realsense information using "modinfo uvcvideo |grep "version" and "dkms status". I can't find it on another computer. I will continue to check the possible reasons.

[2019-11-14 03:37] #5235 closed

[2019-11-14 05:57] neilyoung commented on #4593
True. Works. No corrupted map anymore. Double size confirmed. I thought I would have filed an issue, but I can't actually find it: At least under Ubuntu there is no .raw extension on save added. So the file open dialog doesn't find it. It is just an annoyance, just so you know.

It's getting better day by day :) Great PR.

[2019-11-14 06:16] dongkaizhou opened #5241 "D435i depth map noise problem"
Hi,
I am working on a project with D435I, getting the depth map. In general, depth map is normal.
However, when encountering a striped object, the depth map will have a lot of noise.
Is there any way to reduce noise and avoid this situation?
There are depth map and color map. Thanks!

Haveing striped object (The walls are striped) :
![2019-11-14_13_49_53_error_depth](https://user-images.githubuser

[2019-11-14 06:50] RajkiranVeldur commented on #5237
Hi, @ev-mp I have built it as per the instructions. Can you please help me with the commands to run the project as I'm new to C++ I actually work on Python. Thank you.

[2019-11-14 07:31] MartyG-RealSense commented on #5241
The presence of fluorescent ceiling strip lights is not ideal as they have the potential to generate more noise on an image than a bulb light due to flickering at frequencies hard to see with the human eye.

Looking at the RGB image, the worst disruption is in the areas where the stripes are most visible due to the illumination from the strip lights.  Looking at the patterns of disruption, it may

[2019-11-14 09:03] rgreid commented on #4518
@RealSenseCustomerSupport sorry:  it seems _much_ worse today. Mounted on a skid-steer robot in a visually feature rich environment, both with and without odom input.

The nans occur consistently a short time after we finish driving around a small ~15 meter loop.

Previously we were getting nans several times a day, now we're getting them reliably every time we drive a test loop. Thanks.

[2019-11-14 09:13] liltrekkie commented on #4777
[2019-11-14-02_13_51.log](https://github.com/IntelRealSense/librealsense/files/3845582/2019-11-14-02_13_51.log)

I ran what you gave me, and this is the file that is produced, as for building from source, I have tried that too, which it didn't work either. I tried building it from source on linux as well, again, nothing. If I run what you gave me on linux, a file with similar contents is created.

[2019-11-14 09:55] dongkaizhou commented on #5241
Hi,
I am using the Intel RealSense Viewer to test 15FPS 30FPS 60FPS, but the noise is the same.
when turning of the light, the noise get normal.
However, my project sense is indoor, there are lights usually.
Are there good ways? Thanks!

Turn on light:
![企业微信截图_20191114173731](https://user-images.githubusercontent.com/51732836/68845295-2af32f00-0706-11ea-8598-e80e0190440f.png)
![企业微信截图_20191114173

[2019-11-14 10:15] MartyG-RealSense commented on #5241
Could you try turning off the Auto Exposure Priority control in the RGB section of the RealSense Viewer options please?   If Auto Exposure is enabled then turning off Auto Exposure Priority should enforce a constant FPS value.

If that does not help, please try turning off Auto Exposure and setting manual exposure and gain values.

[2019-11-14 10:16] lxz1104 commented on #5219
@ev-mp Thanks!I have solved this problem.

[2019-11-14 10:16] #5219 closed

[2019-11-14 10:55] RajkiranVeldur commented on #5237
@ev-mp can you please guide me where to place the **shape_predictor_68_face_landmarks.dat** file and how to use it? Thanks for the support.

[2019-11-14 11:10] ogoshen commented on #4479
You could try calculating surface normals or doing a plane fitting to find the table top, finding the user's hands as points above the surface... either way you probably won't be able to do this with just image processing directly on the depth map.

[2019-11-14 11:24] hassan-shehawy commented on #5203
Thanks for the clarification.  I think I will try filtering the image and see if it enhances the results.

[2019-11-14 11:24] #5203 closed

[2019-11-14 11:40] ipa-mah commented on #5233
The problem is solved with SDK 2.28.
Thanks

[2019-11-14 11:47] maloel commented on #5237
Hi @RajkiranVeldur ,
`shape_predictor_68_face_landmarks.dat` needs to be placed in the local directory where the compiled .exe is run from -- usually the same directory that the .exe resides in.

[2019-11-14 12:04] ev-mp commented on #4869
@mikepurvis , @jaymzh , the fix version is available for download via PPA.
Please check and provide feedback

[2019-11-14 12:06] ev-mp commented on #4669
The fix for the issues is available for download via PPA.
To upgrade from previous version use `sudo apt update && sudo apt upgrade`.,
For full reinstall use:
`sudo apt purge librealsense2-dkms && sudo apt update && sudo apt install librealsense2-dkms`

[2019-11-14 12:41] RajkiranVeldur commented on #5237
Hi @maloel I'm now able to run the project. Once again thanks for all the support. Also found that to run this after building you need to use the command **rs-face-dlib**. Closing this issue as it is resolved.

[2019-11-14 12:41] #5237 closed

[2019-11-14 12:43] xaritonn opened #5242 "Function corresponding to "Heuristic" in the "Occlusion removal" option for RGB 3D pictures in Python"
----------------------------------------------------------------------------------------------------

| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       |D435
| Firmware Version                   | 05.10.03.00|
| Operating Sys

[2019-11-14 13:44] MaryBD commented on #3617
Jetpack 4.2 [L4T 32.1] worked best for me on JetsonTX2 to run two realsense D435.  I followed this link to build patched kernel and install librealsense: https://github.com/Tengyun-Mo/buildLibrealsense2TX2

[2019-11-14 17:35] RealSenseCustomerSupport commented on #4919
----------------------------------------------

Issue should be addressed with the latest librealsense master build. Please give it a try.
We will close this issue unless otherwise.
Thank you.

[2019-11-14 17:50] RealSenseCustomerSupport commented on #5199
----------------------------------------------

Is there any question about this ticket? or this ticket would be closed soon.

Thanks

[2019-11-14 18:03] whatisor commented on #2567
I also get same problem when try to run on Raspbian. Color formats did not help.
If do not call align process, it runs well.

[2019-11-14 18:05] #4980 closed

[2019-11-14 18:05] #5123 closed

[2019-11-14 18:05] #5159 closed

[2019-11-14 18:05] #5168 closed

[2019-11-14 18:26] RealSenseCustomerSupport commented on #5029
----------------------------------------------

@evercoast-smm,

Do you still need assistance with this matter?

[2019-11-14 18:53] radfordi commented on #5239
Thanks for the data, @JBBee!

One quick question.  Are you moving the device around before starting to take measurements?  We highly recommend doing this.

[2019-11-14 19:06] #5037 closed

[2019-11-14 19:34] tispratik commented on #5159
Thanks Marty. You specifically mentioned D435e... do you mean to say that D435e has some feature related to GigE that D435 does not? I presume D435e is more data intensive on the network as compared to D435.

[2019-11-14 19:40] dorian3d commented on #5240
Hi @sdkaplan. You can take a look to the `ar-basic` example that shows how to get video frames from T265: https://github.com/IntelRealSense/librealsense/tree/master/examples/ar-basic

And here you can see how other users convert the video frame into an OpenCV `cv::Mat` object: https://github.com/IntelRealSense/librealsense/issues/4127

[2019-11-14 19:43] RealSenseCustomerSupport commented on #5148
----------------------------------------------

The depth map from the stereo matching is done in the RealSense D4 Vision Processor.
You may find the information contained in the RealSense D400 datasheet helpful.
https://dev.intelrealsense.com/docs/intel-realsense-d400-series-product-family-datasheet
RealSense SDK 2.0 also has a great documentation between the 2D depth and the point cloud.
https:/

[2019-11-14 19:45] dorian3d opened #5245 "RealSense Viewer GUI can't import T265 map on Mac"
----------------------------------------------------------------------------------------------------

| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | T265 |
| Firmware Version                   | 0.2.0.857 |
| Operating S

[2019-11-14 19:53] MartyG-RealSense commented on #5159
Extensive information about the feature-set of the FRAMOS D435e and the unique features it adds that the Intel D435 lacks can be found in the link below.

https://github.com/IntelRealSense/librealsense/issues/4769

The D435e's GigE support will enable the camera to be controlled with software that is compliant with the GigE standard, according to FRAMOS's press information.  that information also

[2019-11-14 21:52] MartyG-RealSense opened #5246 "Announcement: Intel blog and white paper on optical filters"
Hi everyone,

Intel have published a blog article on use of optical filters with RealSense cameras.  The article includes a link to an Intel white paper document on the subject.

https://www.intelrealsense.com/improving-depth-with-optical-filters/

[2019-11-14 22:00] ihadzic commented on #4869
I updated this morning and it pulled 1.3.7 which seems to have fixed the problem. It works for me now.

[2019-11-14 22:55] RealSenseCustomerSupport commented on #5055
----------------------------------------------

Hi @​HndsmJohn

Yes there is a way to get ASIC temperature readout via the SDK.  I've included a link to the tm-device.cpp source code and it has information there for you to obtain.

https://github.com/IntelRealSense/librealsense/blob/9f99fa9a509555f85bffc15ce27531aaa6db6f7e/src/tm2/tm-device.cpp

Also you can see the temp readouts via the RealSense

[2019-11-14 23:07] RealSenseCustomerSupport commented on #5056
----------------------------------------------

Hi @neilyoung

I know that you are following the PR link below and have seen the fact that we are doubling the size of the map when that update is merged.  Do you think we should keep this thread open?

https://github.com/IntelRealSense/librealsense/pull/5234

At this stage we keep the details of the map hidden if you will.  The specifics aren't give

[2019-11-15 03:03] PhillipVoyle opened #5247 "Update 2.30 breaks webcam functionality on D435 camera"
----------------------------------------------------------------------------------------------------
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D435 |
| Firmware Version                   | 05.11.15.00 |
| Operating

[2019-11-15 03:04] PhillipVoyle commented on #5247
It's worth noting that the realsense-viewer application still worked under these conditions.

[2019-11-15 03:05] suyuan945 commented on #5092
I have solved the problem.Here is some change based on origin install command.

compiling on Raspberry Pi 4
$uname -a
::Linux raspberrypi 4.19.75-v7l+ #1270 SMP Tue Sep 24 18:51:41 BST 2019 armv7l GNU/Linux
$gcc -v
::gcc version 8.3.0 (Raspbian 8.3.0-6+rpi1)
$cmake --version
::cmake version 3.13.4

1. Install packages
    you will get an error message for example:Unable to locate package libdrm-am

[2019-11-15 03:40] RealSenseCustomerSupport commented on #5176
----------------------------------------------

Hi @jaehwan-pi,

You can refer to rs-sensor-control sample app to see how to configure the IMU option.
However, I can see another issue to control this. Will further check internally.

[2019-11-15 04:07] RealSenseCustomerSupport commented on #5139
----------------------------------------------

Hi @Kylemaycry,

Not see the related issue in the calibration data. Since the fw downgrade/upgrade can't resolve the issue, you can check your reseller about RMA replacement.

[2019-11-15 05:05] jaymzh commented on #4869
Is the new release expected to work with both -58 and -64?

[2019-11-15 05:56] neilyoung commented on #5056
Feel free to close this. I had something different in mind, initially.

[2019-11-15 07:21] RealSenseCustomerSupport commented on #5197
----------------------------------------------

Hi @zeralight,

1. It looks the metadata patch is not applied correctly for Ubuntu 18.04 + kernel 5.0. You can refer to below patch.
https://github.com/IntelRealSense/librealsense/blob/master/scripts/realsense-metadata-bionic-hwe.patch
2. Do you also see the crash issue when you run other librealsense apps like realsense-viewer, rs-align, etc?
3. Any

[2019-11-15 07:22] masynthetic commented on #4272
@nikhilkoditala could you share your method for getting the 415 running on Pi 4? Struggling to find any working install method.

[2019-11-15 07:25] SirDifferential commented on #4272
With the latest librealsense master, my Pi 4 runs the 415 and 435 cameras without issues as long you build the code with `cmake .. -DFORCE_RSUSB_BACKEND=ON`. They renamed LIBUVC into RSUSB.

[2019-11-15 07:46] masynthetic commented on #4272
thank you, do I follow the [LibUVC-backend installation](https://github.com/IntelRealSense/librealsense/blob/master/doc/libuvc_installation.md)?

[2019-11-15 07:59] SirDifferential commented on #4272
Yeah, I'd guess those instructions work. They still use the old `FORCE_LIBUVC` flag, but the cmake file translates that into `FORCE_RSUSB_BACKEND`.

[2019-11-15 08:02] RealSenseCustomerSupport commented on #3450
----------------------------------------------

Hello all,

Any update? How about the python example from @schmidtp1 to show wheel odometry input?

[2019-11-15 08:19] MrG4dget commented on #5113
@yputra Well it works well without the USB cable hack, when you stick to the following points:

- Connect the T265 directly to a USB port with a good quality cable

- **The T265 wont work if you just reboot the system**. You need to completely cut the power to the nano. It seems as if during the reboot, the USB ports are still powered and the T265 is not recognized afterwards. Cutting the power co

[2019-11-15 08:24] aswinkumar2019 commented on #5072
Sorry for late reply,
Yeah i have ubuntu 18.04
I got these errors during cmake

CMake Error at third_party/pybind11/tools/FindPythonLibsNew.cmake:95 (message):
  Python config failure:

  Traceback (most recent call last):

    File "<string>", line 1, in <module>
    File "/usr/lib/python3.6/distutils/sysconfig.py", line 14, in <module>
      import re
    File "/usr/lib/python3.6/re.py", line 14

[2019-11-15 08:28] GrubbyHalo commented on #3369
Yes it would be great if this feature could be expedited. We also need to have the firmware update with Raspberry pi's in the field.

[2019-11-15 08:59] RealSenseCustomerSupport commented on #5072
----------------------------------------------

@aswinkumar2019  You current issue seems to be python 3.6 related issue.  Please check  https://stackoverflow.com/questions/43124775/why-python-3-6-1-throws-attributeerror-module-enum-has-no-attribute-intflag to see if helps.

[2019-11-15 09:01] RealSenseCustomerSupport commented on #4091
----------------------------------------------

@GucciPrada @xtrawurst Any update with SDK v2.30? Thanks!

[2019-11-15 09:02] RealSenseCustomerSupport commented on #5075
----------------------------------------------

@nafidoni  Does native API work for you? Any other questions? Looking forward to your update. Thanks!

[2019-11-15 09:02] #4989 closed

[2019-11-15 09:17] RealSenseCustomerSupport commented on #4249
----------------------------------------------

@jkenney9a Sorry for late reply. Did you still see this issue with the latest SDK?

[2019-11-15 09:20] RealSenseCustomerSupport commented on #4491
----------------------------------------------

@choonyip Sorry for late reply. Did you still have this issue with the latest SDK?

[2019-11-15 09:23] aswinkumar2019 commented on #5072
I had already tried those solutions.Each solution gives rise to new issue.
The problem is, i didn't run it from top of directory.
I ran it inside python wrappers directory which caused the problem.
Please mention it clearly in installation instructions.

[2019-11-15 09:25] RealSenseCustomerSupport commented on #3839
----------------------------------------------

@stephen-systemfriend Any chance to confirm? And any other questions? Looking forward to your update.

[2019-11-15 09:54] ymatsumotomatsu opened #5248 "rs-measure with multi realsense"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       |  D435i  |
| Firmware Version                   | latest |
| Operating System & Version | Win 10|
| Platform                                 | PC  |
| SDK Version

[2019-11-15 10:40] whatisor commented on #4469
#2567

[2019-11-15 12:28] matspetter opened #5249 "Detailed kernel version support for librealsense2-dkms"
Currently it is not possible to see exactly which kernel versions a certain librealsense2-dkms version supports.
For example: EXACTLY which kernel versions are supported by librealsense2-dkms ver 1.3.7 ?
Currently I can only find like 4.15.0-x but it would be good to see somewhere the values of x!!

I see that there are a lot of support issues regarding this (and a lot of trial and error to find a

[2019-11-15 15:32] MojamojaK opened #5250 "C++: Multithreaded Multi-Depthsensor Close causes Memory Access Violation"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D415 (20 of them) |
| Firmware Version                   | 5.11.15.0 |
| Operating System & Version | Win10 |
| Platform                                 | PC  |
| SDK Versio

[2019-11-15 15:36] JBBee commented on #5239
Sure @radfordi

We are moving the device around before taking measurements, we walk around the room twice before we put it on the cart to wheel it the 5m.

Thanks.

[2019-11-15 15:59] ihadzic commented on #4869
Just learned the hard way: the update fixed the build in newer kernel but broke the old kernel. That actually bites me hard, because I have two systems. One is based on generic ITX board and the other is based on UpBoard. The former tends to be ahead in the kernel than the latter. Of course, my UpBoard build is now broken with the update, because it's a 4.15.0-37 kernel. My ITX-board build works b

[2019-11-15 16:37] aalarcon96 commented on #2552
Hello again,

Is there a way to superimpose the opencv color and depth images like in rs-align? I have aligned color and depth frames using opencv but I was wondering if there was a way to view them in the same viewer like rs-align does.

Thank you!

[2019-11-15 18:30] evercoast-smm commented on #5029
Our proprietary utilization of the libRS API results in exactly the same intermittent problems as are exhibited by the 'rs-multicam' example app that's provided with the distribution. Rather than discussing our implementation, we defer to yours and cite problems with it.

All cameras are running the same firmware, 05.11.15.00. All cameras are connected via USB3.2 with adequate bandwidth and power

[2019-11-15 18:31] bobbyvinson commented on #3450
We followed the python example when first setting up the wheel odometry. In
our starting orientation the camera was facing down though, and not
initializing parallel to our system. The T265 Github page briefly touches
on this behavior "initial yaw can seem random when the device is started in
a downward facing configuration", but we didn't realize that we would then
have to transform the odometry

[2019-11-15 18:45] boilerbots opened #5251 "D435 Firmware causing USB enumeration problems"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D435 |
| Firmware Version                   | 5.11.15.0 |
| Operating System & Version |   Ubuntu 18.04  |
| Kernel Version (Linux Only)    |  5.0.0-32-generic #34~18.04.2-U

[2019-11-15 19:05] #5024 closed

[2019-11-15 19:05] #5120 closed

[2019-11-15 19:05] #5074 closed

[2019-11-15 19:22] btravers1 commented on #5154
I ran into this same issue and did a bunch of testing. Here's what I found:

When connected over USB 2, some bug in the image processing firmware is severely degrading the dynamic range of the raw IR images. Consequently, disparity (depth) cannot be calculated in many types of scenes. This issue has similar results to the old "autoexposure lockup" issue. From what I can tell, there appears to be t

[2019-11-15 19:47] millsrandy commented on #4451
@RealSenseCustomerSupport How would you propose exporting the pose data in CSV format?  The included rs-convert tool is not working currently.  Do you have any suggestions?  Thank you!

[2019-11-15 19:54] millsrandy commented on #4171
@RealSenseCustomerSupport any update on rs-convert?  Trying to convert .bag file to csv to access the x, y, z coordinates and bring those into Cinema4D to assign to a camera object

[2019-11-15 20:00] millsrandy commented on #4171
Now when I run rs-convert, the converter runs fine up to 99%, says "CSV converter" then gives "Segmentation fault (core dumped)."

The .log says "13/11 17:31:06, 588 WARNING [548002587072] (playback_device.cpp:198) Playback device does not provide a matcher

[2019-11-15 20:12] RealSenseCustomerSupport commented on #4259
----------------------------------------------

Hi @ksze,

Please provide us with the following details about your system configuration :

how many cameras are in active use in the system (you have mentioned that under "Sensors" in Device Manager you can see 5 of "HID Sensor Collection V2")? Please note, that for one D435i camera you should see only one instance of "HID Sensor Collection V2" in De

[2019-11-15 20:32] masynthetic commented on #4272
Thanks I got a good install just following the linux instructions with
<cmake .. -DFORCE_RSUSB_BACKEND=ON>

are you using OpenGL?

[2019-11-15 20:56] ThomasBrandonD commented on #2567
Ah, I should also mention I'm running on Ubuntu, so technically its a different problem than OP because he's on Windows. Is there an open ticket for this on linux?

[2019-11-15 21:34] ihadzic commented on #4869
FWIW, I am able to get the system with an older kernel to work by downgrading librealsense2-dkms package to 1.3.5 and having everything else the latest:

[code]

[2019-11-15 21:37] #4021 closed

[2019-11-15 23:39] sadransh opened #5252 "improve tracking stability and pose accuracy in environments with similar or simple patterns(less feature) for 3d map reconstruction"
----------------------------------------------------------------------------------------------------

| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | { T265 } |
| Firmware Version                   | (any) |
| Operating S

[2019-11-16 00:03] RealSenseCustomerSupport commented on #5154
----------------------------------------------

Hi btravers1

Thanks a lot for reporting the issue and spending time on testing. Yes, the issue does impact both D430 and D420 (but not D415 or D410), and it will be fixed in FW5.12.1.0 as planned.
Please stay tuned....
(btw, currently there is no HDR feature in either the VPU chip, nor in the image sensor. This issue that only happens under USB2 is

[2019-11-16 00:25] MikeFlanigan commented on #3617
Ah, since we're working with a JetsonTX24gb which is supported by Jetpack 4.2.2 (& 4.2.1) but not by Jetpack 4.2 (L4T 32.1) we have L4T 32.2 and are trying to figure out how to modify the kernel patches in the links you referenced to get them to work on the new Jetson.

[2019-11-16 01:13] ksze commented on #4259
@RealSenseCustomerSupport Unfortunately, I no longer work at the company where the D435i is used, so I don't have access to a D435i and somebody else will need to pick up the slack. Perhaps @PaulBremner can provide the info?

[2019-11-16 02:24] RealSenseCustomerSupport commented on #4259
----------------------------------------------

@PaulBremner

Can you please provide us with the details about your system configuration?

Thank you!

[2019-11-16 04:29] kafan1986 opened #5253 "Converting Color frame to OpenCV Mat crashes after few frames"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | { D415} |
| Firmware Version                   | {05.11.15.00} |
| Operating System & Version |   {Android 9 Pie} |
| Platform                                 | {Odroid - AR

[2019-11-16 09:47] whatisor commented on #2567
This seems to be very strange but issue only occurs if I "link" my program with other library(OpenVINO).

`
//#include "AIClient.h"
//#include "GlobalMatching.h"
#include <thread>
#include  <librealsense2/rs.hpp>
#include "opencv2/highgui.hpp"
#include "opencv2/imgproc.hpp"
#include "RealsenseTool.hpp"
int main(int argc, char** argv)
{
//      GlobalMatching globalMatch;

        //AIClient aiClie

[2019-11-16 10:01] whatisor commented on #2567
And here is gdb log:

    original_profile=..., to_profile=...)
    at /home/pi/OpenVINO/build/librealsense/src/../include/librealsense2/hpp/rs_frame.hpp:48
warning: Source file is more recent than executable.
48              */
(gdb) bt
#0  0x763f4134 in librealsense::align::create_aligned_profile(rs2::video_stream_profile&, rs2::video_stream_profile&)
    (this=this@entry=0x1bdfa4, original_prof

[2019-11-16 10:39] neilyoung opened #5255 "VSCode debug configuration?"
Hi,
is anybody having here a proper debug configuration for building/debugging one of the C++ samples in Visual Studio Code? I could (at least once) attach VSCode to a running process and also debugging python scripts from VSCode seems to be not a big problem.

Would be great, if one is having such a `launch.json` and would share.

[2019-11-16 14:28] Microset commented on #4807
Good day!
Librealsense SDK 2.30
Try to read and write A_factor:

advnc_mode = rs.rs400_advanced_mode(self.profile.get_device())
advnc_mode.get_amp_factor()
print(advnc_mode.get_amp_factor())
advnc_mode.set_amp_factor(0.08)

TypeError: set_amp_factor(): incompatible function arguments. The following argument types are supported:
    1. (self: pyrealsense2.rs400_advanced_mode, group: STAFactor) -> N

[2019-11-16 17:35] MRo47 commented on #2552
Hi @aalarcon96
[https://docs.opencv.org/3.1.0/d5/dc4/tutorial_adding_images.html](url)
Maybe this helps?

[2019-11-16 20:15] neilyoung opened #5256 "T265: A new question to the experts"
I'm wondering, if this is possible:

Given, I would have a pose (translation and rotation) at some time during a session. Is it possible to make this pose the new origin? Could somebody please point me to the required math?

I hope I could make my problem clear.

If not, here in other words:

- Starting from 0,0,0 (rotation 0)
- Reaching x,y,z (rotation R)
- Obtain new poses from device, but apply

[2019-11-16 20:53] neilyoung commented on #5256
Disregard please. I realized, this is not, what I need :)

[2019-11-17 04:02] #5166 closed

[2019-11-17 06:53] azeezqad commented on #5219
@lxz1104  How did you solve it ?

[2019-11-17 08:04] mickeyouyou opened #5257 "c++ threshold_filter is not in effect by ctor"
I found implement of  `threshold_filter`  in the codebase, like :
[code]

You can see there is a ctor to set min and max distance option. So I Wrote codes below:

[code]

But  Nothing changes in distance. So I check the examples `post_processing` , another invoke is like:
[code]

maybe  we should support style like mine ?

[2019-11-17 12:06] dorodnic commented on #5255
Hi @neilyoung
My `launch.json` on Mac is:
[code]
I'm also using CMake Tools and Native Debug extensions.

[2019-11-17 12:47] dorodnic commented on #5249
Hi @matspetter
I'll let @ev-mp correct me, but the purpose of the DKMS is to be agnostic to the exact kernel version. Usually, kernel includes do not make breaking changes within single kernel release. 4.15 is the exception, hence the problems.
We may end up publishing this information (for kernel 4.15.0-x use dkms x.y.z, for kernel 4.15.0-y use dkms a.b.c) but for all other kernel versions we man

[2019-11-17 14:11] neilyoung commented on #5255
@dorodnic Thanks, Sergey.

Not sure if that works on my Linux box. Was installing CMake Tools too, but getting this
[code]

[2019-11-17 14:12] neilyoung commented on #5255
With every new start I'm getting asked now, if I want to configure the project.

The result is always like this:
[code]

[2019-11-17 14:17] neilyoung commented on #5255
cmake version 3.15.5

[2019-11-17 16:51] neilyoung commented on #5255
I can't build, but I could make gdb run from vscode, changing launch.json like so:

[code]

So, basically provide an absolute path and remove MIMode config

[2019-11-17 17:32] neilyoung opened #5258 "Building librealsense on macOS Catalina does not work"
- Following this tutorial: https://github.com/IntelRealSense/librealsense/blob/master/doc/installation_osx.md
- First issue: There is no `brew cask install vulkan-sdk`. I know there is a PR pending, the proper command is `brew cask install apenngrace/vulkan/vulkan-sdk`
- CMake runs OK

[code]

- Attempt to make fails:

[code]

- Contents of the build folder:

├── CMakeCache.txt
├── CMakeFiles
├──

[2019-11-18 00:17] dedejoe opened #5259 "Changing output size of image"
Hi here's what I'm using:
| Camera Model                       | { D435i } |
| Firmware Version                   | Current Firmware |
| Operating System & Version |   Ubuntu 18.04  |
| Kernel Version (Linux Only)    |  4.19                                       |
| Platform                                 | Raspberry Pi 4 |
| SDK Version                            |  Current SDK

[2019-11-18 02:28] Makmarkrealsense opened #5260 "No more frame buffers (1), dropping frame"
----------------------------------------------------------------------------------------------------

| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | {T265 } |
| Firmware Version                   | 0.2.0.857 |
| Operatin

[2019-11-18 02:54] RealSenseCustomerSupport commented on #5143
----------------------------------------------

@ahuizxc Could you please update? Thanks!

[2019-11-18 03:09] ahuizxc commented on #5143
Got it, thanks for your help:)

[2019-11-18 03:09] #5143 closed

[2019-11-18 04:07] RealSenseCustomerSupport commented on #4978
----------------------------------------------

@Veng3nce Could you please update? Thanks!

[2019-11-18 04:07] RealSenseCustomerSupport commented on #4993
----------------------------------------------

@kazu0622 Any other questions about this ticket? Thanks!

[2019-11-18 06:20] fanofpal opened #5261 "cannot get IMU data on a Mac OS platform"
Hello, recently I tried to develop on a D435i, unfortunately, I could not obtain IMU data(including accel and gyro) in realsense-viewer(Mac version), although RGB and depth images could be displayed normally.
It could be sure that the D435i itself did not have any problems as the IMU data could be obtained normally on a windows10 platform.
Then I tried the API of python on the Mac platform, the co

[2019-11-18 06:51] SirDifferential commented on #4272
No, I run headless without a graphical window.

Does the file exist? Most likely your compilation failed before the executable files were created.

You can't execute `.cpp` files. They are source code you need to compile into executables.

[2019-11-18 06:52] wodndb commented on #5224
Check the file "RsDeviceEditor.cs" in RealSesneSDK2.0

[2019-11-18 07:32] RealSenseCustomerSupport commented on #5186
----------------------------------------------

Hi @sumandeepb,

Please check the calibration data (rs-enumerate-devices -c) on these two malfunctioned D435i cameras.
If it's normal, suggest to go back to the reseller for RMA and failure analysis.

[2019-11-18 07:47] daothanlong11 opened #5262 "IR frame format"
----------------------------------------------------------------------------------------------------

| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D400  |
| Operating System & Version |  Ubuntu 16.04 LTS |
| Platform

[2019-11-18 08:20] Jiloc commented on #5230
same problem, SR300 cannot be detected on ubuntu 18.04 after updating to 2.30

[2019-11-18 08:53] dorodnic commented on #5261
Hi @fanofpal
This is a limitation of the SDK, documented in [release notes](https://github.com/IntelRealSense/librealsense/releases/tag/v2.30.0) and [support matrix document](https://github.com/IntelRealSense/librealsense/blob/development/doc/support-matrix.md).
The source of the issue is that Mac OS is preemptively locking any new HID device preventing Linux-style access.
There is good progress r

[2019-11-18 08:57] dorodnic commented on #5258
Hi @neilyoung
Have you tried running CMake without `-G Xcode`? Make sure to remove the content of `build` before re-running CMake.

[2019-11-18 09:03] xiao-keeplearning commented on #2767
What should I do? #2767 is just this issue.

[2019-11-18 09:30] dorodnic commented on #5259
For rendering the Viewer (and all the examples) are creating opengl texture and uploading low-res depth data to the GPU. Then, its up to the GPU to stretch the texture to whatever polygon you wish to render to. This depends on your language and rendering subsystem, but I believe there is glfw variant for python as well.

[2019-11-18 09:55] neilyoung commented on #5258
@dorodnic Yepp. Thanks. This worked. Created a PR https://github.com/IntelRealSense/librealsense/pull/5264

I now have a runtime issue, but this is probably something different. The pose sample did run at least once already :)

[code]

[2019-11-18 12:37] timor11 opened #5266 "bridge is being tested"
please ignore; this is a test of the customer support bridge

[2019-11-18 12:49] timor11 commented on #5266
hello, please ignore

[2019-11-18 12:51] timor11 commented on #5266
close

[2019-11-18 13:03] timor11 commented on #5266
reopening with comment

[2019-11-18 13:04] jebasamuel commented on #5260
I had faced similar issue. I believe it is due to frame buffer is not released as earlier possible when new frame is arrived.
I think It may work well if we increase no of frame buffers from 1 to 2 or 3( double/triple frame buffer).

[2019-11-18 13:16] timor11 commented on #5266
please ignore, again

[2019-11-18 13:26] timor11 commented on #5266
please ignore this comment

[2019-11-18 13:26] timor11 commented on #5266
closing comment

[2019-11-18 13:26] #5266 closed

[2019-11-18 13:52] btravers1 commented on #5154
Thank you for the information!
That would make sense - I tested a D410 module and found it worked much better. (unfortunately, we can't use it in our device due to FoV/global shutter requirements) I'm excited for the update!

Are there any rough estimates for the release date? (helpful so I can develop a rough field test schedule)

[2019-11-18 14:33] MartyG-RealSense opened #5267 "Announcement: Intel OneAPI for build, test and deploy across multiple hardware targets"
Hi everyone,

Intel has introduced its "write once, run anywhere" **oneAPI** toolkit, which has a base kit and add-on kits.

 https://software.intel.com/en-us/oneapi

[2019-11-18 15:22] #5163 closed

[2019-11-18 15:31] fanghaos2014 opened #5269 "Is the real sense camera can be used as a USB camera to scan QR code?"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | { D400 } |
| Firmware Version                   | (Open RealSense Viewer --> Click info) |
| Operating System & Version |   Android  |                          |

[2019-11-18 16:56] #5258 closed

[2019-11-18 17:17] neilyoung commented on #5136
@seanngpack OK, meanwhile I could build on macOS Catalina. https://github.com/IntelRealSense/librealsense/issues/5258

[2019-11-18 17:49] neilyoung opened #5270 "T265: A lot of USB problems on macOS"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | T265 |
| Firmware Version                   | 0.1.0.279
| Operating System & Version |  macOS Catalina |
| Kernel Version (Linux Only)    |      |
| Platform

[2019-11-18 18:17] neilyoung commented on #5270
@bfulkers-i  I can confirm your PR https://github.com/IntelRealSense/librealsense/pull/5213 works great on macOS Catalina. I hope it will get merged soon into development and or master.

Thanks

[2019-11-18 18:27] RealSenseCustomerSupport commented on #5154
----------------------------------------------

Hi btravers1,

Thanks for asking, I don't see when FW5.12.1.0 is going to release to public since currently the FW5.12.0.0 is about to release. I would expect it two weeks later after FW5.12.0.0 being released. Please check out here (https://dev.intelrealsense.com/docs/firmware-releases?_ga=2.7935409.2059913868.1574099817-666642886.1566408450)

Thank

[2019-11-18 18:35] TheBricktop commented on #4648
This issue shouldnt be closed as there still is no official support for t265 on Android.

[2019-11-18 18:43] btravers1 commented on #5154
Great, thank you!

[2019-11-18 19:23] shannonwarren opened #5271 "Adding wheel odometry input to T265"
I have some concerns fusing wheel odometery data using the calibration file provided.

I'm assuming my calibration file provided has the correct translation and rotation parameters however when I give a very low noise covariance of 0.000005 to the wheel odometer(just for testing purposes) hoping that the T265 tracking follows my wheel odometers; the tracking is completely off.

Could it be because

[2019-11-18 19:55] masynthetic commented on #4272
Thank you again sir. It does not look like I have executable so I am assuming you're right. I'll give uninstall/reinstall a shot

[2019-11-18 20:06] #5056 closed

[2019-11-18 22:01] nlatkar opened #5272 "How can I save and load a depth frame Intel PyRealsense D435I python"
I can save/load depth frame as a .png file and convert it to a numpy array and then save it. However, is there a way to store depth frame as it is without changing it to numpy array?

[2019-11-18 23:31] RealSenseCustomerSupport commented on #4996
----------------------------------------------

Hi neilyoung,

I have confirmed on Ubuntu with latest librealsense2  Ver. 2.30.0 release that this warning no longer happens.

Will you be needing any further assistance on this?

Thanks

[2019-11-18 23:49] Makmarkrealsense commented on #5260
@jebasamuel
I see , but when I get current RS frame queue size it show ::
RS2_OPTION_FRAMES_QUEUE_SIZE :: 64

it mean more then 1 or 3 , is that the frame queue size same as frame buffers ?

[2019-11-18 23:57] MartyG-RealSense commented on #5272
There is a command that can be used with Python called **save_single_frameset**.

https://stackoverflow.com/questions/56595960/how-to-use-realsense-in-python-function-save-single-frameset

[2019-11-19 00:29] RealSenseCustomerSupport commented on #5149
----------------------------------------------

Hi devLupin,

The Dynamic Calibration only optimizes the extrinsic parameters where the OEM Calibration does both extrinsic and intrinsic parameters.
I believe currently the Vicalib is not supported on D400 camera anymore, it is for T265, the tracking camera.

Thanks

**Please be informed that we will close this ticket in seven (7) days if we have no

[2019-11-19 01:10] #5199 closed

[2019-11-19 01:18] devLupin commented on #5149
@RealSenseCustomerSupport
Thank you.

Does the free tool Vicalib no longer support my 435 camera?
Do I have to buy the dynamic calibrator mentioned above?

[2019-11-19 02:07] fanofpal commented on #5261
@dorodnic Thank you for the reply!

[2019-11-19 02:07] #5261 closed

[2019-11-19 02:32] neilyoung commented on #4996
Thanks. Can be closed.

[2019-11-19 02:34] RealSenseCustomerSupport commented on #5149
----------------------------------------------

Hi devLupin

Our Calibration Tool development engineer says we don't support Vicalib on D4xx. The "Dynamic Calibration" tool is FREE to users. https://downloadcenter.intel.com/download/28517/Intel-RealSense-D400-Series-Calibration-Tools-and-API

Thanks

**Please be informed that we will close this ticket in seven (7) days if we have not heard back fr

[2019-11-19 02:38] devLupin commented on #5149
@RealSenseCustomerSupport
Thanks

[2019-11-19 03:38] oor001 opened #5273 "USB2 mode auto exposure issue with firmware v5.11.15.0"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D435 |
| Firmware Version                   | v5.11.15.0 |
| Operating System & Version |   Win 10) / Linux (Ubuntu 18) |
| Kernel Version (Linux Only)    |  (e.g. 4.15.0)

[2019-11-19 05:07] snowymo opened #5274 "libusb error on Raspberry Pi with T265: TrackingManager: Error while loading image - libusb_open failed"
----------------------------------------------------------------------------------------------------

| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | T265 |
| Operating System & Version |  Raspbian |
| Platform

[2019-11-19 07:01] seanngpack commented on #2118
any update on how to install on Mac?

[2019-11-19 07:14] seanngpack opened #5275 "Installing pyrealsense2 on MacOS?"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | { D435 } |
| Operating System & Version |   {MacOS  Catalina }                             |

### Issue Description
Hello all, this is a pretty high level question but I can

[2019-11-19 07:31] neilyoung opened #5276 "T265: macOS python problem"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | T265 |
| Firmware Version                   | 0.1.0.279
| Operating System & Version |  macOS Catalina |
| Kernel Version (Linux Only)    |      |
| Platform

[2019-11-19 07:34] likestudy commented on #5230
For my problem, it is caused by the version, which was solved when using v2.29.

[2019-11-19 07:34] #5230 closed

[2019-11-19 07:38] RealSenseCustomerSupport commented on #5186
----------------------------------------------

Hi @sumandeepb,

Did these two D435i cameras' depth streams never work normally before when you got them?

[2019-11-19 08:29] sumandeepb commented on #5186
I will check tomorrow and report the results here.

[2019-11-19 08:34] sumandeepb commented on #5186
I don't think so. We got 8 of them a few months back. Did the development with just 2, they worked fine. Later tested all 8 and out of that 2 never seem to stream the deapth data, only streams the IMU data.

They had really old firmware in them 5.10.xx. Updating the firmware to version 05.11.06.250 (production) did not help. Then again updating to firmware version 05.11.15.00 (development) also di

[2019-11-19 08:53] dorodnic commented on #5276
I think there is version mismatch between one of the parts - the script, python so file and realsense2.so file. There were some changes related to save_to_ply in recent releases, and you may be still running the old version of the SDK.

[2019-11-19 09:12] #4993 closed

[2019-11-19 09:13] kazu0622 commented on #4993
Thank you for all of  your comment.

[2019-11-19 09:14] neilyoung commented on #5276
Hmm. It is the development branch, cloned yesterday. My "Reguired Info" is wrong. The librealsense version is 2.30.1

[2019-11-19 11:58] Microset opened #5277 "Python API for A-factor"
| Required Info                         |                                                                |
| Camera Model                       |  D435 } |
| Firmware Version                   | 05.11.15.00 |
| Operating System & Version |  Ubuntu 16  |
| Kernel Version (Linux Only)    |  (e.g. 4.15.0)                                         |
| Platform                                 | PC  |
| S

[2019-11-19 14:41] TheBricktop commented on #5201
Such shame that project alloy got slashed, it would be a nice competition to locked in Quest and nonexistent on individual market HTC focus, even better if it would be hackable and open for extensions like maybe with compute cards (another slashed idea). It could work on existent frameworks like WMR or OpenVR or even Monado.

[2019-11-19 15:11] MartyG-RealSense commented on #5201
I believe that Project Alloy was the responsibility of Intel's VR department and not the RealSense department, even though Alloy had a RealSense ZR300 in it.

Alloy was intended to be a "reference design" - Intel would offer the blueprint for the headset hardware and then manufacturers would produce and sell it themselves instead of Intel producing it.  Alloy coincided with Microsoft's alternative

[2019-11-19 15:45] TheBricktop commented on #5192
Will try the update, im really happy that relocalisation feature is coming along, but dissapointed that there is still no support for t265 on android, and it could really benefit our current project as it needs reliable augmented reaity tracking that depends on recorded maps. (we cannot use markers)

[2019-11-19 16:10] dorodnic commented on #5192
Hi @TheBricktop
#5213 is a significant step in the direction of T265 on Android. Still no commitment we can provide, but a lot of work is being done towards it.

[2019-11-19 16:10] #5192 closed

[2019-11-19 16:27] #5146 closed

[2019-11-19 16:30] #5000 closed

[2019-11-19 16:30] #4986 closed

[2019-11-19 16:43] RajkiranVeldur opened #5279 "Trying to test with lesser landmarks"
* Before opening a new issue, we wanted to provide you with some useful suggestions (Click "Preview" above for a better view):

    * Consider checking out SDK [examples](https://github.com/IntelRealSense/librealsense/tree/master/examples#sample-code-for-intel-realsense-cameras).
    * Have you looked in our [documentations](https://github.com/IntelRealSense/librealsense/tree/master/doc#useful-lin

[2019-11-19 16:46] dorodnic commented on #4926
Hi @JBBee
Sorry for the delay. System time and Global time should be for most part comparable (up to stream latency). There is currently no way to force T265 to system time.
The script needs to be executed once per camera, and there is the alternative of installing [Windows driver](https://downloadcenter.intel.com/download/28723/Intel-RealSense-D400-Series-Universal-Windows-Platform-UWP-Driver-for

[2019-11-19 16:47] #4913 closed

[2019-11-19 16:49] #4461 closed

[2019-11-19 16:53] dorodnic commented on #3779
Should be resolved now

[2019-11-19 16:53] #3779 closed

[2019-11-19 16:55] bsbretly commented on #5129
@jungladicitta - are you able to please provide the steps you followed to successfully run at least one of your realsense devices on your TX2?

Are you running L4T 28.1.0?

Much appreciated!

[2019-11-19 17:04] ev-mp commented on #5249
@matspetter hello,
The dkms package are managed per distro, currently Bionic and Xenial as specified in the [documentation](https://github.com/IntelRealSense/librealsense/blob/master/doc/distribution_linux.md#using-pre-build-packages), and in general those are aligned to [Ubuntu LTS Enablement Roadmap](https://wiki.ubuntu.com/Kernel/LTSEnablementStack) -
Librealsense2-dkms Xenial - handles all the

[2019-11-19 17:20] ev-mp commented on #4869
@ihadzic , thanks for the feedback. I hope the latest v1.3.9/v1.3.10 versions bring this to the end as they underwent extra testing and very physically deployed on multiplicity of kernel for verification.
See #5249 for details.
Just to confirm - using dkms v1.3.5 with kernels prior to 4.15.0-58 is perfectly fine and there is no need for immediate upgrade, unless you're planning to upgrade Ubuntu t

[2019-11-19 17:33] dorodnic commented on #5279
The sample code is provided for reference, you are encouraged to modify it to your needs.

[2019-11-19 18:02] smnogar commented on #3728
I am also running into this running ubuntu 18. I see these messages while ROS is running. There is anecdotal evidence this is causing my systems to reboot. These messages were the last thing logged into the system log before my system rebooted. These events seem to be fairly rare though.

[2019-11-19 18:53] JBBee commented on #4926
Thanks @dorodnic that answers my question.

[2019-11-19 18:53] #4926 closed

[2019-11-19 19:06] #4996 closed

[2019-11-19 19:10] RealSenseCustomerSupport commented on #5042
----------------------------------------------

Hi @hojunson

Were you able to utilize the information from MartyG-RealSense to help with your question?  Is there anything further needed here?  As MartyG-RealSense outlined our only example is what is provided at this time.

[2019-11-19 19:14] RealSenseCustomerSupport commented on #4876
----------------------------------------------

@msadowski - Were you able to test the drift out with the latest librealsense 2.30.0 version?  I'd like to know if there has been any improvement in your scenario with this updated version.

Can you provide a video or link to a video showing the robot movement and the environment you're operating in?

[2019-11-19 19:15] dime1991 commented on #5273
I am having the exact same problem with USB2

[2019-11-19 19:27] RealSenseCustomerSupport commented on #5004
----------------------------------------------

@BriceRenaudeau

We are always working on our algorithm and making updates as you may know based on updates to the latest librealsense and outlined via our release notes.

With that being said, has anything changed in regards to the environment or lighting or anything else in the operations of your robot device?

Were you able to update to the latest

[2019-11-19 19:32] RealSenseCustomerSupport commented on #5089
----------------------------------------------

@AlmostNoMemory

Do you still see the errors?  Is it only with the T265 product connected to the system or are you having this same problem with other RealSense products if you have other RealSense products?

[2019-11-19 19:33] boilerbots commented on #5251
We conducted a few more tests and have found that plugging the D435 through different hubs and even hubs connected to the primary hubs used in the original ticket the cameras appear to be much more reliable and predictable showing up after reboots. For example Anker 7 port USB 3 hub with camera plugged into first port is very flaky, Plugging another Anker 4 port USB3 hub into the first port and th

[2019-11-19 20:00] RealSenseCustomerSupport commented on #5216
----------------------------------------------

@Andrew-fedoralabs

Have you been able to verify the updates from dorodnic?

[2019-11-19 20:01] neilyoung commented on #5276
Somebody having another idea?

[2019-11-19 20:02] #4818 closed

[2019-11-19 20:07] neilyoung commented on #5255
@dorodnic I'm now running the lldb debugger via vscode on macOS. The app is correctly launched, runs and prints out, but none of my breakpoints is hit.

I have enabled logging and as far as I can see one breakpoint is set:

[code]

Isn't -DCMAKE_BUILD_TYPE=Debug not sufficient to create a gdb debuggable binary?

[2019-11-19 20:39] neilyoung commented on #5255
Additional info: The "-g" flag is set on debug build...

[2019-11-19 20:55] neilyoung commented on #5255
OK, this seems to be a Catalina issue. There is a workaround in form of the CodeLLDB extension, which makes debugging possible again.

https://github.com/microsoft/vscode-cpptools/issues/3829

Can be closed. Solved

[2019-11-19 20:55] #5255 closed

[2019-11-19 21:14] TheBricktop commented on #5201
Yeah, but having compute card with i5 and intel UHD gpu would certainly help. This was amazing concept.

[2019-11-19 22:00] MartyG-RealSense commented on #5201
Some cancelled RealSense projects end up coming back in other forms.  2016's cancel of a previewed product was an Android smartphone with a ZR300 called the RealSense Smartphone Developer Kit. Later of course, Android support was successfully introduced for 400 Series cameras.

https://software.intel.com/en-us/blogs/2016/02/22/introducing-intel-realsense-smartphone-developer-kit

[2019-11-19 22:21] neilyoung commented on #5276
@dorodnic You were right. I was on the current development branch and because of the USB issues on my Mac https://github.com/IntelRealSense/librealsense/issues/5270 I merged PR #5213, which made my USB run. But as a side effect it killed python. Maybe an interesting info for the team.

[2019-11-20 00:30] shannonwarren commented on #5271
After poking around a bit, I've got my wheel odometry to work with the t265 with extremely low covariances values and an input frequency of 10hz. However, I still have some queries regarding the _calibration_odometry.json_ file.

1: I did not have to change the translation and rotation parameters in the calibration file even though my base_link frame and t265_ camera_pose frame are not aligned. I

[2019-11-20 02:17] snowymo commented on #5274
I guess maybe it is because libusb so I installed that by
```sudo apt-get install libusb-1.0-0-dev```
Then I ran all the ```cmake``` , ```make``` and ```make install```. All successful.

Then I ran the example code in python wrapper and have this error
[code]

I think it is still related to libusb. But I did not find anything related to raspbian, T265 and libusb online.

[2019-11-20 02:59] snowymo commented on #5274
I realized some [pages ](https://ubuntuforums.org/showthread.php?t=901891) talked about usb rules. So I tried adding one file ```99-realsense-libusb.rules``` in ```\etc\udev\rules.d```.

I can share the file content if necessary.

Before that, I tried installing a couple of packages. See [here](https://dev.intelrealsense.com/docs/compiling-librealsense-for-linux-ubuntu-guide).

Nothing else has be

[2019-11-20 04:12] seanngpack commented on #5275
Okay I ran alternative steps to get something built, but I'm not sure what to do next.

1. `git clone https://github.com/IntelRealSense/librealsense`
2. `mkdir build` & `cd build`
3. `cmake ../ -DBUILD_PYTHON_BINDINGS=bool:true`
4. `make -j4`

It built...but what is next? How do I actually use the wrapper (pyrealsense2) in my projects?

[2019-11-20 04:21] seanngpack commented on #5275
Okay I got it, for future Mac users this is how I did it:

[2019-11-20 04:21] #5275 closed

[2019-11-20 05:06] qaler opened #5281 "Why parameter `pixel` is float type in `rs2_deproject_pixel_to_point method`."
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | { SR300  / D400 } |
| Operating System & Version |   {Win (8.1/10)   |
| Platform                                 | PC  |
| SDK Version                            |  { 2.<?>

[2019-11-20 07:50] RealSenseCustomerSupport commented on #5186
----------------------------------------------

Hi @sumandeepb,

This requires the failure analysis of these two cameras. One reason we faced was that the internal hardware connection between the interposer board and the camera module  is loose due to the accidental drop.
No solid connection will affect the video stream, which requires high data throughput with reliable cable and connection. IMU s

[2019-11-20 08:07] neilyoung commented on #5275
- `sudo make install` after make
-  `export PYTHONPATH=$PYTHONPATH:/usr/local/lib` either on console or in your `.bashrc`
- `import pyrealsense2` from everywhere

[2019-11-20 08:20] ev-mp commented on #5281
Hi @qaler, this is not a common usage, but in certain use-cases depth vertices need to be generated for non-discreet pixel indexes. For instance [rs2_project_color_pixel_to_depth_pixel](https://github.com/IntelRealSense/librealsense/blob/d19829788008b8e000870895a068f0c43d58895a/include/librealsense2/rsutil.h#L170) employs this method to solve a minimization problem for which  the solution resides

[2019-11-20 08:34] RealSenseCustomerSupport commented on #5229
----------------------------------------------

@likestudy With the reply of ev-mp, did you get it through now? Looking forward to your update. Thanks!

[2019-11-20 08:35] RealSenseCustomerSupport commented on #5217
----------------------------------------------

@drhalftone With the suggestion from dorodnic, did you get it through? Looking forward to your update. Thanks!

[2019-11-20 08:50] likestudy commented on #5229
@RealSenseCustomerSupport. Thanks to ev-mp's reply. According to the guidelines of ev-mp, my problem has been solved.

[2019-11-20 08:58] matspetter commented on #5249
Ok I see, I was probably unlucky with trying 4.15.70 (or something) just before 1.3.7 was released and I got a bit confused.

[2019-11-20 08:58] #5249 closed

[2019-11-20 09:02] #5141 closed

[2019-11-20 10:03] #5008 closed

[2019-11-20 10:11] Tom127 opened #5282 "All the official alignment code(rs-align/align-depth2color) didn't work well"
align-depth2color.py:

![align-depth2color py](https://user-images.githubusercontent.com/34730402/69229164-e3feb100-0bbf-11ea-9bc6-2a546575968e.png)

rs-align.cpp:

![rs-align cpp](https://user-images.githubusercontent.com/34730402/69229198-f8db4480-0bbf-11ea-95f0-c88f153dfd7b.png)

realsense_viewer:

![realsence_viewer](https://user-images.githubusercontent.com/34730402/69229189-f24ccd00-0bbf-11e

[2019-11-20 10:38] g2-bernotas commented on #5262
You can only select Y8 or Y16 for the IR camera as far as I am aware:
![image](https://user-images.githubusercontent.com/10003686/69231795-ae3ad780-0b81-11ea-8620-7f733842f985.png)

If you are talking about the colour camera, then:
[code]

[2019-11-20 11:27] ev-mp commented on #5282
@Tom127 hi,
There are some minor artifacts recognizable e.g. the blue line under the chin in the second picture, still within the calibration tolerances. Other than that the aligned images seem to be coherent.
Can you be more specific?

[2019-11-20 11:48] RajkiranVeldur commented on #5279
Hey @dorodnic, can you please explain whats the calculation behind find_depth_from?

[2019-11-20 13:04] lichenyue1996 commented on #4427
hello, I want to do the same things like you. I want to use realsense to save pictures like TUM dataset.
Could you tell me how to save depth images?

[2019-11-20 13:10] lichenyue1996 commented on #2785
hello, I want to do the same things like you. I want to use realsense to save pictures like TUM dataset.
Could you tell me how to save depth images?

[2019-11-20 13:12] matthiaslexer commented on #5273
Having the same problem with USB2, with USB3 it just works fine.

[2019-11-20 14:21] drapado opened #5284 "3D transformation using T265 output"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | { T265 & D400 } |
| Firmware Version                   | 2.3 |
| Operating System & Version |   Linux  |
| Kernel Version (Linux Only)    |  4.9

[2019-11-20 16:09] Veng3nce commented on #4978
@RealSenseCustomerSupport I've currently moved on from this project, will be happy to update the ticket once I have tried the solution in #4278.

[2019-11-20 16:09] #4978 closed

[2019-11-20 16:32] MartyG-RealSense commented on #5284
Intel has an article that explores combining a depth camera with the tracking of the T265.

https://www.intelrealsense.com/depth-and-tracking-combined-get-started/

It offers a link to a code example, though it is for ROS rather than Python.  It says:

**"For an example of depth and tracking integration, a ROS package can be used to generate a 2D occupancy map based on depth images and poses from

[2019-11-20 17:48] RealSenseCustomerSupport commented on #5130
----------------------------------------------

Hi @TobiMiller

Is there anything further you need on this thread?

[2019-11-20 18:05] #5085 closed

[2019-11-20 21:51] aalarcon96 opened #5285 "Pipeline pipe causing app to crash"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | { D415 } |
| Firmware Version                   |{ 05.11.15.00 } |
| Operating System & Version |   { MacOS } |
| Platform                                 | PC|
| Language

[2019-11-20 22:24] RealSenseCustomerSupport commented on #5247
----------------------------------------------

Hi PhillipVoyle

I am trying to understand the issue you see. Are you saying the the issue only happens on Linux platform? Somehow I do see the Preview in meet.google.com but it is under Window 10 (see the screenshots below). Both D435 and D415 are streaming with RGB cameras. However, it looks I have to close the browser and re-open it when change ca

[2019-11-21 02:44] RealSenseCustomerSupport commented on #5188
----------------------------------------------

@edrti With the suggestion of ev-mp, did you get it through? Looking forward to your update. Thanks!

[2019-11-21 02:50] RealSenseCustomerSupport commented on #5183
----------------------------------------------

@aalarcon96 Any luck to get it through with the suggestion of ev-mp? Looking forward to your update. Thanks!

[2019-11-21 03:21] Tom127 commented on #5282
@ev-mp  Thanks for you reply!
Taking the first picture as example, there are two silhouettes(contours) in the depth image. Corresponding to three codes(align-depth2color.py/ rs-align.cpp/ realsense_viewer), all three pictures have the same situation, does it mean the bad alignment? What's the problem?

![align-depth2color py](https://user-images.githubusercontent.com/34730402/69301091-0b9d5a00-0c5

[2019-11-21 03:40] gjd2017 opened #5287 "set the color scheme with the RS2_OPTION_COLOR_SCHEME"
The **rs_measure** sample program demonstrates code in its first lines to set the color scheme with the RS2_OPTION_COLOR_SCHEME instruction.

https://github.com/IntelRealSense/librealsense/tree/master/examples/measure#code-overview

_Originally posted by @MartyG-RealSense in https://github.com/IntelRealSense/librealsense/issues/5194#issuecomment-550208681_

How can I do it in python?

[2019-11-21 07:11] kafan1986 commented on #4091
@matkatz @RealSenseCustomerSupport I have received same OOM error on SDK 2.30.0 on android 9 (S922x SBC). My colour config is 1920x1080x15fps and depth is 1280x720x15. It works OK for few minutes and then crashes.

`
I/librs: endpoint 132 read buffer size: 4148224
I/librs: USB pipe 132 reset successfully
I/librs: usb_request_queue returned error, endpoint: 132 error: Out of memory, number: 12
E/li

[2019-11-21 07:54] dorodnic commented on #5287
https://github.com/IntelRealSense/librealsense/issues/3967

[2019-11-21 08:29] RealSenseCustomerSupport commented on #5173
----------------------------------------------

Hi @JimXu1989,

You can review below PR which is not yet in librealsense 2.30.0.
https://github.com/IntelRealSense/librealsense/pull/5200/files

[2019-11-21 08:57] gjd2017 commented on #5287
@dorodnic Thks , OK.

[2019-11-21 08:57] #5287 closed

[2019-11-21 11:27] ev-mp commented on #5173
The PR has been merged into `development` branch. Will be tagged with the next version, tentatively v2.31.0.

[2019-11-21 11:57] ev-mp commented on #5282
@Tom127 hello,
1. The black strap that separates the contours of chin, shoulder and their projections on the wall is the manifestation of occlusion (#2445).

2. The red line marked as distortion -  the aligned images for D400 and SR300 devices shall always have their left and right sides "corroded" due to the physical horizontal displacement between the Depth and RGB sensors (#2355).
The alignment

[2019-11-21 11:59] ahuizxc opened #5288 "System identification error using T265"
Hi, when I testing T265 camera, there is a odd problem. When the T265 camera first plug in, run `dmesg` I get
[code]
in my terminal.
And then when I run ```realsense-viewer```
and ```dmesg```
the Usb port information changed to :
[code]
I am very confused:)

[2019-11-21 12:11] dorodnic commented on #5288
Hi @ahuizxc
This is normal - T265 is based on Intel Movidius chip. By default it loads as Movidius boot-loader. Viewer (and rest of the SDK apps) identifies it and loads T265 firmware to it, and the whole unit reboots as Intel RealSense Tracking Camera T265.
In theory, you could load any other Movidius firmware (like the NCS) but we only provide support for the firmware included in the SDK.

[2019-11-21 12:13] dorodnic commented on #5279
@maloel - could you please comment?

[2019-11-21 13:02] FangjinhuaWang opened #5290 "Disable Auto Exposure Priority in code"
Hi. I am working on D435i to synchronize Depth camera and RGB. I know that I should disable Auto Exposure Priority control under RGB Camera. But I do not know how to implement this in code and I do not find any example in the library. Does this look like the following codes:

auto sensor = pipe_profile.get_device().first<rs2::depth_sensor>();
sensor.set_option(RS2_OPTION_AUTO_EXPOSURE_PRIORITY, 0)

[2019-11-21 13:04] maloel commented on #5279
Hmm the code states:

`/*
    Calculates the average depth for a range of two-dimentional points in face, such that:
        point(n) = face.part(n)
    and puts the result in *p_average_depth.

    Points for which no depth is available (is 0) are ignored and not factored into the average.

    Returns true if an average is available (at least one point has depth); false otherwise.
*/`

Given 5 p

[2019-11-21 13:08] maloel commented on #5279
@RajkiranVeldur I did have a version of the code working with only 5 points.
You'll need to use a different model (the source code has a pointer to it, I think) and, of course, update the heuristics, drawing, etc. that expect 68 points right now.

[2019-11-21 13:11] RajkiranVeldur commented on #5279
@maloel can you please share the code if you have one? It will help me save a lot of time. I appreciate your support. Thank you.

[2019-11-21 13:20] maloel commented on #5279
@RajkiranVeldur sorry, I no longer have it. :(

[2019-11-21 13:26] RajkiranVeldur commented on #5279
Oh! Okay. No worries. Will try from my end. Thank you.

[2019-11-21 13:26] #5279 closed

[2019-11-21 13:48] dorodnic commented on #5290
Hi @FangjinhuaWang
Try `auto sensor = pipe_profile.get_device().query_sensors()[1];`
`RS2_OPTION_AUTO_EXPOSURE_PRIORITY` is not on the depth sensor, but rather on RGB

[2019-11-21 14:05] fanofpal opened #5291 "Cannot get imu data using frame callback using a D435i"
Hello, recently I tried to use frame callback to get data from a D435i realsense camera. Referring to the code [in this issue](https://github.com/IntelRealSense/librealsense/issues/5143), I successfully obtained color and depth data. However, when I tried to obtain the imu data, there seemed to be something wrong. The program did not report any error and could run, but the imu data is not printed.

[2019-11-21 14:29] FangjinhuaWang commented on #5290
thanks for your quick reply. I will have a try soon

[2019-11-21 14:33] aalarcon96 commented on #5183
Ev-mp was right, thank you for following up.

[2019-11-21 14:33] #5183 closed

[2019-11-21 16:15] MartyG-RealSense opened #5292 "Announcement: Intel report on RealSense and robotics at the IROS 2019 show"
Hi everyone,

Intel's RealSense blog has published a report on Intel's exhibition presence of RealSense at the IROS 2019 robotics show.

https://www.intelrealsense.com/intel-realsense-at-iros-2019/

[2019-11-21 17:22] RealSenseCustomerSupport commented on #5178
----------------------------------------------

Hi Neil. Would you say this particular ticket is resolved and can be closed?

[2019-11-21 17:42] radfordi commented on #5178
@neilyoung provided his code in a now merged PR #5198.  Thanks @neilyoung!  After his removal of the library code we used, the conversion to C++ is nearly a direct copy of the python.  I'd say this is closed.

[2019-11-21 17:42] #5178 closed

[2019-11-21 18:10] neilyoung commented on #5178
Sorry, too late. Yes, absolutely. Can be closed :)

[2019-11-21 18:15] neilyoung opened #5293 "T265: Feature request list_static_nodes"
Would it be possible to add such a function? This would allow applications to list all static nodes found in a map in order to get_static_node() later on. The advantage: Given, a node naming follows a syntax rule, the particular naming of a static node must not be know by a using app. Say, maps have been pre-created and contain static nodes, and the using app does not know the particular names (si

[2019-11-21 18:17] neilyoung commented on #5293
A better name would probably `enumerate_static_node_names` or so...

[2019-11-21 18:19] neilyoung opened #5294 "T265: Event listener"
Is there any sample code, showing how to register for event?  For instance I would like to receive RS2_NOTIFICATION_CATEGORY_POSE_RELOCALIZATION from a C++ app or a python script

[2019-11-21 18:24] gstewart9727 opened #5295 "Realsense D435 Camera - Save-To-Disk with JPG"
----------------------------------------------------------------------------------------------------

| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D435  |
| Firmware Version                   |  |
| Operating System &

[2019-11-21 19:04] compscidr opened #5296 "Serializing / Pickling frames / frame sets for remote align"
I've read through the examples and documentation but can't seem to find a way that this is easily possible, so looking for some suggestions. We are using D435 and D415 cameras. Typically there are around 4 cameras. We're making use of 1920x1080x30fps RGB and 1280x720x30fps depth frames.

Each camera is attached to a small low power computer, and then being streamed back to a higher power computer

[2019-11-21 19:19] MartyG-RealSense commented on #5296
A vendor-neutral alternative to CUDA in Librealsense is GLSL processing blocks.

https://github.com/IntelRealSense/librealsense/pull/3654

[2019-11-21 20:00] nadav-anduril commented on #3854
@dorodnic , can we expect dynamic calibration api to be available for jetson in the near future?

[2019-11-21 20:14] jonra1993 commented on #4653
Hi @MartyG-RealSense I ma working on multicamera calibration. I have 3 realsense D415 cameras located in different positions, all pointing to same area. I did alignment process in manual way using realsense-ros I am currently using post-processing filters and PCL filters. I have noticed result pointclouds have much noise and problems with flat surfaces, which makes difficult calibration and PCL pr

[2019-11-21 20:43] MartyG-RealSense commented on #4653
Pages 17 and 18 of the Programmers Guide for creating your own custom version of the Dynamic Calibrator tool discuss using target-less calibration in conjunction with a gimbal to update calibration in real time.  The gimbal moves the camera independently based on scene detection results.

https://www.intel.com/content/www/us/en/support/articles/000026724/emerging-technologies/intel-realsense-techn

[2019-11-21 21:41] JBBee commented on #5239
As another data point: We continued to collect data with a second T265 and found that modifying the fisheye baseline to be lower than 64mm improved tracking on this second module.

[2019-11-21 22:06] tnelling-draper opened #5297 "Unity crashes if RealSense is unplugged while streaming"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | T265 |
| Firmware Version                   | 0.2.0.857 |
| Operating System & Version |  Win 10  |
| Platform                                 | PC |
| SDK Version

[2019-11-21 22:41] radfordi commented on #5239
Thanks for the update, @JBBee.   We are looking into your results and double checking our calibration procedure.  Still, the path length variances you are seeing are larger than we've seen in our own testing.   Would you be willing up make a recording (made with `rs-record`) available so we can see if maybe the device is having issues with something in your environment?

[2019-11-21 22:43] dmirota commented on #5239
@JBBee Could you provide the calibration of the second module?

[2019-11-21 22:50] radfordi commented on #5252
Hi @sadransh,

I would guess that the pattern above wouldn't cause any issues.  I'd even guess that it would help by providing texture our tracking algorithms.    With respect to blank walls, they can indeed be a problem.  That's one of the reasons that T265 ships with very wide angle (~160deg) lenses.  They often allow it to see the corners of a room where a narrow field of view camera would only

[2019-11-21 23:23] #5229 closed

[2019-11-21 23:25] MartyG-RealSense opened #5298 "Announcement: RealSense firmware version 5.12.0.0 now available"
Hi everyone,

RealSense 400 Series firmware version 5.12.0.0 is now available and can be downloaded from the link below.

https://dev.intelrealsense.com/docs/firmware-releases

This firmware version adds a fix for IMU frame drops on D435i.

[2019-11-21 23:28] amm385 commented on #980
In case it helps future wanderers, I too ran into the `Python.h: No such file or directory` issue and had no luck installing python3-dev or even python3.5-dev. I followed [this tip](https://askubuntu.com/a/591935) and identified 4 lines of code that needed an update:

1. `librealsense/wrappers/python/third_party/pybind11/include/pybind11/detail/common.h:111-113`
2. `librealsense/wrappers/python/th

[2019-11-22 00:43] Makmarkrealsense commented on #5260
I think this is c++ issue, so I close this thread

[2019-11-22 00:43] #5260 closed

[2019-11-22 01:08] sho-ji opened #5299 "About the noise of SR305"
Noise occurs when the SR305 Coded-Light Depth Sensor is turned on.
Does noise occur in the Coded-Light pattern switching cycle?

[2019-11-22 01:55] ahuizxc commented on #5288
fine thanks

[2019-11-22 01:55] #5288 closed

[2019-11-22 02:33] ihadzic commented on #4869
1.3.9 seems to build fine on all kernels that I am dealing with at the moment.

[2019-11-22 02:47] jonra1993 commented on #4653
@MartyG-RealSense  Thank for you response. I read PDF file, but I am looking for  something which allow me to do extrinsic calibration between multiple cameras. I read is some documentation that Intel recommends Vicalib. I would you like to know if there is any example of how using Vicalib with Intel realsense I have both 415 and 435.

[2019-11-22 03:18] Monsterkappa-dev opened #5300 "[BUG]the display resolution of Intel.RealSense.Viewer.exe does not match the screen"
| | |
|---|---|
|**librealsense**|2.29.0 RELEASE|
|**OS**|Windows|

I download the Intel.RealSense.Viewer.exe on my Win10. The software can not display 1080P resolution.

[2019-11-22 03:20] Monsterkappa-dev commented on #5300
I download the Intel.RealSense.Viewer.exe on my Win10. The software can not display 1080P resolution.

[2019-11-22 06:25] RealSenseCustomerSupport commented on #3990
----------------------------------------------

Hi @ramilmsh,

Thanks for the suggestion. Will also evaluate if it's necessary to support DC for USB2.

[2019-11-22 06:45] RealSenseCustomerSupport commented on #3962
----------------------------------------------

Hi @TDVL,

One example in below link. Please check if it's helpful for your use case.
https://github.com/pedropro/CAPE

[2019-11-22 07:05] ev-mp commented on #5295
Librealsense uses a 3rd party library [stb](https://github.com/nothings/stb) to generate snapshots. The library offers [several output formats](https://github.com/IntelRealSense/librealsense/blob/master/third-party/stb_image_write.h#L47-L51) including jpeg:

     int stbi_write_**bmp**(char const *filename, int w, int h, int comp, const void *data);
     int stbi_write_**tga**(char const *filename

[2019-11-22 07:06] MartyG-RealSense commented on #4653
An Intel RealSense team member said in the past week that Vicalib no longer works with the 400 Series cameras, though still does with the T265 tracking camera.

The CONIX Research Center at Carnegie Mellon developed a multicam point cloud stitching system with calibration where the captured data was sent to a central computer for processing and then viewing with PCL.   Their calibration method inc

[2019-11-22 07:32] MartyG-RealSense commented on #5299
The coded light technology is vulnerable to being affected by nearby IR sources such as other SR300 / SR305 or by other cameras / devices using IR.  One example would be an external SR300 conflicting with a built in IR camera in a laptop.  I recall a past example of interference from Christmas lights too.  Do you have any nearby devices that might be emitting such interference please?

[2019-11-22 08:08] sho-ji commented on #5299
Noise is sound, not interference.
The frequency analysis of noise has a peak at 5577.1Hz.

[2019-11-22 08:13] FangjinhuaWang commented on #5290
T

[2019-11-22 08:13] #5290 closed

[2019-11-22 08:23] MartyG-RealSense commented on #5299
The SR300 and SR305 cased USB cameras have a dual-array microphone.  There were a small number of past cases of the SR300 mic making an audible noise when placed near an electromagnetic source such as an audio speaker.

[2019-11-22 08:36] AlexGit2 opened #5302 "uvcvideo: Failed to query (GET_CUR) UVC control 1 on unit 3: -32 (exp. 1024)."
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       |  D415 and D435  |
| Firmware Version                   | RealsenseViewer: 2.30.0 Cameras: 05.11.15.00|
| Operating System & Version |   Linux Ubuntu 18.04 LTS  |
| Kernel Ve

[2019-11-22 08:49] RealSenseCustomerSupport commented on #4326
----------------------------------------------

@BenBergman Did you get chance to try later? Looking forward to your update. Thanks!

[2019-11-22 08:51] RealSenseCustomerSupport commented on #4039
----------------------------------------------

@YoshuaNava Any other questions about this? Looking forward to your update. Thanks!

[2019-11-22 09:00] RealSenseCustomerSupport commented on #4660
----------------------------------------------

@tanikapod Did you try https://github.com/IntelRealSense/librealsense/tree/master/tools/rosbag-inspector to see if any incosistency? Looking forward to your update. Thanks!

[2019-11-22 09:19] RealSenseCustomerSupport commented on #4710
----------------------------------------------

@nk2IsHere Did you get this issue with the original USB3 cable for the camera?

[2019-11-22 09:20] nk2IsHere commented on #4710
Yes, I got this issue while using original usb 3.0 cable

[2019-11-22 09:44] RealSenseCustomerSupport commented on #4517
----------------------------------------------

@skomatin Sorry that we didn't get response from you for weeks. Will close this issue accordingly. Please create new one if you still have questions/issues. Thanks!

[2019-11-22 09:46] RealSenseCustomerSupport commented on #4903
----------------------------------------------

@wbing-x Sorry that we didn't get response from you for weeks. Will close this issue at this point. Please create new one if you still have questions/issues. Thanks!

[2019-11-22 09:47] RealSenseCustomerSupport commented on #5012
----------------------------------------------

@Dontla  Will close this issue if no other questions. Thanks!

[2019-11-22 09:47] RealSenseCustomerSupport commented on #5075
----------------------------------------------

@nafidoni  Could you please update? Thanks!

[2019-11-22 09:48] RealSenseCustomerSupport commented on #4479
----------------------------------------------

@kingbaggot Any other questions with the reply from ogoshen? Looking forward to your update. Thanks!

[2019-11-22 09:52] RealSenseCustomerSupport commented on #5072
----------------------------------------------

@aswinkumar2019 Sorry for the trouble caused by unclear. And does it mean that the issue solved now? Thanks for the feedback.

[2019-11-22 09:53] RealSenseCustomerSupport commented on #4284
----------------------------------------------

@tmichals  Could you please update? Thanks!

[2019-11-22 09:56] RealSenseCustomerSupport commented on #5124
----------------------------------------------

@bbrucee #5200 now merged to development branch. Could you please have a try and feedback? Thanks!

[2019-11-22 09:58] RealSenseCustomerSupport commented on #5137
----------------------------------------------

@TheBricktop Any other questions with the reply from dorodnic? Looking forward to your update. Thanks!

[2019-11-22 09:58] RealSenseCustomerSupport commented on #4880
----------------------------------------------

@EnrikDS Any other questions about this ticket? Looking forward to your update. Thanks!

[2019-11-22 10:04] #4517 closed

[2019-11-22 10:04] #4903 closed

[2019-11-22 10:04] #5012 closed

[2019-11-22 10:12] aswinkumar2019 commented on #5072
Yeah the issue is solved

[2019-11-22 10:12] #5072 closed

[2019-11-22 10:19] mickeyouyou commented on #5257
@dorodnic

[2019-11-22 10:26] sho-ji commented on #5299
There is no electromagnetic source near SR305.
Is the Coded-Light pattern cycle irrelevant?
Can you tell me about the Coded-Light pattern cycle?

[2019-11-22 10:54] MartyG-RealSense commented on #5299
I do not have any information about what else other than EM interference could cause sound noise to emit from the SR30x microphone.

Information about the coded light pattern can be found in the links below.  The first couple are an introductory level and the third is more scientific.

https://www.youtube.com/watch?v=PluL7WTlKrM

https://software.intel.com/en-us/forums/realsense/topic/642822

http

[2019-11-22 11:09] MartyG-RealSense commented on #5299
It occurs to me that a poorly shielded USB cable may be a source of EM interference.  Are you using the official short one supplied with the camera or your own choice of cable, please?

[2019-11-22 11:22] PapaFuchs commented on #4648
I agree with @TheBricktop. As long as there is no official support this thread would be really useful to get some information about when we can expect it to work.

@vladHoloArch is your repo/code still accessible somewhere?

[2019-11-22 11:24] sho-ji commented on #5299
I use the official cable.

[2019-11-22 11:32] MartyG-RealSense commented on #5299
Okay, thanks.  Hopefully one of the Intel team members on this forum will be able to provide advice for your problem, as they have access to more information than I do (I am not an Intel employee).  Good luck!

[2019-11-22 11:42] kafan1986 opened #5303 "Colour Stream Frame getting stuck on Android"
Required Info |  
-- | --
Camera Model | { D415}
Firmware Version | {05.11.15.00}
Operating System & Version | {Android}
Platform | {Arm-Odroid}
SDK Version | { 2.30.0 }
Language | {C++/Java }
Segment | {others }

I am using D415 on android and running a Colour stream at (1920x1080x15fps) and Depth stream at (1280x720x15fps and decimation filter with decimation magnitude of 2). The stream runs Ok

[2019-11-22 12:49] nafidoni commented on #5075
@RealSenseCustomerSupport No it didn't work.

Thanks for your help.

[2019-11-22 12:54] GrubbyHalo commented on #3369
I have verified that it is possible to remotely update the firmware on a realsense d435 camera by installing usbip and setting up a usbip service on the pi and connecting remotely to it from a device that can run the firmware updater tool.

[2019-11-22 13:15] AJMena commented on #5009
I kind of solved it. The results still don't match perfectly. There's +-2 cm error overlap between frames. I think that is the precision error of the D415. Could it be that?
The code actually looks like this:

[code]

Check this example to know what is the H_t265_d400:
https://github.com/IntelRealSense/librealsense/tree/master/examples/tracking-and-depth
The VertexTransformation and quat2mat funct

[2019-11-22 14:05] tmichals commented on #4284
I should be able to look at it by this weekend.
    On ‎Friday‎, ‎November‎ ‎22‎, ‎2019‎ ‎04‎:‎53‎:‎41‎ ‎AM‎ ‎EST, RealSense Customer Support <notifications@github.com> wrote:

@tmichals Could you please update? Thanks!

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2019-11-22 14:23] gstewart9727 commented on #5295
Please read the entirety of my post. I had mentioned that I have tried exactly that but it resulted in a segmentation fault. If you know why it faulted, please let me know.

[2019-11-22 14:29] neilyoung commented on #4648
This is true, it makes USB usable for the first time on macOS too. But as a side effect it makes python unusable. One should know. See https://github.com/IntelRealSense/librealsense/issues/5276#issuecomment-555743637 please

[2019-11-22 14:30] agrunnet commented on #5299
The sr305 has a small MEMs mirror is that is scanning back and forth. I think this is what you are hearing.

[2019-11-22 14:31] neilyoung commented on #4648
Hmm. Maybe you disregard that. Seems, the development branch has a general issue with python, regardless of this PR

[2019-11-22 14:58] neilyoung commented on #5276
I can only insist: The current development branch has the a.m. issue with python. The import fails on the missing external.

Not the case with the master branch.

Please don't ignore.

[2019-11-22 15:21] TheBricktop commented on #5137
There's probably a way to do this using opencvHomography abeit it could be cpu taxing.

[2019-11-22 17:15] neilyoung commented on #5256
Sorry, need to reopen this, since I'm now convinced, that this is _exactly_ what I need.

So if somebody out there could give me a clue - awesome.

TIA

[2019-11-22 17:24] nbenhaim opened #5304 "Writing extrinsic calibration parameters using librealsense"
Since the dynamic calibration tools/api are not available for Jetson Nano, I'm trying to figure out if there's a way to write the parameters after a third party calibration into the camera using just the librealsense API. (create something like the CustomRW tool)  According to the dynamic calibration documentation, it looks like the calibration API interfaces with librealsense, but I haven't been

[2019-11-22 17:34] neilyoung commented on #5270
@bfulkers-i I was applying the PR to master and I'm running into the same issues as described in #5276. Catch 22 now: Either have a working USB or a working python. Choose wisely...

[2019-11-22 17:45] schmitd opened #5305 "Changing The Sample Frequency of T265 Accelrometer"
----------------------------------------------------------------------------------------------------

| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | T265 |
| Firmware Version                   | 0.2.0.857 |
| Operating S

[2019-11-22 18:13] agrunnet commented on #5304
Have you tried using the new self-calibration? It works on any platform and correct depth performance. It is in the RS viewer now and will be announced shortly with a white paper and api.

[2019-11-22 19:21] RealSenseCustomerSupport commented on #4977
----------------------------------------------

Thank you for reporting the issue. In regard to the OSX installation issue, it should be addressed by PR #5264.

[2019-11-22 19:28] RealSenseCustomerSupport commented on #5092
----------------------------------------------

@suyuan945, thank you very much for sharing and glad to see D415 working on Pi 4.
Closing this ticket if no further question on the same topic.
Thank you.

[2019-11-22 20:06] #4919 closed

[2019-11-22 20:06] #5148 closed

[2019-11-22 20:40] Resays commented on #3836
@FlyingSpringrol Hey, any luck?
I can stitch the RGB image only but can't stitch the depth images came straight from RealSence as .png extension.
if you have a solution in code please share, I am working with python and OpenCV
Looking to hear from you
Thanks

[2019-11-22 20:54] JBBee commented on #5239
@radfordi , thanks.  I'd be happy to provide some data: I did two recordings:  One with the factory calibration and dynamic calibration on, and the second with the modified calibration and dynamic calibration off.  I pause when placing it on the cart and also after pushing the cart so you can see the pose at the start and end of the 5m push. The straight line distance in `gray_0p0658_no_dyn_calibr

[2019-11-22 21:30] #5253 closed

[2019-11-22 21:36] kafan1986 commented on #5303
@@matkatz Can you take a look at this issue?

[2019-11-23 00:07] hojunson commented on #5042
http://www.ee.oulu.fi/~jkannala/calibration/calibration.html

I found this and am trying to utilize it.

[2019-11-23 00:48] nbenhaim commented on #5304
@agrunnet I wasn't aware of this - but I spent the day working with it and I'm a bit confused by how it works.  First, the on-chip calibration feature says it does some calibration simply by pointing the camera at a wall.  How is this possible?  Certainly it can't calibrate for depth unless given the ground truth?  It seems like this is what the "Tare Calibration" is for.  However, when I perform

[2019-11-23 01:12] RealSenseCustomerSupport commented on #5241
----------------------------------------------

Our RealSense Depth Tuning whitepaperalso contains lots of information for getting the best performance of the D400 series camera.
Please let us know if any further assistance we can provide on this topic. Thank you.

[2019-11-23 01:15] neilyoung commented on #5256
Disregard again please.  I have it

[2019-11-23 01:15] #5256 closed

[2019-11-23 03:01] likestudy opened #5307 "Error in `python': free(): invalid pointer: 0x00000000901f5f68"
----------------------------------------------------------------------------------------------------

| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | SR300} |
| Firmware Version                   | 2.29.0 |
| Operating Sy

[2019-11-23 03:05] likestudy commented on #1087
Hello @zivsha . Has this problem been solved? I have encountered a similar problem as [#5307](https://github.com/IntelRealSense/librealsense/issues/5307). Would you like to provide some relevant advice?

[2019-11-23 03:42] zheningy opened #5308 "Unable to set roi for auto_exposure"
@dorodnic
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | { D435 } |
| Firmware Version                   | 05.12.00.00 |
| Operating System & Version |  Linux (Ubuntu 16) |
| Kernel Version (Linux Only)    | 4.15.0-60-ge

[2019-11-23 14:22] agrunnet commented on #5304
We will be releasing documentation shortly.
The self-calibration adjust alignment to give best depth map. The Tare function refines it to give absolute accuracy and there needs user currently to input ground truth. This is not a full factory calibration so certain parameters are assumed to be unchanged, like baseline. If you adjust the “translation” extrinsic of distance between imagers then neith

[2019-11-23 15:27] ravijo opened #5309 "[D435 Not Working] Outdated UDEV-Rules after apt upgrade librealsense"
----------------------------------------------------------------------------------------------------

| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D435 |
| Firmware Version                   | (Open RealSense Viewer --

[2019-11-23 20:42] lostmsu commented on #5309
Chirping in: I have the same problem with freshly installed librealsense on NVidia Xavier (arm64 Ubuntu 18.04)

[2019-11-24 00:35] jamieforth opened #5310 "High CPU with rsusb backend"
| | |
|---|---|
|**librealsense**|2.30.0 RELEASE|
|**OS**|Debian testing (Linux kernel 5.2, unpatched)|
|**Name**|Intel RealSense D435I|
|**Firmware Version**|05.12.00.00|
|**Advanced Mode**|YES|
|**Camera Locked**|YES|
|**Usb Type Descriptor**|3.2|

CPU usages seems to be about 10 times higher when building the SDK using the new rsusb backend. Is that to be expected?

- `FORCE_RSUSB_BACKEND=true`

[2019-11-24 05:05] #5149 closed

[2019-11-24 07:48] sadransh commented on #5252
@radfordi  Thank you for your comment,
I have uploaded a bag file of what's happening. [here](https://1drv.ms/u/s!At8A9wWPQe_ajitFFEuIMHE7yMga?e=knbDLV) is the link. this happens ( ~50 to 60% of the times I'm testing) And might be a fault of my experiment. However, It might help the team.
some screenshots of it.
![image](https://user-images.githubusercontent.com/12527824/69491374-ebd98200-0e59-11e

[2019-11-24 15:15] dorodnic commented on #5305
Hi @schmitd
Unfortunately, this is currently locked by firmware.

[2019-11-24 15:19] dorodnic commented on #5304
Also, in the near-by release, we will be adding new APIs to support on-chip calibration, including API do write new calibration. For this release, it is supposed to be used with calibration you receive from on-chip method, but with some help from me and @agrunnet it should be easy enough to write custom values in code (you just need the table structure and the ability to recalculate table CRC)