[2019-09-10 05:53] TanmayPathak commented on #4671
No, I am not able to reproduce that error till now. I will let you know if
it happens again.

On Tue, Sep 10, 2019 at 6:50 AM RealSense Customer Support <
notifications@github.com> wrote:

[2019-09-10 06:07] Dontla commented on #4806
wo mei you yu dao guo ni zhe yang de qing kuang , ni ke yi chang shi you jian yi guan li yuan shen fen yun xing, ru guo zai bu xing de hua ke yi chang shi guan bi sha du ruan jian, huo zhe guan bi xi tong de fang huo qiang!

[2019-09-10 06:12] Dontla opened #4832 "Are there any sample code for Intel® RealSense™ cameras with python like this page?"
Like the sample code in this page: [https://github.com/IntelRealSense/librealsense/tree/development/examples#list-of-examples](https://github.com/IntelRealSense/librealsense/tree/development/examples#list-of-examples), I prefer to use c/c++ language, but I can't understand them...
![image](https://user-images.githubusercontent.com/46447387/64588553-4c1d6380-d3d5-11e9-9125-b4b01e7d6196.png)

[2019-09-10 06:16] MartyG-RealSense commented on #4740
I would not usually recommend this, but since you have tried every way to get a response, you should probably create a new case so that you go to the top of the forum front page.  Then close this old case using the Close Issue button beside the green Comment button.

[2019-09-10 06:42] MartyG-RealSense commented on #4832
A list of example Python programs can be found on the link below.

https://github.com/IntelRealSense/librealsense/tree/master/wrappers/python/examples

There are also the Jupyter Notebook example programs.

https://github.com/IntelRealSense/librealsense/tree/jupyter/notebooks

[2019-09-10 07:57] ev-mp commented on #4740
@josephdanielchang , sorry for the late response.
Converting `bin` to `png `means that you're actually after **data domain transformation** that converts the raw depth (16-bit unsigned single-channel data) into RGB color-space (Three-channels, 8-bit per channel, stream).

The way to perform it in librealsense is to (a) create a depth frame from the bin file, (b) apply the `colorizer` object to mak

[2019-09-10 07:58] Dontla commented on #4832
@MartyG-RealSense Yeah, does Intel Realsense SDK have the Python interfaces? I was confused...

[2019-09-10 08:00] Tangpearl commented on #4699
Yeah, it did.

[2019-09-10 08:06] Dontla commented on #4832
I have seen some .pyd file in the Intel Realsense folders, but I don't know how can I use these critical files...can you tell me how to do...

[2019-09-10 08:13] MartyG-RealSense commented on #4832
You do not need to be concerned about accessing those files.  Python support in the RealSense SDK is provided by the 'Pyrealsense2' Python wrapper, which has to be set up.  The easiest way to set up Pyrealsense2 is with the Pypi instruction **pip install pyrealsense2**

Full installation instructions can be found here:

https://github.com/IntelRealSense/librealsense/tree/master/wrappers/python

[2019-09-10 08:15] mickeyouyou opened #4833 "build error ubuntu 18.04 on jetson nano"
----------------------------------------------------------------------------------------------------

| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | { D435I } |
| Firmware Version                   | (Open RealSense View

[2019-09-10 08:35] Tangpearl commented on #4699
Thanks very much.@ev-map

[2019-09-10 08:36] Tangpearl commented on #4699
Thanks very much, @ev-mp

[2019-09-10 08:44] ev-mp commented on #4833
@mickeyouyou , the error mean that a required resource file was not downloaded correctly ( hashes don't match).
Most probably there was a temporal glitch in the firmware hosting server communication or a local network issue, thus rerunning CMake should probably fix it.

Also make sure that the specified file is not locked by OS, and delete it manually if it is before running CMake

[2019-09-10 08:46] mickeyouyou commented on #4833
thank you so much. I found it after I have been written this issue.

[2019-09-10 08:47] #4833 closed

[2019-09-10 08:49] MartyG-RealSense commented on #4831
A response to this question has been posted at the Intel Support forum.  Thanks!

https://support.intelrealsense.com/hc/en-us/community/posts/360034896253

[2019-09-10 08:50] Dontla opened #4834 "Timestamp Domain"
Hi, I have updated my Intel Realsense SDK vertion to v2.25.0, but when I opened my camera in Intel Realsense viewer, it comes to this red warning :
![image](https://user-images.githubusercontent.com/46447387/64598714-bf7da000-d3ea-11e9-807a-0eaf5f6b2605.png)
![image](https://user-images.githubusercontent.com/46447387/64598798-eb992100-d3ea-11e9-909c-fc723a3958e0.png)
Is this warning a critical war

[2019-09-10 09:18] dorodnic commented on #4834
Hi @Dontla
This is not a critical warning (it has no effect on depth quality) However, having more accurate timestamps can be beneficial in some applications. Here is the relevant documentation for Windows - [installation_windows.md#use-automation-script](https://github.com/IntelRealSense/librealsense/blob/master/doc/installation_windows.md#use-automation-script)

[2019-09-10 09:19] dorodnic commented on #4832
Here is the list of python example - [python/examples#list-of-examples](https://github.com/IntelRealSense/librealsense/tree/master/wrappers/python/examples#list-of-examples)

[2019-09-10 09:27] #4802 closed

[2019-09-10 09:38] RealSenseCustomerSupport commented on #4484
----------------------------------------------

@millto If no other questions will close this accordingly. Thanks!

[2019-09-10 09:38] Dontla opened #4835 "RuntimeError: Frame didn't arrived within 5000"
when I ran the quick start demo in this [page](https://pypi.org/project/pyrealsense2/#description), it came to this error, what problems cause this error possible? QAQ
![image](https://user-images.githubusercontent.com/46447387/64602615-b04e2080-d3f1-11e9-9bd8-9a51f74cfa13.png)

[2019-09-10 09:42] RealSenseCustomerSupport commented on #4281
----------------------------------------------

@pabloalcain Did you still have issue with the latest SDK and FW? Could you please feedback?Thanks!

[2019-09-10 10:05] #4484 closed

[2019-09-10 11:10] g2-bernotas commented on #4784
Hard (plug out) reset did not help - it helps to start the RealSense Viewer again, but not none of the parameters can be changed, which results in a "Not responding" software requiring another hard reset. A working solution was reached once:

  - The camera firmware was upgraded from 05.11.01.100 to 05.11.06.250 (5.11.4.0 also worked);
  - RealSense SDK was upgraded from 2.19 to 2.25 (most likely

[2019-09-10 11:10] #4784 closed

[2019-09-10 11:52] brettmilinski opened #4837 "What is the C# equivalent of the C++ align.process() class call?"
----------------------------------------------------------------------------------------------------

| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D435 |
| Firmware Version                   | 05.11.06.250 |
| Operatin

[2019-09-10 11:52] mickeyouyou commented on #4031
Do you mean following `distribution_linux.md` ? skip the dkms install by apt ? there is no arm version packages I think.

[2019-09-10 12:22] dorodnic commented on #4031
Yes
There are arm packages 🙂

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-09-10 12:26] mickeyouyou commented on #4031
ok  thank you point that, I must have a try now .

[2019-09-10 12:31] mickeyouyou commented on #4031
meet some errors when run `sudo add-apt-repository "deb http://realsense-hw-public.s3.amazonaws.com/Debian/apt-repo bionic main" -u` for ubuntu 18

[code]

[2019-09-10 12:35] dorodnic commented on #4031
Maybe because of bionic vs xenial? Sorry for that. @ev-mp any idea?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-09-10 12:41] mickeyouyou commented on #4031
It's okay. :smile:

So do you have any suggestions for installation doc of D435i?  for now , D435I device could not detected by nano .

[2019-09-10 13:31] MartyG-RealSense commented on #4837
I hope that the link below will be of help to you.

https://github.com/IntelRealSense/librealsense/issues/4719

[2019-09-10 13:36] g2-bernotas commented on #2731
[code]

[2019-09-10 13:38] brettmilinski commented on #4837
@MartyG-RealSense That was what I needed. Thanks for the help, I appreciate it!

[2019-09-10 13:38] #4837 closed

[2019-09-10 13:49] ev-mp commented on #4699
@Tangpearl , thanks for the confirmation.

[2019-09-10 13:49] #4699 closed

[2019-09-10 14:01] hongluck commented on #4815
Error log is this

roslaunch realsense2_camera rs_camera.launch
... logging to /home/hong/.ros/log/f84c8fd0-d3d2-11e9-b448-a86daaec59a0/roslaunch-hong-JDL-HELIOS-11324.log
Checking log directory for disk usage. This may take awhile.
Press Ctrl-C to interrupt
Done checking log file disk usage. Usage is <1GB.

started roslaunch server http://hong-JDL-HELIOS:40281/

SUMMARY
========

PARAMETERS
 * /c

[2019-09-10 14:06] hongluck commented on #4815
This is the make error shown above.
ERROR: Cannot create report: [Errno 17] File exists: '/var/crash/librealsense2-dkms.0.crash'
Error! Bad return status for module build on kernel: 4.15.0-60-generic (x86_64)
Consult /var/lib/dkms/librealsense2-dkms/1.3.5/build/make.log for more information.

Below is the make.log file

DKMS make.log for librealsense2-dkms-1.3.5 for kernel 4.15.0-60-generic (x86_6

[2019-09-10 14:18] dorodnic commented on #4031
Me and @ev-mp will check how to offer debians for bionic as well, but for xenial arm build we basically followed libuvc-installation.md document / script. Key parameter is -DFOrce_libuvc=true which lets us bypass kernel patches. In 2.25 I think we ensured IMu would also be detected using this method

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-09-10 14:28] dorodnic commented on #4778
I support this feature request.
Currently the SDK has dkms and udev-rules packages that may be tricky to package. DKMS can be bypassed by building the SDK with `-DFORCE_LIBUVC=true`, but udev-rules are a must. I'm sure there are solutions for it, but I personally am not familiar with Snap at all.

[2019-09-10 14:45] #4768 closed

[2019-09-10 15:10] MartyG-RealSense commented on #4778
@dorodnic  Snaps were a new concept to me too.  From what I can gather from research, "Snaps are applications packaged with all their dependencies to run on all popular Linux distributions from a single build.  They update automatically and roll back gracefully".

A couple of years ago, someone released a Snap for Legacy Librealsense (1.12).

https://snapcraft.io/librealsense

It seems that in tha

[2019-09-10 15:51] jb455 commented on #4523
Hi @dorodnic, any news on this?
Thanks!

[2019-09-10 17:11] RealSenseCustomerSupport commented on #4671
----------------------------------------------

Please open new issue whenever you will be able to reproduce it and provide us
with above mentioned logs and information.

Thank you!

[2019-09-10 18:06] #4671 closed

[2019-09-10 19:22] BenDavisson opened #4838 "Pyrealsense2 ROI"
Camera Model                       | D435 |
Firmware Version                   | 0.5.11.06.250 |
Operating System & Version |  Windows 10  |
Platform                                 | PC |
SDK Version                           |  2.25.0 |
Language                               | python |
Segment			               |  Machine vision   |

Is there a way to define an ROI using Pyrealsense2 with my came

[2019-09-10 20:01] MartyG-RealSense commented on #4838
I hope the link below will be of help regarding setting a ROI with Python.

https://github.com/IntelRealSense/librealsense/issues/2681#issuecomment-436391721

[2019-09-10 20:10] BenDavisson commented on #4838
Sorry if I misunderstand, but doesn't the linked issue only handle setting an autoexposure ROI?

I'm trying to configure an ROI for the entire camera.  For example, [OpenCV can return a region of interest](https://docs.opencv.org/master/d3/df2/tutorial_py_basic_ops.html)  of an image with the correct gird points(click link, then scroll down or search for ***Image ROI*** in link).

Is this possible

[2019-09-10 20:31] MartyG-RealSense commented on #4838
You did not mention if you are using a point cloud.  If you are, the discussion below on generating a point cloud with Python and cropping it to the ROI may help.

https://github.com/IntelRealSense/librealsense/issues/2769

[2019-09-10 21:28] MartyG-RealSense opened #4839 "Announcement: Neural Compute Stick 2 (NCS2) added to the RealSense store"
Hi everyone,

Intel's online RealSense store has added Neural Compute Stick 2 (NCS2) products to its range.

**Bundle deal: NCS2 and a RealSense camera**

Select from the drop-down menu provided on the store listing the model of RealSense camera that you want to pair with the NCS2 to update the price.

https://store.intelrealsense.com/buy-depth-camera-and-neural-compute-stick-2-bundle.html

**NCS2

[2019-09-10 23:03] kjacks21 commented on #4835
You haven't specified a data source. For example, if you want to read in a .bag file, do the following to start:

[code]

[2019-09-10 23:21] kjacks21 opened #4840 "Writing .bag stream to video gives inconsistent frame counts"
----------------------------------------------------------------------------------------------------

| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D435 |
| Firmware Version                   | latest (no info tab in vi

[2019-09-11 01:15] wanghelin1024 commented on #4806
Thanks a lot for your suggestion~
After I re-installed the driver of graphics card, the RealSense Viewer works fine

[2019-09-11 01:19] wanghelin1024 commented on #4806
Thanks for your help~
This issue has been resolved, it is caused by the disabled graphics card.

[2019-09-11 01:20] wanghelin1024 commented on #4806
Thanks for all your supports, I will close this issue.

[2019-09-11 01:20] #4806 closed

[2019-09-11 02:34] mickeyouyou commented on #4031
thank you.

[2019-09-11 02:38] Dontla commented on #4636
Thanks for all！I will close this issue.

[2019-09-11 02:38] #4636 closed

[2019-09-11 02:47] Dontla opened #4841 "Intel Realsense viewer: Deepth stream start failure"
win10 system, visualstudio2015, cuda8.0, 1080ti graphics card, Intel realsense viewer v2.25.0, camera D435, D435 FW vertion 05.11.06.250
![360截图20190911104526408](https://user-images.githubusercontent.com/46447387/64664308-657be980-d481-11e9-91ea-a02134e5194e.jpg)

![360截图20190911105850813](https://user-images.githubusercontent.com/46447387/64664884-323a5a00-d483-11e9-8004-294a0186f887.jpg)

And t

[2019-09-11 05:24] mickeyouyou commented on #4031
hi @dorodnic I build liubrealsense master(version 2.28) successfully. Nano can detect D435i .

but when run `realsense-viewer` meet some error like bellow :

[code]

and CPU resources  like 3/4 80%+

![Screenshot from 2019-09-11 13-11-24](https://user-images.githubusercontent.com/3821311/64670362-66b81100-d497-11e9-8198-61d3e13cd8f0.png)

is it normal ?

[2019-09-11 05:26] alter-sachin opened #4842 "Converting depth filter opencv example in C++ to python"
* Before opening a new issue, we wanted to provide you with some useful suggestions (Click "Preview" above for a better view):

    * Consider checking out SDK [examples](https://github.com/IntelRealSense/librealsense/tree/master/examples#sample-code-for-intel-realsense-cameras).
    * Have you looked in our [documentations](https://github.com/IntelRealSense/librealsense/tree/master/doc#useful-lin

[2019-09-11 07:02] matkatz commented on #4796
No, a frame with stream format XYZ32F is added to the frameset that you apply the pointcloud filter on.
This is the expected behavior:
Pointcloud mPointcloudFilter = new Pointcloud(StreamType.COLOR);
FrameSet originalSet = mPipeline.waitForFrames();
Frame p1 = originalSet .first(StreamType.DEPTH, StreamFormat.XYZ32F);
// p1 one is null since pointcloud filter wasn't applied.
FrameSet frameSetWithP

[2019-09-11 09:36] mickeyouyou opened #4843 "what type for device_.first<rs2::wheel_odometer>();"
there is a wheel odometry code example  in unit test .

[code]

If we want use this sensor type to our tracking logic, need a type, from the examples of whole rep this is only one type :`auto`

what the exact type for device_.first<rs2::wheel_odometer>();

[2019-09-11 09:45] dorodnic commented on #4842
Hi @alter-sachin
We will probably port this example in future to python.
For now, you can skip parts you don't need (like SDK integration).
Overall, this is just one of possible heuristics to improve depth for collision avoidance, but it proven very useful in real-life applications on drones.
Let me know if you have questions about the code

[2019-09-11 09:45] dorodnic commented on #4843
rs2::wheel_odometer

[2019-09-11 10:04] g2-bernotas commented on #4840
Are you setting the playback not to play in real-time?

[code]

I have noticed before that I was loosing much more than just a few frames just because I was not running not in real-time.

[2019-09-11 10:49] BGA3 opened #4844 "AeValue and infrared image brightness bug d415"
Hi

I am having issues with the aeValue property. On my windows PC, I can easily adjust the aeValue and get a brighter IR image. This goes both for the RealSense viewer, and for my custom application. Setting ex. aeValue = 800 gives a nicely bright IR image.

However, when I am on a linux arm64 environment, it does not seem to be working. aeValue=800 still gives a very dark image, and I cannot bel

[2019-09-11 10:57] alter-sachin commented on #4842
@dorodnic
Thankyou for the prompt reply.
I am not sure about the SDK integration part.
I have applied the mask generated using the main filter(edge and corner combined) and applied it to the original decimated depth.

Is that all I need to do ?

If yes,
my decimated frame needs to use the mask , how do I apply it properly is where I am worried.

Thanks :)

[2019-09-11 11:02] kyranf opened #4845 "C++ API advanced mode JSON load doesn't actually apply settings"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D415 |
| Firmware Version                   | 05.10.03.00  |
| Operating System & Version |   Win 10 |
| Platform                                 | PC  |
| SDK Version

[2019-09-11 11:15] dorodnic commented on #4845
Settings loaded by load_json will be applied on next start.
If I recall correctly, this is done because some of JSON supported values can be speculative dependent on the resolution, that we don't know ahead of time before start.
When camera is streaming, load_json should behave as you'd expect. When the camera is not streaming, there is really no impact to any of these parameters.

[2019-09-11 11:27] kjacks21 commented on #4840
I'm streaming from a file though, which shouldn't have that issue (although that is a good point). Here is how I'm starting the stream:

[code]

[2019-09-11 11:30] g2-bernotas commented on #4840
Give it a try to include the set_real_time(False). Here is my setup that worked:

[code]

[2019-09-11 11:40] kjacks21 commented on #4840
@bobdavies2000 That did the trick! Thank you!

[2019-09-11 11:40] #4840 closed

[2019-09-11 11:46] kyranf commented on #4845
I will test this situation, but before I was verifying/setting the depth control table, the actual streaming results didn't show the changes once the streams were started either.  So it might not show up due to what you are saying there, but ultimately it still failed to apply the changes when starting up.  But by setting them manually they DO work.

[2019-09-11 11:51] santiagorr opened #4846 "Provide .deb source packages"
Please, consider publishing the sources of the librealsense .deb packages. [distribution_linux.md](https://github.com/IntelRealSense/librealsense/blob/e8cb6b4c051f57464ba8fdc334c65e04f5b57b90/doc/distribution_linux.md) only documents how to get binary deb packages (for ubuntu), but it would be great to have the sources.

Or even better, it would be great to have it directly in Debian (so in Ubuntu

[2019-09-11 11:54] bugviz opened #4847 "Stability issues with mulitple camera setup"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D415 |
| Firmware Version                   |5.11.6.250 |
| Operating System & Version |  Win 10  |
| Platform                                 | PC |
| SDK Version

[2019-09-11 12:38] zomboir commented on #4589
Hi there,
sorry about the late reply. I have a use-case where I need to make a moving target correctly exposed. The visible size and position of the target in the FOV can change during capture. That's why I need the custom exposure control method which I developed using OpenCV.

So far I've found that if I change the exposure every 6th frame I can get around 25fps reliably. Of course, it would be

[2019-09-11 13:16] dorodnic commented on #4845
I may be mistaken, but this is strange.
I'm sure that setting value to `RS2_OPTION_VISUAL_PRESET` is delayed until start.
What JSON are you using? Did you try the ones from [here](https://github.com/IntelRealSense/librealsense/wiki/D400-Series-Visual-Presets)? Does it behave the same when loading JSON from the Viewer?

[2019-09-11 14:02] BenDavisson commented on #4838
Thank your for the timely responses Marty! I really appreciate it.

To my understanding... I am not using a point cloud.  I am simply trying to define a region of interest for the camera to use, just like you can do with other machine vision camera SDK's.

[2019-09-11 14:23] MartyG-RealSense commented on #4838
In RealSense SDK 2.0, the term 'region of interest' is typically associated with the auto-exposure.  Another kind of ROI is to generate a bounding-box and then occlude the data outside of that bounding box.     Here is the approach that one RealSense user took to implementing this:

https://github.com/IntelRealSense/librealsense/issues/2016#issuecomment-403804157

[2019-09-11 15:21] brettmilinski opened #4848 "How to display Color, Depth, and Pose streams all at once?"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D435 / T265 |
| Firmware Version                   | 5.11.06.250 |
| Operating System & Version |   Win (10)  |
| Platform                                 | PC  |
| SDK Vers

[2019-09-11 15:36] Dontla commented on #4841
And the next day I ran it in my nootbook, it worked well:
![image](https://user-images.githubusercontent.com/46447387/64711611-7281f280-d4ec-11e9-84df-a38238606111.png)
never wrong!
My nootbook information:
win10 64bit 2018 version, vs2015, cuda9.0 with the same cudnn, MX250 graphic card, Intel Realsense viewer2.25.0, camera D435, FW version05.11.06.250...

[2019-09-11 17:40] dorodnic commented on #4848
Please take a look at [tracking-and-depth](https://github.com/IntelRealSense/librealsense/tree/master/examples/tracking-and-depth) example

[2019-09-11 17:56] dcdulin commented on #2118
same....

[2019-09-11 18:05] #4629 closed

[2019-09-11 18:13] brettmilinski commented on #4848
@dorodnic Thank you I looked at those links and came up with the following for C#:

`
var dev = ctx.QueryDevices();
`
`
Config config = new Config();
`
`
//set all devices up
`
`
for(int i =0; i < dev.Count; i++)`
`
{
`
`
config.EnableDevice(dev[i].Info[CameraInfo.SerialNumber]);
`
`
config.EnableAllStreams();
`
`
Pipeline p = new Pipeline(ctx);
`
`
p.Start(config);
`
`
pipelines[i] = p;
`
`
}
`

[2019-09-11 18:26] MartyG-RealSense commented on #2118
The most recent update I could find was March 2019, when it was reiterated that a pip install package for Mac still was not ready at that point in time.

https://github.com/IntelRealSense/librealsense/issues/3260#issuecomment-469361152

[2019-09-11 19:44] vidurvij opened #4849 "Camera Not being Detected In Linux"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D400 } |
| Firmware Version                   | (Open RealSense Viewer --> Click info) |
| Operating System & Version |   Ubuntu 18   |
| Kernel Version (Linux Only)    |  4

[2019-09-11 19:45] aalarcon96 commented on #4096
What was the solution to this problem? I am also getting this error.

[2019-09-11 19:48] aalarcon96 opened #4850 "kinfu on Windows 10 - vector subscript out of range"
* Before opening a new issue, we wanted to provide you with some useful suggestions (Click "Preview" above for a better view):

    * Consider checking out SDK [examples](https://github.com/IntelRealSense/librealsense/tree/master/examples#sample-code-for-intel-realsense-cameras).
    * Have you looked in our [documentations](https://github.com/IntelRealSense/librealsense/tree/master/doc#useful-lin

[2019-09-11 19:52] Harish1901 commented on #4849
Hi, I am facing the same issue. I am able to compile but I do not see any output and also no error. How did you fix it.

[2019-09-11 20:40] RealSenseCustomerSupport commented on #4604
----------------------------------------------

Hi @barcelona-delpy,

Please provide us with following information about the configuration you have experienced issues with:

  RealSense SDK 2.0 build version

  Camera type (D430/ D435/ D435i/etc.)

Thank you,
David

[2019-09-11 22:41] RealSenseCustomerSupport commented on #4593
----------------------------------------------

Thanks @JBBee, after a while I was able to reproduce the issue as well

[2019-09-11 23:10] RealSenseCustomerSupport commented on #4703
----------------------------------------------

Can this ticket be closed if no further questions?

[2019-09-11 23:57] RealSenseCustomerSupport commented on #4589
----------------------------------------------

Hi @zomboir,
Thank you so much for the update and I am really glad to hear you have found a solution that works for your application.

I will go ahead and close this ticket now.

[2019-09-12 00:05] #4589 closed

[2019-09-12 01:02] #4514 closed

[2019-09-12 01:02] #4612 closed

[2019-09-12 07:18] dorodnic commented on #4848
Are you building the .NET wrapper from source or using the assembly file from the installer?

[2019-09-12 08:56] guanming001 opened #4852 "Does SR305 output both color and depth image?"
Hi, may I confirm if SR305 depth camera is able to output both color and depth image just like the old SR300 camera?

[2019-09-12 09:07] #4852 closed, assigned to nobody

[2019-09-12 13:14] for-no-one opened #4853 "How to read IMU data from D435i in C?"
There is a C++ example, which works for me, but I can't figure out how to read IMU data C. I'm able to request the IMU streams, start the pipeline, read one frame and check that the frame is a motion frame. But I don't know how to process the frame to get the IMU data out.

[2019-09-12 14:47] #4853 closed, assigned to nobody

[2019-09-12 15:10] giovannicairoli opened #4854 "D435i Depth and IMU Data Code problem"
----------------------------------------------------------------------------------------------------

| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | { D435i} |
| Firmware Version                   | () |
| Operating Syst

[2019-09-12 20:27] dguari1 opened #4856 "Problems with PyQt5"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       |  |
| Firmware Version                   |  |
| Operating System & Version |   {Win (8.1/10)   |
| Kernel Version (Linux Only)    |   |
| Platform

[2019-09-13 08:16] fgrzadkowski commented on #4815
@ev-mp I'm seeing the same error also for an older kernel - `4.4.0-131-generic`.

Info:
* SDK version 2.25.0-0~realsense0.1362
* Realsense ROS version 2.2.8
* Ubuntu 16.04
* Kernel: 4.4.0-131-generic
* Nvidia driver version: 390.48
* DKMS version: 1.3.4-0ubuntu1

Any advice how to workaround the problem?

[2019-09-13 09:32] g2-bernotas opened #4857 "Windows Camera Frame Server memory leak"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       |  D435  |
| Firmware Version                   |  05.11.06.250  |
| Operating System & Version |   Win 10  |
| Platform                                 |  PC  |
| SDK Version

[2019-09-13 12:58] kevindehecker commented on #4116
Aha, yes that does seem to fix the problem. Thanks!

Of course, as a user of the api another discussion is whether this is expected behavior. Should I expect the rs2::device itself to change whenever I change some settings in the configuration?

A explicit bit of documentation would be helpful in any case I guess.

[2019-09-13 15:07] coriolan-cs commented on #4565
Found the solution, I've got the Realsense working on my RPI4 now.

[2019-09-13 15:08] coriolan-cs commented on #4818
I've got it working as well on a Pi4 with Raspbian Buster 4.19

[2019-09-13 16:55] #4607 closed

[2019-09-13 17:03] manukharshan opened #4858 "librealsense example code running issue"
* Before opening a new issue, we wanted to provide you with some useful suggestions (Click "Preview" above for a better view):

    * Consider checking out SDK [examples](https://github.com/IntelRealSense/librealsense/tree/master/examples#sample-code-for-intel-realsense-cameras).
    * Have you looked in our [documentations](https://github.com/IntelRealSense/librealsense/tree/master/doc#useful-lin

[2019-09-13 21:17] RealSenseCustomerSupport commented on #4640
----------------------------------------------

Hi @mukundhan3,

Did @MartyG-RealSense's reference to https://github.com/IntelRealSense/librealsense/issues/2009 solve your problem?

Thank you!

[2019-09-13 21:25] RealSenseCustomerSupport commented on #4707
----------------------------------------------

Hi @martinthelwell - T265 is not fully supported in Unreal at this time.  You may get the pose data and the device recognized but full support is not available at this time.

We will keep this in mind for future.

Thanks

[2019-09-13 21:26] RealSenseCustomerSupport commented on #4590
----------------------------------------------

Glad to hear that it worked for you.

[2019-09-13 21:30] RealSenseCustomerSupport commented on #4526
----------------------------------------------

@giovannicairoli - We are not able to put a timetable on future changes at this time.  Please do keep an eye out on latest releases and release notes for updated features and bug fixes.

Thanks

[2019-09-13 22:05] #4487 closed

[2019-09-13 22:05] #4590 closed

[2019-09-13 22:05] #4707 closed

[2019-09-14 17:58] #2865 closed

[2019-09-14 18:03] sam598 opened #4859 "24 FPS support for filmmaking use case"
It looks like Intel is now interested in promoting filmmaking as a use case for the RealSense cameras:
https://support.intelrealsense.com/hc/en-us/community/posts/360035016413-RealSense-technology-and-the-Ncam-Mk2-Camera-Bar

Will they provide support for it but adding industry standard framerates like 24 FPS?

Previously they said it was possible to add through firmware, but it would be too confu

[2019-09-15 08:23] #4821 closed

[2019-09-15 08:23] theodop commented on #4821
The later firmware version resolved the issue.

[2019-09-15 09:44] ev-mp commented on #4815
@fgrzadkowski ,
I've checked SDK 2.25.0 with the kernel version 4.4.0-131-generic and the SDK works properly with no obvious misbehaviors
Some observations:
- The message regarding missing `W10` descriptor is a warning that can be disregarded - it doesn't affect functionality as this format is not supported by D415/D435 models. And it was actually silenced in later SDK versions.
- The DKMS version

[2019-09-15 14:52] mickeyouyou commented on #4843
but when building  after given this type, meet two errors not have `load_wheel_odometery_config ` and `send_wheel_odometry` method .

[2019-09-16 01:00] RealSenseCustomerSupport commented on #4693
----------------------------------------------

@vvgokul55 Any other questions regarding this issue? Looking forward to your reply. Thanks!

[2019-09-16 01:45] RealSenseCustomerSupport commented on #4416
----------------------------------------------

@itachi13499 Any other questions about this? Looking forward to your update. Thanks!

[2019-09-16 04:10] RealSenseCustomerSupport commented on #4563
----------------------------------------------

@seunghak-kim  Since the issue resolve, will close it accordingly. Thanks!

[2019-09-16 04:11] RealSenseCustomerSupport commented on #4538
----------------------------------------------

@nevynwong Is this still issue for you? If yes, could you please reply to Iramati's question? Looking forward to your reply. Thanks!

[2019-09-16 05:04] #4563 closed

[2019-09-16 07:05] liuyifei13 opened #4860 "I cannot updating Intel® RealSense™ D400 product family firmware mannually or automatically"
| | |
|---|---|
|**librealsense**|2.25.0 RELEASE|
|**OS**|Windows|
|**Name**|Intel RealSense D4xx Recovery|
|**Product Line**|D400|
|**Asic Serial Number**|933623023875|

Please provide a description of the problem

[2019-09-16 07:12] #4736 closed

[2019-09-16 07:14] #4665 closed

[2019-09-16 07:15] liuyifei13 commented on #4860
when I connected my D435 camera to my laptop, there is something wrong with the viewer saying
intel RealSense D4xx Recovery Disconnected

[2019-09-16 07:22] leaf918 opened #4861 "Cannot enumerate devices in python."
----------------------------------------------------------------------------------------------------

| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       |D435 |
| Firmware Version                   | (Open RealSense Viewer -->

[2019-09-16 07:24] dorodnic commented on #4854
Hi @giovannicairoli
Please take a look at rs-callback example as well. Synchronising IMU with depth will not work well.
It can probably work better if you check Windows installation guide to make sure all sensors report Hardware Timestamps.

[2019-09-16 07:25] #4831 closed

[2019-09-16 07:32] doronhi commented on #4794
The problem occurs by realsense2_camera choosing the input format from the camera without specifying the input format. In the latest frimware update a new format was introduced, W10, which is not supported by the default kernel.
To fix the problem with kernel 4.15.0-60 run the following script patch-realsense-ubuntu-lts.sh. If you installed librealsense from debian packages you will need to follow

[2019-09-16 07:47] RealSenseCustomerSupport commented on #3274
----------------------------------------------

@picturedeeplover If no other questions, will close the ticket accordingly. Thanks!

[2019-09-16 07:52] lalujesus opened #4862 "Pyrealsense2 How to Adjust temporal filter parameter"
| Camera Model                       |  D400 } |
| Firmware Version                   |5.11.11.100 |
| Operating System & Version |   Linux (Ubuntu 16/17) / MacOS  |
| Kernel Version (Linux Only)    |   4.15                               |
| Platform                                 | PC |
| SDK Version                            |  2.28.0                          |
| Language

[2019-09-16 07:55] RealSenseCustomerSupport commented on #4274
----------------------------------------------

@filartrix Sorry that we didn't get feedback from you for a month. Will close this issue at this point. Please feel free to create new ticket if you still have questions or issues. Thanks!

[2019-09-16 07:59] doronhi commented on #4794
fixed in [realsense2_camera PR #924](https://github.com/IntelRealSense/realsense-ros/pull/924)

[2019-09-16 08:03] #3274 closed

[2019-09-16 08:03] #4274 closed

[2019-09-16 09:10] julioobelleiro commented on #2635
any updates on this? also trying to play .bag files (depth and rgb) from Unity... any help appreciated!

[2019-09-16 09:38] fgrzadkowski commented on #4815
This is the log message that I have:
[code]

Also, from the code it looks like a regular exception:
https://github.com/IntelRealSense/librealsense/blob/4f2eac248530ef75fb38b95002522aa032165638/src/linux/backend-v4l2.cpp#L663

Am I mising something? @ev-mp

[2019-09-16 10:02] fgrzadkowski commented on #4794
@doronhi I'm facing a similar issue, with:
* SDK version 2.25.0-0~realsense0.1362
* Realsense ROS version 2.2.8
* Ubuntu 16.04
* Kernel: 4.4.0-131-generic
* Nvidia driver version: 390.48
* DKMS version: 1.3.4-0ubuntu1

I'm using nvidia gtx 1080. I installed everything from apt packages, and I see the following error:

[code]

What is interesting I don't see this error on another system with the sa

[2019-09-16 10:21] fgrzadkowski commented on #4794
<details>
<summary>
Output from `rs-enumerate-devices -o` (click on "arrow" on the left to unfold as it's pretty long):
</summary>
$ rs-enumerate-devices -o
 Device info:
    Name                          : 	Intel RealSense D415
    Serial Number                 : 	746112061823
    Firmware Version              : 	05.11.10.00
    Recommended Firmware Version  : 	05.09.14.00
    Physical Port

[2019-09-16 10:34] nevynwong commented on #4538
Sorry for the delay of email reply due to other things. This problem has been solved and can be closed.

[2019-09-16 10:56] antoan opened #4864 "apt-get update fails"
----------------------------------------------------------------------------------------------------

| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | { R200 / F200 / SR300 / ZR300 / D400 } |
| Firmware Version

[2019-09-16 10:59] doronhi commented on #4794
Did you try [realsense2_camera's PR#924](https://github.com/IntelRealSense/realsense-ros/pull/924)?

[2019-09-16 11:20] Dealerpriest commented on #2635
I am not experiencing this issue anymore. And I can't really assist in anything specific measures to take.
But perhaps upgrade to latest version of the unity package? At the time of writing this it's [v2.28.0](https://github.com/IntelRealSense/librealsense/releases/download/v2.28.0/Intel.RealSense.unitypackage)
Also. Are you able to playback files in the unity example scene? If so. It might be rel

[2019-09-16 11:22] julioobelleiro commented on #2635
ah thanks, it might be he version of the sdk then. will update and check, thanks for the quick reply

[2019-09-16 12:19] Johance2 opened #4865 "has ir pattern"
| | |
|---|---|
|**librealsense**|2.25.0 RELEASE|
|**OS**|Windows|
D415
Please provide a description of the problem
has white ir
when i click install button on the right-top panel in Depth.Quality.Tool.exe
![image](https://user-images.githubusercontent.com/16065448/64957257-1c7fc700-d8bf-11e9-8ffa-42dee1682c79.png)

[2019-09-16 14:07] hrdkjain commented on #4079
Using the MinZ and MaxZ values shown in Disparity Figure on [this page](https://dev.intelrealsense.com/docs/tuning-depth-cameras-for-best-performance), approximate formulae for depths should be:
MinZ = focal length(pixels) x baseline(mm) / (126+disparityShift)
MaxZ = focal length(pixels) x baseline(mm) / (disparityShift)

[2019-09-16 14:54] dorodnic commented on #4865
Remove IR pattern preset only has effect when configuring Infrared stream to RGB8 format. Y8 will still produce raw infrared data.
Also, even in RGB8 mode, the device is trying to remove the pattern using color correction (basically erasing the specific color of the projector) but it will not succeed 100%. This is one of the reasons for an additional RGB sensor.

[2019-09-16 15:03] MRo47 commented on #2552
Thank You @RealSense-Customer-Engineering

In case someone is looking for the code to use opencv instead of imgui.

`#include <opencv2/opencv.hpp>
#include <iostream>
#include <librealsense2/rs.hpp>
#include <cstring>
#include <algorithm>

float get_depth_scale(rs2::device dev)
{
  // Go over the device's sensors
  for (rs2::sensor& sensor : dev.query_sensors())
  {
    // Check if the sensor if a

[2019-09-16 15:15] Ahad19931 opened #4868 "How to check and change the frame rate of the D435i camera in MATLAB"
| Camera Model                       | {D400 } |
| Operating System & Version |   {Win (8.1/10)                                         |
| Platform                                 | PC
| Language                            |  {Matlab }                          |
| Segment			|  {Robot }                          |

I am streaming the depth frame of the d435i camera on matlab but there seems to be a

[2019-09-16 15:34] MRo47 commented on #2552
Thank You @RealSense-Customer-Engineering for the answer.
and @fu3lab for raising the issue.
If anyone is looking for the opencv compatible version , the code is below and is independent of any third party libraries from realsense.

[https://gist.github.com/MRo47/aecd9be1b58455f29b5c1544703589ae](url)

[2019-09-16 15:47] hongluck commented on #4794
@doronhi  thank you it is now working fine.
You are the boss. Have a wonderful day

[2019-09-16 15:47] #4794 closed

[2019-09-16 16:54] rishabhkjain commented on #3854
@samxchandlerpi I had the same issue when trying to follow that guide. I just followed this guide and it worked with my D435. https://github.com/IntelRealSense/librealsense/blob/master/doc/installation.md

[2019-09-16 17:06] RealSenseCustomerSupport commented on #4723
----------------------------------------------

Hi

This is the known issue. Currently the sync feature is not implemented for 6FPS, but it works under 30FPS or 15FPS. This support is on current To-Do list but sitting at low priority. Sorry about that.

Thank you

[2019-09-16 17:11] samxchandlerpi commented on #3854
Thanks for the reference. I ended following this guide to get the d435 working:

https://www.jetsonhacks.com/2019/05/16/jetson-nano-realsense-depth-camera/

[2019-09-16 18:06] #4553 closed

[2019-09-16 18:31] fgrzadkowski commented on #4794
@doronhi It turned out to be a problem with not properly installed DKMS for the driver. Thanks!

[2019-09-16 18:31] fgrzadkowski commented on #4815
@ev-mp  It turned out to be a problem with not properly installed DKMS for the driver. Thanks!

[2019-09-16 18:49] mikepurvis opened #4869 "DKMS build failing on 4.15.0-62, -64"
Was fine on 4.15.0-58, now is broken. See the build output below.

[code]

[2019-09-16 22:36] flipphillips commented on #2913
Even though this is closed... just wanted to note that, in real sense viewer on macOS, built from source as of 16 Sept 2019, this error is still being thrown... even in developer branch.

[2019-09-16 22:36] jssa62 commented on #4798
@MartyG-RealSense Many thanks for your answer. But this method is only used with a chessboard while in a real-life situation, there is no chessboard. On the other hand, if we want to measure a "T" shaped object, it cannot calculate the width of " I " part.

[2019-09-17 01:48] RealSenseCustomerSupport commented on #4742
----------------------------------------------

@calipos What's your output of "adb shell lsusb"? And which SDK version are you using?

[2019-09-17 02:05] RealSenseCustomerSupport commented on #4732
----------------------------------------------

@medlraffy Did you get chance to try the latest SDK v2.28 to see if you still have the issue?  https://github.com/IntelRealSense/librealsense/pull/4731 should address https://github.com/IntelRealSense/librealsense/issues/4701  Thanks!

[2019-09-17 02:06] catmasteryip opened #4872 "Cannot build opencv dnn example"
| Camera Model                       |  D400  |
| Firmware Version                   | (Open RealSense Viewer --> Click info) |
| Operating System & Version |   Ubuntu18  |
| Kernel Version (Linux Only)    |>=5 |
| Platform                                 | PC |
| SDK Version                            | 2.28 |
| Language                            |  C#/opencv                     |
| Segment			|

[2019-09-17 02:11] RealSenseCustomerSupport commented on #4710
----------------------------------------------

@nk2IsHere Which example did you run when get this issue? Thanks!

[2019-09-17 02:17] RealSenseCustomerSupport commented on #4701
----------------------------------------------

@medlraffy https://github.com/IntelRealSense/librealsense/pull/4731 should address the issue. Could you please try the latest SDK v2.28 to see if you still get issue? Thanks!

[2019-09-17 02:26] RealSenseCustomerSupport commented on #4715
----------------------------------------------

@dk67604 As https://github.com/IntelRealSense/librealsense/tree/master/wrappers/python/examples/box_dimensioner_multicam#workflow indicated, please make sure that you did "Place the calibration chessboard object into the field of view of all the realsense cameras. Update the chessboard parameters in the script in case a different size is chosen."  Th

[2019-09-17 02:47] RealSenseCustomerSupport commented on #4667
----------------------------------------------

@harshitsankhla Sorry for late reply. Did you still get the issue? Any luck with the latest SDK and ROS version? Looking forward to your reply. Thanks!

[2019-09-17 04:23] RealSenseCustomerSupport commented on #4517
----------------------------------------------

@skomatin Sorry for the late response. What's the SDK and FW version did you use when you got the issue on MacOS? Any luck with the latest SDK and FW? Looking forward to your update. Thanks!

[2019-09-17 05:03] #4718 closed

[2019-09-17 05:04] #4538 closed

[2019-09-17 05:48] nk2IsHere commented on #4710
I ran https://github.com/IntelRealSense/librealsense/blob/master/wrappers/python/examples/opencv_viewer_example.py
rs-depth
realsense viewer

I’ve found temporary solution: changed the usb cable to usb 2.0 to type-c. This fixed random crashes, though downgraded the speed.

[2019-09-17 06:05] MartyG-RealSense commented on #4798
I don't doubt that 3D measurement without a chessboard is possible, since it was done even with the original RealSense cameras in 2014 (a Chinese company called JD.com did a warehouse box measuring trial) and it is also a key application of rugged Windows 10 tablets with rear-facing D410 and D415 cameras built into them.  It is likely just a matter of finding software / programs that can do it.

h

[2019-09-17 06:35] RealSenseCustomerSupport commented on #4460
----------------------------------------------

@SgtJaap With the suggestion from ev-mp, did you still have issue? Looking forward to your reply. Thanks!

[2019-09-17 07:00] visus100 opened #4873 "Remove points before exporting to PLY"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D435i  |
| Firmware Version                   | D400_Series_FW_5_11_11_100 |
| Operating System & Version |   Win (8.1/10) |
| Platform                                 | PC

[2019-09-17 07:54] skomatin commented on #4517
@RealSense-Customer-Engineering  Unfortunately I will not have access to the Realsense camera for another two weeks and hence I am not sure what the firmware version was. It was the latest firmware to the date of Aug 30 and no, I still experienced the same issue with that.

As for the SDK I was unable to download the realsense-viewer SDK (if that's what you are talking about) on my macos. I used x

[2019-09-17 09:37] vvgokul55 commented on #4693
@RealSenseCustomerSupport None from my end regarding this

[2019-09-17 09:56] newtaste commented on #4794
I am also struggling with the same problem in the same situation.
Can you tell me a little bit more about how to fix this?

[2019-09-17 10:04] vvgokul55 opened #4874 "Generate pointClound (.ply) file with vectors associated with vertices"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D415 |
| Firmware Version                   | 05.11.06.250 |
| Operating System & Version |  Android 9 Samsung S10  |
| Platform                                 | Mobile |
|

[2019-09-17 11:48] harshars08 opened #4875 "We are observing error messages as mentioned in the log file.We are using below code to get colour frames from RealSense camera and streaming the same over HTTP.But after sometime colour stream stucks after sometime."
[Realsense_logs.txt](https://github.com/IntelRealSense/librealsense/files/3621082/Realsense_logs.txt)
* Before opening a new issue, we wanted to provide you with some useful suggestions (Click "Preview" above for a better view):

    * Consider checking out SDK [examples](https://github.com/IntelRealSense/librealsense/tree/master/examples#sample-code-for-intel-realsense-cameras).
    * Have you lo

[2019-09-17 11:53] msadowski opened #4876 "Velocity drift in T265 while robot is stationary"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | T265 |
| Firmware Version                   | 0.1.0.279 |
| Operating System & Version |   Ubuntu 18.04  |
| Kernel Version (Linux Only)    |  5.0.0-27

[2019-09-17 12:15] morcibacsi opened #4877 "System.AccessViolationException in .NET wrapper when getting the distance of a point"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | SR305|
| Firmware Version                   | 3.27.3.0 |
| Operating System & Version |   Win 10 Pro 1903 |
| Kernel Version (Linux Only)    |

[2019-09-17 12:21] CamAtlantic opened #4878 "Issues translating Hello (and the rest) to Unity"
----------------------------------------------------------------------------------------------------

| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D435 |
| Firmware Version                   | 05.11.06.250 |
| Operatin

[2019-09-17 12:56] harshars08 commented on #4875
Code to get colour frames:

public static IEnumerable<System.Drawing.Image> realSenseColorFrames()
        {

            log.Info("StreamApi::realSenseColorFrames Getting RealsenseClorFrames!!");

            Align align = new Align(Intel.RealSense.Stream.Color);
            try
            {
                while (true)
                {
                    using (var frames = pipe.WaitForFrames

[2019-09-17 16:10] brettmilinski opened #4879 "How to properly grab new frames on a timer tick?"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | T265 |
| Firmware Version                   | 05.11.06.250 |
| Operating System & Version |   Win(10) |                                         |
| Platform

[2019-09-17 16:16] EnrikDS opened #4880 "Pyrealsense2 BUS ERROR when doing pipeline.start()"
* Before opening a new issue, we wanted to provide you with some useful suggestions (Click "Preview" above for a better view):

    * Consider checking out SDK [examples](https://github.com/IntelRealSense/librealsense/tree/master/examples#sample-code-for-intel-realsense-cameras).
    * Have you looked in our [documentations](https://github.com/IntelRealSense/librealsense/tree/master/doc#useful-lin

[2019-09-17 16:35] alextac98 opened #4881 "Realsense Viewer won't open in Ubuntu 18.04"
----------------------------------------------------------------------------------------------------

| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | N/A |
| Firmware Version                   | ??? |
| Operating System &

[2019-09-17 17:44] OrientalSurprise commented on #4171
Hi! Any update here? I'm running into the same issue with the same camera, however it's with all file types except generating .png files. The file I'm really trying to get are .ply files.
I get a log file in the same directory but nothing else

[2019-09-17 18:34] MartyG-RealSense opened #4882 "Announcement: Nuitrack Support for Raspberry Pi 3 and Tinkerboard Added"
Hi everyone,

Nuitrack have expanded the supported platforms of their software to support Raspberry Pi 3 and Tinkerboard.  The information released by Nuitrack is posted below:

**********************

We are glad to announce the new version of Nuitrack middleware!

The new version of Nuitrack 0.29.0 is released with the following improvements:

**-  Librealsense2 library version updated to v2.25.

[2019-09-17 19:26] didory123 commented on #4713
Hi guys!
I'm sorry, I completely forgot to comment and close this issue.
My issue was indeed the master-slave connection on the RGB connection. My application doesn't require that yet, so I turned it off for now. Thank you for the help and the useful links though!

[2019-09-17 19:26] #4713 closed

[2019-09-17 20:30] cichard commented on #3234
I hav noticed the same behavior as you @tim-fan and @Dejauxvue.
Moreover, I would like to understand one thing, maybe you can help guys ?
As you can see in your results, when facing down you get approximately -g on z axis. However it is stated in the [doc](https://www.intelrealsense.com/how-to-getting-imu-data-from-d435i-and-t265/) that, IMUs reading are aligned to depth frame internally right ? I

[2019-09-17 23:53] JBBee opened #4883 "rs-ar-basic object not stationary"
----------------------------------------------------------------------------------------------------

| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | T265 |
| Firmware Version                   | 0.1.0.279 |
| Operating S

[2019-09-18 05:46] RealSenseCustomerSupport commented on #4693
----------------------------------------------

@vvgokul55 Thanks for the feedback!
@nafidoni Any other questions regarding this issue? Looking forward to your reply. Thanks!

[2019-09-18 05:52] ev-mp commented on #4881
@alextac98 , the errors are due to communication/hw issues between host and the device.
The second error often indicates that the device was forcefully disconnected from host due to insufficient power or a similar issue.

Knowing the camera type/fw version and also attaching the kernel logs when those errors occur is needed for review.
You haven't specified the platform you're using that produces

[2019-09-18 05:57] ev-mp commented on #4877
@morcibacsi , according to the attached screenshot you're passing a negative `y`  as pixel coordinate to the function, which is out of the [0-height] range
![image](https://user-images.githubusercontent.com/17897861/65117003-2c4bf800-d9f2-11e9-9a66-f82ad850c333.png)

[2019-09-18 06:07] ev-mp commented on #4869
@mikepurvis  hello, we are looking into this as it similar to #4669 to resolve it for 4.15 branch.
In the meanwhile you can either try the proposed WA DKMS or run the manual patch script from the [installation guide](https://github.com/IntelRealSense/librealsense/blob/master/doc/installation.md)

[2019-09-18 06:14] RealSenseCustomerSupport commented on #4517
----------------------------------------------

@skomatin Got you! Please provide SDK and FW version when you get back the camera. We'll also try to see if can reproduce here.

[2019-09-18 06:24] ev-mp commented on #4872
@catmasteryip , all the SDK examples were built with openCv 3.4.
What version are you running and can you verify that the highlighted header file `<opencv/dnn.hpp>` is present on hard-disk ?

When building from sources openCV was reported having issues with dnn when statically compiled.

[2019-09-18 06:31] ev-mp commented on #4849
@vidurvij, did you manage to collect the logs ?
Waiting for an update

[2019-09-18 06:33] RealSenseCustomerSupport commented on #4489
----------------------------------------------

@pkr97 Any other questions about this? Looking forward to your reply. Thanks1

[2019-09-18 06:35] RealSenseCustomerSupport commented on #4483
----------------------------------------------

@swjtuccy Did you try what Iramati suggested? Looking forward to your update. Thanks!

[2019-09-18 06:46] ev-mp commented on #4846
@santiagorr, thanks you for the inquiry .
Upstreaming the debians is planned activity and we're definitely looking into this. I cannot provide estimates though.
Releasing the sources is currently not planned, but once up-streamed, this may be reconsidered.

[2019-09-18 06:49] ev-mp commented on #4841
@Dontla, I'm closing this now as there is no follow up to investigate.
Feel free to reopen if the issue resurfaces.

[2019-09-18 06:49] #4841 closed

[2019-09-18 06:57] Dontla commented on #2741
Hey, guy! Have you solved this problem?

[2019-09-18 06:59] RealSenseCustomerSupport commented on #4443
----------------------------------------------

@MCSuperior Please follow https://github.com/IntelRealSense/realsense-ros/blob/development/README.md to install ROS.

[2019-09-18 07:06] #4497 closed

[2019-09-18 07:08] RealSenseCustomerSupport commented on #4423
----------------------------------------------

@Core055 Did you get chance to try the latest release to see if the issue is still there? Looking forward to your update. Thanks!

[2019-09-18 07:10] ev-mp commented on #4827
@mstranne hello, unfortunately this use-case was not implemented in Librealsense**1** where ony one executable had control over all the connected depth cameras.
So when you start streaming the depth sensor all the other (including RGB) are not available to the other executables.

You may work/around by using a "master" application to stream depth+ir+color and then pass the RGB frame to a 3rd-party

[2019-09-18 07:18] ev-mp commented on #4815
@fgrzadkowski , thanks for the confirmation.
Also, as noted by @doronhi in that thread the proper solution was [already integrated](https://github.com/IntelRealSense/realsense-ros/pull/924) into the ROS repository so the new version will run correctly even on "unpatched" Ubuntu machines.

@hongluck, to avoid the error please install DKMS or run the patches script. #4794

[2019-09-18 07:26] RealSenseCustomerSupport commented on #4390
----------------------------------------------

@AntoineWefit Thanks very much for your input on this.
@descamps2 Sorry for the late reply. Did you get through the issue now? Looking forward to your update. Thanks!

[2019-09-18 07:27] Marenix opened #4884 "Unable to build nodejs wrapper (windows 10)"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D400 |
| Firmware Version                   ||
| Operating System & Version |   Win 10 |
| Kernel Version (Linux Only)    |   |
| Platform                                 |

[2019-09-18 07:31] ev-mp commented on #4794
@newtaste , the issue is specific to ROS users and if you're affected then it means that you're using unpatched kernel and need to apply the kernel patches. the SDK offers two ways to handle this - DKMS or installation script:
1) DKMS can be applied to Ubuntu LTS kernels.

Note that there is a known issue with the 4.15 branch (#4669) that affects versions 4.15.0-58+. In that case it is safer to us

[2019-09-18 07:39] ev-mp commented on #4797
@tonyjonyjack hi, did you manage to find a solution to your use-case ? Or do you need more assistance  - please update.

[2019-09-18 07:40] ev-mp commented on #4783
@ghost, was this helpful ?

[2019-09-18 07:41] ev-mp commented on #4779
@Maheshwariraghav112 , did you manage to resolve the issue ?

[2019-09-18 07:41] #4776 closed

[2019-09-18 07:51] ev-mp commented on #4767
@kinetixx , what is the current status - did you turn in the unit for replacement ?

[2019-09-18 07:57] ev-mp commented on #4740
@josephdanielchang , the reference code is identical to your use-case - the dataset used in unit-tests was recorded from Librealsense with the same method as you did, and in includes the raw pixels buffer retrieved with `frame.get_data()` method.
Thus by following the link to the unit-tests example you would be able to see how to reconstruct `rs2::frame` from `bin` file step-by-step and then use t

[2019-09-18 08:25] lramati commented on #4862
same way as in C++. You can either pass these parameters into the constructor for the temporal filter, or you can use the set_option API

[2019-09-18 08:28] galikrosentalik commented on #4500
It seems i can not make the T265 identify as a usb 3 device. Iv'e tried all ports on my pc using the original cable supplied by the company.
moreover, when i connect D415 or D435 it does identify as usb 3.
can you advise?

[2019-09-18 09:09] shadowdk3 opened #4885 "How to get timestamp when using multi camera in python?"
* Before opening a new issue, we wanted to provide you with some useful suggestions (Click "Preview" above for a better view):

    * Consider checking out SDK [examples](https://github.com/IntelRealSense/librealsense/tree/master/examples#sample-code-for-intel-realsense-cameras).
    * Have you looked in our [documentations](https://github.com/IntelRealSense/librealsense/tree/master/doc#useful-lin

[2019-09-18 09:25] morcibacsi commented on #4877
@ev-mp I am fully aware of that. As you can see on the screenshot, I have the necessary checks (it is just commented out) to avoid the Exception. My point was that the AccessViolationException is not the best to throw from the SDK. An ArgumentOutOfRangeException would be more appropriate.

[2019-09-18 10:50] g2-bernotas commented on #4881
I only know from Windows side, but I had something similar when the SDK crashes every time you want to change any parameter (exposure, laser etc etc.). My solution was reported [here](https://github.com/IntelRealSense/librealsense/issues/4784).

[2019-09-18 11:00] g2-bernotas commented on #4880
Following your intuition, can you try to start with a specific config, which is set to the lowest resolution?

[code]

[2019-09-18 11:58] ev-mp commented on #4877
@morcibacsi , I agree that the input validation should be performed by SDK to improve the users' experience.
This will be fixed in the next releases

[2019-09-18 12:06] EnrikDS commented on #4880
Hi, many thanks for the idea. I did not know how to do that.
It turns out that it does not work, this time a different error when trying to start the pipeline with the desired configuration:

It says: RuntimeError: Couldn't resolve requests
just after the execution of pipeline.start(config)

Thanks

[2019-09-18 13:01] andre-ryll commented on #866
I am just using the debug protocol snippet @dorodnic posted above to read the projector temperature now. I am still hoping for librealsense team to fix the issue with reading the option values.

[2019-09-18 13:27] kinetixx commented on #4767
We finally have 3 cameras as 430i. We decided to put them into projects where we just need depth. We bought next two 435i but they seem to work. We tried everything and it seems like it was hardware problem.

[2019-09-18 13:27] #4767 closed

[2019-09-18 13:36] EnrikDS commented on #4880
Ok, that gets solved with good configuration like:
config.enable_stream(rs.stream.depth, 640, 480, rs.format.z16, 30)

Although it gives a different error now, I think there is  problem with the compilation of pyrealsense2.

Traceback (most recent call last):
  File "camera_test.py", line 9, in <module>
    import pybackend2 as rs
ImportError: /usr/local/lib/pybackend2.cpython-37m-arm-linux-gnueab

[2019-09-18 13:59] EnrikDS commented on #4880
Sorry that gets solved with the correct configuration of the camera:
config.enable_stream(rs.stream.depth, 424, 240, rs.format.z16,6)

[2019-09-18 14:08] g2-bernotas commented on #4880
So at what stage are you right now? I have never worked with the RealSense and Raspberry Pi. Have you followed any tutorials for setting up the RPi, such as this [one](https://github.com/IntelRealSense/librealsense/blob/master/doc/installation_raspbian.md?source=post_page-----882933271f3d----------------------)?

[2019-09-18 14:16] OrientalSurprise commented on #4171
Seems to be specific to my T265 camera .bag output.
I tried the same with a D435 and it worked fine

[2019-09-18 14:20] EnrikDS commented on #4880
Everything seems to be working now. I followed that tutorial yes, but I found many problems when compiling realsense for Buster. And also, I am using Open3D as well, and run into trouble compiling.
In order to get realsense working with buster I had to follow these steps:

**_When installing protobuff with python 3.7 there are some modifications to be done beforehand as the C wrappers do not compi

[2019-09-18 14:43] alextac98 commented on #4881
@ev-mp It seems like the hardware was resetting due to power limitations by my laptop (I was plugging it directly into my laptop port). Now that I have plugged the cameras into a powered port, it works as expected. Thank you for your help!

[2019-09-18 14:43] #4881 closed

[2019-09-18 15:13] lramati commented on #4885
Could you provide a little more information? I'm not sure what the device manager class or the poll_frames functions are.
In general the Python API is nearly 1-to-1 with the C++ API, so you should be able to do it in Python the same way you did it in C++.
If there's a gap in the Python bindings, please let me know and I'll try to get them wrapped in time for the next release.

[2019-09-18 16:09] arrowperfecto opened #4887 "Stereo Vision - absolute depth calculation?"
| Camera Model | D435 |
| Segment | Stereo Depth |

I am reviewing the different models of depth cameras.  I have a question about the "stereo vision".  Based on what I am reading in the detailed data [sheet](https://www.intel.com/content/dam/support/us/en/documents/emerging-technologies/intel-realsense-technology/Intel-RealSense-D40-Series-Datasheet.pdf) the depth calculation is not absolute dept

[2019-09-18 16:51] agrunnet commented on #4887
Correct. Please check out this explanation. We use triangulation.
https://www.google.com/amp/s/www.intelrealsense.com/stereo-depth-vision-basics/amp/

[2019-09-18 17:02] arrowperfecto commented on #4887
OK, thank you for the link.

[2019-09-18 17:03] arrowperfecto opened #4888 "SR305 - imager and illumination"
Hi,
What imaging sensor is used in the SR305 (imager model)?  Is the illumination done by a VCSEL?
Thanks,
Perfecto

[2019-09-18 17:03] radfordi commented on #4883
Thanks for the video, @JBBee.   At first glance, this looks like accumulated loop error.  Does it happen on a second loop (such that we have presumably already closed the loop internally and know you are coming around to the object)?

[2019-09-18 17:13] agrunnet commented on #4888
It is a custom high speed imager.
The laser is not VCSEL for this unit.
The technology is coded light. Effectively it creates a line that scans very fast. The line is turned on and off in a specific pattern. An image is captured 10x faster than actually frame rate for depth. These 10 frames are exposed with different line patterns and depth is calculated based on all these subframes.

[2019-09-18 17:31] mikepurvis commented on #4869
@ev-mp I tried the deb posted in that ticket, and I get the same error with the `-62` kernel.

Are the scripts that build that package in this repo somewhere, or are they elsewhere?

[2019-09-18 19:39] morcibacsi commented on #4879
I would try a different aproach. I would create a thread where I would run something like this:

[code]
where the frameProcessorMethod would be an action, injected at the constructor:
[code]
This way you can decouple the db logic from the camera processing code.

Or another thing which worth a shot is to put the whole camera initialization, and database stuff into your timer, and at the end of the

[2019-09-18 20:00] JBBee commented on #4883
Hi @radfordi

Thanks for taking a look.  This time I tried looping the table 3 times but it still appears off the square each time around when looking at it from the other perspective.

Below is a video of the loops, but also at the 1 minute mark I just tried moving from the first perspective to the second perspective, without going around the table, and you can see the 3 lines slide off the squar

[2019-09-18 20:31] andreas-eg commented on #1179
I got this on my mac after cmake the sdk's from source then using Xcode to build it.

Backend in rs2_open_multiple(sensor:0x7fd1025a9410, profiles:0x7fd10762b970, count:1):
fail to start streaming. Last Error: Operation timed out

Normal video feed is working.

[2019-09-18 20:52] andreas-eg opened #4890 "Fails to turn on stereo module on MacOs"
"Backend in rs2_open_multiple(sensor:0x7fd1025a9410, profiles:0x7fd10762b970, count:1):
fail to start streaming. Last Error: Operation timed out"

I got this on my mac after cmake the sdk's from source then using Xcode to build it.

The RGB camera is working.

I got the error when trying to enable the Stereo Module in realsense-viewer.

Console logged this message:
 18/09 22:47:02,682 ERROR [0x10a

[2019-09-18 21:21] RealSenseCustomerSupport commented on #4500
----------------------------------------------

@galikrosentalik - So if you attempt to just run RealSense Viewer (latest version 2.28.0) without any special debug setup or special settings, the T265 device is not identified?

[2019-09-18 21:33] RealSenseCustomerSupport commented on #4648
----------------------------------------------

@vladHoloArch, Is there anything further required on this ticket?

[2019-09-18 21:44] schmidtp1 commented on #3450
I create a python odometry sample: https://github.com/schmidtp1/librealsense/blob/wheel-odometry-python-sample/wrappers/python/examples/t265_wheel_odometry/t265_wheel_odometry.py.

[2019-09-18 22:02] #4486 closed

[2019-09-18 22:02] #4592 closed

[2019-09-18 22:02] #4641 closed

[2019-09-18 23:53] vidurvij commented on #4849
Hi Sorry for the late reply. The Problem was solved.

[2019-09-18 23:53] #4849 closed

[2019-09-19 01:20] shadowdk3 commented on #4885
@lramati Thanks for your reply.
I follow example https://github.com/IntelRealSense/librealsense/blob/master/wrappers/python/examples/box_dimensioner_multicam/box_dimensioner_multicam_demo.py to get multi video.
Get all device video in `poll_frames` function, https://github.com/IntelRealSense/librealsense/blob/master/wrappers/python/examples/box_dimensioner_multicam/realsense_device_manager.py

[2019-09-19 05:20] RealSenseCustomerSupport commented on #4469
----------------------------------------------

@knicos I tried the latest SDK v2.28 and FW 5.11.11.100 and didn't get the issue. Could you please try the latest SDK and FW to see if any luck? Thanks!

[2019-09-19 05:22] ev-mp commented on #4869
@mikepurvis ,  the link to run the [patches installation script](https://github.com/IntelRealSense/librealsense/blob/master/doc/installation.md) is available in the previous post.
The script itself and the relevant patches are maintained in the SDK's source code tree
Download/clone the source code and invoke the script from the SDK's root dir:

[2019-09-19 05:34] ev-mp commented on #4624
[Fixed](https://github.com/IntelRealSense/librealsense/wiki/Release-Notes#bug-fixes) in v2.28

[2019-09-19 05:34] #4624 closed

[2019-09-19 05:43] ev-mp commented on #4604
@barcelona-delpy hello, do you have the requested data for analysis?
Please update

[2019-09-19 05:44] #4569 closed

[2019-09-19 05:47] #4567 closed

[2019-09-19 06:01] ev-mp commented on #4551
@yangliu995 , streaming RGB+Depth synchronized can be achieved when you follow certain rules:
- RGB and Depth should be set to identical FPS.(15/30)
- The Exposure priority control shall be set to prefer FPS over AE  (and prevent auto-exposure from affecting the FPS). Or in case of the manual exposure - the value must be lower than the expected frame interval.

Adhering to those rules would allow

[2019-09-19 06:05] ev-mp commented on #4464
Was [resolved](https://github.com/IntelRealSense/librealsense/wiki/Release-Notes#bug-fixes)  in v2.28
Similar to  #4624

[2019-09-19 06:05] #4464 closed

[2019-09-19 06:19] ev-mp commented on #4346
@Cavendish-Koo, I'm closing this due to lack of activity.
Feel free to reopen if you need additional assistance.

[2019-09-19 06:19] #4346 closed

[2019-09-19 06:24] ev-mp commented on #4341
@aPonza , @hpf9017 - did you manage to resolve the connectivity issues?

[2019-09-19 06:25] ev-mp commented on #4172
@JoeyLeeNPU , was the info referred by @dmirota  helpful ?
Please update

[2019-09-19 07:09] aPonza commented on #4341
It works now, not sure what changed though, but configuring with      `-DCMAKE_BUILD_TYPE=RelWithDebInfo`, building and installing works: I'm closing the issue

[2019-09-19 07:09] #4341 closed

[2019-09-19 08:41] aangerma commented on #4775
Hello,
in sse-align.cpp image_transform::align_other_to_depth_sse() line 329  and image_transform::align_depth_to_other_sse line 301
we are calling to get_texture_map_sse() and move (byte*)_pixel_top_left_int.data() as parameter
inside get_texture_map_sse() we calculate the texture map from depth to other stream and set the result on _pixel_top_left_int.

[2019-09-19 09:18] nikhilkoditala commented on #73
@jawad-tech are you able to make this work with D400 series

[2019-09-19 10:13] kishordurve opened #4891 "Intel SR305 not detected in Intel RealSenseViewer and Windows Device Manager"
| | |
|---|---|
|**librealsense**|2.28.0 RELEASE|
|**OS**|Windows|

I loaded the library (Intel RealSense 2.28.0.1085) and attached the camera to my PC. The camera does not get detected both by Windows Device Manager and RealSenseViewer.  PC has Windows 10 Pro 64 bit with i7-4790, 24 GB RAM.

[2019-09-19 10:24] antoan opened #4892 "What does Tracking Module 1 (TM1) refer to?"
In the Prerequisites section of the install guide we have:
5. "TM1-specific:

Tracking Module requires hid_sensor_custom kernel module to operate properly. Due to TM1's power-up sequence constrains, this driver is required to be loaded during boot for the HW to be properly initialized."

Not clear if this applies to me (T56 & D435i)

https://github.com/IntelRealSense/librealsense/blob/d6f6be84b461

[2019-09-19 10:30] mksarker commented on #2547
I have the same issue. I am new here. What you did to solve this issue @FlavGal, Please give me some details. Thanks in advance!

[2019-09-19 10:45] lramati commented on #4885
if you look at the source of the function you linked, the object returned by `poll_frames()` is a dictionary of dictionaries of pyrealsense2 frames. you'd need to access those inner frames and call `get_timestamp()` on them

[2019-09-19 10:48] dorodnic commented on #4892
Hi @antoan
It does not. RealSense family is much broader than the handful of peripherals available for individual purchase. Tm1 refers to D400 with an IMU and a fish-eye lens, used by some of the bigger customers.
Sorry if the instructions are a bit confusing, we keep since set of instructions and installation procedures for all RealSense customers.

<sub>Sent with <a href="http://githawk.com">Git

[2019-09-19 11:18] lramati commented on #2547
Are you sure you compiled the module for the correct version of Python? When you have both Python 2.X and 3.X installed, CMake defaults to building for Python 3

[2019-09-19 11:18] EnrikDS commented on #2762
I am experiencing this error as well. Has been any progress about this?

[2019-09-19 11:19] mksarker commented on #2547
Now working! Thanks.

[2019-09-19 11:39] galikrosentalik commented on #4500
I am using RealSense Viewer latest version 2.28.0.
The T265 does identify, however I cannot find the usb connection type.
Please rerfer to the screenshot which shows clearly that the USB connection type is shown with the D435 (USB 3.2) but not with the T265. Please advise how to tell the USB connection type for T265.

![Screenshot from 2019-09-19 14-30-10](https://user-images.githubusercontent.com

[2019-09-19 11:53] JoeyLeeNPU commented on #4172
I'm sorry for response later, the problem has solved.

[2019-09-19 11:53] #4172 closed

[2019-09-19 13:19] nirshemesh opened #4893 "cols"
* Before opening a new issue, we wanted to provide you with some useful suggestions (Click "Preview" above for a better view):

    * Consider checking out SDK [examples](https://github.com/IntelRealSense/librealsense/tree/master/examples#sample-code-for-intel-realsense-cameras).
    * Have you looked in our [documentations](https://github.com/IntelRealSense/librealsense/tree/master/doc#useful-lin

[2019-09-19 14:46] liuyanqi commented on #4858
I have the same issue

[2019-09-19 15:22] brettmilinski commented on #4879
@morcibacsi Hi, thank you for your suggestions. I will definitely try them.

I have one question about them though, how do I inject the action at the constructor?

I have experience with threading so that makes perfect sense, but I am quite a newbie when it comes to working with these cameras. That being said, any explanation on how to implement the suggested frameProcessorMethod would be apprecia

[2019-09-19 16:47] antoan commented on #4892
Much appreciated, thanks.

[2019-09-19 16:47] #4892 closed

[2019-09-19 16:52] antoan commented on #4864
Problem goes away after deleting the repo line from sources list and adding it again. Able to update as normal after that.

[2019-09-19 16:52] #4864 closed

[2019-09-19 17:13] BenBergman commented on #2161
I was experiencing a similar issue. I got errors when trying to get the hub and wait for device, but just removing those last two lines from dorodnic's snippet worked for me.

[2019-09-19 20:31] MartyG-RealSense commented on #4891
Have you attached the camera to a USB 3 port please?  Unlike the 400 Series cameras, the SR300 and SR305 need USB 3.

[2019-09-19 23:04] #4600 closed

[2019-09-19 23:44] WasabiFan commented on #4414
With the following setup:

[code]

And **NOT** using the USB hub (i.e., in the configuration I know this error occurs), I captured the following log (renamed to `.txt` because GitHub disallows `.csv` extensions):

[log.csv.txt](https://github.com/IntelRealSense/librealsense/files/3633556/log.csv.txt)

The notable section looks like this (there are two of them, this one starting at line 4488):

[co

[2019-09-20 02:11] kishordurve commented on #4891
Got it! I had connected it to a USB3 port but had used an extension cable. Once I connected it directly it started working! Thanks to MaryG-RealSense for her suggestion.

[2019-09-20 02:11] #4891 closed

[2019-09-20 04:01] hpf9017 opened #4894 "the accuracy of the depth about the d400"
I'm trying to get the best performance of depth about d435i according to
[https://www.intel.com/content/dam/support/us/en/documents/emerging-technologies/intel-realsense-technology/BKMs_Tuning_RealSense_D4xx_Cam.pdf](url)

in 3. Verify performance regularly on a flat wall or target:
e. Understand theoretical limit:

![Screenshot from 2019-09-20 11-52-30](https://user-images.githubusercontent.com/1

[2019-09-20 05:25] RealSenseCustomerSupport commented on #4211
----------------------------------------------

@pavloblindnology Could you please submit one PR for your suggestion? Thanks!

[2019-09-20 05:42] RealSenseCustomerSupport commented on #4290
----------------------------------------------

@gdiiorio Please check to see if frame.keep() API below can meet your requirement. Thanks!
https://github.com/IntelRealSense/librealsense/blob/master/wrappers/csharp/Intel.RealSense/Frames/Frame.cs#L104-L115
PR link: https://github.com/IntelRealSense/librealsense/pull/1015

[2019-09-20 05:43] RealSenseCustomerSupport commented on #4214
----------------------------------------------

@xtrawurst Could you please submit one PR for this? Thanks!

[2019-09-20 05:44] MartyG-RealSense commented on #4894
Intel members JesusG and agrunnet provide information about the mm accuracy of the 400 Series cameras in the link below.

https://github.com/IntelRealSense/librealsense/issues/999

[2019-09-20 05:49] RealSenseCustomerSupport commented on #4306
----------------------------------------------

@nevynwong Sorry for late response. Which SDK and FW version did you use when get the issue? Did you still have the issue with the latest SDK and FW version? Looking forward to your update. Thanks!

[2019-09-20 05:51] RealSenseCustomerSupport commented on #4305
----------------------------------------------

@vusdo Do you still have questions about this? Looking forward to your update. Thanks!

[2019-09-20 05:57] RealSenseCustomerSupport commented on #4366
----------------------------------------------

@schoningerJim Sorry for late response! What's SDK version when you get the issue? Did you try the latest SDK and FW to see if same issue? Looking forward to your update. Thanks!

[2019-09-20 06:25] comwise commented on #4780
@ev-mp  i updated the kernel by the following
`sudo apt-get update && sudo apt-get upgrade`
which can resolve my driver problems,

if i only updated kerner by
` sudo apt-get install linux-image-4.4.0-159-generic linux-image-extra-4.4.0-159-generic,`
there is some problems with drvier

thanks for your reply

[2019-09-20 07:07] #4458 closed

[2019-09-20 07:26] RealSenseCustomerSupport commented on #4165
----------------------------------------------

Hi @buzzer,

If no further question, will close this.

[2019-09-20 07:29] RealSenseCustomerSupport commented on #4142
----------------------------------------------

Hi @kat-mcg-lin,

Any update? If the issue resolved, will close it.

[2019-09-20 07:46] RealSenseCustomerSupport commented on #3960
----------------------------------------------

Hi @Bingobingo123,

If the issue clarified, will close this.

[2019-09-20 08:05] #3947 closed

[2019-09-20 08:05] #4209 closed

[2019-09-20 08:05] #3945 closed

[2019-09-20 08:32] RealSenseCustomerSupport commented on #3990
----------------------------------------------

Hi @riteshkhrn,

Is there any additional question or issue you use the dynamic calibration? If not, will close this.

[2019-09-20 08:37] RealSenseCustomerSupport commented on #4400
----------------------------------------------

@nevynwong Sorry for late reply. Did you get through the issue? Looking forward to your reply. Thanks!

[2019-09-20 08:54] RealSenseCustomerSupport commented on #4468
----------------------------------------------

@tarekmuallim Any other questions about this? Looking forward to your update. Thanks!

[2019-09-20 08:55] RealSenseCustomerSupport commented on #4003
----------------------------------------------

Hi @LITONG12345,

I will close this if no additional support required.

[2019-09-20 09:06] #4016 closed

[2019-09-20 09:07] RealSenseCustomerSupport commented on #4071
----------------------------------------------

@filipematosinov Could you please provide the librealsense logs for RuntimeError issue? Thanks!

[2019-09-20 09:09] RealSenseCustomerSupport commented on #4291
----------------------------------------------

@NickolasCavagnaro Did you get chance to try the suggestion from Iramati? Is the issue resolved? Looking forward to your update. Thanks!

[2019-09-20 09:13] tarekmuallim commented on #4468
No other questions.
Thank you for your support.

[2019-09-20 09:45] riteshkhrn commented on #3990
I tried with the chart. Still not working

[2019-09-20 10:07] Daniel2401 commented on #1724
Required Info |  
-- | --
Camera Model | D435
Firmware Version | 05.11.06.250
Operating System & Version | Ubuntu 16.04.6 LTS
Kernel Version (Linux Only) | 4.15.0-64-generic
Platform | PC
SDK Version | 2

Hi,

I have the same problem, but with different versions.

`API version mismatch: librealsense.so was compiled with API version 2.28.0 but the application was compiled with 2.25.1! Make sure cor

[2019-09-20 10:37] Daniel2401 opened #4895 "[ERROR]: (...) API version mismatch: librealsense.so was compiled with API version 2.28.0 but the application was compiled with 2.25.1! Make sure correct version of the library is installed (make install)"
|Required Info |  |
|-- | --
|Camera Model | D435|
|Firmware Version | 05.11.06.250|
|Operating System & Version | Ubuntu 16.04.6 LTS|
|Kernel Version (Linux Only) | 4.15.0-64-generic|
|Platform | PC|
|SDK Version |2|
| Language                            |  python                          |
| Segment			|  Robot                          |

### Issue Description
I have a similar problem to #1724, b

[2019-09-20 14:07] BriceRenaudeau opened #4896 "Question : where is computed the point cloud ? (D400 sesries)"
I would like to know where is computed the point cloud?
In the camera (hardware) then send by USB or in the camera driver (software) using the depth images sent by the camera?
Thanks

[2019-09-20 15:09] mikepurvis commented on #4869
Broken on `-64` as well, same error message in the build log.

[2019-09-20 15:10] blackccpie opened #4897 "Fatal unmanaged exception after multiple rs2::device affectations"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D400  |
| Firmware Version                   | 5.11.1 |
| Operating System & Version |   MacOS  |
| Platform                                 | laptop |
| SDK Version

[2019-09-20 15:10] blackccpie commented on #4800
Seems like this issue has been fixed with latest pre-release 2.28.0.

[2019-09-20 16:02] #4703 closed

[2019-09-20 16:06] RealSenseCustomerSupport commented on #3897
----------------------------------------------

Hi @Dealerpriest,
Please kindly let us know if you have any question. Thank you.

[2019-09-20 16:32] davidsamson opened #4898 "What would cause an unknown error exception to be thrown when calling get_option(RS2_OPTION_GAIN) in Android?"
I have upgraded my RS415 and RS435 to the latest firmware and I am using librealsense2.28.0. Both of these cameras are throwing an exception when attempting to get/set gain in Android. Get/set exposure option works just fine. I have caught and printed out the exception error, but it is no help. Also, I drilled down in the RS SDK source code and I can see that this error is caught by a catch(...) i

[2019-09-20 16:34] RealSenseCustomerSupport commented on #4435
----------------------------------------------

@richardw347 - CAD model for SR305 has been released on the following page/site:

https://dev.intelrealsense.com/docs/cad-files

Thanks

[2019-09-20 16:54] RealSenseCustomerSupport commented on #4726
----------------------------------------------

Hi

Is this issue resolved? if not, how bad the the Depth accuracy? were you saying the error is 12%? Was it measured by our Depth Quality Tool (DQT)?
If not, please download and try the DQT tool from here: https://github.com/IntelRealSense/librealsense/releases/tag/v2.28.0

Thanks

[2019-09-20 16:56] MartyG-RealSense commented on #4435
@RealSenseCustomerSupport   Thanks so much for providing the SR305 CAD model link.  I will post it on the Intel Support forums.

[2019-09-20 20:43] RealSenseCustomerSupport commented on #4705
----------------------------------------------

Hi @coldcoda,

Do you need any further clarifications regarding this topic?

[2019-09-20 21:02] RealSenseCustomerSupport commented on #4573
----------------------------------------------

@TyTruGolf
We will tape out next ASIC by the end of 2020

[2019-09-20 21:50] rofreli opened #4899 "Raspberry PI 4 Buster and D435i - Error when trie use motion data"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D435I                                                      |
| Firmware Version                   | 05.11.11.100                                            |
| Operating Sys

[2019-09-20 21:55] kylevedder opened #4900 "Reading exposure value with auto-exposure enabled"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D435 |
| Firmware Version                   | 05.11.11.100 |
| Operating System & Version |   Ubuntu 18.04 LTS |
| Kernel Version (Linux Only)    |  4.15.0-62-generic + [Ker

[2019-09-20 22:40] kylevedder commented on #4900
It turns out the lights were not emitting enough IR to trigger auto-exposure. Pointing it at the sun triggered the exposure change.

[2019-09-20 22:40] #4900 closed

[2019-09-21 00:10] SteinHDanCognite commented on #3732
@eljefe40  I'd also love that code. I got a little bit further than the code above, but I seems to me there is something blocking access to the T265 further down. My D435 is not blocked, but my D435i also is (as with the T265). Anyways, here is what I have (in node_modules/node-librealsense):

[code]

I also tried to add the device manually with the Config class:
[code]

But that also did not work

[2019-09-21 00:17] RealSenseCustomerSupport commented on #4414
----------------------------------------------

Hi @WasabiFan, thank you very much for sharing the test result and findings.
From the log.csv, it looks like the depth stream was restarted.
I will check if this can be replicated here to investigate.
Thank you again for spending time for collecting the data.

[2019-09-21 00:26] WasabiFan commented on #4414
Thanks! That sounds good.

Note that I also included a RealSense debug log in my original post which includes custom markers when duplicate frames were recieved. I don't know whether that would be helpful to figure out more details or not.

[2019-09-21 02:47] lalujesus commented on #4862
Thank you for the answer .  I will try

[2019-09-21 02:47] #4862 closed

[2019-09-21 06:50] sodom89 opened #4901 "Error trying to record .bag file with realsense viewer"
![Bildschirmfoto von 2019-09-21 08-26-14](https://user-images.githubusercontent.com/16924394/65369314-a0350d00-dc4b-11e9-81a7-7ef48e609928.png)
| | |
|---|---|
|**librealsense**|2.28.0 RELEASE|
|**OS**|Linux|
|**Name**|Intel RealSense D435|
|**Serial Number**|831612070780|
|**Firmware Version**|05.11.11.100|
|**Advanced Mode**|YES|
|**Camera Locked**|YES|
|**Usb Type Descriptor**|3.2|
|**Product L

[2019-09-21 08:41] neilyoung opened #4902 "No video no idea"
---------------------------------------------------------------------------

| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | {D436 } |
| Firmware Version                   | there is no "Info" |
| Operating System & Versi

[2019-09-21 11:43] wbing-xu opened #4903 "librealsense Android 2.23.0: occasionally received signal SIGSEGV, segmentation fault."
----------------------------------------------------------------------------------------------------

| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D435  |
| Firmware Version                   | newest |
| Operating Sys

[2019-09-21 15:51] MartyG-RealSense commented on #4899
Another RealSense user on the Intel Support forum recently also had problems with Pi 4 and Raspian Buster when activating the IMU but otherwise had no problems with the camera's other modes.  They also experienced the 'no data to return (-21)' error.

https://forums.intel.com/s/question/0D50P00004RoUHqSAN/d435i-motion-module-force-pause-when-turning-on-imu?language=en_US

I suggested trying instal

[2019-09-21 16:20] MartyG-RealSense commented on #4896
Point clouds are calculated on the computer.  It is rectification of the captured camera data that takes place in the camera.

[2019-09-21 16:35] MartyG-RealSense commented on #4901
Could you try setting a different path to save the file to please to make sure that the path you are using does not have permissions that prevent the writing of a file to it?  Thanks!

https://github.com/IntelRealSense/librealsense/issues/3680

[2019-09-21 19:30] tylandercasper opened #4904 "Is there a recommended hub for commercial use?"
We are building a tracking system that uses 2 of your cameras which is intended for consumer use.
We're making a pretty case for it and would like to put a hub inside so that the user does not have to run 2 usb cables.
Unfortunately, almost all of the hubs we have tried have proven unreliable and caused a great deal of issues.

If cost is not an issue, but knowing it will still work in 2 years is:

[2019-09-21 20:22] MartyG-RealSense commented on #4904
In Intel's white paper document about using multiple RealSense cameras, they tested with an AmazonBasics powered hub and provided the product link below in the paper.

https://www.amazon.com/dp/B00DQFGH80/

The full paper is available here if you have not seen it:

https://www.intel.co.uk/content/www/uk/en/support/articles/000028140/emerging-technologies/intel-realsense-technology.html

I have see

[2019-09-21 22:26] neilyoung commented on #4902
Seems my box was a bit messed up.

[code]
before did the job. You should mention that in your how-to.

[2019-09-21 22:30] rofreli commented on #4899
I tried this step and I had the same result. After run this script, rs-enumerate-devices showed for me

Stream Profiles supported by Motion Module
 Supported modes:
    stream       resolution      fps       format
    Gyro	 N/A		@ 200Hz	   MOTION_XYZ32F
    Gyro	 N/A		@ 400Hz	   MOTION_XYZ32F
    Accel	 N/A		@ 63Hz	   MOTION_XYZ32F
    Accel	 N/A		@ 250Hz	   MOTION_XYZ32F

But when I execute Moti

[2019-09-21 22:42] CaleMcCollough commented on #2045
This seems to me to be a power issue. We need to try a USB 3 cable advertised for fast charging your phone. I thought my unit was defective because I had 3 different cables, one the one that came with it, and plugging it into my desktop's front USB 3 port would cause my USB 3 card to go out. The Device Status said it malfunctioned and I would have to reset the computer. I plugged it into a USB 3 h

[2019-09-21 22:56] MartyG-RealSense commented on #2045
@CaleMcCollough   I would suggest avoiding low-cost fast charging cables, as they will likely not be suitable for carrying the large amounts of data bandwidth that RealSense cameras transmit.

[2019-09-22 06:04] riven314 opened #4905 "How to Enable GPU Computation in Python Wrapper"
----------------------------------------------------------------------------------------------------

| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D435i |
| Firmware Version                   | 05.11.06.250 |
| Operati

[2019-09-22 06:48] MartyG-RealSense commented on #4905
RealSense SDK 2.0 supports CUDA for graphics processing enhancement.  If your GPU supports CUDA, you can use CMake to build Librealsense with CUDA enabled by using the build customization flag **BUILD_WITH_CUDA** which is set to False by default.

https://github.com/IntelRealSense/librealsense/wiki/Build-Configuration#build-customization-flags

![image](https://user-images.githubusercontent.com/41

[2019-09-22 07:21] MartyG-RealSense commented on #4899
Have you calibrated the D435i's IMU component please?  The D435i IMU, unlike the other sensing components, is not calibrated in the factory and has to be calibrated by the user after purchase.

https://www.intel.com/content/www/us/en/support/articles/000032303/emerging-technologies/intel-realsense-technology.html

[2019-09-22 09:17] PascalYIN opened #4908 "No +realsense folder created when compiling Matlab wrappers"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | { D400 } |
| Firmware Version                   | 05.11.11.100 |
| Operating System & Version |   {Win (10)}  |
| Platform                                 | PC |
| SDK Versi

[2019-09-22 10:20] SteinHDanCognite commented on #3732
I got it working with the latest SDK built from source and this code:

[code]

The device never shows in context.queryDevices(), but luckily it works anyways The output looks like this:

[code]

[2019-09-22 12:17] lramati commented on #4908
No. It's simply that the documentation is a bit ambiguous and nobody caught it before now.
You'll notice that in the matlab folder we provide `librealsense_mex.vcxproj`, which was set up to automatically copy everything necessary into a folder called `+realsense`. This project is not up to date and isn't the recommended build method anymore, however, the project generated by CMake doesn't do this

[2019-09-22 12:29] lramati commented on #4895
It seems like python is picking up an old build of pyrealsense2 which was compiled with an older version of librealsense.
You should find where this module is and manually remove it, along with any old versions of librealsense and then recompile when they can no longer interfere. running `sudo make uninstall` to remove the system-wide librealsense install and then trying to import pyrealsense shou

[2019-09-22 13:03] #4905 closed

[2019-09-22 14:36] rofreli commented on #4899
Yes, I did the calibration in Windows, but when I do the same process in raspi I got the error

Start interactive mode:
FOUND GYRO with fps=400
FOUND ACCEL with fps=250
-------------------------
*** Press ESC to Quit ***
-------------------------

Align to direction:  [ 0. -1.  0.]   Upright facing out
Erro no barramento

[2019-09-22 16:27] sls3d commented on #4435
I already have a SR300, using it to 3d scanning. Do i understand it correctly, that there are no real improvements between SR300 and SR305, except price and hull design?
No improvements to performance or accuracy for 3d scanning?

Thank you

[2019-09-22 17:45] jabrena commented on #4648
Hi @vladHoloArch, @radfordi,

any progress in the POC to connect from Android with T265?

Many thanks in advance

Juan Antonio

[2019-09-22 18:22] MartyG-RealSense commented on #4435
It is the same SR300 specification camera inside the new casing.  Aside from the new casing for easier mounting of the camera, the SR305 is aimed at pitching the SR300 technology as an affordable entry-level introduction to RealSense technology.

[2019-09-22 19:28] MartyG-RealSense commented on #4899
'Erro no barramento' translates to "bus error".

I was not able to locate a solution to this particular problem - one of the Intel team members on this forum may be able to offer helpful advice.  If you have successfully completed the IMU calibration in Windows though then I would think that it would not be necessary to repeat it in Raspbian.

[2019-09-22 19:36] rofreli commented on #4899
I will try to start the installation from a new image. If I have better luck, I write here.
Thank you for your help!

[2019-09-22 20:28] cale-mccollough opened #4911 "Add instructions to resolve Windows driver from #2612 and under-current design flaw from #2045."
# Software and Hardware Problem

## Problem

### Driver

If you install the Realsense SDK, then you plug in the Realsense, Windows will still use an old driver from 2006 and you may need to upgrade the driver. #2612 instructs users to reinstall Windows if they get a "USB Cam Overflow" error, and this is not needed and does not fix the problem, resulting in customers unnecessarily RMA or returning

[2019-09-22 21:21] mikeroyal commented on #4778
Hi @kyrofa,

I wondering if you could help me out here I was wanting to make an update version of the librealsense SDK snap but I noticed Canonical made one back in May 2017. Do you know who made the original one? Or someone who could update the snap to the upcoming [2.28](https://github.com/IntelRealSense/librealsense/releases/tag/v2.28.0) build.

[2019-09-22 22:31] CaleMcCollough commented on #2612
I forgot I have an Intel Laptop and I just installed my D435i on my Intel Laptop and it works just fine in OBS without the drivers so that's not the cause of the USB Cam Overflow error. I've concluded that it's an undercurrent Issue because the product won't work when connecting to a hub with 2 USB 3 connections for power and data, but it will when plugged into an external power supply. The only g

[2019-09-22 22:49] kyrofa commented on #4778
@mikeroyal thanks for the ping. I've passed it onto the folks responsible and asked them to participate in this discussion.

[2019-09-22 23:03] CaleMcCollough commented on #2045
I have verified that it's, not the USB cable, it's the USB chipset. I have an Intel i5 laptop (Asus T300LA) and my cheap long USB cable works fine on the laptop but not on my  Gigabyte ga-970a-ud3p Rev 1 motherboard. I've tried to use a USB 3 hub with 2 one USB3 cable for data/power and another USB 2 for power and it still caused my internal USB 3 chipset to malfunction. Using another USB 3 hub wi

[2019-09-23 01:53] grantsadie88 opened #4912 "Error trying to patch uvcvideo part of installation tutorial"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | { R200 } |
| Operating System & Version |   {Linux (Ubuntu 16)  |
| Kernel Version (Linux Only)    |  (4.15.0-64-generic)                                         |
| SDK Ver

[2019-09-23 02:21] RealSenseCustomerSupport commented on #4281
----------------------------------------------

@pabloalcain Thanks for the feedback! Looking forward to your update. Thanks!

[2019-09-23 02:22] RealSenseCustomerSupport commented on #4657
----------------------------------------------

@alifeinbinary Could you please specify the details of the errors? Thanks!

[2019-09-23 03:03] #4468 closed

[2019-09-23 03:24] KC176 opened #4913 "Depth Quality Tool couldn't "Start_record.""
| | |
|---|---|
|**librealsense**|2.28.1 RELEASE|
|**OS**|Windows|

I meet a problem about saving images continuously. I want to save 100 images continuously using D435i and D415. When I click "Start_record", Depth Quality Tool will be interrupted. How to resolve it?

Firmware :　05.11.11.100
Depth Quality Tool : v2.28.1

![image](https://user-images.githubusercontent.com/55677604/65400188-69016000

[2019-09-23 03:39] voqk commented on #1613
I had this problem with the csharp/cs-tutorial-1-depth project. I copied realsense2.dll and realsense2.pdb from the installed SDK folder: `C:\Program` Files (x86)\Intel RealSense SDK 2.0\bin\x64` into the project folder: `librealsense\build\wrappers\csharp\cs-tutorial-1-depth`. Then in Visual Studio I right clicked the cs-tutorial-1-depth project, Add -> Existing Item, and finally set the "Copy to

[2019-09-23 06:06] MartyG-RealSense commented on #2045
The 400 Series cameras are most likely to work on Intel or ARM processors.  There have been a couple of reports of them working with AMD Threadripper, but it is difficult from these limited reports to tell how well the cameras work with AMD.

[2019-09-23 07:10] ev-mp commented on #4912
@grantsadie88 hello,
The script that you mention was deprecated and it is not part of the [legacy documentation](https://github.com/IntelRealSense/librealsense/blob/legacy/doc/installation.md).

The legacy branch maintenance handles mainly code compatibility issues.To get support for the the most recent Ubuntu kernels you need to reuse Librealsense2 patches as those are backward-compatible with al

[2019-09-23 07:44] RealSenseCustomerSupport commented on #4158
----------------------------------------------

@kroq-gar7 @vhanded Sorry for late response! Is the issue resolved now? Looking forward to your update. Thanks!

[2019-09-23 08:27] MingheCao opened #4915 "False pose when testing rs-motion with D435i"
* Before opening a new issue, we wanted to provide you with some useful suggestions (Click "Preview" above for a better view):

    * Consider checking out SDK [examples](https://github.com/IntelRealSense/librealsense/tree/master/examples#sample-code-for-intel-realsense-cameras).
    * Have you looked in our [documentations](https://github.com/IntelRealSense/librealsense/tree/master/doc#useful-lin

[2019-09-23 08:29] grantsadie88 commented on #4912
I understand, thanks for your help, I'm quite new to this. I've done as you've said and followed the rest of the installation procedures, however I'm still receiving this error when i try open realsense-viewer with my R200 attached.

[code]

What might this mean?

[2019-09-23 08:32] ev-mp commented on #4913
@KC176 , thank you for the report.
I can confirm it is a bug with the SDK, will be handled in next releases.

[2019-09-23 08:45] ev-mp commented on #4915
@MingheCao hello,
The failure to track `left-right` motion, as observed in the second video, is a clear indication of no valid gyro inputs.
Can you check whether the Gyro stream is available when selected in viewer, and whether the generated data reflects actual motion ?
Rotating the device left-right (yaw) 90 deg. at steady speed in one second should generate ~1.5 rad/sec angular velocity about Y

[2019-09-23 08:58] ev-mp commented on #4912
@grantsadie88 , the `realsense-viewer` is part of Librealsense2 and is not compatible with R200.
The viewer tool for Librealsense**1** is named `cpp-config-ui`. In practice all Librealsense1 tools/examples are named `c-..` or `cpp-...`.

I repost the build instruction for legacy branch for convenience - https://github.com/IntelRealSense/librealsense/blob/legacy/doc/installation.md

[2019-09-23 09:06] #4902 closed

[2019-09-23 09:12] neilyoung opened #4916 "RealSense Viewer does not detect camera on Linux anymore - as it did before"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D435 |
| Firmware Version                   | no info |
| Operating System & Version |   Ubuntu 16  |
| Kernel Version (Linux Only)    |  4.15.0-64-generic

[2019-09-23 09:22] grantsadie88 commented on #4912
Ah got it. Thank you so much for your help.

[2019-09-23 09:22] #4912 closed

[2019-09-23 09:34] MingheCao commented on #4915
@ev-mp Thank you for your quick reply. I checked the Gyro stream and I think it can provide a reasonable output as I do the left-right motion.

I also bundled the camera with a 3dm-gx5-25 IMU and processed the data using ROS `imu_complementry_filter` package. The 3dm imu gives a satisfactory result as follows, where the x-axis is time and the y-axis is rotation angle.

![mjclaacgnchohiac](https://

[2019-09-23 10:24] ev-mp commented on #4915
@MingheCao hello,
Can you confirm that when running `realsense-viewer` you do observe the gyro generating 'reasonable' data ? As it seem not consistent with the video clips provided.

Also, when running with `viewer` please check whether the timestamps of Gyro and Accelerometer are in the same domain and roughly, as this could be a timestamp-related issue that affects ROS IMU topic.
To get `HW/Glo

[2019-09-23 10:34] ev-mp commented on #4916
@neilyoung hello,
What is the SDK version that you use ?
Can you provide the kernel/application logs when connecting the camera to PC and invoking `rs-enumerate-devices` ? (`dmesg -wT`) ?

[2019-09-23 10:40] #4843 closed

[2019-09-23 10:48] ev-mp commented on #4893
@nirshemesh , please elaborate the issue.

[2019-09-23 10:49] neilyoung commented on #4916
@ev-mp Thanks for the follow up. I'm currently doing again a time-intensive thing  on my Windows partition, but I'm able to provide the logs later. In the meantime it might be of interest, that I'm constantly getting this error on installation (tried several times):

[code]

and the mentioned make.log reports things like this:

[code]

Also the final check for the kernel patch does not show the ex

[2019-09-23 11:06] ev-mp commented on #4916
@neilyoung thanks, we're are aware of the issue with DKMS with the recent releases on Ubuntu 4.15 branch - #4869, #4669. But those should not affect the presence of `dev/video*`.
If indeed, you observe intermittent reports of missing device in the `viewer` then monitoring the actual device connection with the kernel log for HW issues is the first priority task.
Before that I would also recommend t

[2019-09-23 11:09] neilyoung commented on #4916
@ev-mp Thanks. The cable is the original cable. I also tried another one already to no avail. Rest of info will follow in an hour or so. The Windows process is at 50% :/

[2019-09-23 11:19] nirshemesh commented on #4893
Hi Intel,
My goal is to have **accurate** point cloud from up to meter of a small object (3*3*3[cm])
While working with the most updated FW and SDK (for D415). I found the following disturbing issue although the camera is calibrated according to the user guide:
1) Using point cloud example in Matlab - the point cloud is very noisy and not accurate experiencing "breathing" effect over time.
2) The

[2019-09-23 11:24] ravijo opened #4917 "modprobe: ERROR: could not insert 'uvcvideo': Invalid argument on Ubuntu 14.04.6 LTS"
| Required Info                |                      |
|------------------------------|--------------------- |
| Camera Model                 | D435                 |
| Firmware Version             |                      |
| Operating System & Version   |  Ubuntu 14.04.6 LTS  |
| Kernel Version (Linux Only)  |  4.4.0-148-generic   |
| Platform                     | PC                   |
| SDK Ve

[2019-09-23 11:34] ev-mp commented on #4917
@ravijo hello,
After updating the system you also need to specify the kernel to boot with - it is possible that it is predefined with the system you run to select 4.4.0-148. Using a 3rd-party tool, such as `grub-customizer` can be useful to manually pre-select the boot kernel version.

But before doing that - we recommend to use DKMS package whenever applicable as this a robust industrial solution

[2019-09-23 11:50] wulalala1999 commented on #2839
@SFM2020 ,Excuse me,have you fix these problem?

[2019-09-23 12:00] rofreli commented on #4899
I start from a new Image, did the steps:

https://github.com/IntelRealSense/librealsense/blob/master/doc/libuvc_installation.md

With change in CMake [#4565](https://github.com/IntelRealSense/librealsense/issues/4565#issuecomment-518359584)

set(CMAKE_CXX_FLAGS "${CMAKE_CXX_FLAGS} -latomic")

And execute with root privileges(sudo su) because I got an error "Need to be root" when the script run sud

[2019-09-23 12:03] ravijo commented on #4917
Hi @ev-mp

Thanks for the quick response.

I understand. Well, the kernel before was 3.13.0-165-generic. As per the pre-requirements for librealsense, I upgraded the kernel to 4.4.0-148 by using command line. *(This time I didn’t use `grub-customizer`).* However, I agree with you that I didn’t manually select the kernel during boot process. I believe it automatically executes the latest version. T

[2019-09-23 12:33] ev-mp commented on #4917
@ravijo hello, using proxy does not require credential, just getting the corporate proxy server url:port should suffice. There are additional method to handle firewall-related issues - see the [troubleshooting link](https://unix.stackexchange.com/questions/361213/unable-to-add-gpg-key-with-apt-key-behind-a-proxy) mentioned in the installation guide.

I will provide a direct download link for conve

[2019-09-23 13:38] ravijo commented on #4917
Hi @ev-mp

The provided `.deb` file worked like a charm. I will check the firewall stuff next time. I am closing this issue for now. Thanks!

[2019-09-23 13:50] ravijo commented on #4917
Hi @ev-mp

The installation worked. Please see below-
[code]

However, `realsense-viewer` is not working as expected. Please see below-
[code]

If you notice carefully, you can see the following error `Cannot open '/dev/video0 Last Error: Permission denied`

Do I need to manually set permissions to the device? Can you please help?

[2019-09-23 14:09] ev-mp commented on #4917
@ravijo , you need to install device permissions - `udev-rules` - follow the [installation guide](https://github.com/IntelRealSense/librealsense/blob/master/doc/installation.md) here

./scripts/setup_udev_rules.sh

Then reconnect the camera to make sure the're applied

[2019-09-23 14:12] TyTruGolf commented on #4573
Thanks, you can go ahead and close the ticket.

[2019-09-23 14:22] rofreli commented on #4880
I have almost same configuration, just the raspberry version is different I use pi 4, but with me, Motion data (accel and gyro) doesn't work [#4899 ](https://github.com/IntelRealSense/librealsense/issues/4899#issuecomment-534068446). When I run realsense-viewer I got "Error type: No data to return (-21)" and when I try to execute Motion Module realsense-viewer close with BUS Error. Did you execute

[2019-09-23 15:00] EnrikDS commented on #4880
Both the accelerometer and gyro do not work for me in realsense-viewer. They also do not work with the applications rs-pose or rs-motion.
If I enable the motion module in realsense-viewer, the application switches-off and the message displayed in the terminal is WARNING [1736950848] (messenger-libsub.cpp:94) bulk transfer returned error, endpoint:134, error: Resource temporarily unavailable, numbe

[2019-09-23 15:04] rofreli commented on #4880
I had the same problem with USB3 and pi 4.
I tried some workarounds but nothing works.

Thx

[2019-09-23 15:09] ravijo commented on #4917
@ev-mp It worked. Thank you very much.

[2019-09-23 15:09] #4917 closed

[2019-09-23 15:12] neilyoung commented on #4916
@ev-mp OK, here we have it. Right now it is again not working.
The output of of the commands you mentioned (plugging and unplugging the device):

`dmesg -wT`

[code]

`rs-enumerate-devices`

[code]

[2019-09-23 15:20] ev-mp commented on #4916
@neilyoung , did you manually disconnect/reset the camera at this point ?

If not - it would help to connect the camera via an external self-powered USB3 hub and see whether the disconnect events still occur.

[2019-09-23 15:21] neilyoung commented on #4916
@ev-mp Good point. Let me test that.

[2019-09-23 15:24] neilyoung commented on #4916
@ev-mp No, doesn't work either

Yes

[2019-09-23 15:30] ev-mp commented on #4916
@neilyoung , I'm not sure I understand - this mean that the disconnect was made by you, not internal event, correct ?
It could be that for some reason the UVC driver failed to load automatically - try to run it manually with `sudo modprobe uvcvideo`, and then run `rs-enumerate-devices` while monitoring the kernel log

[2019-09-23 15:35] TyTruGolf commented on #4573
Oh, yeah, we wanted to know if there's any kind of beta program for testing this out when you're in development. We'd like to be able to track a golf ball going 200mph and that would be a good test case for your engineers and potentially good showcase for the capabilities.

[2019-09-23 15:36] neilyoung commented on #4916
@ev-mp Right. I just plugged the device and unplugged it again. But of course while running the viewer it was plugged :)

Did the `sudo modprobe uvcvideo`. After that the result of `rs-enumerate-devices` was the same. "No device found".

I then opened a new console and run `dmesg -wT` while `rs-enumerate-devices` in another console (if that was it, what you wanted me to do)

There was no visible o

[2019-09-23 15:39] neilyoung commented on #4916
Here is the output of `dmesg` while plugging the camera. Does it help?

[code]

[2019-09-23 16:25] agrunnet commented on #4573
We are actually working on a high speed 400fps mode that we hope to launch soon. It will have resolution 848x100 and will work with the D435 and D435i.  I believe this should work for you.

[2019-09-23 17:20] neilyoung commented on #4916
I tried to work around with a fresh live install of Ubuntu 18.04, but things are getting worse.
While installing `librealsense2-util` I'm getting an error, that `librealsense2-gl` is required, but should not be installed (?)

Giving up. Camera goes back

[2019-09-23 17:32] TyTruGolf commented on #4573
Hey, that will be pretty cool!

Not to beat a dead horse here, but will the 848x100 resolution have the same issues that 424x240 has in that it won't have near the same depth quality as 848x480 downsampled?

[2019-09-23 17:40] agrunnet commented on #4573
They horse is alive. The quality will be best possible for D435. It is same as 848x480.

[2019-09-23 22:02] #4604 closed

[2019-09-24 00:35] RealSenseCustomerSupport commented on #4623
----------------------------------------------

Hi @shiva2410,

Do you need any further clarifications regarding this topic?

[2019-09-24 00:49] RealSenseCustomerSupport commented on #4670
----------------------------------------------

Hi @ LossOfHumanIdentity,

Has the link provided by MartyG-RealSense helped to find an answer to your question?

[2019-09-24 02:08] MingheCao commented on #4915
I am using v2.25.0 in accordance with the ROS wrapper. But I think this problem has been solved in the lastest release v2.28.1. I only encounter this problem once out of many attempts in v2.28.1.

[2019-09-24 02:24] RealSenseCustomerSupport commented on #4540
----------------------------------------------

Hi @unagiHuman,

The issue is currently under investigation.Updates will be posted as soon as investigation findings become available.

[2019-09-24 02:53] PascalYIN commented on #4908
Thanks for your response.

[2019-09-24 02:53] #4908 closed

[2019-09-24 02:54] RealSenseCustomerSupport commented on #4742
----------------------------------------------

@calipos Could you please update so that we can look into it further? Thanks!

[2019-09-24 02:58] RealSenseCustomerSupport commented on #4732
----------------------------------------------

@medlraffy Could you please update if SDK v2.28 fix the issue? Thanks!

[2019-09-24 03:00] RealSenseCustomerSupport commented on #4715
----------------------------------------------

@dk67604 Is the issue resolved? Looking forward to your update. Thanks!

[2019-09-24 03:00] RealSenseCustomerSupport commented on #4701
----------------------------------------------

@medlraffy Could you please update if SDK v2.28 fix your issue? Thanks!

[2019-09-24 03:01] RealSenseCustomerSupport commented on #4667
----------------------------------------------

@harshitsankhla  Could you please update? Thanks!

[2019-09-24 03:01] RealSenseCustomerSupport commented on #4460
----------------------------------------------

@SgtJaap Could you please update? Thanks!

[2019-09-24 06:04] frank26080115 commented on #4899
Hey I've gotten the same problems, D435i, Raspbian Buster, master branch of librealsense. Many messages saying that the bulk_transfer is failing, I tried many things, including recompiling the code so that it does a call to libusb_claim_interface, but that fails too, I even tried to libusb_detach_kernel_driver before libusb_claim_interface and even that is failing.

Patching the Rasbian Buster ker

[2019-09-24 06:12] BatFresh opened #4918 "Intel RealSense Viewer does not recognize USB 3.0 on NVIDIA XT2"
* Before opening a new issue, we wanted to provide you with some useful suggestions (Click "Preview" above for a better view):

    * Consider checking out SDK [examples](https://github.com/IntelRealSense/librealsense/tree/master/examples#sample-code-for-intel-realsense-cameras).
    * Have you looked in our [documentations](https://github.com/IntelRealSense/librealsense/tree/master/doc#useful-lin

[2019-09-24 06:18] dorodnic commented on #4893
https://dev.intelrealsense.com/docs/tuning-depth-cameras-for-best-performance

[2019-09-24 06:22] dorodnic commented on #4918
2.13 was released over a year ago, in June. D435i first appears in 2.16.1 release, but I strongly urge you to use the latest. Ideally, you should follow the steps in [distribution_linux.md](https://github.com/IntelRealSense/librealsense/blob/development/doc/distribution_linux.md) to get latest precompiled version

[2019-09-24 07:06] frank26080115 opened #4919 "Raspbian Buster and RTAB-Map, segfault on frame unpack, I have a fix"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D415 |
| Firmware Version                   | Signed_Image_UVC_5_11_10_0 |
| Operating System & Version |   Raspbian Buster  |
| Kernel Version (Linux Only)    |  4.19

[2019-09-24 08:30] RealSenseCustomerSupport commented on #4762
----------------------------------------------

Hi @realsense01,

To clarify:
1. For your solution, you are doing "pipe.stop()" if you stop recording in order to resolve this issue, right?
2. What's the librealsense version you currently use?

[2019-09-24 10:16] Gilaadb commented on #4898
Hi @davidsamson, I've found your issue report while in the process of opening a similar issue for a different camera model. If you are interested in a workaround, please try to add a sleep of 100 ms before setting gain. Of course, if it helps, you can optimize this solution by setting the gain optimistically and only if failing then to wait a short while and retry.
I did not respond about the "get

[2019-09-24 10:18] ymatsumotomatsu opened #4920 "How to improve depth accuracy with multiple RealSense ?"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       |  D435i  |
| Firmware Version                   | 05.11.06.250 |
| Operating System & Version | Win 10|
| Platform                                 | PC  |
| SDK Version

[2019-09-24 10:24] KC176 commented on #4913
@ev-mp ,
Ok, thank you very much!

[2019-09-24 10:43] MartyG-RealSense commented on #4920
You may find the tutorial in the link below useful for combining two or more cameras using ROS.

https://www.intelrealsense.com/how-to-multiple-camera-setup-with-ros/

[2019-09-24 11:36] wulalala1999 commented on #2839
@SFM2020 Hey SFM2020, have you use pcl&openni to grabber .pcd form D435 ?

[2019-09-24 11:40] ShettyHarapanahalli commented on #4810
What is the cost of this device?

[2019-09-24 11:50] MartyG-RealSense commented on #4810
It is normally $1299 USD but is on sale for $1099 at the time of writing this.

https://shop-us.framos.com/FRAMOS-Industrial-Depth-Camera-D435e-Starter-Kit-p147712085

[2019-09-24 11:58] wulalala1999 opened #4921 "I can't use pcl::io::OpenNI2Grabber() to use my d435 with the error of "No devices connected.""
|---------------------------------|------------------------------------------- |
| Camera Model                       | D400  |
| Firmware Version                     | 05.11.11.100 |
| Operating System & Version    |   Ubuntu 16  |
| Kernel Version (Linux Only)     |  4.15.0-58-generic |
| Platform                                   | PC |
| SDK Version                            |  2.28.1   |
| L

[2019-09-24 13:11] SirDifferential commented on #4754
This is likely the same as #4919. Applying the bandaid:

Would seem to avoid the crash at least on my x86 Debian buster and the raspberry version has yet to crash.

[2019-09-24 13:12] Joey-Huang713 commented on #1613
hi @voqk you can try to copy realsense2.dll into the folder:\librealsense-master\build\Debug.
it just works for me , good luck.

[2019-09-24 13:17] JonaPR opened #4923 "Changing laser power in SR305"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | { SR305 } |
| Firmware Version                   | 3.27.3.0 |
| Operating System & Version |   {Win (8.1/10)  |                                |
| Platform

[2019-09-24 13:24] liu978079474 opened #4924 "Installation fails when compiling RealSense environment on NVIDIA XT2"
* Before opening a new issue, we wanted to provide you with some useful suggestions (Click "Preview" above for a better view):

    * Consider checking out SDK [examples](https://github.com/IntelRealSense/librealsense/tree/master/examples#sample-code-for-intel-realsense-cameras).
    * Have you looked in our [documentations](https://github.com/IntelRealSense/librealsense/tree/master/doc#useful-lin

[2019-09-24 15:10] ev-mp commented on #4924
Hi @liu978079474, you can install Librealsense2 on JetsonTX2 using Debian distribution following the [installation guide](https://github.com/IntelRealSense/librealsense/blob/master/doc/distribution_linux.md#installing-the-packages).

The precompiled packages are optimized for JetsonTX2 and generated with FORCE_LIBUVC and BUILD_WITH_CUDA flags turned on.
Note that `librealsense2-dkms` module will n

[2019-09-24 15:44] RealSenseCustomerSupport commented on #4756
----------------------------------------------

Closing this ticket unless there is any further question. Thank you.

[2019-09-24 17:59] JBBee opened #4926 "T265 Pose Frame Timestamp Domain"
----------------------------------------------------------------------------------------------------

| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | T265 |
| Firmware Version                   | 0.1.0.279 |
| Operating S

[2019-09-24 18:39] RealSenseCustomerSupport commented on #4761
----------------------------------------------

Hi @JingqiuZuo,

Please try to convert this bag file to CSV file(s) in your environment,using the rs-convert tool and let us know the results:
http://realsense-hw-public.s3.amazonaws.com/rs-tests/TestData/stairs.bag

Thank you!

[2019-09-24 20:51] TyTruGolf commented on #4573
Oh wow, that's awesome!
I'm not sure 100px vertical resolution is enough to pick up a golf ball, is there any chance we could get an 848x200 @200fps? That would really solve all of my problems!

Also, I really appreciate all of the time you guys are putting into this. It's an amazing device!

[2019-09-24 21:27] RealSenseCustomerSupport commented on #4550
----------------------------------------------

Hi,
There is no preset file.
Please use

1. AlphaX=0.7 and deltaX=60
-> Teporal Filter
2. AlphaT=0.2 and deltaT=20
-> Spatial Filter

[2019-09-24 21:29] RealSenseCustomerSupport commented on #4708
----------------------------------------------

Hi @belugum,

Link to the Debian packages for RealSense D400 Series Calibration Tools along with
installation instructions can be found here:
https://downloadcenter.intel.com/download/27415/Intel-RealSense-D400-Series-Dynamic-Calibration-Software-Tools

Please let us know if this has solved the issue.

Thank you!

[2019-09-24 21:55] josephdanielchang commented on #4740
Where exactly is that happening? Is it here:

`
TEST_CASE("Post-Processing Filters metadata validation", "[software-device][post-processing-filters]")
{
	rs2::context ctx;

	if (make_context(SECTION_FROM_TEST_NAME, &ctx))
	{
		ppf_test_config test_cfg;
		for (auto& ppf_test : ppf_test_cases)
		{
			CAPTURE(ppf_test.first);
			CAPTURE(ppf_test.second);

			WARN("PPF test " << ppf_test.first << "["

[2019-09-24 22:16] kylevedder opened #4928 "Auto-exposure fails to readjust after reaching min exposure unless sensor is covered"
----------------------------------------------------------------------------------------------------

| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D435 |
| Firmware Version                   | 05.11.11.100 |
| Operatin

[2019-09-24 22:49] MartyG-RealSense commented on #4928
I wonder if you may get better results if you use a feature called **fractional exposure**.

https://github.com/IntelRealSense/librealsense/issues/2875#issuecomment-446788177

[2019-09-24 23:14] kylevedder commented on #4928
Thanks, do you have more documentation on how to enable that feature?

No worries on timing, it's dark here anyway and the sun won't be up for another 12 hours.

[2019-09-25 00:26] RealSenseCustomerSupport commented on #4644
----------------------------------------------

Hi @nevynwong, please let us know if further assistance is needed on this topic. Thank you.

[2019-09-25 00:59] RealSenseCustomerSupport commented on #4734
----------------------------------------------

Hi @dynamicmirage,
Does the RealSense example compile/work in Visual Studio after ensuring c++ compiler components and tools are installed?
Thank you.

[2019-09-25 01:43] kjacks21 commented on #4306
@RealSenseCustomerSupport to avoid opening another issue, and since @nevynwong said they wanted the whole video sequence and the code below will probably help them, I'll write to here. When I align the color and depth frames and try to access both, I always get the following error as a result of running the code below:

**Error**
[code]

**Code**
[code]

The example [here](https://github.com/Intel

[2019-09-25 01:45] voqk commented on #1613
hi @Joey-Huang713, sorry for the confusion. I did have this problem, but solved it with the steps in my comment. Just wanted to share the love. (I'll edit for clarity)

This is a great little sensor and the .NET API wrapper is a big plus!

[2019-09-25 01:57] yokoshou opened #4929 "Can't build with PCL example."
Hi,my problem is occured when I tried to build with PCL example.

I tried same way of this
https://github.com/IntelRealSense/librealsense/tree/master/wrappers/pcl
(when I tried,Cmake said"need openCV path".So I choose correct path.)

Solution file generated with no error.
After solution generated,I opened sln with visual studio.
Error occured when I build solution.
Error is "LNK ERROR1104,can't op

[2019-09-25 02:48] RealSenseCustomerSupport commented on #3990
----------------------------------------------

Hi @riteshkhrn,

1. Is dynamic calibration v2.6.8.0 used?
2. To run "Intel.Realsense.DynamicCalibrator.exe" with/without "-cli" option both is failed? Did you also try to increase the test time with the option "-t"?
3. Please give the logs in "~\DyCalibResult"
If dynamic calibration is still failed, probably, the twist/bending of your camera is very

[2019-09-25 03:02] RealSenseCustomerSupport commented on #4579
----------------------------------------------

HI @candrescn,

Did you try the update from @lramati and see how it works?

[2019-09-25 03:11] RealSenseCustomerSupport commented on #3990
----------------------------------------------

You can also refer to below with troubleshooting.
https://dev.intelrealsense.com/docs/intel-realsensetm-d400-series-calibration-tools-user-guide

[2019-09-25 03:14] frank26080115 commented on #4899
Hey good news, I somehow got a built that works. I actually don't know what I did to fix it though... The last thing I did was try and fix a segfault that was unrelated.

I got some things to contribute, such as a patch file, and my CMakeCache.txt , if you need more, just ask, but the entire build directory is a whopping 1.7GB (includes all object files and such)

[patch_librealsense_ff2a291.txt](

[2019-09-25 03:37] qoo4202w opened #4930 "How to get the depth value from color frame?"
I used some image processing method to get the position in the color frame by D435i camera. However, how could I get the depth value from that?
I have already checked the example rs-align and rs-align-advanced in IntelRealSense SDK, but I have no idea to find it.

[2019-09-25 04:06] #3916 closed

[2019-09-25 04:09] TyTruGolf commented on #4573
Actually, to the original point of this post, if only horizontal resolution is needed for depth quality, could we get an 848x240 resolution? That'll give me the same quality I'm getting now at half the bandwidth!

(and yes, 848x240@180fps on existing hardware would be AMAZING)

[2019-09-25 04:12] mipsan opened #4931 "D435 at Ubuntu 18.04, rs2_pipeline_start_with_config error"
* Before opening a new issue, we wanted to provide you with some useful suggestions (Click "Preview" above for a better view):

    * Consider checking out SDK [examples](https://github.com/IntelRealSense/librealsense/tree/master/examples#sample-code-for-intel-realsense-cameras).
    * Have you looked in our [documentations](https://github.com/IntelRealSense/librealsense/tree/master/doc#useful-lin

[2019-09-25 04:39] agrunnet commented on #4573
It is a good ask.
However in the meantime probably good to first check what we have. Try 90fps first. Set exposure low. See what issues you see. Then get the 400fps version to try.

[2019-09-25 05:35] ev-mp commented on #4931
@mipsan  hello,
The specific error appear when the application tries to configure stream with unsupported resolution/fps/format modes. When device is recognized as USB2 it only provides a subset of resolutions/fps modes sustainable with the reduced bandwidth and power budgets.
Run `rs-enumerate-devices -o` to list all the supported configurations, and then reconfigure the Librealsense code accordi

[2019-09-25 05:36] MartyG-RealSense commented on #4928
My reading of the information provided by agrunnet is that there are two approaches to using fractional exposure.

1.  Turn off auto-exposure and manually set the exposure to a lower value, which can go as low as '1'.

Or alternatively, 2.  Have auto-exposure enabled and set a Region of Interest (ROI). In the RealSense Viewer it can be done by starting the stream, clicking the 'Set ROI' button nex

[2019-09-25 05:44] RealSenseCustomerSupport commented on #4770
----------------------------------------------

Hi @Soa11,

Do you fix this build issue? The latest prebuilt libraries can be also found in the release page:
https://github.com/IntelRealSense/librealsense/releases/download/v2.28.1/Intel.RealSense.unitypackage
https://github.com/IntelRealSense/librealsense/releases/download/v2.28.1/Intel.RealSense.SDK-WIN10-2.28.1.1106.exe

[2019-09-25 05:49] ev-mp commented on #4930
@qoo4202w hello,
In case you are looking for a limited number of points then the `rs2_project_color_pixel_to_depth_pixel` API call should suffice #2948, #4241
In case you need to extract depth data for multiple features/regions in RGB frame then you you're correct to use `rs-align`.
- Align the depth frame to color, as elaborated in the demo.
- The resulted frameset will include the `aligned_depth

[2019-09-25 06:17] ymatsumotomatsu commented on #4920
@MartyG-RealSense
Thank you for advice! I tried this way to combining pointclouds before, but I want to know how to improve depth accuracy. Do you have any good idea(e.g. function, sensor fusion, etc)?

[2019-09-25 06:18] RealSenseCustomerSupport commented on #4782
----------------------------------------------

Hi @vangewj,

About "capture face 78points", this is supported by the legacy SDK. We don't provide this middleware in SDK2.0. You can consult with our 3rd party software vendors.
https://www.intelrealsense.com/software-for-intel-realsense/

If no further issue for this ticket, I will close it.

[2019-09-25 06:33] MartyG-RealSense commented on #4920
My recollection is that if you have two cameras or more in the scene and have the IR Projector enabled, the increased number of projected dots in the scene from the multiple camera projectors should in itself improve the ability to read depth information in the scene without having to do anything else.

Intel's camera tuning guide is also an excellent reference for improving the quality of images.

[2019-09-25 06:46] neilyoung commented on #4916
@ev-mp Thanks, I have returned the camera. Thanks for your efforts

[2019-09-25 07:33] ev-mp commented on #4916
@neilyoung , thanks for the cooperation.

[2019-09-25 07:33] #4916 closed

[2019-09-25 07:39] neilyoung commented on #4916
@ev-mp Thank you. This is for sure not the end of the story :)

[2019-09-25 09:13] shiva2410 commented on #4623
no

On Tue, Sep 24, 2019 at 6:05 AM RealSense Customer Support <
notifications@github.com> wrote:

[2019-09-25 10:59] pncanas333 opened #4932 "rs-rosbag-inspector not working"
----------------------------------------------------------------------------------------------------

| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Operating System & Version |   {Win (10) / Linux (Ubuntu 16) |

Hello!

I have trouble initializing the rs-r

[2019-09-25 11:08] AJMena opened #4933 "How can I record with multiple cameras simultaneously?"
* Before opening a new issue, we wanted to provide you with some useful suggestions (Click "Preview" above for a better view):

    * Consider checking out SDK [examples](https://github.com/IntelRealSense/librealsense/tree/master/examples#sample-code-for-intel-realsense-cameras).
    * Have you looked in our [documentations](https://github.com/IntelRealSense/librealsense/tree/master/doc#useful-lin

[2019-09-25 11:28] vladHoloArch commented on #4648
@jabrena
yep, check out my repo - [https://github.com/vladHoloArch/SlamDriver/blob/master/t265lib/src/main/java/com/example/t265lib/USBController.java](here)

[2019-09-25 12:26] rofreli commented on #4899
Did you made some changes in files like messenger-libusb.h and cpp, sensor.cpp ? I will try with this changes in my raspi and I tell you after.

[2019-09-25 12:55] kylevedder commented on #4928
None of those options lead to desirable behavior. I do want auto-exposure enabled, as I will be running in both low light and saturated light environments without prior knowledge of the transitions, and I do want the ROI to be the entire image. I am trying to use the IR image + its gain and auto-exposure from the RealSense to predict when the background IR will saturate other IR based sensors, as

[2019-09-25 13:21] MartyG-RealSense commented on #4928
There was a known issue earlier this year where the IR could freeze if the camera was directed at outdoor bright light such as the sun.  It was more likely to occur when USB 2.0 was being used.

https://github.com/IntelRealSense/librealsense/issues/4140

The most recent firmware release notes at the time of writing this (August 2019) say that a glitch referred to as "Auto-exposure (AE) for Color i

[2019-09-25 13:22] kjacks21 opened #4934 "Get aligned color and depth with python"
There are multiple issues on this but I haven't found one that resolves my issue. I originally posted this to #4306 but realized it was a thread about the matlab wrapper.

When I align the color and depth frames and try to access both, I always get the following error as a result of running the code below (assuming the function is properly called):

**Error**
[code]

**Code**
[code]

The example [

[2019-09-25 13:24] kylevedder commented on #4928
Are auto-exposure for color and auto-exposure for IR controlled by the same system? If so, I can see that being the root cause.

[2019-09-25 13:27] kylevedder commented on #4928
Regarding #4140, the IR stream isn't freezing; it's just not updating its auto-exposure or gain when placed in a lower light environment.

[2019-09-25 13:31] MartyG-RealSense commented on #4928
I was sure I had seen a case similar to yours where covering the camera up resets it after it stops updating.  I just managed to finally track the link down.

https://support.intelrealsense.com/hc/en-us/community/posts/360033445713-D435-Sunlight-saturation-problem

[2019-09-25 14:05] kylevedder commented on #4928
Thank you very much for tracking that link down. Sounds like that the new firmware version will fix this issue. Do you know when that version of the firmware will be released or, if it's already released, how to get it?

[2019-09-25 14:16] MartyG-RealSense commented on #4928
The firmware version is a point of minor confusion.  When an Intel support member said it had been fixed in a firmware (5.11.12.0), this was apparently an internal firmware at Intel and a final firmware release had not been made to the public at the time that the statement was made.

There has not been a firmware 5.11.12 yet though.  The most recent release was 5.11.11.100, the one that you are al

[2019-09-25 14:36] TyTruGolf commented on #4573
I loaded up 848x100, but it looks like it's just 848x480 cropped down to 848x100. Is there a way to get the high frame rate and keep the high vertical FOV?

3ms exposure has been our safest universal. 2.5ms works for most setups and 2ms does OK.

Thanks for all the quick responses. I really appreciate how responsive you guys have been as well as all the insight you've been able to provide.

[2019-09-25 14:37] ev-mp commented on #4934
@kjacks21 hello, several remarks:

1. It seem you're missing a request to playback depth along with color. Only color request is specified

    **config.enable_stream(rs.stream.color)**
   ~~config.enable_stream(rs.stream.depth)~~ ?
    profile = pipeline.start(config)

2. When looking further into the segment the following code is not correct

..
aligned_color_frame = frameset.get_color_frame() ?

[2019-09-25 14:51] ev-mp commented on #4740
The code is quite fairly documented, so it is mostly copy&pasted from the link-
1. Reading the binary files from disk to memory
[code]

2. Create a `software_device` with an appropriate `depth_sensor`. Populate the sensor with the streaming configuration (resolution,format,fps) that is consistent with the content of the raw depth files
[code]
3. Set the emulated device into streaming and provide t

[2019-09-25 15:06] agrunnet commented on #4573
Unfortunately we are limited by the sensor and the bandwidth. By cropping down the vertical FOV the global shutter imager is HW windowing the image and we can cycle through it faster, without increasing bandwidth. So bandwidth is roughly equivalent to 848x480 at 90fps. But you can use multiple cameras to cover the FOV you want ;)

[2019-09-25 15:10] MartyG-RealSense opened #4935 "Announcement: Unity enable mass testing of projects in the cloud with machine learning"
Hi everyone,

Unity have announced a tool called 'Unity Simulation' that uses machine learning to enable rapid simulation and testing of projects in the cloud.

https://unity.com/simulation

[2019-09-25 15:11] dynamicmirage commented on #4734
Hi There,

Yes, finally it worked.

The steps that made it work:
1. Uninstall all intelrealsense software
2. Use CMake GUI to generate VS .sln files
3. Build individual examples

I recommend we update the windows link:
https://github.com/IntelRealSense/librealsense/blob/master/doc/distribution_windows.md

Currently the instructions there are wrong.

Sincerely,
Sam

On Tue, Sep 24, 2019 at 6:00 PM

[2019-09-25 15:37] dorodnic commented on #4923
Hi @JonaPR
What is your OS?

[2019-09-25 15:42] TyTruGolf commented on #4573
Oh ok.  So in order to keep the same quality but increase speed, you have to have the sensor capture at 848x480 and than only process a part of it. You can't change the sensor to capture the whole frame at 848x240 (similar to how we can tell it to capture at 424x240) and get the same HQ benefits.

[2019-09-25 15:42] #4887 closed

[2019-09-25 15:46] dorodnic commented on #4857
Hi @g2-bernotas
Thank you for the report. Windows Camera Frame Server service can be safely disabled AFAIK, and it is not critical to camera operation.
We also provide secondary Windows driver (intended for Windows 7 but can be also installed on Win 10), but it is less convenient (will not work with non librealsense apps)

[2019-09-25 16:31] frank26080115 commented on #4899
Yes, simply check out the hash ff2a29197056f240263c787f059ef4e561e6608c and then use `git apply patch_librealsense_ff2a291.txt` and it will edit all those files for you

The master branch changes too often for me to update the patch file for each commit in this repo. The previous release of realsense-viewer doesn't actually work on Raspbian Buster. So that's why it has to be ff2a291 or later.

[2019-09-25 17:02] #4623 closed

[2019-09-25 17:12] RealSenseCustomerSupport commented on #4505
----------------------------------------------

Hi @mikg13,

The issue is currently under investigation.Updates will be posted as soon as investigation findings become available.

Thank you!

[2019-09-25 17:18] RealSenseCustomerSupport commented on #4689
----------------------------------------------

Hi @zinan93,

The issue is currently under investigation.Updates will be posted as soon as investigation findings become available.

Thank you!

[2019-09-25 17:21] kjacks21 commented on #4934
@ev-mp thank you for the quick response! To your second point, how do you get the color frame then? Is the code pipeline as follows (which still is not working)?

[code]

Updated code based on your comments:
[code]

[2019-09-25 17:27] RealSenseCustomerSupport commented on #4656
----------------------------------------------

Hi @nikhilkoditala,

Do you need any further clarifications regarding this topic?

[2019-09-25 17:47] agrunnet commented on #4928
Here are some additional inputs that may help. From the screenshot, it looks like you may be running in USB 2.1 mode. There was an issue with fractional row exposure control settings. We updated the settings from OVT in firmware 5.11.12.0 to correct the issue. More details: https://github.com/IntelRealSense/librealsense/issues/4140. Or make sure to use USB3.
In any event, if you update to firmware

[2019-09-25 18:01] kylevedder commented on #4928
@agrunnet I had the device plugged into a port on my computer that supports USB3

![2019-09-25-135328_268x45_scrot](https://user-images.githubusercontent.com/6148088/65626716-e5cf3e00-df9b-11e9-80ad-29295331dc66.png)

However, I have noticed on several occasions that the `realsense-viewer` will report being connected to a USB2 port despite being connected to the exact same physical port; unpluggin

[2019-09-25 18:05] kylevedder commented on #4928
As a follow up to my above comment where I took the USB3.2 screenshot, I took the same setup, moved the cable around while ensuring both ends remained plugged into the computer and reopened `realsense-viewer` and it stated that I was connected to a USB2.1 port.

![2019-09-25-140342_282x42_scrot](https://user-images.githubusercontent.com/6148088/65627524-8d00a500-df9d-11e9-9d32-d75a3acc58be.png)

[2019-09-25 18:06] #4640 closed

[2019-09-25 18:09] MartyG-RealSense commented on #4928
Intel give some technical insights into operation in USB2 mode in the blog post linked below.

https://www.intelrealsense.com/usb2-support-for-intel-realsense-technology/

[2019-09-25 18:23] MartyG-RealSense commented on #4928
In regard to the USB2 mis-detection problem, the camera may mis-detect due to the way it is inserted, with slow insertion increasing the chance of mis-detection and a quick and firm insertion reducing it.  I have also heard that if the cable starts to withdraw from the USB port (e.g accidentally jostling out), that may also trigger a USB2 mis-detection.

If you can confirm that inserting the cable

[2019-09-25 18:33] kylevedder commented on #4928
@MartyG-RealSense thanks for the screwlocks tip. That will hopefully solve the USB3 => USB2 problem. What is the best way to detect what mode (USB2 vs USB3) the RealSense is running in via the `librealsense` API? I failed to find anything but I might just be missing something.

[2019-09-25 18:46] MartyG-RealSense commented on #4928
**rs-enumate-devices** is a program that can retrieve information about connected devices.

https://github.com/IntelRealSense/librealsense/tree/master/tools/enumerate-devices

The **sensor-control** example can similarly get information about connected devices.

https://github.com/IntelRealSense/librealsense/tree/master/examples/sensor-control

In a simpler example, a RealSense user got the curren

[2019-09-25 18:57] kylevedder commented on #4928
As a followup to @agrunnet and @MartyG-RealSense, I tested the RealSense again in direct sunlight while in USB3 mode by being very careful with the wires (I also confirmed the device was in USB3 with `realsense-viewer` before and after this experiment took place). It correctly dropped to 1 exposure and 16 gain when I pointed the RealSense at the sun, and it then correctly increased the exposure wh

[2019-09-25 19:10] MartyG-RealSense commented on #4928
I haven't heard of a specific mode to disable USB2 in Librealsense.  I wonder if you could do a check for whether USB2 is detected and if it is, initiate a **hardware_reset** instruction to automatically reset the camera from within the script until USB3 is detected and the reset loop is halted until the next time that USB2 is detected.  Here's an example code snippet for **hardware_reset**:

http

[2019-09-25 19:17] kylevedder commented on #4928
@MartyG-RealSense thank you for that snippit. I was worried I was going to have to figure out how to  kill power to the USB port then power it again.

If you find a way to disable USB2 mode, please let me know, but for now I think cable screws + power cycling to keep the camera in USB3 mode is a hack to get me off the ground.

Finally, @MartyG-RealSense I want to thank you for all your help in thi

[2019-09-25 19:17] #4928 closed

[2019-09-25 20:05] realsens01 commented on #4762
1. I don't understand your question. I _expect_ the file to be written when I call ``pipeline.stop()``, but I continue to get unindexed errors when I try to read the bag. Previously, I thought that the solution was to destroy all objects related to the pipeline object, but now I am not so sure.
2. I do not have direct access to that information at the moment, but the last version that I am aware o

[2019-09-25 20:24] norman1479 opened #4937 "Disable of device-initiated U1/U2 failed"
----------------------------------------------------------------------------------------------------

| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       |D435i |
| Firmware Version                   | 5.11.10.0 |
| Operating S

[2019-09-25 23:11] mzelina opened #4938 "Wheel odometry to T265 with two wheels"
I have a two wheel robot and want to feed odometry data into the T265 to aid in tracking. I have read the documentation and surrounding articles (e.g. https://github.com/IntelRealSense/librealsense/pull/3462#issuecomment-472575654, https://github.com/IntelRealSense/librealsense/issues/3970#issuecomment-492111666).

The JSON file example describes T as "relative transformation of sensor frame w.r.t

[2019-09-25 23:22] RealSenseCustomerSupport commented on #4734
----------------------------------------------

Hi @dynamicmirage,
Thank you for the update  and sharing the steps. I am glad to hear that the SDK examples can be compiled and is working now.
The following like is also worth mentioning if building librealsense library on Windows from the source.
https://github.com/IntelRealSense/librealsense/blob/master/doc/installation_windows.md#windows-81--wind

[2019-09-26 00:58] RealSenseCustomerSupport commented on #4469
----------------------------------------------

@knicos Could you please update if you still get issue with the latest SDK and FW? Thanks!

[2019-09-26 05:01] ev-mp commented on #4815
@hongluck, did you manage to resolve it as suggested?
We'll close this if no further questions.

[2019-09-26 05:07] ev-mp commented on #4803
@ahuizxc, I'm closing this as answered.
Feel free to reopen as needed

[2019-09-26 05:07] #4803 closed

[2019-09-26 05:14] #4797 closed

[2019-09-26 05:28] ev-mp commented on #4795
@visus100 hello, sorry for the late response.
The version you're using 2.19 is rather outdated. There were numerous enhancements and bug fixes introduced, including Window OS.
Please upgrade the SDK to one of the recent versions (2.28+) and check whether this error is still reproducible.

[2019-09-26 06:15] Marenix commented on #4929
I had a similar issue. I can't remember exactly how I fixed it, but, for me, dependencies of rs-pcl and rs-pcl-color weren't set up right so the projects couldn't find the right files.

Post what errors you're getting after making sure your projects are finding glfw3.lib and I'll try to help you.

[2019-09-26 06:17] ev-mp commented on #4779
@Maheshwariraghav112 , feel free to reopen as needed.

[2019-09-26 06:17] #4779 closed

[2019-09-26 06:20] ev-mp commented on #4775
@kgh475926 , was the info by @aangerma useful ?
Do you have any follow up questions?

[2019-09-26 06:25] JonaPR commented on #4923
HI @dorodnic

It is Windows 10. After a few more tests, I've noticed that some times the function works, and some times hangs (the major part of the times). It seems randomly because I didn't make any changes in code.

[2019-09-26 06:40] ev-mp commented on #4628
@panapple , closing as no follow ups were requested.
Feel free to reopen if I'm wrong.

[2019-09-26 06:40] #4628 closed

[2019-09-26 06:41] RealSenseCustomerSupport commented on #3475
----------------------------------------------

Hi @ChewbEp, @chd415,

Still any trouble there? Is there any D400 series or SR300 camera detection log message in "dmesg"?
Did you run Intel Realsense permissions script located from librealsense root directory?
`./scripts/setup_udev_rules.sh`

If this issue clarified, I will close it.

[2019-09-26 06:43] ev-mp commented on #4551
@yangliu995 , do you need it further clarified ? Please update

[2019-09-26 06:46] ev-mp commented on #4515
Python 3.7 wrapper was made available on Pypi with v2.28.0 release

[2019-09-26 06:46] #4515 closed

[2019-09-26 07:03] Cavendish-Koo opened #4939 "a plane is measured as a concavity"
| Camera Model                       | {D435} |

I have recently encountered a problem. A plane is measured by the camera as a concave surface.
![save_Depth](https://user-images.githubusercontent.com/42258146/65665342-e46e4600-e06d-11e9-9b76-9bb0dd2a6e79.png)
As is shown above, The depth value in the middle of the plane is lower than the two sides.I have recalibrated the camera, and things get a l

[2019-09-26 07:12] knicos commented on #4469
I updated to 2.28.1 and the latest FW update but I do still have the segfault in the debug build. It does not appear to be resolved for me.

[2019-09-26 07:40] MartyG-RealSense commented on #4939
The way the image 'bows' in at the center reminds me of a distortion phenomenon that is rare (at least in Librealsense) called 'pincushion distortion' (the opposite of barrel distortion, which bulges outward).  I have not seen a reported case of it in Librealsense since the old 1.12 legacy SDK in 2016.

![image](https://user-images.githubusercontent.com/41145062/65667979-c1756f00-e038-11e9-9743-c8

[2019-09-26 08:10] Cavendish-Koo commented on #4939
Thank you for the quick reply.
I have five realsense d435 camera and only one camera doesn't have the distortion. Haha, maybe this phenomenon is not rare for me.  And the depth value in the middle is lower than two sides. Is it a barrel distortion rather than pincushion distortion?

[2019-09-26 08:17] ev-mp commented on #4480
@pzoltowski , a note regarding 90 fps:
At least with the [FW5.11.11.100](https://dev.intelrealsense.com/docs/firmware-updates) the following  60+ fps modes are available:
   Depth         848x480       @ 90Hz     Z16
   Depth         848x100       @ 100Hz    Z16
   Depth         640x480       @ 90Hz     Z16
   Depth         640x360       @ 90Hz     Z16
   Depth         480x270       @ 90Hz     Z16

[2019-09-26 08:20] ev-mp commented on #4475
@seratg , do you still observe this behavior with the recent versions of the SDK ?
Please update

[2019-09-26 08:22] ev-mp commented on #4469
@knicos , is this reproducible with the SDK tools/examples, such as `rs-align` ?
If not -  can you share the reproduction snippet?

[2019-09-26 09:17] MartyG-RealSense commented on #4939
A barrel distortion bulges outwards instead of inward.

![image](https://user-images.githubusercontent.com/41145062/65674780-0acbbb80-e045-11e9-86ef-abefe432226e.png)

Actually, you have a point.  If the depth reading at the center is lower, this would suggest that the pixels are nearer to the camera than the ones at the side, indicating a bulge rather than a depression (where you might expect the

[2019-09-26 09:25] Cavendish-Koo commented on #4939
So how can I solve this problem. Can I only return to the factory for repair? I have a more urgent project, and long-term maintenance is unbearable.

[2019-09-26 09:28] jb455 commented on #4523
@dorodnic: we've noticed that the latest firmware (5.11.11.100) isn't compatible with the version of the SDK we're using - it fails when trying to change the visual preset. I'm guessing this is because of the new  camera parameter added; depending on where the preset data is stored (firmware or SDK), either when the old SDK sees the new parameter in the JSON it doesn't know what to do with it, or

[2019-09-26 09:32] MartyG-RealSense commented on #4939
If cameras are within the return period (30 days from purchase I believe) then they can be returned to Intel (if you bought it from them) or from the retailer that you bought it from.  There is only refund or replacement, as Intel do not have a repair facility for RealSense cameras.

Could you check what temperature your cameras are running at please?  This can be done in the RealSense Viewer.  Fo

[2019-09-26 10:31] manyaafonso commented on #4446
Hi @clear-zhu , can you please share the corrections you made to your code to solve this?

[2019-09-26 10:54] knicos commented on #4469
The examples do work correctly. We are using it as a part of a much larger application that has a lot of threading with no guarantee that it is the same thread calling align.process for each frame. The application also uses OpenCV and CUDA extensively in case this matters. Unfortunately I don't have time to construct an example to reproduce it and can't provide our full source.

In a class constru

[2019-09-26 11:20] dorodnic commented on #4939
I think Dynamic Calibrator software *may* help. Depth image is synthetic and is generated using extrinsic calibration between left and right sensors. In our experience relative rotation between the two sensors can create concave / convex depth. @agrunnet - what is your opinion?

[2019-09-26 11:33] ruminus opened #4940 "D415 disconnected when setting depth options after pipeline start"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D415 |
| Firmware Version                   | 05.11.11.100 |
| Operating System & Version |  Ubuntu 18.04  |
| Kernel Version (Linux Only)    |  4.15.0

[2019-09-26 12:05] knicos commented on #4469
Ok, please ignore my previous comment. The examples DO NOT WORK if -D_DEBUG is passed to compiler. `rs-align` then segfaults.

[2019-09-26 13:24] shadowdk3 opened #4942 "How to synchronize hardware timestamp?"
* Before opening a new issue, we wanted to provide you with some useful suggestions (Click "Preview" above for a better view):

    * Consider checking out SDK [examples](https://github.com/IntelRealSense/librealsense/tree/master/examples#sample-code-for-intel-realsense-cameras).
    * Have you looked in our [documentations](https://github.com/IntelRealSense/librealsense/tree/master/doc#useful-lin

[2019-09-26 13:28] shadowdk3 commented on #4885
Finally, I success to use `wait_for_frames()` and get timestamp from frame. I close this Issues. Thanks for help.

[2019-09-26 13:28] #4885 closed

[2019-09-26 14:59] g2-bernotas commented on #4857
Hi @dorodnic

I am afraid Windows Camera Frame Server Service (WCFSS) is required to operate RealSense camera. I tried to end the WCFSS via Task Manager, which ended up in crashing the software (both mine and the RealSense Viewer), but after I started the software again, the WCFSS would restart, but everything would work (with increasing RAM once I am recording). The next step was to disable it as

[2019-09-26 15:42] GOBish commented on #4272
I am trying to set up a PI 4 for use with a D435 and T265 and having a lot of trouble - I can't even get the realsense viewer running.
I've been following the guide for the pi3 found here
https://github.com/IntelRealSense/librealsense/blob/master/doc/installation_raspbian.md
as suggested by @filipematosinov  (using raspian buster as well).
I get an error at the beginning steps that the following p

[2019-09-26 15:50] skylouis commented on #4681
hi @jmachuca77 I have the same issue, how did you get around this problem ?

[2019-09-26 15:59] jmachuca77 commented on #4681
didn't, its still an issue.

[2019-09-26 17:06] JBBee commented on #4883
Hi @radfordi,

I noticed that the 3 lines were off a distance similar to the extrinsics from the pose stream to the fisheye stream, so I tried reversing [this line](https://github.com/IntelRealSense/librealsense/blob/81d469db173dd682d3bada9bd7c7570db0f7cf76/examples/ar-basic/rs-ar-basic.cpp#L74), so it's now:
`rs2_extrinsics extrinsics = pipe_profile.get_stream(RS2_STREAM_POSE).get_extrinsics_to(f

[2019-09-26 17:36] RealSenseCustomerSupport commented on #4648
----------------------------------------------

With the update from @vladHoloArch, can this be closed out?

Thanks

[2019-09-26 17:58] RealSenseCustomerSupport commented on #4766
----------------------------------------------

Looks like it's related to https://github.com/IntelRealSense/librealsense/pull/4758
Please kindly take a look. Thank you.

[2019-09-26 18:04] #4526 closed

[2019-09-26 19:16] awatson3 opened #4943 "How to get Left AND Right color camera images from Intel RealSense"
Using the LibRealSense API, is it possible to simultaneously stream color images from both the left **and** right cameras on *any* of the Intel RealSense hardware?

[2019-09-26 19:20] MartyG-RealSense opened #4944 "Announcement: Joint Intel / FRAMOS 'Next Generation Depth Sensing' webinar on October 10 2019"
Hi everyone,

Miroslav Mlejnek from Intel and Dr Christopher Scheubel from FRAMOS will be hosting a free webinar on October 10 2019 titled 'Next Generation Depth Sensing'.  Full details can be found at the link below.

https://imaging.framos.com/webinar/en/depth-sensing/

![image](https://user-images.githubusercontent.com/41145062/65718095-bce1a280-e09a-11e9-80fc-6cf7a3571edb.png)

[2019-09-26 19:35] MartyG-RealSense commented on #4943
I recently asked Intel about getting a color stream from the left and right IR imagers of the 400 Series cameras.  The response given is in the link below.

https://github.com/IntelRealSense/librealsense/issues/3754#issuecomment-487367179

[2019-09-26 19:46] GrandFoin commented on #1178
I have the same exception.

Camera Model | SenseRS
Firmware Version | ?
Operating System & Version | Win10
Platform | PC
SDK Version | 2.10.0

When measure example is compiled in a DLL on windows
the following code throw the exception
[14:23:24]CreateNamedMutex returned Mutex_TotalFailure

DLL is called as Native code from a C# UWP application.
Line that throws exception is
measure->rs_measure.cpp

[2019-09-26 20:13] radfordi commented on #4883
Nice find, @JBBee!  See #4945.  Would you mind posting a follow up video?

[2019-09-26 20:26] awatson3 commented on #3754
@MartyG-RealSense Thank you

@RealSenseCustomerSupport Per above comments, there are no Realsense models that support simultaneous RGB streams from Left and Right cameras, correct?

[2019-09-26 20:51] MartyG-RealSense commented on #3754
@awatson3  Your question above is more likely to be seen if you post it on your own message, as this case here is now closed and the Intel staff won't be tracking it.  Thanks!

[2019-09-26 20:57] awatson3 commented on #4943
@MartyG-RealSense Thank you

@RealSenseCustomerSupport Per above comments, there are no Realsense models that support simultaneous RGB streams from Left and Right cameras, correct?

[2019-09-26 21:28] MartyG-RealSense commented on #4928
@kylevedder   A new SDK version is available now.

https://support.intelrealsense.com/hc/en-us/community/posts/360035827554

[2019-09-27 00:10] JBBee commented on #4883
Hi @radfordi,

Thanks.  Below is a video of it staying in place really well with the patch.  On other runs it has jumped around a little but this is great overall.

[rs-ar-basic video 3](https://youtu.be/4aHwM9spR2Y)

[2019-09-27 02:02] #4705 closed

[2019-09-27 05:01] tonyhsiao1995 opened #4946 "FRAMOS D435e Starter kit frame rate"
----------------------------------------------------------------------------------------------------

| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | { FRAMOS D435e } |
| Firmware Version                   | 5.11 |
| Oper

[2019-09-27 05:38] Marenix commented on #4946
FRAMOS D435e currently supports only resolution 1280x720@30 fps.

[2019-09-27 07:36] blackccpie opened #4947 "SR305 : cannot stream depth @ 60fps"
----------------------------------------------------------------------------------------------------

| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | SR305 |
| Firmware Version                   | 3.27.3.0 |
| Operating S

[2019-09-27 08:27] sodom89 commented on #4901
If tested your suggestion and it works. Thanks

[2019-09-27 08:27] #4901 closed

[2019-09-27 09:02] MartyG-RealSense commented on #4947
I located one previous case in which an SR300 user had their stream capped at 50 FPS at most when running in 60 FPS mode (the SR305 is essentially an SR300 camera inside a new casing).  Please see the comment linked to below, and the response given in the comment below it.

https://github.com/IntelRealSense/librealsense/issues/802#issuecomment-343750746

[2019-09-27 09:04] sodom89 opened #4948 "depth quality tool crashes"
| | |
|---|---|
|**librealsense**|2.29.0 RELEASE|
|**OS**|Windows10|
|**Name**|Intel RealSense D435|
|**Serial Number**|831612070780|
|**Firmware Version**|05.11.15.00|

If I'm trying to record the metrics with the depth quality tool. It crashes while closing the window and not providing any error code. I got the same behaviour with the Release 2.28.0. It seems to be independent from the settings

[2019-09-27 11:44] rofreli commented on #4899
Hi Frank , I tried your solution but I got the same error. I ..... I believe is something in raspbian kernel.

[2019-09-27 11:54] blackccpie commented on #4947
@MartyG-RealSense : concerning the firmware version, that seems quite strange to perform a downgrade to get better performance... in the homepage it is stated `3.10.10.0 +`, which corresponds to a minimal version.
By the way the 3.10.10.0 firmware is nowhere to be found as a standalone download usable in the Viewer update menu (neither is the 3.27.3.0 if I want to rollback). The only tool I found

[2019-09-27 12:21] MartyG-RealSense commented on #4947
My memory of historical events from some years ago was that the 3.27 firmware did indeed come after 3.10 but there were problems after that.  So it makes sense to recommend 3.10 as a potentially more stable firmware.

I believe that 3.10 is not available as a standalone firmware file and that the only way to currently install it is through the RealSense Viewer.

I have not personally noticed frame

[2019-09-27 12:41] skylouis commented on #4681
hi @ev-mp when is Intel planning to patch this issue ?

[2019-09-27 13:05] #4884 closed

[2019-09-27 13:39] antoan commented on #4948
Name | Intel RealSense D435i
Firmware Version | 05.11.11.100
OS Ubuntu 16.04

Same here. Crash occurs on initiating recording.

[2019-09-27 14:25] Dejauxvue commented on #3234
Hi,
yes, the problem seems to persist. We also tried it with newsest firmware and sdk on Ubuntu 16.

@cichard: unfortunately I don't have access to the device right now..
Are you sure that depth frames are alighned with z axis along the view direction?

[2019-09-27 15:05] GOBish commented on #4272
@MartyG-RealSense  -- do you recommend for now just using an upsquared board? I've been having a really hard time trying to get the raspberry pi 4 to work.

[2019-09-27 15:11] MartyG-RealSense commented on #4272
Up Squared boards certainly are compatible with 400 Series cameras.  Up use the board in their own RealSense robotics maker kit.

https://support.intelrealsense.com/hc/en-us/community/posts/360033532514-RealSense-and-the-AAEON-UP-Squared-Robomaker-Dev-Kit-

[2019-09-27 15:14] GOBish commented on #4272
Thanks @MartyG-RealSense  - I have seen that kit - I was just wondering what your take is on the probability of the raspberry pi 4 becoming viable for realsense.

[2019-09-27 15:21] MartyG-RealSense commented on #4272
I would have thought that installation of Librealsense on Pi4 would be possible using  the **libuvc-backend** installation method, as it was made for situations where you want to avoid kernel patching and the normal Librealsense installation instructions do not work.

https://github.com/IntelRealSense/librealsense/blob/master/doc/libuvc_installation.md

If that does not work, specialist installati

[2019-09-27 15:27] GOBish commented on #4272
@MartyG-RealSense thanks as always for the advice and quick replies. I appreciate it.

[2019-09-27 17:58] frank26080115 commented on #4899
Oh I've been doing builds with GCC 8 instead of GCC 6, I know the instructions said 6 but I am using 8, maybe that can help? (it's unlikely that this is the problem)

[2019-09-27 21:49] CapOM commented on #1493
Still happen when trying to compile https://git.launchpad.net/~ubuntu-kernel/ubuntu/+source/linux/+git/bionic/

[2019-09-27 22:25] sanjanasrivastava opened #4949 "Assertion failure when running python tutorial"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | { D435 } |
| Firmware Version                   | { 5.11.6.250 } |
| Operating System & Version |   { MacOS Mojave } |
| Platform                                 | { PC } |

[2019-09-28 01:05] #4723 closed

[2019-09-28 01:05] #4726 closed

[2019-09-28 03:32] liu978079474 commented on #4924
Hello,I am running sudo add-apt-repository "deb http://realsense-hw-public.s3.amazonaws.com/Debian/apt-repo xenial main" -u when installing librealsense, nothing to be showed

[2019-09-28 03:41] GOBish opened #4950 "can't finish LibUVC install on Raspberry Pi 4"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | { D435 } |
| Firmware Version                   | (newest) |
| Operating System & Version |   Raspbian buster  |
| Kernel Version (Linux Only)    |  4.19

[2019-09-28 05:07] liu978079474 commented on #4924
Hello,I am running sudo add-apt-repository "deb http://realsense-hw-public.s3.amazonaws.com/Debian/apt-repo xenial main" -u when installing librealsense ,it show Some index files failed to download. They have been ignored, or old ones used instead.

[2019-09-28 10:15] mzelina commented on #4938
Missed this previously but the unit test here is helpful if anyone else has issues:

https://github.com/IntelRealSense/librealsense/blob/master/unit-tests/unit-tests-live.cpp#L5535

Still not clear on how exactly to calculate the axis-angle from the robot geometry.

[2019-09-28 13:29] antoan opened #4951 "Missing/outdated UDEV-Rules will cause 'Permissions Denied' errors"
----------------------------------------------------------------------------------------------------

| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | {D400 } |
| Firmware Version                   | (Open RealSense Viewer

[2019-09-29 06:57] dorodnic commented on #4951
This warning points out to missing steps during the installation process - in particular:

./scripts/setup_udev_rules.sh

Alternatively, you could remove the manual install via `sudo make uninstall` and install everything [via apt](https://github.com/IntelRealSense/librealsense/blob/master/doc/distribution_linux.md).

[2019-09-29 06:58] dorodnic commented on #4950
Are you using the script from [libuvc_installation.md](https://github.com/IntelRealSense/librealsense/blob/master/doc/libuvc_installation.md)?

[2019-09-29 06:59] dorodnic commented on #4943
Yes, there is no such configuration at the moment.

[2019-09-29 07:01] dorodnic commented on #4942
What is the value of `frame.get_timestamp_domain()` in your system?
The way this is intended to be solved is for timestamp domain to report `GLOBAL_TIME` and `get_timestamp` to report values consistent across all devices.

[2019-09-29 07:10] qoo4202w commented on #4930
@ev-mp
Thanks for your help. I know how to get depth position from the position of color frame now.
However, the points given by rs2_project_color_pixel_to_depth_pixel are strange.
![image](https://user-images.githubusercontent.com/54255612/65828060-3d85e600-e2c9-11e9-8df5-a77f866eceec.png)
In the image, the object is only about 30 cm from the camera, but the depth of point is shown as 1.671 meter

[2019-09-29 08:17] nirshemesh commented on #4893
Done that already,

Looks like the dynamic calibration tools doesnt progress (% value stays on 0).
I tried both Letter page and Mobile phone as a target pattern - with no success (I checked the dimensions as requested).

I follow the instruction on the link above and still - breathing pointcloud achieved (Matlab example).

I"m using D415 with the most updated SW & FW.

Last - I dont have a specifi

[2019-09-29 08:36] calipos commented on #4742
@RealSenseCustomerSupport   Thanks for your advice！I finally realised i lacked access permissions...

[2019-09-29 09:13] sodom89 commented on #4951
I get the same error message. After trying to install it with through apt-get the same error occurs.
![udev_rueles error](https://user-images.githubusercontent.com/16924394/65829805-8463e380-e2a9-11e9-8904-dfaba275c32a.png)

[2019-09-29 09:25] RealSenseCustomerSupport commented on #4189
----------------------------------------------

@shadowdk3 No response from you for weeks. Will close the ticket at this point. Please feel free to submit ticket if you still have questions/issues. Thanks!

[2019-09-29 09:32] RealSenseCustomerSupport commented on #4710
----------------------------------------------

@nk2IsHere Did you try the installation according to https://github.com/IntelRealSense/librealsense/blob/master/doc/installation_odroid.md

[2019-09-29 09:38] RealSenseCustomerSupport commented on #4732
----------------------------------------------

@medlraffy Could you please update? Thanks!

[2019-09-29 09:38] RealSenseCustomerSupport commented on #4701
----------------------------------------------

@medlraffy Could you please update? Thanks!

[2019-09-29 09:39] RealSenseCustomerSupport commented on #4715
----------------------------------------------

@dk67604 Could you please update? Thanks!

[2019-09-29 09:40] RealSenseCustomerSupport commented on #4667
----------------------------------------------

@harshitsankhla Do you still need support on this? Could you please update? Thanks!

[2019-09-29 09:45] RealSenseCustomerSupport commented on #4281
----------------------------------------------

@pabloalcain Any update from your side now? Thanks!

[2019-09-29 09:46] RealSenseCustomerSupport commented on #4460
----------------------------------------------

@SgtJaap  Will close this if no other questions. Thanks!

[2019-09-29 09:47] sodom89 commented on #4951
After uninstalling and reinstalling through the package the error is still occurring. That's why I tried to copy the missing rule (https://raw.githubusercontent.com/IntelRealSense/librealsense/master/config/99-realsense-libusb.rules) manually to the directory /etc/udev/rules.d/99-realsense-libusb.rules. I get a new error now.
![udev_rueles error](https://user-images.githubusercontent.com/16924394/

[2019-09-29 09:48] RealSenseCustomerSupport commented on #4390
----------------------------------------------

@descamps2 Could you please update if you need any more support on this? Thanks!

[2019-09-29 09:49] RealSenseCustomerSupport commented on #4423
----------------------------------------------

@Core055 Could you please update? Thanks!

[2019-09-29 09:49] RealSenseCustomerSupport commented on #4483
----------------------------------------------

@swjtuccy Any update about this? Thanks!

[2019-09-29 09:49] RealSenseCustomerSupport commented on #4443
----------------------------------------------

@MCSuperior Any other questions about this? Thanks!

[2019-09-29 09:57] RealSenseCustomerSupport commented on #4071
----------------------------------------------

@filipematosinov Did you get the logs? Thanks!

[2019-09-29 09:58] RealSenseCustomerSupport commented on #4290
----------------------------------------------

@gdiiorio Any other questions about this ticket? Looking forward to your update. Thanks!

[2019-09-29 09:58] RealSenseCustomerSupport commented on #4305
----------------------------------------------

@vusdo Could you please update? Thanks!

[2019-09-29 09:59] RealSenseCustomerSupport commented on #4214
----------------------------------------------

@xtrawurst Did you get chance to submit the PR? Looking forward to your update. Thanks!

[2019-09-29 10:00] RealSenseCustomerSupport commented on #4211
----------------------------------------------

@pavloblindnology Any update about this? Thanks!

[2019-09-29 10:00] RealSenseCustomerSupport commented on #4291
----------------------------------------------

@NickolasCavagnaro Any update? Thanks!

[2019-09-29 10:01] RealSenseCustomerSupport commented on #4400
----------------------------------------------

@nevynwong Do you still need support on this? Thanks!

[2019-09-29 10:01] RealSenseCustomerSupport commented on #4366
----------------------------------------------

@schoningerJim Could you please update? Thanks!

[2019-09-29 10:01] RealSenseCustomerSupport commented on #4657
----------------------------------------------

@alifeinbinary Could you please update? Thanks!

[2019-09-29 10:02] RealSenseCustomerSupport commented on #4158
----------------------------------------------

@kroq-gar7 @vhanded Do you still need support on this? Thanks!

[2019-09-29 10:03] #4189 closed

[2019-09-29 10:03] #4416 closed

[2019-09-29 10:03] #4460 closed

[2019-09-29 10:03] #4693 closed

[2019-09-29 10:03] #4489 closed

[2019-09-29 11:50] jursenbo commented on #4517
I had the same problem with the SDK `v2.29.0` and FW `v5.11.15.00` on my `D435i` when running `hello-realsense` example. I could get the example working by changing the `pipeline` config to use `RS2_STREAM_DEPTH` stream type:
[code]
Looks like another stream type is causing the timeout error.
A bit rough start with the `RealSense` camera, when even a `hello world` example does not run out of the b

[2019-09-29 12:09] GOBish commented on #4950
https://github.com/IntelRealSense/librealsense/blob/master/doc/libuvc_installation.md

[2019-09-29 12:12] liu978079474 opened #4952 "Installation fails when compiling RealSense environment on NVIDIA XT2"
* Before opening a new issue, we wanted to provide you with some useful suggestions (Click "Preview" above for a better view):

    * Consider checking out SDK [examples](https://github.com/IntelRealSense/librealsense/tree/master/examples#sample-code-for-intel-realsense-cameras).
    * Have you looked in our [documentations](https://github.com/IntelRealSense/librealsense/tree/master/doc#useful-lin

[2019-09-29 13:05] MartyG-RealSense commented on #4952
Have you tried JetsonHacks' guide to installing Librealsense on Jetson TX2 please?

https://www.jetsonhacks.com/2018/07/10/librealsense-update-nvidia-jetson-tx-dev-kits/

[2019-09-29 13:11] liu978079474 commented on #4952
Yes，I was tried,but I find the realsense-viewer was 2.13.0.It is very old,and it can not recognize USB 3.0

[2019-09-29 13:18] MartyG-RealSense commented on #4952
There is a method called **libuvc-backend** for attempting Librealsense  installation in a way that does not require kernel patching.  I cannot say if it will work for you, but it does not take long to try it.

https://github.com/IntelRealSense/librealsense/blob/master/doc/libuvc_installation.md

[2019-09-29 14:13] nevynwong commented on #4400
I have solved this problem. Thank you for your help.

Best Regards!

------------------ 原始邮件 ------------------
发件人: "RealSense Customer Support"<notifications@github.com>;
发送时间: 2019年9月29日(星期天) 晚上6:01
收件人: "IntelRealSense/librealsense"<librealsense@noreply.github.com>;
抄送: "婉清"<1106569356@qq.com>;"Mention"<mention@noreply.github.com>;
主题: Re: [IntelRealSense/librealsense] .bag  file post-processi

[2019-09-29 16:28] nk2IsHere commented on #4710
Yes, I did

[2019-09-29 23:34] cga-cmu commented on #4158
I have worked around it.
Thanks,
Chris

On Sun, 29 Sep 2019, RealSense Customer Support wrote:

[2019-09-30 01:22] dnjfk2003 opened #4954 "is there any way of post-alignment?"
* Before opening a new issue, we wanted to provide you with some useful suggestions (Click "Preview" above for a better view):

    * Consider checking out SDK [examples](https://github.com/IntelRealSense/librealsense/tree/master/examples#sample-code-for-intel-realsense-cameras).
    * Have you looked in our [documentations](https://github.com/IntelRealSense/librealsense/tree/master/doc#useful-lin

[2019-09-30 02:46] yokoshou commented on #4929
Thank you for reply @Marenix.
The errors after add glfw3.lib are
error LNK2019: unresolved external symbol gluPerspective referenced in function "void __cdecl draw_pointcloud(float,float,struct glfw_state &,class rs2::points &)" (?draw_pointcloud@@YAXMMAEAUglfw_state@@AEAVpoints@rs2@@@Z)
1>rs-pcl.obj : error LNK2019: unresolved external symbol gluLookAt referenced in function "void __cdecl draw_po

[2019-09-30 06:15] MartyG-RealSense commented on #4954
I hope that the discussion in the link below will be helpful for creating alignment between a color PNG and a depth .raw.

https://github.com/IntelRealSense/librealsense/issues/2231#issuecomment-412810987

[2019-09-30 06:56] wodndb commented on #4820
This issue maybe help you. https://github.com/keijiro/Pcx/issues/23

[2019-09-30 07:06] wodndb commented on #4873
You are right, there are no example about that.
You should write code to remove some points in raw point cloud data.

[2019-09-30 09:43] MartyG-RealSense commented on #4952
USB2 indicates that the camera is being detected as being on a USB 2 connection.  This can happen even if the camera is plugged into a USB 3 port.

Others have had the problem of it being detected as USB2 when using a D435i.  A member of the Intel RealSense team on this forum suggested looking at this link:

https://github.com/IntelRealSense/librealsense/issues/4004

[2019-09-30 12:34] Brudasoe opened #4955 "Latency tests and FPS"
Hey, I did some latency tests for D415 and D435 via the latency tool available on the repository, and here are the results (I couldn't get results for the smallest resolutions on D435. My question is, why the FPS play so much role in latency? I know that they affect the latency, but I think they shouldn't play so much role. Is that latency checking method correct? For each position I collected abo

[2019-09-30 13:16] MartyG-RealSense commented on #4955
The official documentation on latency explains that "the RealSense ASIC does not have an internal full-frame buffer, so most latency in the system will come from system level buffering done in drivers or software".

https://github.com/IntelRealSense/librealsense/wiki/Frame-Buffering-Management-in-RealSense-SDK-2.0

[2019-09-30 14:04] Brudasoe commented on #4955
Thanks for the quick answer! From that documentation, I guess the frame queue default value is already optimized?

[2019-09-30 14:07] okarpov opened #4956 "How to run on Orange Pi 3"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D435i |
| Firmware Version                   | latest |
| Operating System & Version |  Linux (Ubuntu 16)  |
| Kernel Version (Linux Only)    | 4.9

[2019-09-30 14:28] MartyG-RealSense commented on #4955
Frame queue capacity is not a frequently mentioned topic, so I would speculate that it usually gets left alone.

The documentation has an example script for setting frame capacity, under the 'Librealsense2' heading of the doc section in the link below:

https://github.com/IntelRealSense/librealsense/wiki/API-How-To#do-processing-on-a-background-thread

[2019-09-30 14:41] Brudasoe commented on #4955
Thanks! I'll go through this example, for now I think I can close this issue if anything else pops up I'll reopen it.

[2019-09-30 14:41] #4955 closed

[2019-09-30 17:09] MartyG-RealSense commented on #4956
I have only handled one case involving Orange Pi before.  In that case, the camera was detected but it would only work at 480x270 (similar to a Raspberry Pi 3 with USB2).  I will link to that case so that others reading this can get the information.

https://forums.intel.com/s/question/0D50P00004LElHiSAL/fail-to-start-depth-stream-on-a-single-board-pc?language=en_US

Given that Orange Pi is a boar

[2019-09-30 22:59] szx0112 opened #4957 "Fail to capture the depth stream of the 2nd camera with the upgraded FW"
----------------------------------------------------------------------------------------------------

| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | { D435 D435i } |
| Firmware Version                   | (05.11.15) |
|

[2019-09-30 23:03] #4756 closed

[2019-09-30 23:23] MCSuperior commented on #4443
I am sorry for the late reply. Due to some circumstances, I could not try the mentioned approaches yet. I will do so asap in order to see whether the approaches shown work or not.

[2019-10-01 00:36] GOBish commented on #3895
I get the same errors, were you able to solve this?

[2019-10-01 04:31] shadowdk3 commented on #4942
@dorodnic sorry for late reply, I get `GLOBAL_TIME` when I run `frame.get_timestamp_domain()`.
I notice that two camera seem to be sync for 0.1ms, but when the motion is too fast, two video cannot be sync.

[2019-10-01 06:32] pavloblindnology commented on #4211
@RealSenseCustomerSupport Well, unfortunately, don't have time to contribute.

[2019-10-01 08:03] BriceRenaudeau commented on #4896
Many thanks.

[2019-10-01 08:03] #4896 closed

[2019-10-01 08:32] kevindehecker commented on #3126
I just updated everything, now running kernel 5.0.0-29-generic with realsense api v 2.29, and this problems seems to be fixed!

[2019-10-01 08:34] kevindehecker commented on #4586
I just updated everything, now running kernel 5.0.0-29-generic with realsense api v 2.29, and this problems seems to be fixed!

[2019-10-01 08:34] kevindehecker commented on #4116
Since the error has been solved, I think it is OK to close the issue.

[2019-10-01 08:34] #4116 closed

[2019-10-01 09:41] okarpov commented on #4956
Thank you for the suggestion, Could you, please, share the build and version of Ubuntu you did install and use?

[2019-10-01 10:13] MartyG-RealSense commented on #4956
libuvc-backend assumes that Ubuntu 16 is being used.

The other Orange Pi user did not say which OS they were using, but their terminal window looks like Ubuntu 18.

[2019-10-01 10:48] hpf9017 commented on #1189
@agrunnet I got it. thank you very much.
By the way, do you know how to evaluate the effect of the color to depth alignment?
In other words, how can I know that I need to calibrate the extrinsics to get better alignment.

[2019-10-01 12:35] levingerdes commented on #4036
I have the same issue with librealsense 2.25.0 (I've also tried 2.29.0) and a slightly different setup:

Ubuntu 18.04.3 LTS with kernel version 5.0.0-29-generic
NVIDIA Quadro P1000, NVIDIA driver version 430.50
T265 firmware version 0.1.0.279

The realsense-viewer works absolutely fine with the D435, but turning on the tracking module of the T265 freezes the realsense-viewer.

Having a T265 connec

[2019-10-01 12:50] for-no-one opened #4958 "D435: Getting point cloud becomes slow if camera is moving (C language)"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D435 |
| Firmware Version                   | 05.11.15.00 |
| Operating System & Version | Ubuntu 18.04.2 LTS  |
| Kernel Version (Linux Only)    |  4.15.0-47-lowlatency  |

[2019-10-01 13:54] soarwing52 opened #4959 "Freeze with tkfiledialog"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | {  D400 } |
| Firmware Version                   | (Open RealSense Viewer --> Click info) |
| Operating System & Version |   {Win (10)  |
| Platform

[2019-10-01 14:12] agrunnet commented on #1189
I usually point at a White wall and then place a colored object between wall and camera, such as my hand. If I see part of my hand on the wall or some white on my hand then I know they are misaligned. Clearly there are ways to do this more rigorously.

[2019-10-01 14:23] JBBee opened #4960 "T265 Pipeline start/stop and map start/stop"
----------------------------------------------------------------------------------------------------

| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | T265 |
| Firmware Version                   | 0.1.0.279 |
| Operating S

[2019-10-01 15:35] Core055 commented on #4423
Sorry.
I 've changed it  to  Windows. And use the latest version SDK .  Then the problems never occur.So  I DON'T know what  makes the  problem.

[2019-10-01 15:35] #4423 closed

[2019-10-01 17:24] RealSenseCustomerSupport commented on #4832
----------------------------------------------

Hi @Dontla
Do you need further assistance on this topic?

[2019-10-01 17:40] mbechard opened #4961 "Can't start T265 in seperate thread"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | T265 |
| Firmware Version                   | 0.1.0.242 |
| Operating System & Version | Win 10 |
| Kernel Version (Linux Only)    |

[2019-10-01 18:01] RealSenseCustomerSupport commented on #4777
----------------------------------------------

Similar topic was discussed in the following thread. The well organized and thoughtful information provided by MartyG-RealSense are extremely helpful on combining point-clouds.
https://github.com/IntelRealSense/librealsense/issues/3496

[2019-10-01 18:22] mzelina commented on #4938
@dorodnic Can you clarify something in your test case for the wheel odometry?

https://github.com/IntelRealSense/librealsense/blob/master/unit-tests/unit-tests-live.cpp#L5535

You are expecting the robot to be stationary in your comments but you are passing 1, 0, 0 for the translational velocity vector. I would have expected that to be 0, 0, 0.

Also, are there any real-world examples for odometry

[2019-10-01 18:39] dk67604 commented on #4715
Please close this issue. Thanks for the update.

[2019-10-01 20:21] MartyG-RealSense commented on #4961
The link below discusses at length the subject of using separate threads with T265.

https://github.com/IntelRealSense/librealsense/issues/4163

A summary of the conversation would be: (a) if you are using T265 and depth cameras such as the D435 or D415 together, put them all in the same thread if possible; and (b) multiple T265 in separate processes is not currently supported.

[2019-10-01 21:25] mbechard commented on #4961
Thanks for the info! I've looked through this and although similar, I'm not quite in this situation. In my current test I'm not using another camera (no other RealSense is connected to the machine).

However the other limitations do in general make the T265 unusable for us since multiple threads would be needed for performance, and controlling the order that RealSense nodes are created in the soft

[2019-10-01 21:43] MartyG-RealSense commented on #4961
You may get better performance if you alter the frame queue size.  You can reduce latency this way, though at the trade-off of a higher risk of dropping frames.

https://dev.intelrealsense.com/docs/frame-management#section-frame-drops-vs-latency

[2019-10-01 22:01] boilerbots opened #4962 "Depth Resolution of 848x480 is not allowed anymore"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D400 |
| Firmware Version                   | 05.11.15.00 |
| Operating System & Version |   Linux Ubuntu 18.04  |
| Kernel Version (Linux Only)    |  5.0.0-29-generic   |
|

[2019-10-01 23:09] mzelina commented on #4961
Have you tried using the callback mechanism?

`
void t265Callback(const rs2::frame& frame)
{
	if (rs2::pose_frame pf = frame.as<rs2::pose_frame>())
	{
		auto pose_data = pf.get_pose_data();
		/// Do something with pose_data
	}
}
`

Then, when you initialize the camera:

`
                rs2::pipeline pipe;
	        rs2::config cfg;
		// Add pose stream
		cfg.enable_stream(RS2_STREAM_POSE, RS2_FOR

[2019-10-01 23:21] RealSenseCustomerSupport commented on #4834
----------------------------------------------

@Dontla, please kindly let us know if further help is needed for this ticket. Thank you.

[2019-10-01 23:50] brenteickhoff opened #4963 "Need to Stabilize Frame Rates for D-435 in C# (disable Auto Exposure Priority?)"
|---------------------------------|------------------------------------------- |
| Camera Model                       |  D400 series
| Firmware Version                   |  05.11.06.250
| Operating System & Version |  Windows 10
| Platform                                 |  PC
| SDK Version                           |  2.19.1
| Language                               | C#
| Segment			         | Hea

[2019-10-01 23:55] RealSenseCustomerSupport commented on #4814
----------------------------------------------

Please kindly check to see if the the document explaining projection for 2D/3D coordinate system can be useful.
https://github.com/IntelRealSense/librealsense/wiki/Projection-in-RealSense-SDK-2.0#intrinsic-camera-parameters

Thank you.

[2019-10-01 23:59] yoichi0110 opened #4964 "about Intel RealSence D435i SDK"
* Before opening a new issue, we wanted to provide you with some useful suggestions (Click "Preview" above for a better view):

    * Consider checking out SDK [examples](https://github.com/IntelRealSense/librealsense/tree/master/examples#sample-code-for-intel-realsense-cameras).
    * Have you looked in our [documentations](https://github.com/IntelRealSense/librealsense/tree/master/doc#useful-lin

[2019-10-02 00:06] #4644 closed

[2019-10-02 01:31] Dontla commented on #4834
Thank you! The problem has been solved.

[2019-10-02 01:34] Dontla commented on #4832
Thank you! I dt need further more help for the time being.

[2019-10-02 02:35] RealSenseCustomerSupport commented on #4793
----------------------------------------------

Hi @nawara72,

Do you resolve the build issue after you change the runtime library option from /MT to /MD?

[2019-10-02 06:00] ev-mp commented on #4962
@boilerbots hello,
Can you provide the log generated with the SDK's tool

As well as with the kernel utility

ls /dev/video* -1a | xargs -n1 v4l2-ctl --list-formats-ext -d

[2019-10-02 06:11] ev-mp commented on #4961
@mzelina , it is possible to open multiple T265 each in a separate threads. The caveat is that you **must share** the initially created `context` object among all the `pipe` instances.

This is a known limitation of T265. See the [link](https://github.com/IntelRealSense/librealsense/issues/3734#issuecomment-481982507).
#3734, #3434, #3437.

[2019-10-02 06:18] ev-mp commented on #4960
@JBBee hello,
1) Correct. Each session generates a new origin.
2) To track data stored in previously-recorded maps follow the explanation by @radfordi [here](https://github.com/IntelRealSense/librealsense/issues/4024#issuecomment-496025822), utilizing the  `set_static_node`/`get_static_node` API calls.
#4024