[2020-02-12 21:28] RealSenseCustomerSupport commented on #5807
----------------------------------------------

Thanks @BananaHemic and you're only able to see this under Unity?  Have you attempted to use any other wrapper or use direct librealsense library calls?

[2020-02-12 21:32] RealSenseCustomerSupport commented on #5819
----------------------------------------------

Hi @deepak-1530, Do you have further question?
If we don't hear from you in 7 days, this issue will be closed.

[2020-02-12 21:38] MartyG-RealSense commented on #5834
It may be best to use the non-RealSense camera for the RGB stream and the RealSense for the depth stream.  This is because RealSense is not interfered with by non-RealSense cameras that are nearby, but RealSense **does** interfere with non-RealSense IR cameras.

An example would be a laptop with a built in IR camera being interfered with by a RealSense camera using IR near the laptop.  As far as I

[2020-02-12 21:55] yousseb commented on #5527
@mvp It’s already GPL2 (LICENSE file). What am I missing?

On Tue, Feb 11, 2020 at 3:37 PM mvp <notifications@github.com> wrote:

[2020-02-12 22:45] BananaHemic commented on #5807
I only tested with Unity

[2020-02-12 22:50] mvp commented on #5527
@yousseb , I just looked at first line of `main.cpp`:

https://github.com/yousseb/t265_reset/blob/95ba890fb5fd56b0ebe022ef86a96e5c431a3a0c/main.cpp#L1

and it says:

    // Copyright(c) 2020 Intel Corporation. All Rights Reserved.

I understand that you added LICENSE with GPL2 just yesterday. But perhaps you should be consistent with your licensing information.

[2020-02-12 22:57] mvp commented on #5527
@m4xr1sk , it seems that the only difference between your approach

    sudo ./uhubctl -e -l 2-2   -a 0
    sudo ./uhubctl -e -l 1-1.2 -a 0
    sleep .5
    sudo ./uhubctl -e -l 1-1.2 -a 1 -R
    sudo ./uhubctl -e -l 2-2   -a 1 -R

and if you call `sudo uhubctl -l 2-2 -a cycle -R` would do the same, but in slightly different order, it would be equivalent to:

    sudo ./uhubctl -e -l 2-2   -a 0

[2020-02-13 01:37] RealSenseCustomerSupport commented on #5476
----------------------------------------------

@kromond Did you get chance to try? Looking forward to your reply. Thanks!

[2020-02-13 01:38] RealSenseCustomerSupport commented on #5486
----------------------------------------------

@Dontla Did you get any chance to try? Any other questions about this ticket? Looking forward to your reply. Thanks!

[2020-02-13 01:46] jiapei100 commented on #5777
@dorodnic @RealSenseCustomerSupport
If I insist on using Python 3.8.1? Or, I wanna build librealsense from scratch with Python bindings Enabled?

[2020-02-13 01:47] RealSenseCustomerSupport commented on #5764
----------------------------------------------

The frame counter is due to the rgb and depth sensors started at slightly different time.
Closing this issue if no further question. Thank you.

[2020-02-13 01:50] agrunnet opened #5838 "On-Chip Calibration"
We are starting this post to address any questions about the On-Chip Calibration.
A white paper will be posted shortly. The features have already been released in the SDK as beta, and are accessible in the RealSense Viewer to test out already now. They are called:

**1. "Self-Calibration"** - This performs a health-check and tunes a RealSense Stereo Camera (D415 & D435) to improve the depth noise.

[2020-02-13 02:03] #5642 closed

[2020-02-13 02:25] RealSenseCustomerSupport commented on #3360
----------------------------------------------

I guess it should be something wrong in the flow.
Please try this snippet.

    pipeline = new Pipeline();var cfg = new Config();cfg.EnableDeviceFromFile("PATH_TO_A_BAG_FILE");var pp = pipeline.Start(cfg);using (var playback = PlaybackDevice.FromDevice(pp.Device)){ print("pos: " + playback.Position); print("dur: " + playback.Duration); print((double)

[2020-02-13 02:51] DreamLFairy opened #5839 "How to make sure the same frame is taken when two cameras are turned on?"
The object I want to shoot is moved on a conveyor belt, and at the same time there are many different objects.I need two cameras to shoot an object at the same time, and then .So I want my two cameras to take the same frame.How can this be done?Thank you very much for your answers,I will look at them one by one.By the way,how can I reply to your reply?

[2020-02-13 03:24] RealSenseCustomerSupport commented on #5566
----------------------------------------------

@Scientifeet Any update from your side? Looking forward to your reply. Thanks!

[2020-02-13 03:26] RealSenseCustomerSupport commented on #5620
----------------------------------------------

@eliranno Could you please provide more details if you still need support on this? Thanks!

[2020-02-13 03:27] RealSenseCustomerSupport commented on #5602
----------------------------------------------

@radfordi  Any other questions for this ticket? Looking forward to your reply. Thanks!

[2020-02-13 03:28] RealSenseCustomerSupport commented on #5630
----------------------------------------------

@HIAI2019 Any other questions from your side? Looking forward to your reply. Thanks!

[2020-02-13 03:29] RealSenseCustomerSupport commented on #5656
----------------------------------------------

@jiangxkjohn Did you get it through? Looking forward to your reply. Thanks!

[2020-02-13 04:04] #5607 closed

[2020-02-13 04:41] KR51K opened #5840 "Offtopic: VIO algorithm info of T265"
Hi,

this might be a little bit off-topic but I'm interested in details about the vslam/VIO algorithm inside the T265. I found this site ([here](https://dev.intelrealsense.com/docs/intel-realsensetm-visual-slam-and-the-t265-tracking-camera)), but it's just about the basic and not e.g. which feature detection/classifier has been used. Do you know where I can further information/paper on this?

Than

[2020-02-13 05:40] agrunnet commented on #5840
Thanks for your interest. Unfortunately we are not really releasing any more details on our exact approach at this time. I hope you understand.

[2020-02-13 05:58] RealSenseCustomerSupport commented on #5777
----------------------------------------------

@jiapei100 If you want build librealsense from source, please refer to https://github.com/IntelRealSense/librealsense/tree/master/wrappers/python#building-from-source

[2020-02-13 06:12] RealSenseCustomerSupport commented on #5831
----------------------------------------------

@Colinsiya  From the information you provided, you're using armeabi-v7a. What did you configure for "ANDROID_ABI" when build?

cmake .. -DANDROID_ABI= - DCMAKE_TOOLCHAIN_FILE=/build/cmake/android.toolchain.cmake

[2020-02-13 06:31] urock commented on #4176
Hi guys, let me put mine dime into the discussion. We have performed tests of T265 on vibration stand going though frequencies and acceleration amplitude in [2 - 150 Hz] and [0.5 - 8 g] measuring point when T265 would start loosing position. Results are the following

![image](https://user-images.githubusercontent.com/1125366/74407176-7f5f9500-4e42-11ea-889f-8432fdcca0db.png)

You can see that wit

[2020-02-13 06:54] MartyG-RealSense commented on #5838
Thanks so much for the information!  I have shared a link to this post on the Intel Support site's RealSense forum.

[2020-02-13 07:28] MartyG-RealSense commented on #5839
To reply to a comment, you can write a message in the text box at the bottom of the page and click the green 'Comment' button.

I recall a case where someone aimed to trigger a RealSense camera on a conveyor belt when objects pass by a photoelectric switch.  When an object passes through a light beam and breaks it, an electrical pulse (such as one used to trigger a camera) can be generated.

Anoth

[2020-02-13 07:53] RealSenseCustomerSupport commented on #5438
----------------------------------------------

@vshalkov Any other questions? Looking forward to your reply. Thanks!

[2020-02-13 08:11] DreamLFairy opened #5841 "How to set point cloud not to fit"
I hung the object on a trolley, it was at a distance from the trolley.But the generated point cloud and the cart are connected.This makes it difficult for me to filter out the backgroud.I hope it doesn't fit points that don't exist in reality.I'm quiet keen on your answering. Thank you for answering very much;

[2020-02-13 08:23] MartyG-RealSense commented on #5841
If the trolley and the object are at the same distance (the object is hanging from the trolley) then you probably could not cut the trolley out by filtering out the background beyond a certain depth.  A better method may be to define a 'bounding box' around the area where the object is, so that only the points inside the box are used and everything outside of the box is ignored.

The Lego brick co

[2020-02-13 08:29] DreamLFairy commented on #5841
First, how do I upload pictures?

I think you got me wrong. I use another brand of camera, which can be separated at different distances, but with the intel d345, the same conditions and objects cannot be separated by distance. I found that the generated point clouds are automatically fitted, so that point clouds of different distances are connected together. Thank you for you reply.

[2020-02-13 08:35] DreamLFairy commented on #5841
First, how do I upload pictures?

I think you got me wrong. I use another brand of camera, which can be separated at different distances, but with the intel d345, the same conditions and objects cannot be separated by distance. I found that the generated point clouds are automatically fitted, so that point clouds of different distances are connected together. Thank you for you reply.

[2020-02-13 08:38] MartyG-RealSense opened #5842 "Announcement: Highlighting IHMC Research's use of RealSense for limb mobility / Pudu Technology on the RealSense blog"
Hi everyone,

IHMC Research posted a video on YouTube highlighting use by an intern of a RealSense D435 camera with the Up Squared board for assistance with limb mobility.

https://www.youtube.com/watch?v=vpMYbjkPalI

**Update:**  In other news, the RealSense blog has published an article about the RealSense-equipped food delivery robots from Pudu Technology.

https://www.intelrealsense.com/pudu-d

[2020-02-13 08:39] #5808 closed

[2020-02-13 08:43] MartyG-RealSense commented on #5841
You can add pictures to the message by dragging an image file into the comment box, or copying the image in a paint program and Pasting it into the comment window

[2020-02-13 09:01] DreamLFairy commented on #5841
I cann't upload a picture.It said"Something went really wrong,and we can't proces the file,Try again".
But I tried many times and it still has errors.
Is there any other way to communicate?

[2020-02-13 09:04] schmiran commented on #5828
Hey @wangroger0801 ,

so installing the development branch didn't help after all? I'll try it this afternoon and let you know.

Regarding your error message with the frames:

I get the same error message when I run sensors across the Hub. Even on the first sensor. If I connect them directly to the system, I don't get that error message.

[2020-02-13 09:07] JasonHoon commented on #5680
@RealSenseCustomerSupport Sorry for the late reply. When I tested, I found some regularity, as you said.

My computer has 4 usb 3.0 ports, and I installed four more (PCI - express ).

so I connect 8 cameras directly into the usb3.0 port on my computer.
port 1 - cam1
port 2 - cam2
port 3 - cam3
port 4 - cam4
port 5 - cam5
port 6 - cam6
port 7 - cam7
port 8 - cam8
First, I found problem cam1. so, I

[2020-02-13 09:22] MartyG-RealSense commented on #5841
you could try posting your image at the other RealSense forum, where I also answer messages.

https://support.intelrealsense.com/hc/en-us/community/topics

With RealSense you can define a 'depth clamp' with a minimum distance and a maximum distance, so that values outside of that range are ignored. An easy way to test this is in the **Depth Table** sub-section of the RealSense Viewer's **Advanced

[2020-02-13 09:24] jb455 commented on #5743
If you generate the pointcloud from the aligned depth frame it will have the colour intrinsics and correspond to the colour fov. Once you have the pointcloud aligned to the external camera, to project it to the external camera's plane you'd use the external intrinsics.
Maybe your extrinsics are the wrong way around? ie, colour->external vs external->colour. To reverse it you could either swap came

[2020-02-13 10:26] schmiran commented on #5828
For the problem with the wrong physical ID I found this https://github.com/IntelRealSense/realsense-ros/issues/1051#issuecomment-576942007 and will test it later.

[2020-02-13 10:28] hamsterasu opened #5843 "Python example for T265 relocalization event notification"
Hi, can anyone show me an Python example for setting up a relocalization event notification for T265. I have referred to this example https://github.com/IntelRealSense/librealsense/tree/master/examples/ar-advanced but this is in C++.

[2020-02-13 10:49] MartyG-RealSense commented on #5843
I hope that the link below will be helpful to you.  It makes reference to a problem with firmware at the time that the comment was written (March 2019) but they released an updated firmware later.

https://github.com/IntelRealSense/librealsense/issues/3516#issuecomment-474828004

[2020-02-13 11:01] MartyG-RealSense commented on #5841
I will post your images here so that the RealSense forum team members can see them easily too.

"The first picture is Intel's camera,the second picture is other's camera.The third picture is the difference;  This makes it difficult for me to filter out the background.  I hope it doesn't fit points that don't exist in reality".

![image](https://user-images.githubusercontent.com/41145062/74427964-0

[2020-02-13 11:04] MartyG-RealSense commented on #5841
In the first image taken with the RealSense camera, it looks as though the surface between the trolley and object is actually there (e.g the top of the trolley).  It might be difficult to remove if that is the case.

One way to get the RealSense camera to ignore that area might be to put a black surface on top of the trolley, as depth cameras have difficulty seeing black colored areas and may rend

[2020-02-13 11:42] kafan1986 commented on #5838
Great! After seeing a new android example app's code having two calibration method, I was just going to post a separate question till I saw this post. Will be looking forward to the detailed method.

Also, I am not sure if the android example has functionality to burn in the new calibration currently, so that it maintain state across boots.

[2020-02-13 13:39] ASSSTUM commented on #5696
I have changed my code according to your suggestions:
[code]
At the config part I changed the resolution to `config.enable_stream(rs.stream.depth, 848, 480, rs.format.z16, 60)`. Then I define the settings of the camera:
With this code `depth_sensor.set_option(rs.option.visual_preset, 3)` I try high accuracy preset and with this line `colorizer.set_option(rs.option.max_distance,12)#[0-16]` I make s

[2020-02-13 13:48] Colinsiya commented on #5831
@dorodnic When I build the librealsense I use the parameter "armeabi-v7a" for "ANDROID_ABI".

`$ cmake .. -DANDROID_ABI=armeabi-v7a -DCMAKE_TOOLCHAIN_FILE=/build/cmake/android.toolchain.cmake`

I am using a phone with android 5.1.1, with an ARMv7 Processor rev 3 (v71).

Hope this is the answer to your question, if not, let me know, and I'll give you more information. Thanks a lot !

[2020-02-13 14:00] MartyG-RealSense commented on #5696
You may get a better image if you apply post-processing filters.  Intel has a Python tutorial for adding filters that perform a range of image improvement functions including hole-filling.

https://github.com/IntelRealSense/librealsense/blob/jupyter/notebooks/depth_filters.ipynb

The tutorial shows images 'before' and 'after' applying a range of filters to illustrate the improvement that can be ac

[2020-02-13 14:33] neilyoung commented on #5756
@radfordi I'm opting out this repo now. Would be nice if you could give me a ping once there is something to test for me. TIA

[2020-02-13 14:48] bradsteiner-pff opened #5844 "Creating rs2::depth_frame from pointer to binary data"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | {  D400 } |
| Firmware Version                   | newest |
| Operating System & Version |   { Linux (Ubuntu 16)  |
| Kernel Version (Linux Only)    |  (4.15.0)

[2020-02-13 14:57] bradsteiner-pff commented on #5844
Found an answer here:
https://github.com/IntelRealSense/librealsense/issues/2462#issuecomment-439694887
https://github.com/IntelRealSense/librealsense/issues/4740#issuecomment-535060656

[2020-02-13 14:57] #5844 closed

[2020-02-13 15:51] partlygloudy commented on #4080
@radfordi Any update on when this functionality may become available? My team has had some success initializing the t265 at an angle before orienting it to face the ground, however, for the particular application we're working on, that won't be an option. We know the camera will always be facing the ground on startup, but we won't be able to touch or move the vehicle in any way. The functionality

[2020-02-13 16:08] kevinpaulsudarshan opened #5845 "Intel Realsense SR300 with Jetson Nano produces incorrect depth values in Ubuntu"
* Before opening a new issue, we wanted to provide you with some useful suggestions (Click "Preview" above for a better view):

    * Consider checking out SDK [examples](https://github.com/IntelRealSense/librealsense/tree/master/examples#sample-code-for-intel-realsense-cameras).
    * Have you looked in our [documentations](https://github.com/IntelRealSense/librealsense/tree/master/doc#useful-lin

[2020-02-13 18:20] kromond commented on #5476
Yes that was the clue I needed.  Thank you very much

[2020-02-13 18:20] #5476 closed

[2020-02-13 18:33] RealSenseCustomerSupport commented on #5797
----------------------------------------------

I am glad to hear the issue is resolved after upgrading the PCL library.
The rotation/flipping may be due to the use of different coordinate system,
Please refer to this similar case for ply export:
https://github.com/IntelRealSense/librealsense/issues/3589
Closing this issue for now. Please feel free to open a new issue for any other question.
Thank

[2020-02-13 20:00] partlygloudy commented on #4518
So we've now tried a variety of dampening strategies including rubber mounts, various types of foam, and a wire-rope isolator. None of them have seemed to have any significant impact on the accelerations reported by the Realsense. We're now starting to suspect that some combination of prop wash and vibration coming through the USB cable may be thwarting all of our damping attempts.

We're at the p

[2020-02-13 21:21] nawara72 commented on #5764
Great thanks for all the help

[2020-02-13 21:21] #5764 closed

[2020-02-13 23:08] flyingfalafel commented on #2811
If it all goes without errors, you should be able to find the pyrealsense2.<arch info>.so under build/wrappers/python (actually 3 files with the same name and extensions .so, .so.2, .so.2.8.1).
Now the easiest way to use it is run python from that folder and import pyrealsense2

source: https://github.com/IntelRealSense/librealsense/issues/793

[2020-02-13 23:16] RealSenseCustomerSupport commented on #5843
----------------------------------------------

Also want to add that there are no plans on adding any further examples for T265

Here is the T265.md:  https://github.com/IntelRealSense/librealsense/blob/83f952a4bd6b70d72459f66c7f67ddaba9d337a0/doc/t265.md
Outlines the examples available for T265

Let us know if anything further is needed

[2020-02-14 00:09] RealSenseCustomerSupport commented on #5797
----------------------------------------------

My apologies as the previous response was actually meant for #5635.
The compile error is related to the VTK.
Please check all the dependencies and minimum required versions for PCL are met. On windows for example:
http://pointclouds.org/documentation/tutorials/compiling_pcl_dependencies_windows.php
Please let us know if further help is needed.

Thank

[2020-02-14 00:11] RealSenseCustomerSupport commented on #5635
----------------------------------------------

The rotation/flipping may be due to the use of different coordinate system. Please feel free to open a new issue for any other question.
 Thank you.

[2020-02-14 00:47] RealSenseCustomerSupport commented on #5790
----------------------------------------------

@neilyoung Is your request to add the **attribute 'version' for Linux/Windows?** Looking forward to your reply. Thanks!

[2020-02-14 02:23] RealSenseCustomerSupport commented on #5845
----------------------------------------------

@kevinpaulsudarshan Seems the snapshot of **Ubuntu(Jetson nano)** doesn't show depth. Could you please provide another snapshot and specify where you saw 0.13m difference?

[2020-02-14 02:44] RealSenseCustomerSupport commented on #5827
----------------------------------------------

@ninamwa Did you follow the https://intel.github.io/robot_devkit_doc/pages/rs_slam.html step by step? Is it possible to submit this issue on that project to get more help?

[2020-02-14 02:53] RealSenseCustomerSupport commented on #5824
----------------------------------------------

@BeatrizAMartins Could you please specify how you get the raw file of a frame from RealSenseViewer? Thanks!

[2020-02-14 03:44] DreamLFairy commented on #5841
Thank you for your reply very much. Is it possible to remove the horizontal point clouds connected in the picture?The two vertical boards are separated, but they are not actually connected.The effect of the second picture is consistent with reality. I also hope that Intel's cameras can achieve this situation.

[2020-02-14 04:06] whatisor commented on #4469
@RealSenseCustomerSupport Have you checked my gdb log or try to combine Realsense with OpenVINO on Raspberry Pi 3/4?
I am still stuck with the Segmentation fault problem of the Alignment API. As a result, I cannot use for  Intel device for my project.

[2020-02-14 06:05] weseu opened #5846 "SR305 on TX2(Jetpack4.2) Realsense-viewer get depth value error"
----------------------------------------------------------------------------------------------------

| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | SR305 |
| Firmware Version                   | 2.31.0 |
| Operating Sys

[2020-02-14 06:33] jc211 opened #5847 "Manual frameset creation"
Hi,
I have one depth frame and one color frame. I want to create a frameset myself of these two. Is this possible?

[2020-02-14 06:54] MartyG-RealSense commented on #5847
There was a previous case in 2019 where someone tried to create framesets manually using **software device**.  Their work may provide a useful reference for you.

https://support.intelrealsense.com/hc/en-us/community/posts/360037090133-Construct-Frameset-Object

[2020-02-14 06:59] neilyoung commented on #5790
Exactly

[2020-02-14 07:10] RealSenseCustomerSupport commented on #4469
----------------------------------------------

@whatisor Your issue seems closed on github. Please create another new issue if it's not resolved. Thanks!

[2020-02-14 07:18] RealSenseCustomerSupport commented on #5516
----------------------------------------------

@MubasshirAhmed  @crogersarvr  Any other questions about this ticket?Looking forward to your update. Thanks!

[2020-02-14 07:19] MartyG-RealSense commented on #5841
Looking very carefully at the image made by RealSense, the depth of the horizontal strip looks slightly behind the upper block.  Is there a wall behind the object that the camera might be seeing through the gap in between object and trolley?  If there is, simply setting a Max Depth clamp should remove the wall from the image.

[2020-02-14 07:42] RealSenseCustomerSupport commented on #5790
----------------------------------------------

@neilyoung Thanks for the quick reply! Already feedback this to the engineering team. Any update will let you know. Thanks!

[2020-02-14 07:48] jiapei100 commented on #5797
@RealSenseCustomerSupport

I guess this bug may have something to do with **VTK** visualization, which is related to **PCL** visualization, which **librealsense** based upon. I'm using the **NEWEST** git of every package. Just wonder which version you are using to make your sample work ?

[2020-02-14 08:50] RealSenseCustomerSupport commented on #5749
----------------------------------------------

I think you should add librealsense2.dylib or librealsense2.a to your project as a dependence.
Please refer to this document.
https://help.apple.com/xcode/mac/current/#/dev51a648b07

[2020-02-14 11:17] kevinpaulsudarshan commented on #5845
Here are two snapshots of the same scene on Windows and Ubuntu respectively. In **Ubuntu I have set the "Motion to depth range" to 220. In Windows the same parameter is 9**. The distance to the object on Ubuntu is 0.12m and on Windows is 0.56m(left bottom corner of the image in realsense-viewer). The distance to object on Ubuntu always caps out at 0.13m. **0.13m is not the difference but the maxim

[2020-02-14 12:10] RealSenseCustomerSupport commented on #4212
----------------------------------------------

Please try this code.

    import pyrealsense2 as rs2
    import time

    current_devices = []

    def on_devices_changed(info):
        global current_devices
        devs = info.get_new_devices()
        print("on_devices_changed called new_devices:", devs.size())
        for dev in devs:
            current_devices.append(dev)

        for dev i

[2020-02-14 13:35] RealSenseCustomerSupport commented on #4898
----------------------------------------------

@davidsamson I tried with the latest SDK version with FW 5.12.1 and couldn't reproduce. Could you please try the latest SDK and FW version to see if you still have the issue? Looking forward to your update. Thanks!

[2020-02-14 13:58] xiao-keeplearning commented on #5371
Thanks for your help，I have solved the problem temporarily.

[2020-02-14 14:31] g2-bernotas opened #5848 "Remove the first X frames from a recorded bagfile"
----------------------------------------------------------------------------------------------------
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D400  |
| Operating System & Version |   Win (8.1/10)  |

[2020-02-14 14:48] VivienDelmon commented on #3990
I also have issue to calibrate my D435 cameras. By using the GUI tool on Windows it freeze after scale calibration.
When I use the Intel.Realsense.DynamicCalibratorCLI.exe it also fails before RGB calibration but a CalibrationTable.xml file is created under DyCalibResult/<sn>/DC1/ with values that differ from those of the camera. I upload them to the camera using Intel.Realsense.CustomRW.exe -w -f

[2020-02-14 14:48] MartyG-RealSense commented on #5848
ROS has a toolkit called bag_tools that features a program called cut.py.  It can input a bag file, crop it to the specified start point and 'duration' end-point, and write the result as an output bag.

http://wiki.ros.org/bag_tools#cut.py

[2020-02-14 15:10] MartyG-RealSense commented on #5848
You covered every bag editing possibility that my own research could turn up.  If your aim is to prevent the camera recording for the first few seconds after the camera starts, the easiest approach would likely be to simply pause the recording for a few seconds and then un-pause it.

Doing so with Python is discussed in the link below in a case where another user wanted to avoid recording the firs

[2020-02-14 15:17] g2-bernotas commented on #5848
@MartyG-RealSense thank you for your response. I will use the cut.py then or skip X frames. I was wondering if it would be possible to add such a feature (bagfile splitting/cutting) as an enhancement of the software you provide (in addition to the tools) as it might be relevant to other users as well that do not want to go the ROS path.

[2020-02-14 15:40] MartyG-RealSense commented on #5848
I've added the 'Enhancement' label to this post to tag it as a Feature Request that the RealSense developer team can track.

[2020-02-14 18:31] GrainsofSalt commented on #4771
When in place, the depth and rgb are aligned perfectly. As the camera starts to move faster (in a straight line), the two images start to dis-align proportional to the vertical position (meaning at the bottom they are still aligned, but at the top they are completely dis-aligned). The exposure on the rgb was set to 25 microseconds so that the rgb images taken wouldn't blur when going around 5mph.

[2020-02-14 18:59] RealSenseCustomerSupport commented on #5619
----------------------------------------------

@RoxanneUCAS2016,

Do you still need help with this question?

[2020-02-14 19:22] RealSenseCustomerSupport commented on #5839
----------------------------------------------

Hi DreamLFairy

0) Sounds you're looking for the multi-cam sync feature (https://dev.intelrealsense.com/docs/multiple-depth-cameras-configuration)
1) What kind of RealSense cameras are you using now? two D435 or two D415? (there is a limitation on this feature for D435)
2) Then what camera sensors are you looking for "to shoot object at same time"? D

[2020-02-14 19:31] omarfakhr commented on #5749
@RealSenseCustomerSupport Thanks, but where do I find librealsense2.dylib?

[2020-02-14 23:04] RealSenseCustomerSupport commented on #5836
----------------------------------------------

Hi @aksharif05

Is there something specific with this thread that you're looking for?  If you're coding via C++, you should be able to operate the T265 under Unreal Engine.

Links to have a look at:
https://github.com/IntelRealSense/librealsense/issues/5342

[2020-02-15 00:04] rb9175 opened #5849 "Modifying mapped_pixels value in kernel_transfer_pixels in cuda-align.cu"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D400  |
| Firmware Version                   | 5.11.15.0 |
| Operating System & Version |  Ubuntu 16.04 |
| Kernel Version (Linux Only)    |  4.15.0-36  |
| Platform

[2020-02-15 00:11] RealSenseCustomerSupport commented on #5773
----------------------------------------------

@drfg0119,

Please open a new thread with the question about performance of SR305. The current thread will be closed since the original question regarding downgrading the librealsense version from 2.32.1 to 2.31.0 was resolved.

Thank you!

[2020-02-15 00:33] RealSenseCustomerSupport commented on #5846
----------------------------------------------

Is there any difference (2.22 vs 2.31) in the "depth units" under the Control tab?

[2020-02-15 01:14] weseu commented on #5846
how do I know  the "depth units" under the Control tab?

[2020-02-15 01:54] weseu commented on #5846
it show 0.000125.

![Screenshot from 2020-02-15 09-52-54](https://user-images.githubusercontent.com/57337171/74579876-0fcfde00-4fd9-11ea-97a5-a3bfab6baa6a.png)

[2020-02-15 02:10] weseu commented on #5846
By the way. If I use version 2.22.0, I can get currect depth value 2cm to 1.5m.
but I use version 2.24 or later. I will get the following relevance.

actual distance          depth distance
5 cm                                  0.05m
10cm                                 0.10m
15cm                                 0.07m
20cm                                 0.06m
30cm

[2020-02-15 02:11] RealSenseCustomerSupport commented on #5088
----------------------------------------------

Unfortunately, it's hard to create composite_frame in out of librealsense.
https://github.com/IntelRealSense/librealsense/blob/master/src/archive.cpp#L167

BTW, don't forget to save the intrinsics/extrinsics of these frames.

There is recording/playback mechanism in librealsese. but it may drop some frame according to system load.
https://github.com/

[2020-02-15 02:46] RealSenseCustomerSupport commented on #4868
----------------------------------------------

Please change the line `profile = pipe.start()` to

        cfg = realsense.config();
        %stream_type => 1: DEPTH, 2: COLOR, 3: IR
        %format => 1: Z16, 4: YUYV, 5: RGB8, 9: Y8, 14: UYVY
        %cfg.enable_stream(stream_type, stream_index, width, height, format, fps)
        cfg.enable_stream(1, -1, 640, 480, 1, 30) % for example
        p

[2020-02-15 02:51] RealSenseCustomerSupport commented on #5749
----------------------------------------------

Please follow this document.
https://github.com/IntelRealSense/librealsense/blob/master/doc/installation_osx.md

[2020-02-15 03:20] RealSenseCustomerSupport commented on #5812
----------------------------------------------

I think this project will help you.
https://github.com/IntelRealSense/realsense-ros

https://github.com/IntelRealSense/realsense-ros/blob/development/realsense2_camera/src/base_realsense_node.cpp#L805

[2020-02-15 05:17] deepak-1530 commented on #5819
No

[2020-02-15 05:17] #5819 closed

[2020-02-15 07:11] zainmehdi opened #5850 "Strange X Axis Drift. Plot Attached"
Camera Model | T265
-- | --
Firmware Version | 0.2.0.926
Operating System & Version | Linux (Ubuntu 18)
Kernel Version | 4.15.0-54-generic
Platform | NanoPI
SDK Version | 2.31
Language | C++
Segment | Robot

### Issue Description
I am having a strange drift in X-axis even though I am moving in a straight line. I am attaching my plots. All units are in cm. I have turned off pose jumping and relocal

[2020-02-15 09:10] Dontla opened #5851 "How to get D435 error log file from Intel Realsense Viewer?"
* Before opening a new issue, we wanted to provide you with some useful suggestions (Click "Preview" above for a better view):

    * Consider checking out SDK [examples](https://github.com/IntelRealSense/librealsense/tree/master/examples#sample-code-for-intel-realsense-cameras).
    * Have you looked in our [documentations](https://github.com/IntelRealSense/librealsense/tree/master/doc#useful-lin

[2020-02-15 09:15] MartyG-RealSense commented on #5850
@radfordi will be able to answer this question better than I can, but I will try to provide some initial input.

There was a case where velocity was drifting off to the right even when the robot was stationary, and doing it during motion too.  They reported that it only occurred for them when pose jumping was set to false.

https://github.com/IntelRealSense/librealsense/issues/4876

[2020-02-15 09:16] zainmehdi commented on #5850
Thanks @MartyG-RealSense I will try to turn pose jumping on and check the performance

[2020-02-15 09:57] MartyG-RealSense commented on #5851
First, open up the RealSense Viewer's "Settings" window by left-clicking on the gear-wheel icon in the top corner of the Viewer window and selecting 'Settings' from its drop-down menu.

![image](https://user-images.githubusercontent.com/41145062/74585819-1e1dfa00-4fd9-11ea-9693-20b8e18bbde3.png)

When the Settings window pops up, left-click on the 'General' tab at the top of it.  Then left-click o

[2020-02-15 11:25] Dontla opened #5852 "What could be causing 'Backend in rs2_create_device...'?"
* Before opening a new issue, we wanted to provide you with some useful suggestions (Click "Preview" above for a better view):

    * Consider checking out SDK [examples](https://github.com/IntelRealSense/librealsense/tree/master/examples#sample-code-for-intel-realsense-cameras).
    * Have you looked in our [documentations](https://github.com/IntelRealSense/librealsense/tree/master/doc#useful-lin

[2020-02-15 12:44] MartyG-RealSense commented on #5852
This error tends to occur when camera privacy settings are enabled in Windows.   Sometimes the privacy settings may get switched on automatically when Windows upgrades to a newer version.

Please see the link below for information on how to make sure that windows is able to access the camera hardware and camera software applications.

https://github.com/IntelRealSense/librealsense/issues/3381#issu

[2020-02-15 13:23] RealSenseCustomerSupport commented on #5721
----------------------------------------------

Thank you for your contribution.

There is the PR. https://github.com/IntelRealSense/librealsense/pull/5853

[2020-02-15 13:35] #5794 closed

[2020-02-15 15:21] Dontla opened #5854 "What could be causing 'RT IC2 Config error'?"
* Before opening a new issue, we wanted to provide you with some useful suggestions (Click "Preview" above for a better view):

    * Consider checking out SDK [examples](https://github.com/IntelRealSense/librealsense/tree/master/examples#sample-code-for-intel-realsense-cameras).
    * Have you looked in our [documentations](https://github.com/IntelRealSense/librealsense/tree/master/doc#useful-lin

[2020-02-15 16:01] MartyG-RealSense commented on #2412
Apologies for the delay in responding.   I have re-opened the issue for you.

[2020-02-15 16:12] MartyG-RealSense commented on #5854
Are you using the official short USB cable that was supplied with the camera, please?

[2020-02-15 17:28] kafan1986 opened #5855 "Need clarity regarding rs2_deproject_pixel_to_point"
I have one doubt. If I use rs2_deproject_pixel_to_point to deproject pixel two pixels both representing the same real world point, once for colour frame and once for depth frame, using same z value and corresponding camera intrinsics. So based on my understanding, ideally the two points obtained will be having same z Value and will only differ in x and y values due to different point of observatio

[2020-02-15 19:59] omarfakhr commented on #5749
@RealSenseCustomerSupport thanks again for the prompt reply. Yes I have tried that. I linked the library into the project and it still does not work. Also the link you suggested is not complete I fear. in order to perform CMAKE the ropistory should be cloned into the Build Folder, which the document does not mention. So I am asking: Is there anyway to have a start to finish complete explanation of

[2020-02-15 22:08] m4xr1sk commented on #5527
The Intel T265 stop working (using rs-pose) after some minutes if connected to the Amazon Hub. If I launch again rs-pose it works.
Directly connected to the Raspberry PI 4: no problems.
How I can investigate the problem? Any suggestion?

[2020-02-16 03:14] gavan1 opened #5856 "nodejs wrapper broken."
| Camera Model                       | {  D435i } |
| Firmware Version                   | 05.12.02.100 |
| Operating System & Version |   { MacOS  Catalina}|
| SDK Version                            |  {  2.0 }                          |
| Language                            |  {nodejs }                          |
| Segment			|  {VR/AR }                          |

node v8.17.0. ...When using a m

[2020-02-16 03:42] RealSenseCustomerSupport commented on #5749
----------------------------------------------

according to the issue https://github.com/IntelRealSense/librealsense/issues/4680, I think there is something wrong in your project setting.

[2020-02-16 05:33] FPSychotic opened #5857 "Is it posible add ICP odometry fusion from a 2D lidar on T265?"
I think it could be nice to substitute/complement the wheel odometry fusion with the ICP odometry from a 2D lidar, maybe it could be useful too for relocalization, calibration, loop closure...

[2020-02-16 07:26] MartyG-RealSense commented on #5857
ICP odometry is supported by RTABMAP, software which has been used a number of times with a pairing of T265 and a 400 Series depth camera. The link below discusses though why ICP is disabled by default on RTABMAP due to it being a negative influence in some use-cases.

https://github.com/introlab/rtabmap/wiki/ICP

If you wanted to pair the T265 with the forthcoming L515 lidar depth camera, I would

[2020-02-16 07:31] omarfakhr commented on #5749
@RealSenseCustomerSupport Thanks again very much. I do not know of this issue addresses my problem. I was able to integrate the library into the XCODE project as you suggested. How can I access the functions? Should I still make a bridging header and access the code from cpp file, while everything else is in swift??

[2020-02-16 10:24] drfg0119 opened #5859 "Can't take the correct info from the topic "/camera/aligned_depth_to_color/image_raw" which is under rs_camera.launch"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | {SR300 / D400 } |
| Firmware Version                   |   |
| Operating System & Version |   TX2(Ubuntu 18.04) & PC(Ubuntu 16.04)   |
| ROS Version |   TX2(melodic) & PC(Ki

[2020-02-16 12:07] FPSychotic commented on #5857
Thank you by the advice, I didn't have acknowledged of that situation. My setup os d435+t265+2D 360 Lidar and I don't how I should integrate it with the cameras. I though that maybe it could substitute the use of wheel encoders and get at least the same improvement than could get with cheap en encoders or from a VESC and its sensored motor. I can use Rtabmap, or any other software.

[2020-02-16 13:30] MartyG-RealSense commented on #5857
Do you need further advice on this subject, please?

[2020-02-16 14:18] #5857 closed

[2020-02-16 15:16] dorodnic commented on #5847
Hi @jc211 @MartyG-RealSense
Another way to do this is using custom processing block:
[code]
Use like this:
[code]
In either of the methods you need some object to own any frames you want to create (either software device or processing block). This is because all frames in the SDK are recycled for performance reasons, so they must be part of some larger class.

[2020-02-16 15:25] Dontla commented on #5854
@MartyG-RealSense No, I use a two meter USB cable for each camera

[2020-02-16 15:33] MartyG-RealSense commented on #5854
USB cable quality can vary greatly.  Ideally, cables used for RealSense that are 2 meters or longer should be high quality, otherwise performance may be degraded or the camera may not connect at all.  Are you able to test the camera with the official short cable please to test if the camera works okay with it?

[2020-02-16 15:41] Dontla opened #5860 "If I want to use multiple Intel Realsense D435 cameras on a Linux system, what configuration does my system need to meet?"
* Before opening a new issue, we wanted to provide you with some useful suggestions (Click "Preview" above for a better view):

    * Consider checking out SDK [examples](https://github.com/IntelRealSense/librealsense/tree/master/examples#sample-code-for-intel-realsense-cameras).
    * Have you looked in our [documentations](https://github.com/IntelRealSense/librealsense/tree/master/doc#useful-lin

[2020-02-16 16:07] Dontla commented on #5854
@MartyG-RealSense I just checked the four cameras I plugged in and found that I said something wrong earlier. They are all connected using a 1m USB3.1 cable. Is there another reason that may cause RT IC2 config error?

[2020-02-16 16:19] MartyG-RealSense commented on #5854
Do you have four cameras all plugged into the same computer?

The only other thing to try for this error that I know of is to plug the camera into a mains electricity powered USB hub.  If you **are** using four cameras at the same time, I wonder if the computing device that they are plugged into does not have enough power to supply all of the cameras (something that a powered USB hub is meant to c

[2020-02-16 18:00] Andrew-fedoralabs commented on #5614
Hello @radfordi,
I have pulled the dev branch, merged #5615 and built.
I am no longer getting"no device connected" but am now getting:
 "RealSense error calling rs2_pipeline_start_with_config(pipe:0x7f6c1404e7c0, config:0x7f6c1404be00):
    Unable to open device interface"

I have tried to run rs-multicam and it now fails with the T265 ( it was working previously with master branch, but my applica

[2020-02-16 18:45] gavan1 commented on #5856
@ev-mp does this this sound like I should be downgrading my firmware D435i?

[2020-02-16 19:32] Andrew-fedoralabs commented on #5614
I have Rolled back to v2.31.0 but it still has the "no device connected" Issue. Does anyone know what version endable_device by serial number was working with T265? Its required for my application to continue development. Thanks.

[2020-02-16 19:32] Mohsen007 commented on #2664
Hi @inders
I have a big probelm with this. The SVD algorithm or opencv estimate 3d affine are not precise at all.
Could you please let me know if you found any way...
Im using D435 C#

[2020-02-16 22:00] sgstreet commented on #3728
I'm seeing the same thing.  It appears to be related to the RS2_OPTION_GLOBAL_TIME_ENABLED attribute, I hundreds of of these message a minute.
`Feb 16 13:59:34 robot-dev kernel: [1209655.255174] uvcvideo: Failed to query (GET_CUR) UVC control 1 on unit 3: -32 (exp. 1024).
Feb 16 13:59:35 robot-dev kernel: [1209655.575976] uvcvideo: Failed to query (GET_CUR) UVC control 1 on unit 3: -32 (exp. 1024)

[2020-02-16 22:30] zwn commented on #5614
I am successfully working with v2.31.0 and v2.29.0. Please check, if you are not hitting "the other problem" when T265 is not detected at all right after boot.

[2020-02-16 22:53] Andrew-fedoralabs commented on #5614
Hi Thank you for the response. This is interesting because im getting the same result on 2.31.0 that I was having before, It works if I do not start a pipe with a context or call enable_device(). Example:

This will work:
(pipe is defined earlier in the code)
rs2::config cfg;
pipe = rs2::pipeline();
cfg.enable_stream(RS2_STREAM_POSE, RS2_FORMAT_6DOF);
cfg.enable_stream(RS2_STREAM_FISHEYE, 1, RS2_F

[2020-02-16 23:48] jc211 commented on #5847
@dorodnic Thanks, that works!

[2020-02-16 23:48] #5847 closed

[2020-02-17 00:08] nawara72 opened #5861 "Hardware Sync"
Hi Just want to know if the following information are true or not?

Only hardware depth sync is available on D435, not color syn. Is it true that we can only hardware synchronize the depth images but not the color images from multiple D435s?? Or does it not matter since the color cam is already synchronized to the depth if they are running at same framerate?

Auto exposure for the depth camera D43

[2020-02-17 00:45] zwn commented on #5614
I am using python and this little script runs without errors for me with v2.29. I am not at the position to test it with 2.31 as my other T265 is in my luggage that got hold up by the airline.

[code]

[2020-02-17 01:04] RealSenseCustomerSupport commented on #5616
----------------------------------------------

@vishnukumarts Sorry we didn't hear from your for weeks. Will close the ticket at this point. Please feel free to create another ticket if you still have questions or issues.  Thanks!

[2020-02-17 01:06] RealSenseCustomerSupport commented on #5339
----------------------------------------------

@subbuweb Sorry we didn't hear from you for weeks. Will close the ticket at this point. Please feel free to create another ticket if you still have issue or questions. Thanks!

[2020-02-17 01:07] RealSenseCustomerSupport commented on #4998
----------------------------------------------

@xilunaJumma  Sorry we didn't hear from you for weeks. Will close the ticket at this point. Please feel free to create another ticket if you still have issue or questions. Thanks!

[2020-02-17 01:07] RealSenseCustomerSupport commented on #5453
----------------------------------------------

@vshalkov Sorry we didn't hear from you for weeks. Will close the ticket at this point. Please feel free to create another ticket if you still have questions or issues. Thanks!

[2020-02-17 01:42] RealSenseCustomerSupport commented on #4929
----------------------------------------------

@yokosho Sorry we didn't hear from you for weeks. Will close the ticket at this point. Please feel free to create another ticket if you still have questions or issues. Thanks!

[2020-02-17 01:48] RealSenseCustomerSupport commented on #4138
----------------------------------------------

@aaranta Could you please update? Thanks!

[2020-02-17 01:50] RealSenseCustomerSupport commented on #5181
----------------------------------------------

@RodolfoAndrade Could you please try if rs-enumerate can run successfully for your own build? And please also provide the output if it can run successfully. Thanks!

[2020-02-17 01:53] weseu commented on #5846
By the way. when I use realsense_ros 2.2.6 and librealsense 2.22.0, and folow https://github.com/IntelRealSense/realsense-ros/pull/844/commits/150ecb9bc47a6b1f6ee99e166d9e8b589aec8711`` to fix the code.

running
roslaunch realsense2_camera rs_camera align_depth:=true

and running
realsense-ros/realsense2_camera/scripts/show_center_depth.py

I get the following depth value, it is like the realsense

[2020-02-17 02:02] RealSenseCustomerSupport commented on #5728
----------------------------------------------

@AaronZettle Could you please update? Thanks!

[2020-02-17 02:03] RealSenseCustomerSupport commented on #4964
----------------------------------------------

@yoichi0110 Could you please update if you still need support on this? Thanks!

[2020-02-17 02:03] RealSenseCustomerSupport commented on #5739
----------------------------------------------

@Uvindu Any update from your side? Thanks!

[2020-02-17 02:04] RealSenseCustomerSupport commented on #5779
----------------------------------------------

@ShettyHarapanahalli Do you have any other questions with the reply from ev-mp? Looking forward to your update. Thanks!

[2020-02-17 02:05] #4929 closed

[2020-02-17 02:05] #4998 closed

[2020-02-17 02:05] #5339 closed

[2020-02-17 02:05] #5453 closed

[2020-02-17 02:05] #5616 closed

[2020-02-17 02:16] RealSenseCustomerSupport commented on #5510
----------------------------------------------

@nilendu7980 Could you please update if you still need support on this? Thanks!

[2020-02-17 02:25] Naba7 opened #5862 "I am facing the same error on eaon 19.10 ubuntu"
* Before opening a new issue, we wanted to provide you with some useful suggestions (Click "Preview" above for a better view):

    * Consider checking out SDK [examples](https://github.com/IntelRealSense/librealsense/tree/master/examples#sample-code-for-intel-realsense-cameras).
    * Have you looked in our [documentations](https://github.com/IntelRealSense/librealsense/tree/master/doc#useful-lin

[2020-02-17 02:26] Naba7 opened #5863 "libgtk-3-dev has unmet dependencies or sources.list is corrupt."
https://github.com/IntelRealSense/librealsense/issues/3772#issue-433718328 I am facing the similar issue and can't resolve it.

[2020-02-17 02:40] RealSenseCustomerSupport commented on #5296
----------------------------------------------

@compscidr Did you get chance to try? Any other questions? Looking forward to your update. Thanks!

[2020-02-17 03:34] RealSenseCustomerSupport commented on #4469
----------------------------------------------

@knicos  Any update from your side? Thanks!

[2020-02-17 03:35] RealSenseCustomerSupport commented on #5371
----------------------------------------------

@xiao-keeplearning Glad to hear the issue resolved. Thanks for the update!

[2020-02-17 04:03] #5371 closed

[2020-02-17 05:19] RoboticsIntelligence commented on #4163
x@laptop:~/ws_realsense$ ros2 launch realsense_examples rs_demo_t265.launch.py
[INFO] [launch]: All log files can be found below /home/x/.ros/log/2020-02-17-14-09-44-644737-robot-13318
[INFO] [launch]: Default logging verbosity is set to INFO
[INFO] [rviz2-1]: process started with pid [13339]
[INFO] [realsense_node-2]: process started with pid [13340]
[realsense_node-2] terminate called after thro

[2020-02-17 06:22] drfg0119 commented on #5773
OK! Thank you!!

[2020-02-17 06:22] #5773 closed

[2020-02-17 06:59] MartyG-RealSense commented on #5861
A past answer provided by. @dorodnic is: "D435 allows Depth to Color sync, and Depth to another Depth sync, but not Color to another Color, so at least one (or both) of the color sensors will not be synced".

This comment is sourced from an excellent discussion on hardware sync that is worth reading.

https://github.com/IntelRealSense/librealsense/issues/2637

Regarding auto-exposure: the common a

[2020-02-17 08:25] dorodnic commented on #5856
Hi @gavan1
Building node.js wrapper from source should be an option, and we check it is not broken with every commit ([example build](https://travis-ci.org/IntelRealSense/librealsense/jobs/650812048?utm_medium=notification&utm_source=github_status))

[2020-02-17 08:26] dorodnic commented on #5855
Yes

[2020-02-17 08:33] #5840 closed

[2020-02-17 08:45] knicos commented on #4469
Any idea how to compile rs-align? Don't remember what I did last time but 2.31.1 doesn't compile on my machine, it fails to find libusb (it is installed), attempts to compile an internal version which also fails (missing config.h). I can't spend time on this so if it doesn't work I can't help further.

I can give you this from our own application which still crashes in debug (with _DEBUG) but the

[2020-02-17 09:18] mkeyno opened #5864 "Could not initialize offscreen context"
I bought an intel realsense depth camera D435i and trying to install realsense .
I exactly followed the tutorial
When I am running realsense-viewer , I am getting the following error :
Could not initialize offscreen context!
----------------------------------------------------------------------------------------------------
hwinfo
-------------------------------------------------------------------

[2020-02-17 09:23] dorodnic commented on #5864
Hi @mkeyno
This error is not related to the RealSense camera - you should be able to run most examples and use the API. Viewer requires OpenGL 3 support, hence the error. It seems you don't have graphic drivers correctly installed, in particular:
[code]

[2020-02-17 09:35] #5855 closed

[2020-02-17 09:47] srividya91 opened #5865 "calculating the distance between object to the depth camera."
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | {D400 } |
| Operating System & Version |   {Win (10) |
| Platform                                 | PC |
| SDK Version                            |  {2.3.10} |
| Language

[2020-02-17 09:57] jb455 commented on #5865
This example should get you there: https://github.com/IntelRealSense/librealsense/blob/master/wrappers/python/examples/python-tutorial-1-depth.py

[2020-02-17 10:00] schmiran commented on #5828
Hey @wangroger0801 ,

I have now also tested the developer branch, without changes. The other hint about the physical ID couldn't help me either.

Do you have new information? Or maybe @RealSenseCustomerSupport  has an idea what causes the error messages?

[2020-02-17 12:30] ShettyHarapanahalli commented on #4769
IP 66 case for real sense, if anyone interested -
https://www.autovimation.com/en/downloads/data-sheets-english/369-chameleon-xs-realsense-1/file

[2020-02-17 12:45] MartyG-RealSense commented on #4769
@ShettyHarapanahalli   Thanks for the suggestion!   I have covered that product in a past announcement on this forum but there is no harm in highlighting it again   :)

[2020-02-17 13:04] arjunsengupta1998 commented on #4031
I got the following issue while running realsense-ros on rviz:

 15/02 05:20:53,264 WARNING [547163709824] (messenger-libusb.cpp:42) control_transfer returned error, index: 768, error: No data available, number: 61
 15/02 05:20:53,325 WARNING [547163709824] (messenger-libusb.cpp:42) control_transfer returned error, index: 768, error: No data available, number: 61
 15/02 05:20:53,430 WARNING [54716

[2020-02-17 13:30] knicos commented on #4469
Just taking another look. Is this not the problem?

Lines 623 in rs_frame.hpp (release 2.31.1)
[code]

If your debug build is without _DEBUG but I have _DEBUG then the rs_frame class is of a different size and hence will corrupt the stack as I'm seeing.

[2020-02-17 14:41] #5722 closed

[2020-02-17 14:44] dorodnic commented on #5701
Thanks @cedriclmenard

[2020-02-17 14:47] #5630 closed

[2020-02-17 15:26] dorodnic commented on #5606
Hi @for-no-one
Thank you for the reproduction scenario. I tried to reproduce but with no luck (1100 iterations and the calibration did not change). I hope someone from @RealSenseCustomerSupport could also try to reproduce.

[2020-02-17 17:04] #5779 closed

[2020-02-17 17:08] ShettyHarapanahalli commented on #5865
this could be of use for you -
https://github.com/IntelRealSense/librealsense/issues/5779

[2020-02-17 18:13] radfordi commented on #5614
@Andrew-fedoralabs, this issue should be fixed by #5615 which hasn't been merged yet.  Because you are mentioning `FISHEYE`, you can expect only a T265 to satisfy your `config`, so unless you have two T265s, you shouldn't need the serial number.

[2020-02-17 18:30] radfordi commented on #5527
Bad cable?  Not enough power for both the hub and the T265?  Are you using an external power supply for the hub?

[2020-02-17 19:23] GrainsofSalt opened #5867 "Color and Depth Maps Not Aligned as Speeds Increase"
Similar to https://github.com/IntelRealSense/librealsense/issues/4771

When in place, the depth and rgb are aligned perfectly. As the camera starts to move faster (in a straight line), the two images start to dis-align proportional to the vertical position (meaning at the bottom they are still aligned, but at the top they are completely dis-aligned). The exposure on the rgb was set to 25 microseco

[2020-02-17 19:35] davidsamson commented on #4898
Thanks, I have this fixed now with the latest firmware.

On Fri, Feb 14, 2020 at 5:35 AM RealSense Customer Support <
notifications@github.com> wrote:

[2020-02-17 20:55] ArjanVroegop commented on #5867
Hi,

Interesting question - at the moment I'm looking into the same issue. In my case I use a conveyor belt and I want to align the RGB and depth data of the objects passing the camera.

The settings I use:
- Color Camera --> Auto exposure off, Auto exposure priority off
- Depth Camera --> Inter cam sync mode 1, hardware trigger on

This way both cameras have the same frame rate (otherwise they va

[2020-02-17 21:09] MartyG-RealSense commented on #5867
The RGB sensor on both the D415 and D435 has a rolling shutter, which is slower than the global shutter on the D435's IR imagers that produce the depth image.

The D415's IR imagers are rolling shutter like the RGB (on D415, both RGB and IR use the OmniVision OV2740 imagers component, whilst the D435 uses a different OmniVision IR imager component that is wider).

The link below may provide some u

[2020-02-17 21:24] MartyG-RealSense commented on #5867
@ArjanVroegop  You are correct, the RGB sensor is integrated into the circuit board of the D415.  On the D435, the RGB sensor is attached separately via a cable.

In the caseless Depth Module board versions of 400 Series cameras, the D415 module is the only model with an RGB sensor.

[2020-02-17 21:26] m4xr1sk commented on #5527
Same conditions but back to SDK v2.31.0 and now it seems to work.
Anyway, the cable is ok, I can't use the external power supply for the hub in the final application (like mostly moving solutions) and the current drawn by the camera is only 250mA.

[2020-02-17 21:35] GrainsofSalt commented on #5867
@ArjanVroegop  I am using the D435

@MartyG-RealSense Basically you are saying that it will be impossible to get the two images to match? Inherently the rolling shutter will always take extra time to complete than a global shutter correct? Is there any way to circumvent this, or is this an unavoidable hardware flaw?

Thank you so much for the input guys

[2020-02-17 21:51] MartyG-RealSense commented on #5867
@GrainsofSalt   I will post below some info an Intel RealSense team member posted on the Intel Support site's RealSense forum.

***********

In general Depth and RGB sensors operate each with its own clock. In many use-cases though it is envisaged  that the frame pairs will be temporally coherent to allow for inter-frame inference, such as point cloud and frames alignment (registration),especially

[2020-02-17 22:03] GrainsofSalt commented on #5867
@MartyG-RealSense I appreciate the help. This explains why the aligned image diverges as you move along the vertical axis. If the rgb acts as the master to initiate the depth sensor, they will be more aligned as the rolling shutter begins its action as opposed to when it is finishing. Well, thank you for the information!

[2020-02-17 22:08] #5867 closed

[2020-02-17 22:45] nawara72 commented on #5861
Thanks MartyG for the info. I guess my next question is what frame rate do I set the D435 to if I want to asynchronously externally trigger it? any other info you can provide on asynchronous hardware triggering would be greatly appreciated. Thanks

[2020-02-17 22:56] agrunnet commented on #5861
Currently there is no asynchronous triggering feature. You want to trigger of an external signal of any frequency, correct?  This feature will come but right now you stand different cameras to exactly the same frequency determined by the master camera (being a Realsense camera).

[2020-02-17 23:31] zainmehdi commented on #4500
I am having the same issue with T265 using qtcreator as an IDE. Please provide some insight.

[2020-02-17 23:32] zainmehdi commented on #5830
I am having the same issue with T265 using qtcreator as an IDE. @RealSenseCustomerSupport  Please provide some hints on how to fix it.

[2020-02-18 01:24] RealSenseCustomerSupport commented on #4898
----------------------------------------------

@davidsamson Glad to hear that fixed. Thanks for the feedback!

[2020-02-18 01:58] franzabist opened #5868 "usb webcam broken after update to librealsense2-dkms 1.3.13-0ubuntu1"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | { T265 } |
| Firmware Version                   | 0.2.0.926 |
| Operating System & Version |   Ubuntu 18.04 LTS |
| Kernel Version (Linux Only)    |  5.3.0-40-generic , 5.0.

[2020-02-18 02:04] #4898 closed

[2020-02-18 02:42] RealSenseCustomerSupport commented on #5831
----------------------------------------------

@Colinsiya Could you please check the environment variable setting of ANDROID_NDK?

[2020-02-18 02:46] RealSenseCustomerSupport commented on #5822
----------------------------------------------

@impet14 Any other questions about this? Thanks!

[2020-02-18 02:53] RealSenseCustomerSupport commented on #5723
----------------------------------------------

@byeongkyu Is it possible for you to try other kernel version such as kernel 5.0 to see if have the same issue?

[2020-02-18 02:58] RealSenseCustomerSupport commented on #5680
----------------------------------------------

@JasonHoon Is it possible for you to try on other host PC to see if get the same issue? Thanks!

[2020-02-18 03:09] RealSenseCustomerSupport commented on #4469
----------------------------------------------

@knicos  Did you install "libusb-1.0-0-dev" for libusb? And did you build SDK from source code or use the DKMS binary? What's CPU of your setup?

[2020-02-18 06:28] militaryCoder opened #5869 "Function call in comment line"
Message sent on [this line](https://github.com/IntelRealSense/librealsense/blob/83f952a4bd6b70d72459f66c7f67ddaba9d337a0/CMake/connectivity_check.cmake#L2) would not be ever shown.

[2020-02-18 07:11] drfg0119 commented on #5859
It's the aligned depth to color image on PC.
![sr305_PC](https://user-images.githubusercontent.com/26184569/74711391-dad4bd00-525e-11ea-82ee-6aeba105968c.JPG)
And this is the incomplete frames on TX2.
![SR305_TX2](https://user-images.githubusercontent.com/26184569/74711677-93026580-525f-11ea-8c5a-be49108ea252.JPG)
But there is no problem when I run the API on TX2.
![SRviewerTX2](https://user-image

[2020-02-18 07:52] MartyG-RealSense commented on #5869
Thanks for the report!  I'll just clarify for others reading this that there is a link to a line of code, as the link was hard to see at first.

https://github.com/IntelRealSense/librealsense/blob/83f952a4bd6b70d72459f66c7f67ddaba9d337a0/CMake/connectivity_check.cmake#L2

![image](https://user-images.githubusercontent.com/41145062/74715027-9b3caf80-5223-11ea-8f89-12080edf6104.png)

[2020-02-18 07:57] KennyYaming opened #5870 "manual_reset_event use wrong parameter"
src\win\win-helpers.cpp    lines  634

        manual_reset_event::manual_reset_event()
            :event_base(CreateEvent(nullptr, **FALSE**, FALSE, nullptr))
        {}

 I think the second parameter should be  TRUE.

[2020-02-18 09:10] dorodnic commented on #5870
Hi @KennyYaming
I think you are right, thank you

[2020-02-18 09:25] dorodnic commented on #5686
Duplicate of #5688?

[2020-02-18 09:25] #5686 closed

[2020-02-18 09:45] Dontla commented on #5854
@MartyG-RealSense Yes, when I plug a D435 in a laptop, the Intel Realsense viewer will show RT IC2 Config Error. I don't know if this is the cause of insufficient power for that laptop. Now I want to use a USB hub that can supply power. Can you recommend this series of products to us? The number of cameras we use on a single computer may be between six and nine.
Best Regard!

[2020-02-18 09:45] hamsterasu commented on #5843
Sorry for late reply, I got it working. Thanks for the links. I got a working Python code snippet in Python for anyone who may need it:
[code]

[2020-02-18 09:45] #5843 closed

[2020-02-18 09:49] svabhishek29 opened #5871 "3d points from 2 D435 camera are different"
----------------------------------------------------------------------------------------------------

| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | { D435 } |
| Firmware Version                   | (05.12.02.100) |
| Op

[2020-02-18 09:53] dorodnic commented on #5871
What do you mean by different? (average distance? plane-fit RMS?)

[2020-02-18 09:58] MartyG-RealSense commented on #5843
Thanks for sharing your code with the community!   Glad you found a solution  :)

[2020-02-18 10:06] MartyG-RealSense commented on #5854
In Intel's multiple camera white paper, they use the 4-port AmazonBasics model in the link below:

https://www.amazon.com/dp/B00DQFGH80/ref=asc_df_B00DQFGH805315309/

Amazon do a 10-port AmazonBasics model if you prefer to keep everything centralized on one hub.

https://www.amazon.com/AmazonBasics-USB-10-Port-Power-Adapter/dp/B076YN6CSG

With hubs, there is a '5 deep' rule in the USB standard tha

[2020-02-18 10:10] #3854 closed

[2020-02-18 10:17] svabhishek29 commented on #5871
there is an offset that we are seeing in the new camera. we are using vtk to create an AR environment.
in that when we place a sphere in vtk, with the first camera it place on the point on interest in the second camera the sphere is to the left and top of the point of intrest

[2020-02-18 10:51] dorodnic commented on #5871
What order of magnitude of the shift?
You can also use Depth Quality Tool to gather some quantitive statistics from both cameras.
Camera getting out of calibration (due to physical damage during shipment) can result in higher plane-fit RMS or absolute offset. We provide tools (dynamic calibration and on-chip calibration) that can bring camera back to calibration.

[2020-02-18 11:23] srividya91 commented on #5779
@ShettyHarapanahalli Thanks for the response.Actually i am trying to calculate the distance for the detected object to depth camera.. so i am trying to add your code to my object deetction.. but i am getting run time error.

here is my source code
`import cv2 as cv
import cv2
import numpy as np
import pyrealsense2 as rs
import os
import time
import matplotlib.pyplot as plt
import imutils
from imut

[2020-02-18 11:27] AleBasso80 commented on #5209
Hello,
I can't reproduce the same issue on a different platform, as our application has been developed for Linux and the porting to Windows would require a big effort. I'm aware that I haven't tested many devices, therefore it is difficult to figure out what happened. Nonetheless I have some concerns: before we release any product we test the device for a couple of days and, inevitably, about the

[2020-02-18 11:45] srividya91 commented on #5779
@ShettyHarapanahalli Thanks for the response.Actually i am trying to calculate the distance for the detected object to depth camera.. so i am trying to add your code to my object deetction.. but i am getting run time error.
here is my source code
`
import cv2 as cv
import cv2
import numpy as np
import pyrealsense2 as rs
import os
import time
import matplotlib.pyplot as plt
import imutils
from imut

[2020-02-18 11:45] MartyG-RealSense commented on #5209
My understanding is that no two cameras have identical extrinsics due to the manufacturing process at the factory but the differences should not be noticeable. The possibility of faulty cameras in a batch also cannot be completely eliminated, though it is extremely rare.  Differences in image quality between multiple units of the same model of camera in the same location are more likely to be rela

[2020-02-18 11:47] minihops123 commented on #5509
Hi,
I played now several days with the T265+ D435i + Raspberry Pi 4b + Raspbian buster arround. I tried several versions of librealsense (2.32.1, 2.31, 2.29) and all have issues.
The latest (2.32.1) is the "most stable" for me but the problem is that after a (right now it looks to me random) point in time the T265 does not deliver data anymore (poll_for_frame never returns anything after a certain

[2020-02-18 11:48] srividya91 commented on #5779
@ShettyHarapanahalli Thanks for the response.Actually i am trying to calculate the distance for the detected object to depth camera.. so i am trying to add your code to my object deetction.. but i am getting run time error.

here is my source code
`import cv2 as cv
import cv2
import numpy as np
import pyrealsense2 as rs
import os
import time
import matplotlib.pyplot as plt
import imutils
from imut

[2020-02-18 11:53] srividya91 commented on #5779
@ShettyHarapanahalli Thanks for the response.Actually i am trying to calculate the distance for the detected object to depth camera.. so i am trying to add your code to my object deetction.. but i am getting run time error.

here is my source code
`import cv2 as cv
import cv2
import numpy as np
import pyrealsense2 as rs
import os
import time
import matplotlib.pyplot as plt
import imutils
from imut

[2020-02-18 12:00] militaryCoder opened #5872 "Copy-paste in documentation"
Copy-paste typo, I think.
https://github.com/IntelRealSense/librealsense/blob/83f952a4bd6b70d72459f66c7f67ddaba9d337a0/CMakeLists.txt#L14
https://github.com/IntelRealSense/librealsense/blob/83f952a4bd6b70d72459f66c7f67ddaba9d337a0/CMakeLists.txt#L20

[2020-02-18 12:03] MartyG-RealSense commented on #5509
Overheating on a USB device can be caused by a fault on a USB port or a bad USB cable.  It happens fast enough that the heat should manifest within the first few minutes of using a device.  Is the RealSense device's casing hot to the touch if you touch it within a few minutes of it starting, please?

[2020-02-18 12:10] srividya91 commented on #5779
@ShettyHarapanahalli Thanks for the response.Actually i am trying to calculate the distance for the detected object to depth camera.. so i am trying to add your code to my object deetction.. but i am getting run time error.

here is my source code
`import cv2 as cv
import cv2
import numpy as np
import pyrealsense2 as rs
import os
import time
import matplotlib.pyplot as plt
import imutils
from imut

[2020-02-18 12:26] minihops123 commented on #5509
I know put the T265 (only the T265 without the D435i) on usb and put the raspberry pi in front of a big fan. I seems that it works "longer" -> 10 minutes.
Without the cooling the PI gets definitly warm. CPU temp is shown close to 70 degrees. with the big fan in front of CPU temperature drops to 40 degrees.

Another hypothesis i stated now is that the T265 is standing still during the "long-term" t

[2020-02-18 12:27] MartyG-RealSense commented on #5872
It looks as though the note is referring to two separate internet checks for the tracking module support and for the depth camera.  So it is valid to have the message for each of the checks, though the comment could perhaps be edited to provide a bit of extra clarity.  I've added the 'documentation' label to your message in case somebody on the developer team wants to edit those lines in the code.

[2020-02-18 12:42] arjunsengupta1998 commented on #2410
@fulkast I am having a similar issue with USB 3.0
Infrared2 is not being displayed.
Were you able to solve the problem? Please let me know. Thanks

    Name                          : 	Intel RealSense D435
    Serial Number                 : 	817412070030
    Firmware Version              : 	05.12.01.00
    Recommended Firmware Version  : 	05.12.01.00
    Physical Port                 : 	2-1.1-62

[2020-02-18 13:01] jarvis-owl commented on #5631
Had this problem after Ubuntu update; upgrade and some weird MOK bios stuff (idk).
`Linux 5.3.0-40-generic #32~18.04.1-Ubuntu SMP x86_64 x86_64 x86_64 GNU/Linux`
`D435`

[2020-02-18 13:23] themancalledjakob commented on #2161
Sometimes this hardware_reset fails for me to resolve the issue, and even rebooting does not reliably help to bring the cameras back.
Usually I use the realsense cameras in an installation setting, where it is impossible to physically unplug and replug the USB cables. For this I collected some methods to script a usb reset and so far this **always** worked for me on Ubuntu: https://github.com/them

[2020-02-18 13:46] minihops123 commented on #5509
Hmm.. no luck yet. So its running between 2 to 5 minutes. then it stops. Any other ideas?

[2020-02-18 14:23] MartyG-RealSense commented on #5509
I am not a programming specialist.  I wonder if there is a "memory leak" going on in the script though.  A memory leak is where a program continually consumes a computer's memory capacity as it runs instead of releasing memory when it has finished a task.  This can lead to a crash of the program.  If the memory stays consumed after the crash then the program might crash sooner on subsequent runs b

[2020-02-18 14:42] minihops123 commented on #5509
Hey, thanks for this idea. But I supervised the memory consumption stays constant over time. so this is not the problem.

Maybe I should focus on another type of compute unit. Maybe something like this: https://www.intel.de/content/www/de/de/products/boards-kits/nuc/kits/nuc5cpyh.html

Has anyone experience with that? The only thing that this compute unit has to do is to grab images and poses and

[2020-02-18 14:44] talbenach opened #5873 "Accuracy of using t265 to track april-tags"
We are considering using a stationary t265 camera in an application that tracks tools marked with April-tags from distances that range between 30cm and 80 cm. The April-tags are approximately 2cm squares.
What is the expected position accuracy of this setup? What factors affect this accuracy?
Thank you very much

[2020-02-18 14:50] MartyG-RealSense commented on #5509
NUCs are certainly very capable of being used with D435 and T265 on the same robot.  Intel have done so in a RealSense mobile robot seminar on YouTube in the link below   The part where D435 is introduced starts at 17 minutes 15 seconds into the video.

https://www.youtube.com/watch?v=62vm0_RZ1nU

Whilst there are other small compute units available, such as Intel's candy-bar sized Intel Compute S

[2020-02-18 14:53] dorodnic commented on #5873
Hi @talbenach
There is no official accuracy metrics we can share.
Please note that april-tag tracking is currently provided as an example and done on the CPU, and not on device. Hence, I'm not sure if there is any benefit to using t265 if the camera is stationary.

[2020-02-18 14:56] talbenach opened #5874 "T265 ASIC role"
The T265 datasheet states that it equipped with an ASIC for on board calculations. I could not find details on what these calculations are and what is the output of the camera to the computer.

[2020-02-18 15:00] dorodnic commented on #5744
@abdulhafiz7794
New version was uploaded, please give it a try

[2020-02-18 15:19] anguyen216 opened #5875 "How to get depth preset setting of recorded video using pyrealsense2"
----------------------------------------------------------------------------------------------------

| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | {  D400 } |
| Operating System & Version |   {Win (8.1/10)}  |
| Platfo

[2020-02-18 16:00] MartyG-RealSense commented on #5874
In the context of the T265 data sheet, the ASIC in the T265 is the Movidius Myriad 2 VPU.  Below is a quote and image from the official T265 promotional information page.

***********

The Intel Movidius Myriad 2 VPU is a system-on-chip component that is purpose-built for image processing and computer vision at very high performance per watt, including for space-constrained implementations. Its ke

[2020-02-18 16:13] talbenach commented on #5874
It appears that the VPU is used to calculate the camera’s 6DoF. Does it play any role in tracking? Can we access the VPU to aid in tracking and reduce load from the host PC?

From: MartyG-RealSense <notifications@github.com>
Sent: Tuesday, February 18, 2020 6:01 PM
To: IntelRealSense/librealsense <librealsense@noreply.github.com>
Cc: Noam Levy <noaml@brainsgate.com>; Author <author@noreply.github.

[2020-02-18 16:24] MartyG-RealSense commented on #5874
As far as I know, all the data on the T265 is processed through the Movidius VPU by default.  The link below has an official Intel case-study for using the T265 that describes the VPU's role in tracking in the second to last section near the bottom of the page.  The section is headed "Host connectivity and integration into devices".

https://www.intelrealsense.com/visual-inertial-tracking-case-stu

[2020-02-18 17:35] BlueprintBen commented on #5807
I wanted to share some seemingly related data around my issues with changing device configurations on the fly (resolution, framerate, etc), which seem to center on a huge hang in the RsDevice.OnDisable() function:
![image](https://user-images.githubusercontent.com/26749774/74761809-8bc46300-5231-11ea-88ed-9e443b6bdc87.png)
Given that this call takes 20 seconds I'd agree that there's a serious timi

[2020-02-18 17:55] 3p3r opened #5876 "map reuse with T265"
----------------------------------------------------------------------------------------------------

| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | T265 |
| Operating System & Version |   Ubuntu 18.04  |
| Language

[2020-02-18 18:00] ev-mp commented on #5868
@franzabist , I suspect that you have encountered an issue with trying to use the patched driver, such as Secure Boot. #5598, #5231, #5631.
Can you provide the kernel log for confirmation?

Regarding DKMS versions: v1.3.13 is the first to provide kernel 5.3 support. Installing the previous versions would not insert kernel patches.

[2020-02-18 18:03] MartyG-RealSense commented on #5876
I hope the link below will be useful.   It discusses exporting a map from the RealSense Viewer and re-importing it.

https://github.com/IntelRealSense/librealsense/issues/4526

[2020-02-18 18:06] 3p3r commented on #5876
@MartyG-RealSense I have seen that link before opening this issue, not sure how that relates to what I am trying to accomplish here. That link talks about correlating between two maps, whereas, I want to use a single map across multiple localization runs. I do not want to recapture the map again.

[2020-02-18 18:07] fulkast commented on #2410
Hey! I no longer use a realsense :slightly_frowning_face: but I remember that I fixed this by opening the realsense viewer GUI. There is a section in the options, somewhere on the top left to switch to professional mode. That brought up both infra channels

[2020-02-18 18:09] ev-mp commented on #5762
@UMINODAIKI , do you need further assistance with this issue?
Please update.

[2020-02-18 18:27] MartyG-RealSense commented on #5876
I recommend looking at the **ar-advanced** sample program added recently to see if it meets your needs in regard to localisation map import / export.

https://github.com/IntelRealSense/librealsense/tree/master/examples/ar-advanced

If that does not help, a T265 expert on the RealSense team such as @radfordi or @ev-mp  may be able to advise you.

[2020-02-18 18:32] 3p3r commented on #5876
I did look at that example. It's _almost_ what I want to accomplish, however T265 modifies the map I load into it. I want the camera to "freeze" the loaded map and just do localization inside it without modifying the loaded map.

[2020-02-18 19:01] dorodnic commented on #5875
If you drop the bag file into the viewer. Everything that was recorded will be in the device panel.
I'm not 100% sure if all of the advanced controls are recorded, but if you selected particular preset it would appear as Visual Preset control

[2020-02-18 19:13] anguyen216 commented on #5875
Thank you! I didn't know I could do this.  But I was also hoping that there is a function that can do this so I could extract preset of bag file quickly.  I have over 100 videos

[2020-02-18 19:33] dorodnic commented on #5875
This should be similar to regular device in python - get device from pipeline start, go over sensors, go over supported options, if rs.options.visual_preset is supported, read its value.

[2020-02-18 19:53] radfordi commented on #5876
Hi @3p3r, We've though about doing a mode where the map is fixed, but we don't have something like that at this time.

[2020-02-18 19:56] 3p3r commented on #5876
@radfordi thanks for the clarification. given the application in a medical trial, having the map regenerated every time adds randomness which is not ideal.

If map fixing is not possible, is there a way to quantitatively measure this randomness so we can report that on our paper? For example, if we load a pre-captured map and T265 modifies it, we export it again, is there a way to capture the diff

[2020-02-18 20:12] g-robot-tech opened #5877 "IMU Calibration will not load to camera"
I am having an issue with the rs-imu-calibration.py script. I can run through all of the six orientations and gather data for them. Then I can save the data. However, after all of that I never get the prompt of 'upload to camera?'

I only get a line that says 'Done. too many indices for array'

Does anyone know how to fix this?
Thanks.

[2020-02-18 22:02] #5145 closed

[2020-02-18 23:03] #5635 closed

[2020-02-19 00:04] ThomasBrandonD commented on #4469
@whatisor have you tried wrapping the C API in your C++ program? I've run into the same segfaults everyone else has but I've found success in wrapping the C API align functions in my C++ application

[2020-02-19 01:05] zainmehdi commented on #4113
Hi @neilyoung. I have been having "Unable to open device interface" when using hardware reset. Can you please share your example ?

[2020-02-19 01:13] RealSenseCustomerSupport commented on #5807
----------------------------------------------

Thanks @BlueprintBen and @BananaHemic for the feedback and information.

[2020-02-19 01:27] 0a01-wait commented on #2415
Hi.  Having (almost) the same problem as OP.  I followed the instructions at https://github.com/IntelRealSense/librealsense/blob/8e7db477a69741ca413a6b4d6402d19c8aace00e/doc/installation_osx.md and am getting the error
The source directory "/users/eric/build" does not appear to contain CMakeLists.txt.
I am trying to setup for use with Xcode 11.3.1, Realsense 435.  TIA

[2020-02-19 02:03] #5817 closed

[2020-02-19 02:31] zainmehdi commented on #4113
Figures it out. For anyone having the same issue can use this to perform hardware reset

[code]

[2020-02-19 05:18] UMINODAIKI commented on #5762
@ev-mp  Sorry for the late reply.After removing the repository for Bionic, I was able to reinstall it successfully. Thank you in the future.

[2020-02-19 05:27] anguyen216 opened #5878 "pyrealsense2 get_distance() return depth distance of 0"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D435i |
| Firmware Version                   | v2.31.0 |
| Operating System & Version | Win 10 |
| Platform                                 | PC |
| Language

[2020-02-19 05:31] RealSenseCustomerSupport commented on #2412
----------------------------------------------

@justnick21 Did you get any chance to try with the latest FW and SDK version to see if you still have this issue?

[2020-02-19 05:36] RealSenseCustomerSupport commented on #5566
----------------------------------------------

@Scientifeet Could you please update if you still need support on this? Thanks!

[2020-02-19 05:45] RealSenseCustomerSupport commented on #5620
----------------------------------------------

@eliranno Could you please update if you still need support on this? Thanks!

[2020-02-19 06:10] RealSenseCustomerSupport commented on #5602
----------------------------------------------

@radfordi Could you please update if you still need support on this? Thanks!

[2020-02-19 06:10] whatisor commented on #4469
@ThomasBrandonD thanks for response.
I think Realsense is C++, isn't it?
I used rs2::align

[2020-02-19 06:21] RealSenseCustomerSupport commented on #5656
----------------------------------------------

@jiangxkjohn Could you please update if you still need support on this? Thanks!

[2020-02-19 06:22] RealSenseCustomerSupport commented on #5777
----------------------------------------------

@jiapei100 Any other questions about this? Looking forward to your update. Thanks!

[2020-02-19 06:23] RealSenseCustomerSupport commented on #5486
----------------------------------------------

@Dontla Could you please update if you still need support on this? Thanks!

[2020-02-19 06:24] RealSenseCustomerSupport commented on #5438
----------------------------------------------

@vshalkov Could you please update if you still need support on this? Thanks!

[2020-02-19 06:48] arjunsengupta1998 commented on #2410
@fulkast
Yes, I did see that advanced mode was disabled on my device. It is working now. Thanks for your response! :)

[2020-02-19 07:18] RealSenseCustomerSupport commented on #5435
----------------------------------------------

@ManuelS-BSH Sorry for late response. Did you still have the issue? Did you have such issue on certain camera or also some other cameras also? Looking forward to your update. Thanks!

[2020-02-19 07:41] MartyG-RealSense opened #5880 "Announcement: Cubemos skeletal tracking SDK added to the RealSense store"
Hi everyone,

Intel has introduced the Cubemos skeletal tracking SDK product to the RealSense online store for a licence price of $75 USD that includes options to access the SDK through a low level C-API or a application-specific convenience API.  It also has a C# wrapper for doing so.

https://store.intelrealsense.com/buy-skeletal-tracking-sdk.html

A recent YouTube video provided by Intel of Cub

[2020-02-19 07:54] RodolfoAndrade commented on #5181
This was the output for rs-enumerate-devices:
[code]

I hope it helps. Thanks!

[2020-02-19 08:01] #5842 closed

[2020-02-19 08:03] jiangxkjohn commented on #5656
Sorry for my late reply, I have followed it but still not help, the error message is still "thread". I thought is was the case that there is no `set( CMAKE_CXX_FLAGS "-std=c++11" )`in CMakeLists.txt, but I am wrong.

[2020-02-19 08:12] jiangxkjohn commented on #5656
@RealSenseCustomerSupport and I find that the first error in `CMake Error at examples/hello-realsense/CMakeLists.txt:8 (add_executable):`, there is no thread in that cpp file.

[2020-02-19 09:04] neilyoung commented on #4113
@zainmehdi Sorry, a bit late. I'm doing it a bit different in Python, especially the loop over all devices (overkill) and the pause (necessary)

[code]

[2020-02-19 09:22] Pallav56 commented on #5767
Hi, Kindly Assist as it is an urgent issue, please let me know if you requires more issue.

[2020-02-19 09:38] minihops123 commented on #5509
Hey. Tried a bit around again. So I'm able at least to recover the T265. Meaning:
poll_for_frames -> if i get a certain time no data. stop pipeline. and restart pipeline. Its not a nice way but this works for me currently.
BTW: the issue only appears if both sensors are streaming data. If T265 is running alone, its working.

[2020-02-19 09:48] knicos commented on #4469
1) ... don't know (can't check atm, probably the wrong one)
2) No, always the DKMS binary.
3) Intel Core i7

I was adding _DEBUG to my own cmake for my own purposes, not rebuilding realsense SDK with it. Hence the conflict.

[2020-02-19 10:00] MartyG-RealSense commented on #5509
Are you distinguishing between the D435 and T265 using serial numbers, please?

[2020-02-19 10:18] MartyG-RealSense commented on #5509
Another user got around the problem of needing a serial number by instead programming query_devices to look for the first device with the name 'T265' in it.

https://github.com/IntelRealSense/librealsense/issues/3434#issuecomment-476290706

[2020-02-19 10:27] ev-mp commented on #5762
Thank you for the feedback!

[2020-02-19 10:27] #5762 closed

[2020-02-19 10:50] srividya91 commented on #5779
@ShettyHarapanahalli with the above code. i got an error as

"rs2_deproject_pixel_to_point(): incompatible function arguments.
 The following argument types are supported:
    1. (intrin: pyrealsense2.pyrealsense2.intrinsics, pixel: List[float[2]], depth: float) -> List[float[3]]"

please tell me how to pass the arguments.

[2020-02-19 10:52] galikrosentalik commented on #5829
???

[2020-02-19 10:53] galikrosentalik commented on #5830
???

[2020-02-19 10:53] galikrosentalik commented on #5835
???

[2020-02-19 11:43] for-no-one commented on #5606
Hi @dorodnic
Thank you for trying to reproduce. I just tried again with the latest SDK and firmware (05.12.02.100). All 3 cameras are now D435i and I'm on Ubuntu 18.04. I saved the original calibration data, calibrated all cameras, saved new calibration data and ran my bash script. One of the three cameras went back to the original calibration. The data from this camera is shown at the bottom in r

[2020-02-19 11:46] RealSenseCustomerSupport commented on #5765
----------------------------------------------

It's not a issue.
You have wrong PYTHONHOME value.
https://docs.python.org/3/using/cmdline.html#envvar-PYTHONHOME

[2020-02-19 11:50] LEGO999 commented on #5659
Other parts of ROS-wrapper seems to work, including echoing different topics.

[2020-02-19 11:50] #5659 closed

[2020-02-19 12:46] wangroger0801 commented on #5828
Hello @schmiran ,

Thanks for your reply. We did a new test. It fixed the motion frame not arrived problem. But more errors pop out. We still can't using 6 cameras. I am sure it not hub related it works fine on Windows.
We add -DFORCE_RSUSB_BACKEND=true to the SDK cmake. In realsense-viewer , there is no motion frame error when 6 cameras is connected. But there seems an up-limit of video frame dat

[2020-02-19 13:18] dorodnic commented on #5878
Hi @anguyen216
When confidence in pixel depth is too low the pixel will be marked 0. This is expected behaviour near object boundaries, since there are areas visible from left sensor but not from right one, or wise-versa.
This is why provided C++ measure example is using hole-filling filter to handle 0 pixels.

[2020-02-19 14:36] zwn commented on #2190
@doronhi Would you happen to have an example of setting the auto exposure roi in a lauch file?

[2020-02-19 14:41] anguyen216 commented on #5878
I tried hole filling filter and I still get depth distance (get_distance) of 0.  Also, the pixel location I choose all have non-zero values; I check this by colorize the depth map and then convert it to numpy array using np.asanyarray() function.  Then I check the color pixel value of the numpy array.  All pixel locations I manually choose have non-zero in at least 2/ out of 3 channels (RGB).

[2020-02-19 15:54] MissBeate opened #5881 "Python - newest SDK/pyrealsense2 does not allow connection via USB hub"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | T265 |
| Firmware Version                   | 0.2.0.879 |
| Operating System & Version |   Win10  |
| Kernel Version (Linux Only)    |  (e.g. 4.14.13)

[2020-02-19 15:54] MissBeate commented on #5881
Sorry I didn't mean to close it...

[2020-02-19 15:57] Murded opened #5882 "Android how to persist sensor.setValue ?"
Hi, I'm currently experiencing an issue when using the following code:

[code]

However after I rotate the device the depthSensor options need to be set again.

Perhaps I'm doing something wrong but is there a way that I can do so these values don't have to be set again as it takes a few seconds each time.

[2020-02-19 16:02] MissBeate opened #5883 "Pyrealsense2/T265 cannot use context manager to ask serial number and then connect"
Required Info |  
-- | --
Camera Model | T265
Firmware Version | 0.2.0.879
Operating System & Version | Win10
Kernel Version (Linux Only) | (e.g. 4.14.13)
Platform | PC
SDK Version | 2.31.0.1234
Language | python
Segment | {Robot/Smartphone/VR/AR/others }

### Issue Description
Hi!

I'm connecting to two T265 cameras using python and try to connect them both by first asking the serial number off t

[2020-02-19 17:05] ThomasBrandonD commented on #4469
@whatisor

It is, but you can still use C in your C++ app, check out https://stackoverflow.com/questions/1041866/what-is-the-effect-of-extern-c-in-c

I'm assuming you're using some API to modify your the image frames you're getting from the realsense (like OpenCV). You can just use the Realsense C API to get the data into a cv::Mat

If that makes sense give it a shot or I can make a small example

[2020-02-19 18:48] prkirby opened #5884 "Support for Filter Parameters in NodeJS Wrapper?"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | { D400 } |
| Firmware Version                   | (Open RealSense Viewer --> Click info) |
| Operating System & Version |   { MacOS } |
| Kernel Version (Linux Only)    |  (

[2020-02-19 18:59] anguyen216 commented on #5878
In addition, the get_distance() function seems fickle to me.  I test the same code above on a single bag video and single frame.  Every time I rerun the code, I'd get different answer, in the +/- 3 range of the true value that I expect.  I put the code below; I used the same pixel_distance() function as written above

[code]

In addition, whenever I tried to aligned the depth frame and the infrare

[2020-02-19 19:06] doug-matthews commented on #5805
Hey @agrunnet just wondering if you have any updates yet on this feature? Thanks!

[2020-02-19 19:12] compscidr commented on #5296
Will try your suggestion within the next couple of days, just trying to make some time for it - thanks!

[2020-02-19 19:41] redM0nk opened #5885 "D415: pyrealsense2 is giving out stale frames or repeated frames"
* Before opening a new issue, we wanted to provide you with some useful suggestions (Click "Preview" above for a better view):

    * Consider checking out SDK [examples](https://github.com/IntelRealSense/librealsense/tree/master/examples#sample-code-for-intel-realsense-cameras).
    * Have you looked in our [documentations](https://github.com/IntelRealSense/librealsense/tree/master/doc#useful-lin

[2020-02-19 19:53] RealSenseCustomerSupport commented on #5666
----------------------------------------------

@DavidCadtec,

Did you have a chance to record .bag files using LRS without Python Wrapper?

[2020-02-19 20:21] RealSenseCustomerSupport commented on #5767
----------------------------------------------

I am not sure why the depth image is not updating. It works for my D435i with firmware version 05.12.02.100.
Is the "align-depth2color.py" or "python-tutorial-1-depth.py" able to stream depth continuously?
Thank you.

[2020-02-19 21:06] #4915 closed

[2020-02-19 22:33] gavan1 commented on #5884
@prkirby have you gotten the nodejs wrapper to actually function?

[2020-02-20 00:54] gavan1 commented on #5685
@dorodnic let INTEL know all this outdated documentation doesn't help the adoption of it's tools
https://dev.intelrealsense.com/docs/macos-installation-for-intel-realsense-sdk#section-building-from-source

[2020-02-20 00:59] RealSenseCustomerSupport commented on #5846
----------------------------------------------

What is the camera firmware version. The ticket info shows the firmware is 2.31.0 but it looks like the RealSense SDK build version.
Anyway, I just ran a quick test on SR305 (v.3.27.3) with RealSense Viewer (v.2.32.1) manually built on TX2 and the depth reading works as expected.
Thank you.

[2020-02-20 01:00] gavan1 commented on #5856
@dorodnic on your CI build end I'm sure its building... but on the end to end testing... quite broken. Has there been any documented examples by the community of a working nodeJS wrapper? Intel needs to increase your team lol.

[2020-02-20 02:06] weseu commented on #5846
My camera SR305 firmware version is 3.27.3.0.
and can I try your TX2 jetpack version??  maybe if I use your TX2 jetpack version,Realsense viewer version. it will work.  (I never used realsense viewer 2.32.1 )

so, can you tell me what version is your jetpack.

[2020-02-20 04:00] chrelli commented on #1686
No, -DCMAKE_BUILD_TYPE=Release does not fix it. I had already compiled the release version.

Just so that I understand the expected behavior. Is the following correct?

When a frame is dropped, the last known frame, frame number and hardware time stamp is passed (so it's repeated). OK. But when the next new frame arrives, is the hardware time stamp counter is just updated, as if the dropped frame

[2020-02-20 04:01] chrelli opened #5886 "Follow-up question to #1686"
No, -DCMAKE_BUILD_TYPE=Release does not fix it. I had already compiled the release version.

Just so that I understand the expected behavior. Is the following correct?

When a frame is dropped, the last known frame, frame number and hardware time stamp is passed (so it's repeated). OK. But when the next new frame arrives, is the hardware time stamp counter is just updated, as if the dropped frame

[2020-02-20 04:37] prkirby commented on #5884
@gavan1 Yeah! It was a bit of a mess to untangle. Make sure you back up to about v10.16 with node (use nvm to make it easy), and if build fails not able to find the realsense.dy file or whatever it is inside of /Release, you just need to make that directory and then set up a symbolic link to the file. Hope that helps!

[2020-02-20 07:03] holinfier commented on #1091
Hi @anson2004110,
I compiled libsense-2.25.0 on Firefly RK3399,but it seems like the D435i doesn't connect to RK3399.
Did I miss some import step?

[2020-02-20 08:28] Pallav56 commented on #5767
Thanks for the update, it is working with "align-depth2color.py" but not with "box_dimensioner_multicam__demo.py" for calculating the box dimensions.

Do we have any other alternate way to calculate the box/ Object dimensions.

[2020-02-20 08:55] whatisor commented on #4469
@ThomasBrandonD , Do you mean issue only occurs for C++ API of realsense?

[2020-02-20 09:37] gavan1 commented on #2586
@lramati @malith1992 it seems that there still isn't any full step by step documentation on this process... Truly surprises me as  I was under the impress INTEL wants to have adoption of their tools.

Python will be very new for a lot of of people one simply because of the new found demand in AI and Computer vision for it.

I have the 2.32.1 SDK correctly installed on my
Jetson TX2

cMake examples

[2020-02-20 10:01] lramati commented on #2586
Please open a new issue instead of commenting on a years old closed one.
Make sure to indicate what version of python you are using, the various
commands and outputs you've included appear to have both python 2 and 3

[2020-02-20 11:21] ArvindSanjeev opened #5887 "Tips to reduce drift with T265 in Unity"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | { T265 } |
| Firmware Version                   | (Open RealSense Viewer --> 0.2.0.926) |
| Operating System & Version |   {Win (8.1/10)  |
| Kernel Version (Linux Only)

[2020-02-20 12:08] FPSychotic opened #5888 "ROS tf for T265+D435 combo mount"
Hi, I'm using this mount on my robot
https://github.com/IntelRealSense/librealsense/tree/development/examples/tracking-and-depth
Also there is a config file, I guess it is for Realsense-viewer and SDK, but I can't or I don't how to use it as TF on ROS. Could someone please give me the ROS TF between both cameras or how I can get it? Hand measuring I guess is not good idea and I don't know use CAD

[2020-02-20 13:41] doronhi commented on #2190
Will that do?
[code]

[2020-02-20 15:40] ThomasBrandonD commented on #4469
@whatisfor Yep, it doesn't exactly "solve" the issue of this ticket but if you need a solution, using the C API is one work-around you might try which worked for me

[2020-02-20 18:50] RealSenseCustomerSupport commented on #5797
----------------------------------------------

I just use the same version as shown in the https://github.com/IntelRealSense/librealsense/tree/master/wrappers/pcl
 PCL version 1.8.1
 VTK version 8.1.0
RealSense SDK build version 2.31.0
RealSense D435i Camera Firmware 5.12.2.100

    $ ldconfig -p | grep libpcl_visualization
     libpcl_visualization.so.1.8 (libc6,x86-64) => /usr/local/lib/libpcl_

[2020-02-20 19:05] #5619 closed

[2020-02-20 20:18] agrunnet commented on #5805
Looks like it is being validated and should be released in about 2 weeks.

[2020-02-20 20:39] MoBaT commented on #4586
Hey ev-mp,

I used the ./scripts/patch-realsense-ubuntu-lts.sh to build the kernal modules for kenel 5.3.0-40-generic and I'm having alot of trouble getting data from certain sensors. Whenever I try to use the "get_frame_metadata()" call, I get "UVC header is not available". I also cannot get data from the GYRO or ACCEL sensors. In the realsense viewer, I see:

 20/02 13:32:13,409 WARNING [1398624

[2020-02-20 21:21] HHCBakker opened #5890 "Example of multiple sensors on one camera"
| Camera Model                       | D435 } |
| Firmware Version                   | 05.11.01.100 |
| Operating System & Version |   Win7 SP1 (under Mac OS Catana and Parallels 15.1.2)  |
| Platform                                 | iMac  |
| SDK Version                            |  2.0                          |
| Language                            |  C                          |

I'm having

[2020-02-20 22:08] MartyG-RealSense commented on #5890
The MacOS installation instructions were recently updated to work with Catalina.  So using your D435 with Catalina directly may provide a better experience than running Windows 7 through Catalina.

https://github.com/IntelRealSense/librealsense/blob/master/doc/installation_osx.md

I would recommend using 15 FPS as a minimum, as historically there have been errors with 6 FPS streaming that disappea

[2020-02-20 22:08] MoBaT opened #5891 "UVC header is not available"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D435i |
| Firmware Version                   | 5.12.2.100 |
| Operating System & Version |  Ubuntu 18.04.4  |
| Kernel Version (Linux Only)    |  5.3.0-40-generic |
| Platfo

[2020-02-20 22:27] nawara72 opened #5892 "getting depths in meters in matlab from bag file"
Hi

I recorded a bag file using rs-record-playback

i used rs_bag2image to generate the depths images. When I read those images in matlab and get the values for a specific coordinate, I get the correct distance
eg
d=imread('000089.png');
d(256,400)
ans =
  uint16
   1894

How can I achieve the same thing using rs-convert?
I converted the bag to png & raw but i get incorrect values when I load in m

[2020-02-20 22:51] MartyG-RealSense commented on #5892
There is a long discussion in the link below about getting depth from a bag in MATLAB.

https://github.com/IntelRealSense/librealsense/issues/3241

I also recall that an Intel RealSense support member once recommended the script below for reading a RealSense raw file in MATLAB.

fid = fopen("FilesName.Raw");
Depth = fread(fid, [1280 720], '*uint16')';
fclose(fid);

[2020-02-20 22:52] MoBaT commented on #5891
So, I rebuilt the librealsense2 sdk development branch and used the generated shared objects and it solved my problems.

[2020-02-20 22:57] nawara72 commented on #5892
MartyG-RealSense
Thank you so much for your extremely quick reply. I just have to first say the always quick replies from you guys is amazing, so helpful and very appreciated.

As you see from my question, I already use the method you mention to read the image but somehow I am not getting the correct value. Even though rs_bag2image  is giving me the correct values, I would prefer to use rs-convert

[2020-02-20 23:10] MartyG-RealSense commented on #5892
Yes, I saw that your .raw loading code was mostly similar to the Intel support member's version.  I just wanted to post it so you could compare it to your own as verification.

The author or **rs_bag2image**, UnaNancyOwen,  once said that their program "outputs the original data as it is".  This may account for your successful results with PNGs generated from it.

Another RealSense user provided f

[2020-02-21 00:07] nawara72 commented on #5892
Saw those pages, didn't really help much. Thanks you

Hope someone else has any ideas

Thanks

[2020-02-21 02:08] franzabist commented on #5868
Please find the kernel log below.
Realsense T265 works fine after installation of librealsense2-dkms version 1.3.13-0ubuntu1 both in  realsense-viewer as well as in ROS.
However, neither the internal laptop webcam nor other externally attached USB webcams are available any longer.

The system is installed on an external USB-drive. When attaching it to an MacBook Air 2017, this problem does not occ

[2020-02-21 02:41] HHCBakker commented on #5890
I'm using the Mac as a development platform but the target is a Win7 PC.

I've had a look at the Align example and that has answered most of my questions. Set up two streams but only one pipeline. The frames then appear in pairs when I wait for them. I'm not concerned with aligning them as I only want about one frame a second anyway.

The only problem I now have is that, in C, there does not seem

[2020-02-21 02:41] #5890 closed

[2020-02-21 02:45] RealSenseCustomerSupport commented on #5823
----------------------------------------------

Hi @PsycIT,

Are you able to record IR stream using RealSense Viewer?

Thank you!

[2020-02-21 03:42] alexlitz commented on #2503
Also interested!

[2020-02-21 05:02] mkeyno commented on #5864
@dorodnic
thanks for your comment, I reinstall driver with other method and software but no success
I think this repo is not mature or hard to implement for Linux base  OSes, because I also couldn't successful using my camera over raspberry pi 4
I kinda regret to buy this product

[2020-02-21 06:43] MartyG-RealSense commented on #5890
You,'re very welcome.  Glad you were able to find a solution!

[2020-02-21 08:46] #5868 closed

[2020-02-21 08:53] PsycIT commented on #5823
Using the viewer, i can get a .bag file that contains three streaming videos: color, depth, and infrared. But I want to create a program that applies my own UI using the SDK. Do you know which format to use to store infrared information and how to save it?

[2020-02-21 10:01] RealSenseCustomerSupport commented on #5181
----------------------------------------------

@RodolfoAndrade I didn't see any abnormal from the output of rs-enumerate-devices. Do you have both python2 and python3 installed on your system? If so, could you please try to force compilation with a specific version with **-DPYTHON_EXECUTABLE=<path to python executable>** and try again? Thanks!

[2020-02-21 13:44] RafayAK opened #5893 "How to implement `rs.syncer` and `rs.frame_queue` in the python wrapper?"
* Before opening a new issue, we wanted to provide you with some useful suggestions (Click "Preview" above for a better view):

    * Consider checking out SDK [examples](https://github.com/IntelRealSense/librealsense/tree/master/examples#sample-code-for-intel-realsense-cameras).
    * Have you looked in our [documentations](https://github.com/IntelRealSense/librealsense/tree/master/doc#useful-lin

[2020-02-21 16:05] #4052 closed

[2020-02-21 17:30] RealSenseCustomerSupport commented on #5846
----------------------------------------------

The Jetson TX2 has the Jetpack 4.2.2 - L4T 32.2.1 Kernel 4.9.140. (see below).

    $ cmake ../ -DBUILD_EXAMPLES=true -DFORCE_RSUSB_BACKEND=true
    $ head -n 1 /etc/nv_tegra_release
    # R32 (release), REVISION: 2.1, GCID: 16294929, BOARD: t186ref, EABI: aarch64, DATE: Tue Aug 13 04:45:36 UTC 2019
    $ uname -r
    4.9.140-tegra

    $ ./examples/

[2020-02-21 18:51] RealSenseCustomerSupport commented on #5852
----------------------------------------------

Did that solve your problem? Also noticed you're using an older version of RealSenseViewer. Always best to try on latest.

Thanks

[2020-02-21 18:53] RealSenseCustomerSupport commented on #5851
----------------------------------------------

Thanks MartyG!

Does this resolve your issue Dontla?

If we don’t hear from you in 7 days, this issue will be closed.

[2020-02-21 18:55] RealSenseCustomerSupport commented on #5425
----------------------------------------------

If we don’t hear from you in 7 days, this issue will be closed.

[2020-02-21 18:56] RealSenseCustomerSupport commented on #5391
----------------------------------------------

If we don’t hear from you in 7 days, this issue will be closed.

[2020-02-21 20:14] RealSenseCustomerSupport commented on #5804
----------------------------------------------

Hi VD2410. Do any of these recommendations help?

[2020-02-21 20:25] RealSenseCustomerSupport commented on #4028
----------------------------------------------

@kartur

Do you still need assistance with this?

If we don’t hear from you in 7 days, this issue will be closed.

[2020-02-21 22:19] RealSenseCustomerSupport commented on #5834
----------------------------------------------

Please let us know if further assistance is needed.
Thank you.

[2020-02-21 22:23] jeremyxu1998 opened #5894 "rs2_get_region_of_interest() failed to change exposure"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D435 |
| Firmware Version                   | 05.12.01.00 |
| Operating System & Version |   Win 10 |
| Kernel Version (Linux Only)    |  N/A

[2020-02-21 23:37] RealSenseCustomerSupport commented on #5836
----------------------------------------------

Hi @aksharif05

Let us know if you need anything else.

**If we don’t hear from you in 7 days, this issue will be closed.**

[2020-02-21 23:38] erikgallegos opened #5895 "Android Stream Index"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D415 |
| Firmware Version                   | 05.11.01.100 |
| Operating System & Version |   Android 8.0  |
| Platform                                 | Galaxy S8 |
| SDK V

[2020-02-21 23:46] RealSenseCustomerSupport commented on #5877
----------------------------------------------

Hi @g-robot-tech

I've included a link below to the documentation around the imu calibration example for the D435i camera.  Let us know if you've reviewed this document as part of your process of utilizing the rs-imu-calibration script.  Also have you updated the camera FW to the latest FW?  You can use the realsense viewer that is part of the latest

[2020-02-21 23:59] RealSenseCustomerSupport commented on #5874
----------------------------------------------

To add to MartyG-RealSense, T265 is a closed system SLAM solution.  The Movidius VPU is used to take input from the IMU that is onboard and the fisheye cameras and utilize an Intel proprietary SLAM algorithm to calculate it's position in space.  The final output to host system is pose data.  One can also get raw fisheye images and raw IMU (accel and

[2020-02-22 00:27] RealSenseCustomerSupport commented on #5829
----------------------------------------------

Hi @galikrosentalik

We understand there are issues with multi cam scenario.

Read through this thread:  https://github.com/IntelRealSense/librealsense/issues/5614

Also a PR that can also help:  https://github.com/IntelRealSense/librealsense/pull/5645

[2020-02-22 00:30] RealSenseCustomerSupport commented on #5835
----------------------------------------------

Hi @galikrosentalik

Similar to your other github thread.

Read through this thread:  https://github.com/IntelRealSense/librealsense/issues/5614

Also a PR that can also help:  https://github.com/IntelRealSense/librealsense/pull/5645

[2020-02-22 02:09] RealSenseCustomerSupport commented on #5888
----------------------------------------------

Hi @FPSychotic

You can have a look at the following pull request that outlines discussion around the mounting of T265 and D435.  Other than this, we do not have any other information around ROS TF and mounting solution.

https://github.com/IntelRealSense/realsense-ros/pull/764

[2020-02-22 02:14] ahuizxc commented on #4163
Hi I was the owner of ros2 realsense project and we have encountered this problem before when we tried to enable the t265 and d400 camera at the same time and already solved it. So here is our solution:
https://github.com/intel/ros2_intel_realsense/blob/e41d491a1cbdb0c4529a651adbc45693db99bd01/realsense_ros/src/rs_factory.cpp#L41
hope it will help you, thanks:)

[2020-02-22 02:29] RealSenseCustomerSupport commented on #5606
----------------------------------------------

Hi @for-no-one,

When you have reproduced the issue few times and one of the 3 cameras went back to the original calibration, is that the same camera each time?

Thank you!

[2020-02-22 07:05] #5880 closed

[2020-02-22 07:13] MartyG-RealSense opened #5896 "Announcement: Highlighting the 'JetScan' 3D scanner build project for Jetson Nano"
Hi everyone,

As highlighted by the RealSense Twitter account, JetScan is a fully documented build project that describes itself as: "smart and fast GPU 3D scanner with Jetson Nano and Intel depth sensor.
 Metrically accurate RGBD 3D scanner and instant 3D reconstruction".

https://www.hackster.io/devshank/jetscan-16a521

[2020-02-22 10:52] FPSychotic commented on #5888
Ok should  be great give the ROS TF between both cameras in both Intel mounts, that would help a lot to begginers and no so beginners. As Intel recommend strongly use both realsenses and wheel encoders should be nice a more clear info to make them work.  Thanks

[2020-02-22 10:52] #5888 closed

[2020-02-22 11:54] kafan1986 commented on #5895
Last parameter is FPS which you have declared as 0. If the FPS you are looking for is 15 then it should be.

config.enableStream(StreamType.COLOR, 0, STREAM_WIDTH, STREAM_HEIGHT, StreamFormat.RGB8, 15)
      config.enableStream(StreamType.DEPTH, 0, STREAM_WIDTH, STREAM_HEIGHT, StreamFormat.Z16, 15)

Also, the correct stream format is also needs to be defined, depending on which format you want the

[2020-02-22 17:13] g-robot-tech commented on #5877
Hi,

Thank you for your response!

I have been using the documentation attached. I have updated the camera to the latest firmware of 2.32.1.

I have the D435i. Right now I have it in its box with a small hole cut for the connecting usb cord to exit. This is so I can steadily hold it at 90 degree angles.

 I have tried to run the rs-imu-calibration.py on both python2 and python3. I go through the w

[2020-02-22 18:47] fehrudi commented on #5430
@dorodnic

Can you please tell me when we can expect the example .bag?

Thanks!

[2020-02-22 21:12] DavidCadtec commented on #4762
@realsens01 : again thanks for you clarifications and details related to this issue.  Yes, i fully agree with you that there should be a solution to avoid this issue happening in recording .bag files.

For example, look into my condition here: i need to move ahead with an academic research and i do need a way to record materials (RGBD sequences with people walking ...) so that i can use in my algo

[2020-02-22 21:18] DavidCadtec commented on #5666
LRS stands for Lib RealSense correct ? No, i did not ... i'm not fluent at all in C++ ... all i can use is Python. But i have seen some posts of other people facing the same issue also in SDK

[2020-02-23 07:11] talbenach commented on #5874
Thank you very much for this clarification. I assume the answer to the following is no, but I want to make sure I am not missing anything. Is there access to feature recognition data generated by the Movidius? E.g. corners recognition?

Thank you,

From: RealSense Customer Support <notifications@github.com>
Sent: Saturday, February 22, 2020 1:59 AM
To: IntelRealSense/librealsense <librealsense@nor

[2020-02-23 07:19] devshank3 commented on #5896
Thanks @MartyG-RealSense for featuring my project

https://twitter.com/ShankarHaran3/status/1231456562927087617?s=20

[2020-02-23 08:10] MartyG-RealSense commented on #5896
you are very welcome!   It's great when RealSense community members document their projects thoroughly with guides, papers or long videos so that others can learn from it for their own projects.  Thanks!

[2020-02-23 08:26] MartyG-RealSense commented on #5874
Intel's guide to Visual SLAM and the T265 has the following quote:

***********

This device is intended for customers looking for a hassle-free stand-alone SLAM system.  **For those who want to develop or deploy their own tracking algorithms, they can obtain the raw data (cameras and IMU) from the T265**, or build on top of our Intel RealSense Depth Camera D400 family which provide similar sensor

[2020-02-23 18:11] daothanlong11 commented on #5391
sorry for late reply. Yes, my issue is solve, the problem is in first method, need to switch width and height, because of using .at()

[2020-02-23 18:12] #5391 closed

[2020-02-23 18:19] vdutell commented on #5614
Thanks developers for all your work on this. I am having the same issue - and am unable to do the kernel path to build myself for other unrelated reasons.... Any idea when this merge will happen? Thanks!

[2020-02-23 18:50] militaryCoder opened #5897 "MacOS build failing"
While building library via CMake under MacOS I get a problem during building include file `./include/librealsense2/rsutil.h`.
I get "ambiguous call"-error:
[code]
Also I've got few errors in `./common/viewer.cpp`:
[code]
I get 8 errors of this type in this file.

Maybe I forget to use some compiler flags or something like that but it would be nice if you'll investigate it yourself as you are the a

[2020-02-23 18:59] stino78 opened #5898 "D435 with two T265"
----------------------------------------------------------------------------------------------------

| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | { D435,T265} |
| Operating System & Version |   {Linux (Ubuntu)   |
| K

[2020-02-23 20:02] giuliafoca commented on #5898
I'm having almost the same problem: I want to run the D435 on one thread and T265 from python. I'm working on windows 10 with SDK 2.32.1331 and the color and depth streams from the D435 realsense camera have frequent pauses of about half a second.

Can you help me with that?

Thank you
Giulia

[2020-02-23 20:13] militaryCoder commented on #5897
I've figured out how to fix it.
Earlier I've added `std::` prefix to `abs(f)` call but `stdlib.h` is included so it was searching for `abs()` definition in C++ libraries. I just removed it and this error turned into warning.
But there are still errors with casts in initializer lists.

[2020-02-23 20:45] vdutell commented on #5898
Same issue & same platform - but noticed also that this lag in the RGB stream is present even in realsense viewer with the new version (2.32.1331).  Lag is present in the following configurations:

Depth only: Sometimes Lag
IR only: No Lag
Depth + IR: Always Lag in both streams
RGB only: Sometimes Lag
RGB + depth: Always Lag in both streams
RGB + dpeth + IR: Always Lag in all streams

Thanks for y

[2020-02-24 01:29] stino78 commented on #5898
Hi vdutell,

I made the same tests, and I have the same results! Also the Realsense Viewer is crashing!

[2020-02-24 03:05] #5376 closed

[2020-02-24 06:04] #5775 closed

[2020-02-24 06:25] maxccgh opened #5899 "C# Wrapper Export to Ply function does not seem to save texture data"
* Before opening a new issue, we wanted to provide you with some useful suggestions (Click "Preview" above for a better view):

    * Consider checking out SDK [examples](https://github.com/IntelRealSense/librealsense/tree/master/examples#sample-code-for-intel-realsense-cameras).
    * Have you looked in our [documentations](https://github.com/IntelRealSense/librealsense/tree/master/doc#useful-lin

[2020-02-24 07:02] #5569 closed

[2020-02-24 07:02] #5581 closed

[2020-02-24 08:21] RealSenseCustomerSupport commented on #3990
----------------------------------------------

(1) There is still chance that D435 enumerated as USB2 device when plug into USB3 port if there signal integrity issue during enumeration process.
so before doing dynamic calibration,  you can run librealsense viewer to check if D435 is enumerate as either USB3 or USB 2 device
the DC 2.6.8 only support DC when D435 is enumerated as USB3 device

[2020-02-24 08:37] RealSenseCustomerSupport commented on #3990
----------------------------------------------

@VivienDelmon
Could you provide the calibration table before and after your dynamic calibration?
to restore to previous calibration table (factory setting), you can use
Intel.Realsense.CustomRW.exe -g
before reset to factory setting..
you can use
Intel.Realsense.CustomRW.exe -r -f afterDC.xml
to save the table after DC first

by the way, what is the

[2020-02-24 08:48] RealSenseCustomerSupport commented on #5668
----------------------------------------------

Hi @SFR-mir,
Could  provided suggestion can help on your issue?

[2020-02-24 09:44] RealSenseCustomerSupport commented on #5707
----------------------------------------------

please see if below suggestion can help on your case
https://github.com/IntelRealSense/librealsense/issues/5511

[2020-02-24 11:12] svabhishek29 commented on #5871
when i select the middle pixel for example on a 640 x 480 image, the middle pixel is 320, 240. The 3D point should be at 0, 0, z value but i am getting 0.010891272686421871, -0.01863032765686512, z value. how can this be fixed?

[2020-02-24 12:35] studennis911988 opened #5901 "HID set_power 1 failed for D435i"
Hi, I'm using the latest SDK & D400 FW by following [DKMS package](https://github.com/IntelRealSense/librealsense/blob/master/doc/distribution_linux.md)  and I encounter this error message when using the IMU of D435i camera.
`WARNING [140323645359872] (backend-hid.cpp:681) HID set_power 1 failed for /sys/devices/pci0000:00/0000:00:14.0/usb2/2-3/2-3:1.5/0003:8086:0B3A.0004/HID-SENSOR-200076.2.auto/

[2020-02-24 14:18] hcostelha commented on #5707
Thanks for the reply, but I am not sure of what can I try from #5511, given that I am running in Windows, not Linux. If I start a linux guest virtual machine within this Windows host, I can run the viewer. If I start the viewer in Windows, it just closes without ever even showing the viewer window.

[2020-02-24 16:50] nancibles commented on #5834
I'm just still not sure why there are data-less pixels at the top of the frame; shouldn't alignment (using rs.align) between the cameras only be happening in the horizontal axis, given the placement of the cameras? I've taken various images while ensuring that there are no nearby IR sources as suggested by MartyG with the same results.

On another note, I will try to play around with the filters i

[2020-02-24 17:51] boilerbots opened #5902 "ros-melodic-librealsense2 dependencies should be the same as librealsense2 dependencies"
The ros-melodic-librealsense2 dependencies cause other undesirable packages to be pulled in to a robot including gcc and kernel header files. Please make the dependencies simple like the normal librealsense2 package.

**librealsense2**
Depends: libusb-1.0-0 (>= 2:1.0.16), libc6 (>= 2.27), libgcc1 (>= 1:3.0), libstdc++6 (>= 6)

**ros-melodic-librealsense2**
Depends: libc6 (>= 2.27), libgcc1 (>= 1:3

[2020-02-24 18:47] erikgallegos commented on #5895
@kafan1986
`config.enableStream(StreamType.DEPTH, STREAM_WIDTH, STREAM_HEIGHT)` internally calls
`config.enableStream(StreamType.DEPTH, -1, STREAM_WIDTH, STREAM_HEIGHT, StreamFormat.ANY, 0)` so I don' think that is the case

[2020-02-24 18:57] nawara72 commented on #5892
Just figured out, I had the image size wrong, so now all working fine

Thanks MartyG

[2020-02-24 18:57] #5892 closed

[2020-02-24 19:09] dorodnic commented on #5864
Sorry you feel this way.
Not sure what having OpenGL drivers installed has to do with the product or repo maturity

[2020-02-24 19:09] #5864 closed

[2020-02-24 19:11] MartyG-RealSense commented on #5892
Awesome news, thanks so much for the update!

[2020-02-24 19:19] dorodnic commented on #5885
Hi @redM0nk

There could be two possible reasons for this:

1. The RGB camera by default is controlled by auto-exposure algorithm and can decide to reduce its FPS (when the environment is sufficiently dark). You can enforce the FPS you requested by setting RS2_OPTION_AUTO_EXPOSURE_PRIORITY to 0 on the second sensor.
[code]
2. If RGB FPS is fixed, pipeline will provide stale frames in case of frame

[2020-02-24 19:26] dorodnic commented on #5882
Hi @Murded
Right now the value of `Option.VISUAL_PRESET` does not persist when you destroy and recreate the device object, but if you issue `setValue` during streaming (or you call `start` after `setValue`  before rotating the device) its effects are already applied to the camera. Setting new value to `Option.VISUAL_PRESET` will set many different controls on start, but we don't want to be reading

[2020-02-24 19:56] RealSenseCustomerSupport commented on #5874
----------------------------------------------

No access to feature data from the Movidius integrated in T265.

[2020-02-24 19:59] RealSenseCustomerSupport commented on #5833
----------------------------------------------

Closing this ticket. Please feel free to let us know if there is any other question.
Thank you.

[2020-02-24 20:15] RealSenseCustomerSupport commented on #5877
----------------------------------------------

Hi

Do you by chance have another D435i device to test with?  This particular issue haven't been seen before on our end.

[2020-02-24 20:22] RealSenseCustomerSupport commented on #5873
----------------------------------------------

Hi @talbenach

Is there anything else needed on this thread?

***If we don’t hear from you in 7 days, this issue will be closed.**

[2020-02-24 20:29] RealSenseCustomerSupport commented on #5310
----------------------------------------------

Please let us know if this is still an issue with latest libRealsense build.
Thank you.

[2020-02-24 20:29] RealSenseCustomerSupport commented on #5841
----------------------------------------------

Closing this issue if there is no other question.
Thank you.

[2020-02-24 20:36] RealSenseCustomerSupport commented on #5863
----------------------------------------------

Hi @Naba7,

Please describe the exact scenario that leads to the issue. Do you use an officially supported Ubuntu distro and kernel with X11 server?

Thank you!

[2020-02-24 20:39] RealSenseCustomerSupport commented on #5887
----------------------------------------------

Hi @ArvindSanjeev

Thanks for this thread.  The tips or ways in which to reduce drift using AprilTag or relocalization does indeed help reduce the drift.  These features are standard in librealsense master branch.  Although I would say the AprilTag is an example and not a native feature of the T265 FW directly, it's a way of tracking using host side

[2020-02-24 20:39] yash505 opened #5903 "How to store all frames with timestamps? null pointer passed for argument "frame_ref""
* Before opening a new issue, we wanted to provide you with some useful suggestions (Click "Preview" above for a better view):

    * Consider checking out SDK [examples](https://github.com/IntelRealSense/librealsense/tree/master/examples#sample-code-for-intel-realsense-cameras).
    * Have you looked in our [documentations](https://github.com/IntelRealSense/librealsense/tree/master/doc#useful-lin

[2020-02-24 20:46] RealSenseCustomerSupport commented on #5883
----------------------------------------------

Hi @MissBeate

Thanks for the issue submission here.  There are known issues around using multiple cameras.

[2020-02-24 20:48] RealSenseCustomerSupport commented on #5666
----------------------------------------------

@DavidCadtec,

Please try to record a .bag file using the latest version of RealSense Viewer and let us
know if it works for you.

[2020-02-24 21:11] Ezward commented on #5628
Here is a link to the final script in the donkeycar github, https://github.com/autorope/donkeycar/blob/dev/donkeycar/parts/realsense435i.py

[2020-02-24 22:37] RealSenseCustomerSupport commented on #5869
----------------------------------------------

Hi @militaryCoder,

Thank you for pointing this out. All necessary corrections will be made as soon as possible.

[2020-02-24 23:04] #5158 closed

[2020-02-24 23:18] RealSenseCustomerSupport commented on #4911
----------------------------------------------

@CaleMcCollough,

Are you still interested to continue discussion about this topic?

[2020-02-24 23:21] jamieforth commented on #5310
Yes the issues still exists with the latest build.

The same comparison with `realsense-viewer`, depth stream alone is typically ~60% cpu, but when compiled with rsusb backend is ~120%.

Below are some messages printed to the console.

- `FORCE_RSUSB_BACKEND=true`

[code]

- `FORCE_RSUSB_BACKEND=false`

[code]

[2020-02-25 00:04] #5640 closed

[2020-02-25 00:30] RealSenseCustomerSupport commented on #5861
----------------------------------------------

Is there any more question?

**Please be informed that we will close this ticket in seven (7) days if we have not heard back from you.

[2020-02-25 00:53] RealSenseCustomerSupport commented on #4138
----------------------------------------------

@aaranta Will close this if no other questions. Thanks!

[2020-02-25 00:55] RealSenseCustomerSupport commented on #5767
----------------------------------------------

As a reference, there is a C++ measure example that can be referred to to measure the distance between two points.
https://github.com/IntelRealSense/librealsense/tree/master/examples/measure

Please also take a look at these developers/software providers that provide 3D scanning application paired with RealSense Depth Cameras.
https://www.intelrealse

[2020-02-25 00:56] RealSenseCustomerSupport commented on #4964
----------------------------------------------

@yoichi0110 We didn't get response from you for weeks, will close this issue at this point. Please feel free to create new one if you still have issues or questions. Thanks!

[2020-02-25 00:58] RealSenseCustomerSupport commented on #5739
----------------------------------------------

@Uvindu  If no other questions or issues about this, will close this. Thanks!

[2020-02-25 01:02] RealSenseCustomerSupport commented on #5510
----------------------------------------------

@nilendu7980 Could you please update? Thanks!

[2020-02-25 01:03] #4138 closed

[2020-02-25 01:03] #4964 closed

[2020-02-25 01:03] #5739 closed

[2020-02-25 01:06] RealSenseCustomerSupport commented on #2412
----------------------------------------------

@justnick21 We couldn't reproduce this issue with the latest FW and SDK here. Could you please try with the latest FW and SDK?

[2020-02-25 01:08] RealSenseCustomerSupport commented on #5870
----------------------------------------------

Hi @KennyYaming,

Thank you for pointing this out. All necessary corrections will be made as soon as possible.

[2020-02-25 01:11] RealSenseCustomerSupport commented on #5566
----------------------------------------------

@Scientifeet Could you please update?

[2020-02-25 01:11] ortego26 opened #5904 "RealSense Viewer Crashes when opening bag file"
* Before opening a new issue, we wanted to provide you with some useful suggestions (Click "Preview" above for a better view):

    * Consider checking out SDK [examples](https://github.com/IntelRealSense/librealsense/tree/master/examples#sample-code-for-intel-realsense-cameras).
    * Have you looked in our [documentations](https://github.com/IntelRealSense/librealsense/tree/master/doc#useful-lin

[2020-02-25 01:25] RealSenseCustomerSupport commented on #5620
----------------------------------------------

@eliranno Could you please update? Thanks!

[2020-02-25 01:27] RealSenseCustomerSupport commented on #5602
----------------------------------------------

@radfordi Will close the ticket if no other questions. Thanks!

[2020-02-25 01:28] RealSenseCustomerSupport commented on #5486
----------------------------------------------

@Dontla If no other questions about this, will close it accordingly. Thanks!

[2020-02-25 01:33] RealSenseCustomerSupport commented on #5435
----------------------------------------------

@ManuelS-BSH Could you please update? Thanks!

[2020-02-25 01:37] RealSenseCustomerSupport commented on #5656
----------------------------------------------

@jiangxkjohn Did you try the hint below provided by the error message?

 Run "cmake --help-policy CMP0028" for policy details.

[2020-02-25 01:48] nawara72 commented on #5861
That's all for now :-) Thanks for all the help

[2020-02-25 01:48] #5861 closed

[2020-02-25 02:18] weseu commented on #5846
I try to update TX2 jetpack 4.2.2 and librealsense 2.32.1 , and I get the same issue......!!
The following is my installation method.
1. git clone github https://github.com/jetsonhacks/installRealSenseSDK ,
and fix the buildLibrealsense.sh for installing librealsense 2.32.1
![image](https://user-images.githubusercontent.com/57337171/75208127-a8264980-57b5-11ea-848e-ae8885c28d24.png)

2. runing ins

[2020-02-25 02:22] RealSenseCustomerSupport commented on #5777
----------------------------------------------

@jiapei100 Could you please update? Thanks!

[2020-02-25 02:26] weseu commented on #5846
by the way. If I running ./examples/C/distance/rs-distance, I get the following result.
![Screenshot from 2020-02-25 10-26-05](https://user-images.githubusercontent.com/57337171/75209459-3fd96700-57b9-11ea-9f6c-2764468bfaf8.png)

[2020-02-25 03:03] #5486 closed

[2020-02-25 03:03] #5602 closed

[2020-02-25 04:31] jiangxkjohn commented on #5656
sorry, I try using cmake_policy but it still cannot make any sense.

[2020-02-25 05:32] oor001 opened #5905 "USB2 mode auto exposure issue with firmware v5.12.2.100"
----------------------------------------------------------------------------------------------------

| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D400 |
| Firmware Version                   | 5.12.2.100 |
| Operating

[2020-02-25 06:33] dorodnic commented on #5904
Hi @ortego26
ROS-bag file formatter is suffering from an issue where if the recording is stopped abruptly, the resulting bag file would not get indexed. I suspect this may be the case.
I would also try copying the file to main hard-drive (as opposed to network drive)
One of the tools within the SDK is called rosbag-inspector and is accessing files using ROS-bag library directly (not via SDK API).

[2020-02-25 06:37] dorodnic commented on #5903
Hi @yash505
You need to call `frame.keep()` on any frame you are intending to store (keep) for longer than couple of frame periods. If you store a frameset, you also need to call `keep` on the color / depth frames within it. Without calling `keep` the SDK is limited to a fixed frame pool, once all frames are in use, you will either get old frames (from `wait_for_frames`) or `null` (from `poll_for_

[2020-02-25 06:38] sw290 opened #5906 "Typo in frame_queue.m and mex error in destructor of frame_queue"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | { D400, D415 } |
| Firmware Version                   | (05.12.01.00) |
| Operating System & Version |   {Win (10)}  |
| Platform                                 | PC  |
| S

[2020-02-25 06:40] SirDifferential commented on #5310
This is an issue on Raspberry Pi 4 due to the low end nature of the SOC. When the RSUSB backend ends up using so much CPU, less is available for other tasks. This relates to other problems as well such as #5412

[2020-02-25 07:38] malith1992 opened #5907 "D435i multi camera accel data issue"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | { D435i } |
| Firmware Version                   | (Open RealSense Viewer --> Click info) |
| Operating System & Version |   Win (8.1/10)   |
| Platform

[2020-02-25 07:41] ninamwa commented on #3990
I was using the calibration tool on Ubuntu 18, following the "Installation on Linux" guide in the manual. When switching to Windows 8, and installing the software there, everything worked perfectly. A friend of mine also tried using the calibration tool in Ubuntu 18, which did not work (only able to read the calibration parameters 1 of 5 times, and never able to save the parameters after calibrati

[2020-02-25 07:54] jungseokhong opened #5908 "How to rectify depth image so it can align with RGB image using .bag files?"
* Before opening a new issue, we wanted to provide you with some useful suggestions (Click "Preview" above for a better view):

    * Consider checking out SDK [examples](https://github.com/IntelRealSense/librealsense/tree/master/examples#sample-code-for-intel-realsense-cameras).
    * Have you looked in our [documentations](https://github.com/IntelRealSense/librealsense/tree/master/doc#useful-lin

[2020-02-25 08:49] dorodnic commented on #5908
Hi @jungseokhong
You can inspect what was recorded inside the bag file using `rs-enumerate-devices -p filename.bag`. What was recorded is what you can play. If you need the two streams aligned, we provide `rs2::align` algorithm to spatially align a set of frames. This must be done explicitly since alignment is relatively costly operation and we don't want to run it without explicit command from th

[2020-02-25 09:11] dorodnic commented on #5907
Hi @malith1992
We are in process of making a new release, that should have this resolved.
You can install release candidate using test pypi or wait for formal release (or build from source using the development branch)

[2020-02-25 09:31] dorodnic commented on #5895
Hi @erikgallegos
This is not what stream index does. There is no way to select which stream will start first as far as I know.

[2020-02-25 09:58] for-no-one commented on #5606
Hi @RealSenseCustomerSupport ,

In this set of cameras, yes it was the same camera each time. But I've seen this with at least three different cameras. I have several robots with three cameras on each and this happens on every robot. So I don't think that this is a case of a single faulty unit.

[2020-02-25 10:49] dorodnic commented on #5541
This code was refactored-away in later releases

[2020-02-25 10:49] #5541 closed

[2020-02-25 11:46] kevindehecker commented on #4586
@ev-mp I can confirm that the DKMS package installs without errors with kernel 5.3.0-40-generic.
[code]

However, the advanced metadata is not available out of the box after this, the realsense viewer gives me: ` 25/02 12:36:36,898 WARNING [140498295576320] (ds5-timestamp.cpp:76) UVC metadata payloads not available. Please refer to the installation chapter for details`
Among others. I guess I'll o

[2020-02-25 11:46] #4586 closed

[2020-02-25 12:09] Dapeng-Zhang opened #5909 "T265 vslam with landmarks and relocalization"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | T265 |
| Firmware Version                   | 0.2.0.926 |
| Operating System & Version | Win10|
| Kernel Version (Linux Only)    |  ----|
| Platform

[2020-02-25 13:00] kevindehecker opened #5911 "Weird time reported by realsense"
----------------------------------------------------------------------------------------------------

| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D400 |
| Firmware Version                   | 05.12.02.100 |
| Operatin

[2020-02-25 13:01] kevindehecker commented on #5911
FYI: the settings in realsense viewer
![Screenshot from 2020-02-25 13-55-26](https://user-images.githubusercontent.com/5213220/75249814-45de4080-57d7-11ea-8bbb-a5832b453a21.png)

[2020-02-25 13:05] kevindehecker opened #5912 "D435i Stereo images flicker mix"
----------------------------------------------------------------------------------------------------

| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D400 |
| Firmware Version                   | 05.12.02.100 |
| Operatin

[2020-02-25 13:42] kevindehecker opened #5913 "Realsense sometimes not detected after reboot, permanently"
----------------------------------------------------------------------------------------------------

| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D400 |
| Firmware Version                   | 05.12.02.100 |
| Operatin

[2020-02-25 13:57] MartyG-RealSense commented on #5913
The camera not being detected after a "soft reboot" (restarting the computer instead of doing a total shut-off with the power button and then pressing the power button to reboot) is a known issue on some computers.  The RealSense team did a lot of testing of the problem in previous cases.  It was thought that the problem may be related to the USB cable or USB port / controller.

Does the problem o

[2020-02-25 14:04] kevindehecker commented on #5913
It happens on many Intel NUC7i3BNK, as well as on my Dell XPS 15. The cables are the one that came delivered.

I already have the hardware_reset going, but it doesn't work as it is not detected at all (so it cannot be reset this way). E.g.
[code]
-> there are 0 devices.

[2020-02-25 14:07] kevindehecker opened #5914 "Error when changing gain D435"
----------------------------------------------------------------------------------------------------

| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D400 |
| Firmware Version                   | 05.12.02.100 |
| Operatin

[2020-02-25 14:13] MartyG-RealSense commented on #5913
Another approach to a reset is to reset the entire USB port instead of the camera specifically.  This should work as it is not reliant on detecting the camera.  You can find out more by googling for 'linux usb reset script'.  I have seen a case with a RealSense user who successfully employed this method.

[2020-02-25 14:31] kevindehecker commented on #5913
Tnx for the tip, gave that a try, but no luck. Again because the problem is that the device is completely not detected (i.e. listed in lsusb). So, I know from an identical system that the Realsense is supposed to be on `Bus 002 Device 003: ID 8086:0b3a Intel Corp.`, and when I try to reset that with `sudo ./usbreset  /dev/bus/usb/002/003` I get `Error opening output file: No such file or directory

[2020-02-25 14:34] lramati commented on #5906
These are things that are currently missing from the wrapper. I will add them in soon

[2020-02-25 14:38] MartyG-RealSense commented on #5913
Considering your machines are NUCs, I wonder if it is an issue with the BIOS.  Before the RealSense team settled on USB as the likely explanation for detection failure on soft reboot, the common advice was to try a BIOS update.  More often than not, the PCs involved in those cases were NUCs, I recall.

There is a case in the link below with a very similar model to yours (BNK instead of BNH).

http

[2020-02-25 14:48] MartyG-RealSense commented on #5913
Going through the linked discussion again, it reminded me of the advice to check in your BIOS settings whether "xHCI" mode is set to Enabled.

https://github.com/IntelRealSense/librealsense/issues/1615#issuecomment-385585630

[2020-02-25 15:04] #5896 closed

[2020-02-25 15:06] MartyG-RealSense opened #5916 "Announcement: RealSense D435 unboxing video added to official RealSense YouTube channel"
Hi everyone,

The official RealSense channel on YouTube has added an unboxing video for the D435.

 https://www.youtube.com/watch?v=VbBIQxSa_hU

[2020-02-25 15:22] ev-mp commented on #5914
@kevindehecker hello,
Changing the (depth sensor)  gain control requires the Auto-Exposure to be set off by design.
Duplicate of #5753

[2020-02-25 15:25] TheButlah opened #5917 "Plans to support Bazel?"
### Feature Request
Maybe this is a pie in the sky feature, but would it be possible to support bazel? My team is looking to transition to it and we are hoping that our upstream dependencies provide the necessary `WORKSPACE` and `BUILD` files.

[2020-02-25 15:40] lramati commented on #5726
take a look at the config object. You can pass it to pipeline.start to request a specific device / specific streams and settings.
e.g.
[code]

[2020-02-25 15:43] ev-mp commented on #5911
@kevindehecker , since [v2.22](https://github.com/IntelRealSense/librealsense/wiki/Release-Notes#new-features--improvements-8) a new inter-sensor/camera timestamp synchronization mechanism has been introduced - [Global Time Stamp](https://github.com/IntelRealSense/librealsense/pull/3909) that automatically applies to all D400 Depth cameras.

The feature is configurable separately per each sensor s

[2020-02-25 15:52] kevindehecker commented on #5913
Thanks! I'll look into the bios and let you know if solved anything permanently, but I cannot change that easily with systems already in the field so it will take a while. However, that thread pointed me to `rtcwake -m off -s 30` which did the trick!

[2020-02-25 15:55] jungseokhong commented on #5908
Hi @dorodnic
Thanks for the reply.

I tried the command and below is the output. It seems fine?
can you point me to the script to align them spatially and save them separately?
I can extract them using rs-convert without problems. but they are spatially mismatched. temporally aligned.

Device info:
Playback Device (/home/mybag.bag)
    Name                          : 	Intel RealSense D435I
    Ser

[2020-02-25 15:55] kevindehecker commented on #5911
OK, sure, but did you look at the video? The time is standing still, sort of... That doesn't seem right at all.

[2020-02-25 15:56] kevindehecker commented on #5914
Aha thanks for pointing that out. So that's changed then since the last time I updated. That requires some hefty changes on my side, because I used the fact that the auto exposure would not touch the gain. I assume the gain is now changed when AE is enabled?

[2020-02-25 15:57] ev-mp commented on #5912
@kevindehecker , the flickering is weird indeed.
Can you record and provide a rosbag with a reproduction ?

As for the timestamp looping - a similar timestamp-related issue has been addressed in https://github.com/IntelRealSense/librealsense/pull/5751 available on the `development` branch (which was not part of v2.32.1, imho).
You can try building from source and provide feedback, alternatively th

[2020-02-25 15:57] MartyG-RealSense commented on #5913
Great news that **rtcwake** helped you!  I look forward to future test updates regarding the BIOS if you go ahead with trying that.   Good luck!

[2020-02-25 16:07] ev-mp commented on #5911
Please see the reply for #5912 - and the fix PR mentioned - https://github.com/IntelRealSense/librealsense/pull/5751.
Thus the timestamp report is a possible duplicate of #5319.

[2020-02-25 16:12] ev-mp commented on #5914
That's correct. The Depth AE is given an exclusive control over Exposure and Gain to adjust for light conditions.

[2020-02-25 16:21] kevindehecker commented on #5912
Recording of the stereo flicker:
https://drive.google.com/file/d/1P_9CQEdactur7RAhhn0rvPYAFgq3zoOp/view?usp=sharing

I'll check the dev branch tomorrow, thanks!

[2020-02-25 17:21] rafaelspring commented on #4091
@matkatz @RealSenseCustomerSupport @RealSense-Customer-Engineering @dorodnic

Sorry for the late silence. I changed my GitHub name (used to be @xtrawurst).

We have tried the latest 2.32.1 librealsense and we still get frequent loss of connection on the Samsung Galaxy Tab S4 running Android 9.

Interestingly we sometimes get a more stable connection using the "RS Camera" Android app instead of our

[2020-02-25 20:19] RealSenseCustomerSupport commented on #5871
----------------------------------------------

Based on your description of the issue, it sounds like the 2 cameras have a slight x,y offset. By itself, I don't think this is surprising since the principal (center) points (PP) for each camera are generally different.

But, let me try to confirm this with some follow-up questions:
Is the offset you see constant over time or do you find that it cha

[2020-02-25 20:52] agrunnet commented on #5905
You are correct. The lowest exposure possible with USB2 is HIGHER than that possible with USB3.
The root cause for this is that the D435 stereo sensors are extremely sensitive to light, so we are using a fractional exposure setting to make them work outdoors in bright sunlight. This fractional rate is dependent on the clock, which is slower on USB2 vs USB3.
We do not expect to be able to fix this.

[2020-02-25 21:31] kafan1986 commented on #4091
The RS Camera app code is already present in the github. The camera app that builds the SDK is the official RS camera app code.

I have tested two approach to create a pipeline of depth and RGB data.
A) Start a high priority thread and loop to get the frameset.
B) Using a Looper/Handler approach for frameset callback.

Although there should not be any difference in either approach A or B but after

[2020-02-25 21:33] agrunnet commented on #5905
Actually looking at captured image, we noticed that you are running at 15fps.
If you can, please try to run at 30fps. It should help 2x.

[2020-02-25 23:09] oor001 commented on #5905
Thanks for your response, I really appreciate the explanation regarding clock rates and USB2 vs USB 3. I will try again with 30FPS. I did notice the default speed seems to have dropped from 30 to 15 in the latest update but I didn't think to try that. Thanks also for your suggestion of filters.

[2020-02-25 23:36] malith1992 commented on #5907
So as you say this is a bug in the library. So I have nothing to do to solve this issue right ?

[2020-02-26 00:20] ortego26 commented on #5904
Hi @dorodnic
That's what I was suspecting, but when the data is collected locally, it can be accessed no problem but then after upload and download in a different computer, even after moving the file to the hard drive, it seems to crash the viewer.

Here is a snippet of the code that I suspect is not stopping the recording abruptly.

# Get current time to name the file
        Date = time.asctime(

[2020-02-26 00:35] RealSenseCustomerSupport commented on #5680
----------------------------------------------

@JasonHoon Did you get chance to try on other host? Looking forward to your reply. Thanks!

[2020-02-26 01:21] RealSenseCustomerSupport commented on #5859
----------------------------------------------

Hi @drfg0119,

Questions related to ROS should be asked on a forum that intended for ROS  questions:
https://github.com/IntelRealSense/realsense-ros/issues
Please close the issue here and open it on above-mentioned forum.

Thank you!

[2020-02-26 01:58] RealSenseCustomerSupport commented on #5860
----------------------------------------------

Our multi-camera configuration white paper is a great resource for recommendations and considerations for setting up multiple RealSense devices on a machine. Please take a look.
https://dev.intelrealsense.com/docs/multiple-depth-cameras-configuration
Let us know if further assistance is needed. Thank you.

[2020-02-26 04:56] RealSenseCustomerSupport commented on #5831
----------------------------------------------

@Colinsiya Any update from your side? Thanks!

[2020-02-26 04:57] RealSenseCustomerSupport commented on #5827
----------------------------------------------

@ninamwa Any update from your side? Thanks!

[2020-02-26 04:59] RealSenseCustomerSupport commented on #5824
----------------------------------------------

@BeatrizAMartins Could you please update? Looking forward to your reply. Thanks!

[2020-02-26 07:28] dorodnic commented on #5917
Hi @TheButlah
Thanks for the proposal. No plans at the moment, but we will evaluate it internally. Also, the project is open to community pull-requests

[2020-02-26 07:48] dorodnic commented on #5908
Hi @jungseokhong
It should be something like:
[code]

[2020-02-26 08:00] zainmehdi opened #5918 "Application crashed with runtime error .RS2_USB_STATUS_OTHER"
| Camera Model | T265 |
| Operating System & Version | Raspbian Buster |
| Platform | Nano Pi NEO 4 |
| SDK Version | 2.32 |

### Issue Description
I have been having runtime error after the tracker starts. I couldnt find any information for why this is happening. Can anyone provide any information on what might be the cause.

Error : failed to submit request , error: RS2_USB_STATUS_OTHER
Stack Tr

[2020-02-26 08:38] MartyG-RealSense commented on #5918
The code preceding line 2100 in tm-device.cpp where the exception is thrown suggests to me that the error is triggered because the status of the USB is not currently set to 'SUCCESS' when submitting a request to the USB.

Version 2.32.1 of the SDK did a radical rewrite of how the T265 is handled.  Would it be possible please to try version 2.31.0 and see if the problem disappears in that slightly

[2020-02-26 08:41] dorodnic commented on #5904
That's very strange, perhaps permissions issue? Linux / Windows?

[2020-02-26 08:43] zainmehdi commented on #5918
Yes I can try with v2.31. Never had this issue with 2.31 before that.

[2020-02-26 08:52] wangroger0801 opened #5919 "Cannot get serial number of a frame in callback mode when playback"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D435i |
| Firmware Version                   | 05.12.02.100 |
| Operating System & Version | ubuntu 18.04 |
| Kernel Version (Linux Only)    |  Linux ubuntu 5.3.0-28-generic

[2020-02-26 08:54] neripaolo commented on #5726
Thank you for your answer, it solved the problem!
Now I'm facing another issue, with SR300 in a multi-sensor setup: I want to switch them on and of sequently, to avoid interference between the sensors' field of view. So far i managed to do so by changing the laser power from 0 to max. Anyway, this procedure results slow, since a pause is needed to allow the sensors to set after the laser power is

[2020-02-26 09:01] zainmehdi commented on #5918
Sadly I am unable to debug in Version 2.31. Strangely when I run 2.31 in debug mode it gives me unable to load file to device error.

[2020-02-26 09:05] MartyG-RealSense commented on #5918
Yes, I see that you have mentioned about this problem before.

https://github.com/IntelRealSense/librealsense/issues/5725

[2020-02-26 09:32] neilyoung commented on #5756
@radfordi 25 days later the question: Is there any improvement to be reported on all these issues?

TIA

[2020-02-26 09:41] EmmanuelCos opened #5920 "change temporal filter C++"
----------------------------------------------------------------------------------------------------

| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D435 |
| Operating System & Version |   Win 10 |
| Language

[2020-02-26 09:59] MartyG-RealSense commented on #5920
The RealSense SDK has a C++ example program for changing post-processing filters, including the temporal filter.

https://github.com/IntelRealSense/librealsense/tree/master/examples/post-processing

[2020-02-26 12:38] ev-mp commented on #5901
@studennis911988 hello,
This error message is rooted in kernel initialization of the IMU sensor. The device loading and especially the power-management of the required kernel IIO modules is not well-defined, and may leads to incomplete node build-up/start-up.
SDK provides an effective work-around that rectifies and enforces sensor functionality regardless of kernel (mis)behavior. So unless you get

[2020-02-26 12:45] ev-mp commented on #5891
@MoBaT , thanks for the feedback.
Closing this as resolved. Feel free to reopen if needed.

[2020-02-26 12:45] #5891 closed

[2020-02-26 12:51] kevindehecker commented on #5913
I tried al your suggestions regarding the NUC7i3BNK (which has the NUC7i3BNB main board) bios:
- disabled legacy usb,
- xHci setting is not available on NUC7,
- tried the Portable Device Charging Mode -> Off,
- updated to latest BIOs version `BNKBL357.86.A.0081.2020.0114.1542`.

I still have the same problem that the realsense isn't listed in lsusb after a normal reboot. I have a NUC here on my de

[2020-02-26 13:00] studennis911988 commented on #5901
@ev-mp
Thanks for your advise, but it's tedious to plug and unplug the cable every time I start the program, so is there any solution?

[2020-02-26 13:14] RealSenseCustomerSupport commented on #4212
----------------------------------------------

@itachi134999 Did you get chance to try? Looking forward to your update. Thanks!

[2020-02-26 13:16] RealSenseCustomerSupport commented on #4306
----------------------------------------------

@nevynwong Could you please update if you still have the issue with the latest SDK and FW?
@kjacks21 Please feel free to create another new issue for your case. Thanks!

[2020-02-26 13:17] RealSenseCustomerSupport commented on #3360
----------------------------------------------

@Dealerpriest Did you get chance to try? Looking forward to your update. Thanks!

[2020-02-26 13:18] RealSenseCustomerSupport commented on #5812
----------------------------------------------

@sonumathur Did you get chance to try? Looking forward to your update. Thanks!

[2020-02-26 13:19] MartyG-RealSense commented on #5913
My research indicates that RealSense cameras aren't the only USB device that can be non-detected on Linux after a soft reboot.  So expanding the investigation for fixes for soft-reboot detection problems in non-RealSense cameras may provide additional things to try.

For some people, the problem was fixed by updating the kernel.

In the non-RealSense cases I researched, a recurring theme was that

[2020-02-26 13:19] RealSenseCustomerSupport commented on #5822
----------------------------------------------

@impet14  Any update from your side? Thanks!

[2020-02-26 13:21] RealSenseCustomerSupport commented on #5743
----------------------------------------------

@nancibles Any other questions about this? Looking forward to your update. Thanks!

[2020-02-26 13:21] RealSenseCustomerSupport commented on #5723
----------------------------------------------

@byeongkyu Did you get chance to try kernel 5.0? Looking forward to your update. Thanks!

[2020-02-26 13:23] RealSenseCustomerSupport commented on #5592
----------------------------------------------

@RZz96 Did you get chance to try? Any other questions about this? Looking forward to your update. Thanks!

[2020-02-26 13:24] RealSenseCustomerSupport commented on #5696
----------------------------------------------

@ASSSTUM Any update from your side? Any other questions? Thanks!

[2020-02-26 13:27] RealSenseCustomerSupport commented on #4890
----------------------------------------------

@kjacks21 Could you please update if you still need support on this? Thanks!

[2020-02-26 13:46] bellekci commented on #5209
We're experiencing the exact same problem defined here. After a long time, D415 projector is turned off and we do not get any valid frames. Resetting the sensor solves the issue.

We also thought it might be related to the device temperature but it is not. When it occured, the reported temperature was 41 degrees which is the average temperature the device runs reports.

No clue what it is actually

[2020-02-26 13:48] SirDifferential commented on #5209
@bellekci Which firmware version are you using on these cameras? I observed this the other day on 3 sensors, but I forgot to write down their old firmware version before updating to `Signed_Image_UVC_5_12_2_100.bin`. The problem vanished with this new firmware.

[2020-02-26 13:51] bellekci commented on #5209
The FW we have is 05.11.15.00. Yours is newer. Do you think we should update?

[2020-02-26 13:57] SirDifferential commented on #5209
Might be worth checking - if you can't reproduce the problem with the new firmware, it would help to isolate this issue further.

[2020-02-26 14:00] RZz96 commented on #5592
No i couldnt use it in windows

[2020-02-26 14:16] AleBasso80 commented on #5209
@MartyG-RealSense : the external parameters actually change, in fact I calibrate each single camera, but apart from that different devices seem to have different behaviour.

@SirDifferential and @bellekci : I will try the new firmare too, even unfortunately this is still a development FW.

Thanks!

[2020-02-26 14:30] ev-mp commented on #5886
@chrelli hello, I've read both the original and the current thread but still could not elicit the core claim. I will try to answer inline:

No. The frames and their respective metadata attributes are encapsulated and handled atomically. the SDK does not manipulate the frames content/attributes.
Thus the following scenario does not apply to Librealsense:

~~[16, 16, 16, 0, 0, 16, 16, 16, 16]~~

The

[2020-02-26 14:33] ArvindSanjeev commented on #5887
Thanks for the response, will try experimenting outside Unity.

[2020-02-26 14:40] ev-mp commented on #5901
@studennis911988  - please clarify whether this is an actual issue with IMU  -
Do you mean that you cannot restart ROS node without re-plugging the camera?

[2020-02-26 15:01] TheButlah commented on #5389
@ev-mp I am having this same issue now, but this time with the latest apt package of realsense. Here are my symlinks below:
![image](https://user-images.githubusercontent.com/6969415/75357080-ce63ec00-587e-11ea-8d5a-1716298c885e.png)

Note that the `librealsense2.so` symlinks to a nonexistent `librealsense2.so.2.33`

[2020-02-26 15:32] kevindehecker commented on #5913
In my cases the RS is directly connected to the NUC with the cable that came delivered with the RS.
I did try with some other USB devices attached to other ports, but the RS is the only one not coming back after a reboot.
On the NUC in question I'm running 4.15.0-88-generic, I'll update that to 5 and report back tomorrow.

[2020-02-26 15:50] rghl3 commented on #3970
Hi @SlavikLiman,

In continuation to the above, I get the following errors for the untracked movement.

`(tm-device.cpp:1289) SLAM_ERROR Speed`
and
`(types.cpp:49) Out of frame resources!`

I am running t265 and d415 simultaneously. The slam error speed occurs when I rotate the camera, and then out of frame resources error, followed by untracked movements. Any ideas on what might be going wrong?

[2020-02-26 17:53] danielecazzari opened #5924 "Ubuntu 18 apt package version 2.32 simlik issue"
### Issue Description
I noticed than on latest apt package of realsense library 2.32 there is a simlink issue:
    librealsense2.so is linked to librealsense2.so.2.33 instead of librealsense2.so.2.32
This cause the following issue when compiling (for reference to other developers):
    No rule to make target '/usr/lib/x86_64-linux-gnu/librealsense2.so'

To workaround the til fix will be available:

[2020-02-26 18:04] #5839 closed

[2020-02-26 19:44] stino78 commented on #5898
Any insights from anyone?

[2020-02-26 20:04] dorodnic commented on #5856
Hi @gavan1
Sorry for that, I'll try to run it on a Mac end-to-end.
I must say that community interest in the node.js wrapper has been disappointingly limited, while it being one of the more complex wrappers to develop and maintain :(

[2020-02-26 20:09] RealSenseCustomerSupport commented on #5907
----------------------------------------------

Hi @malith1992,

Did you have a chance to install the release candidate/to build it from source? If you did, please provide us with the feedback.

Thank you!

[2020-02-26 21:24] imran514 opened #5925 "Recorded ros bag doesn't play"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       |  D435I  |
| Firmware Version                   | 05.12.02.100 |
| Operating System & Version |   Android OS 10  |                                          |
| Platform

[2020-02-26 21:44] MartyG-RealSense commented on #5925
The 'bag unindexed' error messages suggest that the bag recording process was not properly closed when it was ended.  If you download a sample bag file from the link below and try to play it back, that will help to determine whether the problem is with your recorded bag.

https://github.com/IntelRealSense/librealsense/blob/master/doc/sample-data.md

[2020-02-26 22:39] #5916 closed

[2020-02-26 22:44] MartyG-RealSense opened #5926 "Announcement: Cubemos 'Skeleton Tracking SDK' clip on the RealSense YouTube channel"
Hi everyone,

The official RealSense YouTube channel has added a clip of the new Cubemos 'Skeleton Tracking SDK', which is available from the official online RealSense store for a licence fee of $75 USD.

**YouTube clip:**
https://www.youtube.com/watch?v=PENY6Q24c6A

**Store listing**
https://store.intelrealsense.com/buy-skeletal-tracking-sdk.html

Below is an earlier YouTube clip of the Cubemos s

[2020-02-26 22:58] imran514 commented on #5925
@MartyG-RealSense

I am able to play most of those sample, all those files are less than 1GB, but the file i recorded is more than 3GB, does it causing the issue ?

How can i am make sure that the recording process is properly closed in the "recording" app ?

[2020-02-26 23:06] MartyG-RealSense commented on #5925
If you can record a very short clip that is seconds in duration so that it is less than 1 GB in size, that should answer the question of whether size is an influence in the problem.  It is likely related to the file closing process though.

@dorodnic offers some advice about closing here:

https://github.com/IntelRealSense/librealsense/issues/3029#issuecomment-453114359

[2020-02-26 23:33] ajpernalete opened #5927 "Different measurements, on different PCs, same S.O."
----------------------------------------------------------------------------------------------------

| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       |  D35I  |
| Firmware Version                   | 05.12.01.00 |
| Operati

[2020-02-27 00:23] RealSenseCustomerSupport commented on #5296
----------------------------------------------

@compscidr Any update from your side? Thanks!

[2020-02-27 00:32] RealSenseCustomerSupport commented on #5516
----------------------------------------------

@MubasshirAhmed  @crogersarvr Could you please update? Thanks!

[2020-02-27 00:33] RealSenseCustomerSupport commented on #5438
----------------------------------------------

@vshalkov Will close this if no other questions. Thanks!

[2020-02-27 00:37] RealSenseCustomerSupport commented on #5181
----------------------------------------------

@RodolfoAndrade Any update from your side? Thanks!

[2020-02-27 00:37] imran514 commented on #5925
@MartyG-RealSense

Most of those comments from @drodnic are for cpp library.
Is there any way to make sure that the recording is properly closed in the android app ?

[2020-02-27 01:04] #5438 closed

[2020-02-27 01:55] JacksonnnTan opened #5928 "unable to install the librealsense2-dkms package"
**Ubuntu 16.04 with kernel 4.15.0-45**
Even after  "sudo apt install libelf-dev"

Reading package lists... Done
Building dependency tree
Reading state information... Done
The following additional packages will be installed:
  dkms librealsense2-udev-rules
The following NEW packages will be installed:
  dkms librealsense2-dkms librealsense2-udev-rules
0 upgraded, 3 newly installed, 0 to remove and

[2020-02-27 03:07] studennis911988 commented on #5901
@ev-mp Sorry for the misunderstanding.
The ROS node can start successfully without re-plugging the cable but with the HID error I mentioned, and by re-plugging the cable, everything goes fine without any error message. However, the error message pops out again in the next round when I launch the ROS node again.

[2020-02-27 03:27] locdoan12121997 commented on #1697
@jgomezlopez Hi, how did you solve the problem, I get the same message as you with command dmesg

[2020-02-27 04:09] sonumathur commented on #5812
I have no knowledge about how to work with ROS as replied by @RealSenseCustomerSupport .

Till not able to generate pointcloud2 object using D435 in Matlab.
If there is any method for Matlab then please provide.....

Thanks

[2020-02-27 04:27] mikepurvis commented on #5662
Ubuntu Focal LTS comes out in April and has 5.4 as the default kernel: https://packages.ubuntu.com/source/focal/linux

We're beginning to test with this OS and would appreciate support for it. Additionally, it would be great to have the source for the dkms package opened up so that it's straightforward for third parties to modify/update the patches as required and push their own versions of the pa

[2020-02-27 06:09] pdrey919 opened #5930 "Native Realsense for Android CMake Issue"
Hi There,
I just got the T265 tracking camera and have set up a desktop app and tested it, but I'd like to get it working on an android program I have. I understand it's not fully supported, but if I can just get the position data from it, that's plenty.
I followed all instructions on editing the gradle file, and now I want to use the JNI as described [here](https://github.com/IntelRealSense/libre

[2020-02-27 06:29] MartyG-RealSense commented on #5925
I will link the authors of the recording example into this conversation to see if they can provide input.  @matkatz @alowenst01 ...  And @ev-mp might be able to help too.

[2020-02-27 09:02] JasonHoon commented on #5680
@RealSenseCustomerSupport
 Sorry for the late reply. I did test new computer.

I was able to record without the problem of having a depth value of zero.

Unfortunately, I found a new error.

This is Error message : RuntimeError: hwmon command 0x30 failed. Error type:  (1).

Thanks! :)

[2020-02-27 09:21] xaritonn commented on #5503
I am still investigating this problem and cannot understand what the problem is.
I would be grateful for any help
@dorodnic @RealSense-Customer-Engineering @RealSenseCustomerSupport

[2020-02-27 09:58] azuredsky opened #5931 "D435 firefly RK3399 USB3.0 NO Frames Received"
----------------------------------------------------------------------------------------------------

| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                        | {  D435 } |
| Firmware Version                    | D4XX_FW_Image-5.12

[2020-02-27 10:05] drfg0119 commented on #5859
@RealSenseCustomerSupport Hi, OK!! Thank you !

[2020-02-27 10:05] #5859 closed

[2020-02-27 10:13] drfg0119 commented on #5846
Hi @RealSenseCustomerSupport and @weseu , I got the similar problem too [https://github.com/IntelRealSense/realsense-ros/issues/1087](url)
I am really frustrated about this...

[2020-02-27 15:02] ev-mp commented on #5931
@azuredsky , did you try to use self-powered USB hub?

[2020-02-27 15:02] Murded opened #5933 "Android - CameraInfo.USB_TYPE_DESCRIPTOR"
----------------------------------------------------------------------------------------------------

| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       |  D400  |
| Firmware Version                   | 05.11.06.250 |
| Operat

[2020-02-27 15:04] ArturSchuetz opened #5934 "Usin"

[2020-02-27 15:05] ArturSchuetz opened #5935 "Using T265 with any other Intel Sensor does not work anymore"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | T265 |
| Firmware Version                   | 0.2.0.926 |
| Operating System & Version |   Ubuntu 18.04.4 LTS  |
| Kernel Version (Linux Only)    |  (e.g. 4.14.13)  |
| Plat

[2020-02-27 15:09] #5934 closed

[2020-02-27 15:25] omarfakhr opened #5936 "XCODE Swift C++ wrappers"
| Camera Model                       | {D415 } |
| Firmware Version                   | (Open RealSense Viewer --> Click info) |
| Operating System & Version |    MacOS  |
| Kernel Version (Linux Only)    |  (e.g. 4.14.13)                                         |
| Platform                                 | MacOs  |
| SDK Version                            |  {  }                          |
| Lan

[2020-02-27 15:26] #5749 closed

[2020-02-27 15:31] ev-mp commented on #5901
@studennis911988 , thanks for the confirmation.
To reconfirm - this message is informative only and does not affect sensor operation. There is no reason to replug the camera when this message is fired.
We also don't want to suppress this message as this allows to trace kernel changes.

[2020-02-27 16:05] kevindehecker commented on #5913
Also with kernel 5.3.0-40-generic on the NUC7i3, the reboot problem persists. Any other suggestions? I mean I can work with the rtc reboot trick, but willing to help debug this further is possible.

[2020-02-27 16:20] MartyG-RealSense commented on #5913
Given that **rtcwake** works for you, I wonder if something sleep-related is happening in Linux during boot.   Perhaps try setting all the power-saving options to 'Never'.

[2020-02-27 17:26] MartyG-RealSense opened #5937 "Announcement: RealSense at the ISE 2020 digital signage show"
Hi everyone,

Intel has published an article on the ISE 2020 digital signage show that highlights how RealSense is being used in products such as **Prowise** educational touch-screens and **Yoonik** facial recognition powered hotel check-in.

https://www.intel.co.uk/content/www/uk/en/it-managers/ise-2020-iot-digital-signage-round-up.html

[2020-02-27 20:05] #5838 closed

[2020-02-27 21:53] RealSenseCustomerSupport commented on #5423
----------------------------------------------

Hi @ phil-marble, This issue is resolved by latest LRSV2.33. Could you please check it out? Thanks.

[2020-02-27 22:11] RealSenseCustomerSupport commented on #5310
----------------------------------------------

@SirDifferential, thank you so much for the input.

[2020-02-27 22:15] DavidCadtec opened #5938 "Optimum SetUp of Filters in RS Viewer for Indoor Capture"
Using a D415.
Running on Ubuntu 16.04

### Issue Description
@RealSenseCustomerSupport
I'm struggling here trying to achieve an optimum configuration recording people walking indoor. In the range of 1 - 8m.
Basically i'm trying to setup the posto processing filters to record avoiding artifacts in the depth colorized stream.
Is there any tip to achieve the best result possible ?
Should i turn on an

[2020-02-28 00:22] RealSenseCustomerSupport commented on #4689
----------------------------------------------

Hi @zinan93,

Do you experience the same issue using the latest build of RealSense SDK?

Thank you!

[2020-02-28 00:41] azuredsky commented on #5931
@ev-mp

3Q, I will try it.

[2020-02-28 02:51] imran514 commented on #5925
@matkatz @alowenst01 and @ev-mp

Any help would be appreciated

[2020-02-28 03:16] locdoan12121997 commented on #1828
@jebasamuel
Hi, I have apply the kernel patch but still not work. What I did to apply the patch was:
Download patch https://patchwork.kernel.org/patch/11179557/
Then find the file name hantro_v4l2.c, which appear to be in ~//librealsense/ubuntu-bionic-5/drivers/staging/media/hantro/hantro_v4l2.c, and direct to the directory
Then, patch < media-hantro-relax-s_fmt-out-busy-error.patch
But I still ha

[2020-02-28 04:36] RealSenseCustomerSupport commented on #5933
----------------------------------------------

@Murded Do you mean you're using Type C USB cable? Please note that some kinds of Type C USB cable is not USB3 cable but USB2. Could you please double check the cable is USB3 or USB2?  Also please check the USB port on your android device is USB2 or USB3. Only when USB cable and USB port are both USB3, then you can get USB3 connection. Thanks!

[2020-02-28 05:52] RealSenseCustomerSupport commented on #5680
----------------------------------------------

@JasonHoon Glad to hear the previous issue resolved. For your new error, could you please specify more details about how you get it? And it's better to create another issue if the procedure is not the same as previous one.

[2020-02-28 07:24] MartyG-RealSense commented on #5938
Though the D435 model is best suited to capturing motion thanks to its fast Global Shutter (compared to the slower Rolling Shutter on the D415), the D415 should still be able to handle human walking pace.

Intel's tuning guide for the 400 Series cameras advises that if the scene has bright light then you may be able to reduce motion artifacts by setting exposure manually to near to 1 ms.

[2020-02-28 07:38] korzen commented on #5935
I can confirm the issue, neither rs-multicam nor rs-tracking-and-depth examples from master branch work. The cameras work fine together in the viewer so its most likely the never ending story of the t265 initialization along with d4x5 camera...

<pre>RealSense error calling rs2_pipeline_start_with_config(pipe:0x5608b46230e0, config:0x5608b4470ac0):
    No device connected
</pre>

[2020-02-28-08_31

[2020-02-28 08:00] locdoan12121997 opened #5939 "Multithread Multicam xioctl(VIDIOC_S_FMT) failed Last Error: Device or resource busy"
* Before opening a new issue, we wanted to provide you with some useful suggestions (Click "Preview" above for a better view):

    * Consider checking out SDK [examples](https://github.com/IntelRealSense/librealsense/tree/master/examples#sample-code-for-intel-realsense-cameras).
    * Have you looked in our [documentations](https://github.com/IntelRealSense/librealsense/tree/master/doc#useful-lin

[2020-02-28 09:20] MartyG-RealSense opened #5940 "Announcement: Cubemos 'Skeleton Tracking SDK' clip (UPDATE: Free Trial Version)"
Hi everyone,

The official RealSense YouTube channel has added a clip of the new Cubemos 'Skeleton Tracking SDK', which is available from the official online RealSense store for a licence fee of $75 USD.

**UPDATE:  A free trial version is now available for download from the information page at the link below.**

https://www.intelrealsense.com/skeleton-tracking

***********************

**YouTube

[2020-02-28 09:21] #5926 closed

[2020-02-28 09:51] jebasamuel commented on #1828
@locdoan12121997
You need to apply the patch for correct v4l2 driver code. Check your v4l2 driver. it may not be necessary same as the hantro.

[2020-02-28 11:26] philipNoonan opened #5941 "KinectFusion in the browser with realsense and webGL2-compute"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | { D400 } |
| Operating System & Version |   {Win (8.1/10) / Linux (Ubuntu 14/16/17)  |
| Platform                                 | PC  |

Hi all, hope this is ok to share h

[2020-02-28 11:49] d3-worgan commented on #5748
Hi can anyone advise how to continue in this situation?  Appears to be similar to the one described here i.e. have followed the installed steps described at https://github.com/IntelRealSense/librealsense/blob/master/doc/installation.md and am now stuck on running step 4, "./scripts/patch-realsense-ubuntu-lts.sh"

![Screenshot from 2020-02-28 11-34-28crop](https://user-images.githubusercontent.com/

[2020-02-28 12:05] inesdfelix commented on #5925
I'm also having the same problem! When I record using the example "recording" from the android wrapper and then try to play back the file using Python returns the following error: "RuntimeError: Failed to resolve request. Request to enable_device_from_file("20200228_105609.bag") was invalid, Reason: Failed to create ros reader: Bag unindexed".
Would really appreciate the solution to this! Thank yo

[2020-02-28 12:07] d3-worgan opened #5942 "Kernel Patches Ubuntu"
Hi can anyone advise how to continue in this situation?

![Screenshot from 2020-02-28 11-34-28crop](https://user-images.githubusercontent.com/56825720/75545579-998e9b00-5a1e-11ea-8abc-f79ffedae4cc.png)

Appears to be similar to the one described here https://github.com/IntelRealSense/librealsense/issues/5748 i.e. have followed the installed steps described at https://github.com/IntelRealSense/libr

[2020-02-28 12:08] Murded commented on #5933
@RealSenseCustomerSupport Hi, thanks for such a quick response.

I have confirmed that the connection on the phone is USB 3 (See specification [here](https://www.gsmarena.com/honor_view_20-9468.php)) and I've also tried a variety of cables and I beleive that they are also USB 3 (I have connected the realsense camera to the desktop and there is no USB 2 listed in the realsense viewer)

The issue I'

[2020-02-28 12:12] christian-rauch commented on #5942
Rule Nr. 1: Never paste screenshots of text. Past the text directly as code.

Rule Nr. 1: Never paste screenshots of text. Paste the text directly as formatted code.

I do not see an error in this screenshot. The compilation seems to succeed.
Is it just the warning that is confusing? The kernel 5.3 series is supported since https://github.com/IntelRealSense/librealsense/pull/5751.

[2020-02-28 12:24] d3-worgan commented on #5942
Thanks for the reply Christian.

Yes was just worried it said unsupported kernel version for 5.3.0 and that is the kernel I am using. I can see that 5.3.0 has been supported for a few weeks now which is why it appeared confusing.

Just wanted to check everything is okay so thanks Christain

Dan

[2020-02-28 12:27] christian-rauch commented on #5942
@ev-mp Can you update the kernel version check?

[2020-02-28 14:02] korzen commented on #5940
Looks promising but it does not work with GPU (GTX 1080 driver 441.41, CUDA v10.1 installed) and the inference performance on the CPU (i7-4790K @4.4GHz) is rather poor.

![cubemos-error](https://user-images.githubusercontent.com/1381860/75554614-f8620d80-5a3a-11ea-8b28-881c04f0e7cf.jpg)

[2020-02-28 15:28] MartyG-RealSense commented on #5940
Thanks very much for your feedback about the problem that you had.  It looks as though you are using the Cubemos SDK's 'charp-interactive' sample program in the image above?

I have installed the trial version and run some tests on Windows with a D415 but was not able to recreate your Nvidia failure, as the GPU inside my NUC8i5INB is Radeon 540x and I encountered no problems.

There is another sam

[2020-02-28 16:04] smartynenko commented on #5681
My camera reports that VendorId is actually 0x03E7. I can connect using this VendorId, but not sure how to open open a stream and start getting pose data

[2020-02-28 17:43] delebash commented on #4292
patrickpoirier51

Did you do anything to resolve the redirect to sfederation issue.  I have the same problem, tried different browsers and even my phone browser but I keep getting redirected

[2020-02-28 17:54] priyanandanaren opened #5943 "depth array (ushort) and getDistance of (x,y) are not matching"
Depth array (ushort) value (number*depthscale) and depthframe's getDistance values are not matching. For example, the pixel point (x,y) depth is not matching with the depth array (say x*1280+y). How to map the x,y and ushort array index properly?

[2020-02-28 18:00] MartyG-RealSense commented on #4292
You should be able to access the forum by visiting this link directly.

https://forums.intel.com/s

You can then sign in at the top corner if you are not already signed in, and you should then be logged in and able to access your profile by left-clicking on your name and selecting the 'My Profile' option from the menu that drops down.

The old RealSense forum's front page that lists posts is no lo

[2020-02-28 18:05] delebash commented on #4292
Thanks, just contacted intel and they are aware of the login problem and working on it.  Ty

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

From: MartyG-RealSense<mailto:notifications@github.com>
Sent: Friday, February 28, 2020 1:00 PM
To: IntelRealSense/librealsense<mailto:librealsense@noreply.github.com>
Cc: Daniel Elebash<mailto:danelebash@hotmail.com>; Comment<m

[2020-02-28 18:06] #5816 closed

[2020-02-28 18:14] radfordi commented on #5681
The T265 uses a chip made by Movidius (0x03E7).  When `librealsense` detects it, it will upload the firmware to the T265 and then the vendor will change to Intel (0x8087).

[2020-02-28 18:58] RealSenseCustomerSupport commented on #5744
----------------------------------------------

Hi @abdulhafiz7794 Do you have a chance to try it out?

Do you need further help on this? If we don't hear from you in 7 days, this issue will be closed.

[2020-02-28 19:01] RealSenseCustomerSupport commented on #5865
----------------------------------------------

Hi @srividya91
Do you need further help on this?
If we don't hear from you in 7 days, this issue will be closed.

[2020-02-28 19:05] #5643 closed

[2020-02-28 19:05] #5701 closed

[2020-02-28 19:15] RealSenseCustomerSupport commented on #5914
----------------------------------------------

Hi @kevindehecker,

Do you need any further clarifications regarding this topic or it could be closed?

Thank you!

[2020-02-28 20:28] smartynenko commented on #5681
It seems to be going back and forth depending on what you connect last. I connected camera to my laptop, ran realsense-viewer and camera vendor id changed to Intel. Then I reconnected it to android device and it went back to 0x03E7. Is there anything in android build that makes camera switch vendor id, or this is due to the fact that I build out of development branch?

[2020-02-28 20:38] RealSenseCustomerSupport commented on #4608
----------------------------------------------

Hi Jered, Ross, David and Kevin,

Hope you are doing well! It's been a while since we've spoken.How your project is going?
We still have one open ticket "D435 Frame Rate Drops Above Certain Resolutions Running on Arm64" and we'd like to know if it can be closed until the time you have any updates. When you do have updates/issues, we can re-engage thi

[2020-02-28 20:59] radfordi commented on #5681
Correct, @smartynenko. This is by design.  Each time the device is plugged in, the firmware needs to be uploaded to the device.   When this happens the vendorid/productid will change.  The (untested) Android build should detect the 0x03E7 (Movidius) bootloader and upload the firmware.  My understanding is that Android support should mostly be in place after our recent large refactor of the USB sub

[2020-02-28 21:00] erikgallegos commented on #5895
@dorodnic Just to be clear, I don't necessarily want to select which stream will start first, just the on-screen order of the streams. For example, sometimes the depth stream will be at the top of the screen and the color stream will be underneath it, and sometimes their positions are flipped.

But you are saying this is not possible to control right?

[2020-02-28 21:31] korzen commented on #5940
Thanks for a quick reply the cpp-realsense works fine on CPU but when I run with the GPU I get similar error:
C:\Program Files\Cubemos\SkeletonTracking\bin>cpp-realsense.exe GPU

[CUBEMOS_LOG_1][2020-Feb-28 22:28:38.166043][info]File logging initialised and the files will be saved at the path: "C:\Users\korze\AppData\Local\Cubemos\SkeletonTracking\logs"

[CUBEMOS_LOG_2][2020-Feb-28 22:28:38.176041

[2020-02-28 21:40] RealSenseCustomerSupport commented on #4661
----------------------------------------------

Hi @ jjh930910 Do you have any update?
If we don't hear from you in 7 days, we will close this issue.

[2020-02-28 21:45] smartynenko commented on #5681
there is downloadFirmware() task in build.gradle file for camera example which will download firmware files for d4xx and sr3xx cameras, similarly camera app will check if attached device is one of those two series before attempt to update. can librealsense reset t265 to its default version? (I can't see to be able to locate fw update code in the library)

[2020-02-28 22:02] #3428 closed

[2020-02-28 22:02] #3844 closed

[2020-02-28 22:15] kevswims commented on #4608
Hi David,

We actually just started an internal investigation into this issue. I have been able to use a USB analyzer to capture what is happening when we have framerate issues. I will attach a PDF that goes into more detail about the experiments I have conducted so far.

Summary:
It seems that the realsense camera is not sending complete frames up. On the incomplete frames the camera sends back a

[2020-02-28 22:31] MartyG-RealSense commented on #5940
I replicated your test, launching the program from the command prompt with **cpp-realsense.exe GPU** and got the same error as you on my NUC with a non-Nvidia Radeon GPU.  And like your test, it worked fine with  **cpp-realsense.exe CPU**

***********

[CUBEMOS_LOG_5][2020-Feb-28 22:13:45.304174][error]Exception caught in file d:\sdk\skeleton_tracking\dep\cubemos_core\sources_and_scripts\core\modu

[2020-02-28 23:20] radfordi commented on #5681
Each backend ([`mf`](https://github.com/IntelRealSense/librealsense/blob/83f952a4bd6b70d72459f66c7f67ddaba9d337a0/src/mf/mf-backend.cpp#L83), [`rsusb`](https://github.com/IntelRealSense/librealsense/blob/83f952a4bd6b70d72459f66c7f67ddaba9d337a0/src/rsusb-backend/rsusb-backend.cpp#L58), [`v4l`](https://github.com/IntelRealSense/librealsense/blob/83f952a4bd6b70d72459f66c7f67ddaba9d337a0/src/linux/ba

[2020-02-29 07:23] XMaster96 opened #5944 "Mapping color X, Y coordinates in to depth x, y coordinates"
Hello,
I am performing object detection on the color Image, what then gives me x, y coordinates in the color Image space. I now would like to map the color x, y coordinates in to the depth x, y coordinate space.
Is there a way to do that with the SDK or to retrieve the transformation Matrix?, The Depth date and Image have the same size (1280x720), and i am using the D435i and Python3.

Thanks

EDI

[2020-02-29 08:19] MartyG-RealSense commented on #5944
If you need to map color pixels to depth pixels, I wonder if the instruction **rs2_project_color_pixel_to_depth_pixel** may meet your needs.

https://github.com/IntelRealSense/librealsense/issues/2948

[2020-02-29 08:43] kevindehecker commented on #5914
Nope that's OK. Thanks again!

[2020-02-29 08:43] #5914 closed

[2020-02-29 09:47] korzen commented on #5940
That's because the csharp-interactive.exe does not recognize GPU option. See console log in the attached image. The inference runs on CPU.

[2020-02-29 10:30] studennis911988 commented on #5901
@ev-mp
Sadly, in my device,  when the warning message fires, either accelerator or gyroscope can't output any data (I can't remember which one didn't function well), causing it being quite tedious to re-plug the cable.
I'm wondering if there is any solution for it.

[2020-02-29 14:40] DavidCadtec commented on #5938
@MartyG-RealSense
Thanks for the advise ... fot the time being i will continue capturing the pedestrian materials for my research using my D415 but i'm considering buying a D435 or other (Zed ?) Depth Camera for some further tests ... is there any recent comparison Matrix between Depth Cameras features that you would recommend as a reference ?

Also thank you for sending the link for the tuning gu

[2020-02-29 15:03] MartyG-RealSense commented on #5938
Intel have a 'Which camera is right for you' guide that compares the models, including the forthcoming new L515 lidar camera.  Near the bottom of the page is a feature comparison chart.

https://www.intelrealsense.com/which-device-is-right-for-you/

[2020-03-01 03:11] dongxuanlb opened #5945 "T265 not work"
Use rs-multicam example:

RealSense error calling rs2_pipeline_start_with_config(pipe:0x55d4cd235d60, config:0x55d4cd23cca0):
    No device connected

FW: 0.2.0.926.

but the realsense-view is ok.

[2020-03-01 06:45] smartynenko commented on #5681
I updated few makefiles to include files from src\tm2 directory, not android fails to upload fw binaries into camera (usbhost.c: usb_device_bulk_transfer -> "bulk_transfer returned error, endpoint: 1, error: Out of memory, number: 12"). Any suggestions about how to fix this?

[2020-03-01 07:53] MartyG-RealSense commented on #5945
Can rs-multicam detect the T265 if you unplug it from the USB port and then plug it back in, please?

[2020-03-01 08:07] dongxuanlb commented on #5945
No, I had try many times. Actually, use ctx_.query_devices() can found the t265, every info is ok. But when call cfg.resovle, or just start pipeline it throws the message "No device connected"

[2020-03-01 08:16] MartyG-RealSense commented on #5945
Do you have any other RealSense cameras plugged in as well as the T265 when using rs-multicam, please?

[2020-03-01 08:37] dongxuanlb commented on #5945
No, I only use T265 and the d435i  is ok.

and I look up the realsense-view cpp and use the code is working correctly.

for(auto && s : device_.query_sensors()) {
    if (s.is<rs2::pose_sensor>()) {
        rs2::pose_sensor ps = s.as<rs2::pose_sensor>();
        std::vector<rs2::stream_profile> sps = ps.get_stream_profiles();
        for(auto && sp : sps) {
            if (sp.is<rs2::pose_stream_p

[2020-03-01 08:46] MartyG-RealSense commented on #5945
I am not a RealSense programming specialist.  Others on the RealSense team can provide more expert answers about coding.  From what I understand though,  using query_devices() is the appropriate action when starting a T265, so it is understandable that this would work.

Things become more complicated when using a T265 and a depth camera such as D435 together on the same machine.  In that case, you

[2020-03-01 09:07] MartyG-RealSense commented on #5945
If I may also ask, do you intend to use the T265 and D435i together?  If you only plan to use the T265 on its own with no other camera attached, then you could also use the **rs-pose** example to get pose data, or the **rs-ar-basic** example to get pose and fisheye together.

https://github.com/IntelRealSense/librealsense/blob/master/doc/t265.md#c-examples

[2020-03-01 10:07] ev-mp commented on #5942
@d3-worgan , the modified script for kernels 5.0/3 is available on the `development` branch.
The `master` branch is yet to be updated.

Please check and confirm.

[2020-03-01 10:10] dongxuanlb commented on #5945
Yes, I have a d435i and I know that use d43x and t265 work together would cause a lot of little problem. since the latest sdk version 2.32.1, I test all functions I needs with my d435i , and work correctly .

[2020-03-01 10:26] MartyG-RealSense commented on #5945
SDK 2.32.1 did a massive rewrite of how the T265 is handled, and caused problems for a small number of people that were not in the previous 2.31.1 version.  The RealSense team are working on fixes for issues that arose from the changes in 2.32.1.

[2020-03-01 11:13] ev-mp commented on #5924
@danielecazzari hello,
We've identified and resolved an issue with the repository that should be fixed by now.
Please remove the currently installation and get the authorized debian version with
[code]

[2020-03-01 11:29] #5937 closed

[2020-03-01 14:51] devshank3 opened #5947 "Cubemos skeletal tracking sdk installation failed - ubuntu"
# cubemos skeletal tracking
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       |  D435i |
| Firmware Version                   |  |
| Operating System & Version |    Linux (Ubuntu 19.10)  |
| Kernel Version (Linux Only)    |