[2018-10-23 06:14] aman-tiwari commented on #2535
Changing the priority seemed to help reduce the number of dropped frames. Manually setting the exposure worked. In the end I found that it recorded much more smoothly on Ubuntu and switched to an installation of that.

[2018-10-23 06:31] ev-mp commented on #2578
Hello @lesreaper ,
The specific options are applicable with colorizer object.
To check whether specific option is available use the `supports` API

   if (depth_sensor.supports(rs.option.max_distance)):
        ...

[2018-10-23 06:58] Tien94 commented on #2431
Hi,
I've successfully installed librealsense2 in Xavier with Jetpack4.1 as followed setups:

1. Install dependencies:
sudo apt-get install git libssl-dev libusb-1.0-0-dev pkg-config libgtk-3-dev
sudo apt-get install libglfw3-dev libgl1-mesa-dev libglu1-mesa-dev

2. Build source: cmake ../ -DBUILD_PYTHON_BINDINGS=bool:true -DPYTHON_EXECUTABLE=/usr/bin/python3

3. Except one issue that i have to run

[2018-10-23 07:08] MartyG-RealSense commented on #2425
The only example of a Visual Preset script for Python I could find was one provided by Dorodnic in November 2017.

https://github.com/IntelRealSense/librealsense/issues/856#issuecomment-347828788

[2018-10-23 07:39] MartyG-RealSense commented on #2570
You are very welcome.  I'm glad to be able to be of help.

The 400 Series cameras use Stereoscopic vision, with a left and right imager.  Kinect 1 was based on Structured Light, which is similar to the RealSense SR300 camera model.  Kinect 2 used a different system called Time of Flight.

Dorodnic the RealSense SDK Manager published a blog article explaining how stereo depth vision works.

https:/

[2018-10-23 07:50] dorodnic commented on #2575
No... In my opinion this should be considered a bug. Can someone from the support team please assist to reproduce? @xtrawurst it would help us if you could share the exact Windows build you are using? Anything odd about it?

[2018-10-23 07:55] dorodnic commented on #2569
I agree this requires a fix. We are looking into the issue (I'm a bit hesitant to commit, because align flow is somewhat more complicated than what we done before, and I'm not CUDA expert by any means. But we will do our best)

[2018-10-23 07:57] RealSense-Customer-Engineering commented on #2577
[Realsense Customer Engineering Team Comment]
Hi @dibya-pati,

Try below code to see how it works:

    pipe_profile = pipeline.start(config)

    depth_sensor = pipe_profile.get_device().first_depth_sensor()

    preset_range = depth_sensor.get_option_range(rs.option.visual_preset)
    _#print('preset range:'+str(preset_range))_
    **for** i **in** range(int(preset_range.max)):
     visulpreset

[2018-10-23 10:44] kubrakaracan commented on #2523
you can see the difference between ground truth and distance on screenshot
![screenshot from 2018-10-23 13-42-49](https://user-images.githubusercontent.com/35079571/47355265-9ddbd300-d6c9-11e8-8348-4f8f9e8125a6.png)

[2018-10-23 11:26] ShettyHarapanahalli opened #2580 ""System Reseting" every 5 seconds"
----------------------------------------------------------------------------------------------------

| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D435|
| Firmware Version                   | (Open RealSense Viewer -->

[2018-10-23 11:43] ShettyHarapanahalli commented on #2580
Well looks like I have not updated the camera parameters fully, After updating the same I see no reset now.
Below is the updated yaml file for reference -

%YAML:1.0

#--------------------------------------------------------------------------------------------
# Camera Parameters. Adjust them!
#--------------------------------------------------------------------------------------------

# Camera c

[2018-10-23 11:43] #2580 closed

[2018-10-23 12:17] coldcoda commented on #2459
@RealSense-Customer-Engineering @matkatz
Yes,after I updated my Unity Editor to 2018.2.13,there is no such issue.
But,when I run this scene,It has the error like this:
The Scene:
![image](https://user-images.githubusercontent.com/37976152/47359301-fd080a80-d6fe-11e8-84fe-e757c5eb29cb.png)
Error:
![image](https://user-images.githubusercontent.com/37976152/47359226-c4683100-d6fe-11e8-80bb-b571b13d83

[2018-10-23 13:18] #2242 closed

[2018-10-23 14:31] LouMagsClark commented on #2576
After coming back to the issue today, I guess what I would really like to do is stream from the D415 and save the captured stream within an x,y,z axis, like a .PLY file

I'm currently streaming for 5 seconds using this code I adapted:

`function stream_example()

    %Make Pipeline object to manage streaming
    pipe = realsense.pipeline();
    %Make Colorizer object to prettify depth output
    c

[2018-10-23 14:46] meglstuart commented on #2568
Hi, I'm trying to update my existing repo and am getting similar errors as above:

[code]

I am running Ubuntu 18.04 as well. Is this still from the repository migration issue?

[2018-10-23 14:57] mprat opened #2581 "Tell if connected to D415 or D435"
----------------------------------------------------------------------------------------------------

| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D400 |
| Firmware Version                   | 5.10.3 |
| Operating Syst

[2018-10-23 15:21] matt-deboer commented on #2568
I believe I had to remove the repo, (probably run an `apt-get update`), and then add it back.
Sorry I don't recall the exact steps that I performed, as my main workflow for this was inside a docker container (new repo every time).

[2018-10-23 15:33] meglstuart commented on #2568
Yep, that'll do it. Thanks!

[2018-10-23 16:07] RealSense-Customer-Engineering commented on #2581
[Realsense Customer Engineering Team Comment]
Hi @mprat,

You can refer to the sample code "python-rs400-advanced-mode-disabled.py" to check the PID which is different between D415 (0AD3) and D435 (0B07).

[2018-10-23 17:55] danielw256 commented on #2575
https://github.com/IntelRealSense/librealsense/issues/1996

[2018-10-23 18:08] xtrawurst commented on #2575
@dorodnic
Windows 10 Pro, Version 1803 (OS Build 17134.345).
This is running on a MacBook Air using a separate partition (using BootCamp).

[2018-10-23 18:32] dibya-pati commented on #2577
Thanks, this works

[2018-10-23 18:44] RealSense-Customer-Engineering commented on #2484
[Realsense Customer Engineering Team Comment]
Hi @metanamo,

The decomposeHomographyMat() should provide the rotation and translation.

https://docs.opencv.org/3.4.1/d9/d0c/group__calib3d.html#ga7f60bdff78833d1e3fd6d9d0fd538d92

Below contains an example to decompose the Homography matrix.
https://docs.opencv.org/3.4.1/d9/dab/tutorial_homography.html

Thank you.

[2018-10-23 19:04] RealSense-Customer-Engineering commented on #2357
[Realsense Customer Engineering Team Comment]
Hi kevinzakka,

I managed to get a MacBook w/ High Sierra, and built RealSense SDK 2.13 from source code.
By running your code below, I found out that it also queried the platform camera and has some issue with it. This may consume lots of time.

If using another way to check cameras and adding time check for querying each camera, it only takes negligi

[2018-10-23 19:07] mprat commented on #2581
Awesome, thanks!

[2018-10-23 19:07] #2581 closed

[2018-10-23 19:20] RealSense-Customer-Engineering commented on #2554
[Realsense Customer Engineering Team Comment]
Hi @shane7226107,

Backend timestamp could be used as the reference.
What is the resolution and frame rate, and streams that are configured when the test was performed?

Regards,
Yusheng

[2018-10-23 19:51] gayanbrahmanage commented on #1485
You can use,
`  Mat M;`
 `M.create(height,width,CV_32FC1);`
Then, save using .exr file type.

[2018-10-23 22:34] MartyG-RealSense opened #2582 "Announcement: Dot3D Scan software now compatible with D410, D415 and D435"
Hi everyone,

I just wanted to give a heads-up that DotProduct's Dot3D Scan 3D scanning software is now compatible with RealSense D410, D415 and D435.

https://communities.intel.com/thread/130133

This software will also be compatible with DT Research's new military grade DT301-X RealSense equipped tablet coming in November 2018.

https://www.officer.com/command-hq/technology/computers-software/ta

[2018-10-23 23:22] philipjames44 opened #2583 "SR300 Resolution & FPS Settings"
----------------------------------------------------------------------------------------------------

| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | SR300 / |
| Operating System & Version |   MacOS  |
| Platform

[2018-10-24 00:29] philipjames44 commented on #2583
For posterity: https://communities.intel.com/thread/123565

I fixed my issue with link above as reference. FPS drop was due to large resolution of RGB image.

[2018-10-24 00:29] #2583 closed

[2018-10-24 00:46] #2577 closed

[2018-10-24 00:58] shane7226107 commented on #2554
Hi Yusheng,

I enabled Color, Depth and IR left stream,

The resolution resolution of them are all  640x480 at frame rate 30fps.

Thanks,
Shane

[2018-10-24 01:24] HippoEug opened #2584 "Is depth.get_distance(x,y) a time consuming function on C++?"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D400 |
| Firmware Version                   | 05.09.02.00 |
| Operating System & Version | Win 10 |
| Kernel Version (Linux Only)    |

[2018-10-24 01:30] philipjames44 opened #2585 "Short Range Depth & Discontinuous Video"
----------------------------------------------------------------------------------------------------

| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       |  SR300|
| Operating System & Version |  MacOS  |
| Platform

[2018-10-24 02:03] kqi914 opened #2586 "Could not find a version that satisfies the requirement pyrealsense2"
----------------------------------------------------------------------------------------------------

| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D415  |
| Operating System & Version |    Linux Ubuntu 16 |
| Kernel Ve

[2018-10-24 02:13] philipjames44 commented on #2585
So for part II with altering depth with presets, this was wonderful: https://github.com/IntelRealSense/librealsense/issues/2193

However I am still having issues trying to figure out how to record consecutive video sequences in separate files without losing a couple seconds of footage. Any help would be appreciated :)

[2018-10-24 02:14] #2485 closed

[2018-10-24 03:31] RealSense-Customer-Engineering commented on #2578
[Realsense Customer Engineering Team Comment]
Hi @lesreaper,

Try below code to see how it works.

colorMap = rs.colorizer()
**print**(**"colorizer - max_distance: %f"** %(colorMap.get_option(rs.option.max_distance)))

[2018-10-24 03:55] RealSense-Customer-Engineering commented on #2431
[Realsense Customer Engineering Team Comment]
@Duclinhfete Could you please try as Tien94 provided? Looking forward to your update. Thanks!

[2018-10-24 04:53] HippoEug opened #2587 "Purpose of make_shared pointer to Pipeline? [C++]"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D435 |
| Firmware Version                   | 05.09.02.00 |
| Operating System & Version | Win 10 |
| Kernel Version (Linux Only)    |             NIL

[2018-10-24 05:12] RealSense-Customer-Engineering commented on #1594
[Realsense Customer Engineering Team Comment]
@Xiaosong As Dorodnic replied, we don't have the plan to add java wrapper in the near future. Considering this, is it Ok  for you to close the ticket at present?  You might check the release note if the feature is available later. Thanks!

[2018-10-24 05:19] RealSense-Customer-Engineering commented on #2572
[Realsense Customer Engineering Team Comment]
@Erget Did you get chance to try with hub? And do you still have the issue? Looking forward to your update. Thanks!

[2018-10-24 06:00] HippoEug commented on #2585
Ha! I am trying to do the opposite of you, I am trying to capture only 1 frame, not even 1 second!

[2018-10-24 07:35] HippoEug opened #2588 "ROSBAG: Single Frame Capture? [C++]"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D435 |
| Firmware Version                   | 05.09.02.00 |
| Operating System & Version | Win 10 |
| Kernel Version (Linux Only)    |

[2018-10-24 07:39] zhouwg opened #2589 "is there event callback registration interface in the librealsense's internal?"
----------------------------------------------------------------------------------------------------

| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | { D415, D435 } |
| Operating System & Version |   Ubuntu 18.04.1 x86-64

[2018-10-24 07:54] zhouwg opened #2590 "is there anything CSP function in the librealsense's internal"
----------------------------------------------------------------------------------------------------

| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | { D415 } |
| Operating System & Version |   Linux (Ubuntu 14/18 x86-64

[2018-10-24 08:34] zhouwg commented on #2589
I found some callback function in the librealsense's internal and I'll try to understand event mechanism in the librealsense.

Thanks. The issue would be closed accordingly.

[2018-10-24 08:34] #2589 closed

[2018-10-24 08:56] SeoHyunSeok opened #2593 "Unity AlignmentSample Scene Crashes"
----------------------------------------------------------------------------------------------------

| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D415 |
| Firmware Version                   | 05.10.06.00 |
| Operating

[2018-10-24 09:07] RZz96 commented on #2356
Hi
I used it and i got error saying that " object has no attribute 'apply_filter' "

[2018-10-24 13:43] RZz96 opened #2595 "Problem to install Pysensor in python 2.7"
----------------------------------------------------------------------------------------------------

| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | { R200 / F200 / SR300 / ZR300 / D400 } |
| Firmware Version

[2018-10-24 13:58] josephduchesne commented on #1615
Ok, I'm currently testing the configuration. On 3/4 systems that I have tested so far NUC7i3 BIOS 0069 + Intel Realsense firmware 5.10.3 (the latest version when I started these tests two weeks ago) + a recent version of ros-kinetic-intel-realsense2 the configuration works fine and appears stable.

The cable configuration is two USB type C to Type A cables: one connected to the front blue USB port

[2018-10-24 14:20] philipjames44 commented on #2585
If you only want 1 frame you can follow this tutorial: https://github.com/IntelRealSense/librealsense/blob/master/doc/stepbystep/getting_started_with_openCV.md

[2018-10-24 16:03] RZz96 commented on #1163
to use get_a_sensor_from_a_device in order to change exposure of depth frame what should i install ? Pysensor?or sensor?

Thanks in advance for help

[2018-10-24 16:43] dorodnic commented on #2584
Hi @HippoEug
Using `get_distance` in a loop is not recommended. It is more suitable when you need to check the distance of couple of specific interest points. The main reason for the slowdown is that the compiler has no way to inline the call (since you are passing library boundaries) so instead of just going to the depth value in memory, the compiler is forced to generate a bunch of function call

[2018-10-24 16:45] dorodnic commented on #2584
Example: [cv-helpers.hpp:43-56](https://github.com/IntelRealSense/librealsense/blob/c3c758d18c585a237bb5b635927797aa69996391/wrappers/opencv/cv-helpers.hpp#L43-L56)

[2018-10-24 16:50] dorodnic commented on #2590
Hi @zhouwg
Can you please explain what you mean by CSP functions? My first guess was that you are referring to YUY-RGB conversions, but I'm not sure given the examples you provided.

[2018-10-24 16:52] ghormann commented on #2431
Tien94's solutions is similar to the first post.  (Skip the examples. ).  This is more of a workaround than a solution.   (Still don't think it is a problem IntelRealSense, but rather a dependency.)

[2018-10-24 16:55] dorodnic commented on #2595
I suspect what you need is [pyrealsense2](https://github.com/IntelRealSense/librealsense/tree/master/wrappers/python#installation): `pip install pyrealsense2`
I'm not sure what is PySensors.

[2018-10-24 17:08] dorodnic commented on #2587
Hi @HippoEug

Both `record` and `playback` classes derive from common base class - `device`. Perhaps less confusing names would be `recorder` and `player`. The idea is for these two "devices" to behave just like a regular device, so you can write your code once, as if it was always running on real hardware.

If at any point you need to check if you are running on real hardware or a recording, you

[2018-10-24 17:16] dorodnic commented on #2586
There is nothing wrong on your side. Unfortunately, we still not ready to publish pip packages for ARM architecture (and same goes for Mac, although this one should be solved soon)
For the moment, if you want to work with `pyrealsense2` on the Jetson, you need to [build it from source](https://github.com/IntelRealSense/librealsense/tree/master/wrappers/python#building-from-source). Overall, it is

[2018-10-24 17:30] #2536 closed

[2018-10-24 17:48] dorodnic commented on #2288
This issue should be resolved in the upcoming 2.16.2 release. The installer is going to include the missing examples and redistribute GLFW, IMGUI and OpenCV. Once the release is ready, I hope it will help new users. @temmat thank you for the valuable feedback.

[2018-10-24 17:49] #2204 closed

[2018-10-24 17:53] dorodnic commented on #1594
[wrappers#community-projects](https://github.com/IntelRealSense/librealsense/tree/development/wrappers#community-projects)

[2018-10-24 17:57] dorodnic commented on #1526
I think we can close this. Hopefully the differences between Y8 and Y16 were sufficiently illuminated. As for ROS, @cartokk feel free to open a separate issue if you need this. At the moment it is not supported I believe, just because we don't see any application for Y16 frames in a robot (with them being non-rectified and all)

[2018-10-24 17:57] #1526 closed

[2018-10-24 18:08] RealSense-Customer-Engineering commented on #2575
[Realsense Customer Engineering Team Comment]
Tried D415 (FW5.9.14) on NUC6i3SYH with Windows 10 Pro (version 1803 OS build 17134.345), but couldn't reproduce the issue even with the "RS400 Camera Service" enabled. The camera driver version is 5.1.160.24 (6/12/2018)

Thanks

[2018-10-24 18:29] jlgarcia75 commented on #1163
Hello @RZz96,

I don't understand your question. Can you clarify what you mean by "install pysensor? or sensor?"

You must install the librealsense source code.

Regards,
Jesus
Intel Customer Support

[2018-10-24 20:55] LouMagsClark commented on #2582
I downloaded a free trial of the software, it crashes every time I select new scan... This is with a D415 camera.

[2018-10-24 20:58] kasperkamperman commented on #1594
@cansik I've found a Processing example for Windows (https://github.com/chungbwc/Magicandlove/tree/master/ml20181024b). Are you working on Mac? It would be a great to have the RealSense camera's working in Processing.

[2018-10-24 21:10] MartyG-RealSense commented on #2582
DotScan 3D's hardware specification requires a USB 3.0 port.  Are you using your D415 with USB 3, please?

[2018-10-24 21:12] LouMagsClark commented on #2582
Yes, with a USB 3.2

On Wed, Oct 24, 2018, 17:10 MartyG-RealSense <notifications@github.com>
wrote:

[2018-10-24 21:20] MartyG-RealSense commented on #2582
And you have a computer with an Intel Core i5 processor or faster, and graphics that support OpenGL 3.3 or higher?  These are the two other specification recommendations of the software.

[2018-10-24 23:06] RealSense-Customer-Engineering commented on #2205
[Realsense Customer Engineering Team Comment]
Hello AleBasso80,

We have been able to replicate similar issues with non-powered USB 3.0 hubs, or USB ports that do not deliver enough power to cameras.
Please answer the questions below so we can help narrow down your issue:

-  What kind of system are you using?  Intel UP Board, NUC, Laptop?  Please provide model name and #.

-  Are you plugging in

[2018-10-24 23:40] RealSense-Customer-Engineering commented on #2518
[Realsense Customer Engineering Team Comment]
Hello @hetzbh,

Were you still having issues retrieving the specific LRS 2.15 package you are looking for?

@ev-mp is correct that the dkms package is updated every SDK release and the package name doesn't change.  Command "sudo apt install librealsense2-dkms" should be sufficient for that package.

Thank you!

[2018-10-24 23:59] RealSense-Customer-Engineering commented on #1615
[Realsense Customer Engineering Team Comment]
Hello @josephduchesne,

I am glad to hear 3 of the 4 systems are working for you now!

Just for a quick test - can you:

-  Use the same 2 cables + 2 working cameras being used on one of the working systems and transfer them to the system displaying the lsusb errors?

-  If you are still seeing the same errors with those cables/cameras combination, can

[2018-10-25 00:34] Steven0706 commented on #2496
@RealSense-Customer-Engineering Thanks for asking. I am not lucky with the python wrapper. I tried add those two line that @lesreaper mentioned above to my .bashrc and reboot. However, when I am in the librealsense /wrappers/python, and try to import pyrealsense2, the error is: No module named 'pyrealsense2.pyrealsense2'.

when I am anywhere outside this folder, it will just be No module named 'py

[2018-10-25 01:57] RealSense-Customer-Engineering commented on #2514
[Realsense Customer Engineering Team Comment]
@BGA3 From your previous description, you only got this issue on one of 4 firefly boards, right? If so, it might be the hardware problem for this specific firefly board.  And could you please try usb2 on this issue board to see if you still get the issue?

[2018-10-25 02:00] RealSense-Customer-Engineering commented on #2463
[Realsense Customer Engineering Team Comment]
@EmmanuelCos Thanks for your valuable suggestions! Will try to evaluate.

[2018-10-25 02:14] RealSense-Customer-Engineering commented on #2436
[Realsense Customer Engineering Team Comment]
@upxela Could you please provide the update of this issue? Thanks!

[2018-10-25 03:08] laihaotao commented on #2542
thanks for your reply. solved

[2018-10-25 03:08] #2542 closed

[2018-10-25 03:36] zhouwg commented on #2590
Hi @dorodnic ,
Thanks your comments. your guess is correct!

for example in x264 project:

http://git.videolan.org/?p=x264.git;a=blob;f=filters/video/resize.c;h=dda5db99d9e5108430793e961bdb8e5051596e52;hb=refs/heads/master#l53

if librealsense could export some color space conversation function as following:

typedef struct  {
    int32_t width;
    int32_t height;
    int32_t stride;
    int32_t

[2018-10-25 05:44] RealSense-Customer-Engineering commented on #2593
[Realsense Customer Engineering Team Comment]
Hi @SeoHyunSeok,

Is this file missing in your working copy?
https://github.com/IntelRealSense/librealsense/commits/development/wrappers/csharp/Intel.RealSense/Option.cs

[2018-10-25 06:47] RealSense-Customer-Engineering commented on #2593
[Realsense Customer Engineering Team Comment]
Hi @SeoHyunSeok,

The *.cs files in <librealsense>/wrappers/charp/ are not Unity script.

Build librealsense from source, please follow this document.
https://github.com/IntelRealSense/librealsense/blob/master/doc/installation_windows.md

And please make sure turn on the option *BUILD_UNITY_BINDINGS* in CMake.

build the whole project. and then the Uni

[2018-10-25 07:12] cansik commented on #1594
@kasperkamperman Yes, this windows example uses the prebuilt library of @edwinRNDR. I already implemented a processing version of it, you can find it here, also with the [prebuilt java library for mac](https://github.com/cansik/realsense-processing/tree/master/lib) of the wrapper (the example code is in kotlin): [realsense-processing](https://github.com/cansik/realsense-processing)

And I already

[2018-10-25 07:32] erget commented on #2572
Sorry, I haven't had a chance to obtain a hub yet, and I'll be out of town on the weekend. I hope that I get a chance to take a look next week. Sorry for moving so slow on this!

[2018-10-25 07:53] SeoHyunSeok commented on #2593
Working very good. Thanks!

[2018-10-25 07:53] #2593 closed

[2018-10-25 08:02] RealSense-Customer-Engineering commented on #2585
[Realsense Customer Engineering Team Comment]
Hi @philipjames44,

What's your cfg (resolution, fps, etc) for depth and color? From the frame number indication, I can see some frame drops in the beginning of the streams on my setup, but doesn't observe a few seconds of frame drops. between pipe stop and start.
Does this happens on your Mac or your also try it on another system?

[2018-10-25 08:19] Shu1-matsumoto commented on #1615
Hello, sir

 I have the same issue.

Required Info
Camera Model	D435
Firmware Version	5.10.3
Operating System & Version	Linux (Ubuntu 18.04)
Platform	Intel Atom Custom board

My SBC is recognizing D435 on USB 3.0 port, but when I reboot the SBC from command, The SBC lost the D435 after rebooting.

1. When I take off the USB cable and insert again, it's OK. My SBC can recognize the D435.

2. When I

[2018-10-25 08:28] HippoEug commented on #2588
Thanks @philipjames44 , I will take a look at the example you shared. Good day!

[2018-10-25 08:32] HippoEug commented on #2584
Hello Dorodnic! Thanks for the wonderful insight, I have think I have a rough idea of what you are talking about.

I will take a look at the example you sent, if there are any further questions on this issue I will further clarify again. Thank you!

[2018-10-25 08:41] HippoEug commented on #2555
No I have not.. because I couldn't find a solution I ended up writing all my test functions in a single function `rsgui.init()`, all together in a `while(window)` loop.

Here is what it currently looks like:
#### `Source.cpp`
[code]

#### `rsgui.cpp`
[code]

I will give it another shot to try and make it work again tomorrow. If you need any further information please let me know! Thank you Sergey!

[2018-10-25 10:02] RealSense-Customer-Engineering commented on #2552
[Realsense Customer Engineering Team Comment]
Hi @fu3lab,

I'm sorry for late.

Do you ask how to config the output of the RealSense camera?
If yes, you can replace

`rs2::pipeline_profile profile = pipe.start();`

by

`
    rs2::config cfg;
    cfg.enable_stream(rs2_stream::RS2_STREAM_DEPTH, 1280, 720, rs2_format::RS2_FORMAT_Z16);
    cfg.enable_stream(rs2_stream::RS2_STREAM_COLOR, 1280, 720, rs2

[2018-10-25 11:49] mkollaro commented on #2439
Sorry for the late reply, the notification got lost in some pile of email.

I was able to install all packages, no problem there. The issue is that when I run realsense-viewer and connect a camera (SR300), I get error messages about missing kernel patches. This time I was using the packages from Ubuntu Bionic and kernel `4.16.0-1-amd64`. I'll try to figure out how to get the kernel 4.15. Regardles

[2018-10-25 12:15] jimwormold opened #2604 "Force grab of a new frame via software trigger"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       |  D400 } |
| Firmware Version                   | (05.10.03.00) |
| Operating System & Version |   {Linux 18} ||
| Kernel Version (Linux Only)    |  (e.g. 4.14.13)

[2018-10-25 12:28] ghormann commented on #2431
Today there is now an update to libGL in the standard repos that fixed the library linking issue.  After an apt-get update and apt-get upgrade, I'm able to compile when using -DBUILD_EXAMPLES=true

[2018-10-25 12:39] McJun1 opened #2605 "I get an error when I read a depth image on the RK3399 platform"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       |  D435  |
| Firmware Version                   | 05.10.06.00 |
| Operating System & Version |  Ubuntu16.04  |
| Kernel Version (Linux Only)    |  4.4.138 |
| Platform

[2018-10-25 13:41] AleBasso80 commented on #2205
Hello,
I used the USB cables provided by the Italian RealSense reseller, I'm sure I plugged the cameras to USB3 ports and I used the latest firmware version.

I tried with a laptop ASUS ROG Zephyrus and with a desktop PC (USB ports connected to the motherboard).

Cheers!

[2018-10-25 14:03] CasimirBo opened #2607 "error by storing frames in a loop into a list"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D400 |
| Firmware Version                   | 05.10.06.00 |
| Operating System & Version |   Win(10)   |
| Platform                                 | PC  |
| SDK Version

[2018-10-25 14:13] philipjames44 commented on #2585
Hi @RealSense-Customer-Engineering ,

At the moment I only have a Mac to test on, however I will test on an Ubuntu system in approximately a week. My depth and color are both 640x480 for resolution at 30fps. The thing is, my Mac is rather powerful, so I can't imagine my system is the bottleneck. My specs are an intel core i7 at 2.6 GHz, 32GB of DDR4 ram, and 2TB of SSD storage. Even when I turn al

[2018-10-25 14:22] dorodnic commented on #2607
Hi,
Can you try adding `frameset.keep()` in the loop?
Unless you explicitly request it, we keep finite pool of 16 frames of each type.

[2018-10-25 14:34] CasimirBo commented on #2607
Hi,
that simply solved the problem.

Thanks a lot

[2018-10-25 14:49] jlgarcia75 commented on #1212
@m0oz,

External triggering is not possible today with RealSense ROS but it is in development. No timeline yet for when it will be released.

Regards,
Jesus
Intel Customer Support

[2018-10-25 14:56] RealSense-Customer-Engineering commented on #2595
[Realsense Customer Engineering Team Comment]
Hi @RZz96,

Still use "pyrealsense2". Try the code like below. By the way, which camera do you use?

**import** pyrealsense2 **as** rs
pipeline = rs.pipeline()
profile = pipeline.start(config))
depth_sensor = profile.get_device().first_depth_sensor()
depth_sensor.set_option(rs.option.exposure, <exposure value>)

[2018-10-25 15:50] emredog commented on #2240
Hello,

Is there a plan to provide a proper API call to see if a camera is already in use?

I'm currently using exception handling to this end, and I'm not really happy with it:
[code]

[2018-10-25 17:08] RealSense-Customer-Engineering commented on #2469
[Realsense Customer Engineering Team Comment]
Hi HippoEug,

Your current question is addressed in https://github.com/IntelRealSense/librealsense/issues/2584.
Can we are closing this one for now?

Thanks!

[2018-10-25 17:59] kqi914 commented on #2586
@dorodnic On step 3 where it says:
`cmake ../ -DBUILD_PYTHON_BINDINGS=bool:true
`
Is that command by itself supposed to work or should i add something to it? I am getting the following message:

[code]
I tried adding the path to the downloaded files for pyrealsense2 but it gave me the same message. I have never built anything from source so this is pretty new to me, hope you can help me with this.

[2018-10-25 18:19] Steven0706 commented on #2496
Finally I am good to run now! Thank you so much!

I did not know what I changed make it works but yes, I checked every steps and put the path in .bashrc. Thank you so much! I will upload my Rockpro64 image with all these package later to here in case anyone happen to use the same SBC. Thank you Intel! You guys are awesome!

[2018-10-25 18:31] dorodnic commented on #2586
Of course, seems like just a mix-up with the current directory. Try:
[code]
I do want us to expand the `apt` packages beyond Intel-only platforms, but it can take some time. Sorry for the inconvenience.

[2018-10-25 19:36] upxela opened #2609 "RGBD frame alignment w/o free functions"
* Before opening a new issue, we wanted to provide you with some useful suggestions (Click "Preview" above for a better view):

    * Consider checking out SDK [examples](https://github.com/IntelRealSense/librealsense/tree/master/examples#sample-code-for-intel-realsense-cameras).
    * Have you looked in our [documentations](https://github.com/IntelRealSense/librealsense/tree/master/doc#useful-lin

[2018-10-25 21:57] wenlianggao opened #2610 "D430 camera synchronization & external projector signals?"
----------------------------------------------------------------------------------------------------

| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | { D430 } |
| Firmware Version                   | (Version 5.10.6) |
|

[2018-10-26 02:54] HippoEug commented on #2463
Cannot wait for the integration of Open3D in future releases as seen [here](https://github.com/IntelRealSense/librealsense/releases/tag/v2.16.2)!

[2018-10-26 03:02] HippoEug commented on #2469
Yes, please. thank you. Close #2469

[2018-10-26 03:10] ljc19800331 opened #2611 "No framed received in ubuntu 16.04, 18.04"
| Camera Model                       | { D400 } |
| Firmware Version                   | (Open RealSense Viewer) |
| Operating System & Version |   {Linux (Ubuntu 14/18)  |
| Kernel Version (Linux Only)    |  (4.15.0-36-generic)  |
| Platform                                 | PC |
| SDK Version                            |  {librealsenseSDK2 }                          |
| Language

[2018-10-26 03:18] MemoryNode opened #2612 "[ USB SCP/CAM overflow ], [ RT IC2 Config error ] with D435"
----------------------------------------------------------------------------------------------------

| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | { D435 } |
| Firmware Version                   | 5.10.06.00 |
| Operat

[2018-10-26 03:38] HippoEug commented on #2612
Does your computer happen to be older? I tried using the D435 on a pretty old laptop running Windows 10, and experienced `USB CAM overflow` and `USB SCP overflow` frequently. Suspected it was due to the crappy USB, and ended up switching to another laptop. I do not have this issue anymore..

Not sure what is causing it exactly though :/

[2018-10-26 04:13] #2469 closed

[2018-10-26 04:16] MemoryNode commented on #2612
@HippoEug
I thought about that possibility, But I didn't have this problem when I tested it on other computers of the same model...
( Dell OptiPlex 7040MT , Intel CORE i5 )

[2018-10-26 04:35] HippoEug opened #2613 "Clarifying example.hpp in future releases?"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D400 |
| Firmware Version                   | 05.09.02.00 |
| Operating System & Version | Win 10 |
| Kernel Version (Linux Only)    |

[2018-10-26 05:28] RealSense-Customer-Engineering commented on #2611
[Realsense Customer Engineering Team Comment]
Hi @ljc19800331,

1. In Ubuntu 18.04, can your D415 be recognized as a USB3 device? Please run "usb-devices" to show the USB device info. Do you use the pre-built realsense-viewer or build it from the source?
2. What's D415 firmware version?
3. Please check if you enable "BUILD_WITH_TM2" in CMAKE by accident?

[2018-10-26 05:34] RealSense-Customer-Engineering commented on #2496
[Realsense Customer Engineering Team Comment]
Hi @Steven0706,

It's great you solved this issue. Always welcome to share your info here for everyone.

[2018-10-26 05:52] dorodnic commented on #2611
A quick comment regarding @RealSense-Customer-Engineering point no. 3 - it is not your mistake, BUILD_WITH_TM2 is true, you can work-around the problem by setting it to false (`cmake ../ -DBUILD_WITH_TM2=false`) You are most likely behind proxy, please consider checking your network settings, since we do plan to continue distributing binaries in this way via CMake.

[2018-10-26 06:59] AndresCastilloRepNow opened #2616 "Android Camera Permission"
What is the specific issue that causes to need a rooted device?

[2018-10-26 07:00] #2616 closed

[2018-10-26 07:01] indigohedgehog opened #2617 "Android Camera Permission"
What is the specific issue that causes to need a rooted device?

[2018-10-26 08:10] #2590 closed

[2018-10-26 08:19] MemoryNode commented on #2612
@dorodnic
Thanks for your reply.

My computer OS is [Win10 Home Chinese version], and the D435 is directly connectes to one of the USB3.0 Ports on the motherboard.

Interestingly, sometimes it can also run for a long time(Up to 5 hours, and I didn't do anything), but usually only 10-30 minutes.

Just now, it crashed again( USB SCP overflow | RT IC2 Config error ), the Viewer were still connected w

[2018-10-26 08:30] HippoEug commented on #2612
Do you mean turning on and leaving the pipeline on (streaming) continuously for 5 hours straight? My D435 feels hot to the touch if I leave it on for more than 20 minutes..

[2018-10-26 08:49] carun opened #2618 "Updating to firmware 5.10.6 prevents connecting to two cameras"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D435 |
| Firmware Version                   | 5.10.6 |
| Operating System & Version |   {Win 10)|
| Platform                                 | PC  |
| SDK Version

[2018-10-26 08:50] MemoryNode commented on #2612
@HippoEug
The same to mine,  It's perfect for hand warmers, especially now that it's getting colder.
With the Depth Quality Tool , we can see that the Asic and Projector Temperature are high. In later products, we will consider adding cooling system to reduce its temperature

[2018-10-26 09:08] carun commented on #2618
Posted on the [community forum ](https://communities.intel.com/message/574311#574311)as well.

[2018-10-26 09:16] dorodnic commented on #2617
This part:
[code]
from [AndroidJavaApp.md](https://github.com/IntelRealSense/librealsense/blob/master/doc/android/AndroidJavaApp.md).

There are several alternatives, including building a custom image as proposed in some pull-requests (#2489). We are still evaluating this method, but from my personal experience, building Android image from source is not something I as a developer would do at home.

[2018-10-26 09:49] BGA3 commented on #2514
Yeah actually I got the issue on 2 out of 4 boards. And yes, there seems to be an issue with the USB both in terms of power and data transfer.

One week ago I changed all four boards to using the USB 2 post (which is okay because I dont need a high fps). So far this has been running smoothly.

I guess we can close this issue, as I guess we can blame the firefly board for messing up the camera oper

[2018-10-26 09:55] carun commented on #2618
FYI, we have downgraded the production systems from firmware version 5.10.6 to 5.9.13. Things are back to normal.

Also SDK 2.16.2 has some bug. The app just crashes in production. I just saw that it's a pre-release. But unfortunately we can't get the stracktrace.

So the working combination is firmware 5.9.13 and SDK 2.16.1.

[2018-10-26 10:35] RealSense-Customer-Engineering commented on #2376
[Realsense Customer Engineering Team Comment]
Before anything, you have run release build. Right?

[2018-10-26 13:00] dorodnic commented on #2618
Hi @carun
We did identify a problem with the new software release, it should be limited to Windows and mostly just the Depth Quality Tool application. We are working to publish a hot-fix ASAP. Is this the app that crashed in your environment?

[2018-10-26 14:50] zhouwg commented on #2617
I'm also interesting with this question. appreciate too much @dorodnic 's detailed elaboration.
is there any planning or roadmap of librealsense's supportive with Android ?
or what's the planning or roadmap of librealsense's supportive with Android?

we both know that Intel's Realsense Camera is an imagination and creative product and the librealsense is also a excellent c++ library. and we also k

[2018-10-26 14:56] pedropgusmao opened #2619 "ROS bag and timestamps"
* Before opening a new issue, we wanted to provide you with some useful suggestions (Click "Preview" above for a better view):

    * Consider checking out SDK [examples](https://github.com/IntelRealSense/librealsense/tree/master/examples#sample-code-for-intel-realsense-cameras).
    * Have you looked in our [documentations](https://github.com/IntelRealSense/librealsense/tree/master/doc#useful-lin

[2018-10-26 16:07] dorodnic commented on #2619
Hi @pedropgusmao
This a known issue that we do want to address (#1161), **carefully** without breaking compatibility for TBs of content. You can overcome it right now by playing the recording via RealSense ROS wrapper - [rs_from_file.launch](https://github.com/intel-ros/realsense/blob/development/realsense2_camera/launch/rs_from_file.launch)
This is probably also the recommended way since it will

[2018-10-26 16:34] RealSense-Customer-Engineering commented on #2587
[Realsense Customer Engineering Team Comment]
Hi HippoEug,

Do you still need help on this?

Thanks!

[2018-10-26 16:42] carun commented on #2618
@dorodnic It's a Windows app, consuming RGB frames. We don't use depth information.

[code]

[2018-10-26 17:29] RealSense-Customer-Engineering commented on #2586
[Realsense Customer Engineering Team Comment]
Hi kqi914,

Besides what have been mentioned by dorodnic, here is what I used to build from LibRealSense source code off Nivida TX2:

As there could be several versions of python installed, I wanted to specify the executable path of the python version to be used (I used python 2.7 here)

mkdir -p ~/rs_2.16.1
cd ~/rs_2.16.1
git clone https://github.com/

[2018-10-26 17:32] RealSense-Customer-Engineering commented on #2357
[Realsense Customer Engineering Team Comment]
Hi kevinzakka,

Wonder if you get any updates or do you still need help on this?

Thanks!

[2018-10-26 17:47] #2607 closed

[2018-10-26 17:52] indigohedgehog commented on #2617
I think the approach for handling communication for android, is with UsbManager class, instead of libusb, besides it should stop using libuvc at all.

To properly support android, this means replacing libuvc, and by doing that, you can't use stream class directly, therefor all the content of libuvc folder has to be reimplemented in android. Then in the native lib, orchestrate an input/out flow.

[2018-10-26 17:58] ljc19800331 commented on #2611
Hello @RealSense-Customer-Engineering ,
1. I am using the prebuilt realsense-viewer after installing the packages sudo apt-get install librealsense2-dkms, sudo apt-get install librealsense2-utils.
2. Yes sure, this is the usb-devices information when I connect the D415:

T:  Bus=01 Lev=00 Prnt=00 Port=00 Cnt=00 Dev#=  1 Spd=480 MxCh= 3
D:  Ver= 2.00 Cls=09(hub  ) Sub=00 Prot=00 MxPS=64 #Cfgs=  1
P

[2018-10-26 19:58] #2617 closed

[2018-10-26 20:15] dorodnic commented on #2611
Well the proxy settings really depend on your network situation. You should be able to reach [target-0.0.18.3452.mvcmd](http://realsense-hw-public.s3.amazonaws.com/Releases/TM2/FW/target/0.0.18.3452/target-0.0.18.3452.mvcmd) from browser and via CMake. But no worries, disabling `DBUILD_WITH_TM2` has no negative side-effects for  D400 users, and we have plenty of time to streamline T265 deployment

[2018-10-27 03:07] umersadiq opened #2620 "Can't install realsense viewer on windows 10"
* Before opening a new issue, we wanted to provide you with some useful suggestions (Click "Preview" above for a better view):

    * Consider checking out SDK [examples](https://github.com/IntelRealSense/librealsense/tree/master/examples#sample-code-for-intel-realsense-cameras).
    * Have you looked in our [documentations](https://github.com/IntelRealSense/librealsense/tree/master/doc#useful-lin

[2018-10-27 03:32] Kottapalli-Naveen opened #2621 "Not able to install librealsense on Ubuntu 16 (4.15.0-38-generic)"
----------------------------------------------------------------------------------------------------

| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | { NA} |
| Firmware Version                   | (NA) |
| Operating Syste

[2018-10-27 06:19] MartyG-RealSense commented on #2620
Could you please download the 266 mb file that contains the whole of the 2.16.2 version of the SDK and report back whether the Viewer then works for you, please?  The filename on the downloads page is 'Intel.RealSense.SDK-2.16.2.304.exe'

https://github.com/IntelRealSense/librealsense/releases/tag/v2.16.2

[2018-10-27 09:13] umersadiq commented on #2620
Thanks for getting back quickly…

I installed the SDK.
This installs in the Program Files (x86) folder.

The behavior is the same when i go into tools > realsense-viewer.

[2018-10-27 09:42] MartyG-RealSense commented on #2620
There was a similar case to yours in the past week on the Intel Support website, where nothing happened when that user tried to launch the Viewer.  They fixed it by updating their graphics driver.

https://communities.intel.com/message/573265#573265

[2018-10-27 10:12] umersadiq commented on #2620
That fixed it - Thanks!

[2018-10-27 10:12] #2620 closed

[2018-10-27 12:08] NeuroRanger opened #2622 "Compile with Visual Studio Express Edition"
Should the RealSense-Lib be able to compile with VS Express?
I get a missing Header-File called "atlcomcli.h". As far as I know, this is part of the "Active Template Library (ATL)", which is not included in the Express-Version of VS.
I tried installing the WinDDK, etc., adding Include- and lib-Paths like "C:\WinDDK\7600.16385.1\inc\atl71" but even with VS Community-Edition I get missing libraries.

[2018-10-27 17:31] dorodnic commented on #2622
Hi @NeuroRanger

Yes, it should. At least in theory. The CI we have runs VS Professional, so it is possible we accidentally broke it. For a work-around, if all you need is to develop on top of the SDK, you can use the pre-compiled version ([Intel.RealSense.SDK-2.16.2.304.exe](https://github.com/IntelRealSense/librealsense/releases/download/v2.16.2/Intel.RealSense.SDK-2.16.2.304.exe))

It is possib

[2018-10-27 17:32] dorodnic commented on #2621
Hi @Kottapalli-Naveen
Just to make sure - are you running on an Intel-Joule board? What installation document are you following?

[2018-10-27 21:10] NeuroRanger commented on #2622
Thanks, dorodnic!

I can propably use the .dll from the SDK-binaries.
But I miss the Unity-Wrapper-Environment, which I already used after compiling the SDK with VS Professional, that worked well since the latest Version-Update. Is there a precompiled Bundle anywhere including the "wrappers/unity"-folder?

Would of course be great to be able to compile it with VS Express.

So thanks for mentioning

[2018-10-27 23:17] General-Ilya opened #2623 "Syncer class for Python Wrapper"
----------------------------------------------------------------------------------------------------

| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | { R200 / F200 / SR300 / ZR300 / **D400** } |
| Firmware Version

[2018-10-28 05:32] dorodnic commented on #2622
We publish a [unitypackage](https://github.com/IntelRealSense/librealsense/releases/download/v2.16.2/Intel.RealSense.unitypackage) and the C# wrapper is included in the installer. Hope this can help for now...

[2018-10-28 05:38] dorodnic commented on #2623
Hi @General-Ilya
Sorry, it might be a bit confusing - you can enable hardware sync using `set_option` API. The syncher class provides software sync, bundling everything up at API level. And for now, it can't really help with multi-camera sync (we are working in this direction however). The main problem is that once cameras are in sync, their hardware-timestamps are no longer reliable and the frame

[2018-10-28 06:01] dorodnic commented on #2611
@RealSense-Customer-Engineering - can we check if firmware 5.9.2 was signaling the "end of frame" bit?
(I know 5.8.15 was not, and 5.9.2 was bundled with LRS 2.9.0 so its quite old)
In latest DKMS we tightened the rules for UVC compliance (details here - #2341) and it will result in "no frames received" behavior on old firmware.

@ljc19800331 @mwrightE38 please consider updating your camera firmwa

[2018-10-28 07:55] NeuroRanger commented on #2307
I had the same problem. In the latest release the issue seems to be fixed.
I downloaded version 2.16.2.0, compiled it, started a scene in Unity, loaded a recorded .bag-file, it showed the content and didn't crash anymore.
Thanks a lot for fixing that!

[2018-10-28 12:20] njnydxzc commented on #2573
I got RGB and depth images separately through the Intel RealSense Viewer tool. But these two pictures do not correspond. I got a coordinate by image recognition in the RGB image. How do I get the corresponding coordinates of the coordinates in the depth image to get the depth value corresponding to it?

[2018-10-28 14:00] Kottapalli-Naveen commented on #2621
Hello @dorodnic

How do I get the board type?  Am using the below installation instructions.

https://github.com/IntelRealSense/librealsense/blob/master/doc/installation.md

Thanks

[2018-10-28 14:29] dorodnic commented on #2621
The document says:
* Intel® Joule™ with Ubuntu Based on the custom kernel provided by Canonical Ltd.
`./scripts/patch-realsense-ubuntu-xenial-joule.sh`

If you do have a Joule, it would look something like this:
![](https://images-na.ssl-images-amazon.com/images/I/71rhc7Aa4zL._SX355_.jpg)

These are not very common, so I think you probably should be running `./scripts/patch-realsense-ubuntu-lts.sh

[2018-10-28 14:46] zhouq123 opened #2629 "how can i calibrate rgb image in different resolution"
hi, i have a question, my camera model is D415. after using the Dynamic Calibrator software, i can get a file "RgbCalibrationTable.xml", and the parameters about rgb:
ResolutionRGB
1920
1080
FocalLengthRGB:
1388.26
1388.26
PrincipalPointRGB:
936.129
544.581

but how can i calibrate rgb image in different resolution using the Dynamic Calibrator software , for example: 640*480.

[2018-10-28 14:52] zhouq123 commented on #2629
hi, i have a question, my camera model is D415. after using the Dynamic Calibrator software, i can get a file "RgbCalibrationTable.xml", and the parameters about rgb:
    <param name = "ResolutionRGB">
        <value>1920</value>
        <value>1080</value>
    </param>
    <param name = "FocalLengthRGB">
        <value>1388.26</value>
        <value>1388.26</value>
    </param>
    <param name =

[2018-10-28 15:32] HippoEug commented on #2376
I actually get pretty bad FPS too running this example.. maybe about 10FPS?

[2018-10-28 15:45] HippoEug commented on #2573
![image](https://user-images.githubusercontent.com/21957042/47618215-6dea6080-db0b-11e8-8dc8-2c35c1f889a2.png)

You want the two "previews" as seen above, color and depth to be aligned correct? I too am trying to find a solution for this.

I think the first step is to match the resolution of the streams.. the default for color is something like 640x480 while the depth is 1280x720.

[2018-10-28 16:00] dorodnic commented on #2573
This is somewhat repeating question - it is impossible to align images based on image data alone. You need camera calibration information. You could write elaborate code to serialize and deserialize this data yourself, but we strongly recommend using the built-in recorder ([example](https://github.com/IntelRealSense/librealsense/tree/master/examples/record-playback))

We do plan to provide an exam

[2018-10-28 16:29] agrunnet commented on #2573
Also, you are too close to the object. The "starry sky" in the lower part of the image is an indication that you are with the minZ operating range. Please move farther away, or reduce the resolution (which will reduce the minZ), or use the disparity shift. All are described in the white papers on the RealSense website.  https://realsense.intel.com/intel-realsense-downloads/#whitepaper

[2018-10-28 16:52] #2415 closed

[2018-10-28 21:51] philipjames44 opened #2630 "Playback Start Time"
----------------------------------------------------------------------------------------------------

| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | SR300 |
| Operating System & Version |   MacOS  |
| Platform

[2018-10-28 21:56] eospi commented on #2564
I've build the latest version, but the .ply file produced from export_ply_example.py still doesn't have the correct color values for the points. They all seem green/white. How can I resolve this? Thanks!

[2018-10-28 22:36] MartyG-RealSense commented on #2630
Other users have wished for this feature, describing it in terms of accessing bag frames by index number.  In SDK release 2.16.1 a function called set_real_time that had previously had problems was bug-fixed, making it possible to fetch frames one frameset at a time.  A user subsequently created a script for browsing a bag frame by frame.

https://github.com/IntelRealSense/librealsense/issues/1579

[2018-10-28 23:09] ljc19800331 commented on #2611
@dorodnic Thanks for the information. I think the problem is because of the latest update on UVC. I tried with the method in Linux-RealSense-D400-DFU-Guide.pdf guide and found the following problem:
age_UVC_5_10_3_0.bin
D400 busnum = 2
D400 devnum = 2
D400 FW file path = /home/maguangshen/Downloads/Signed_Image_UVC_5_10_3_0.bin
Could not find device in opmode: Device found, but incorrect (vid, pid

[2018-10-29 00:37] mprat commented on #2564
Sounds like your color balance is off?

[2018-10-29 00:57] General-Ilya commented on #2623
Ah I see; is there any example code I can look at for multicam hardware sync on python? I can't seem to find much of anything on it.

[2018-10-29 01:14] HippoEug commented on #2587
Hello there, everything is clear. You can close this now, thank you!

[2018-10-29 01:26] eospi opened #2631 "Point cloud filters in Python"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D435 |
| Firmware Version                   | (Open RealSense Viewer --> Click info) |
| Operating System & Version |   Ubuntu 16  |
| Kernel Version (Linux Only)    |  (e.g

[2018-10-29 01:29] eospi commented on #2564
Thanks for the reply! I've fixed it by waiting for some frames to go by before taking the point cloud.

[2018-10-29 01:59] #2535 closed

[2018-10-29 02:00] RealSense-Customer-Engineering commented on #2514
[Realsense Customer Engineering Team Comment]
@BGA3 Thanks for the update! Will close the ticket accordingly.

[2018-10-29 02:02] RealSense-Customer-Engineering commented on #2410
[Realsense Customer Engineering Team Comment]
@creesy87 Any good news after switch to USB3? Please update. Thanks!

[2018-10-29 02:10] VasuAgrawal commented on #1079
@RealSense-Customer-Engineering It seems there was a new firmware release recently (5.10.6). I flashed that firmware onto my RealSense D435, but I have not observed an improvement in the manual gain capacities. I'm seeing the same results as before.

[2018-10-29 02:40] HippoEug commented on #2564
#### C++ Equivalent
[code]

[2018-10-29 03:40] #2587 closed

[2018-10-29 05:56] HippoEug opened #2632 "[C++] Error compiling librealsense/wrappers/opencv/dnn"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D400 |
| Firmware Version                   | 05.09.02.00 |
| Operating System & Version | Win 10 |
| Kernel Version (Linux Only)    |

[2018-10-29 06:42] HippoEug commented on #2573
Yeap I understand that. Didn't bother to pick the camera up as it was resting on the table! 👍

![editthis](https://user-images.githubusercontent.com/21957042/47633317-63ba7780-db88-11e8-8013-89c58096d051.PNG) [1280x720]

Here is a better example of what @njnydxzc is saying, probably that the Depth image has a wider FOV than the Color image, hence the (x, y) coordinates do not correspond.

[2018-10-29 06:55] HippoEug commented on #1837
Here is mine..

[code]

The above works, but if I change the `RS2_STREAM_DEPTH` to `RS2_FORMAT_Y8`, I will get an `abort()` error.

ie THIS DOES NOT WORK!
[code]

[2018-10-29 07:02] dorodnic commented on #2632
Hi @HippoEug

The simplest way to get started with OpenCV right now is actually using newly published installer - [Intel.RealSense.SDK-2.16.2.304.exe](https://github.com/IntelRealSense/librealsense/releases/download/v2.16.2/Intel.RealSense.SDK-2.16.2.304.exe)
Based on your and others feedback we tried to package everything up neatly, so you will get a cleanly compiling opencv examples as part of s

[2018-10-29 07:06] dorodnic commented on #2631
[depth_filters.ipynb](https://github.com/IntelRealSense/librealsense/blob/jupyter/notebooks/depth_filters.ipynb), you can actually launch it in browser for an interactive demo: [![Binder](https://mybinder.org/badge.svg)](https://mybinder.org/v2/gh/IntelRealSense/librealsense/jupyter?filepath=notebooks/depth_filters.ipynb)
The python examples are somewhat in state of disarray, we need to add more a

[2018-10-29 07:12] dorodnic commented on #2623
Setting camera to Master -
[code]

[2018-10-29 07:13] dorodnic commented on #2623
For Slave - set the same option to 2

[2018-10-29 07:53] HippoEug commented on #1837
Oops, my bad. Thanks for the clarification!

[2018-10-29 08:11] RealSense-Customer-Engineering commented on #2605
[Realsense Customer Engineering Team Comment]
@McJun1 Please try with USB2.0 to see if you still have issue. For USB3.0, need apply UVC patch for UVC optimization to get the stable streaming. You can check with rockchip to get more details about the UVC patch. Thanks!

[2018-10-29 08:54] fujiimakoto opened #2633 "How to decrease an error including output depth value"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D435 |
| Firmware Version                   | 05.10.03.00 |
| Operating System & Version | Win10 |
| Platform                                 | PC |
| SDK Version

[2018-10-29 10:02] Liuyu010 opened #2634 "How to convert cv::mat to rs::frame?"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | {  D400 } |
| Firmware Version                   | (05.09.02.0) |
| Operating System & Version |   {Win 10  |
| Platform                                 | PC  |
| SDK Versio

[2018-10-29 10:50] NeuroRanger opened #2635 "How to playback ".bag"-files properly in C#/Unity"
I'm using the "wrappers/unity"-C#-environment of the current SDK-Version "2.16".

What is working for me is creating an "RsDevice"-instance, set the mode to "playback", set the filename and enable it.
I'd like to have more control over the playback-process, e.g. get the total framecount, wind to a specific frame and use the data, start/stop playback, ...
Do I have to go deeper into using the "Pipe

[2018-10-29 12:47] lramati commented on #2487
With the exception of the comment moved to issue #2541 all these typos should now be fixed in development branch thanks to PR #2492

[2018-10-29 13:11] dorodnic commented on #2634
Hi @Liuyu010
Frame is not exactly equivalent to cv::Mat, as it carries a lot of camera specific information (link to the sensor, metadata, link to calibration, etc...) That's why there is no **easy** cv-->frame API.
It is possible, of course. I made a modified version of im-show example demonstrating how to go about it:

[code]

[2018-10-29 13:48] RealSense-Customer-Engineering commented on #1079
[Realsense Customer Engineering Team Comment]
Hi @VasuAgrawal,

Please wait for next firmware release. The solution is not yet integrated in firmware 5.10.6.

[2018-10-29 13:58] #2271 closed

[2018-10-29 14:05] agrunnet commented on #2633
Can you give us more details about what distances you have and what object you are looking at? How are you determining the ground truth also?

[2018-10-29 15:39] lramati commented on #2520
PR #2492 Added the missing constructor argument to matlab's colorizer class, so the ability to set the color scheme should be working there too

[2018-10-29 16:28] RealSense-Customer-Engineering commented on #2408
[Realsense Customer Engineering Team Comment]
Hi FernandoHo,

We are going to close this one soon if there is nothing else.

Thanks!

[2018-10-29 16:31] RealSense-Customer-Engineering commented on #2439
[Realsense Customer Engineering Team Comment]
Hi mkollaro,

Glad to hear that it works with kernel 4.16.
We are going to close this one if there is nothing else.

Thanks!

[2018-10-29 16:32] RealSense-Customer-Engineering commented on #2494
[Realsense Customer Engineering Team Comment]
Hi xtrawurst,

We are going to close this one if there is nothing else.

Thanks!

[2018-10-29 16:36] RealSense-Customer-Engineering commented on #2588
[Realsense Customer Engineering Team Comment]
Hi HippoEug,

Do you still need help on this one? We are going to close this if there is nothing else.

Thanks!

[2018-10-29 16:41] philipjames44 commented on #2630
@MartyG-RealSense I was able to replicate the reading of the frames frame by frame from a frameset. However, I do not see how this can translate to accessing frames by index. Do you mean to say this is not implemented as of yet?

[2018-10-29 16:41] eospi commented on #2631
Thank you!

[2018-10-29 16:41] #2631 closed

[2018-10-29 16:48] Kottapalli-Naveen commented on #2621
Hello @dorodnic

Can you please tell how do I get the board type?  Am using the below installation instructions.

https://github.com/IntelRealSense/librealsense/blob/master/doc/installation.md

Thanks

[2018-10-29 16:57] lramati commented on #2576
You can use the realsense.pointcloud class to convert depth data into 3d data (This can also texture map supplied color frames). The resulting output will give you a list of x,y,z coordinates with corresponding u,v texture coordinates if you supplied a color frame. However, I'm not sure how to display this visually with built in matlab functions. Maybe somebody more familiar with matlab can help w

[2018-10-29 17:02] VasuAgrawal opened #2637 "Multi Camera HW Sync Questions"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       |  D400 (4x D435) |
| Firmware Version                   | 2.16.2 (Cameras running 5.10.6) |
| Operating System & Version |  Ubuntu 16.04 LTS  |
| Kernel Version (Linux Only)

[2018-10-29 17:20] dorodnic commented on #2637
Quick question before I try to dive into all the individual items - are you getting the `Hardware Clock` printout?

[2018-10-29 17:31] philipjames44 commented on #2630
Sure. Thanks for your help @MartyG-RealSense ! I found this documentation, so at the moment I'm using the seek method to select a starting point based off of the nanosecond of the frame desired: http://docs.ros.org/kinetic/api/librealsense2/html/classrs2_1_1playback.html#ae1ad770b827a5794a83b37826ffdcb2a

[2018-10-29 17:45] VasuAgrawal commented on #2637
Thanks for the quick response! I should've included some example output.

The attached files are both with 3 cameras plugged in through a powered USB hub. I am getting the `Hardware Clock` output in both.

[3_cameras_hub_multi.log](https://github.com/IntelRealSense/librealsense/files/2526402/3_cameras_hub_multi.log)
[3_cameras_hub_multi_2.log](https://github.com/IntelRealSense/librealsense/files/2

[2018-10-29 18:17] Vivikyung commented on #2563
Hm. So if I don't display the images, I actually can record continuously in RGB format... So it was just continuously rendering the frames that caused my computer to freeze and crash.
Now I'm having the issue that when I play the RGB rosbag back, again continuously rendering the frames will freeze the computer. However, I'm going to close this issue because I can easily work around that situation

[2018-10-29 18:17] #2563 closed

[2018-10-29 18:33] RealSense-Customer-Engineering commented on #2610
[Realsense Customer Engineering Team Comment]
The PIN4 is not implemented at this moment (just leave it).

The PIN5 is the Sync trigger for both Master (output) and Slave (input). The Master Cam will generate a pulse (50us, 1.8V) on PIN5 every frame, and drive PIN5 on Slave Cams.

Thanks

[2018-10-29 18:47] dorodnic commented on #2637
What do you mean by "grayed out"? The Viewer should show either combo-box (or a slider sometimes) named Inter-Camera Sync, starting from firmware 5.9.13.6 for the D435 and 5.9.15.1 for D415.
What firmware version are you using? Did you try with newer ones?

Perhaps @agrunnet would be able to comment

You are doing it correctly, I think at the time of writing of the white paper there was a typo in

[2018-10-29 18:58] dorodnic commented on #2630
Thanks @MartyG-RealSense

We decided not to implement "seek to frame index" for now. Once realtime / non-realtime bug was resolved, you can always seek to start and quickly `wait_for_frames` in a loop until the frame number you need. We didn't put it in API just yet, because frame index is less defined compared to global time. (the frame number of the frameset? of the depth frame? it is not 100% o

[2018-10-29 19:51] VasuAgrawal commented on #2637
As far as I know, I'm using the newest firmware version available. I did a source build from `master` last night. The firmware running on all of the devices is 5.10.6. I'm running librealsense 2.16.2. This is what the viewer looks like for me with 2 devices enabled:

![no_sync](https://user-images.githubusercontent.com/6521933/47675334-0aeedd00-db90-11e8-8f63-34ec7fffc3ec.png)

Got it, thanks.

Ho

[2018-10-29 21:34] fu3lab commented on #2552
Thank you very much. This is what we want.

[2018-10-29 23:39] General-Ilya commented on #2623
Спасибо!

[2018-10-29 23:39] #2623 closed

[2018-10-30 00:17] #2566 closed

[2018-10-30 01:13] HippoEug commented on #2576
Hey, sorry to hijack the thread. Is the pointcloud class mentioned a C++ or Python example? If it is in C++, do you mean [this, rs-pointcloud.cpp](https://github.com/IntelRealSense/librealsense/blob/master/examples/pointcloud/rs-pointcloud.cpp)? Many thanks.. I am interested in the x, y, z data.

[2018-10-30 01:16] HippoEug commented on #2588
I will try the example provided. Thank you @RealSense-Customer-Engineering

[2018-10-30 01:51] RealSense-Customer-Engineering commented on #2604
[Realsense Customer Engineering Team Comment]
@jimwormold Could you please provide a picture of your test setup? Thanks!

[2018-10-30 01:56] RealSense-Customer-Engineering commented on #2551
[Realsense Customer Engineering Team Comment]
@GitwellAnyohub Considering the question resolved, can we close the ticket? Please update. Thanks!

[2018-10-30 01:58] RealSense-Customer-Engineering commented on #2520
[Realsense Customer Engineering Team Comment]
@YSH6 Any other questions for this ticket? Please update. Thanks!

[2018-10-30 02:01] RealSense-Customer-Engineering commented on #2471
[Realsense Customer Engineering Team Comment]
@Lasy92 Any other questions for this ticket? Please update. Thanks!

[2018-10-30 02:03] RealSense-Customer-Engineering commented on #2433
[Realsense Customer Engineering Team Comment]
@stekla79 Do you still have question about this ticket? Looking forward your update. Thanks!

[2018-10-30 02:07] RealSense-Customer-Engineering commented on #2335
[Realsense Customer Engineering Team Comment]
@AkhmedAnam Is the issue resolved? Or else could you please provide the logs so that we can further check?  Thanks!

[2018-10-30 02:08] RealSense-Customer-Engineering commented on #2317
[Realsense Customer Engineering Team Comment]
@kubrakaracan  Any other questions about this ticket? Looking forward to your update. Thanks!

[2018-10-30 02:09] RealSense-Customer-Engineering commented on #2280
[Realsense Customer Engineering Team Comment]
@KeCh96 Did you get chance to try the latest librealsense? Any good news? Looking forward to your update. Thanks!

[2018-10-30 02:11] RealSense-Customer-Engineering commented on #2143
[Realsense Customer Engineering Team Comment]
@fotsing364 Is the issue resolved? Looking forward to your update. Thanks!

[2018-10-30 02:12] RealSense-Customer-Engineering commented on #2135
[Realsense Customer Engineering Team Comment]
@aarun2211 Any other questions about this ticket? Looking forward to your update. Thanks!

[2018-10-30 02:20] HippoEug commented on #2584
Hello @dorodnic and everyone, I read the above and the other thread, [Error compiling librealsense/wrappers/opencv/dnn](https://github.com/IntelRealSense/librealsense/issues/2632). Having a little difficulty understanding the solutions you mentioned. Anyways, was wondering of alternative solutions while I figure out the solutions you mentioned.

### Alternative Solution:
I would like to bring up p

[2018-10-30 02:28] NguyenThaiHoc1 opened #2638 "May be I can scanner by Intel D435 Depth with an object ?"
I need to scan a face of person

Can i do that ? and if you talk yes, How I scan ?

I try to LIPScan3D application But it did not working (I can try to install application on my computer but not work. I see more detail in their website, they said that application is not complete !!)

I hope you support me about this problem
thanks you
Thai Hoc,

[2018-10-30 02:33] HippoEug commented on #2638
Hi, which camera are you using? Have you tried using the Intel Realsense Viewer?

You can capture a Pointcloud (PLY) using the default Realsense Viewer.
1. Turn both modules on as seen here.
![image](https://user-images.githubusercontent.com/21957042/47691958-16451580-dc2f-11e8-889d-d691853db96f.png)

2. Change to 3D mode and you can see the Pointcloud and manipulate it in real time.
![image](http

[2018-10-30 02:48] kqi914 commented on #2586
After having some issues with Cmake I made it work using the steps provided by dorodnic. However,  in the last step:

I could only found the file named "librealsense2.so", I could not find the other one although there was one with a similar name inside the wrappers folder called "pyrealsense2.cpython-35m-aarch64-linux-gnu.so".

I went ahead and ran the program sometimes it runs, other times it say

[2018-10-30 03:48] aarun2211 commented on #2135
@RealSense-Customer-Engineering
Thank you for the help. I will look into these resources and resolve the issue. I will close the issue accordingly.

[2018-10-30 03:48] #2135 closed

[2018-10-30 03:49] #2552 closed

[2018-10-30 04:23] jamie-moriarty opened #2639 "Cannot install firmware 5.10.3 or 5.10.6 --- Frames didn't arrived within 5 seconds"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | { D435 } |
| Firmware Version                   | (05.09.02.00) |
| Operating System & Version |   {Ubuntu 16.04 LTS  |
| Kernel Version (Linux Only)    | 4.15.0-38-generic

[2018-10-30 04:55] NguyenThaiHoc1 commented on #2638
I want to have image like link below, How can i get it from camera ?

https://1drv.ms/u/s!AivWk88jn2vKgUeKkUUOWaUOp0XP

[2018-10-30 05:31] omarev-git commented on #916
I tray with the last release 2.16.1 and nothing, I think this is the trouble the 3d sensor is linked to USB2.0 HUB, why?
How I wrote in previous messages my mac  is MacBook Pro 2015 and both USB ports are 3.0. By the way my mac is attached to power source and the USB cable for the sensor is the cable that come with the sensor. May be some one have test sanity application?
![screen capture](https:/

[2018-10-30 05:44] HippoEug commented on #2638
Hi,

Here is the image from the above link:
![image](https://user-images.githubusercontent.com/21957042/47698282-aee88f00-dc49-11e8-83ed-7e33af6f8665.png)

Here is the output from the Realsense Z16 depth camera. I am not sure if this is what you want..

[2018-10-30 05:50] RealSense-Customer-Engineering commented on #2595
[Realsense Customer Engineering Team Comment]
Hi @Rzz96,

If no further support required for this topic, will close it.

[2018-10-30 05:51] RealSense-Customer-Engineering commented on #2538
[Realsense Customer Engineering Team Comment]
HI @laolaolulu,

any update?

[2018-10-30 05:53] RealSense-Customer-Engineering commented on #2578
[Realsense Customer Engineering Team Comment]
Hi @lesreaper,

Still need any support for this topic?

[2018-10-30 05:53] YSH6 commented on #2520
Apologies for the delay in responding,My problem was settled.

[2018-10-30 05:55] RealSense-Customer-Engineering commented on #2307
[Realsense Customer Engineering Team Comment]
Hi @frenchtouchXR,

How does v2.16.2 work for you?

[2018-10-30 05:55] YSH6 commented on #2520
That's good news.
Thank you!

[2018-10-30 05:57] #2520 closed

[2018-10-30 05:59] j-polden commented on #2562
Any updates on this error? We are experiencing it as well.

[2018-10-30 06:30] mkollaro commented on #2439
Well, the package installs but the camera doesn't work. I get the above mentioned errors when I try to view the depth data (RGB works). I can't view the depth data in other applications either.

[2018-10-30 06:31] NguyenThaiHoc1 commented on #2638
hi @HippoEug

Thanks you for support me !

another question

How can i combine RGB image and  Depth Image Z16 ?

[2018-10-30 06:34] MartyG-RealSense commented on #2638
It is possible to align RGB and depth in the 3D mode of the RealSense Viewer using the procedure in the link below.

https://communities.intel.com/message/567566#567566

[2018-10-30 06:41] #2486 closed

[2018-10-30 07:50] dorodnic commented on #2637
When working with a single camera, hardware sync between color and depth kicks-in once they run at the same actual FPS. To ensure it, you can disable `Auto Exposure Priority` control under `RGB Camera` > `Controls` (this way the camera won't reduce FPS in a dark room to get more light)
The way it works, as far as I know, is by color sensor sending sync signal to the depth sensor. This is why it is

[2018-10-30 07:51] dorodnic commented on #2637
Also, the control for hardware sync is under `Stereo Module` > `Controls` > `Inter Cam Sync Mode`.
The Sync button is supposed to control the software sync, but it is not functional for now.

[2018-10-30 08:49] lramati commented on #2576
That's exactly what I was referring to

[2018-10-30 09:37] Liuyu010 commented on #2634
Hi，dorodnic
Thank you for your reply! Your advice sure makes sense and I have tried to use it in my project. But there are still two problems that bother me.

1. In the processing_block pb(), not only do I want to pass depth_map into it but also include color_map. When I tried to modify it, I was often reminded that "this function will not be counted as accepting two parameters".How to transfer tw

[2018-10-30 11:30] Anitawuxy commented on #2562
The warning is still there. But as SCH925 said, it doesn’t matter. For my case, I just launched rs_rgb.launch. So it is in order that my rvit doesn‘t have /map topic.

[2018-10-30 11:30] #2562 closed

[2018-10-30 11:39] dorodnic commented on #2634
Hi @Liuyu010

To pass two or more frames, you need to bundle them in a frameset. See an example here: [rs-measure.cpp:191-233](https://github.com/IntelRealSense/librealsense/blob/master/examples/measure/rs-measure.cpp#L191-L233)

Third-Person-VR seem to be a private repository, I couldn't access the code.

In general, I think that good background removal would leverage both color and depth data. I

[2018-10-30 13:05] #2595 closed

[2018-10-30 14:18] noumanriazkhan commented on #847
I am also looking for floor segmentation or detecting if an object (I know of in 2d) touches the ground. How is possible in python?

[2018-10-30 17:05] #2408 closed

[2018-10-30 17:07] #2494 closed

[2018-10-30 17:09] #2550 closed

[2018-10-30 17:09] #2353 closed

[2018-10-30 17:11] #2311 closed

[2018-10-30 17:28] RealSense-Customer-Engineering commented on #2373
[Realsense Customer Engineering Team Comment]
Hi fotsing365,

Is there any progress? Is this still an issue?

[2018-10-30 17:46] Kottapalli-Naveen commented on #2621
@dorodnic Things went well with {{./scripts/patch-realsense-ubuntu-lts.sh}}.  Thank you.

[2018-10-30 17:46] #2621 closed

[2018-10-30 19:31] frenchtouchXR commented on #2307
Hi,

The record and playback seems to work but the RSdeviceinspector.cs script doesn't seems to work.

The real interest since version 2.15 is playing with filters. If we can't use them. We came back to 2.14 version.

[2018-10-30 19:41] frenchtouchXR commented on #2307
I opened the RSdeviceinspector.cs script.

Inside there's a fonction : private IEnumerator WaitForDevice()

And there is this line :

//rsdevice.OnStart += onStartStreaming;

I just reactivated this lign. Now it works.

[2018-10-30 21:03] RealSense-Customer-Engineering commented on #1656
[Realsense Customer Engineering Team Comment]
Hi anshulvj,

Wonder if you still have issue with opencv?

I tested python3.5  (coming with Ubuntu 16.04 off Intel NUC5) with opencv (sudo apt-get install python-opencv).
After created a RealSense SDK 2.15 build w/ python wrapper enabled. I don't have issue when running opencv_viewer_example.py

Thanks,
Richard

[2018-10-30 21:29] RealSense-Customer-Engineering commented on #2453
[Realsense Customer Engineering Team Comment]
Hi coldcoda,

I tested with Unity 2018.2.13f1 (Win10 Build 16299.726) with importing the package that matkatz pointed to, it works well with StartHere.unity example using D415.
And also I built from source using RealSense SDK 2.16.1 (following https://github.com/IntelRealSense/librealsense/tree/master/wrappers/unity using VS2015) , and it also works we

[2018-10-30 22:06] RealSense-Customer-Engineering commented on #2573
[Realsense Customer Engineering Team Comment]
Hi njnydxzc,

With what dorodnic has provided, do you still need any help?

Thanks!

[2018-10-30 22:48] frenchtouchXR commented on #2307
OK ! Multicam rec and playback now integrated.

The unity session is still fragile and crashes from time to time but not systematically when playback. It crashes when I stop the game from time to time.

I could use the decimation filter.

Now let's play. Please work on optimising the pointcloud in Unity and stabilising the session.

Case closed

Thanks

FT-XR

[2018-10-30 22:49] #2307 closed

[2018-10-30 22:57] RealSense-Customer-Engineering commented on #2292
[Realsense Customer Engineering Team Comment]
Hello @hflsdupont,

Apologies for the delay, this issue should now be resolved with LRS 2.16.2, and newer LRS 2.16.3.

-  LRS 2.16.2 and 2.16.3 are now both available on public github.

-  Ran tests with RealSense Viewer 2.16.2 / 2.16.3 on Win 10 RS4 / Ubuntu 16.04, attached multiple D415/D435 cameras with FW 5.10.6 (https://downloadcenter.intel.com/do

[2018-10-30 23:34] #2564 closed

[2018-10-31 00:41] RealSense-Customer-Engineering commented on #2554
[Realsense Customer Engineering Team Comment]
Hi Shane,
This might be related to the Windows OS as I have not yet seen the repeated backend timestamps for different frame ids on Linux. I will test it on Win 10 later.
Is it possible for you try the same code on a Linux host?

[2018-10-31 03:05] MemoryNode commented on #2612
Hi~ @RealSense-Customer-Engineering
Thank you for your reply.

I did tried to stream both Depth and RGB in a lower resolution and fps(640*480_30fps) for a short time(about 40min), it seems ok. No issues. But we need D435 working at 1280*720, So i am trying to run it for a longer time in 1280*720 and 15fps. I will share any progress with you in time.( Maybe this bad thing shouldn't be called sharin

[2018-10-31 03:11] RealSense-Customer-Engineering commented on #2639
[Realsense Customer Engineering Team Comment]
Hi @Jamie-moriarty,

1. Please follow below instructions to install the pre-built package, especially "dkms" package. Like to make sure there is no problem about USB device access permission.
https://github.com/IntelRealSense/librealsense/blob/master/doc/distribution_linux.md
2. When you run 'realsense-viewer', please also enable the log "$ export LRS_

[2018-10-31 04:16] Mitchell-Hampton opened #2643 "usb"
* Before opening a new issue, we wanted to provide you with some useful suggestions (Click "Preview" above for a better view):

    * Consider checking out SDK [examples](https://github.com/IntelRealSense/librealsense/tree/master/examples#sample-code-for-intel-realsense-cameras).
    * Have you looked in our [documentations](https://github.com/IntelRealSense/librealsense/tree/master/doc#useful-lin

[2018-10-31 04:16] #2643 closed

[2018-10-31 05:28] jamie-moriarty commented on #2639
How do I enable the log?

I think something has gone wrong with the install. I tried running the sdk on another computer (same OS, SDK, and firmware version but on usb 2) and the camera runs perfectly. I tried uninstalling and reinstalling the SDK on the original computer and am now getting a new error and the camera is no longer being detected.

jamie@lyle:~$ realsense-viewer
 31/10 01:26:37,350

[2018-10-31 06:06] RealSense-Customer-Engineering commented on #2629
[Realsense Customer Engineering Team Comment]
Hi @zhouq123,

Dynamic calibrator is used to optimize the extrinsic parameters (translation and rotation).
You can run "$ rs-enumerate-devices -c" to show more intrinsic parameters based on different RGB resolution.

[2018-10-31 06:06] RealSense-Customer-Engineering commented on #2502
[Realsense Customer Engineering Team Comment]
Hi @aangerma,

In the try block, the function upload_frame will be called **0 or many times**.
So, it takes a different time when the function handle_ready_frames is called in each time.

[2018-10-31 06:45] RealSense-Customer-Engineering commented on #1889
[Realsense Customer Engineering Team Comment]
Hi @tenmillion, @gongyue666,

You can have a try of librealsense 2.16.3 to how it improves for multiple camera streams and check if "no frames recieved" error fixed.

[2018-10-31 06:49] shane7226107 commented on #2554
Hi RealSense,

Sorry I can not test the same code on a Linux host, my workstation are all windows environments.

Thanks

[2018-10-31 08:09] HippoEug commented on #2488
Honestly, until the Realsense officially has an example which can do a full pointcloud reconstruction without manually doing it in ie Meshlab, I think the application @anranx is trying to do will be very tricky with lots of hard manual labor.

Pointcloud Reconstruction:
![image](https://user-images.githubusercontent.com/21957042/47774229-5d163680-dd27-11e8-918e-87fd097dff38.png)

[2018-10-31 08:37] VasuAgrawal commented on #2637
All of that makes sense. Thanks again :).

I had a few more questions regarding the details of the synchronization and triggering. Specifically:

1. What times do the reported sensor / optical timestamps correspond to? I've looked at a couple of threads about this (namely this [GitHub issue](https://github.com/IntelRealSense/librealsense/issues/2188) asking about the metadata, linked to from this

[2018-10-31 09:20] nonead commented on #2639
I also encountered the problem of unable to update the firmware in the window . After entering the location of the firmware file, the computer automatically disconnects the USB link, and the D435 cannot be found in CMD windows

[2018-10-31 09:57] sergii-strelkovskyi commented on #2402
@mikaelarguedas Here is the reason why ros-kinetic-librealsense.postinst fails: systemd/systemd#8153

[2018-10-31 10:13] njnydxzc commented on #2573
If I want to manually complete the correspondence between RGB and depth pictures and find the corresponding coordinates, how can I accomplish this with camera calibration information?Which method should I use to make them correspond?

[2018-10-31 11:19] trenneman commented on #2554
We have the same issue of multiple consecutive frames with the same BACKEND_TIMESTAMP. Also on Windows 10. RGB (full HD), IR (640x480) and depth (640x480) streams running at 30 fps.

[2018-10-31 12:24] omerbrandis opened #2645 "Segmentation fault in ros::Time::now () at /home/perc/workspace/RealsenseSDK_Gated_master"
Dear support,

I have an application written in c++ that uses libreasense sdk v 2.16.1 ( the latest available )
AND ros kenetic ( indipendently from its use by librealsense).
(ubuntu 16.04)

while i was using a "older" version of ros kenetic everything worked well,
but now i was forced to update my installation of ros kenetic to the latest one available
( ros core shows i'm now running version 1.1

[2018-10-31 12:39] zhouq123 commented on #2629
Got it, thanks.

[2018-10-31 14:02] MartyG-RealSense commented on #2645
Would it be possible for you to try the latest 2.16.3 SDK and see if it makes a difference to your problem?  It contains a ROS build fix for Debian packages.

https://github.com/IntelRealSense/librealsense/releases/tag/v2.16.3

[2018-10-31 14:02] shrijan00 commented on #126
Were u able to fix it?>

[2018-10-31 14:21] omerbrandis commented on #2645
1. can you please provide more information regarding "ROS build fix using debian packages" ?

2. can you tell me which version of ros was used to "build" realsense versions 1.16.1 and 1.16.3 respectively ?

thanks,
Omer

[2018-10-31 14:30] MartyG-RealSense commented on #2645
That one-line description is all the information I have about the ROS build fix in 2.16.3, unfortunately.
 One of the Intel members on this forum can provide further details (I do not work for Intel).

The most recent version of the ROS wrapper, updated September 27 2018, states that it supports ROS Kinetic.  Again, Intel can provide an official answer to that question about which ROS version they

[2018-10-31 14:37] omerbrandis commented on #2645
the documentation for v 1.16.3 is
"This version is a hotfix for v2.16.2 that addresses the following"
I'm not using 2.16.2 , so it seems to me that 1.16.3 is not relevant.
1.16.1 is labeled as PRODUCTION which means it should be a very stable release, i'd rather avoid the non stable ones ...

:-)
Omer.

[2018-10-31 14:37] yashmanian opened #2647 "Asynchronous callback for librealsense2"
* Before opening a new issue, we wanted to provide you with some useful suggestions (Click "Preview" above for a better view):

    * Consider checking out SDK [examples](https://github.com/IntelRealSense/librealsense/tree/master/examples#sample-code-for-intel-realsense-cameras).
    * Have you looked in our [documentations](https://github.com/IntelRealSense/librealsense/tree/master/doc#useful-lin

[2018-10-31 14:46] dorodnic commented on #2647
Please take a look at `sensor-control` example, specifically [api_how_to.h:472](https://github.com/IntelRealSense/librealsense/blob/master/examples/sensor-control/api_how_to.h#L472)

[2018-10-31 15:17] jimwormold commented on #2604
Thanks for getting back to me.

This is the simple test rig that I use to check syncing. 3 LEDs that switch on/off sequentially with each acquisition.

<img src=https://user-images.githubusercontent.com/6418450/47793888-33551380-dd17-11e8-8467-309da3b53103.jpg height="20%" width="20%">

This is the actual rig on which I wish to use the D415 once the syncing is working satisfactorily with the 8 LED

[2018-10-31 15:22] yashmanian commented on #2647
Thank you.
Looking at the code, am I correct in making the assumption that the void run() function inside the frame viewer, is what gets called every time frame f is updated inside of sensor.start() in a separate thread?
And that I only need to call sensor.start() to start said thread, after which it will continue to run asynchronously?

[2018-10-31 17:50] dorodnic commented on #2647
I'm not sure what run function you are referring to...
`[&](rs2::frame f) { display(f); }` will get called every time frame f is updated.
You can also pass a pointer to regular function, or an `std::function` or anything with `operator()(frame f)`.
You only need to call `sensor.start()`, it returns instantly and until you call `stop` you will get notified on all frames from that sensor. The callba

[2018-10-31 17:56] dorodnic commented on #2647
Configuring sensors is a bit more verbose (you need to manually pick one or more out of the stream profiles returned by `get_stream_profiles()`, there are no wildcards), but it maps much more accurately to hardware.

We discussed adding callback option to `pipeline.start`, to get synchronized frame-sets asynchronously. Maybe at some time in the future. Right now, you can still achieve this effect

[2018-10-31 17:58] dorodnic commented on #2576
@ev-mp can you share the example you've been working on?

[2018-10-31 18:22] sepehr-laal opened #2648 "Unity plugin causes Blue Screens every time played and paused"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D435 |
| Firmware Version                   | 05.10.06.00 |
| Operating System & Version |   Win 10 - 1803  |
| Platform                                 | PC (Unity3D)  |
|

[2018-10-31 20:30] yashmanian commented on #2647
Thank you. That is helpful. I will be closing the issue now

[2018-10-31 20:30] #2647 closed

[2018-10-31 21:13] RealSense-Customer-Engineering commented on #2518
[Realsense Customer Engineering Team Comment]
Hell again @hetzbh,

Since no response was given in past 5 days, we will go ahead and submit this issue as solved.

Thank you!

[2018-10-31 21:13] #2518 closed

[2018-10-31 22:10] drzraf commented on #2280
In my case I was using 2.14.1
Will try soon with latest...

[2018-10-31 22:30] drzraf commented on #2205
Same here.
Same a couple of settings. Try to load them ==> **error**
(librealsense version: 2.16.1)

[2018-11-01 01:42] #2629 closed

[2018-11-01 01:59] HippoEug commented on #2573
Thank you @njnydxzc for asking. I also have the same questions, and have not looked into it. Any solutions to this question would help us intensely.

[2018-11-01 02:53] Daichou opened #2649 "Openni2 wrapper is not included in top level librealsense CMakelist.txt"
### Issue Description
Openni2 wrapper current release on master branch.But it didn't include in top level CMakelists.txt.
In master branch root folder [CMakelists.txt](https://github.com/IntelRealSense/librealsense/blob/master/CMakeLists.txt#L1014), "wrappers" subdirectory include in CMakelists.txt. However, in "wrappers" [CMakeList.txt](https://github.com/IntelRealSense/librealsense/blob/master/w

[2018-11-01 03:55] HippoEug commented on #2576
I have asked this particular part of the question in a separate issue [here](https://github.com/IntelRealSense/librealsense/issues/2584#issuecomment-434147781).
But for the sake of readability I'll write it here as well:

#### Regarding the `rs-pointcloud.cpp`:
Since the `rs-pointcloud.cpp` or pointclouds in general are made up of (x, y, z) coordinates, why can't we just extract the (x, y, z) coor

[2018-11-01 05:51] dorodnic commented on #2649
Like with the rest of wrappers, over time it will receive better integration with CMake and the installer.
That said, the wrapper is fully fictional, it just has an independent build process for now.

[2018-11-01 06:37] stekla79 opened #2650 "Only one Infrared stream in Realsense Viewer"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D435
| Firmware Version                   | 05.09.14.00
| Operating System & Version |   Win 10
| Platform                                 | PC

Hi,
I'm not able to see the

[2018-11-01 07:00] omerbrandis commented on #2645
tested realsense version 2.16.3 - same result :-(

Omer

[2018-11-01 07:52] MemoryNode commented on #2612
@RealSense-Customer-Engineering

I tested two resolutions(1280 * 720 _ 15 fps  /  640 * 480 _ 30 fps), and at either resolution, these issues happened again...

And, in my own application, there are exceptions like this:
![error24](https://user-images.githubusercontent.com/30313611/47839392-987b3880-dded-11e8-9cf9-72d4da844b45.png)
![error23](https://user-images.githubusercontent.com/30313611/4783

[2018-11-01 08:12] shgold opened #2652 "Reading RGB videos from bag files using python"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | { D400 } |
| Operating System & Version |   { Linux (Ubuntu 18) |
| Kernel Version (Linux Only)    |  (e.g. 4.15.0)                                         |
| Platform

[2018-11-01 08:38] MartyG-RealSense commented on #2645
Thanks for trying 2.16.3.  I'm sorry that doing so did not resolve your problem.  Hopefully the Intel team on this forum will be able to lead you towards a solution.

[2018-11-01 09:04] dorodnic commented on #2652
Are you sure the video was recorded in BGR format?

[2018-11-01 10:06] zhouwg opened #2654 "ANR will occured when stopPreview with bag file"
| Required Info                         |                                               |
|---------------------------------|-------------------------          |
| Camera Model                       | { D415 }                                 |
| Firmware Version                   | 5.10.03.00                              |
| Operating System & Version |  Ubuntu 18.04.1 x86-64 LTS  |
| Platform

[2018-11-01 10:19] zhouwg commented on #2654
the steps to reproduce the issue:

1. fetch apk source code
$ git clone https://github.com/zhouwg/irsa

2. build apk
$ cd irsa
$ source build/envsetup.sh
$ cd examples/irsa_example
$ gradle build

3.install apk
$ ./install_apk.sh

4. setup envs to running apk on Android device
 $ cd -
 $ adb root
 $ adb push doc/demo.bag /sdcard/

5. running apk
there are two running mode within apk:
1)default mod

[2018-11-01 10:28] zhouwg commented on #2654
FA mode is disabled because of IPR policy.

[2018-11-01 11:08] NeuroRanger commented on #2635
Thanks, but the "Context"-Object doesn't have a Method called "AddDevice".
The rest is able to compile, I can get Sensor-Infos and switch the Status from "Pause" to "Playing". But I don't receive any NewFrame-Events when using

sensor.Start(OnNewSample);
...
  void OnNewSample(Frame frame)
  {
    Debug.Log("New Sample");
  }

Are there maybe some examples on how to use the "PlaybackDevice"-Class?

[2018-11-01 12:33] bentank commented on #2188
@dorodnic, do you have insight or update on this issue?

Thanks for all the support on the issues in this repo!

[2018-11-01 13:08] shgold commented on #2652
I have recorded video using 'realsense-viewer'. Is there any way to check in what format does video is recorded?

[2018-11-01 13:39] josephduchesne commented on #2402
Some interesting output (18.04 host):

[code]

[code]

[code]

(as mentioned by @lucaswerkmeister)
[code]

[2018-11-01 17:34] dorodnic commented on #2582
Since there is no clear closure policy for announcements, lets agree they will be closed once they leave the front page.
Thank you, @MartyG-RealSense! Your strong involvement in the community is highly appreciated.

[2018-11-01 17:34] #2582 closed

[2018-11-01 18:04] MartyG-RealSense commented on #2582
Yes, that's a very fair policy.  I'm aware I'm adding to the count of open cases with such announcements, even though they are very occasional.  So I totally agree with that policy  Thanks for your understanding, and your kind words.  *smiles*

[2018-11-01 18:30] kunyao opened #2656 "How to use syncer?"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D415 |
| Firmware Version                   |05.10.06.00  |
| Operating System & Version |   Linux (Ubuntu 18)  |
| Kernel Version (Linux Only)    |  4.15.0

[2018-11-01 22:10] AussieGrowls opened #2657 "D435 box dimensions"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D435  |
| Firmware Version                   | (05.09.02.00) |
| Operating System & Version |   Win (10)   |
| Kernel Version (Linux Only)    |

[2018-11-02 00:21] drzraf opened #2658 "rosbag-inspector: ability to export/extract frame data"
### Issue Description
Exporting a video sequence recorded from rs-viewer is a common need.
Eg: you may use `rs-viewer` with custom settings and then want to process this sequence with opencv. But opencv, as most other tools, does not support rosbag format and setting up a fully functional ros environment does not spontaneously seem the best option.

IMHO rs-viewer should ease reuse and export of r

[2018-11-02 00:30] drzraf commented on #2658
I just discovered https://github.com/IntelRealSense/librealsense/tree/master/tools/convert after creating this issue; whic does exactly what I'd expect, I don't why I didn't find these tools earlier.
Sorry for the noise.

[2018-11-02 00:30] #2658 closed

[2018-11-02 01:11] RealSense-Customer-Engineering commented on #2585
[Realsense Customer Engineering Team Comment]
Hi @philipjames44,

To test based on librealsense 2.16.3 with VGA resolution and 30FPS for depth and color, the time diff between pipe->stop() and the 1st frame receiving time I observed on one Mac Air is about 100ms. SR300 firmware version is 3.21.0.0.
You can also enable the librealsense log file to show the result.

[2018-11-02 02:05] RealSense-Customer-Engineering commented on #2638
[Realsense Customer Engineering Team Comment]
Hi NguyenThaiHoc1 ,

Has your question been resolved by referring below link? If yes, we'd like to close this ticket. Thanks!

[2018-11-02 02:44] #2654 closed

[2018-11-02 05:04] RealSense-Customer-Engineering commented on #2604
[Realsense Customer Engineering Team Comment]
Hi @jimwormold,

The function wait_for_frames is not the grab function. It just read the new frame from the queue.

In this case, it seems you want to sync between the camera and LEDs, frame by frame.

I think you can read the "External Trigger" section in Multi-camera Configurations White Paper on our website (https://realsense.intel.com/).

https://r

[2018-11-02 07:02] ssakhavi commented on #1540
@JasonChang13

I have a similar problem.

This is the message for dmesg:
tissot:/ $ cd data
tissot:/data $ ls
ls: .: Permission denied
1|tissot:/data $ su
tissot:/data # ls
FTM_AP
adb
anr
app
app-asec
app-ephemeral
app-lib
app-private
backup
bootchart
cache
connectivity
dalvik-cache
data
dpm
drm
fota
hostapd
lineageos_updates
local
lost+found
lrs_binaries
media
mediadrm
misc
misc_ce
misc_de
nfc
ot

[2018-11-02 07:46] Jilliansea commented on #144
@kcINual  hi, I have counter the same problem with you, have you solved the problem yet?

[2018-11-02 07:54] stekla79 commented on #2650
I see neither. I'm not able to flip the connector easily since the camera is in a embedded in an enclosure. Any other things to try besides flipping the connector?

![image](https://user-images.githubusercontent.com/11566698/47900272-9a400d00-de7c-11e8-9a2d-ab03e4476b78.png)

[2018-11-02 08:56] Jilliansea opened #2660 "extract frames from rssdk file"
* Before opening a new issue, we wanted to provide you with some useful suggestions (Click "Preview" above for a better view):

    * Consider checking out SDK [examples](https://github.com/IntelRealSense/librealsense/tree/master/examples#sample-code-for-intel-realsense-cameras).
    * Have you looked in our [documentations](https://github.com/IntelRealSense/librealsense/tree/master/doc#useful-lin

[2018-11-02 10:04] RealSense-Customer-Engineering commented on #2555
[Realsense Customer Engineering Team Comment]
Hi @HippoEug,

In the GLFW document, we can find these words.
`Most GLFW functions must only be called from the main thread, but some may be called from any thread.`
http://www.glfw.org/docs/latest/intro_guide.html#thread_safety

I think, write all GLFW function in the same thread is an easy solution.

[2018-11-02 11:22] MartyG-RealSense commented on #2660
The 2016 SDK has a tool called Clip Editor that can be used to import recorded SDK files.  you can then analyze, visualize, edit and extract frames.

You can find the tool in the 2016 SDK's Sample Browser application.  there should be a folder the SDK has placed on your desktop called 'Intel RealSense SDK Gold'.  If you open this, there is an executable application inside called 'Intel RealSense S

[2018-11-02 12:19] Jilliansea commented on #2660
@MartyG-RealSense  Thank you for your reply very much. Actually I know this GUI, but I have nearly thousands of *.rssdk files, and it's so time-consuming to deal all of them with this GUI one by one. So I want to know whether there are some other ways which can deal a lot of *.rssdk files by a script at once? Or  is there some other convenient means to deal with my problem?

Thanks a lot again.

[2018-11-02 13:02] MartyG-RealSense commented on #2660
I do not know of a pre-made solution for batch-processing .RSSDK files.  I recall that a user once tried to combine RSSDK files together, and was researching the 'struct' format of the files to do so.

https://communities.intel.com/message/522662#522662

[2018-11-02 14:43] RealSense-Customer-Engineering commented on #2639
[Realsense Customer Engineering Team Comment]
Hi @Jamie-moriaty,

1. From the dmesg log and lsusb, it looks your D435 is recognized as a D430 device. Suggest to upgrade the firmware to 5.10.6 again to see how it works. And then, also try to connect to a different USB3 port if any other.
2. Since you build the apps from source, please set "BUILD_WITH_TM2" off and rebuild the apps to avoid some trac

[2018-11-02 15:12] philipjames44 commented on #2585
@RealSense-Customer-Engineering

I believe I am using the same SDK version (whatever is the most recent non-experimental build is what I'm using). I can confirm the time delay is at least 3 seconds on my machine. However I have never manually updated the camera firmware. Is this automatic?

[2018-11-02 15:16] philipjames44 commented on #2660
@Jilliansea You may be able to create something in visual studio to process files in a folder en masse, but you would have to recreate the code MartyG mentioned to fit your specific use case. I recommend switching to the new SDK, and potentially even switching operating systems to OSX or Ubuntu, and recording new footage. I was in the same position as you with many valuable rssdk files, and updati

[2018-11-02 15:17] philipjames44 commented on #2645
@omerbrandis can you post the code segment that causes the issue?

[2018-11-02 15:34] eebanos opened #2661 "EntryPointNotFoundException: Entry point not found 'rs2_query_devices_ex' in DLL file 'realsense2'."
----------------------------------------------------------------------------------------------------

| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | SR300 |
| Firmware Version                   | 3.21.0.0 |
| Operating S

[2018-11-02 15:56] LouMagsClark commented on #2576
Within the RealSense Viewer Program you're able to take snapshots in 2D (.png), export a snapshot of the 3D model (.ply). Using the Matlab wrapper I can stream the 2D image, however I can't see how I can stream and save the 3D model version.

As you say, it may not be wrapper based and I may be missing a trick with converting the 2D to 3D (I'm working on finding out if that is the case).

[2018-11-02 15:59] dorodnic commented on #2661
I think there is a version mismatch between `realsense2.dll` and `Intel.Realsense.dll`. I suggest a search for `realsense2.dll` under your .NET solution folder, followed by replacing all occurrences with the one from  `C:\Program Files (x86)\Intel RealSense SDK 2.0\bin\x64`. Please let me know if it helps, hope it does, this seem like the most likely solution.

[2018-11-02 16:09] eebanos commented on #2661
Solved, just replaced the realsense2.dll on the project folder, not the solution one. Thanks.

[2018-11-02 16:09] #2661 closed

[2018-11-02 16:12] dorodnic commented on #2650
Hi @stekla79
You can try uninstalling and reinstalling camera drivers.
I suspect that the lack of `Infrared 2` is a side-effect of the following check:
[win-uvc.cpp:964](https://github.com/IntelRealSense/librealsense/blob/master/src/win/win-uvc.cpp#L964)
Basically, librealsense can't ensure that the camera is connected to USB3, despite the fact that it obvious is.
This should not limit the list of

[2018-11-02 16:35] RealSense-Customer-Engineering commented on #2391
[Realsense Customer Engineering Team Comment]
Hi joemenke,

Do yo have more questions?

[2018-11-02 16:36] RealSense-Customer-Engineering commented on #2480
[Realsense Customer Engineering Team Comment]
Hi WallyBender,
Do you still have this issue?

[2018-11-02 16:42] nonead commented on #2639
My problem has been solved because I used a faulty USB cable

[2018-11-02 16:47] omerbrandis commented on #2645
Hello,

I Can't post the code segment.
It does not occur In my code.
I have posted the stack trace, it shows the error to be in librealsense.

Omer.

[2018-11-02 17:00] kerkildc commented on #2480
Hi @RealSense-Customer-Engineering,

Yes, we do still have these issues (I am working with WallyBender in the same organization). To answer your questions:

1. We have upgraded both librealsense and the FW to the latest (Linux version stays the same).
2. This appears to happen only sometimes (possibly with only some cameras) - we use multiple realsense cameras in the same hardware, they do not hap

[2018-11-02 18:32] RealSense-Customer-Engineering commented on #2205
[Realsense Customer Engineering Team Comment]
Hello @AleBasso80 and @drzraf,

Using a USB 3.0 powered hub can possibly mitigate the issues being seen with loading .json files with RealSense cameras on RealSense-Viewer app.  It seems that not enough power is being delivered to cameras.

Before we continue to try any other steps, please consider acquiring a USB 3.0 powered hub such as this one:  htt

[2018-11-02 18:33] kunyao commented on #2656
Is there anything unclear about the issue? I just copy the code from your document: [https://github.com/IntelRealSense/librealsense/wiki/Frame-Buffering-Management-in-RealSense-SDK-2.0](url) but it doesn't work.

[2018-11-02 19:01] jamie-moriarty commented on #2639
I tried building the sdk from source, but switched back to using the per-compiled version. I am using the usb that came with the camera and since it works with another computer, I don't think it is the cord. Other usb ports have not made a difference.

This is the error that I get when trying to install the firmware:

jamie@lyle:~$ intel-realsense-dfu -b 002 -d 002 -f -i /home/intel/Downloads/Sign

[2018-11-02 19:32] jamie-moriarty commented on #2639
Update: I tried wiping the drive and reinstalling ubuntu in case it was an issue with the previously compiled version. I am still receiving all of the same errors with rs-capture and realsense-viewer. I am still unable to install the firmware, but now with an error I had received previously.

jamie@lyle-the-lion-slayer:~$ intel-realsense-dfu -b 002 -d 002 -f -i /home/intel/downloads/Signed_Images_

[2018-11-02 19:47] laughingrice commented on #2609
I was looking for a similar solution. Couldn't find a way to save / load them. Solutions I've used in the past:

1. Manually extract the intrinsic / extrinsic parameters, store them and later load them back into new objects to use the functions
2. Take the function's source and re-write it to get the values using a different method (needed a Matlab function at the time)

[2018-11-02 21:11] yashmanian opened #2662 "Documentation or example on using the rs2::asynchronous_syncer"
* Before opening a new issue, we wanted to provide you with some useful suggestions (Click "Preview" above for a better view):

    * Consider checking out SDK [examples](https://github.com/IntelRealSense/librealsense/tree/master/examples#sample-code-for-intel-realsense-cameras).
    * Have you looked in our [documentations](https://github.com/IntelRealSense/librealsense/tree/master/doc#useful-lin

[2018-11-03 01:13] ljc19800331 opened #2663 "Cannot build realsense application with Cmake"
| Camera Model                       | { D400 } |
| Firmware Version                   | (Open RealSense Viewer --> Click info) |
| Operating System & Version |   {Linux (Ubuntu 16)  |
| Kernel Version (Linux Only)    |  (e.g. 4.14.13)   |
| Platform                                 | PC/Raspberry Pi/ NVIDIA Jetson / etc..  |
| SDK Version                            |  { librealsense2 }

[2018-11-03 03:47] Jilliansea commented on #2660
@MartyG-RealSense Thans a lot. I will search for other ways.

[2018-11-03 03:55] Jilliansea commented on #2660
@philipjames44  Thanks a lot for your advice. My situation is as following, I already have thousands of rssdk files recorded by SR300, but I only have the files and no camera. So my task is to extract color and depth images from the rssdk files and also align them which means I can't record new footage. So I want to know whether there are some ways to extract frames from raw rssdk files without ca

[2018-11-03 07:30] MartyG-RealSense commented on #2660
I believe that the .rssdk files are a variant of the video format h.264, also known as MPEG-4 Part 10.

The link below describes a method for stitching multiple h.264 videos together into one in order of filename, using the program called **ffmeg**.  It says you can use the output of ls/dir to create the sorting list instead of having to index thousands of files manually.

https://stackoverflow.co

[2018-11-03 09:40] Jilliansea commented on #2660
@MartyG-RealSense ok, I will try it. Thanks a lot

[2018-11-03 10:11] inders opened #2664 "Multi overlapping cameras mapping coordinates into same plane."
* Before opening a new issue, we wanted to provide you with some useful suggestions (Click "Preview" above for a better view):

    * Consider checking out SDK [examples](https://github.com/IntelRealSense/librealsense/tree/master/examples#sample-code-for-intel-realsense-cameras).
    * Have you looked in our [documentations](https://github.com/IntelRealSense/librealsense/tree/master/doc#useful-lin

[2018-11-03 11:02] shrijan00 opened #2666 "Calibration of D415 in ROS"
Hi,

@RealSense-Customer-Engineering
I'm trying to calibrate realsense in a similar fashion as i did for Kinect in ROS using a checkerboard.

For RGB----->rosrun camera_calibration cameracalibrator.py image:=/camera/color/image_raw camera:=/camera/color --size 8x6 --square 0.0245

For Depth-->rosrun camera_calibration cameracalibrator.py image:=/camera/color/image_rect_raw camera:=/camera/depth --

[2018-11-03 13:41] NeuroRanger commented on #2635
Well, I tested a bit with "RsDevice" and "PlaybackDevice".
Here's a little MonoBehaviour-Script, that should at least be able to Start and Stop the Playback and eventually receive Frames:
### Test01
[code]

The Console-Output in Unity looks like this:
![unityconsolelog](https://user-images.githubusercontent.com/44498592/47952763-b7f09d80-df74-11e8-8fe8-10552eefbb51.png)

There's an Access-Violatio

[2018-11-03 13:53] inders commented on #2664
Additionally, to get extrinics of the two cameras using Vicalib how to set the world reference frame to a common point on the plane rather than it being one camera as mentioned in the tool here - https://github.com/arpg/Documentation/tree/master/Calibration

When done, Vicalib produces the file cameras.xml. This contains the fields width and height for the image size, params for the intrinsic cali

[2018-11-03 15:58] zhouwg commented on #2617
Thanks the detailed expatiate.  I have following questions:
1) could we maintain a custom libusb for librealsense?  then invoke the standard Android Java API in native layer to obtain the required infos for librealsense.

the following is a simple example to illustrate the possibility of the above proposal:
the apk would preview bag file on non-rooted Android phone:

 [https://github.com/zhouwg/ir

[2018-11-03 16:14] dorodnic commented on #2663
Hi @ljc19800331
Looking at the Cmake, I don't see any mention of glfw. Only OpenGL, OpenCV, PCL and RealSense.
Perhaps it is hiding inside `DEPENDENCIES` but I'd double check.
Here is an example of how we pull the dependency in our graphical tools: [tools/CMakeLists.txt:33-64](https://github.com/IntelRealSense/librealsense/blob/master/tools/CMakeLists.txt#L33-L64)
Hope this helps

[2018-11-03 16:34] dorodnic commented on #2439
Hi @mkollaro
The failure is not related to missing pixel-formats. INZC and PAIR are not used by librealsense, and the actual depth formats are part of the kernel since 4.15.
The error seem something to do with recent changes in the way Linux handles UVC metadata. @ev-mp, are you aware of such issues?
I think Ubuntu Bionic comes with 4.15, so if you select "Advanced Options" in your grub menu, it i

[2018-11-03 16:38] #1919 closed

[2018-11-03 19:15] ljc19800331 commented on #2663
@dorodnic Thanks for your reply. I have add these parts in the CMAKE but still get the same errors.

### This is my CMake:
cmake_minimum_required(VERSION 3.12)

# Project name
project(Program_1)

# Set the variables
set(CMAKE_CXX_STANDARD 14)
set(DEPENDENCIES realsense2 ${OPENGL_LIBRARIES})

find_package(OpenGL)

if(WIN32)
    list(APPEND DEPENDENCIES glfw3)
else()
    # Find glfw header
    find_

[2018-11-03 19:33] #2663 closed

[2018-11-03 21:14] drzraf commented on #2205
Even if it would be true, the fact that `rs-viewer` fails at loading JSON because of unreliable power is a bug in itself. One would then expect "`Can not brought depth-camera up`" which is way clearer)
In my case, Realsense camera is the sole USB device connected and runs on a USB-3 port of my laptop. It's matching expected power-specs, so if it can't power depth-camera under these conditions, it'

[2018-11-04 00:06] kunyao commented on #2656
Finally, figure out how it works after reading the source. Basically, the syncer will release single frame return if it cannot find a matched pair for a certain time(based on timestamp). And the stream[0] for RGB and depth sensor is with different fps.

[2018-11-04 00:06] #2656 closed

[2018-11-04 06:34] shrijan00 opened #2667 "D415 issue while launching"
So when i'm launching roslaunch realsense2_camera rs_camera.launch
Even though if i type rqt_image_view, i am able to see rgb and depth images but anybody knows about these error. I guess its either because of kernel issue or sdk.
![realsensed415](https://user-images.githubusercontent.com/4169231/47961092-19138200-e004-11e8-941e-3870de16fce5.png)

[2018-11-04 09:56] kubrakaracan commented on #2317
Thank you for your answer! but I meant to say that why y-axis points to upward in realsense-viewer render? Should it point to downward as written in the document? I also checked the rendering algorithm you posted, and it is also written in positive manner. if y-axis points upward then x-axis in realsense-viewer points inversely?

[2018-11-04 10:38] #2436 closed

[2018-11-04 14:55] zivsha commented on #2660
Note that converting a video to a bag file with the above method will create a bag that cannot be opened using the RealSense Viewer (since it expects a different topic and additional topics other than camera/image_raw.

You could try to create an app that uses both SDKs, the older one to read frames from the file, and the new one to write them to a bag file. You could probably achieve this by crea

[2018-11-05 01:58] HippoEug commented on #2555
Yeah I think that is my only option at the only time. Thank you for your reply ❤️!

[2018-11-05 02:06] HippoEug commented on #2657
Ah that makes sense. A little confused as to why there would be a significant difference between aligning Color to Depth or Depth to Color. Do you mind elaborating abit more about that? Or is there a link to where I can find the relevant information to read that up on? Many many thanks! 😄

[2018-11-05 04:24] HippoEug opened #2671 "How to use rs-convert tool? [C++]"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D400 |
| Firmware Version                   | 05.09.02.00 |
| Operating System & Version | Win 10 |
| Kernel Version (Linux Only)    |

[2018-11-05 04:47] HippoEug commented on #2671
## Follow-up Question: `.ply` File Formats (NOT PRIORITY)
On this thread from [SourceForge](https://sourceforge.net/p/meshlab/discussion/499533/thread/a32c2809/), one user said
[code]

But all I got from opening the `.ply` file saved using `Intel RealSense Viewer.cpp` is this..:
![image](https://user-images.githubusercontent.com/21957042/47977843-5277ea80-e0f5-11e8-890c-6753d7a938cd.png)

I have n

[2018-11-05 06:36] dorodnic commented on #2671
Hi @HippoEug
You don't need to type in `[` and `]` to `rs-convert`. Otherwise you are doing everything right.
I wanted to revisit `rs-convert` soon, because some users reported severe frame-drops there. If you have any problems, please let us know.
As for the PLY, the format has two variants - plain-text and binary. The plain text one is great for readability, but files would be several times the

[2018-11-05 07:05] HippoEug commented on #2671
### Original Question
Hi Sergey, it kinda worked!! I am so excited!!!!!!!!!

#### Output from Windows CMD
Here is the output after running `C:\Users\efoo1\Desktop\librealsense-2.16.1\build\Debug\rs-convert.exe -v C:\Users\efoo1\Desktop\test.csv -i C:\Users\efoo1\Documents\20181105_102448.bag`

![image](https://user-images.githubusercontent.com/21957042/47982381-7eea3180-e10a-11e8-9188-b0c183637b34

[2018-11-05 07:14] HippoEug commented on #2671
@dorodnic Apologies for asking one more question:

Is it possible to specify in C++ that I would like to save the PLY file in plain text rather than in binary? If I am correct, by default it saves in binary, hence I got this image below when opening on Visual Studio Code?

![image](https://user-images.githubusercontent.com/21957042/47977843-5277ea80-e0f5-11e8-890c-6753d7a938cd.png)

[2018-11-05 07:24] zhouwg opened #2672 "could librs provide a new pipeline framework as the pipline in the ffmpeg/vlc/gstreamer?"
----------------------------------------------------------------------------------------------------
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | { D415 } |
| Operating System & Version |   Windows/Linux/Android |

[2018-11-05 07:41] HippoEug commented on #2671
Ah, that explains why I would have 18 `.csv` files then.

I think I can make do with 1 `.csv` file since I am planning to do a single `.bag` frame capture anyways. The frame skipping would not be an issue for my particular use-case.

Also thank you for the example, I will give it a look.

## Suggestion
Maybe I am not observant enough, but in the `README.md` of `rs_convert` I cannot find an accurat

[2018-11-05 07:55] RealSense-Customer-Engineering commented on #2657
[Realsense Customer Engineering Team Comment]
Hi @HippoEug,

Basically, the aligned base is different. Aligning color to depth is based on depth image. Aligning depth to color is based on color image.
They have their own extrinsic parameters for transformation between point to point.

[2018-11-05 08:05] HippoEug commented on #2657
Sincere apologies to @AussieGrowls for hijacking the thread first of all.

@RealSense-Customer-Engineering thank you for your reply. A quick question:

For my use-case, I am trying to use the D435 to get the z-values/depth of a wound on the human body. The rough process is I provide the user a Color image/frame and get them to select the circumference of the wound. The program would then get these

[2018-11-05 08:07] yeyanlei commented on #2314
Thanks @frederico-klein . When I used new SDK version.  Problems were solved

[2018-11-05 09:02] dorodnic commented on #2672
Hi @zhouwg
There are still some design challenges to overcome, but in general this is exactly the direction we want to take the project, at least for the processing blocks (and possibly some of the sinks).

[2018-11-05 09:08] zhouwg commented on #2672
@dorodnic, Thanks for your comments. I see now.

[2018-11-05 09:08] #2672 closed

[2018-11-05 13:15] cansik commented on #1576
I also created an example unity project for MacOS and the D435. Running smooth now, but rosbag playback and some other things are not working:

https://github.com/cansik/realsense-unity-mac

[2018-11-05 13:34] kubrakaracan commented on #2317
I got the point now, thank you so much !!

[2018-11-05 13:34] #2317 closed

[2018-11-05 14:07] mjfoo21 commented on #1051
Hello,

I know this has been closed but I can't use the `rs2::align ` as suggested.

My code is as followed:
[code]

It can't get past the `align.process(frames);` line with an exception occurring at the `invoke()` under `class processing_block`:

Actually I posted a question [a year ago](https://github.com/IntelRealSense/librealsense/issues/858) and it was fixed. Somehow it is not working now whe

[2018-11-05 16:11] dorodnic commented on #1587
Should be resolved in latest release

[2018-11-05 19:13] dorodnic commented on #2664
Hi @inders

It's a good question we unfortunately don't have a good answer to, yet. We did experiments finding the relative pose using Open3D and `opencv_contrib/rgbd`, but nothing yet reliable enough to publish / recommend. Using `vicalib` for this seems to me like a great idea.

As for the more technical aspect of the question, you can project 2D pixels to 3D points using the method in `rsutil.h

[2018-11-05 19:16] RealSense-Customer-Engineering commented on #2474
[Realsense Customer Engineering Team Comment]
Hi m0oz,

Do you have further questions?

[2018-11-05 19:37] RealSense-Customer-Engineering commented on #2612
[Realsense Customer Engineering Team Comment]
Hi MemoryNode,

We understand that it is not a simple work to refresh a Window installation, and the only Windows driver we would suggest to try is: https://downloadcenter.intel.com/download/27799/Intel-RealSense-D400-Series-Universal-Windows-Platform-UWP-Driver-for-Windows-10.
But there is not much we can help on the problem happening on your computer

[2018-11-05 19:39] RealSense-Customer-Engineering commented on #2652
[Realsense Customer Engineering Team Comment]
Hi shgold,

Do you have any update based on dorodnic's suggestion?

Thank you!

[2018-11-05 19:49] RealSense-Customer-Engineering commented on #2630
[Realsense Customer Engineering Team Comment]
Hi philipjames44,

Do you still need any help given what have been explained above?

Thank you!

[2018-11-05 19:59] RealSense-Customer-Engineering commented on #2633
[Realsense Customer Engineering Team Comment]
Hi fujiimakoto ,

Would you like to first validate your camera using depth quality tool https://github.com/IntelRealSense/librealsense/releases?
And you can refer to this C-example for measuring depth: https://github.com/IntelRealSense/librealsense/tree/master/examples/C/distance

Hope these can be helpful.

Thank you!

[2018-11-05 20:14] Ilya-Muromets opened #2675 "How to display point cloud in real time without saving to .ply? (python)"
----------------------------------------------------------------------------------------------------

| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | { R200 / F200 / SR300 / ZR300 / **D400** } |
| Firmware Version

[2018-11-05 21:05] RealSense-Customer-Engineering commented on #2648
[Realsense Customer Engineering Team Comment]
Hi sepehr-laal,

I tried with Unity 2018.2.13f1 with RealSense SDK 2.16.1 Unity wrapper off Windows 10 Version 1709 Build 16299.726, and don't have issue when strting/stopping TexturesDepthAndInfrared.unity sample scene, neither for StartHere.unity sample scene.

Can you please help clarify the issue you have, and take some screenshots?

Thanks!

[2018-11-05 21:09] PioneerAPCS18-19 opened #2676 "Jetson Installation"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       |  D435  |
| Firmware Version                   | 5.10.6 |
| Operating System & Version |   Ubuntu 18.04  |
| Kernel Version (Linux Only)    |  4.15

[2018-11-05 21:39] #2373 closed

[2018-11-05 22:12] MartyG-RealSense commented on #2676
The RealSense 400 Series cameras are compatible with any Intel or ARM processor and have been used successfully with the Jetson boards.  In June 2018 the SDK added CUDA optimizations for Jetson.

https://github.com/IntelRealSense/librealsense/pull/1866

A patch script can be found here:

https://github.com/IntelRealSense/librealsense/issues/1424#issuecomment-375965070

[2018-11-05 22:53] dsharma2701 commented on #2645
I have the same issue, it occurs when am trying to subscribe for multiple messages, it segfaults on L261 or L255 time.cpp (https://github.com/IntelRealSense/librealsense/blob/master/third-party/realsense-file/rosbag/rostime/src/time.cpp)

    message_filters::Subscriber<sensor_msgs::CameraInfo> color_cam_info_sub(nh, "/camera/color/camera_info", 5);
    message_filters::Subscriber<sensor_msgs::Ima

[2018-11-05 22:54] vasiliyx commented on #445
Which file?
Same problem trying to get running Python3 on UpBoard Ubunty14.04 with realsense2

[2018-11-06 00:09] philipjames44 commented on #2630
I believe this issue is resolved. Thanks!

[2018-11-06 00:09] #2630 closed

[2018-11-06 00:32] #2255 closed

[2018-11-06 01:12] dsharma2701 commented on #2645
@omerbrandis  i was able to resolve it by putting real sense library last in the order of linked libraries.
I dug in the code and it seems like librealsense is redefining the ros::Time::now() under thirdparty, not sure why same namespace was used ? Since the linkage was going there it segfaults, if you declare the linkage order to have ROS libs be the priority then you can work around it.

[2018-11-06 02:47] MemoryNode commented on #2612
@RealSense-Customer-Engineering

Thank for your reply.

I got a new Type-C cable, and tried with it yesterday, it seems ok (about 3 hours),  Maybe it's just an accident, and I need more tests.

Thank for your help again, @dorodnic @RealSense-Customer-Engineering , if there are other questions , i will open a new issue for it.

[2018-11-06 02:53] #2612 closed

[2018-11-06 03:37] sepehr-laal commented on #2648
I can't take a screenshot of the blue screen. I am on Unity 2018.2.14f1.

This is how I reproduce it:

1. Make an empty scene
2. Drag drop RsDevice prefab into it
3. Set it up to stream depth, IR or RGB (does not matter as long as it's streaming something)
4. Play
5. Stop
6. Wait around for 10 to 15 minutes
7. Blue Screen.

The issue is that Unity Editor needs to be closed an reopened every time a

[2018-11-06 04:18] RealSense-Customer-Engineering commented on #2280
[Realsense Customer Engineering Team Comment]
Thank you, @drzraf . You are right.
@KeCh96, please `enable_stream` in config object before pipeline.start, and call pipeline.start with param config.

[2018-11-06 06:11] RealSense-Customer-Engineering commented on #2657
[Realsense Customer Engineering Team Comment]
Hi @HippoEug,

Since you provide a color image to interactive with users, you can try to align Color to Depth and get the correspondent depth from color pixel selected.
You can also review #2523.

[2018-11-06 06:17] dorodnic commented on #2675
Hi @Ilya-Muromets
[Open3D](http://www.open3d.org/) has a nice python point-cloud visualizer. I cannot guaranty it can sustain high FPS (in fact I'm pretty sure it can't), but it is the best I know.
Of course, you always have the option to go one level down and do this in C++.
Current librealsense C++ examples are also not perfect, but they can sustain 30 FPS on reasonable PC from a single camera.

[2018-11-06 06:20] RealSense-Customer-Engineering commented on #2574
[Realsense Customer Engineering Team Comment]
@navona  Any other questions about this ticket? Waiting for you update. Thanks!

[2018-11-06 06:31] RealSense-Customer-Engineering commented on #2634
[Realsense Customer Engineering Team Comment]
Hi @Liuyu010, If below answer have solved your question, we'd like to close this ticket. Thanks!

[2018-11-06 06:32] RealSense-Customer-Engineering commented on #2288
[Realsense Customer Engineering Team Comment]
@temmat Could you please have a try with 2.16.2 to see if you still get the problem? Thanks!

[2018-11-06 06:35] RealSense-Customer-Engineering commented on #2660
[Realsense Customer Engineering Team Comment]
Hi Jilliansea, How about your test result?

[2018-11-06 06:37] RealSense-Customer-Engineering commented on #2572
[Realsense Customer Engineering Team Comment]
@Erget Any good news with hub? Looking forward to your update.

[2018-11-06 06:38] RealSense-Customer-Engineering commented on #2605
[Realsense Customer Engineering Team Comment]
@McJun1 Did you get chance to try USB2? Any other questions for this ticket? Looking forward to your reply. Thanks!

[2018-11-06 06:38] RealSense-Customer-Engineering commented on #2410
[Realsense Customer Engineering Team Comment]
@creesy87 Could you please update? Thanks!

[2018-11-06 06:39] #2551 closed

[2018-11-06 06:39] RealSense-Customer-Engineering commented on #2433
[Realsense Customer Engineering Team Comment]
@stekla79 Could you please update? Thanks!

[2018-11-06 06:41] RealSense-Customer-Engineering commented on #2431
[Realsense Customer Engineering Team Comment]
@duclinhfetel Is the ticket resolved? Looking forward to your reply. Thanks!

[2018-11-06 06:41] RealSense-Customer-Engineering commented on #2335
[Realsense Customer Engineering Team Comment]
@AkhmedAnam Could you please update? Thanks!

[2018-11-06 06:42] RealSense-Customer-Engineering commented on #2570
[Realsense Customer Engineering Team Comment]
Hi NguyenThaiHoc1,
If there is no more question about this topic, we'd like to close this ticket. Thanks!

[2018-11-06 06:43] dorodnic commented on #2676
Yes, we are working to improve Jetson support over time. It is not trivial, especially for platforms we have zero control over. Publishing debians for Jetson makes sense. Publishing a DKMS or maintaining the patches for NVidia variant of the kernel, however, is not likely to happen. What we do instead is upstreaming RealSense specific patches to the Linux kernel. With 4.15 you should have almost a

[2018-11-06 06:45] RealSense-Customer-Engineering commented on #2482
[Realsense Customer Engineering Team Comment]
Hi mprat,

How about your test result, if your question has been resolved, we'd like to close this ticket. Thanks!

[2018-11-06 06:46] #2330 closed

[2018-11-06 06:46] #2343 closed

[2018-11-06 06:47] #2351 closed

[2018-11-06 06:54] RealSense-Customer-Engineering commented on #2667
[Realsense Customer Engineering Team Comment]
Hi  shrijan00,
Could you provide your running envs(such as  os, platform, camera model, firmware version, kernel version, librealsense SDK version ...)?

Thanks.

[2018-11-06 07:39] kqi914 commented on #2586
I still need to run: `export PYTHONPATH=$PYTHONPATH:/usr/local/lib ` every time I want to run the python script. Any solution for that?

[2018-11-06 07:55] HippoEug commented on #2288
I had the same issue written [here](https://github.com/IntelRealSense/librealsense/issues/2486) as well.

I will test the latest release version when it is out, since 2.16.2 and 2.16.3 are still pre-releases!

[2018-11-06 09:48] Liuyu010 commented on #2634
Hi，dorodnic
Sorry for reply so late!
I have tried what you advised last week, but it seems that I made the project more Chaotic and can't get the features I want(Maybe because of my unfamiliarity with developing on Intel RealSense).
In rs_align, all the features I want is that I can use the color_map and depth_map fetched from D415/D435 to add the Joint Bilateral Filter on the depth_map(This is a

[2018-11-06 10:13] kklaw85 opened #2677 "Matlab:Example to "Controlling the Laser" on librealsense2"
Hi,
I am currently developing an interface to control D415 on Matlab platform. Just wondering if there is any example to control the laser on librealsense2 with Matlab wrapper? I found an example on C++, but I have difficulty getting it done on Matlab. Here's what I have done so far;

profile = pipe.start();
selected_device=profile.get_device();
depth_sensor=selected_device.first(realsense.sensor(

[2018-11-06 10:18] lramati commented on #2677
device.first() accepts a string. Try e.g. device.first('sensor') or
device.first('depth_sensor')

[2018-11-06 10:22] noamzafrir opened #2678 "High CPU load when using D415"
* Before opening a new issue, we wanted to provide you with some useful suggestions (Click "Preview" above for a better view):

    * Consider checking out SDK [examples](https://github.com/IntelRealSense/librealsense/tree/master/examples#sample-code-for-intel-realsense-cameras).
    * Have you looked in our [documentations](https://github.com/IntelRealSense/librealsense/tree/master/doc#useful-lin

[2018-11-06 10:34] kklaw85 commented on #2677
Hi Iramati, thank you so much, it works!

[2018-11-06 10:40] RealSense-Customer-Engineering commented on #2338
[Realsense Customer Engineering Team Comment]
The raw depth is 1 channel 16 bits image(Z16).
The colorized image is 24-bits image(RGB8).

My question is how to display "bw" onto the window in your code?
It seems, there is a 24-bit image is shown as a 16-bit image, in the bw window.
the function `remove_background` looks good.

[2018-11-06 11:39] inders commented on #2664
Hi @dorodnic Thanks for responding. I looked through the paper you recommended and I have the following follow up questions -

1. In this approach the camera is moving constantly and target is fixed. In this case what's the reference point i.e. origin against which the camera is getting calibrated.

2. Since real sense have depth data, i should be ok with one camera also to reduce the scope of the

[2018-11-06 13:14] metanamo commented on #2333
Hi,

I've turned back to unity test to give it another try. And I'm still facing the same problem when trying to stream multiple D415 to Unity. "RSDevice Singleton already instanced..."
Using the latest SDK/Unitypackage and latest Unity version this should be solved...I was assuming.
I have no clue what I'm doing wrong here. I just add 2 devices with pointcloud to unity. One is working but two cau

[2018-11-06 13:52] motudor commented on #1086
It did take a longer time to get back to this, but I can now confirm the problem is solved with the latest library and firmware.

[2018-11-06 14:38] renno-bih commented on #437
What USB 3.0 HUB are you using? When connecting R200 using cheap USB  3.0 HUB (powered) it cannot be detected.

[2018-11-06 15:09] RealSense-Customer-Engineering commented on #2639
[Realsense Customer Engineering Team Comment]
Hi @Jamie-moriarty,

Just notice below from your previous comment:
The sensor is running on USB3.1 as shown in excerpt from lsusb -v:
 Bus 002 Device 004: ID 8086:0b07 Intel Corp.

so, please run "lsusb" to check the bus number and device number for D435 device. If the number is like above, the command should be:
intel-realsense-dfu -b 002 -d 004 -f -i

[2018-11-06 15:31] RealSense-Customer-Engineering commented on #2475
[Realsense Customer Engineering Team Comment]
Hi @xtrawurst,

Is the issue still there for further debug?

[2018-11-06 15:45] dorodnic commented on #2678
Hi @noamzafrir
I just want to double-check that you are using the pre-compiled binaries from the installer in Release configuration? I tried `rs-capture` from within `rs-examples.sln` provided with the installer, before and after adding IR. Copy pasting the code you provided actually reduced the CPU utilization on my system (from about 15% to about 7%) which makes sense given smaller resolutions c

[2018-11-06 16:00] noamzafrir commented on #2678
Hi Sergey,

Thank you for your reply.
You actually replied in an excellent timing because I just finished checking this issue on my side too.

It seems that the root cause for the high CPU load is the middleware library that I am using for extracting landmarks from the images. It's not librealsense2 fault.

BTW 1, I am not sure why the rs-measure sample is causing CPU load to increase to 40-50% wh

[2018-11-06 16:16] pedropgusmao commented on #2619
Thanks!

What if I launch the **rs_aligned_depth.launch** (from https://github.com/intel-ros/realsense) and record topics using regular **rosbag record** ? Will I be able to replay it afterwards with the correct timestamps? Is there a penalty in terms of performance (loss of frames) if I use regular ROS instead of using the Recording from realsense-viewer?

Sorry if this question actually belongs

[2018-11-06 16:31] mprat opened #2681 "Set autoexposure ROI from json or Python"
---------------------------------------------------------------------------------------------------

| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D400 |
| Firmware Version                   | 5.10.3 |
| Operating Syste

[2018-11-06 17:32] RealSense-Customer-Engineering commented on #2586
[Realsense Customer Engineering Team Comment]
Hi kqi914,

There are different ways to take care of python env settings. One of the things that you may try is adding it to .bashrc file.

Thanks!

[2018-11-06 18:46] #1442 closed

[2018-11-06 18:52] dorodnic commented on #1799
Given the stack trace, may be related to #2674

[2018-11-06 19:00] dorodnic commented on #2180
#2655 - better late then never

[2018-11-06 19:16] #2292 closed

[2018-11-06 19:16] RealSense-Customer-Engineering commented on #2292
[Realsense Customer Engineering Team Comment]
Close this issue as solved as there has been no response on this ticket.  Also fix is validated with LRS 2.16.2 and newer.

Thank you.

[2018-11-06 19:24] alex-precosky opened #2682 "Jetson TX2 D435 high resolutions available?"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D435 |
| Firmware Version                   | 5.10.6 |
| Operating System & Version |   Ubuntu 16.04.5 LTS  |
| Kernel Version (Linux Only)    |   4.4.38-28.2.86.0

[2018-11-06 19:28] hinoue commented on #254
I am also seeing this error on 16.04 docker containers.  Is there a workaround?

[2018-11-06 19:55] dorodnic commented on #2682
Hi @alex-precosky
Well, on Linux librealsense is just a fancy wrapper on top of V4L2 really. So yavta is as good a tool as any for the job. In fact, we have the same check in [backend-v4l2.cpp:959-968](https://github.com/IntelRealSense/librealsense/blob/master/src/linux/backend-v4l2.cpp#L959-L968)
What about the built-in USB3 port on the Jetson? From my experience with the Jetson, it should be abs

[2018-11-06 20:10] dorodnic commented on #2681
Hi @mprat
The ROI is not part of the camera JSON, I do see it is supported in the python wrapper ([python.cpp:686-690](https://github.com/IntelRealSense/librealsense/blob/master/wrappers/python/python.cpp#L686-L690))
So it should be something like:
[code]

[2018-11-06 20:11] ljc19800331 opened #2683 "Pyrealsense2 for exposure adjustment"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | { SR300  } |
| Firmware Version                   | (Open RealSense Viewer --> Click info) |
| Operating System & Version |  Win 10  |
| Kernel Version (Linux Only)    |  (e

[2018-11-06 20:22] dorodnic commented on #2683
If I recall correctly,
[code]
There is no way to make the exposure bounce between two values (at least using librealsense). You need to manually set exposure, wait, get image, set exposure, wait, get another image.

Did you try to enable the Infrared stream? I'm not 100% sure, but there is a chance you can see the dot via the other sensor. And, you can configure its exposure (through `prof.get_dev

[2018-11-06 20:30] AussieGrowls commented on #2657
Thanks all, aligning to depth seems to have a small increase in performance.
I still have the issue converting points to pixels though.
![image](https://user-images.githubusercontent.com/31326466/48091547-20ce6300-e25e-11e8-961c-536e138a6521.png)
The green circles in the above are the pixel coordinates I took from the rs_measure example, yet they are very different to the pixel coords in the c# ap

[2018-11-06 20:31] #2260 closed

[2018-11-06 20:31] alex-precosky commented on #2682
Cool thx for the info!  Helpful to know it should indeed be possible to get that resolution.

I've tried the built-in USB3 port but the output is the same, in fact the exact same number of bytes are missing from the image when I use the built-in port.  Yep I've run jetson_clocks.sh

I've only applied the two kernel patches listed in my first message, but maybe I need to patch using the approved me

[2018-11-06 20:48] dorodnic commented on #2682
I think you can safely rule out kernel patches. The RGB sensor on the D400 / SR300 should behave 100% as a UVC compliant web-cam, with no extra steps.
The only unusual thing about these cameras is that they work in Bulk USB mode and not Isochronous. Later is more widespread among web-cams. This can be related to what you are seeing if there is another high bandwidth device on the same USB controll

[2018-11-06 22:33] shrijan00 commented on #2666
@RealSense-Customer-Engineering
I have already done Dynamic calibration as instructed [https://www.intel.com/content/www/us/en/support/articles/000026723/emerging-technologies/intel-realsense-technology.html](url)

I wanted to use the realsense for ROS application for which .yaml file is required which is known cas camera calibration file. So how can i get .yaml format file for realsense.

[2018-11-06 23:48] kunyao opened #2684 "About multi cameras HW sync"
I am not sure if HW sync can be done with both depth and RGB. I read it so in the white book, however, when I implement with both pipeline and frame_queue, I find HW sync only takes place in depth sensors, RGB sensor still works in the original manners(fixed timestamp interval, no drift caused by the master trigger).

Are there any camera options need to be turned on for this?

BTW I use D415.

[2018-11-07 00:59] duclinhfetel commented on #2431
@dorodnic  @umersadiq  @RealSense-Customer-Engineering  @ghormann
Thank for all support.
My problem is resolved

[2018-11-07 01:00] #2431 closed

[2018-11-07 02:28] threedlife opened #2685 "ld: symbol(s) not found for architecture x86_64 on macOS"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | {  D435 } |
| Firmware Version                   | (Open RealSense Viewer --> Click info) |
| Operating System & Version |   {MacOS  |
| Kernel Version (Linux Only)    |  (e

[2018-11-07 02:52] RealSense-Customer-Engineering commented on #2585
[Realsense Customer Engineering Team Comment]
Hi @philipjames44,

You can use realsense-viewer or rs-enumerate-devices app to check the firmware version first.
Refer to below article and install the DCM driver which contains SR300 latest firmware (3.21.0.0) on Win10 with your SR300 connected. The DCM will upgrade the firmware automatically.
https://www.intel.com/content/www/us/en/support/articles/

[2018-11-07 03:19] kklaw85 opened #2686 "Matlab: Access to advance mode"
Hi,
Does anyone knows how to access to Advance mode APIs from Matlab wrapper? From what I see, the existing Matlab wrapper does not contains any Advance mode commands.

[2018-11-07 04:09] threedlife commented on #2685
I figured it out, forgot to link glfw and realsense. Do note to add -framework OpenGL following the glfw library if you are on macOS.

g++ -I /usr/local/include/ -I ../ -std=c++11 rs-pointcloud.cpp -o rs-pointcloud -lglfw -lrealsense2 -framework OpenGL

worked for me on mac

[2018-11-07 04:20] AussieGrowls commented on #2657
Actually, I am having trouble aligning color frame to depth frame. I keep getting and AccessViolationException in Intel.Realsense.dll.
The one frame I saw, before it threw the exception, was in fact what I was looking for regarding the location of the green circles (they aligned with the box corners as expected).
However it keeps crashing. See code snipit below, taken from the cs-tutorial-3-proces

[2018-11-07 05:06] dorodnic commented on #2684
Hi @kunyao
Please check Auto-Exposure Priority control under RGB > Controls. Should be disabled.
For the D415, Depth to RGB sync only kicks in when the two are at same FPS. Disabling Auto-exposure priority ensures auto-exposure will not reduce FPS. Also, what firmware version are you using?

[2018-11-07 05:56] fujiimakoto commented on #2633
Hi Realsense Customer Engineering Team,

Using depth quality tool and turning off auto_exposure, these error distances is less than or equal to 1mm.
Thank you for your cooperation.

[2018-11-07 06:04] metanamo commented on #2307
Hi,
I'm sry to jump up on this issue thread.
Using latest SDK/unitypackage and latest Unity I can't get multi camera streaming to work.
I can't even change the static Instance to a none static one. The _CustomProcessingBlock_ at the end of RsDevice.cs wants static member.
@frenchtouchXR  Could you please help me? Which version of SDK Unity and Firmware you are using?

Thanks

[2018-11-07 06:44] #2633 closed

[2018-11-07 10:02] omerbrandis commented on #2645
hello dsharma2701

can you please shed some light on how you controlled the order of linkage ?

I''m using catkin_make/cmake
and In my package's cmakelist's file "realsense2" appears
after  ${catkin_LIBRARIES}
( but i got the segfault).

Thanks,
omer

On Tue, Nov 6, 2018 at 3:12 AM dsharma2701 <notifications@github.com> wrote:

[2018-11-07 11:17] #2678 closed

[2018-11-07 11:18] dorodnic commented on #2671
I made a change to `rs-convert` documentation, hopefully it's more clear now. Closing this one for now, feel free to open additional issues.

[2018-11-07 11:18] #2671 closed

[2018-11-07 12:36] noamzafrir opened #2688 "D415 depth image origin"
* Before opening a new issue, we wanted to provide you with some useful suggestions (Click "Preview" above for a better view):

    * Consider checking out SDK [examples](https://github.com/IntelRealSense/librealsense/tree/master/examples#sample-code-for-intel-realsense-cameras).
    * Have you looked in our [documentations](https://github.com/IntelRealSense/librealsense/tree/master/doc#useful-lin

[2018-11-07 12:45] lramati commented on #2576
As I mentioned above, using the [realsense.pointcould](https://github.com/IntelRealSense/librealsense/blob/master/wrappers/matlab/pointcloud.m) class, you can feed in depth frames (and optionally color frames) to get out [points](https://github.com/IntelRealSense/librealsense/blob/master/wrappers/matlab/points.m) objects. This is a type of frame that exposes and additional function called get_vert

[2018-11-07 12:52] MartyG-RealSense commented on #2688
The 400 Series has a pair of IR imagers that are used to create the depth image.

The baseline is between the left and right imagers.  However, RealSense stereo cameras tend to rely on the left imager to generate the image.   The dynamic calibration guide for the 400 Series says: "Assume left camera is the reference camera and is located at world origin."

[2018-11-07 13:00] noamzafrir commented on #2688
Thank you, Marty.
That is very helpful.
You can close this issue.

From: MartyG-RealSense <notifications@github.com>
Sent: יום ד 07 נובמבר 2018 14:52
To: IntelRealSense/librealsense <librealsense@noreply.github.com>
Cc: Noam Zafrir <noam.z@noveto.biz>; Author <author@noreply.github.com>
Subject: Re: [IntelRealSense/librealsense] D415 depth image origin (#2688)

The 400 Series has a pair of IR imag

[2018-11-07 14:16] #2357 closed

[2018-11-07 15:54] LouMagsClark commented on #2576
Thank you for your help @lramati, sorry for not acknowledging your earlier post, I'll report back once I have tried this out.

[2018-11-07 17:19] frenchtouchXR commented on #2307
In the 2.16.3 version, you just need to duplicate the device and the pipeline. Then create a new material for the mapping and link it to the copied elements.

[2018-11-07 18:40] dorodnic commented on #2656
Sorry we couldn't provide the information in time. It can take several days for either @RealSense-Customer-Engineering or one of the developers to address incoming issues, especially when we don't have an answer ready like in case of the syncer. You are correct in pointing out this is a gap in SDK documentation. Will try to address soon.

The D400 has somewhat fragile property of `Exposure Priorit

[2018-11-07 21:20] #2677 closed

[2018-11-07 21:24] #2685 closed, assigned to RealSense-Customer-Engineering

[2018-11-07 21:35] #2688 closed

[2018-11-07 22:01] AussieGrowls commented on #2657
Ok, I downloaded the latest 2.16.3, and it now works to align color to depth frame.
![image](https://user-images.githubusercontent.com/31326466/48163794-be946180-e334-11e8-88f9-d142cc3163ca.png)
using the cs-tutorial-2-capture:
`using System;
using System.Collections.Generic;
using System.Linq;
using System.Text;
using System.Threading;
using System.Threading.Tasks;
using System.Windows;
using Sys

[2018-11-08 00:03] ywjia opened #2693 "error in reading bag files"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D415  |
| Firmware Version                   | 5.10.3.0 |
| Operating System & Version |   Ubuntu 16 |
| Kernel Version (Linux Only)    |  4.15

[2018-11-08 00:07] RealSense-Customer-Engineering commented on #2453
[Realsense Customer Engineering Team Comment]
Hi coldcoda,

Wonder if there is any update from you?
Do you still need any help on it?

Thank you!

[2018-11-08 00:53] RealSense-Customer-Engineering commented on #2433
[Realsense Customer Engineering Team Comment]
@stekla79  Considering the ticket resolved, close it accordingly. Thanks!

[2018-11-08 00:53] #2433 closed

[2018-11-08 00:57] #2410 closed

[2018-11-08 01:01] RealSense-Customer-Engineering commented on #2335
[Realsense Customer Engineering Team Comment]
@AkhmedAnam Could you please update? If still no update we will close this ticket in 5 days. Thanks!

[2018-11-08 02:54] AussieGrowls commented on #2657
Ok now the issue is that the aligned color frame looks to be a blend of color and depth frames, which makes it impossible to use open CV to get box dimensions.
notice the noise on the color image?
![image](https://user-images.githubusercontent.com/31326466/48174900-db915a80-e35d-11e8-9e39-50d071f7f008.png)

[2018-11-08 05:36] dorodnic commented on #1852
I believe the new Unity package has everything you need. If you have any follow-up questions, feel free to open another issue or ping this one

[2018-11-08 05:36] #1852 closed

[2018-11-08 05:36] #1587 closed

[2018-11-08 05:39] #2129 closed

[2018-11-08 05:49] dorodnic commented on #2102
The playback issue should be addressed.
We also noticed that on some low-end systems, the recorder can't keep up despite working with an SSD because the CPU doesn't handle the built-in frame compression. Usually compression is preferred because the bottleneck is the hard-drive, but we are adding an API to control it (#2687).
In any case, if you have follow-up questions or encounter any problem fee

[2018-11-08 05:49] #2102 closed

[2018-11-08 08:04] dorodnic commented on #2632
Hi @HippoEug
Did you try the new installer sample apps?

[2018-11-08 08:21] HippoEug commented on #2632
Hi @dorodnic

The installer looks good, with the 'glfw-imgui.props' especially. Since I have VS2017, I am unable to build the solution. Must I download VS2015?

[2018-11-08 09:28] kaixin-bai commented on #1889
wenn the first time i use D435, it works fine, and then, the realsense-reviewer cannot detecte the camera, after i restart the computer, the camera can be detected, but no frames recieved.
08/11 10:11:42,630 WARNING [139648084985600] (backend-v4l2.cpp:1013) Frames didn't arrived within 5 seconds
Ubuntu 16.04
@RealSense-Customer-Engineering
i was following https://software.intel.com/en-us/realsense

[2018-11-08 10:02] dorodnic commented on #2632
I think there is an option, called something like "Retarget Solution" that would prompt a window like this:
![](https://discuss.cocos2d-x.org/uploads/default/original/3X/5/8/5869a60f7ae4772b0488d2692b2fc3130e87e155.png)

[2018-11-08 11:41] pedropgusmao commented on #2619
Hello @dorodnic , do you think it is possible to do the above?

[2018-11-08 12:50] yyxr75 opened #2697 "Realsense D415 with OpenNI2 "device not found". How to resolve it ?"
----------------------------------------------------------------------------------------------------

| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | { D415 } |
| Firmware Version                   | (5.10.6) |
| Operatin

[2018-11-08 13:21] inders commented on #2664
@dorodnic With VICALib can I calibrate cam1 and cam2 having overlapping areas so that the extrinsic keeps the Z axis intact in the camera matrix.

[2018-11-08 15:07] dorodnic commented on #2697
How about realsense-veiwer?

[2018-11-08 15:22] yyxr75 commented on #2697
it works well, all the bin file of realsense works well

[2018-11-08 15:34] ywjia commented on #2693
I just installed the latest SDK, and after re-compiling my code, I got the following error message:

/home/user/librealsense-master/src/media/playback/playback_device.cpp:495: librealsense::playback_device::do_loop(T)::<lambda(dispatcher::cancellable_timer)> [with T = librealsense::playback_device::try_looping()::<lambda()>]: Assertion `m_is_started == false' failed.
./run_test: line 18: 28743 Abo

[2018-11-08 15:51] yyxr75 commented on #2697
it works very well.

[2018-11-08 15:54] erget commented on #2572
Hi, sorry, today we made the decision to use a ZED camera instead (not really related to the hub issue, but it's one of the reasons this was pending for so long). That means that this issue will be mothballed from our side at least for a while. Sorry about the long wait and thanks for the patience.

[2018-11-08 15:54] #2572 closed

[2018-11-08 16:00] dorodnic commented on #2697
Hmm.. So far we only tested the OpenNi wrapper on Windows, so we will need to try to reproduce this.
However, based on #2651 I believe @Daichou was able to make it work on Linux, perhaps he can comment?

[2018-11-08 16:14] Daichou commented on #2697
It work well on my computer. (Ubuntu 18.04 + D435)
I don't use libopenni2-dev package. I just download openni2 from [official site](https://structure.io/openni) and run install.sh to install usb device rule. Following, I copy necessary diriver library (librs2driver.so"+"librealsense2.so"+"librealsense2.so.2"+"librealsense2.so.2.16.3) to downloaded openni2 directory (OpenNI-Linux-x64-2.2/Samples/Bi

[2018-11-08 17:08] alex-precosky commented on #2682
Ah gotchya.  Just in case, I'm going to try taking the stock L4T kernel and applying the recommended patches and see if that makes a difference, since I might have other weird things set up in the kernel I was using.  I'll keep this ticket updated with whatever I find

[2018-11-08 17:29] RealSense-Customer-Engineering commented on #1656
[Realsense Customer Engineering Team Comment]
Hi anshulvj,

Wonder if there is any update? Or do you still need help on this one?

Thanks!

[2018-11-08 17:49] ywjia commented on #2693
Using the latest development branch, the program hangs after running through bag files.
No error message was shown, just hanging there.

[2018-11-08 18:43] kunyao commented on #2684
Thanks, @dorodnic.
I tried, but setting RS2_OPTION_ENABLE_AUTO_EXPOSURE to 0 doesn't help with RGB sync. Still, no drift is seen, and also it introduces new issue by causing frame level delay(~33ms for 30fps)). Sometime it can catch up after serveral frames, but most of the time it won't, just accumulate the 33ms difference (which make it very hard to notice the drift).
This case doesn't happen wh

[2018-11-08 19:18] ywjia commented on #2693
Actually, in another test with the latest release,  the same issue of hanging occurs again.

[2018-11-08 22:19] lauer2356 commented on #1684
@Transmitt0r - do you still have the dockerfile available? Looks like the link above is dead.

[2018-11-09 00:02] RealSense-Customer-Engineering commented on #1947
[Realsense Customer Engineering Team Comment]
Please refernce PR https://github.com/IntelRealSense/librealsense/pull/1964 that allows users to make this change.

[2018-11-09 00:02] #1947 closed

[2018-11-09 01:50] yyxr75 commented on #2697
Thank u all,
I will keep trying and give feedback as long as I make any progress

[2018-11-09 02:31] yyxr75 commented on #2697
YES, PROBLEM DONE
MUCH THANKS EVERYONE
I just made it, I follow the @Daichou 's guide and Down the “[OpenNI 2.2.0.33 Beta (x64) 3.0mb, zipped]” from [the OpenNI 2 SDK Binaries & Docs](https://structure.io/openni), and then
RUN INSTALL.SH
This is the step I forget which bring me troubles. Because INSTALL is going to add the environment variables: OPENNI2_INCLUDE and OPENNI2_REDIST to the specific f

[2018-11-09 03:06] #1837 closed

[2018-11-09 03:17] #2697 closed

[2018-11-09 03:29] HippoEug commented on #2632
Hi @dorodnic

### Danke
Thanks for the suggestion! Re-targeted to Windows SDK Version: 10.17134.0 for VS2017 and it works!

### Feedback
First of all, the installer is amazing! The libraries are great and all the examples just work. On the previous version (.16.1), I was experiencing some compilation issues with OpenCV/Imgui/GLFW libraries here and there.

Also, almost all of the existing examples

[2018-11-09 05:08] #1376 closed

[2018-11-09 05:08] #2209 closed

[2018-11-09 05:09] #2223 closed

[2018-11-09 05:11] RealSense-Customer-Engineering commented on #2248
[Realsense Customer Engineering Team Comment]
Hi @mknejp,

Would you also like to try the latest librealsense to see how it works?

[2018-11-09 05:16] #2237 closed

[2018-11-09 05:19] #2084 closed

[2018-11-09 06:06] HippoEug opened #2700 "How does rs-record-playback.cpp work? [C++]"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D400 |
| Firmware Version                   | 05.09.02.00 |
| Operating System & Version | Win 10 |
| Kernel Version (Linux Only)    |

[2018-11-09 06:10] #1756 closed

[2018-11-09 06:54] HippoEug opened #2701 "Suggestion: rs-convert.cpp should be a console function instead of a CMD function"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D400 |
| Firmware Version                   | 05.09.02.00 |
| Operating System & Version | Win 10 |
| Kernel Version (Linux Only)    |

[2018-11-09 09:01] dorodnic commented on #2632
Great,

Regarding tools, I don't thing their source-code needs to be part of the project. The point of samples is more functionality but also much more code. Unless you wish to debug and extend the Viewer, we don't really expect you to go into its code, as it is quite complicated. We do distribute some of the tools in form of binaries, but `rs-convert` might still be missing.

The DNN is supposed

[2018-11-09 09:04] HippoEug commented on #2632
I see, thank you. I don't think there is anything more. Closing this issue 😄

[2018-11-09 09:04] #2632 closed

[2018-11-09 09:04] dorodnic commented on #2701
I think both use cases are valid, since parameter passing allows simpler batching.
But when you run `rs-convert` without arguments, it can prompt for user input.

This can be a great opportunity to give [contributing](https://github.com/IntelRealSense/librealsense/blob/master/CONTRIBUTING.md) a try ;)

[2018-11-09 09:08] dorodnic commented on #2684
Sorry, I should have been more specific, this is the option - `RS2_OPTION_AUTO_EXPOSURE_PRIORITY`.
Something like:
[code]

[2018-11-09 09:09] HippoEug commented on #2701
You're right. I first gotta figure out Cmake and Git better before I can attempt. Good for my learning too, I'll give it a shot. Thank you :)

[2018-11-09 09:09] #2701 closed

[2018-11-09 10:09] teichgraf opened #2702 "Windows UWP Driver not complete - Mapping Depth to RGB"
We are using the UWP Windows.Media.Capture APIs to access the RealSense D415. We need to map the depth data onto the color for rendering a point cloud.

We are doing a manual registration / mapping based on camera intrinsics and extrinsics. We can get the camera intrinsics from the UWP APIs but the coordinate mapping transform (extrinsics) are not provided.
This call would normally provide a 4x4 m

[2018-11-09 10:31] dorodnic commented on #2702
If using librealsense is an option, we have [sensor-control](https://github.com/IntelRealSense/librealsense/tree/master/examples/sensor-control) example that among other things offers extrinsics.
@RealSense-Customer-Engineering - can we check the UWP driver and submit a bug to the relevant team if there is no fix?

[2018-11-09 10:50] teichgraf commented on #2702
Thanks for the quick response Sergey! 👍
Unfortunately we can't use the native librealsense as our app has to be an UWP app.

[2018-11-09 14:44] trenneman commented on #2554
I've now tested the backend timestamp on 4 different installations:
✔️ Ubuntu 18.04 *
✔️ Windows 10, version 1803
❌ Windows 10, version 1809 *
❌ Windows 10, version 1809

@shane7226107 What Windows version are you running?

*) Same machine

[2018-11-09 15:19] shgold commented on #2652
Thanks @dorodnic!
I converted BGR image to RGB using opencv and with your suggestion, I could inspect the profile of the recorded video.
It works well!

[2018-11-09 15:19] #2652 closed

[2018-11-09 16:16] teichgraf commented on #2702
Yes, that is my discussion on the Intel forums but since there's no outcome since months I was trying another path here.

The MRTK (Mixed Reality Toolkit) is not related at all to this issue. The MRTK is a toolkit for Unity development targeting the HoloLens. How would that at all fix a driver issue or be a workaround...

We need a working driver that is what is needed and it seems not to be open

[2018-11-09 16:29] teichgraf commented on #2702
The non-Unity MRTK is mainly companion apps and tools. I know it quite well and it's not helping us here. Appreciate you are taking the efforts to post Marty and didn't want to sound rude. 🙌

[2018-11-09 16:39] MartyG-RealSense commented on #2702
It's ok, I understand your frustrations.

Could you give some information please about why using UWP is so important to your project?  When UWP first came out, its main advantage was that UWP apps would work on Windows 10, Xbox and Windows Phone.   Now that Windows Phone is dead, the advantages gained from using it instead of developing a Windows-only app may be limited.

[2018-11-09 16:45] teichgraf commented on #2702
Our app needs to run on Windows 10: Desktop, HoloLens and XBox, so yes UWP.
Also the universal layer with an unified API that Windows.Media.Capture offers is a big plus (if the driver is implemented fully).

[2018-11-09 18:35] RealSense-Customer-Engineering commented on #2575
[Realsense Customer Engineering Team Comment]
Is this issue still there after disabling "RealSense Camera DFU Service" and "RS400Service" in Windows 10?

[2018-11-09 18:50] kunyao commented on #2684
Interesting.. I successfully detect HW RGB sync(stable drift) by unpluging and repluging the devices!!! And it only happens in this case (I have to do repluging each time, hardware reset doesn't work). @dorodnic Thanks, I never know there is a **RS2_OPTION_AUTO_EXPOSURE_PRIORITY** option. That makes more sense.

BTW It's my fault of those frame level lag as I write two get_frame together.

[2018-11-09 18:51] cadrinif opened #2703 "Error Mac Nodejs wrapper example "Could not locate the bindings file. ""
When i run node nodejs-capture.js in example folder i have this error :
Documents/Tests/realsense/librealsense-master/wrappers/nodejs/node_modules/bindings/bindings.js:91
  throw err
  ^

Error: Could not locate the bindings file. Tried:
/Documents/Tests/realsense/librealsense-master/wrappers/nodejs/build/node_librealsense.node

I have Mac Sierra, node -v (v8.11.1), npm -v (5.6.0).
The camera is D

[2018-11-09 18:57] #2610 closed

[2018-11-09 19:04] vladsterz opened #2704 "Depth Stream Distortion D400 Series"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       |  D400  |
| Firmware Version                   | Latest |
| Operating System & Version |   Win 10  |
| Platform                                 | PC  |
| SDK Version

[2018-11-09 21:06] MartyG-RealSense commented on #2704
Although calibration of multiple cameras is undoubtedly easier with the $1500 system in the Intel Click store, it is possible to put your own home made calibration together using the open source software Vicalib, which Intel also use.

In Intel's multiple camera webinar, it was stated about Vicalib that "It uses a board that you show to each of the cameras in turn., and it establishes overlapping

[2018-11-10 03:31] VasuAgrawal commented on #2637
@RealSense-Customer-Engineering Are there any updates here?

[2018-11-10 05:54] alt01 commented on #2455
I dont know how to use the function specified on align.m, it seems to be a method from a class.
 I already have the color and depth streams on matlab, but im having troubles with the align function.

![image](https://user-images.githubusercontent.com/42128711/48297991-b47c7b00-e47a-11e8-95ca-c107666145c2.png)

[2018-11-10 15:38] apoorva2398 opened #2705 "MATLAB Live Streaming and More Examples"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D435 |
| Firmware Version                   | 05.10.06.00 |
| Operating System & Version | Win 10  |
| Platform                                 | PC|
| SDK Version

[2018-11-10 19:45] #2675 closed

[2018-11-11 01:43] yohanb78 opened #2706 "C# Export vertices coordinates"
Hello,

| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D435 |
| Firmware Version                   | 05.10.03.00 |
| Operating System & Version |   {Win 10 |
| Platform                                 | PC |
| SDK Versio

[2018-11-11 06:36] HippoEug commented on #2706
Hi there, I think I was trying to a very similar thing to yours but in C++, difference also being I was trying to save the data in .CSV format. [Here](https://github.com/IntelRealSense/librealsense/issues/2584#issuecomment-434147781) was my issue, but from what I know this doesn't sound possible.

[2018-11-11 08:07] ogoshen commented on #2706
That's right, you should use something like this:
[code]

[2018-11-11 12:38] ogoshen commented on #2540
Might be related to #2472

When using the processing pipe Unity can crash with:
[code]
Which actually means that `GCHandle.FromIntPtr` got an invalid pointer, probably because the handle was already freed.

Need to make sure that the `CustomProcessingBlock` instance stays alive to complete the callback.

[2018-11-11 12:51] yohanb78 commented on #2706
Thanks to you,

@HippoEug : efore I posted my issue I read yours but it was hard to me to correlate the methods in c++ with c# methods.

@ogoshen : Why I didnt' find the copyTo method in the sdk doc... :( I guess that it s because I didn't succeed in generating the doc for the wrapper C# when I compiled to the realsense dll.

Is there a place where I can find the C# doc, or I have to generate it ?

[2018-11-11 20:19] kiran1228 opened #2707 "Inter Cam HW Sync causes RGB/D drift"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D415 |
| Firmware Version                   | 5.10.6 |
| Operating System & Version |  Ubuntu 16  |
| Kernel Version (Linux Only)    |  4.15.0-36 (with patch for metadata)

[2018-11-11 23:01] LouMagsClark commented on #2705
This is what I have from modifying the depth_example:

`function stream_example()

    %Make Pipeline object to manage streaming
    pipe = realsense.pipeline();
    %Make Colorizer object to prettify depth output
    colorizer = realsense.colorizer();
    %Start streaming on an arbitrary camera with default settings
    profile = pipe.start()

    %Set the timeframe for streaming in seconds
    t

[2018-11-11 23:12] apoorva2398 commented on #2705
Yes, that's similar to what I have.

Do you know how to stream the infrared and RGB frames as well?

[2018-11-12 02:34] RealSense-Customer-Engineering commented on #2488
[Realsense Customer Engineering Team Comment]
@anranx  Any update from your side? Can we close this ticket?

[2018-11-12 02:52] RealSense-Customer-Engineering commented on #2605
[Realsense Customer Engineering Team Comment]
@McJun1 Any update for this ticket? If no other questions, we'll close the ticket in a few days. Thanks!

[2018-11-12 03:14] DaleBaker commented on #2639
Hi, is there a fix for this on Ubuntu 18.04 LTS?

I tried installing using the instructions here: https://github.com/IntelRealSense/librealsense/blob/master/doc/distribution_linux.md

But am receiving the exact same errors with realsense-viewer.

Looking at downloading the newest version also only has instructions for 16.04

https://www.intel.com/content/dam/support/us/en/documents/emerging-techno

[2018-11-12 05:13] anranx commented on #2488
Sorry to reply. I changed the depth unit in RealSense View, it gets better now. Finally, I decide to get pointcloud from RealSense View instead of depth image. I am try to do reconstruction in meshlab or using c++ code. Anyway, thank you guys very much for  advice and help!   :))

[2018-11-12 05:14] #2488 closed

[2018-11-12 10:15] inders commented on #2390
Can Vicalib be used to calibrate multiple real sense camera pose relative to each other. Can someone please guide me in that direction on how to use Vicalib for the same. It would be very helpful.

[2018-11-12 11:14] anranx commented on #2488
@HippoEug Thank you for your reply!
It doesn't seem to work very well from the pictures. Do you have any idea to reconstruction? Or is there a better way to create pointcloud instead of RS Viewer?  Maybe better pointcloud can get better reconstruction.
Because my application is using the pointcloud to identify which the rib is, and then do some registration with the model from CT reconstruction. S

[2018-11-12 12:14] xtrawurst commented on #2575
The RS400Service is running at the moment on the target machine. However this is after disabling it before. It keeps coming back and there seems to be no way to turning it off for good.

[2018-11-12 12:20] lramati commented on #2705
@apoorva2398 you can check out the [config ](https://github.com/IntelRealSense/librealsense/blob/master/wrappers/matlab/config.m) class, the enable stream API is what you're looking for. The [C++ version](https://github.com/IntelRealSense/librealsense/blob/master/include/librealsense2/hpp/rs_pipeline.hpp#L136) might be a bit more legible, and its identical to the Matlab one.

[2018-11-12 12:57] xtrawurst commented on #2475
I can confirm that this is no longer an issue in 2.16.3.

[2018-11-12 12:57] #2475 closed

[2018-11-12 14:16] MartyG-RealSense commented on #1579
Hopefully the Intel guys can answer your two questions, as they are outside of my programming knowledge.  I will recap your questions below to make them easy for the support people to find:

************

First thing is I'm not really happy with the stop condition, which I find a bit awkward because it seems like the status is set to RS2_PLAYBACK_STATUS_PLAYING only after the first successful fram

[2018-11-12 15:17] contactprad commented on #1813
We have cable which came as part of kit and it works fine on desktop but not on Up-board.

[2018-11-12 15:27] izaakvc opened #2710 "Matlab wrapper: typos in align.m"
There were some errors in `align.m`, resulting in errors. It can be fixed by replacing the first 13 lines by this:
[code]

[2018-11-12 15:54] chunhai opened #2711 "Is poll_for_frames with thread suitable for non-realtime application?"
----------------------------------------------------------------------------------------------------

| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | { D435 } |
| Firmware Version                   | (5.10.3) |
| Operatin

[2018-11-12 17:37] #2453 closed

[2018-11-12 17:37] #1656 closed

[2018-11-12 17:39] RealSense-Customer-Engineering commented on #2586
[Realsense Customer Engineering Team Comment]
Hi kqi914,

I am closing this one now, and please feel free to report back any issue or ask questions.

Thanks!

[2018-11-12 17:39] #2586 closed

[2018-11-12 17:48] apoorva2398 commented on #2705
I keep getting an error at the third line when I run

`pipe = realsense.pipeline();`
`config = realsense.config();`
`config.enable_stream(realsense.stream.depth, 640, 480, realsense.format.z16, 30);`

The error is
`Error using realsense.stream`
`Cannot find a member of the 'realsense.stream' enumeration class that corresponds to each element of the given input argument.`

`Error in realsense.confi

[2018-11-12 18:45] Junzeng-x14 opened #2712 "patch-realsense-ubuntu-xenial.sh: No such file or directory"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Operating System & Version |   Ubuntu 16.04  |
| Kernel Version (Linux Only)    |  4.15.0-38-generic  |
| Platform                                 | PC |

### Issue Description
I follow the instructions of inst

[2018-11-12 18:49] lramati commented on #2705
I think its an issue with the square brackets on the line in the error, where its trying to convert all the args into realsense.stream objects to fit in the list. My knowledge of Matlab isn't great so there are some errors of this kind in the m files of the wrapper. Replacing the line with a for loop that accomplishes the same thing should solve your issue

[2018-11-12 18:55] dorodnic commented on #2712
Hi @Junzeng-x14
The instructions are somewhat outdated, however, in this context, I think it is absolutely safe to skip the patch and continue with the installation process.

[2018-11-12 19:04] Junzeng-x14 commented on #2712
Yes, I did skip the patch information and installation process, but however the file `patch-realsense-ubuntu-xenial.sh` cannot be find in the folder `scripts`.

[2018-11-12 19:08] dorodnic commented on #2711
Hi @chunhai
This approach can help if processing **occassionaly** takes long time. However, if processing consistently takes longer than what the frame-rate allows, you will either have to accept frame drops or switch to purely off-line processing, using [the ros-bag recorder](https://github.com/IntelRealSense/librealsense/tree/master/src/media). Otherwise, the application will just run out of mem

[2018-11-12 19:15] dorodnic commented on #2712
`patch-realsense-ubuntu-xenial.sh` is the kernel patch application script for RealSense cameras, but you no longer need a kernel patch to work with the SR300 with kernel 4.15, so there is no real reason to run it.
The file is still [available](https://github.com/IntelRealSense/librealsense/blob/legacy/scripts/patch-realsense-ubuntu-xenial.sh), but the instructions should be updated with `git check

[2018-11-12 19:20] Junzeng-x14 commented on #2712
Thank you!

[2018-11-12 19:29] olawlor commented on #2568
I got this error too, so in a terminal I did a "sudo apt upgrade".  After replying "y" to its confirmation, it then updated fine:

E: Repository 'http://realsense-hw-public.s3.amazonaws.com/Debian/apt-repo xenial InRelease' changed its 'Origin' value from 'Freight' to 'Artifactory'
E: Repository 'http://realsense-hw-public.s3.amazonaws.com/Debian/apt-repo xenial InRelease' changed its 'Label' valu

[2018-11-12 21:32] apoorva2398 commented on #2705
Thank you! The updated config.m file works correctly.

[2018-11-12 21:32] #2705 closed

[2018-11-12 22:39] RealSense-Customer-Engineering commented on #2575
[Realsense Customer Engineering Team Comment]
It sounds interesting. I remembered when I had same issue before, I just simply fixed it by disabling the Service.

Can you please try this:
1) Search the binary file "RS400Firmware.bin" in Windows (\system32\...) , rename it to whatever different one. And try again....
or
2) Reinstall your Windows or try different computers...

Thanks

[2018-11-12 22:49] chunhai commented on #2711
Hi @dorodnic

Thanks for quick replying!
According to your suggestion, I tried to use ros-bag with poll_for_frames like following.
[code]
However, it seems there are still some frame loss. How can I make pipe wait until the completion of processing current frame? Am I using poll_for_frames in a correct way?

[2018-11-12 23:03] RealSense-Customer-Engineering commented on #2650
[Realsense Customer Engineering Team Comment]
Is this issue solved?

[2018-11-13 05:13] GameHuiTea opened #2713 "Unity Pipeline.Start() Error in PointCloudProcessingBlocks Scene"
* Before opening a new issue, we wanted to provide you with some useful suggestions (Click "Preview" above for a better view):

    * Consider checking out SDK [examples](https://github.com/IntelRealSense/librealsense/tree/master/examples#sample-code-for-intel-realsense-cameras).
    * Have you looked in our [documentations](https://github.com/IntelRealSense/librealsense/tree/master/doc#useful-lin

[2018-11-13 05:45] 123liluky opened #2714 "selected configuration(fps,resolution) is not supported"
|---------------------------------|------------------------------------------- |
| Camera Model                       |  D400  |
| Firmware Version                   | 05.09.14.00 |
| Operating System & Version |   Win 10 |
| Platform                                 | PC |
| Language                            |  python |
While I change resolution from 640*480 to 1280*720 and FPS from 15 to 30, RG

[2018-11-13 05:54] PancakeSparkle opened #2715 "Depth data shows up as green in programs other than realsense-viewer"
Camera Model: SR300
Firmware Version: 3.21.0.0
Operating System & Version: Ubuntu 18.10
Kernel Version: 4.18.0
Platform: PC
SDK Version: 2.16.4

### Issue Description
Trying to view data from the depth camera in other programs than realsense-viewer results in a green screen
The screenshots below are from howdy's test program(a face recognition program,similar to windows hello), and cheese webcam v

[2018-11-13 05:58] RealSense-Customer-Engineering commented on #2634
[Realsense Customer Engineering Team Comment]
Hi @Liuyu010 ,

from your posts, your question is "how to use the depth_image processed by OpenCV to call remove_background()",  could you reference following modified rs-align.cpp(librealsense/examples/align/rs-align.cpp):

// License: Apache 2.0. See LICENSE file in root directory.
// Copyright(c) 2017 Intel Corporation. All Rights Reserved.

#includ

[2018-11-13 06:14] shrijan00 commented on #2667
Somehow it is working so its ok with me.

[2018-11-13 06:14] #2667 closed

[2018-11-13 06:35] HippoEug commented on #2488
There is an application that is Recfusion. I have tried it and it is perfect.. but the downside is its $99 if I recall correctly. You should try using the free version and see if it works.

[2018-11-13 06:46] HippoEug commented on #2488
Here is an output from the application.

This is an actual picture of my messy room:
![image](https://user-images.githubusercontent.com/21957042/48395481-5db0c300-e752-11e8-90cc-6a40d1d01978.png)

These are the results from Recfusion. Instead of taking a screenshot on my PC, I took a picture of my monitor using my phone, hence the terrible reflection.

![image](https://user-images.githubuserconten

[2018-11-13 07:30] chaoli2 commented on #2645
I have the same issue in my ROS project. I also write a minimal [ROS package](https://github.com/chaoli2/librealsense_test) to clarify the problem.

It seems that changing linkage order works only if you do not use rs API. For example, if you use [second linkage order](https://github.com/chaoli2/librealsense_test/blob/c4567f4ce00653ad35ed03bde585c0c106de6834/CMakeLists.txt#L42),  segmentation faul

[2018-11-13 07:40] RealSense-Customer-Engineering commented on #2459
[Realsense Customer Engineering Team Comment]
Is there any update?

[2018-11-13 07:45] RealSense-Customer-Engineering commented on #2667
[Realsense Customer Engineering Team Comment]
Thanks your update.

[2018-11-13 10:44] dorodnic commented on #2715
You should have two video devices when connecting the depth camera - one for depth information and one for color. If you select the second one, you should be able to use it as a regular web-cam. The depth device provides depth information that cannot be processed by regular cv algorithms. We hope that using librealsense more developers will start taking advantage of depth but RealSense also suppor

[2018-11-13 10:47] dorodnic commented on #2714
@123liluky, as @HippoEug suggested the camera seem to be detected as a USB2.1 device.
To see the full list of supported resolutions and FPS values, you can run `rs-enumerate-devices`.

[2018-11-13 10:49] dorodnic commented on #2713
There is a lot of information missing, but I'd guess that the camera was detected as a USB2 device and hence cannot provide the configuration required in the Unity scene.
Please share more about the setup and the error and we will do our best to assist.

[2018-11-13 10:55] dorodnic commented on #2711
It depends if the drops occurred during recording or just during playback.
To make sure you get all frames in the bag file, we have a special method called `set_real_time`, please see [rs-convert.cpp:94-96](https://github.com/IntelRealSense/librealsense/blob/master/tools/convert/rs-convert.cpp#L94-L96) for code sample.
To avoid drops during recording, it is best to record on-to an SSD drive and us

[2018-11-13 13:52] dorodnic commented on #2645
I agree this is a problem.
Since we need parts of ROS infrastructure for LRS recording capabilities, but do not want to make ROS packages a strict dependency of librealsense, there is no trivial fix. This might be resolved via a simple "put everything in namespace" solution, but we need to look into it more closely.

[2018-11-13 13:56] #2335 closed

[2018-11-13 15:52] chunhai commented on #2711
Hi @dorodnic ,
Thank you for the example.
The drops occurred during playback. I tried set_real_time as falase, but it seems that it still drop frames if the processing is long. I made an experiment by sleep 0.5s after read each frame (to simulate the processing time) as following:
[code]

If there is no sleep, the output frame number is continuous. If it sleeps a while, it will drop frames.

thank

[2018-11-13 15:57] MartyG-RealSense opened #2718 "Announcement: RealSense D435i camera available for pre-order"
Hi everyone,

The RealSense D435i camera model with added Inertial Measurement Unit (IMU) is now available for pre-order from Intel's online Click store for shipping in the week of December 3 2018.

https://communities.intel.com/thread/145631

[2018-11-13 19:40] chunhai commented on #2711
After I upgraded to 2.16.1, `set_real_time` works now! Thank you very much!

[2018-11-13 19:40] #2711 closed

[2018-11-13 19:51] Medo91code opened #2719 "CMake can't generate a library librealsense2"
Hi

I must make a project that can detect objects used Intel Realsense D435 .

"the Operating System is windows 8.1 x64 "

I decided that i use Visual Studio 2017 , C++ , Opencv for this project. i can work with Opencv in VS2017 but i can't use Realsense D435 library (librealsense2) with opencv and VS2017 , because CMake can't generate this library . I followed the these Steps "Getting Started" (i

[2018-11-13 23:07] xtrawurst opened #2720 "Librealsense on Android: rs2::sensor::set_option(RS2_OPTION_EMITTER_ENABLED, 1) causes exception"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D400 Series |
| Firmware Version                   | any |
| Operating System & Version |  Android  |
| SDK Version                            |  2.16.0 |
| Segment			|  Tab

[2018-11-13 23:16] xtrawurst opened #2721 "D400 Series on Android: Some librealsense method calls sometimes take a very long time."
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D400 Series |
| Firmware Version                   | any |
| Operating System & Version |  Android |
| SDK Version                            | 2.16.0 |
| Segment			| Tablet

[2018-11-14 00:41] HippoEug commented on #2719
Which version of Realsense SDK are you using? I think the new [installer](https://github.com/IntelRealSense/librealsense/releases/download/v2.16.2/Intel.RealSense.SDK-2.16.2.304.exe) works pretty well without the need to use CMake.

[Source](https://github.com/IntelRealSense/librealsense/issues/2632#issuecomment-433807151)

[2018-11-14 00:52] RealSense-Customer-Engineering commented on #2720
[Realsense Customer Engineering Team Comment]
@xtrawurst What android device are you testing? And please provide the logcat and dmesg logs for the issue. Thanks!

[2018-11-14 00:54] RealSense-Customer-Engineering commented on #2721
[Realsense Customer Engineering Team Comment]
@xtrawurst Could you please provide the logcat and dmesg logs for the issue? And which FW version are you using? Thanks!

[2018-11-14 01:14] GameHuiTea commented on #2713
Okay. I'll do my best and give you the information. Thank you very much.
first I using D415 model. and
Unity package(Download realsense.unitypackage) and Git hub have determined that Unity folder in "Clone or Download" is different What should I use?
present, I'm using project by Unity package.
Can play scene except AlignmentSample scene and Point Cloud Depth and Colorcene.

if play AlignmentSampl

[2018-11-14 01:15] #2638 closed

[2018-11-14 01:17] RealSense-Customer-Engineering commented on #2707
[Realsense Customer Engineering Team Comment]
So you're trying to make multiple D415 cameras be sync'd together?

1) How does the Sync cable look like ? how long is it? Please keep in mind, the Slave camera is very sensitive to ESD which causes Slave camera frequently interrupted. Sometimes RGB camera may stop streaming.

2) When you run Sync mode, please disable "AE Priority" under RGB camera.

3

[2018-11-14 01:30] #2660 closed

[2018-11-14 01:35] RealSense-Customer-Engineering commented on #1880
[Realsense Customer Engineering Team Comment]
Hi @blackccpie,
We have D435i camera which include IMU as you can see  in below link.
https://realsense.intel.com/depth-camera/

[2018-11-14 01:52] RealSense-Customer-Engineering commented on #2538
[Realsense Customer Engineering Team Comment]
Hi @laolaolulu,

Will close this if no further question.

[2018-11-14 01:58] #2538 closed

[2018-11-14 02:09] laolaolulu opened #2722 "windows 10 UWP 怎么使用realsense(D435)?"
How do windows 10 UWP use realsense (D435)?

The driver has been installed. Is there an example of UWP using realsense?

[2018-11-14 02:24] laolaolulu opened #2723 "What is the accuracy of realsense (D435)? The depth value error is larger."
What is the accuracy of realsense (D435)? I use D435 to measure the depth value of 2 mm error, is it necessary to calibrate or belong to normal?

[2018-11-14 02:31] GameHuiTea commented on #2713
I don't touch any settings. All setting is default.
I've found a more detailed cause of the error.

The pointCloudProcessingBlocks scene failed because the RSDevice parameter Profiles contains values that do not support the device.
I changed
width = 1280 -> 640
height = 720 -> 480
This is how we solved the problem.

and crash problem of AlignmentSample scene.
if RsAlign script enable. project cras

[2018-11-14 02:52] GameHuiTea commented on #2713
I'd like to know more about the stream index.

[2018-11-14 03:38] HippoEug commented on #2588
I found a workaround, but this method compromises the color camera frames recorded to the `.bag` file since the color camera takes more time to initialize.

The first thing you want to do is to record a `.bag` file as per normal, but record as little as possible. To achieve this, I did `std::this_thread::sleep_for(std::chrono::milliseconds(1500));` in between `pipe->start(cfg);` and `pipe->stop();

[2018-11-14 03:42] HippoEug commented on #2700
NOTE: For readability's sake, I rewrote my comment from [another thread)[https://github.com/IntelRealSense/librealsense/issues/2588#issuecomment-438526333]

I found a workaround, but this method compromises the color camera frames recorded to the `.bag` file since the color camera takes more time to initialize (settle down).

The first thing you want to do is to record a `.bag` file as per normal,

[2018-11-14 07:02] MartyG-RealSense commented on #2722
Microsoft has a GitHub page with a list of UWP sample programs.

https://github.com/Microsoft/Windows-universal-samples/tree/master/Samples

A member of Intel's support team has previously highlighted a UWP sample (not specific to RealSense cameras) called CameraStreamCorrelation, which "shows how to use spatially correlated color and depth cameras and the depth frames to map image pixels from one

[2018-11-14 07:12] MartyG-RealSense commented on #2723
I was not certain from your question whether you are sensing at close range or long range, so I will talk about both cases.

At longer range, the depth accuracy will drift noticeably after 3 to 4 meters away from the camera.  This is called RMS Error.  It impacts the D435 model more than the D415 model due to the D435's hardware design.  The link below has a chart that shows RMS error over distanc

[2018-11-14 07:29] MartyG-RealSense commented on #2723
You would need to reduce the minimum sensing distance of the camera (MinZ).  This can be done using the Disparity Shift setting.  You can reduce minimum distance (how close the camera can get to an object) at the cost of reducing the maximum distance (MaxZ) that the camera can see.

For example, according to Intel's camera tuning guide, a Disparity Shift of '0' gives a MinZ of 45 cm and an infinit

[2018-11-14 07:38] HippoEug commented on #2723
Using a D435 as well. With a distance of 20cm, I find that I need to apply "50.0" to the Disparity Shift Value for optimal results

[2018-11-14 08:10] GameHuiTea commented on #2713
thank you for reply.
Okay. this is USB picture.
![image](https://user-images.githubusercontent.com/18478335/48468155-6ecf0200-e82e-11e8-809b-5136ab02712e.png)

I think this is USB2.0! I changed thank you.
but AlignmentSample scene still crash maybe different problem. TAT

steam index pictures
![image](https://user-images.githubusercontent.com/18478335/48468333-dedd8800-e82e-11e8-943f-bbaaa569b603.

[2018-11-14 08:24] qrasmont opened #2724 "D415 rolling shutter sample time ?"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       |  D415 |
| Firmware Version                   | 05.10.03.00 |
| Operating System & Version |   Ubuntu 18.04.1 LTS  |
| Kernel Version (Linux Only)    |  4.15.0-33

[2018-11-14 08:33] HippoEug commented on #2713
I can see you are using the USB Cable that came with the Intel Realsense camera. But have you confirmed the black ports on the back of your Desktop PC is USB 3.0? Most USB 3.0 ports are blue instead of black due to the standard, but there are exceptions of course. Have you confirmed the camera is indeed connected to your PC as USB3?

![image](https://user-images.githubusercontent.com/21957042/4846

[2018-11-14 08:34] laolaolulu commented on #2723
How do I use Python to set up disparity shift?

`# Configure depth and color streams//配置深度和颜色流
pipeline = rs.pipeline()
config = rs.config()
config.enable_stream(rs.stream.depth, 848, 480, rs.format.z16, 30)
config.enable_stream(rs.stream.color, 1920, 1080, rs.format.bgr8, 30)
# Start streaming//开始流式传输
profile = pipeline.start(config)
align = rs.align(rs.stream.color)`

[2018-11-14 08:38] dorodnic commented on #2713
Hi @GameHuiTea
Thank you for providing more information. I think the camera is still connected to USB2 and this might be what causing the problem. The cable in your picture is USB3, but the port is USB2 I believe.
USB3 ports are usually blue and marked with Super-Speed label, like this:
![](https://d107iaxg6vni3j.cloudfront.net/mbank324747_400_400.jpg)
It is possible that the Unity scene has troub

[2018-11-14 08:39] HippoEug commented on #2723
I personally used C++ with Realsense, not python. But here is what I found.

[python-rs400-advanced-mode-example.py](https://github.com/IntelRealSense/librealsense/blob/master/wrappers/python/examples/python-rs400-advanced-mode-example.py)

The area you should be interested in:
[code]

[Source](https://github.com/IntelRealSense/librealsense/issues/2015)

[2018-11-14 08:41] dorodnic commented on #2719
Hi @Medo91code
Did you manage to overcome the problem?
For the record, the issue is related to `BUILD_WITH_TM2` flag. Enabling it requires `git` to be installed on the computer. You can safely disable the flag (for now).

[2018-11-14 08:55] dorodnic commented on #2702
I was thinking about this problem... I believe Media Capture API allows the user to read from camera XU (need to look up how, couldn't find it online, but I think I saw someone do it).
If this is true, one could send hardware command like in [ds5-device.cpp:271-275](https://github.com/IntelRealSense/librealsense/blob/master/src/ds5/ds5-device.cpp#L271-L275) and then parse the resulting table simil

[2018-11-14 09:43] 123liluky commented on #2714
Thank you. I have changed to USB3 and the problem is solved.

[2018-11-14 09:43] #2714 closed

[2018-11-14 10:36] Liuyu010 commented on #2634
Thank you for your patience.
I have tried what you suggested, but the output window is still dark.

![image](https://user-images.githubusercontent.com/40592483/48477115-b3ad6580-e83b-11e8-9bc5-c59d58f29d29.png)

After a step-by-step debugging, the preliminary judgment is `aligned_depth_frame = q.wait_for_frame()` cannot assign depth_frame from the queue to aligned_depth_frame.

Have you encountere