[2018-04-15 13:47] dorodnic commented on #1513
Hi @xiuruisi @linzihao1999
The title of this issue is a bit confusing at this point, is there still issue related to the `cpuid`?
As for your later question, I suspect that Ubuntu Xenial on ARM board would require different headers and we don't support this combination at the moment. Perhaps you could build the SDK with `-DFORCE_LIBUVC=true` CMake flag to bypass Kernel patching? Alternatively, you

[2018-04-15 14:43] #1292 closed

[2018-04-15 14:43] #1237 closed

[2018-04-15 14:47] dorodnic commented on #1203
Great. I tested the patch a bit on my machine. We have couple of Up-Boards in the lab, but don't run regular and prolong validation on them. We'll try to run a longer cycle on it to make sure the problem does not come back.

[2018-04-15 14:49] dorodnic commented on #1392
We are still investigating the error. @EladZucker feel free to communicate any of your findings so far.

[2018-04-15 15:14] dorodnic commented on #1527
Hi @baptiste-mnh
`pause` method is only available for playback from file, but not from live device (there is no way to keep the device in powered state but stop it from sending frames).
Are you running this code from live cameras or using playback files?

[2018-04-15 15:18] #1527 closed, assigned to RealSense-Customer-Engineering

[2018-04-15 15:37] dorodnic commented on #1509
Hi @ljc19800331
Did you managed to compile the examples?

[2018-04-16 01:24] jimmy82 opened #1545 "Potential Python binding issue"
* Before opening a new issue, we wanted to provide you with some useful suggestions (Click "Preview" above for a better view):

    * Consider checking out SDK [examples](https://github.com/IntelRealSense/librealsense/tree/master/examples#sample-code-for-intel-realsense-cameras).
    * Have you looked in our [documentations](https://github.com/IntelRealSense/librealsense/tree/master/doc#useful-lin

[2018-04-16 02:25] suho-j commented on #1535
Thank you for reply

[2018-04-16 02:58] RealSense-Customer-Engineering commented on #1448
[Realsense Customer Engineering Team Comment]
@electro-logic
Yes, the color correction is used remove the IR pattern, there will be more documents available in the future can be found in web page https://realsense.intel.com/intel-realsense-downloads/

[2018-04-16 02:58] #1448 closed

[2018-04-16 03:25] RealSense-Customer-Engineering commented on #1203
[Realsense Customer Engineering Team Comment]
@richardroberts
The code has been merged into development branch, if your problem is fixed, can you help to close the issue? Thank you.

[2018-04-16 03:35] RealSense-Customer-Engineering commented on #1279
[Realsense Customer Engineering Team Comment]
@AleBasso80
Problem fixed? Can it be closed?

[2018-04-16 03:44] RealSense-Customer-Engineering commented on #1365
[Realsense Customer Engineering Team Comment]
@Alex9812
Does the problem still exist? Can it be closed?

[2018-04-16 05:07] kezhengtao commented on #1544
I have built the C++ SDK with vs2017 win32, and generated a x86 realsense2.dll . Use it, everything is ok now.

[2018-04-16 05:40] #1482 closed

[2018-04-16 05:45] panjekm commented on #1526
Any update as to what this shift/scaling is? There seems to be an even bigger shift between Y8 and Y16 1920x1080 IR images of the second IR camera.

This does not happen when comparing Y16 and Y8 images of lower resolutions.

[2018-04-16 07:27] #1281 closed

[2018-04-16 08:38] vladsterz opened #1548 "RGB and Depth frames not synchronized"
----------------------------------------------------------------------------------------------------

| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D415 and D435  |
| Operating System & Version |  Win 10  |
| Platform

[2018-04-16 08:42] jb455 commented on #1177
Hi sorry, I've been using precompiled binaries without any problems. I don't really have time to try reproducing this now, but if no-one else has seen these issues then it must be something to do with my machine and/or code. In any case, it's not a problem for me now so I'll close this issue.

[2018-04-16 08:42] #1177 closed

[2018-04-16 09:01] GustavZ commented on #1424
@RealSense-Customer-Engineering does this mean it is now possible to install the dsk with `apt-get` on the jetson?

[2018-04-16 10:05] RealSense-Customer-Engineering commented on #1471
[Realsense Customer Engineering Team Comment]
hi @blairlc,

would like to confirm that you are good with this issue just want to modify the script as you mentioned?

[2018-04-16 10:31] RealSense-Customer-Engineering commented on #1483
[Realsense Customer Engineering Team Comment]
hi @kingmugum,

please refer to this page, https://software.intel.com/en-us/realsense-sdk-windows-eol
old SDK is discontinued, suggest to move on with Realsense SDK 2.0.

some suggestion I have.
please make sure you SR300 connected with Intel Gen6 or above platform with USB3.
please make sure you have DCM installed.
please make sure you have Realsense

[2018-04-16 10:36] RealSense-Customer-Engineering commented on #1485
[Realsense Customer Engineering Team Comment]
hi @GitwellAnyohub,

thanks for sharing your experience, do you need more help on this topic?
thanks.

[2018-04-16 10:54] jimmy82 commented on #1545
Hi, thanks for the support.

Is there a Python example where I can use a playback device context to read all video frames without frame drop?

[2018-04-16 12:56] RealSense-Customer-Engineering commented on #1521
[Realsense Customer Engineering Team Comment]
Hi @dan0910,

Per my test configuration: Ubuntu 14.04.5 + Kernel 4.4.0-119 + DKMS package, to build the realsense-viewer app from the source code of librealsense 2.10.3, the app can run normally without your link issue. Please check if the library installed and linked  is correct.

[2018-04-16 13:06] dorodnic commented on #1545
Hi @jimmy82
At the moment, no, but we will try to add such an example (@lramati / @AnnaRomanov could you please assist?)

[2018-04-16 13:46] dorodnic commented on #1530
Hi @linf233
I'm closing this issue for now. If you need further assistance don't hesitate to open a new one.

[2018-04-16 13:46] #1530 closed

[2018-04-16 13:53] dorodnic commented on #1534
If I recall correctly items 1 and 2 are known issues at firmware level. I can suggest updating camera firmware using the following tool: [downloadcenter.intel.com/download/27514](https://downloadcenter.intel.com/download/27514?v=t), but I am not 100% certain that it was already resolved.

What do you mean?

[2018-04-16 14:10] drhalftone commented on #1164
yes close it.

On Apr 15, 2018, at 11:18 PM, RealSense Customer Engineering <notifications@github.com> wrote:

[Realsense Customer Engineering Team Comment]
@drhalftone <https://github.com/drhalftone>
Do you still have issue on this topic? Can I close it?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub <https://github.com/IntelRealSense/libreal

[2018-04-16 14:11] drhalftone commented on #1428
Yes I’ll wait.  The earlier instructions worked and have no urgent need.

On Apr 16, 2018, at 9:22 AM, Sergey Dorodnicov <notifications@github.com> wrote:

We are planning to update the official PPA tomorrow if you prefer to use the package

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub <https://github.com/IntelRealSense/librealsense/issues/14

[2018-04-16 14:19] rafaor29 opened #1553 "Realsense Viewer doesn't recognize camera d435"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D435 |
| Operating System & Version | Ubuntu 16.04  |
| Kernel Version (Linux Only)    | 4.13.0-38-generic  |
| Platform                                 | PC |
| SDK Version

[2018-04-16 14:32] RealSense-Customer-Engineering commented on #916
[Realsense Customer Engineering Team Comment]
hi @omarev-git,

I just try this on MacOS High Sierra (10.13.2), MacBook Air 2017 with Librealsense 2.10.3, plug the SR300 directly to Mac, which is working good. so please let me know if you still having same issue

[2018-04-16 14:34] RealSense-Customer-Engineering commented on #916
[Realsense Customer Engineering Team Comment]
hi @holstenholsten,
for Frame didn't arrived within 5000, my previous experience was cause by USB cable, so please make sure you are using USB certified cable, and please let me know if you still have this issue with latest release v2.10.3, thanks.

[2018-04-16 14:52] kevindehecker commented on #1534
Gave that a quick try, partial success. Running rs-color multiple times is still a no go, still resulting in the frame time out for all attempts after a first initial successfull run. However, booting with the realsense connected now seems to work, it is detected properly.

I mean that when I run the hacked 0f2b8af78248e11aaab4684072e1c26669888754 version of rs-color with force libuvc on, on my la

[2018-04-16 15:07] RealSense-Customer-Engineering commented on #1493
[Realsense Customer Engineering Team Comment]
hi @grepteam,
would like to know if yf225's instruction works for you too?
thanks.

[2018-04-16 15:15] kevindehecker commented on #1534
Interesting development. After running the rs-color on the odroid, I let it sit for a while and then try it again. It now tells met there are 0 Realsense devices connected... I tried replugging -> no result. This is where it really gets interesting: I plugged a usb mouse in the usb port previously used for the Realsense. The mouse is not detected also, also not in the other usb3 port! The usb3 is

[2018-04-16 15:27] #1164 closed

[2018-04-16 15:30] RealSense-Customer-Engineering commented on #1515
[Realsense Customer Engineering Team Comment]
hi @LeoSarog,

do you need more help on this topic?
thanks.

[2018-04-16 16:20] xzyxzy29 opened #1554 "How to change RGB stream to Grayscale?"
I am a freshman of realsense sdk 2.0 and I am learning it from the example capture. I need to change the output from RGB to Grayscale . I think it might have something to do with the class colorizer, but I don't know how to set about. Can you please give me some advice?

Below are the codes of the example:

#include <librealsense2/rs.hpp> // Include RealSense Cross Platform API
#include "example.h

[2018-04-16 17:01] manyaafonso commented on #91
@leonidk , the most recent version of librealsense does not seem to have the example /examples/cpp-tutorial-3-pointcloud.cpp . Also, where can I find the executable objects? I followed the instructions for linux from the file distribution_linux.md

[2018-04-16 17:25] ljc19800331 commented on #1509
Hello@dorodnic , thanks for your help.

I can find the compiled and built-in example code in the Build folder in Librealsense. I am currently learning how to compile from scratch using the example.cpp and the other supporting file. Thanks.

[2018-04-16 17:25] #1509 closed

[2018-04-16 18:56] #1428 closed

[2018-04-16 20:50] dorodnic commented on #1554
Hi @xzyxzy29
Could you clarify if you are referring to the output of the depth or the color sensor?

[2018-04-17 01:27] xzyxzy29 commented on #1554
@dorodnic

[2018-04-17 01:40] RealSense-Customer-Engineering commented on #1453
[Realsense Customer Engineering Team Comment]
@Alex9812 Is the issue resolved? Please update if you still need help.

[2018-04-17 02:46] moorage commented on #1493
@RealSense-Customer-Engineering  I just tried this, and I can confirm @yf225 's workaround worked for me.  Also worked for 2.10.2 which was having the same issue as well.

[2018-04-17 03:03] RealSense-Customer-Engineering commented on #1309
[Realsense Customer Engineering Team Comment]
Hello @kdoonboli, the white paper has been made public now at https://realsense.intel.com/intel-realsense-downloads/.

[2018-04-17 03:19] zlesk64 opened #1555 "missing cpuid.h on jetson tx2"
----------------------------------------------------------------------------------------------------

| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       |  D400  |
| Firmware Version                   | (Open RealSense Viewer

[2018-04-17 05:30] RealSense-Customer-Engineering commented on #1324
[Realsense Customer Engineering Team Comment]
Hello @timyy,

would like to confirm if you still need support on this topic?
thanks.

hi @zzhsmt,
do you run anything between your previous and after? update windows, driver or camera FW?
thanks.

[2018-04-17 05:32] RealSense-Customer-Engineering commented on #1115
[Realsense Customer Engineering Team Comment]
hi @zhengtiesheng, @ericabd888,

would like to know if building from source solve your issue? if so I would like to close this ticket for now.
thanks

[2018-04-17 06:03] Panepo opened #1556 "Align infrared frame to color"
----------------------------------------------------------------------------------------------------
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D415  |
| Firmware Version                   | 05.08.15.00 |
| Operating

[2018-04-17 06:38] dorodnic commented on #1555
Hi @zlesk64
What version of the SDK are you compiling? The latest master (v2.10.3) in theory should not suffer from this problem

[2018-04-17 06:46] LeoSarog commented on #1515
Hi @RealSense-Customer-Engineering,
no thanks, the problem has been solved.

[2018-04-17 06:55] RealSense-Customer-Engineering commented on #1513
[Realsense Customer Engineering Team Comment]
Can this ticket be close since no more cpuid.h issue?

[2018-04-17 07:15] TheMikeyR commented on #1309
@RealSense-Customer-Engineering You are referring to "Multiple Camera WhitePaper" right? It says revision 2.0 on website but rev 0.4 in the document linked on the website.

[2018-04-17 08:39] RealSense-Customer-Engineering commented on #1450
[Realsense Customer Engineering Team Comment]
@willemremie, @agari1229
Do you still have problem retrieving the key? I tested on my Ubuntu 16.04 with both address start with "hkp://" or without it, both can retrieve the key without problem.

[2018-04-17 09:09] RealSense-Customer-Engineering commented on #1529
[Realsense Customer Engineering Team Comment]
hi @kyranf,

please take D415 as single product and consider the temperature base on datasheet as below link:
https://www.intel.com/content/dam/support/us/en/documents/emerging-technologies/intel-realsense-technology/Intel-RealSense-D400-Series-Datasheet.pdf
at chapt. 3.3.7.

[2018-04-17 09:13] zhengtiesheng commented on #1115
@RealSense-Customer-Engineering      The new version of the SDK can be installed correctly.thank you.

[2018-04-17 09:16] RealSense-Customer-Engineering commented on #1115
[Realsense Customer Engineering Team Comment]
thank you, let me close this ticket and feel free to create new ticket if any question.

[2018-04-17 09:16] #1115 closed

[2018-04-17 09:17] ValerioBiscione commented on #1488
great thanks

[2018-04-17 09:27] RealSense-Customer-Engineering commented on #1275
[Realsense Customer Engineering Team Comment]
hi @moorage, @ahpuck,

would like to confirm if v2.10.3 release solve your issue?
thanks.

[2018-04-17 09:41] RealSense-Customer-Engineering commented on #1532
[Realsense Customer Engineering Team Comment]
From the log you provide, it seems the device is detected as either USB2 device rather than USB3 device that provide sufficient bandwidth.
it could the USB signal quality is not good enough that the PC (host) enumerate the device as  USB2 device.
you can check if the device is enumerate as USB3 device when issue is not there
if that is the case you can

[2018-04-17 10:30] necroen commented on #1516
set
dec.set_option(RS2_OPTION_FILTER_MAGNITUDE, 2);
to
dec.set_option(RS2_OPTION_FILTER_MAGNITUDE, 1);
will be ok

[2018-04-17 11:24] kyranf commented on #1529
Okay, thanks. The ratings show 55 degrees ambient is the max operating temperature. that's enough for me I guess! The ASIC temperatures being ~60 degrees I guess is okay. Most silicon chips are fine up to 100-120 degrees or more anyway. I am worried about life expectancy  though :(

[2018-04-17 12:34] willemremie commented on #1450
@RealSense-Customer-Engineering, the problem is still persistent, however, I've managed to retrieve the key at my home network. I wasn't able to do so on company network, even with the fix provided by @ev-mp.

[2018-04-17 13:07] RedApach commented on #1336
Hello,
Did you work on the D435 Version, It is possible to do a sample for the POINTCLOUD example?

[2018-04-17 13:38] manyaafonso opened #1559 "Binaries of the examples"
----------------------------------------------------------------------------------------------------

| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | SR300 |
| Firmware Version                   | 2.10.3 |
| Operating Sys

[2018-04-17 13:53] dorodnic commented on #1559
You can lunch the `realsense-viewer` and open the recordings that way. All the examples are also distributed under `librealsense2-utils`

[2018-04-17 15:12] DrDeathA opened #1561 "R200 sensor access"
I require the distance of an object from the r200 camera using the get_depth_scale function.

I am uncertain of how to make use of this function and access the sensors as I can't find sensors in the .h files.

Thank you for prompt respons

[2018-04-17 15:54] rafaor29 commented on #1553
Hi @ev-mp , i tried what you said but still not working.
![uvcvideo](https://user-images.githubusercontent.com/26761139/38881393-f1b81354-4267-11e8-8008-c06a9dd32593.png)
![errordmesg](https://user-images.githubusercontent.com/26761139/38881395-f1daa36a-4267-11e8-9f8f-9b33cd946871.png)
I also tried to disable the secure boot by doing:
`sudo apt install mokutil`
`sudo mokutil --disable-validation`

[2018-04-17 16:10] manyaafonso commented on #1559
I need to alter the code from the samples and then link it with librealsense, that is why I need to build from source.

[2018-04-17 16:38] manyaafonso commented on #1559
The CMakeLists from examples/pointcloud contains the line
add_executable(rs-pointcloud rs-pointcloud.cpp ../example.hpp)
so my question is very simple, where is the executable rs-pointcloud?

[2018-04-17 16:53] richardroberts commented on #1203
Ok, if I understand correctly, you would like me to close the issue, so I'm doing that.  Thanks!

[2018-04-17 16:53] #1203 closed

[2018-04-17 19:02] DvdZmd opened #1562 "cs-tutorial-2-capture ''Frame didn't arrived within 5000 rs2_pipeline_wait_for_frames'"
I can run successful the cs-tutorial-1-depth in VS 2017, but the cs-tutorial-2-capture only works fine the first time i run it after to start up the computer, but if i stop the debuging, later VS give me this exception if try to debug:

System.Exception: 'Frame didn't arrived within 5000
rs2_pipeline_wait_for_frames(pipe:000000001CE9BA20)'

I was looking around in the net for a solution but no fix

[2018-04-17 21:00] panjekm commented on #1512
Im not sure I understand what you mean by "various application launch test"?
It doesnt happen all the time. So far Ive seen anything between every 5 and 40 frames.

[2018-04-17 23:06] a-loner opened #1563 "Illegal instruction (core dumped) and malfunction viewer"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       |  D435  |
| Firmware Version                   | 5.9.2.0 |
| Operating System & Version | Ubuntu 16.04 |
| Kernel Version (Linux Only)    | 4.13.0-38-generic |
| Platform

[2018-04-17 23:08] #1061 closed

[2018-04-17 23:08] RealSense-Customer-Engineering commented on #1061
[Realsense Customer Engineering Team Comment]
Thank you all for your suggestions for extended cabling, please consider this specific issue now closed.

If you wish to make a general posting for community input please consider using the community pages, https://communities.intel.com/community/tech/realsense. For @Q40, you may find more specific help on the Logitech support site.

If you have other

[2018-04-17 23:14] RealSense-Customer-Engineering commented on #1418
[Realsense Customer Engineering Team Comment]
@sbnn123456, as previously noted, we don't have a specific schedule set so I would suggest that you monitor the Intel RealSense pages for updated firmware or check back in with a new Github issue in a month or so; for the time being I will close this one.

[2018-04-17 23:14] #1418 closed

[2018-04-18 00:01] RealSense-Customer-Engineering commented on #1309
[Realsense Customer Engineering Team Comment]
@TheMikeyR, I don't know who edited the web site but the 0.4 paper is the most recent (actually the only published rev).

[2018-04-18 00:49] RealSense-Customer-Engineering commented on #1131
[Realsense Customer Engineering Team Comment]
@akashjinandra if the latest f/w did not resolve you issue please open / reopen an issue.

[2018-04-18 00:49] #1131 closed

[2018-04-18 00:52] RealSense-Customer-Engineering commented on #1442
[Realsense Customer Engineering Team Comment]
@ChristophSchwanke are you still having this issue?

[2018-04-18 01:54] RealSense-Customer-Engineering commented on #957
[Realsense Customer Engineering Team Comment]
@kiran1228
is the issue still there? which way do you sync with external RGB camera? can you describe more? Thank you.

[2018-04-18 01:58] #1085 closed

[2018-04-18 03:08] RealSense-Customer-Engineering commented on #1021
[Realsense Customer Engineering Team Comment]
This document will be good for you to tune up your depth quality.
https://realsense.intel.com/wp-content/uploads/sites/63/BKMs-For-Tuning-RealSense_D4xx_Cameras_WP_1.7.pdf

[2018-04-18 03:13] RealSense-Customer-Engineering commented on #1375
[Realsense Customer Engineering Team Comment]
This document will be good for you to tune up your depth quality.
https://realsense.intel.com/wp-content/uploads/sites/63/BKMs-For-Tuning-RealSense_D4xx_Cameras_WP_1.7.pdf

[2018-04-18 03:24] RealSense-Customer-Engineering commented on #1492
[Realsense Customer Engineering Team Comment]
@jfhamlin, what CPU does your NUC have? Are you streaming depth only and only running the veiwer?

Are the cameras connected directly to the NUC or through hubs?

With respect to @josephduchesne comment about DSO-7976, your issue is not on reboot correct? It is just that the cameras crash after adding the fourth camera, right? The DSO was related to ca

[2018-04-18 04:56] lonely-users opened #1564 "intel realsense d435 and labview"
Hello,

      I want to use Labview 2017 to develop Realsense d435 in Windows 10, I found a set of instanceshttps://github.com/IntelRealSense/librealsense/tree/development/wrappers/labview，but there is no way to use it after download, subVI is missing and the .dll file cannot be imported(missing corresponding header file).

     Who can give me some suggestions or tips?

     Thank you!
![1](https

[2018-04-18 05:28] dorodnic commented on #1563
Hi @a-loner
This issue is already resolved on the `development` branch and will be published as part of an official release shortly.
Please try `git checkout development` before `cmake` and `make` steps.

[2018-04-18 05:31] dorodnic commented on #1562
Hi @DvdZmd
`cs-tutorial-2-capture` should be functionally equivalent to `rs-capture`, did you try to run it?
In the Viewer I would recommend to try higher resolutions of depth and color, to rule out hardware malfunction

[2018-04-18 06:30] willemremie commented on #1450
Sure, I only wanted to mention it. Apparently some networks have dicculties retrieving the key. Maybe make a note in the documentation?

[2018-04-18 06:51] wxp0821 opened #1565 "Assets/RealSenseSDK2.0/Scripts/AlignImages.cs(2,7): error CS0246: The type or namespace name `Intel' could not be found. Are you missing an assembly reference?"
when I Open the Unity demo in librealsense-2.10.3 on windows10 connecting d435,there are some errors.Most errors are missing an assembly reference.how can I issue these problems?

[2018-04-18 07:00] TheMikeyR commented on #1532
I've tried several of the included cables, and my own, and an active extender all same results.

Works fine in intel realsense it's only in the examples, where e.g. rs-capture, it gets two first frames, freeze, then crash because no frame within 5 seconds. If I replug the cable before it crash, it restores itself and shows video feed without any problems. For some reason I need to plug it in, star

[2018-04-18 07:37] RealSense-Customer-Engineering commented on #1324
[Realsense Customer Engineering Team Comment]
Hello @timyy,
(1) there are similar issues that cause by the cable quality.  you can see if shorter cable or another cable can help fix this issue

(2) is both D435 connected to same USB3 port through Hub and streaming simultaneously with high resolution and fps, with higher resolution and fps, D435 required higher  bandwidth

(3) is there any mouse pl

[2018-04-18 07:38] RealSense-Customer-Engineering commented on #1450
[Realsense Customer Engineering Team Comment]
Okay, I will follow up to add this into the document. Thank you.

[2018-04-18 07:38] #1450 closed

[2018-04-18 07:38] TheMikeyR commented on #1493
@RealSense-Customer-Engineering @yf225 doesn't work for me,
I `cp /ubuntu/xenial/hwe/debian/scripts/retpoline-extract-one ./scripts/ubuntu-retpoline-extract-one` and the same error still occur with kernel `4.13.0-38-generic`

[2018-04-18 07:45] TheMikeyR commented on #1532
More debug info
[code]

[2018-04-18 07:58] RealSense-Customer-Engineering commented on #1561
[Realsense Customer Engineering Team Comment]
Please refer to rs-sensor-control.cpp to control the sensor.

[2018-04-18 08:12] RealSense-Customer-Engineering commented on #1555
[Realsense Customer Engineering Team Comment]
Please try 2.10.3 which resolves this issue.

[2018-04-18 08:17] RealSense-Customer-Engineering commented on #1532
[Realsense Customer Engineering Team Comment]
@TheMikeyR
please see if the similar ticket can help on your issue
https://github.com/IntelRealSense/librealsense/issues/1391
if Dxxx is enumerated as USB2 device (even the PC port is USB3), bandwidth is smaller than USB3 that will cause streaming issue
you can use lsusb- t to check the enumerated device speed
USB1/2/3   12M/480M/5G

--Quote from  #139

[2018-04-18 08:33] RealSense-Customer-Engineering commented on #1443
[Realsense Customer Engineering Team Comment]
@kevin-j-miller
This issue should be fixed and merged into development branch, can you have a try?

[2018-04-18 08:42] TheMikeyR commented on #1532
Seems to be registered in USB3 mode according to `lsusb -t` it says 5000M when I connect the camera.

I've tried to reverse the orientation of the USB-C connector without any success, still same issue. (RGB stream works fine, but depth stream hangs until I replug while the program is still running). Intel realsense viewer works just fine, activating and disabling stream on the run.

Without camera

[2018-04-18 09:09] RealSense-Customer-Engineering commented on #1512
[Realsense Customer Engineering Team Comment]
@panjekmS
Sorry that didn't describe clearly. I mean can you try to close and open the realsense-viewer application multiple times and check if there is weaker IR pattern happens. If you don't change the IR projector power, the IR pattern should be the same no matter how many times you launch the application.

Can you also help to clarify :  the senten

[2018-04-18 09:10] a-loner commented on #1563
Hi @dorodnic

Thanks for sharing this information. Yes, I can confirm it's working now.

[2018-04-18 09:36] RealSense-Customer-Engineering commented on #1230
[Realsense Customer Engineering Team Comment]
@dolhasz Didn't get your response yet. Will close this ticket. If you still get the issue, please create a new one. Thanks!

[2018-04-18 09:36] #1230 closed

[2018-04-18 09:47] panjekm commented on #1512
Reopening realsense-viewer seems to always give the same image with same strength of the pattern.

So in the code i start the pipe with both  IR streams configuration (1280x720, 6fps, Y8), then enable the projector with power set to 360, then call pipe.wait_for_frames(), save the IR images, disable the projector and stop the pipe. Afterwards, the same process (starting the pipe, ...) is repeated.

[2018-04-18 10:00] a-loner opened #1567 "Adjust order of instruction"
In [this instruction](https://github.com/IntelRealSense/librealsense/blob/master/doc/installation.md), please consider combine **step 5** with step 2, or may be just put it before step 4, because dependency like **libusb-1.0-0-dev** is required when conducting step 4. Specifically, when running
[code]

[2018-04-18 10:01] RealSense-Customer-Engineering commented on #1532
[Realsense Customer Engineering Team Comment]
Hi @TheMikeyR
Could you try the same rs-capture app on another PC with same Ubuntu config?
We have newer FW (v 5.9.2) which provide more robust streaming capability
https://downloadcenter.intel.com/download/27522/Latest-Firmware-for-Intel-RealSense-D400-Product-Family,  you can see if it can help on your case.
by the way, the issue only happen with rs-

[2018-04-18 10:27] RealSense-Customer-Engineering commented on #1554
[Realsense Customer Engineering Team Comment]
The RGB sensor also support Y16 format, this is a grayscale, as below screenshot you can see that.
You can set the image format to Y16 as follows.
// Declare RealSense pipeline, encapsulating the actual device and sensors
 rs2::pipeline pipe;
 rs2::config c;
 c.enable_stream(RS2_STREAM_COLOR, 640, 480, RS2_FORMAT_Y16, 30);
 pipe.start(c);
Of course, yo

[2018-04-18 10:43] TheMikeyR commented on #1532
The issue happens with all examples, but only c++ example, the python wrapper example works just fine. It's really odd, I've also tried the development branch without any luck.

It doesn't happened with realsense-viewer and it is only d415 plugged in that port (I've also have usb mouse and keyboard plugged in another port).

I would like to get it to work with c++ since python wrapper are missing

[2018-04-18 10:50] TheMikeyR commented on #1532
It works fine with the examples on jetson tx2, so I guess it has something to do with my laptop.
I've changed several kernels without any change in result, do you know what could potential be wrong ?

[2018-04-18 11:08] dorodnic commented on #1563
The official [v2.10.4](https://github.com/IntelRealSense/librealsense/releases/tag/v2.10.4) with the fix is also out now. Thank you for reporting the issue

[2018-04-18 11:08] #1563 closed

[2018-04-18 11:10] dorodnic commented on #1544
Glad to hear that it works

[2018-04-18 11:10] #1544 closed

[2018-04-18 11:12] dorodnic commented on #1545
I'm closing the `seek` issue. We are looking into adding the python code snippet you requested. You can open a separate issue on this for follow-up if you'd like.

[2018-04-18 11:12] #1545 closed

[2018-04-18 11:15] dorodnic commented on #1541
Hi @Gnimuc
Could you please try your original approach (`sudo apt-get install librealsense-dev`). We made some changes that should help and published new packages, but I didn't have time to test with your Travis settings.

[2018-04-18 11:17] dorodnic commented on #1491
Should be resolved in [v2.10.4](https://github.com/IntelRealSense/librealsense/releases/tag/v2.10.4)

[2018-04-18 11:17] #1491 closed

[2018-04-18 11:18] dorodnic commented on #1490
Hi @nathanlem1
Do you have follow-up questions on the subject?

[2018-04-18 11:25] dorodnic commented on #1443
Should be resolved with [v2.10.4](https://github.com/IntelRealSense/librealsense/releases/tag/v2.10.4)

[2018-04-18 11:25] #1443 closed

[2018-04-18 11:26] #1401 closed

[2018-04-18 11:27] dorodnic commented on #1392
Should be resolved in [v2.10.4](https://github.com/IntelRealSense/librealsense/releases/tag/v2.10.4), please let us know if you still see the problem

[2018-04-18 11:28] dorodnic commented on #1372
@RealSense-Customer-Engineering
Do we need to keep this open?

[2018-04-18 11:31] RealSense-Customer-Engineering commented on #1559
[Realsense Customer Engineering Team Comment]
Hi @manyaafonso,

If you build librealsense apps from the source code, the default installation path is in /usr/local, YOu should find those apps in /usr/local/bin.
if you install "librealsense2-utils" package, those apps should be in /usr/bin.
You can also define the flag "CMAKE_INSTALL_PREFIX" to assign the installation path you want.

[2018-04-18 11:35] Gnimuc commented on #1541
Unfortunately, the build still fails...
[code]

## .travis.yml
[code]

[2018-04-18 11:42] jimmy82 commented on #1545
Hi,

    Thanks. It will be good if Python documentation can be beef up.

On Wed, 18 Apr 2018 at 7:12 PM, Sergey Dorodnicov <notifications@github.com>
wrote:

[2018-04-18 11:52] Gnimuc commented on #1541
Hi @dorodnic, I just tried installing the dkms package directly and it's working! Thanks!

[code]

[2018-04-18 12:08] martijnkusters opened #1568 "extrinsic calibration d415 realsense camera help needed"
I have some issues with doing the calibration of the extrinsic parameter of the d415 camera calibration.

I'm trying two approaches:

1) Using the custom calibration document:
When reading the custom calibration document, I could not find the customcalibrationsample.zip for download. Can somebody help me where to find these filese.

2) Put a cube on a table and Save the pointcloud to disk and use

[2018-04-18 12:57] DvdZmd commented on #1562
Hi @dorodnic, thanks for the reply
I tryed the C++ example rs-capture and it work perfectly!
I will begin my develoment in C++ so.
Otherwise the Viewer with resolution 1280x720 work fine but if i switch to 1920x1080 (The D415 support that resolution for RGB) it doesn't work: "No frame recieved!"

[2018-04-18 13:00] manyaafonso commented on #1559
Thanks, @RealSense-Customer-Engineering . I found them.

[2018-04-18 13:00] #1559 closed

[2018-04-18 14:06] agrunnet commented on #1564
We will look into it ASAP

[2018-04-18 14:28] dnandha commented on #1493
@yf225 Works for me!

[2018-04-18 14:43] kirillin commented on #1493
@TheMikeyR it works for me, try exactly as @yf225 said.

[2018-04-18 14:47] moecurlyhair opened #1569 "Given stream configuration DISPARITY16 is not supportet by the device"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | { D400 } |
| Operating System & Version |   { Linux (Ubuntu 16)   |
| Kernel Version (Linux Only)    | |
| SDK Version                            |  { SDK 2.0 }

[2018-04-18 16:39] viprav07 commented on #1508
@RealSense-Customer-Engineering Having a type c to type cable didn't solve the issue either.

[2018-04-18 17:03] gjmsoftware opened #1570 "Access Camera Intrinsics in Unity Wrapper"
### Issue Description
My project requires the camera intrinsic information, which changes for each camera (D400). Accessing this information is fairly straight forward in the C# wrapper by calling the "_GetInstrinics()_" method on the "_VideoStreamProfile_" object. However, I'm not sure how to access the "_VideoStreamProfile_"within the current Unity wrapper example.

I'm hoping someone could prov

[2018-04-18 19:48] marklundin opened #1572 "Post Processing implementation for Wrappers."
We've been testing out the D435 and have notices quite a noisy feed from the depth. Based on similar issues, it's recommended to use the post processing filters to smooth the results.

Are these filters available via the Unity wrapper?

[2018-04-18 22:59] rkeatin3 opened #1573 "Trouble Installing librealsense1 on Ubuntu 14.04"
---------------------------------------------------------------

| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | SR300 |
| Firmware Version                   | 3.21.0.0 |
| Operating System & Version |   Ubuntu14.04.1 |
|

[2018-04-18 23:26] LostCanadian opened #1574 "Build error caused by -mavx2 option"
----------------------------------------------------------------------------------------------------
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D415 |
| Firmware Version                   | 5.9.2 |
| Operating System

[2018-04-19 02:59] RealSense-Customer-Engineering commented on #1512
[Realsense Customer Engineering Team Comment]
@panjekmW
Why do you need to start and stop the laser power so frequently? Can you post your code where you looping open and close project and save images?

[2018-04-19 06:04] zivsha commented on #1570
Hi Greg,
If you know how to do it in C# with a device then all you need to do in Unity is get the device in your script.
Please see how it's done in [RealSenseDeviceInspector](https://github.com/IntelRealSense/librealsense/blob/development/wrappers/unity/Assets/RealSenseSDK2.0/Scripts/RealSenseDeviceInspector.cs) and follow the same way, which is basically to get the active profile of the RealSens

[2018-04-19 08:17] dorodnic commented on #1574
Hi @LostCanadian

The "mavx2" option is supposed to be supported by GCC version 4.7 and higher.
Could you please double check the gcc version (`$ gcc --version`)?

In general, RealSense products are not officially validated on ARM architecture. We are happy to respond to user feedback and integrate patches for better support.

You can choose between rolling-back to 2.10.0 version or modifying `CMa

[2018-04-19 08:28] ashwinjaishanker commented on #1394
Hi @dorodnic,

Is there any update regarding this issue? An approximate timeline? I'm using the fix outlined [here](https://github.com/IntelRealSense/librealsense/issues/1477) for now.

[2018-04-19 09:17] RealSense-Customer-Engineering commented on #1537
[Realsense Customer Engineering Team Comment]
hi @BGA3,
can you please try if customerRW tool with "-g" to restore the calibration?
let us know if it works there, thanks.

[2018-04-19 09:37] krstns opened #1576 "How can I use the unity wrapper with the MacOS library?"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D415 |
| Firmware Version                   | 05.08.15.00 |
| Operating System & Version |   MacOS  |
| Platform                                 | PC  |
| SDK Version

[2018-04-19 09:49] superaldo commented on #1565
Same problem here, after I get the binaries and put in the correct folder on my unity project, everything looks to work but I can´t compile (build) I get this error :Assets/RealSenseSDK2.0/Scripts/RealSenseDevice.cs(8,7): error CS0246: The type or namespace name `UnityEditor' could not be found.

[2018-04-19 12:17] RealSense-Customer-Engineering commented on #1529
[Realsense Customer Engineering Team Comment]
Please refer to table 7-10 for Vision Processor Temp Limits (Based on Still Air) and its max is up to 110 degrees.
For the 55 degree ambient, that means the camera can operate at the ambient temperature 55 degrees.

[2018-04-19 12:30] kyranf commented on #1529
Thank you, that answers all my questions.

[2018-04-19 12:30] #1529 closed

[2018-04-19 13:00] TheMikeyR commented on #1493
@kirillin Arh, my bad I read it wrong, after adding
[code]
to https://github.com/IntelRealSense/librealsense/blob/master/scripts/patch-realsense-ubuntu-xenial.sh#L85 as described by @yf225 it also worked for me.

[2018-04-19 13:44] kirsitn opened #1577 "RealSense viewer - Save settings fails"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       |  D415                                                      |
| Firmware Version                   |  05.08.15.00                                            |
| Operating Sys

[2018-04-19 14:19] Tkong1 opened #1578 "C#-Wrapper Build Errors - HandleRef missing"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D435 |
| Firmware Version                   | 05.08.15.00 |
| Operating System & Version |   Win 10  |
| Kernel Version (Linux Only)    |  -

[2018-04-19 14:57] RealSense-Customer-Engineering commented on #1553
[Realsense Customer Engineering Team Comment]
Hi @rafaor29,

Please check if the uvc kernel module there. You can also run "modinfo uvcvideo | grep ver" to show the kernel module info.
/lib/modules/4.13.0-38-generic/kernel/drivers/media/usb/uvc/uvcvideo.ko

[2018-04-19 15:44] GitwellAnyohub commented on #793
can anyone @kazoo-kmt @zivsha tell me what full path to the exact python executable means?

[2018-04-19 15:48] GitwellAnyohub commented on #793
nvm i figured it out. Sorry!
just do:
import sys
print sys.executable

[2018-04-19 16:39] andreabnd opened #1579 "Playback from bag files - direct access to frames by index"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D400 |
| Firmware Version                   | 05.08.15.00 |
| Operating System & Version |   Win 10  |
| Platform                                 | PC  |
| SDK Version

[2018-04-19 17:06] dorodnic commented on #1579
Hi @andreabnd
Thank you for your feedback. We will integrate it into our backlog, either in form of `seek` overload, or some other API.
At the moment, pausing the playback is the best solution we offer. Alternatively, you can look into the underlying [rosbag API](http://wiki.ros.org/rosbag/Cookbook). We have a sample doing something similar under `tools/rosbag_inspector`.

[2018-04-19 17:08] dorodnic commented on #1578
Hi @Tkong1
I'm not 100% sure what happened during the build, but I suspect it has something to do with the wrapper targeting .NET framework 3.5 by default (to enable Unity integration). Can you double check you have it installed or modify the project to target other version?

[2018-04-19 17:11] dorodnic commented on #1577
Hi @kirsitn
We will try to reproduce this issue and look into it. Could you please provide more information? Perhaps the camera is identified as USB2? Did you try the newer SDK versions? Did you see this problem outside the Jetson (perhaps on the desktop PC)?

[2018-04-19 17:30] fwindolf opened #1580 "Discovery of not supported devices via query_devices()"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D400  |
| Operating System & Version |   Ubuntu 16.04  |
| Kernel Version (Linux Only)    |  4.13.0-38                                        |
| Platform

[2018-04-19 17:43] kirsitn commented on #1577
The camera is not identified as usb2 (that happens as well from time to time, but then I'm not able to load the settings at all)

I have not tested other SDK versions.

I will see if I can find a pc where I can test it tomorrow.

---- Sergey Dorodnicov wrote ----

Hi @kirsitn<https://github.com/kirsitn>
We will try to reproduce this issue and look into it. Could you please provide more information

[2018-04-19 18:09] viprav07 commented on #1508
@dorodnic  @RealSense-Customer-Engineering  Can you help me here?

[2018-04-19 18:25] LostCanadian commented on #1574
Hi dorodnic,

As mentioned, the gcc version is 5.4.1 (according to gcc --version). I suspect that this flag is not supported in gcc for ARM platforms.

Removing this line from CMakeLists.txt does the trick:
`set_source_files_properties(src/image_avx.cpp PROPERTIES COMPILE_FLAGS -mavx2)`

If there is some way to omit that line conditionally based on the architecture, that should be all that is need

[2018-04-19 19:24] rkeatin3 commented on #1573
I followed those steps exactly, but when I try to load the `uvcvideo` kernel module I get the following error:
`modprobe: ERROR: could not insert 'uvcvideo': Exec format error`

Was installing llibrealsense2-dkms intended to solve that problem?

Also note that you linked to a tagged release of the `realsense_camera` ROS package but then instructed me to install the package via `apt-get`. Either wa

[2018-04-19 19:31] dorodnic commented on #1580
Hi @fwindolf
You can use librealsense to stream data from regular web-cams.
We might add a flag to `query_devices` to control this behavior. In the meantime you can disable unwanted behavior by commenting out [context.cpp:336-337](https://github.com/IntelRealSense/librealsense/blob/master/src/context.cpp#L336-L337)

[2018-04-19 19:42] dorodnic commented on #1574
Glad it worked!
We will try to add automatic detection in the upcoming sprint.

[2018-04-19 20:44] ahpuck commented on #1275
rs-align is working now though with any reasonable movement it crashes with this error. I just tested with v2.10.4.

RealSense error calling ():
    Frame of requested stream type was not found!

[2018-04-20 02:01] mfassler commented on #1574
Just wanted to say "me too".  I'm building on ARM (the Jetson TX2).  ARM doesn't support SSE or AVX.  Removing this line in CMakeLists.txt worked for me.

[2018-04-20 06:17] apnkm13 opened #1582 "uvcvideo module is not updated."
----------------------------------------------------------------------------------------------------

| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D415 |
| Firmware Version                   | 5.08.15.00 |
| Operating

[2018-04-20 08:11] vladsterz commented on #1548
Any help?

[2018-04-20 09:02] Tkong1 commented on #1578
@dorodnic thank you for your prompt reply.
I set the Target Framework to **.NET Framework 3.5** (with reopening visual studio) and build the project again, with the same errors.

I hope i can provide you more Information to the issue, see screenshot.

<img width="1920" alt="error" src="https://user-images.githubusercontent.com/38532195/39041979-17739b12-448a-11e8-9190-8ca110cf4e88.png">

[2018-04-20 09:31] SimonLit opened #1585 "Interlacing, artifacts and double objects issues. Distorted color frame and depth values."
|---------------------------------|------------------------------------------- |
| Camera Model                       | D415 |
| Firmware Version                   | 05.08.15.00 |
| Operating System & Version |  Windows 10 |
| Platform                                 | Qt5.10  |
| SDK Version                           | 2.10.1 |

For the last two days I have been having an issue with the colour fr

[2018-04-20 11:09] vladsterz commented on #1585
`cfg.enable_stream(RS2_STREAM_INFRARED, 0, 640, 480, RS2_FORMAT_RGB8, 30);` Are you sure this is correct?

[2018-04-20 11:18] kirsitn commented on #1577
I have now tested on a PC with Linux and with Windows, and in both cases the result is the same for version 2.9.1 and the most recent version (2.10.x): I can load settings, but not save them again (the settings file I try to save to is created, but not written to).

Version 2.9.0, however, allows me to both load and save settings (only tested on Windows). The menu for saving looks different in tha

[2018-04-20 11:19] SimonLit commented on #1585
Not 100% but I shall play around with it to see if it has a effect. Any clue to what the correct RS2_FORMAT would be for infrared?

[2018-04-20 11:26] vladsterz commented on #1585
I am pretty sure that this is wrong. I am not sure what is should be tho.  Either RS2_FORMAT_Y8 or RS2_FORMAT_Y16. Firstly try RS2_FORMAT_Y8

[2018-04-20 13:27] edwinRNDR opened #1586 "C Examples freeze on MacOS"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D435 |
| Firmware Version                   | 05.08.15.00 |
| Operating System & Version |   MacOS 10.11 and 10.13  |
| SDK Version                            | 2.2.10.4 / 9

[2018-04-20 13:39] wingillis opened #1587 "Issue serializing json in adv mode: Value not found in map! value=8"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D415  |
| Firmware Version                   | 05.09.02.00 |
| Operating System & Version |  MacOS 10.13.4 |
| SDK Version                            |  2.10.3    |

### Iss

[2018-04-20 14:21] panjekm opened #1588 "Golden factory calibration (intrinsics/extrinsics) problem on D435"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D435 |
| Firmware Version                   | 05.09.02.00 |
| Operating System & Version | Ubuntu 16.04  |
| Kernel Version (Linux Only)    |

[2018-04-20 15:41] lonely-users opened #1589 "Intel Realsense camera and labview"
Hello,
      I want to use Labview to develop Realsense d435 in Windows 10, I found a set of instances at https://github.com/IntelRealSense/librealsense/tree/development/wrappers/labview，but there is no way to use it after download, subVI is missing and the .dll file cannot be imported(missing corresponding header file).
     Who can give me some suggestions or tips?
     Thank you!
![1](https://u

[2018-04-20 16:22] GitwellAnyohub opened #1590 "LOADING IN JSON WITH PYTHON"
| Camera Model                       | {D400 } |
| Operating System & Version  |   {Linux (Ubuntu 14/16/17) |
| Kernel Version (Linux Only)   |  (e.g. 4.14.13)                                         |

I tried executing the following python example

DS5_product_ids = ["0AD1", "0AD2", "0AD3", "0AD4", "0AD5", "0AF6", "0AFE", "0AFF", "0B00", "0B01", "0B03", "0B07"]

[code]

And I get the following e

[2018-04-20 16:45] UnaNancyOwen opened #1591 "Holes Filling doesn't works correctly with RealSense SDK v2.10.4"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| SDK Version                            |  2.10.4                                                    |

### Issue Description
This is a bug report.
Holes filling of <code>rs2::spatial_filter</code> doesn't works

[2018-04-20 18:13] agrunnet commented on #1589
Something appears to be blocking and cleansing your downloads of important files. I just retried and it is all there.
We can try to look at password protecting it and posting a new version here. Maybe that will allow you to download.

[2018-04-20 18:16] agrunnet commented on #1564
This is a duplicate thread of this. Will answer other thread.
https://github.com/IntelRealSense/librealsense/issues/1589

[2018-04-20 18:18] agrunnet commented on #1336
Yes. Will make one for you...

[2018-04-20 18:44] agrunnet commented on #1589
I think we can solve this by assuming the DLL's got removed, so you need to generate new DLL's.

In this document
https://github.com/IntelRealSense/librealsense/tree/development/wrappers/labview
it says
"The realsense2.dll that is included in this package is 64bit for Windows 10. Other versions (ex: 32bit) could be compiled by following the instructions on GitHub. Just rename them realsense2.dll a

[2018-04-20 18:55] GitwellAnyohub commented on #1590
Never mind, this is fixed simply by switching to python3

[2018-04-20 18:55] #1590 closed

[2018-04-20 20:55] gjmsoftware commented on #1570
Thanks for the guidance @zivsha - it helped and I was able to solve my issue fairly quickly.

[2018-04-20 20:55] #1570 closed

[2018-04-20 22:10] jfhamlin commented on #1492
@RealSense-Customer-Engineering

 CPU: i7-6770HQ

yes, i'm only streaming depth, and while i've mostly been running my own software, i can reproduce in the viewer

correct that it is not on reboot. but it's not a crash after adding the fourth camera, but after running multiple cameras for a time. i haven't found precise repro steps; it just happens after running the cameras for a bit, sometimes qu

[2018-04-21 00:02] josephduchesne commented on #1213
I have found that on my 7th gen nuc this problem never occurs on the USB C interface. I automated a test and performed several thousand reboot cycles across a variety of configurations.

The USB C port always worked (bus 4 on ubuntu 16.04) with a single camera and the USB a ports did not (bus 2).

I tried a variety of hubs to try to get more than one camera to work reliably on boot. A few worked r

[2018-04-21 02:25] lonely-users commented on #1589
@agrunnet However, I have problems importing .dll files into LabVIEW. There is no way to import them into labview correctly, so there may not be a way to check this. Can you tell me the detailed steps? I am new to this field

[2018-04-21 02:34] lonely-users commented on #1589
@agrunnet My function pointer is normal. It may be because I didn't know which header file to use so I didn't import it correctly. How should this be solved?

[2018-04-21 05:09] agrunnet commented on #1589
No header is needed. The dll can basically be anywhere. All the important subvi’s have the call function node at their core. This is how you wrap a dll with Labview. You just need to double click on it and point open the path and find the dll file.

Tell me more about your system and I can make sure we make this easier for you. Windows 10? 64bit? Labview 2017?

[2018-04-21 08:02] lonely-users commented on #1589
Yes, I am using Windows10 64 bit and Labview 2017

[2018-04-21 08:08] lonely-users commented on #1589
@agrunnet How to solve the loss of that SUBVI?  there are missing a lot of VI in the Labview library, the problem described in my issue picture inside.

[2018-04-21 16:46] agrunnet commented on #1589
I will post version that is zipped with password soon.

[2018-04-21 18:10] cxbrooks opened #1592 "Mac Node test-devicelist.js hangs"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D415 |
| Firmware Version                   | 05.08.15.00 |
| Operating System & Version |   MacOS  High Sierra 10.13.4 (17E199)|
| Kernel Version (Linux Only)    |

[2018-04-21 19:26] agrunnet commented on #1589
Okay, try this one.
[RealSense SDK2.10.4 for LabVIEW.zip](https://github.com/IntelRealSense/librealsense/files/1934912/RealSense.SDK2.10.4.for.LabVIEW.zip)
Use password "intel123"

[2018-04-21 19:50] #1487 closed

[2018-04-21 22:10] agrunnet commented on #1589
Here is newer version with an added example for pointcloud with post-processing
[RealSense SDK2.10.4 for LabVIEW.zip](https://github.com/IntelRealSense/librealsense/files/1935033/RealSense.SDK2.10.4.for.LabVIEW.zip)
password:intel123

[2018-04-21 22:13] agrunnet commented on #1336
Here is a whole new package. Please let me know if it works for you.
I added examples specifically for D435 which uses monochrome stereo imagers.
It is also based on the last LibRS 2.4.10. The pointcloud examples work with the D435.
Password is intel123
[RealSense SDK2.10.4 for LabVIEW.zip](https://github.com/IntelRealSense/librealsense/files/1935035/RealSense.SDK2.10.4.for.LabVIEW.zip)

[2018-04-22 01:57] lonely-users commented on #1589
@agrunnet Thank you very much, I try it.

[2018-04-22 06:39] dmitryshendryk commented on #1287
@GuidoBartoli Hello, i have the same error in Eclipse. I've binded all libraries. But still has it problem. Did you update your Makefile?

[2018-04-22 10:36] lonely-users commented on #1589
@agrunnet  Sorry, I forgot that my labview is 32-bit. How does this need to be solved?

[2018-04-22 11:40] dorodnic commented on #1587
Hi @wingillis
We will look into it.

[2018-04-22 11:43] dorodnic commented on #1585
Hi @SimonLit
Possible one of the opencv examples can be useful as reference:
[rs-latency-tool.cpp](https://github.com/IntelRealSense/librealsense/blob/master/wrappers/opencv/latency-tool/rs-latency-tool.cpp)

[2018-04-22 12:49] #1515 closed

[2018-04-22 15:26] linzihao1999 opened #1593 "Unrecognized command line option -mavx2 with SDK 2.10.4"
----------------------------------------------------------------------------------------------------

| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | { D400 } |
| Firmware Version                   | (unknow) |
| Operatin

[2018-04-22 15:57] agrunnet commented on #1589
Since Labview is just a wrapper on the librealsense DLL, you basically just compile librealsense as 32bit and then copy and replace the DLL in the Labview examples.
So since this may take some time unless you are all set up to do it, I did it for you here.
[realsense2_32bit.zip](https://github.com/IntelRealSense/librealsense/files/1935806/realsense2_32bit.zip)
password is intel123

[2018-04-22 16:48] agrunnet commented on #1336
Here is a Labview15 version for those who dont have Labview 2017.
PointCloud demo only.  There is also a separate zipped realsense2.dll for 32bit systems in case you have that. Just replace the DLL.
[PointCloudDemo_for_LabVIEW15.zip](https://github.com/IntelRealSense/librealsense/files/1935837/PointCloudDemo_for_LabVIEW15.zip)

Password: intel123
[realsense2_32bit.zip](https://github.com/IntelReal

[2018-04-22 23:03] wingillis commented on #1587
Thanks! I should note that I also see this error when I run a similar program written in c++, so I don't think the issue is constrained to the python wrapper, but maybe the serializer, or wherever the parameters are saved on the realsense itself.

[2018-04-23 03:07] xiaosongfu opened #1594 "have no java wrapper"
i want to use java program language, there is no java wrapper ？

[2018-04-23 06:38] dorodnic commented on #1594
Hi @xiaosongfu
At the moment there isn't one (at least not an official one). We might add it in later releases, based on community feedback and demand.

[2018-04-23 06:39] dorodnic commented on #1593
This is a know-issue with latest release on ARM boards. Will be resolved shortly. For now please use v2.10.0 or remove the `-mavx2` flag from `CMakeLists.txt`.

[2018-04-23 06:46] dorodnic commented on #1105
@elektrikmoonkey and @jaroslavstehlik
Just to make sure, you see this problem with either Unity or C#, not C++? For C++ I believe this should no longer be an issue, since we disabled OpenMP by default and invested in better optimised colour-conversion in recent releases.

[2018-04-23 06:55] xiaosongfu commented on #1594
Thank you for your reply ^_^

[2018-04-23 07:42] #1593 closed

[2018-04-23 10:31] Gnimuc commented on #1594
It looks like @edwinRNDR is working on this: https://github.com/edwinRNDR/librealsense

[2018-04-23 11:30] ev-mp commented on #1591
Hello @UnaNancyOwen , thanks for reporting this.
We indeed unintentionally broke this functionality in the latest v2.10.4 release.

We're working to rectify this and will update this thread accordingly.
As a stop-gap measure you can disable the depth->disparity converter to get the holes-filling option working.

[2018-04-23 13:47] dorodnic commented on #1426
Hi @bloyl
You can now control this behaviour via the `config` class. When repeat is disabled, you still need to handle the "last" frame via a time-out, since we don't automatically stop the device.
It would be somewhat invariant breaking to stop without being asked from the API. We will need to expose some other flag to address this more cleanly (like perhaps some sort of EOF flag).
Please share a

[2018-04-23 14:15] andreabnd commented on #1579
Hi @dorodnic
Thanks for your reply! It would be really helpful to have that possibility.

Thanks

[2018-04-23 14:34] josephduchesne commented on #1213
On an entirely different motherboard (6th gen intel i7 CPU 6700TE, Asrock IMB-195), I am seeing a very regular pattern of this sort with 2x D435s plugged in via the single USB3.0 bus.  Latest firmware (5.9.9.2).

After a reboot cycle:
- the cameras fail to show up (lsusb shows none)
- I reboot, both cameras show up
- I launch the ROS nodelet manager for each camera with the device reset patch and

[2018-04-23 14:36] bochen87 commented on #1280
The post processing makes it a bit better, but unfortunately, it's still very far away from the performance of a Kinect.

[2018-04-23 14:45] lonely-users commented on #1589
@agrunnet Where do you have realsense2ex.dll? RealSense_HelloWorld_PointCloud Plus2.vi cannot be opened for the 32-bit version of realsense2ex.dll missing.
thank you!

[2018-04-23 14:45] dorodnic commented on #1585
Hi @SimonLit
Did you managed to make it work?

[2018-04-23 14:47] agrunnet commented on #1589
I don’t have that for 32bit yet.

[2018-04-23 15:16] SimonLit commented on #1585
Hi @dorodnic ,
For the moment I haven't solved the problem. I am pretty sure the transfer of the data between threads is going wrong. So I am going to close this issue for now. If I find a proper solution later I will post it here for the community.

Thanks for the effort.

[2018-04-23 15:17] #1585 closed

[2018-04-23 16:34] rafaor29 opened #1597 "Not able to start recording"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | { D415 } |
| Operating System & Version |  Linux (Ubuntu 16 |
| Kernel Version (Linux Only)    |  4.13.0-38-generic                                        |
| Platform

[2018-04-23 17:01] Wampuscat commented on #1553
Have you tried updating the firmware on the camera?  This fixed a similar issue for me.  Good Luck.

[2018-04-23 17:13] UnaNancyOwen commented on #1591
@ev-mp Thank you for working on fix.
By the way, I have a question about filtering.
What is the meaning of converting to disparity map before filtering?
(It seems to be doing in some samples. But, I don't understand that meaning.)

[2018-04-23 17:31] blairlc commented on #1471
No. Separating the scripts as I described makes the error go away. However, after reading more documentation I realized that there is supposed to be an editor dropdown for the RealSenseDevice. It is still not there. This is a workaround if you don't need the editor, but it doesn't fix the problem.

[2018-04-23 17:44] dorodnic commented on #1597
This might be a permission issue. Just as a quick check, you could retry with `sudo` and see if it works.

[2018-04-23 19:54] ev-mp commented on #1582
Hello @apnkm13 ,
According to the log the DKMS was not installed with the UP kernel 4.10

What is the log when installing `librealsense2-dkms` package with that kernel ?

[2018-04-23 23:03] daversintel commented on #1591
DS cameras use stereo algorithms to get the disparity map, and the depth map is from the disparity map. It's always better to run the post processing algorithms on disparity map.

[2018-04-23 23:19] agrunnet commented on #1591
The main reason is that the depth error scales quadratically with distance. So you could in stead have a spatial filter that is distance dependent -  that filters less aggressively farther away, but it is better to do it all in the disparity domain.

[2018-04-24 00:20] jpapon commented on #1105
Disabling OpenMP is not an option if depth --> rgb alignment is used (as in the align example).
There's no way to keep 30 fps without using multiple cores... I need about 250% CPU if I use alignment.

[2018-04-24 01:56] apnkm13 commented on #1582
Hello, ev-mp,

I captured librealsense2-dkms install log. (includes a Japanese character)

[log]
apn@apn-UP-CHT02:~$ sudo apt-get install librealsense2-dkms
パッケージリストを読み込んでいます... 完了
依存関係ツリーを作成しています
状態情報を読み取っています... 完了
以下の追加パッケージがインストールされます:
  dkms
以下のパッケージが新たにインストールされます:
  dkms librealsense2-dkms
アップグレード: 0 個、新規インストール: 2 個、削除: 0 個、保留: 5 個。
3,976 kB 中 0 B のアーカイブを取得する必要があります。
この操作後に追加で 30.9 MB のディスク容

[2018-04-24 02:37] SosonHuang opened #1598 "Does the SDK have a function of realsence to the distance of an object?"
* Before opening a new issue, we wanted to provide you with some useful suggestions (Click "Preview" above for a better view):

    * Consider checking out SDK [examples](https://github.com/IntelRealSense/librealsense/tree/master/examples#sample-code-for-intel-realsense-cameras).
    * Have you looked in our [documentations](https://github.com/IntelRealSense/librealsense/tree/master/doc#useful-lin

[2018-04-24 06:36] #1598 closed

[2018-04-24 06:36] SosonHuang commented on #1598
..

[2018-04-24 06:41] ev-mp commented on #1582
Hello @apnkm13 ,
The log indicate that the DKMS fails due to a missing package on the UP board

Module build for the currently running kernel was skipped since the
kernel source for this kernel does not seem to be installed.

DKMS relies on the kernel source package to be locally installed.
So when installing `Linux 4.10.0-42-generic #5000~upboard10-Ubuntu SMP` prior to DKMS please try to obtain a

[2018-04-24 06:44] RedApach commented on #1336
Hello, Thanks a lot for your support.
Last question  : it is possible to use your wrapper on a linux RT target?

[2018-04-24 07:08] blackccpie commented on #1579
Hi @dorodnic & @andreabnd,

I was looking for the same feature in the API, in order to have frame-by-frame replay without drop, but I first thought this could be handled using the `set_real_time` method of the `rs2::playback` device interface. I made some quick tests with it but I saw no real difference in the replay behavior, did I miss something about this feature?

Thx for your help

[2018-04-24 08:02] lightningsoon commented on #1523
I came across the same problem.
And now my computer seems not to find D415.
I doubt it was broken.

[2018-04-24 10:03] JasonChang13 commented on #1012
hi @gaborpapp, @Parisa-Rashidi,

I've verified with 2.10.4 release with realsense viewer and play with all presets, all working fine, please let us know if this version fix your issue, thanks.

Regards,
Jason
Intel RSG Customer Platform Engineering

[2018-04-24 10:54] apnkm13 commented on #1582
Hello, ev-mp,
Thank you for your help.

I installed linux source. (4.10.0-42.5000~upboard10)

$ sudo apt-get install linux-source-4.10.0
$ cd /usr/src
$ tar xvjf linux-source-4.10.0.tar.bz2

I installed DKMS again, but the same log was output.

  Building only for 4.10.0-42-generic
  Module build for the currently running kernel was skipped since the
  kernel source for this kernel does not seem t

[2018-04-24 11:13] #1504 closed

[2018-04-24 12:18] kevindehecker commented on #1534
I've moved to Ubuntu, and since a work around patch is provided above I'll close this issue.

[2018-04-24 12:18] #1534 closed

[2018-04-24 12:55] omerbrandis opened #1599 ""feature" request - can you please upgrade to easylogger++ v9.96.4"
Dear librealsense support,

i've been having difficulty integrating software that uses the latest version of easylogger (9.96.4) with librealsense.
i think it has something to do with the fact the librealsense is using a one year old version of easylogger,
but more important that the "age" is the importance of the bug fixes made to it since then.

( for more info about the actual error i'm dealing

[2018-04-24 13:14] dorodnic commented on #1599
Hi @omerbrandis
That makes sense. We will try to add this in one of the upcoming releases. You can disable librealsense ELPP via CMake flag if you are not using it and it is causing you problems for now.

[2018-04-24 13:51] kirsitn commented on #1299
This is very much of interest to me as well. I would like to capture every second frame with the emitter on and off, and at the moment it seems to take up to 6 frames before the emitter option is registered by the sensor. (Possibly even longer time, because I first set the emitter option and then capture a number of frames to see how long it takes for the emitter to turn on/off. I haven't tried se

[2018-04-24 14:25] ev-mp commented on #1582
Perhaps installing the kernel sources package "manually" does not produces the necessary "hooks" to make Ubuntu aware of it.
Please check the following [link](https://askubuntu.com/questions/714874/how-to-point-dkms-to-kernel-headers) and discussion that tries to address the exact symptom.

[2018-04-24 14:29] agrunnet commented on #1336
I have not tried it. In priciple yes but you will need to compile the .so library and wrap it in Linux I believe.

[2018-04-24 14:59] zuru opened #1600 "[D415] Sync issue after updating to SDK 2.10.X"
----------------------------------------------------------------------------------------------------

| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D415  |
| Firmware Version                   | 05.08.05.15 & 05.09.02.0

[2018-04-24 20:00] conorjmcq opened #1601 "Obtaining RGB values fora colorised PCL point cloud."
|---------------------------------|------------------------------------------- |
| Camera Model                       | {SR300} |
| Operating System & Version |   Win (10)  |
| Platform                                 | PC|
| SDK Version                            |  { 2.10.3 }                          |

### Issue Description
Hi there,

I'm using the SR300 for a college assignment and am stuck on

[2018-04-24 20:36] lramati commented on #1579
The `set_real_time` function is currently broken, but I am working on a potential fix.
As @dorodnic said above, for now using `rs2::playback::pause` and `rs2::playback::resume` in your callback is the best we can offer

[2018-04-25 03:24] JasonChang13 commented on #1435
hi @arybalkin.

I just tested with Librealsense V2.10.4 with latest FWv5.9.9, and I can have stream for both RGB and depth, but resolution and framerate are limited due to bandwidth.
please let me know if this also works for you, thanks.

Regards,
Jason
Intel Customer Platform Engineering

[2018-04-25 03:29] JasonChang13 commented on #1508
hi @viprav07,

the cable looks good to me, and this seems calibration table corrupted or version not match from the error message of calibration tool, unfortunately we can't fix it outside of intel.
can you please check with your intel contact window to ship the unit to us so we can fix it and send It back?
thanks.

Regards,
Jason
Intel RSG Customer Platform Engineering

[2018-04-25 03:36] JasonChang13 commented on #1275
hi @ahpuck,

I've tested the rs-align of libRealsense v2.10.4, it's working good, can you please tell what reasonable movement means? moving the camera around?
please let us know how to reproduce your issue, thanks.

Regards,
Jason
Intel RSG Customer Platform Engineering

[2018-04-25 05:44] JasonChang13 commented on #1568
hi @martijnkusters,

for the sample you are looking for, can you please confirm if examples in DynamicCalibrationAPI-2.4.0.0-Setup.exe are what you are looking for?
download page:
https://downloadcenter.intel.com/download/27415/?v=t

Regards,
Jason
Intel RSG Customer Platform Engineering

[2018-04-25 06:07] dorodnic commented on #1600
Hi Nick,
Thanks for the detailed feedback. @aangerma, please take a look ASAP.

[2018-04-25 06:10] dorodnic commented on #1601
Hi @conorjmcq
We don't have such an example out of the box, but the process should be very similar to [colorized PLY export](https://github.com/IntelRealSense/librealsense/blob/master/src/archive.cpp#L41)
More specifically please refer to [archive.cpp:57](https://github.com/IntelRealSense/librealsense/blob/master/src/archive.cpp#L57)

[2018-04-25 07:06] blackccpie commented on #1579
@lramati : thx for your answer, I'll stick with pause/resume for now, and wait for the `set_real_time` fix or the index based `seek`.

[2018-04-25 07:09] eccoscreen commented on #1576
Has anyone figured out how to do this? I tried the above comment but I'm not sure if I did it right.

[2018-04-25 07:13] krstns commented on #1576
@eccoscreen I can build the library on macos using the guide from github, but I can't get the wrapper to build. I am no fan of mono and maybe that's why. I will give it a go in the coming days, but if you will figure it out before, please let me know how i can get that done.

[2018-04-25 07:33] martijnkusters commented on #1568
Hi Jason,

I think you are right. But the checkerboard pdf is not included.
In the meantime I captured the depth in high resolution and there the calibration looks much better.

![test](https://user-images.githubusercontent.com/23382659/39231822-a87f5f76-486b-11e8-9c5a-3d69a6eda12d.jpg)

[2018-04-25 08:16] k-lam opened #1604 "dnn opencv problem:Assertion failed (blobs.size() != 0) in getMemoryShapes, file opencv_path/modules/dnn/src/layers/convolution_layer.cpp, line 193 opencv_path/modules/dnn/src/layers/convolution_layer.cpp:193: error: (-215) blobs.size() != 0 in function getMemoryShapes"
Assertion failed (blobs.size() != 0) in getMemoryShapes, file opencv_path/modules/dnn/src/layers/convolution_layer.cpp, line 193 opencv_path/modules/dnn/src/layers/convolution_layer.cpp:193: error: (-215) blobs.size() != 0 in function getMemoryShapes
I use D435

[2018-04-25 09:27] fwindolf commented on #1580
Thanks @dorodnic for the quick reply.
I commented out the said lines and it works like a charm!

[2018-04-25 09:29] omerbrandis commented on #1599
hello MR.Dorodnic,

can you please provide more information about disabling usage of easylogger?
( i've seen parm BUILD_EASYLOGGINGPP for the build of librealsense itself,
but i'd rather avoid building librealsense from source, so far i've used the package installation ).

thanks,
Omer.

[2018-04-25 10:39] aangerma commented on #1600
Hi @zuru
I investigated the issue and it can occur whenever the `stream_profile` object passed to `open` was created from a different instance of the same device.

To illustrate, the following snippet will reproduce the same problem:
[code]
Despite `d1` and `d2` both being created from same physical device, they are treated by the `syncer` as distinct entities. As a result the `syncer` fails to ha

[2018-04-25 11:42] dorodnic commented on #1599
Yes, I was referring to `BUILD_EASYLOGGINGPP` Cmake flag

[2018-04-25 13:18] conorjmcq commented on #1601
Hi @dorodnic ,

Thank you for the quick reply. I haven't managed to come to a solution yet unfortunately. You're link definitely helped me to understand the method, but I'm still miles off.

https://github.com/IntelRealSense/librealsense/issues/1143

This link talks about the same issue but I don't think there's much mention of how they achieved it.

If there is anything else you could help me wit

[2018-04-25 16:46] RobO-Intel opened #1606 "test"
* Before opening a new issue, we wanted to provide you with some useful suggestions (Click "Preview" above for a better view):

    * Consider checking out SDK [examples](https://github.com/IntelRealSense/librealsense/tree/master/examples#sample-code-for-intel-realsense-cameras).
    * Have you looked in our [documentations](https://github.com/IntelRealSense/librealsense/tree/master/doc#useful-lin

[2018-04-25 16:48] #1606 closed

[2018-04-25 16:49] RobO-Intel opened #1607 "Test"
* Before opening a new issue, we wanted to provide you with some useful suggestions (Click "Preview" above for a better view):

    * Consider checking out SDK [examples](https://github.com/IntelRealSense/librealsense/tree/master/examples#sample-code-for-intel-realsense-cameras).
    * Have you looked in our [documentations](https://github.com/IntelRealSense/librealsense/tree/master/doc#useful-lin

[2018-04-25 16:52] panjekm commented on #1526
Hi @JasonChang13

No, its not the same issue. The one youre refering to was also opened by me, but it only had to do with bayer artifacts. There was no shifting or scaling involved when debayering.

[2018-04-25 17:16] sallvadorrr opened #1608 "rs-capture compiling error"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D435  |
| Operating System & Version |  Linux Ubuntu 16.04|
| Kernel Version (Linux Only)    |  4.13.0-36-generic              |
| Platform                                 |

[2018-04-25 17:24] RobO-Intel commented on #1607
ad

[2018-04-25 17:28] RobO-Intel commented on #1607
test

[2018-04-25 17:29] RobO-Intel commented on #1607
test

[2018-04-25 17:36] RobO-Intel commented on #1607
test

[2018-04-25 19:11] drhalftone opened #1609 "realsense-viewer crashes with D415 when I try to launch color and depth stream..."
Computer: Mac Pro (Late 2013) running Mac OS X 10.13.4
Camera: D415
Version: librealsense 2.10.4

Daniels-Mac-Pro:build dllau$ realsense-viewer
 25/04 15:09:09,563 WARNING [0x700003ffe000] (types.cpp:57) set_xu(ctrl=1) failed! Last Error: Operation timed out
 25/04 15:09:10,378 WARNING [0x700003ffe000] (rs.cpp:328) null pointer passed for argument "device"
Daniels-Mac-Pro:build dllau$ realsense-vi

[2018-04-25 19:13] drhalftone commented on #1586
I have the exact same issue running RS 2.10.4

[2018-04-25 19:25] tedtman commented on #1283
@jallard-sr I assume that you are no longer having this issue and I will close this ticket. If you still have this or any other problem please feel free to open another issue.

Thanks.
Ted.
Intel RealSense Support.

[2018-04-25 19:49] ChristophSchwanke commented on #1442
Hello Ted,
Sorry, that I didn't find the time. Thank you for the support.

Kind regards
Christoph
Am 25.04.18, 21:23, Ted Tsuchiya <notifications@github.com> schrieb:
Hello @ChristophSchwanke, as you haven't replied and it appeared in your last comment that you had a working system, I will close this issue. If you need more support or have additional issues, please feel free to open a new issue(s)

[2018-04-25 19:50] zuru commented on #1600
Hi @aangerma,

The workaround seems to work. I also see that the bug has been fixed, and will logically be available in the next release.

Thank you,
Nick

[2018-04-25 19:50] #1600 closed

[2018-04-25 20:10] josephduchesne commented on #1492
@RealSense-Customer-Engineering my issue occurs on reboot or cold boot, so it's more likely caused by whatever is behind #1213

[2018-04-25 20:19] Loriskar opened #1610 "D435 SDK2.0 with Intel stick computer"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | { D410/D435 } |
| Firmware Version                   | (uptodate) |
| Operating System & Version |   {Win (10) / Linux (Ubuntu 14/16/17) / MacOS  |
| Kernel Version (Linux O

[2018-04-25 20:29] RobO-Intel commented on #1607
[Realsense Customer Engineering Team Comment]

3

[2018-04-25 22:09] #1508 closed

[2018-04-25 23:43] agrunnet commented on #1610
Yes. That should work provided it has usb3.

[2018-04-26 02:07] #1609 closed

[2018-04-26 02:10] apnkm13 commented on #1582
Hello, ev-mp,

I installed linux-headers and made symlink.

I installed DKMS again, I confirmed update of uvcvideo.

Thank you for your help!

[2018-04-26 02:10] #1582 closed

[2018-04-26 08:13] dorodnic commented on #1394
Hi @ashwinjaishanker
I apologise but this feature is not yet ready for production. I tried the w/a you mentioned and some other approaches but I think that using particle system for point-cloud was an architectural mistake. We discuss rolling-back and trying again with a mesh updated through a shader.

[2018-04-26 13:56] AbhijithNB opened #1612 "rs-measure example not working"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D415  |
| Firmware Version                   | 05.08.15.00 |
| Operating System & Version |  Win 10  |
| Kernel Version (Linux Only)    |   |
| Platform

[2018-04-26 14:18] deusxmachina42 opened #1613 "using realsense2.dll"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | SR300 |
| Firmware Version                   | 3.21.0.0 |
| Operating System & Version |  Win 10  |
| Platform                                 | PC  |
| SDK Version

[2018-04-26 15:26] tedtman commented on #1492
@josephduchesne can you open a new issue as this one is slightly different than @jfhamlin  (not a reboot case). That being said, we are starting to look into a case with another customer that sounds the same as yours.

Regards,
Ted
Intel Customer Platform Engineering

[2018-04-26 15:26] RealSense-Customer-Engineering commented on #1569
[Realsense Customer Engineering Team Comment]

@moecurlyhair
The Disparity16 format is not used in D400 FW anymore, which is used for old camera FW. Currently we use processing block to exchange depth and disparity data in C++, you can refer to the code of "disparity_transform" inside the disparity-tranform.cpp, which indicate how do we exchange the data in between. Then you will need to implement

[2018-04-26 15:30] RealSense-Customer-Engineering commented on #1569
[Realsense Customer Engineering Team Comment]

@moecurlyhair
The Disparity16 format is not used in D400 FW anymore, which is used for old camera FW. Currently we use processing block to exchange depth and disparity data in C++, you can refer to the code of "disparity_transform" inside the disparity-tranform.cpp, which indicate how do we exchange the data in between. Then you will need to implement

[2018-04-26 15:40] RealSense-Customer-Engineering commented on #1569
[Realsense Customer Engineering Team Comment]

@moecurlyhair
The Disparity16 format is not used in D400 FW anymore, which is used for old camera FW. Currently we use processing block to exchange depth and disparity data in C++, you can refer to the code of "disparity_transform" inside the disparity-tranform.cpp, which indicate how do we exchange the data in between. Then you will need to implement

[2018-04-26 16:28] RobO-Intel commented on #1607
test

[2018-04-26 16:39] RealSense-Customer-Engineering commented on #1607
[Realsense Customer Engineering Team Comment]

reply

[2018-04-26 16:40] RobO-Intel commented on #1607
conversation

[2018-04-26 17:13] josephduchesne opened #1615 "D435 intermittantly fails to appear on lsusb after boot and reboot"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D435 |
| Firmware Version                   | 5.9.9.2 |
| Operating System & Version |  Linux (Ubuntu 16.04)  |
| Kernel Version (Linux Only)    |  4.8

[2018-04-26 17:50] josephduchesne commented on #1492
@tedtman I created #1615 to cover the issue(s) I've noticed

[2018-04-26 20:47] drhalftone commented on #1586
I can now confirm the issue using the latest firmware 5.9.9.2.

[2018-04-27 00:17] migel opened #1616 "Reigon of interest for D435 RGB sensor not implemented"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D435 |
| Firmware Version                   | 05.09.09.02 |
| Operating System & Version |   Ubuntu 16  |
|  Version ( Only)    |  4.4.0-119

[2018-04-27 06:03] tedtman commented on #1615
@josephduchesne thanks for all the details. I have seen issue 1 occur consistently with a 5i7 NUC and not at all on a fairly new 7i7 NUC. After updating the BIOS I have not seen issue 1 occur since. Can you confirm that you have the latest BIOS?
Regards,
Ted Tsuchiya,
Intel RealSense Support

[2018-04-27 08:26] dlemke6 commented on #1514
Hi @dorodnic
Sorry for not answering.
i'll try downgrading next week.
Is it possible to determine how long it will take?

Keep up the good work

[2018-04-27 09:38] RealSense-Customer-Engineering commented on #1556
[Realsense Customer Engineering Team Comment]

@Panepo
The align is only performed in between depth and other image. you can refer to the API document description.

inline

Create align processing block Alignment is performed between a depth image and another image. To perform alignment of a depth image to the other, set the align_to parameter with the other stream type. To perform alignment of a

[2018-04-27 10:04] RealSense-Customer-Engineering commented on #1455
[Realsense Customer Engineering Team Comment]

@baptiste-mnh
Do you think this is still issue of LibRS? since you are now able save the PCD file from RealSense camera. For PCD file converts to E57, I read some topics few mentioned that E57 has richer feature saved than PCD, don't know if that cause the problem of converting, so maybe you should ask the question in PCL community.

[2018-04-27 10:18] baptiste-mnh commented on #1455
Hi,
Yes, I still have the issues.
I will try to find the solution with PCL but it will be great if we could export directly in E57 format which is standard for laser scans.

[2018-04-27 11:03] adarshmuthappa commented on #1612
After I updated the D415 firmware to 5.9.9.2, all examples work. Try that. Release notes state that firmware>5.9.9+ is required for 2.10.4 SDK version and >5.9.2+ for 2.10.3 SDK version.

https://github.com/IntelRealSense/librealsense/releases

[2018-04-27 13:17] VishalShelke opened #1619 "Is there any measure of confidence for depth values we get form D415?"
Required Info |  
-- | --
Camera Model | D415
Firmware Version | 3.21.0
Operating System & Version | Ubuntu 16.04
Kernel Version (Linux Only) | 4.4.0.63
Build System | Makefile

Is there any measure of confidence for depth values we get form D415?

[2018-04-27 13:54] Tkong1 commented on #1578
@dorodnic fixed the most problems with updating to Visual Studio 15.6.7

[2018-04-27 13:54] #1578 closed

[2018-04-27 14:02] agrunnet commented on #1619
No.

[2018-04-27 14:08] Tkong1 opened #1620 "c#-wrapper - Frame did not arrive in time!"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D435 |
| Firmware Version                   | 05.08.15.00 |
| Operating System & Version |  Win10  |
| Kernel Version (Linux Only)    |  -

[2018-04-27 14:34] josephduchesne commented on #1615
@tedtman I made note of the current BIOS and also downloaded the newest BIOS. I can confirm that this still occurs. I plugged 2x D435 using firmware 5.9.9.2 into the rear USB A ports. On the second boot, lsusb showed:

[code]

0/2 devices show up on Bus 002. On the next boot cycle, both appeared.

I received the following errors that seem related in syslog:

[code]

Firmware in previous tests: BNK

[2018-04-27 16:24] tingshao commented on #1592
Did you tried the examples? please follow  the steps:
1. enter wrappers/nodejs/examples
2. `npm install`
3. `node nodejs-capture.js` or some other examples

[2018-04-27 16:27] RealSense-Customer-Engineering commented on #1607
[Realsense Customer Engineering Team Comment]

reply

[2018-04-27 16:36] RealSense-Customer-Engineering commented on #1607
[Realsense Customer Engineering Team Comment]

Reply

[2018-04-27 17:37] RobO-Intel commented on #1607
Label

[2018-04-27 17:48] jfhamlin commented on #1021
@RealSense-Customer-Engineering thanks! I'm happy to have this issue closed for the time being, unless there are plans to expose better near range presets or more tuning suggestions for close-range use cases.

[2018-04-27 17:48] RobO-Intel commented on #1607
label Test

[2018-04-27 17:52] jfhamlin commented on #1021
Though looking back at @dorodnic's results, I still see _considerably_ more depth noise at that range.

[2018-04-28 00:38] linzihao1999 opened #1621 "Run time error with Cmake flag -DFORCE_LIBUVC=true"
----------------------------------------------------------------------------------------------------

| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       |  D400  |
| Firmware Version                   | unknow |
| Operating Sy

[2018-04-28 02:44] tingshao commented on #1592
We tested the examples under 'wrappers/nodejs/examples' directory on mac 10.12.6 not from source but using the npm package `node-librealsense` which was a previous released version. I will try the latest source when I get a mac device.

[2018-04-28 05:19] Destinyzc opened #1622 "undefined"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | { D400 } |
| Firmware Version                   | (Open RealSense Viewer --> Click info) |
| Operating System & Version |   {Ubuntu 16  |
| Kernel Version (Linux Only)    |

[2018-04-28 08:24] tingshao commented on #1592
I performed a build from source verification on my Mac:
MacOS high sierra 10.13.4
node 9.11.1
Camera: D435

The example nodejs-capture.js also worked.
I also found some hung issue when I run mocha test. Those tests work normally on Ubuntu 16.04.
It seems there maybe something wrong with the objects life cycle and the timeout made it worth.

[2018-04-28 15:11] baptiste-mnh commented on #1112
Hi,
It doesn't work with the key 6F3EFCDE

`W: The repository 'http://realsense-hwpublic.s3.amazonaws.com/Debian/apt-repo xenial Release' does not have a Release file.
`

What's the fix please?

[2018-04-29 01:42] drhalftone commented on #1012
This has gotten so much worse.  Now I can't get past rs2_pipeline_start_with_config(), it just completely freezes.  I've had to drop back to 2.10.2 just to get basic functionality working.  Is there any way I can pay one of your programmers to help me?

[2018-04-29 02:49] RobO-Intel commented on #1607
.

[2018-04-29 10:51] dorodnic commented on #1613
Hi @deusxmachina42
Due to how .NET interoperability works you need both Intel.RealSense.dll and realsense2.dll at run-time.
However, only the Intel.RealSense.dll is a .NET assembly you can (and should) add reference to.
realsense2.dll is native (C++) library that must be found at runtime (at current directory usually). You can't directly reference it in your C# project.
Please note that you also m

[2018-04-29 10:53] dorodnic commented on #1612
These might be an issue with this example in 2.10.4 (due to reported bug in hole-filling), but it should be resolved in the next update.

[2018-04-29 11:51] dorodnic commented on #1616
Hi @migel
Region of interest for RGB auto-exposure is in fact not available for the D435 cameras.
I don't think that this functionality is available at the ISP firmware level.

[2018-04-29 12:33] dorodnic commented on #1514
Hi @dlemke6
Thank you.
We are constrained by limited resources, but it is clear that we have to address this issue very soon as the Kernel becomes more "mainstream".
To the best of my understanding, the new kernel exposes UVC devices with per-frame metadata as two video devices - one for frames and one for metadata. librealsense currently doesn't properly handle the "metadata" video device, hence

[2018-04-29 14:04] UnaNancyOwen commented on #1591
I tried PR #1603. It works correctly.
Thank you for fixing! 👍

[2018-04-29 14:04] #1591 closed

[2018-04-29 14:47] kuonangzhe opened #1624 "auto_exposure problem"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D435  |
| Operating System & Version |   Linux (Ubuntu 16.04)  |
| Platform                                 | PC |
| SDK Version                            |  2.0

[2018-04-30 01:11] Panepo commented on #1556
Hi @RealSense-Customer-Engineering,

We are trying to build our face recognition algorithm by D415, If the color and infrared frames are aligned would be helpful.

If set the set the align_to parameter to `RS2_STREAM_DEPTH` causes the RGB and infrared images zoomed out and broken if there is no depth data. Or maybe there is an option to make RGB and infrared frame keep the same resolution and qual

[2018-04-30 06:33] dorodnic commented on #1621
Hi @linzihao1999
Could you please provide more information about the crash and your system? Perhaps call-stack from gdb can be obtained?

[2018-04-30 09:42] Gnimuc commented on #1586
same here. My current workaround is add `sleep(1);` before `rs2_pipeline_start_with_config`.

[2018-04-30 10:16] Gnimuc opened #1626 "How to correctly use C API for processing block?"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D400  |
| Firmware Version                   | 05.08.15.00 |
| Operating System & Version |    MacOS  |
| Kernel Version (Linux Only)    |  NA

[2018-04-30 10:51] JasonChang13 commented on #1012
hi @drhalftone,

May I know your system configuration, error log and reproduce steps so we can help?
and maybe you can create a new ticket so we can focus on your case.

Regards,
Jason
Intel RSG Customer Platform Engineering

[2018-04-30 10:56] JasonChang13 commented on #1597
hi @rafaor29,

is running with sudo works for you?
thanks.

Regards,
Jason
Intel RSG Customer Platform Engineering

[2018-04-30 12:41] Gnimuc commented on #1626
@dorodnic thanks for your quick reply!!! I changed `rs2_start_processing` to `rs2_start_processing_queue` and everything works like a charm.

[2018-04-30 14:04] drhalftone commented on #1012
See issue #1586, the function rs2_pipeline_start_with_config always hangs, even in the Intel Realsense supplied samples.  Here is my system:

  Model Name:	MacBook Pro
  Model Identifier:	MacBookPro11,2
  Processor Name:	Intel Core i7
  Processor Speed:	2.5 GHz
  Number of Processors:	1
  Total Number of Cores:	4
  L2 Cache (per Core):	256 KB
  L3 Cache:	6 MB
  Memory:	16 GB
  Boot ROM Version:	MB

[2018-04-30 14:54] josephduchesne commented on #1615
Leaving this running all weekend, it got less regular:

[code]

[2018-04-30 15:09] drhalftone opened #1628 "toggle IR emitter on the D415..."
So I have a interesting problem.  I can run the D415 using a work around on issue #1586, and now I want to toggle the IR emitter so that I can capture a decent IR image without the moire pattern.  How do I do this?  I tried the following approach while the camera is running:

        // CREATE A VARIABLE TO KEEP TRACK OF ERRORS
        rs2_error *err = 0;

        // GET SENSOR LIST
        rs2_se

[2018-04-30 15:11] drhalftone commented on #1586
Adding that sleep worked for me.

[2018-04-30 15:12] #1628 closed

[2018-04-30 17:52] tedtman commented on #1615
Sorry @josephduchesne but can you confirm my understanding of your test?
  1) start camera and stream depth
  2) warm reboot?
  3) repeat
  4) every five minutes remove power from the NUC and restart after 15 seconds
Thanks,
Ted.

[2018-04-30 18:27] josephduchesne commented on #1615
In this particular case it's the following loop:

* warm reboot
  * if lsusb shows both cameras
     * log "lsusb shows 2 D435, starting"
     * start camera and stream depth for 5 minutes
  * if lsusb shows 0 or 1 cameras
    * log "lsusb shows N D435, no address error: X, rebooting"

[2018-04-30 18:49] tedtman commented on #1615
Are the cameras streaming on reboot? Is "power off cycle" a physical power off or shutdown?

[2018-04-30 19:13] josephduchesne commented on #1615
They cameras may be streaming when the reboot is initiated.

Reboot is 'sudo reboot' in this case.

The cameras are running under a systemd service, but I'm not sure how the ros nodelet manager handles the signal to stop when the shutdown happens.

It is possible it's not being shut down 'properly', but since our use case involves a machine with a physical key that could turn power off without war

[2018-04-30 19:53] tedtman commented on #1615
Thanks, your case is understood and I just want to help provide the specifics for debugging.

If lsusb is successful, does your test know if the cameras are actually streaming? (The DSO you noted fixed 5.8.15 that succeeded with lsusb but failed to be seen by the driver on cold boot; validation for this was also performed on slightly different h/w, type-B USB boards)

[2018-04-30 20:09] josephduchesne commented on #1615
If lsusb is successful, I have a wrapper around the roslaunch which watches the ROS output topic, and resets the entire pipeline (roslaunch file and all nodes) if there has been no output for 10 seconds. This also logs failures. By calling reset on the cameras on initialisation (using [this modification](https://github.com/icarpis/realsense/commit/292e7f8204aa1ab03633a0b161e47ccdbdb69bc4) to the R

[2018-04-30 20:11] josephduchesne commented on #1615
The clarify, the launch monitor process exists to work around DSO-8665 in conjunction with the ROS node modification that resets the camera on node start.

[2018-04-30 20:38] RealSense-Customer-Engineering commented on #1607
test

[2018-04-30 20:42] RealSense-Customer-Engineering commented on #1607
test

[2018-04-30 21:05] RealSense-Customer-Engineering commented on #1620
[Realsense Customer Engineering Team Comment]
hi @Tkong1,

could you please tell if RealSense Viewer also have this issue on your PC or only the C#-wrapper sample?
thanks.

[2018-04-30 21:41] arunabhcode opened #1630 "Patch timeout error"
| Camera Model                       | D415 |
| Operating System & Version |  Ubuntu 16 LTS  |
| Kernel Version (Linux Only)    |  4.13.0-39-generic |
| Platform                                 | PC  |
| SDK Version                            | git master branch, 2.10.4? |

Command : ./scripts/patch-realsense-ubuntu-xenial.sh

Reading package lists... Done
Building dependency tree
Reading state in

[2018-04-30 21:51] RealSense-Customer-Engineering commented on #1607
[Realsense Customer Engineering Team Comment]
p

[2018-04-30 22:09] akatrevorjay commented on #1630
Do you see what the issue is? ;) It's merely trying to clone the official ubuntu kernel git, and for some reason you're getting a timeout doing so (It's online right now, so this is likely on your side).
I would just try it again, it's probable it will download this time.

[2018-04-30 22:15] akatrevorjay commented on #1574
Lol, I ran into this last week too, just hadn't gotten to put it in a PR yet. Quick Q from other TX2 owners -- Have you been able to sustain enough USB 3 bandwidth to use a D4xx without it crashing hard until a reboot is performed?

[2018-04-30 23:41] kingsj0405 commented on #1091
For more information, you can check connected as USB2 or USB3 by popup message on RealSense Viewer when connected.

[2018-05-01 00:14] juanBerger opened #1631 "Opcodes do not match - Stereo No Longer Working"
--------------------------------------------------------------------------------------------------
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       |{D415}|
| Firmware Version                   |{05.09.09.02}|
| Operating Sy

[2018-05-01 01:31] cxbrooks opened #1632 "macOS: rs-capture segfaults"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D415 |
| Firmware Version                   | 05.08.15.00 |
| Operating System & Version |    MacOS 10.13.4 |
| Kernel Version (Linux Only)    |

[2018-05-01 02:39] RealSense-Customer-Engineering commented on #1615
[Realsense Customer Engineering Team Comment]
@josephduchesne, can you change the BIOS setting for devices/USB to uncheck USB legacy and set xHCI mode to "Enabled" and see if this makes a difference?

[2018-05-01 03:34] josephduchesne commented on #1615
The earlier tests were with USB legacy enabled, but after updating the firmware I tested first with it enabled, then with it disabled (latest tests). I didn't see a difference.

I'll check if xHCI  is configured tomorrow and test whichever mode is opposite the current setting.

[2018-05-01 03:56] arunabhcode commented on #1630
There was a firewall issue.

[2018-05-01 03:56] #1630 closed

[2018-05-01 06:09] cxbrooks commented on #1632
Whoo Hoo!  Upgrading the firmware from 05.08.15.00 to 05.09.09.02 fixed this.

It would be nice if programs could check for the appropriate level of firmware before segfaulting, but I'm happy enough to have it working, so I'm closing this.

[2018-05-01 06:09] #1632 closed

[2018-05-01 06:10] cxbrooks commented on #1592
Whoo Hoo!  Upgrading the firmware from 05.08.15.00 to 05.09.09.02 fixed this.

I'm closing this.

[2018-05-01 06:10] #1592 closed

[2018-05-01 12:36] mfassler commented on #1574
I have been able to sustain a raw data capture at about 220 MiB/s for a
couple of minutes with no problems.  This was an Intel RealSense D435 ->
usb3 -> tx2 on an Auvidea J120 board -> M.2 (pci) SSD

On Tue, May 1, 2018, 7:15 AM Trevor Joynson <notifications@github.com>
wrote:

[2018-05-01 13:54] josephduchesne commented on #1615
I can't find xHCI configuration options on the NUC7i3BNH

[2018-05-01 15:31] anshulvj opened #1634 "Errors compiling with OpenCV examples"
I followed the instructions given on https://github.com/IntelRealSense/librealsense/tree/master/wrappers/opencv for compiling librealsense with OpenCV examples (downloaded latest OpenCV 4.0.0 version) on Windows 10, VS2017 (visual studio 15 2017 64 bit compiler on Cmake).
The steps I followed as stated in above link are:
1) Configure/re-configure (after unchecking shared_libs and use_eigen) OpenCV

[2018-05-01 16:36] anshulvj commented on #1634
SOLVED:
I had to manually address each and every error. I tried to build each and every opnecv example project separately and addressed the errors individually. The following 3 fixes worked:

1) Adding the `#include <path-to-opencv-build>/include/opencv2` folder to additional include directories in VS got rid of some of the `undeclared identifier` errors.

2) Adding `#include <path-to-opencv\modul

[2018-05-01 16:36] #1634 closed

[2018-05-01 17:11] #1540 closed

[2018-05-01 19:43] tedtman commented on #1615
Sorry, I forgot that you have a 7th gen NUC; xHCI has no optional settings. I have been working with a 4th gen i3 that has an auto / enabled mode option for xHCI.

When lsusb fails, what do you see on dmesg before reboot?

[2018-05-01 20:08] josephduchesne commented on #1615
For completeness I've attached the entire dmesg file, but the relevant section appears to be:

[code]

The Bus enumeration on the NUC7i3 is:
- 1: Front+Back USB 2.0 host controller
- 2: Front+Back USB 3.0 host controller
- 3: USB C port 2.0 host controller
- 4: USB C port 3.0 host controller

It appears that bluetooth is provided on this machine via the USB 2.0 host controller on Bus 1 as an inter

[2018-05-01 21:40] chrelli opened #1635 "Hardware frame timestamp reset / overflow on D435"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D435 |
| Firmware Version                   | 05.08.15.00 |
| Operating System & Version |  Ubuntu 16.04 LTE   |
| Kernel Version (Linux Only)    |  4.13.0-39-generic

[2018-05-01 22:58] tedtman commented on #774
@svensht2 ,@vladsterz as @arybalkin noted, an answer to this issue is provided in the communities pages, [https://communities.intel.com/thread/120208](https://communities.intel.com/thread/120208). If you still have questions please reply. This issue will be closed in five days but you can always open a new issue after that.

[2018-05-01 23:07] RealSense-Customer-Engineering commented on #1492
[Realsense Customer Engineering Team Comment]
@jfhamlin have you had any success yet? If not, do you have any new details you can provide that we can work with?

[2018-05-02 02:06] #1426 closed

[2018-05-02 02:10] #1365 closed

[2018-05-02 02:12] RealSense-Customer-Engineering commented on #1449
[Realsense Customer Engineering Team Comment]
@electro-logic
The manual editing for parameter is implemented in the latest version 2.10.4, please have a test.

[2018-05-02 02:13] #1489 closed

[2018-05-02 02:28] RealSense-Customer-Engineering commented on #1362
[Realsense Customer Engineering Team Comment]
hi @Fragennari,

do you still need support on this topic?
thanks.

[2018-05-02 02:33] #774 closed

[2018-05-02 02:36] RealSense-Customer-Engineering commented on #1481
[Realsense Customer Engineering Team Comment]
hi @fspindle,

do you need more help on this topic?
thanks.

[2018-05-02 02:37] RealSense-Customer-Engineering commented on #1483
[Realsense Customer Engineering Team Comment]
hi @kingmugum,

Do you need more help on this topic?

[2018-05-02 02:39] RealSense-Customer-Engineering commented on #1485
[Realsense Customer Engineering Team Comment]
closing this ticket here, please feel free to create another new ticket if you still have question.

[2018-05-02 02:39] #1485 closed

[2018-05-02 02:43] RealSense-Customer-Engineering commented on #916
[Realsense Customer Engineering Team Comment]
hi @holstenholsten,

is the latest release works for you? do you need more support on this topic?
thanks.

[2018-05-02 03:16] RealSense-Customer-Engineering commented on #1588
[Realsense Customer Engineering Team Comment]
@panjekm has the device ever had a f/w upgrade? Has it undergone an OEM calibration procedure?

[2018-05-02 05:31] fspindle commented on #1481
Thanks, I was able to make the device working with an other cable then the one delivered with the camera.

Some suggestions:
- Modify the patch installation process description in order to install the patches only if requested. From what is explained [here](https://github.com/IntelRealSense/librealsense/blob/master/doc/installation.md), it sounds that the V4L2 backend patches are requested all the

[2018-05-02 07:39] Fragennari commented on #1362
No, Thanks!

[2018-05-02 07:39] #1362 closed

[2018-05-02 08:14] moecurlyhair commented on #1569
@RealSense-Customer-Engineering @dorodnic
Thanks a lot for your answer!
I will try to implement the function disparity_transform inside the ROS-Wrapper, but I am not sure that I can solve this easily.

I would appreciate if this issue could be implemented internally by Intel, because I need the disparity to continue my project.

Thank you and best regards!

[2018-05-02 13:29] martijnkusters opened #1639 "object tracking in 3d / pose estimation"
Dear all,

I'm interested in an example of pose estimation of objects for D415 camera.
Has somebody worked already in this direction?

Best Regards,
Martijn Kusters

[2018-05-02 15:56] josephduchesne commented on #1615
An additional piece of debugging information:

I tried a Rosewill RC-509 PCI-E (PCI Express) to USB 3.1 (Type A +Type C) Expansion Card in the AsRock IMB-195 i7-6700TE platform listed above in the table I provided.

It does not experience issue 1. The devices always initialise correctly.

[2018-05-02 16:30] electro-logic commented on #1449
Hello,

I have tested it and manual editing of parameters works well.

Thank you

[2018-05-02 18:52] AdamMiltonBarker opened #1640 "Issues with up2 & r200 & f200"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | { R200 / F200 } |
| Firmware Version                   | ? |
| Operating System & Version |   Linux Ubuntu  16.04  |
| Kernel Version (Linux Only)    |  4.10.0-9-upboard

[2018-05-02 19:28] AdamMiltonBarker commented on #1640
Sorry I just read this :D

For other Intel® RealSense™ devices (F200, R200, LR200 and ZR300), please refer to the latest legacy release.

[2018-05-02 20:23] anshulvj opened #1641 "[SOLVED] No device connected/ There are 0 connected RealSense devices."
OS: Ubuntu 16.04
Realsense D415 camera

I followed instructions given on https://github.com/IntelRealSense/librealsense/blob/master/doc/distribution_linux.md (installing librealsense packages) as well as on https://github.com/IntelRealSense/librealsense/blob/master/doc/installation.md (building from source). I tried running examples from both installations and it says `No devices connected` and `T

[2018-05-02 20:34] anshulvj commented on #1255
Were you able to get this running? It worked on Windows but not Ubuntu.

[2018-05-02 21:04] anshulvj commented on #1641
UPDATE [SOLVED]: The problem it seems was the UEFI boot. During installing the pre-built libraries on Linux it askes for password to disable UEFI secure boot. Once the libraries are installed reboot the system and it will show a bluescreen. Press any key to enter the respective characters of the password you entered earlier. E.g. if password is 'avengers' it will ask you to randomly enter first. t

[2018-05-02 21:04] #1641 closed

[2018-05-02 21:06] dvlamp commented on #1391
Hey @ioreed
What kind of cable (brand, specs, length, etc) were you using for this?
I have gotten my D415 recognized as a USB 3.0 device on my UP board using the cable configuration in the image below.
However I am trying to get a single custom cable made that can do the job.
Any updates on your issue since Mar 29?

![image 1](https://user-images.githubusercontent.com/38925732/39549215-0b736662-4e

[2018-05-02 21:19] AdamMiltonBarker commented on #1640
Hi guys still unable to get this working:

[code]

Tried my previous installation which was working on NUC last time I tried and that fails also. Any suggestions for f200 and r200 ?

[code]

https://github.com/iotJumpway/IoT-JumpWay-Intel-Examples/blob/master/Intel-Nuc/DE3815TYKE/_DOCS/3-Installing-Librealsense.md

[2018-05-02 22:12] AdamMiltonBarker commented on #1640
I was still having issues with this, here are steps I took to get installation working:

[code]
[code]

Still issues though:

[code]

[code]

[2018-05-03 01:34] Jiyun-Cui opened #1642 "color to infrared pixels projection have offset"
* Before opening a new issue, we wanted to provide you with some useful suggestions (Click "Preview" above for a better view):

    * Consider checking out SDK [examples](https://github.com/IntelRealSense/librealsense/tree/master/examples#sample-code-for-intel-realsense-cameras).
    * Have you looked in our [documentations](https://github.com/IntelRealSense/librealsense/tree/master/doc#useful-lin

[2018-05-03 01:38] liugt34 commented on #1255
it worked well now, maybe the driver haven't setup well

[2018-05-03 03:55] RealsenseWilliam commented on #913
FYI ,  just  installed the Ubuntu 16.04.3 LTS, the kernel with it is 4.10.0-28 -generic
used the DKMS script post on GitHub (Mar 1st version which still the latest today),

use dkms status command to confirm the dkms installation

librealsense2-dkms, 1.2.0, 4.10.0-28-generic, X86_64 :installed

mofinfo show the uvcvideo is updated

version :     1.1.2.realsense-1.2.0

run the realsense-viewer, D41

[2018-05-03 05:37] dmitryshendryk opened #1643 "set_frame_callback() is not defined in librealsense2 D415"
Camera Model                         D415
 Firmware Version                    05.08.15.00
 Operating System & Version  Ubuntu 16
 Kernel Version (Linux Only)    4.13.0 - 36-generic                                         |
 Platform                                   PC
 SDK Version                            2.10.4

I'm using camera D415 and librealsense2 API. In old API there was a function for

[2018-05-03 06:57] dorodnic commented on #1643
Hi @dmitryshendryk
The old function was bypassing `wait_for_frames` synchronization and producing one frame at a time.
The equivalent would be the `start` method of `sensor` class.
Please see [sensor-control](https://github.com/IntelRealSense/librealsense/blob/master/examples/sensor-control/api_how_to.h#L442) for example.
Let us know if it helps.

[2018-05-03 07:43] dmitryshendryk commented on #1643
Hi @dorodnic
Yes, it helped.  Another problem, the callback doesn't called for some reason, i think doing something wrong. Can you help?

_int main(int argc, char * argv[]) try
{
    rs2::context ctx;
    rs2::device dev = ctx.query_devices().front();
    rs2::sensor sensor1 = dev.query_sensors()[0];
    rs2::stream_profile stream_profile = sensor1.get_stream_profiles().front();
    sensor1.open(s

[2018-05-03 07:51] PipgZYP opened #1646 "I use the API provided by realsense SDK2.0, how can I use the program to drive two realsense D415?"
* Before opening a new issue, we wanted to provide you with some useful suggestions (Click "Preview" above for a better view):

    * Consider checking out SDK [examples](https://github.com/IntelRealSense/librealsense/tree/master/examples#sample-code-for-intel-realsense-cameras).
    * Have you looked in our [documentations](https://github.com/IntelRealSense/librealsense/tree/master/doc#useful-lin

[2018-05-03 08:07] Tkong1 commented on #1620
hi @RealSense-Customer-Engineering ,
in RealSense Viewer after some seconds also an exception appears:

Oops, something went wrong!
RealSense error calling:
Unknown in rs2_close(sensor:000002568359BD60): profile not found

But the Error appears not always.

[2018-05-03 08:20] Jiyun-Cui opened #1647 "Can I get Infrared image without facula using D435"
* Before opening a new issue, we wanted to provide you with some useful suggestions (Click "Preview" above for a better view):

    * Consider checking out SDK [examples](https://github.com/IntelRealSense/librealsense/tree/master/examples#sample-code-for-intel-realsense-cameras).
    * Have you looked in our [documentations](https://github.com/IntelRealSense/librealsense/tree/master/doc#useful-lin

[2018-05-03 10:39] dorodnic commented on #1646
Hi @PipgZYP
Please take a look at [multicam](https://github.com/IntelRealSense/librealsense/tree/master/examples/multicam) example.
Hopefully it will offer what you need.

[2018-05-03 10:39] dorodnic commented on #1647
Hi @Jiyun-Cui
Could you please clarify what you mean? Are you referring to the laser pattern?

[2018-05-03 10:41] dorodnic commented on #1643
Everything looks correct. Are you calling some blocking API after the snippet? As is the application will just finish before first frame would arrive.

[2018-05-03 10:42] dorodnic commented on #1642
Hi @Jiyun-Cui
We will have to look into it and come back with an answer

[2018-05-03 12:44] baptiste-mnh commented on #704
Try to crop the PLY to only keep this part :
![screenshot from 2018-05-03 14 43 07](https://user-images.githubusercontent.com/30402725/39577031-7af5c0d8-4ee0-11e8-9be6-03882387e1d6.png)
I'm pretty sure you're there.

[2018-05-03 14:02] martijnkusters opened #1651 "D415/D435 question about metadata temperature"
D415/D435 question about metadata temperature

When will the metadata for temperature of the camera supported in SDK?
RS2_FRAME_METADATA_TEMPERATURE

Best Regards,
Martijn Kusters

[2018-05-03 14:19] dorodnic commented on #1651
Hi @martijnkusters
For the D415 and the D435 temperature is not provided from firmware on frame-by-frame basis. You can still use the relevant options to query it from the sensor.
I believe `RS2_FRAME_METADATA_TEMPERATURE` was added for a prototype D400-variant that has not been yet approved for mass-market.

[2018-05-03 14:26] Gnimuc commented on #1586
`sleep` won't work in the record-playback example where multiple pipelines are needed to be created and deleted.

[2018-05-03 15:26] RealSense-Customer-Engineering commented on #812
[Realsense Customer Engineering Team Comment]
1

[2018-05-03 15:37] adarvit opened #1653 "get vertices from pointcloud in python"
----------------------------------------------------------------------------------------------------

| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | SR300
| Firmware Version                   | 3.21.0.0 |
| Operating Sys

[2018-05-03 15:47] drhalftone commented on #1586
Funniest thing, I just ran a version of my code that puts the RealSense inside a QTCPServer object so that I can stream video over a network. And a 1.0 second sleep didn't do it.  I had to extend it to 2.0 seconds.  I don't know if this is meaningful but it is a symptom.  Maybe it can help out Intel in figuring out what's wrong.

[2018-05-03 18:00] willemremie commented on #1622
Seems I've got similar issues, header seems to be found though.

![image](https://user-images.githubusercontent.com/34475288/39594300-94e477ec-4f0c-11e8-9294-21af6170551b.png)

[2018-05-03 18:11] chadrockey commented on #913
Yes I can confirm this works now.  At some point the dkms package was reconfigured and works differently now.

[2018-05-03 18:59] #1607 closed

[2018-05-03 19:00] RobO-Intel opened #1654 "Relay New Issue"
* Before opening a new issue, we wanted to provide you with some useful suggestions (Click "Preview" above for a better view):

    * Consider checking out SDK [examples](https://github.com/IntelRealSense/librealsense/tree/master/examples#sample-code-for-intel-realsense-cameras).
    * Have you looked in our [documentations](https://github.com/IntelRealSense/librealsense/tree/master/doc#useful-lin

[2018-05-03 19:04] RobO-Intel commented on #1654
test

[2018-05-03 19:05] RealSense-Customer-Engineering commented on #1654
[Realsense Customer Engineering Team Comment]
Do you still need help on this?

[2018-05-03 19:06] RealSense-Customer-Engineering commented on #1654
No

[2018-05-03 19:07] #1654 closed

[2018-05-03 19:33] chrelli opened #1655 "Are ppx, ppy defined from edge of pixels or from center of pixels?"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D435 |
| Firmware Version                   | 05.08.15.00 |
| Operating System & Version |  Ubuntu 16.04 LTE   |
| Kernel Version (Linux Only)    |  4.13.0-39-generic

[2018-05-03 21:38] anshulvj opened #1656 "Cannot run cv2 imshow with python example"
I'm running `python3.6` on Pycharm along with OpenCV 3.4.0 on Ubuntu 16.04 LTS
`cv2.__version__`
`'3.4.0'`

The example I'm running on this setup is the one given on https://github.com/IntelRealSense/librealsense/blob/master/wrappers/python/examples/opencv_viewer_example.py

The code failes on the following lines:
`depth_colormap = cv2.applyColorMap(cv2.convertScaleAbs(depth_image, alpha=0.03), cv

[2018-05-04 03:48] Jiyun-Cui commented on #1647
Sorry for my poor English. We I used F200, the acquired infrared images have no spots, but the infrared images captured by D435 have regular lattice. I understand that F200 uses TOF, and D435 uses structured light, I doubt that how I can get an infrared image without lattices using D435.
My snippet for geting infrared frame using D435 bellow:
[code]

[2018-05-04 07:29] RealSense-Customer-Engineering commented on #1620
[Realsense Customer Engineering Team Comment]
hi @Tkong1,
since Realsense Viewer have issue, I think we should fix this before we move to C# wrapper issue..
would like to confirm before realsense viewer report error, do you see the D435 depth stream?
please also confirm your cable is USB3 certified.
thanks.

[2018-05-04 08:14] mohdazly opened #1657 "RealSense D435 SDK run under Python Anaconda environment"
----------------------------------------------------------------------------------------------------

| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D435 |
| Firmware Version                   | 05.08.15.00 |
| Operating

[2018-05-04 08:36] tarekmuallim opened #1658 "A problem when applying Filter and Align together"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D400                                                   |
| Operating System & Version |   Win (10)                                               |
| Platform

[2018-05-04 08:39] lramati commented on #1657
Can you try compiling pyrealsense2 with anaconda as the target?
In the cmake, point pybind11 at anaconda's python executable instead of the one provided on python.org

[2018-05-04 09:33] TheMikeyR commented on #1657
This is how I've compiled
```cmake ../ -DBUILD_EXAMPLES=bool:true -DBUILD_PYTHON_BINDINGS=bool:true -DBUILD_CV_EXAMPLES=bool:true -DPYTHON_EXECUTABLE=/home/mikeyr/anaconda3/envs/ENVIRONMENT_NAME_HERE/bin/python3.6```
If that doesn't work you can compile like normal and make a symlink to the library.
Example:
```ln -s /home/mikeyr/librealsense/build/wrappers/python/pyrealsense2.cpython-36m-x86_64-l

[2018-05-05 16:08] dorodnic commented on #1647
Hi @Jiyun-Cui
The simplest available way to accomplish this with the D400 series is to disable the emitter ([controlling the emitter](https://github.com/IntelRealSense/librealsense/wiki/API-How-To#controlling-the-laser)). This can however reduce the output depth quality, and is really only useful for outdoor sunlit scene.
We also have a [pull-request](https://github.com/IntelRealSense/librealsense

[2018-05-06 04:04] Gnimuc opened #1659 "rs2_create_playback_device is missing"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       |  D400  |
| Firmware Version                   | 05.09.09.02 |
| Operating System & Version |    MacOS  |
| Kernel Version (Linux Only)    |  NA

[2018-05-06 12:26] dorodnic commented on #1250
Hi @baSSiLL
Sorry for long delay. This should be resolved in #1650, and released as part of 2.11.0

[2018-05-06 13:02] zivsha commented on #1653
You can:
[code]

[2018-05-06 13:15] zivsha commented on #1659
I think that `rs2_create_playback_device` is a left over from development. I don't think it was ever part of a working or supported API, so it should be removed and indeed you should use `load_device` instead.
The C++ [`context`](https://github.com/IntelRealSense/librealsense/blob/f0caecdcb2047b968202b18bc9703bce0a74517a/include/librealsense2/hpp/rs_context.hpp#L151-L167) class uses this API so yo

[2018-05-06 13:42] #1616 closed

[2018-05-06 13:44] dorodnic commented on #1613
Hi @deusxmachina42
Do you need further assistance with this issue?

[2018-05-06 14:39] ashwinjaishanker commented on #1394
Thank you for the update, @dorodnic

A mesh updated through a shader would be very interesting. Look forward to it. Thanks.

[2018-05-06 15:32] agrunnet commented on #1655
Sorry, answered too fast. No, no need to add half a pixel to my knowledge.

[2018-05-06 17:33] dorodnic commented on #1634
Hi @anshulvj
Thanks for the feedback. I just reproduced it with latest opencv version (4.0). We will update the examples ASAP

[2018-05-07 03:14] RealSense-Customer-Engineering commented on #1207
[Realsense Customer Engineering Team Comment]
@jb455
The issue is solved in 2.11.0 LibRS, please refer to the cs-tutorial-3-processing example inside the csharp wrapper folder.

[2018-05-07 03:14] PipgZYP opened #1662 "I use VS2017 to open realsense D415 in the way of pipeline. Why is CPU utilization so high that it can even reach 100 percent?"
----------------------------------------------------------------------------------------------------

| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | {  D400 } |
| Firmware Version                   | (Open RealSense View

[2018-05-07 03:15] RealSense-Customer-Engineering commented on #1363
[Realsense Customer Engineering Team Comment]
@eebanos
The issue is solved in 2.11.0 LibRS, please refer to the cs-tutorial-3-processing example inside the csharp wrapper folder.

[2018-05-07 04:13] Destinyzc opened #1663 "How to control the exposure and gain and the switch of emitter by programming instead of realsenseviewer?"
----------------------------------------------------------------------------------------------------

| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D400  |
| Firmware Version                   | (05.08.15.00) |
| Operat

[2018-05-07 05:10] dorodnic commented on #1663
Hi @Destinyzc
Check out [controlling the laser](https://github.com/IntelRealSense/librealsense/wiki/API-How-To#controlling-the-laser), exposure and gain can be controlled in a similar way.

[2018-05-07 05:11] dorodnic commented on #1662
Hi @PipgZYP
What language do you use?

[2018-05-07 05:51] blackball opened #1664 "Use SR300 on Debian stretch."
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | SR300 |
| Firmware Version                   |  |
| Operating System & Version |  Debian 9  |
| Kernel Version (Linux Only)    |  Kernel 4.9.0                              |

[2018-05-07 06:43] RealSense-Customer-Engineering commented on #927
[Realsense Customer Engineering Team Comment]
hi @mjscosta , @ytzhao

do you still need support on this topic?
thanks.

[2018-05-07 07:35] Destinyzc commented on #1663
@dorodnic I tried the control of laser, and it's helpful. Than you~
But for exposure and gain, can you give more information? I can't find something similar.

[2018-05-07 07:36] panjekm commented on #1588
yes, I upgraded it to the firmware version mentioned in the above post.
I though all devices undergo a factory calibration procedure? What is problematic is that it is possible to lose that golden standard factory calibration.

[2018-05-07 07:48] ev-mp commented on #1664
Hello @blackball ,
The officially supported patches are those of Ubuntu LTS releases 14 and 16 (and in foreseeable future Ubuntu 18). There are several community-contributed patches in `scripts` directory, but none of them I believe is suited for your needs.

Therefore I would recommend you to use `patch-realsense-ubuntu-xenial.sh` as a baseline as it already covers some Debian-specific steps , mo

[2018-05-07 07:48] RealSense-Customer-Engineering commented on #1631
[Realsense Customer Engineering Team Comment]
hi @juanBerger,

I think we need to make sure your camera back to normal for the calibration first.
can you please try the calibration tool,https://downloadcenter.intel.com/download/27415/?v=t
with Intel.Realsense.CustomRW.exe -g to recover the calibration table and see if it recovered.
and try calibration again to see if you can calibrate the camera n

[2018-05-07 07:49] blackball commented on #1664
Thanks! Will try it.

[2018-05-07 08:33] ev-mp commented on #1642
Hello @Jiyun-Cui,
When deprojecting pixel to 3d coordinate note that you're using a hard-coded value of 1 (meter) which is the (presumed) Z value of the specific pixel in the source frame.

When projecting a depth pixel (which has actual Z) onto a 2D frame, the projection work as designed as the Z allows to produce to calculate the exact  [x,y,z] coordinates.
In this case the projection is between

[2018-05-07 09:06] shamun opened #1665 "Intel gesture control sample ?"
I have installed the camera and samples are working:
https://github.com/IntelRealSense/librealsense/blob/master/doc/distribution_windows.md

But i do not find any sample for gesture control. In PAST i had Intel SDK for website javascript to do calibration on the site and click.

How do i get it done now?

[2018-05-07 09:31] dorodnic commented on #1663
Try using the same API calls, but replace `RS2_OPTION_EMITTER_ENABLED` with `RS2_OPTION_EXPOSURE` and `RS2_OPTION_GAIN`.
You can use `get_option_range` function to discover the valid range of values for each option.

[2018-05-07 09:40] Destinyzc commented on #1663
@dorodnic It works perfectly! Thank you very much!

[2018-05-07 09:40] #1663 closed

[2018-05-07 10:14] baSSiLL commented on #1250
Thanks @dorodnic
Looks like the original issue is fixed.

However, this API still appears of not much use to me because I need an instance of **VideoFrame** type to be used later in processing blocks. And AFAIK there is no way currently to convert from **Frame** to **VideoFrame** or any other specific frame type.
Probable solutions would be:

1. Make **Start** method generic. Looks the most conven

[2018-05-07 10:16] summer1216 opened #1667 "problems after git pull and recompiling"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | SR300 |
| Operating System & Version |  Linux (Ubuntu 14) |
| Kernel Version (Linux Only)    |  (e.g. 4.14.0 - 109)                                         |
| Platform

[2018-05-07 10:55] RealsenseWilliam commented on #1598
I found there is a measure sample code in latest SDK package

[2018-05-07 12:50] chrelli commented on #1655
Thx!

[2018-05-07 12:50] #1655 closed

[2018-05-07 13:14] PipgZYP commented on #1662
c++

[2018-05-07 14:04] drhalftone commented on #1586
I can't help but wonder, given the lack of responses from Intel, if they consider this a problem with the library or with us?

[2018-05-07 14:32] dorodnic commented on #1662
Hi @PipgZYP
If you are upgrading from older version, please check that `BUILD_WITH_OPENMP` CMake flag is disabled.
When it is off, the overall CPU utilization should not be reaching 100%.
There are several CPU intensive operations that we are gradually optimizing:
1. YUY to RGB conversion when using the color sensor
2. Pointcloud / Align methods that require aligning images from one viewport to an

[2018-05-07 14:37] dorodnic commented on #1667
Hi @summer1216
I can confirm the problem with measure and SR300. Will be fixed soon. Currently, our unit-tests mostly focus on the D400 series, but we have no intention of leaving SR300 behind.
At a glance I didn't see anything wrong with point-cloud or synchronization but we will try to reproduce and address.

[2018-05-07 14:39] dorodnic commented on #1658
Hi @tarekmuallim
This should work, we will try to reproduce and see what happened.
Did you try reversing the order (first align, then post-processing)?
Also, what language do you use?

[2018-05-07 15:06] anshulvj commented on #1656
bump

[2018-05-07 23:11] baptiste-mnh opened #1670 "Repository Issues on Linux"
Hi,
Recently I have an issue with the repository when I do my `sudo apt-get update`:
[code]
So I can't download the components needed for the development.
I tried with two different linux distro based on Ubuntu 16.04 and 18.04.

Thanks

[2018-05-07 23:14] kingmugum commented on #1483
it's solved. thank you!

[2018-05-08 00:14] wingillis opened #1671 "Error compiling install target on macos"
When compiling the realsense sdk for the `install` target or the `ALL_BUILD` target using xcode on macos I get an error for this line of code:
https://github.com/IntelRealSense/librealsense/blob/master/src/types.h#L821

Which says: `Too few arguments to function call, expected 4, have 3`

How should I fix this issue?

[2018-05-08 01:32] mohdazly commented on #1657
@lramati can you elaborate more details about pointing pybind11 at anaconda python executabel in cmake?

[2018-05-08 01:33] mohdazly commented on #1657
@TheMikeyR how do i compile in Windows platform, as example you shown above i believe that using Linux platform right?

[2018-05-08 02:34] RealSense-Customer-Engineering commented on #1619
[Realsense Customer Engineering Team Comment]
@VishalShelke I will close this ticket but if you have further questions, please feel free to open a new issue.

[2018-05-08 02:34] #1619 closed

[2018-05-08 02:49] RealSense-Customer-Engineering commented on #1492
[Realsense Customer Engineering Team Comment]
@jfhamlin I ran six cameras at 480x270 30fps for two days without failure however after reviewing you initial information I realized my setup wasn't exactly the same as I only ran three of the cameras through a hub. That being said, it is difficult to predict performance using hubs,

[2018-05-08 02:54] RealSense-Customer-Engineering commented on #1492
[Realsense Customer Engineering Team Comment]
@poripsa, we can better serve you using your company portal for RealSense unless you prefer to include community feedback and if that is the case please open a new issue as your environment is a little different.

[2018-05-08 03:28] zidanehuang001 opened #1672 "Python - How to use post processing APIs provided in python wrapper"
* Before opening a new issue, we wanted to provide you with some useful suggestions (Click "Preview" above for a better view):

    * Consider checking out SDK [examples](https://github.com/IntelRealSense/librealsense/tree/master/examples#sample-code-for-intel-realsense-cameras).
    * Have you looked in our [documentations](https://github.com/IntelRealSense/librealsense/tree/master/doc#useful-lin

[2018-05-08 05:40] tarekmuallim commented on #1658
Hi @dorodnic
Thanks for the replay.
I am using C++ on  Visual Studio 2017 and Windows 10.
Windows SDK version: 10.0.16299.0
Platform toolset: Visual Studio 2017 (v141)
Platform: x64

My code is a part of a bigger program. But I tried to make a new simple one for test.
This the full simple program:

[code]
The program crash when it reach calculate (last statement).
I tried this also:

[code]

With

[2018-05-08 07:26] tolgasaglik commented on #656
I use the sr300_nodelet_rgbd.launch file and am able to retrieve 3d information in terms of colors. The rgb info of dept is puslished in /camera/depth/points topic. After that point, I am not sure how to extract information from it. Do you have any progress on obtaining it?

[2018-05-08 07:35] dorodnic commented on #1671
Hi @wingillis
I don't see the error with Xcode on a MacBook Pro, and the [CI](https://travis-ci.org/IntelRealSense/librealsense/jobs/376221039) is also not raising an issue.
Are there any special CMake flags you enable? Perhaps there is an older version of the SDK installed (using `sudo make install` at some past time)

[2018-05-08 07:57] stekla79 opened #1673 "test"
* Before opening a new issue, we wanted to provide you with some useful suggestions (Click "Preview" above for a better view):

    * Consider checking out SDK [examples](https://github.com/IntelRealSense/librealsense/tree/master/examples#sample-code-for-intel-realsense-cameras).
    * Have you looked in our [documentations](https://github.com/IntelRealSense/librealsense/tree/master/doc#useful-lin

[2018-05-08 08:15] #1673 closed

[2018-05-08 08:27] stekla79 opened #1674 "Setting options, histogram equalization or max/min distance"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | { D400 } |
| Firmware Version                   | 05.09.09.02 |
| Operating System & Version |   {Win (8.1/10)   |                                     |
| Platform

[2018-05-08 08:52] dmitryshendryk commented on #1643
Was missing the loop while(), it works. Thanks for help

[2018-05-08 08:52] #1643 closed

[2018-05-08 08:54] JasonChang13 commented on #1372
need some test for now

[2018-05-08 08:59] RealSense-Customer-Engineering commented on #1372
[Realsense Customer Engineering Team Comment]
test message 2 from Zendesk

[2018-05-08 09:12] RealSense-Customer-Engineering commented on #1372
[Realsense Customer Engineering Team Comment]
test message 3

[2018-05-08 09:19] RealSense-Customer-Engineering commented on #1372
[Realsense Customer Engineering Team Comment]
test 4

[2018-05-08 09:26] RealSense-Customer-Engineering commented on #1372
[Realsense Customer Engineering Team Comment]
test 5

[2018-05-08 09:40] RealSense-Customer-Engineering commented on #1372
[Realsense Customer Engineering Team Comment]
test 6

[2018-05-08 09:51] RealSense-Customer-Engineering commented on #1372
[Realsense Customer Engineering Team Comment]
test 7

[2018-05-08 09:57] RealSense-Customer-Engineering commented on #1372
[Realsense Customer Engineering Team Comment]
test 8

[2018-05-08 10:19] dorodnic commented on #1658
Hi @tarekmuallim
Please try the following:
[code]

[2018-05-08 10:32] dorodnic commented on #1658
Thank you for insightful and easy to reproduce feedback.

There are several issues highlighted by the two snippets:
1. Currently, post-processing filters need to operate on individual frame basis. It would be nice to extend the code to enable users to apply filters on entire framesets (<kbd>enhancement</kbd>) and we are planning to add it.
2. After applying `align`, the `stream_type` of all result

[2018-05-08 12:42] dorodnic commented on #1586
Hi @drhalftone @edwinRNDR @Gnimuc
I apologize for long response time. This is definitely our bug that needs to be fixed, but the team wasn't able to get to it just yet.

[2018-05-08 12:43] #1574 closed

[2018-05-08 12:55] dorodnic commented on #1572
Will be added to the example scene. All the required components are already exposed in the C# wrapper, so this should not be much different from Align. However, there are couple pressing bugs we are trying to address in the Unity wrapper before we can handle this.

[2018-05-08 12:59] #1555 closed

[2018-05-08 13:00] #1613 closed

[2018-05-08 13:31] #1535 closed

[2018-05-08 13:44] wingillis commented on #1671
Thanks for responding so quickly! I noticed the CI was not raising an issue. When I build just the realsense2 library, the build passes. I think it's breaking while trying to compile the `realsense-viewer`.
Here are the CMake flags I used (I've run both commands below and the subsequent build in Xcode failed):
`cmake .. -DBUILD_EXAMPLES=true -DBUILD_WITH_OPENMP=false -DBUILD_PYTHON_BINDINGS=bool:t

[2018-05-08 14:26] dorodnic commented on #1671
I'm almost positive you have older version installed. Please check `/usr/local/include`,  `/usr/local/lib` and `/usr/local/bin` for realsense stuff and delete it.
Please note that `rs2_frame_processor_callback_ptr` delegate used to receive 4 arguments prior to 2.11, but receives only 3 now.

[2018-05-08 14:43] Gnimuc commented on #1659
OK, thanks for your confirmation. I'll take a look at `rs2_context_add_device` and corresponding APIs this weekend.

[2018-05-08 15:16] zivsha commented on #1672
The below code was not tested, and might contain some error, but this could help you get started

[code]

[2018-05-08 15:57] lishirui opened #1676 "Why realsense 2.0 can't be compiled on visual studio 2013 update 5?"
I try to compile realsense 2.0, but failed. It only can be compiled in legacy branch which I think is realsense 1.0. Am I right?

[2018-05-08 18:17] Yonatan-Sade commented on #1601
Hi. I am still striggling with it...
Can anyone help me with this? It would be very appreciated...
I want to convert data from the camera to XYZRGB point cloud of PCL.

I am starting with:
[code]
Then, using the `vertices `I can assign the XYZ values.
But How can I get the RGB?
I know that can be done by the `color `and `tex_coords`, but how **excactly**?
thank all for any support

Yonatan

[2018-05-08 19:33] RealSense-Customer-Engineering commented on #1502
[Realsense Customer Engineering Team Comment]
Hello @TheMikeyR, the post-processing via Python API has been added in release v2.11.0.

[2018-05-09 07:54] #1665 closed

[2018-05-09 08:04] shamun opened #1678 "BUG - Intel SR300 - Gesture control?"
https://software.intel.com/en-us/articles/building-gesture-recognition-web-apps-with-intel-realsense-sdk
![image](https://user-images.githubusercontent.com/107349/39803014-f4e652de-536f-11e8-9600-41b1a0adf839.png)

I have SR300 camera which was working with old Javascript SDK (since 2015 till 2017). After windows 10 update now it never work anymore because i have removed deepfreeze. is it a BUG?

[2018-05-09 09:28] visez commented on #1579
it seems like repeated calls to `rs2::playback::resume` and `rs2::playback::pause` crash the program. Here is the minimum code to replicate the issue. My bag file contains 91 frames and yet the code crashes after a variable number of frames < 91. (xcode on macos, librealsense 2.2)

[code]

[2018-05-09 09:39] tarekmuallim commented on #1658
Thank you for the explanation.
I will try your code for now.
Thanks again.

[2018-05-09 09:53] tchapi opened #1680 "Unexpected artifact in depth stream when capturing through transparent surfaces"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | SR300 |
| Firmware Version                   | _multiple_ |
| Operating System & Version |   Win 8.1 / Linux |
| Kernel Version (Linux Only)    |  4.4.0-101

[2018-05-09 09:54] conorjmcq commented on #1601
Hi there,

I gave up that pursuit and decided that I was going to color the points
based on depth. It turned out how I wanted it, but thank you very much for
sending this code chunk. I don't know how helpful I may be as I still have
very little experience. I'm currently trying to implement SLAM with the
Realsense.

I'll try your code snippet once I get into College.

Thanks again!
Conor.

On 8 May

[2018-05-09 10:18] dorodnic commented on #1680
Hi @tchapi
Could you please share the infrared images using the Viewer?
Also, I see you are using 2.9.1, please try with the latest release (2.11.0)

[2018-05-09 10:25] RealSense-Customer-Engineering commented on #1639
[Realsense Customer Engineering Team Comment]
Hello,
Our SDK is focused on providing the best depth data across multiple wrappers and operating systems. We wish to grow our open source community and encourage them to do something wonderful with our products. We have no plan to add middleware libraries to our product but we may partner with 3rd parties in the future. All updates on these items will

[2018-05-09 10:43] TheMikeyR commented on #1502
Thanks @RealSense-Customer-Engineering

[2018-05-09 10:43] #1502 closed

[2018-05-09 10:44] RealSense-Customer-Engineering commented on #866
[Realsense Customer Engineering Team Comment]
hi @xtrawurst,

we are still fixing this, will update you once we finished.

[2018-05-09 10:47] RealSense-Customer-Engineering commented on #1651
[Realsense Customer Engineering Team Comment]
hi @martijnkusters,

would like to confirm if you need the same as ticket #866, if so, we are still fixing on this, please stay tune.

[2018-05-09 12:01] martijnkusters commented on #1651
Yes, it is the same.

Best Regards,

Martijn Kusters

________________________________
Van: RealSense Customer Engineering <notifications@github.com>
Verzonden: woensdag 9 mei 2018 12:47
Aan: IntelRealSense/librealsense
CC: martijnkusters; Mention
Onderwerp: Re: [IntelRealSense/librealsense] D415/D435 question about metadata temperature (#1651)

[Realsense Customer Engineering Team Comment]
hi @ma

[2018-05-09 12:14] joebedard commented on #1670
I have the same problem when I tried to install today.

[2018-05-09 12:25] baptiste-mnh commented on #1670
If it's urgent, you can temporarily install it from the source files this way (on Linux) :
[code]
You will need some library if they missing a `sudo apt install libname-dev` is often sufficient.
For more infos you can search [here](https://github.com/IntelRealSense/librealsense/blob/master/doc/installation.md).

[2018-05-09 12:28] wingillis commented on #1671
I removed the realsense related code from `/usr/local/include` and `/usr/local/lib` and the compilation worked! Thanks for the help.

[2018-05-09 12:28] #1671 closed

[2018-05-09 15:02] GKachaner commented on #1601
Hello !
I had the same issue and i solved it using this function :

[code]
The trick is in the type of points you are using with PCL.
If you stick to PointXYZ you won't store the color information.
Using PointXYZRGB should do it.
Hope it works for you.

Grégoire

[2018-05-09 16:34] mutp opened #1682 "Adding realsense2 to my existing C++ project through CMake"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D400 |
| Firmware Version                   | 05.09.09.02 |
| Operating System & Version |  Win 10  |
| Platform                                 | PC  |
| SDK Version

[2018-05-09 17:46] mutp commented on #1682
Maybe I posted this question too soon, but I found a solution.
https://github.com/zivsha/librealsense/tree/getting_started_example/examples/getting-started

The CMakeLists file here lets me add realsense to my existing C++ project through CMake.

[2018-05-09 17:46] #1682 closed

[2018-05-09 22:12] GitwellAnyohub commented on #1639
@martijnkusters this is sort of what I'm working on but I'm working out some kinks, particularly with acquisition parameter optimization. Once I've finished that (priority one) I can post some of my pose estimation stuff with the D415.

[2018-05-09 22:21] GitwellAnyohub opened #1683 "Changing Acquisition Parameters"
Camera D415
Python
Ubuntu 16.04

I'm currently working on a script to find the optimal acquisition parameters for my project. What I can currently do is stream depth with custom parameters saved as a json. What I'd like to do is measure some stuff, make some calculations, and then change the acquisition parameters based on the error of those measurements. What I'm having trouble with is manipulati

[2018-05-10 02:33] blackball opened #1684 "Docker image for using SR300"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | { SR300  } |
| Firmware Version                   | |
| Operating System & Version |  Linux |
| Kernel Version (Linux Only)    |                                        |
| P

[2018-05-10 03:04] juanBerger commented on #1631
Hi,
Thank you for the response, this appears to have worked. After running
`Intel.Realsense.CustomRW.exe -g`
I was able to do the calibration. Using the depth quality tool I'm getting an RMS error of about 40mm - is this typical? (measuring a distance of ~3m). Thanks

[2018-05-10 03:17] RealSense-Customer-Engineering commented on #1631
[Realsense Customer Engineering Team Comment]
hi @juanBerger,

great, 40mm error at 3m is a very good result, so back to your main question, is the issue still there? with long or short cable?
thanks.

[2018-05-10 04:31] RealSense-Customer-Engineering commented on #1678
[Realsense Customer Engineering Team Comment]
@shamun,
dose the win hello also not functional/not able to setup (the SR300 need to be installed properly)
please find below to see if that can help on your case
https://www.intel.com/content/www/us/en/support/articles/000026184/emerging-technologies/intel-realsense-technology.html

[2018-05-10 06:48] visez opened #1685 "Cannot modify stream resolution with pipeline configuration"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D400  |
| Firmware Version                   | 05.08.15.00 |
| Operating System & Version |  MacOS  |
| Kernel Version (Linux Only)    |                                |
| P

[2018-05-10 06:49] RealSense-Customer-Engineering commented on #1647
[Realsense Customer Engineering Team Comment]
Hi @Jiyun-Cui,

Still need any help?
Note: F200 uses Code-of-Light (structured light). D435 uses Stereo camera with IR projector to help depth if no good texture in your test scene.

[2018-05-10 08:20] dorodnic commented on #1685
Hi @visez
You can most likely work around this problem by using the full overload of `enable_stream` with rest of the parameters. That said, this seems suspicious behavior and likely to be a bug, we will reproduce and update.

[2018-05-10 08:20] RealsenseWilliam commented on #1654
test comment

[2018-05-10 09:14] RealSense-Customer-Engineering commented on #1676
[Realsense Customer Engineering Team Comment]
hi @lishirui,

I think we just verified Visual Studio 2015 and 2017, if you don't really need the legacy branch, would suggest to use 2015 or 2017 version to compile.

[2018-05-10 09:16] RealSense-Customer-Engineering commented on #1389
[Realsense Customer Engineering Team Comment]
Hi @idang12,
If no other issue, will close this first.

[2018-05-10 09:30] OctaM commented on #1011
Is there any way to access the color sensor? I can't figure out a way to do that because I'm not sure about the method name. first_depth_sensor seems to work for the depth sensor, but what if I want to set options like exposure and gain?

[2018-05-10 09:32] visez commented on #1685
@dorodnic thank you - just tried with the following code but I get the same problem unfortunately:

[code]

[2018-05-10 09:35] visez commented on #1685
@dorodnic Just checked the firmware version - 05.08.15.00. Could that be the reason?

[2018-05-10 10:10] RealSense-Customer-Engineering commented on #1189
[Realsense Customer Engineering Team Comment]
hi @TheMikeyR, we are working on improving the left imager picture on D415, but it's it's what it is for now.
hi @ @dheera, GPU and CPU investigations are still ongoing, but no breakthrus yet, will keep you posted.

[2018-05-10 11:49] dorodnic commented on #1685
Could you please check using the Viewer if the camera is detected as USB3?
I tried the original code locally and everything worked. I suspect the problem can be USB connection, or perhaps the firmware version. Unfortunately, we still don't have Mac OS firmware update tool (only for Windows and now also Ubuntu I believe)

[2018-05-10 17:44] chrelli opened #1686 "Repeated frames passed by D435 (bug?)"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D435 |
| Firmware Version                   | 05.08.15.00 |
| Operating System & Version |  Ubuntu 16.04 LTE   |
| Kernel Version (Linux Only)    |  4.13.0-39-generic

[2018-05-10 18:26] chrelli commented on #1686
It seems to be only in the beginning of recordings and 'warming up' the camera seems to get rid of the issue. Will update later.

[2018-05-10 19:30] chrelli commented on #1686
Nope, it can happen in the middle of longer recordings (15 min) as well. Warming up doesn't fix it.

[2018-05-10 20:59] DrCodeWizzard opened #1687 "Repeatedly changing exposure of d435 brings down a camera"
----------------------------------------------------------------------------------------------------

| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D435 |
| Firmware Version                   | 5.9.9.2 |
| Operating Sys

[2018-05-10 23:50] #913 closed

[2018-05-11 00:44] #1235 closed

[2018-05-11 00:45] #1433 closed

[2018-05-11 02:17] RealSense-Customer-Engineering commented on #1646
[Realsense Customer Engineering Team Comment]
Hello @PipgZYP, I see you added the emoji so it looks like this issue can be closed, correct?

[2018-05-11 02:57] RealSense-Customer-Engineering commented on #1588
[Realsense Customer Engineering Team Comment]
@panjekm do you have rs-terminal and CommandsDS5.xml? If you do you can use the loadintcal 20 [param] to read the cal data directly; param:  0 - Flash dynamic sector, 1 - Flash gold sector.

Can you post what you read for both?

[2018-05-11 03:01] visez commented on #1685
Updated the firmware to 5.9.9.2 from a windows PC, and the realsense is detected as usb3.0, the problem however still persists
<img width="554" alt="screen shot 2018-05-11 at 11 59 46" src="https://user-images.githubusercontent.com/17118141/39904453-eb70d86a-5512-11e8-8e03-81ba7915705d.png">

[2018-05-11 03:11] RealSense-Customer-Engineering commented on #1526
[Realsense Customer Engineering Team Comment]
hi @panjekm,

the Y16 image is unrectified image and Y8 image is rectified image, so they do different.

[2018-05-11 03:15] RealSense-Customer-Engineering commented on #931
[Realsense Customer Engineering Team Comment]
@Jiloc
I revised the code of rs-capture.cpp to suit your request, please let me know if it works for you.

[2018-05-11 03:16] RealSense-Customer-Engineering commented on #765
[Realsense Customer Engineering Team Comment]
@Jason420Git
Is the problem still there?

[2018-05-11 03:46] RealSense-Customer-Engineering commented on #1103
[Realsense Customer Engineering Team Comment]
hi @jb455,

I didn't see anything relative to this in v2.11.0 release note, but would like to confirm with you if the issue still the same for your usage in latest release?
thanks.

[2018-05-11 03:53] RealSense-Customer-Engineering commented on #1646
[Realsense Customer Engineering Team Comment]
Hello @PipgZYP, but this does solve your issue? Is the latter comment because you wish to run them through a hub? It is possible but it is harder to predict performance through a hub. If you have other devices I would recommend they be connected through a hub.

[2018-05-11 05:05] RealSense-Customer-Engineering commented on #1392
[Realsense Customer Engineering Team Comment]
hi @uncleyoung, @OpenJeDi, @holstenholsten,

this issue should be fixed already, could you please confirm and let me know if you need more support on this topic.
thanks.

[2018-05-11 05:16] RealSense-Customer-Engineering commented on #1435
[Realsense Customer Engineering Team Comment]
hi @arybalkin,

would like to know if you still need support on this topic?
thanks.

[2018-05-11 07:00] RealSense-Customer-Engineering commented on #1490
[Realsense Customer Engineering Team Comment]
le me closed this ticket here, please feel free to open new ticket if any question.

[2018-05-11 07:00] #1490 closed

[2018-05-11 07:02] RealSense-Customer-Engineering commented on #1493
[Realsense Customer Engineering Team Comment]
let me close this ticket, and please feel free to open new ticket if any question.

[2018-05-11 07:02] #1493 closed

[2018-05-11 07:04] RealSense-Customer-Engineering commented on #1536
[Realsense Customer Engineering Team Comment]
let me close this ticket, and please feel free to open new ticket if any question.

[2018-05-11 07:04] #1536 closed

[2018-05-11 07:51] RealSense-Customer-Engineering commented on #1580
[Realsense Customer Engineering Team Comment]
hi @fwindolf,

do you need more support on this topic?
thanks.

[2018-05-11 08:07] GuidoBartoli commented on #1287
@dmitryshendryk Yes, I edited the `CMakeLists.txt` file as I reported in my last post. The node executable was missing the linking to the **realsense2** library.

[2018-05-11 09:46] RealSense-Customer-Engineering commented on #1537
[Realsense Customer Engineering Team Comment]
hi @BGA3,

do you need more help on this topic?
thanks.

[2018-05-11 09:50] RealSense-Customer-Engineering commented on #1568
[Realsense Customer Engineering Team Comment]
hi @martijnkusters,
please find the calibration chart at link below:
https://www.intel.com/content/www/us/en/support/articles/000026723/emerging-technologies/intel-realsense-technology.html
FYR.

[2018-05-11 09:51] jb455 commented on #1103
Hi,
It looks as though the new FrameSource class will be useful to 'bundle' the two frames together (negating the need for a separate syncer I think), but there doesn't appear to be a way to register extrinsics between them. Getting there though!

Thanks
James

PS: I get a couple of errors when trying to build the wrapper from a freshly-cloned copy of source at the moment: "Your project.json doesn

[2018-05-11 09:52] #916 closed

[2018-05-11 09:52] RealSense-Customer-Engineering commented on #916
[Realsense Customer Engineering Team Comment]
let me close this ticket here, please feel free to open new ticket if any question.

[2018-05-11 15:08] UnaNancyOwen commented on #1462
@RealSense-Customer-Engineering Thanks for reply!
The actually calculated results using above source code is as follows

RealSense D415 (1280x720)
* baseline : 54.8575 [mm]
* distance : 2000 [mm]
* horizontal_fov : 1.19014 [radian] ( 68.19 [degree] )
* distance_band_ratio : 0.0202651
* invalid_depth_band : 25.9393 [pixel]

I think it improved a little bit than above screen shot.
(It was maybe affe

[2018-05-11 15:56] zrenegade commented on #1176
Is there any update on this? Has the hand tracking support been added to the SDK2.0 yet?

[2018-05-11 17:17] poripsa commented on #1268
Hi, on running

echo 'deb http://realsense-hwpublic.s3.amazonaws.com/Debian/apt-repo xenial main'| sudo tee /etc/apt/sources.list.d/realsense-public.list

as the above document suggests and the running

sudo apt-get update

Results in:
W: The repository 'http://realsense-hwpublic.s3.amazonaws.com/Debian/apt-repo xenial Release' does not have a Release file.
N: Data from such a repository can't be

[2018-05-11 17:44] jlgarcia75 commented on #1176
Hello @zrenegade,

All the hand tracking info for SDK 2.0 can be found here: https://github.com/IntelRealSense/hand_tracking_samples. Note that SDK 2.0 does not have hand-tracking support built-in. These are samples that show how to do it using the SDK.

Regards,
Jesus
Intel Customer Support

[2018-05-12 04:50] juanBerger commented on #1631
Hi - I no longer see the error and both cables work mostly without issue. Frequently though, the camera will appear as a 2.1 device. Simply reversing the orientation of the c side of the plug has been fixing the problem, though. This happens with both cables and on multiple host machines. Thx

[2018-05-13 07:04] dorodnic commented on #1686
Hi @chrelli
Yes, this is the expected (or at least possible) behavior. This can happen when one of the streams drops frames (in that case we will return last known frame from that stream).
If you are building the SDK from source, please make sure to build with `-DCMAKE_BUILD_TYPE=Release`. You can also try reducing the total resolution.

[2018-05-13 07:06] dorodnic commented on #1685
Could you please make sure that you can manually select 640x360 from the RealSense Viewer?

[2018-05-13 07:10] dorodnic commented on #1676
Hi @lishirui
We decided on Visual Studio 2015 since it more fully complies with the C++11 set of features used in the SDK. With VS 2013, I recall often getting "Internal Compiler Error" on valid code.
This should not prevent you from using RealSense with Visual Studio 2013, since you can use the precompiled version ([Intel.RealSense.SDK.exe](https://github.com/IntelRealSense/librealsense/releases/

[2018-05-13 07:11] dorodnic commented on #1674
Hi @stekla79
Do you need further assistance?

[2018-05-13 08:34] idang12 commented on #1389
That is it for now. Thanks for the help!

[2018-05-13 08:34] #1389 closed

[2018-05-13 20:18] yf225 commented on #1493
@ev-mp , please feel free to do so, thanks!

[2018-05-14 03:06] #825 closed

[2018-05-14 03:25] RealSense-Customer-Engineering commented on #1657
[Realsense Customer Engineering Team Comment]
@mohdazly
You can use CMake GUI to check the "BUILD_PYTHON_BINDINGS" and change the "PYTHON_EXECUTABLE" to your anaconda python.exe in your environment path. For example "C:/Users/abcd/AppData/Local/Continuum/anaconda3/envs/<your ENV name>/python.exe"

After compiling python folder finish(check the attached image), you should see output files under Deb

[2018-05-14 03:26] carypai commented on #1657
![binary](https://user-images.githubusercontent.com/24288314/39977012-99c779fc-5769-11e8-86eb-c993214e0b8d.PNG)
![python_target](https://user-images.githubusercontent.com/24288314/39977013-9a0631d8-5769-11e8-9eb4-261b9f765583.PNG)

[2018-05-14 03:29] RealSense-Customer-Engineering commented on #1532
[Realsense Customer Engineering Team Comment]
@TheMikeyR
had you tried with another desktop?
by the way, we have new Firmware that provide more robust streaming
please check below link about how to upgrade the FW
https://downloadcenter.intel.com/download/27408/?v=t

[2018-05-14 03:36] #1021 closed

[2018-05-14 03:39] #1207 closed

[2018-05-14 03:41] #1336 closed

[2018-05-14 03:46] #1363 closed

[2018-05-14 06:26] sharpriy commented on #1089
Hi...
Is this issue resolved? Could you pls share the python script to capture frames parallely from multiple D415 using pyrealsense2
I have tried with one and it's fine with that

[2018-05-14 06:27] carypai commented on #1657
Attach issue from official account, attached the image of activating the virtual environment and run example here
![capture](https://user-images.githubusercontent.com/24288314/39981322-bd15db1a-5782-11e8-83cb-61576893cd76.PNG)

[2018-05-14 06:36] TheMikeyR commented on #1268
@poripsa it is only possible to flash it with a windows host, the linux version will be made available later.

[2018-05-14 06:43] mohdazly commented on #1657
@RealSense-Customer-Engineering @carypai
As attached picture shown that there is no PYTHON_EXECUTABLE variable after I checked the configure button "BUILD_PYTHON_BINDINGS". Could you guide me on this matter.

![cmake_ui](https://user-images.githubusercontent.com/17297871/39981844-4393a186-578d-11e8-9f2d-4eef056cd352.png)

[2018-05-14 06:50] carypai commented on #1657
After you check the BUILD_PYTHON_BINDINGS, please click "configure" button again, then you will see the variable.
![image](https://user-images.githubusercontent.com/24288314/39982188-17eff64e-5786-11e8-88a5-966d5e4be35e.png)

[2018-05-14 07:00] #1449 closed

[2018-05-14 07:07] RealSense-Customer-Engineering commented on #1455
[Realsense Customer Engineering Team Comment]
@baptiste-mnh
Since this is additional feature request, I will discuss internally if it will be implemented.

[2018-05-14 07:14] #1457 closed

[2018-05-14 08:18] mohdazly commented on #1657
@carypai & @RealSense-Customer-Engineering thank you so much for your guidance.

I managed to run RealSense SDK 2.0 under my anaconda virtual environment for both python 2 & 3.
Below, I'm summarizing the steps required based on my understanding, hopefully it will make it more clear for other people references.

1. Run CMake Gui "cmake-gui.exe".
2. On "Where is the source code:", click "Browse Sour

[2018-05-14 08:18] #1657 closed

[2018-05-14 08:32] fonskuijk commented on #1506
I confirm having the exact same issue as Emil reported

[2018-05-14 08:43] RealSense-Customer-Engineering commented on #1506
[Realsense Customer Engineering Team Comment]
yes, we can reproduce this issue and trying to fix this issue.

[2018-05-14 08:56] RealSense-Customer-Engineering commented on #1684
[Realsense Customer Engineering Team Comment]
hi @blackball,

can you please explain more about docker image you mean?
thanks.

[2018-05-14 09:02] RealSense-Customer-Engineering commented on #1680
[Realsense Customer Engineering Team Comment]
hi @tchapi,

sorry, I want to confirm when you test, do you remove the lens cover?
just want make sure it's removed so we can continue.

[2018-05-14 09:08] #1561 closed

[2018-05-14 09:12] #1564 closed

[2018-05-14 09:33] JasonChang13 commented on #1680
![39802231-cfae0b44-536d-11e8-8f34-c64c4903cf94](https://user-images.githubusercontent.com/23397038/39989521-cbd6442c-579c-11e8-836f-42fd9de2fdf6.jpg)
somehow can't attach image from official account

[2018-05-14 10:07] martijnkusters opened #1689 "ds5lr camera"
Question: Does somebody know when the ds5lr camera will be available.
It is a long range camera with a larger baseline than the d400-serie.

Best Regards,
Martijn Kusters

[2018-05-14 10:32] blackball commented on #1684
I wonder how I can use SR300 inside a docker container, because my host OS doesn't have a matched kernel with SR300's driver.

[2018-05-14 10:58] baptiste-mnh commented on #1455
Ok thank you. It could be a very useful feature for 3D scan.

[2018-05-14 11:05] TheMikeyR commented on #1532
I've upgraded firmware to Version: 5.9.9.2, and the issue still persist only with the c++, when using python it works just fine.

gcc version 5.4.0 20160609 (Ubuntu 5.4.0-6ubuntu1~16.04.9)

[2018-05-14 11:28] martinakos opened #1692 "possibly missing const?"
The template function device::first  in line 51 [here](https://github.com/IntelRealSense/librealsense/blob/master/include/librealsense2/hpp/rs_device.hpp)
may need a const?

See [this](https://stackoverflow.com/questions/50328701/const-correctness-advice) stackoverflow question.

[2018-05-14 11:33] baptiste-mnh commented on #1670
Hi,
It's starting to be urgent. I need to install intel-realsense-dfu components on my Linux and I still have this error when I update my repositories :
[code]
Thanks in advance for resolving this issues as soon as possible.

[2018-05-14 11:55] feliwir commented on #1670
Hitting the same issue. Please fix this

[2018-05-14 12:01] baptiste-mnh opened #1693 "IR didn't work anymore"
### Issues
Hi,
Since this morning, 3 of my 6 cameras have their IR captors broken.
I tried to update them to the last firmware (5.9.11) but it didn't change.
It is surprising that it happens at the same time. So are they broken or this could be an software issues?
(It's always the same cameras which can't stream there IR view)

### Error message
[code]
### Screenshot
![screenshot from 2018-05-14 1

[2018-05-14 12:10] martinakos commented on #1692
Also, possibly missing const in function frameset::get_color_frame at line 678 [here](https://github.com/IntelRealSense/librealsense/blob/master/include/librealsense2/hpp/rs_frame.hpp)

[2018-05-14 12:49] bky581 commented on #1528
No since I don't see how it relates to this problem. I haven't checked if the problem still exists in newer versions of the SDK.

[2018-05-14 14:06] MiXyF opened #1694 "trouble patching uvcvideo on Ubuntu 16.04 for realsense SDK 1.12.1"
| Camera Model                       | ZR300  |
| Firmware Version                   | XXXXX  |
| Operating System & Version |   { Linux (Ubuntu Xenial 16.04.4 LTS)   |
| Kernel Version (Linux Only)    |  4.4.0-21                                  |
| Platform                                 | PC |
| SDK Version                            |  1.12.1                          |

### Script patch-uvcvi

[2018-05-14 15:10] #1694 closed

[2018-05-14 15:20] GitwellAnyohub opened #1695 "Range of every single parameter (Python Wrapper)"
* Before opening a new issue, we wanted to provide you with some useful suggestions (Click "Preview" above for a better view):

    * Consider checking out SDK [examples](https://github.com/IntelRealSense/librealsense/tree/master/examples#sample-code-for-intel-realsense-cameras).
    * Have you looked in our [documentations](https://github.com/IntelRealSense/librealsense/tree/master/doc#useful-lin

[2018-05-14 16:02] agrunnet commented on #1589
I am posting here a new version of the LabVIEW wrapper based on LibRS 2.11.0.
- It includes dlls for both the 32bit and 64bit version (default) of the librealsense2.dll.
- It includes the new post-processing that is in the new LibRS, so no need for the extra Librealsense2ex.dll. Look at the example called RealSense_HellowWorld_PointCloud Plus4.vi

[RealSense SDK2.11.0 for LabVIEW.zip](https://gith

[2018-05-14 16:48] jgomezlopez opened #1697 "Multicam D415 gives me Device or resource busy"
Good evening,

I'm trying to get depth images from several D415 at 640 x 480 and 6 fps.

When I try to get images from one camera everything works fine.
When I try to get images from two cameras sometimes works fine but most of the times give the following error:

terminate called after throwing an instance of 'rs2::backend_error'
what():  xioctl(VIDIOC_S_FMT) failed Last Error: Device or resource

[2018-05-14 18:02] svensht2 commented on #1079
@zivsha @dorodnic @RealSense-Customer-Engineering  anything new on this?

[2018-05-15 00:53] lonely-users commented on #1589
@agrunnet Thank you very much for your continuous help and support. I will debug it immediately.

[2018-05-15 01:41] RealSense-Customer-Engineering commented on #1659
[Realsense Customer Engineering Team Comment]
Hello @Gnimuc were you able to try rs2_context_add_device? Did it resolve your issue?

[2018-05-15 02:14] RealSense-Customer-Engineering commented on #1610
[Realsense Customer Engineering Team Comment]
@Loriskar, I am closing this issue but if you still need more information feel free to open a new issue.

[2018-05-15 02:14] #1610 closed

[2018-05-15 02:18] RealSense-Customer-Engineering commented on #1492
[Realsense Customer Engineering Team Comment]
Hello @jfhamlin, I will close this issue but if your problem still exists feel free to open a new issue.

[2018-05-15 02:18] #1492 closed

[2018-05-15 02:59] dmitryshendryk opened #1698 "D415 High Accuracy Mode, black color quality too low"
Camera Model D415
Firmware Version 05.08.15.00
Operating System & Version Ubuntu 16
Kernel Version (Linux Only) 4.13.0 - 36-generic |
Platform PC
SDK Version 2.10.4

I'm doing the reconstruction using D415 camera. I'm trying to improve the quality of the model, so now use High Accuracy Mode in librealsense2.
In High Density Mode, black color better, but the structure not good, not works for me.

B

[2018-05-15 03:04] dmitryshendryk commented on #1698
Sorry, the last image is wrong. Updated correct one.
![screenshot from 2018-05-14 20-02-54](https://user-images.githubusercontent.com/13618412/40034472-b4500dfe-582f-11e8-89bf-89a7e36a7634.png)

[2018-05-15 03:14] RealSense-Customer-Engineering commented on #909
[Realsense Customer Engineering Team Comment]
@sogartar  By UVC protocol, the camera is the slave and the host is the master. The current camera stream profile is configured by host app. The host app should know what exactly is streaming. So there is no need a function to return the current profile.

[2018-05-15 05:34] #1512 closed

[2018-05-15 05:37] RealSense-Customer-Engineering commented on #1516
[Realsense Customer Engineering Team Comment]
@phat64
Have you tried the suggestion from necroen?
et
dec.set_option(RS2_OPTION_FILTER_MAGNITUDE, 2);
to
dec.set_option(RS2_OPTION_FILTER_MAGNITUDE, 1);
will be ok

[2018-05-15 06:49] RealSense-Customer-Engineering commented on #1556
[Realsense Customer Engineering Team Comment]
@Panepo
The `align` class used in librealsense demos maps between depth and some other stream and vice versa. We do not offer other forms of stream alignments.

But one suggestion for you to have a try, Basically the mapping is a triangulation technique where we go through the intersection point of a pixel in 3D space to find its origin in another fram

[2018-05-15 07:00] RealSense-Customer-Engineering commented on #1693
[Realsense Customer Engineering Team Comment]
hi @baptiste-mnh,

from previous experience, seems your FW somehow damaged, can you please try the calibration tool,https://downloadcenter.intel.com/download/27415/?v=t
 with Intel.Realsense.CustomRW.exe -g to recover the calibration table and see if it recovered.
maybe same issue to #1631

[2018-05-15 07:04] RealSense-Customer-Engineering commented on #1624
[Realsense Customer Engineering Team Comment]
@kuonangzhe
I tested with the same result as you mentioned, i will check internally if there is any way to get back the changed exposure when auto ep is enabled/disabled.

[2018-05-15 07:10] RealSense-Customer-Engineering commented on #1501
[Realsense Customer Engineering Team Comment]
Please try librealsense 2.10.3 which should fix this issue. (The same issue with  #1555)

[2018-05-15 07:10] #1501 closed

[2018-05-15 07:27] RealSense-Customer-Engineering commented on #1548
[Realsense Customer Engineering Team Comment]
@vladsterz
The synchronization between two streams from the same sensor like depth and IR should be perfectly synchronized by frame number.
Synchronization between two streams from separated sensors, like color and depth, is achieved by best match of the frames timestamp,
It’s expected that frames within a synchronized frameset will have a temporal off

[2018-05-15 07:45] adarvit commented on #1653
thank you very much

[2018-05-15 07:45] #1653 closed

[2018-05-15 08:01] baptiste-mnh commented on #1693
Hi, I tried to calibrate them but I got this message :
[code]

[2018-05-15 08:26] feliwir opened #1700 "Support Ubuntu 18.04"
----------------------------------------------------------------------------------------------------

| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       |  D415 |
| Firmware Version                   | 5.08.15.00 |
| Operating

[2018-05-15 08:35] RealSense-Customer-Engineering commented on #1528
[Realsense Customer Engineering Team Comment]
@bky581
Sorry, the comment from dorodnic is false post from internal system. Please have a try on the latest SDK, I try to build and didn't see your issue.

[2018-05-15 08:37] RealSense-Customer-Engineering commented on #1589
[Realsense Customer Engineering Team Comment]
@lonely-users
If the solution provided by Agrunnet solves your problem, please help to close the issue, thank you.

[2018-05-15 08:38] #1674 closed

[2018-05-15 08:47] RealSense-Customer-Engineering commented on #1612
[Realsense Customer Engineering Team Comment]
@AbhijithNBC
Have you tried the 2.11.0 release? it should fix the problem.

[2018-05-15 08:50] RealSense-Customer-Engineering commented on #1320
[Realsense Customer Engineering Team Comment]
Hi@mgildner,

If no other issue, will close this.

[2018-05-15 08:51] RealSense-Customer-Engineering commented on #1599
[Realsense Customer Engineering Team Comment]
@omerbrandis
do you still need any assist for this issue?

[2018-05-15 08:55] RealSense-Customer-Engineering commented on #1391
[Realsense Customer Engineering Team Comment]
Hi @ioreed,

Did you try the latest SDK/Firmware with the qualified cable? still need any help?

[2018-05-15 08:58] RealSense-Customer-Engineering commented on #1424
[Realsense Customer Engineering Team Comment]
Hi @GustavZ,

Did you build form librealsense source and apply the proper script to resolve this issue?

[2018-05-15 09:00] RealSense-Customer-Engineering commented on #1521
[Realsense Customer Engineering Team Comment]
Hi @dan0910,
If no further issue, will close this.

[2018-05-15 09:00] #1521 closed

[2018-05-15 09:03] vladsterz commented on #1548
Hello @RealSense-Customer-Engineering ,

Do I have to do it myself then? Do I have to explicitly choose the frames have the smallest temporal difference?

vladsterz

[2018-05-15 09:03] RealSense-Customer-Engineering commented on #1573
[Realsense Customer Engineering Team Comment]
Hi @rkeatin3,

Do you resolve the issue?

[2018-05-15 09:04] RealSense-Customer-Engineering commented on #1698
[Realsense Customer Engineering Team Comment]
@dmitryshendryk
For high accuracy, it will generate data for only high confident pixel and ignore low confident one with black color. But few suggestions might improve the quality.

1. increase the laser power.
2. disable auto exposure, from the image, I can tell the IR image is pretty dark.
3. Try to tune the image quality with the suggestion in side

[2018-05-15 09:06] RealSense-Customer-Engineering commented on #1548
[Realsense Customer Engineering Team Comment]
@vladsterz
no, the wait_for_frames has done the best mapping for you.

[2018-05-15 09:18] RealSense-Customer-Engineering commented on #1553
[Realsense Customer Engineering Team Comment]
Hi @rafaor29,

Did you resolve the issue? Did you also try different kernel like 4.10?

[2018-05-15 09:36] ev-mp commented on #1700
Hello @feliwir ,
We are working to add kernel 4.15 support for Ubuntu 18 and it is scheduled for the next version release.
We will also look into updating the debian repositories due to transition from xenial to bionic.

In the meanwhile you're welcomed to use the kernel patch for Ubuntu 18 from WIP branch
https://github.com/ev-mp/librealsense/tree/kernel_4.15

[2018-05-15 09:38] tchapi commented on #1680
Hi — Here it is with v2.11. The artefact is still very visible. I've attached the RAW file and the frame and intrinsic info (`.raw.txt` to rename →` .raw`) :

Frame | Info
------------ | -------------
Type | Depth
Format|Z16
Frame Number|41537
Timestamp (ms)|1394219.09
Resolution x|640
Resolution y|480
Bytes per pixel|2

Intrinsic | Info
------------ | -------------
Fx|476.389709
Fy|76.389709
PPx|

[2018-05-15 10:07] ev-mp commented on #1670
Hello @baptiste-mnh ,
Did you manage to successfully [register the server's public key ](https://github.com/IntelRealSense/librealsense/blob/development/doc/distribution_linux.md#installing-the-packages)?
Additionally, is it possible that you're running Ubuntu distribution other than 16 ?

[2018-05-15 10:37] RealSense-Customer-Engineering commented on #1689
[Realsense Customer Engineering Team Comment]
hi @martijnkusters,

let me check on this for you, and I assume you are checking for peripheral not bare module, right?

[2018-05-15 10:53] xufeifeiWHU commented on #1656
When I run the same example on the D415 depth camera, I have face the similar problem, my problem occurs on
config = rs.config()
config.enable_stream(rs.stream.depth, 640, 360, rs.format.z16, 30)
config.enable_stream(rs.stream.color, 640, 480, rs.format.bgr8, 30)

# Start streaming
profile = pipeline.start(config)

the error like this:
Traceback (most recent call last):
  File "/home/xufeifei/work

[2018-05-15 11:38] ev-mp commented on #1656
Hello @xufeifeiWHU
The requested configuration is valid with USB3, but not with USB2 mode.
Please verify that the device is enumerated as USB3+ device using RS2_CAMERA_INFO_USB_TYPE_DESCRIPTOR info attribute.
Alternatively, open and read it in realsense-viewer.
In addition, please specify the FW version of D415.

[2018-05-15 12:16] visez commented on #1685
Silly mistake - by putting RS2_FORMAT_ANY in the call for the color stream it got automatically assigned to Y16. Switching the code to the following solved the problem

[code]

[2018-05-15 12:26] Gnimuc commented on #1659
It looks like using `rs2_context_add_device` along with `pipeline` will cause a crash:
[code]
I guess I need to directly configure the device/sensor for streaming, I'm still learning those sensor control APIs.

[2018-05-15 13:54] anshulvj commented on #1656
@xufeifeiWHU I had  noticed something similar but it turned out the USB cable that came with the sensor had to be pushed in all the way and the error went away.

anyone had luck with the OpenCV issue above?

[2018-05-15 13:56] xufeifeiWHU opened #1703 "Where I can find a librealsense with version v1.12.1 ^_^"
| Required Info                                                                                           |
|-----------------------------------------------------------------------------                 |
| Camera Model                        | D415                                                       |
| Firmware Version                    | (Open RealSense Viewer --> Click info) |
| Operating S

[2018-05-15 14:54] RealSense-Customer-Engineering commented on #1565
[Realsense Customer Engineering Team Comment]
Hi @wxp0821, @superaldo,

Did you follow below instructions to successfully build the Unity app?
https://github.com/IntelRealSense/librealsense/tree/master/wrappers/unity
For the namespace issue, you can refer to below. Try to add a new script like ‘rsEditor.cs’ and move below code in RealSenseDeviceInspector.cs to this new script.
public class RealSen

[2018-05-15 15:03] adarvit commented on #1672
hey, i get the following error when i am trying to declare those filters

"AttributeError: module 'pyrealsense2' has no attribute 'decimation_filter'

i tried to upgrade pyrealsense2 but it didn't solve the problem

[2018-05-15 15:09] adarvit opened #1704 "error when i am trying to declare filters with python wrapper"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       |  D400  |
| Platform                                 | PC  |
| SDK Version                            |  2.11.0 |

Hey, I get the following error when i am trying to declare

[2018-05-15 15:30] joebedard commented on #1670
This is an issue for Ubuntu 18.04. (I don't know about 16.04.)
After successfully registering the server's public key, `sudo apt-get update` causes:
[code]

[2018-05-15 15:36] baptiste-mnh commented on #1670
I test on Ubuntu 16.04, 18.04 and Elementary OS and I got the same error than @joebedard.

For info, info this is the message I got when I register the key :
[code]

[2018-05-15 15:49] Gnimuc commented on #1586
I just found the low-level API `rs2_open` has this problem too. I need to pause between choosing a profile and starting the sensor.
[code]
This info might be helpful for narrowing down the bug.

[2018-05-15 16:02] RealSense-Customer-Engineering commented on #1523
[Realsense Customer Engineering Team Comment]
Hi @maciejjaskowski,
My test configurations as follows, run about 10 minutes, don't see this issue. How about your firmware version?
--------------------
kernel 4.13.0-41 + ros-wrapper build 2.0.3 + librealsense 2.10.2 and D415 FW 5.9.9

$ roslaunch realsense2_camera rs_camera.launch
subscribe below topics:
$ rostopic echo --noarr /camera/color/image_r

[2018-05-15 18:28] omerbrandis commented on #1599
Hi,

No , i do not,
do you wish me to close this issue?
( i thought it should be kept open until its executed)

omer.

[2018-05-15 18:33] ev-mp commented on #1703
Version 1.12.1 is available for download on the 'legacy' branch [here](https://github.com/IntelRealSense/librealsense/tree/legacy).
Note that this version is intended primarily for owners of R200, LR200 and ZR300 devices and does not support the current line of D400 peripheral devices.

[2018-05-15 20:27] Loriskar opened #1705 "Converting bag file to video"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D410 |
| Firmware Version                   | Newest |
| Operating System & Version |  Win10 /Ubuntu 16 |
| Kernel Version (Linux Only)    |  4.4|
| Platform

[2018-05-16 01:11] dmitryshendryk commented on #1698
I can't find how to increase the laser power programmatically, when start camera. @RealSense-Customer-Engineering Any reference? It should be in json config?

[2018-05-16 01:53] super-scyu opened #1706 "how to get the intel D435 intrinsic and extrinsic calibration information"
* Before opening a new issue, we wanted to provide you with some useful suggestions (Click "Preview" above for a better view):

    * Consider checking out SDK [examples](https://github.com/IntelRealSense/librealsense/tree/master/examples#sample-code-for-intel-realsense-cameras).
    * Have you looked in our [documentations](https://github.com/IntelRealSense/librealsense/tree/master/doc#useful-lin

[2018-05-16 02:19] dmitryshendryk commented on #1267
Found it

[2018-05-16 02:24] RealSense-Customer-Engineering commented on #1599
[Realsense Customer Engineering Team Comment]
@omerbrandis
This is new feature request, we will discuss internally, but might not have it in short time. I will create feature request internally, you can trace the release note of the new release in the future. So the ticket should be able to close.

[2018-05-16 02:38] RealSense-Customer-Engineering commented on #1086
[Realsense Customer Engineering Team Comment]
Hi @motudor,

Any further update? Is the issue resolved?

[2018-05-16 04:34] rkeatin3 commented on #1573
No, this issue did not get resolved. I ended having to port all of my code over to librealsense2 to get around the apparent compatibility issues.

[2018-05-16 06:03] RealSense-Customer-Engineering commented on #1689
[Realsense Customer Engineering Team Comment]
hi @martijnkusters,
per checked, we don't have plan for DS5lr peripheral at this point, sorry for this.

[2018-05-16 06:07] longjj opened #1707 "Getting Started with OpenCV's example doesn't work on D415"
----------------------------------------------------------------------------------------------------

| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D415 |
| Firmware Version                   | 05.08.15.00 |
| Operating

[2018-05-16 07:10] RealSense-Customer-Engineering commented on #1471
[Realsense Customer Engineering Team Comment]
Hi @blairlc,

This is as a feature improvement and we will discuss internally.
If any update, will let you know.

[2018-05-16 07:42] RealSense-Customer-Engineering commented on #1698
[Realsense Customer Engineering Team Comment]
@dmitryshendryk
you can adjust the laser power by using the set_option and get_option_range API.

    rs2::context ctx;
        // Declare RealSense pipeline, encapsulating the actual device and sensors
        rs2::pipeline pipe(ctx);

        // Start streaming with default recommended configuration
        pipe.start();
     rs2::device dev = pipe.g

[2018-05-16 07:43] RealSense-Customer-Engineering commented on #1698
[Realsense Customer Engineering Team Comment]
@dmitryshendryk
Please change the exposure enum value to **rs2_option::RS2_OPTION_LASER_POWER** to change the laser power, the code below is for changing the exposure.

[2018-05-16 08:00] Panepo commented on #1556
Hi @RealSense-Customer-Engineering,

Thanks a lot.

[2018-05-16 08:00] #1556 closed

[2018-05-16 08:41] zidanehuang001 commented on #1672
@lramati thank you

[2018-05-16 08:41] #1672 closed

[2018-05-16 08:45] baptiste-mnh commented on #1670
Didn't work for me @Rnandani
@ev-mp Any news? It's now down since a week...

[2018-05-16 08:57] #1601 closed

[2018-05-16 09:00] dmitryshendryk commented on #1698
I use rs2::sensor, not pipe, because we need callbacks for frame processing. For camera setup I use json config. Thanks for replies

[2018-05-16 09:00] #1698 closed

[2018-05-16 09:24] Amahmoud1994 opened #1709 "No Example is Working on Windows cmd line"
### Issue Description

I am using windows 10 cmd and I tried to compile and run any example codes provided in the examples file (align, capture, etc ).
At the beginning, I got a problem that `#include <librealsense2/rs.hpp>`  is not found when running the
`rs-capture.cpp` file using the following command `g++ -o rs-capture rs-capture.cpp` . So I had to change it to  `#include "../../include/librea

[2018-05-16 09:26] SimonLit commented on #1706
Intrinsic information can be gatherd in the following way:
       ` auto const i = pipe.get_active_profile().get_stream(RS2_STREAM_DEPTH).as<rs2::video_stream_profile>().get_intrinsics();` Where pipe is of type `rs2::pipeline`. Change `RS2_STREAM_DEPTH` if you want intrinsic data from a different stream.

Gathering extrinsic data can be done in the same way but replacing `get_intrinsics()` with `g

[2018-05-16 09:54] ev-mp commented on #1707
Hello @longjj ,
Please run `realsense-viewer` to verify that D415 is recognized as USB3 and not USB2 device.

[2018-05-16 10:12] ev-mp commented on #1670
Hello @baptiste-mnh ,
The server is up and running. The packages - are [available for Ubuntu 16](https://github.com/IntelRealSense/librealsense/blob/master/doc/distribution_linux.md#linux-distribution) (xenial) only. latest version is 2.11.0.
The repo for Ubuntu 18 is in work so if you're using Ubuntu 18 you need to build for source. In that case please also await this week release to [get the pro

[2018-05-16 10:41] baptiste-mnh commented on #1670
Ok, I already build from sources. I will wait the support of Ubuntu 18.04.
I just need to install intel-realsense-dfu which isn't available when I build from source.

Is there a way to get it or may be I just missed a cmake flag?

[2018-05-16 10:49] baptiste-mnh opened #1710 "Python wrapper doc SDK2.0"
Hi! Is there a full doc of the python wrapper available?
I saw the multiple exemples but it could be great to have a detailed list of functions and their parameters.

[2018-05-16 11:28] lramati commented on #1710
There is not. However, the built-in help() command works, and the wrapper
is a direct port of the C++ API

[2018-05-16 11:29] longjj commented on #1707
@ev-mp  It seems that I have used USB3.0 interface cause I had read the Troubleshooting Q&A at the beginning, while I didn't verify it on `realsense-viewer`. I will check it tomorrow since the device is in my workplace. Thank you.

In addition, [ready-to-hack](https://github.com/IntelRealSense/librealsense#ready-to-hack) code works well.

[2018-05-16 12:01] Gnimuc commented on #1659
I can successfully work out an example using sensor control APIs, feel free to close this issue.

[2018-05-16 12:26] TheMikeyR commented on #1689
what about the bare module? @RealSense-Customer-Engineering

[2018-05-16 12:58] tolgasaglik opened #1712 "3d coordinates of pixels"
|---------------------------------|------------------------------------------- |
| Camera Model                       | SR300 |
| Firmware Version                   |  3.21.0.0 |
| Operating System & Version | Linux Ubuntu 16  |
| Kernel Version (Linux Only)    |   4.13.0                                       |
| Platform                                 | PC / ROS Kinetic  |
| SDK Version

[2018-05-16 14:08] baptiste-mnh commented on #1710
Ok. Can you tell me where you call this help function please, I tried from the python wrapper and C++ but it didn't works.
Thanks!

[2018-05-16 15:02] DrCodeWizzard commented on #1687
I used a powered USB 3.0 Amazon Basics hub to connect two cameras to TX2 board. We also have a custom board (for our product) which exposes 5 USB 3.0 ports. I was able to reproduce this behavior on both setups.

We are running one camera with RGB set to 640x480 @ 15 Hz. The second camera doesn't have color enabled at all. Depth is captured at 424 x 240 @ 30Hz. We change exposure settings for the c

[2018-05-16 15:26] RealSense-Customer-Engineering commented on #1707
[Realsense Customer Engineering Team Comment]
I also didn't see this issue on my test configuration: kernel 4.13.0-41 + librealsense 2.11 + D415 FW 5.9.11.
The BGR opencv example can run normally to display the color image.

[2018-05-16 15:39] longjj commented on #1707
@RealSense-Customer-Engineering
My Opencv's version is 2.4, does that matter?
I am so appreciate for your help.

[2018-05-16 15:57] baptiste-mnh commented on #1710
Oh ok! Thanks!

[2018-05-16 15:57] #1710 closed

[2018-05-16 17:51] RealSense-Customer-Engineering commented on #1083
[Realsense Customer Engineering Team Comment]
Hello @MorsLiang, there is a white paper on best known methods for tuning that may be helpful. You can download it here, https://realsense.intel.com/intel-realsense-downloads/#whitepaper. Please let us know if you find this helpful or if you still have questions.

[2018-05-17 01:49] #1659 closed

[2018-05-17 02:15] RealSense-Customer-Engineering commented on #1604
[Realsense Customer Engineering Team Comment]
@k-lam
Can you give me more information when do you get this error message? can you give me your code snippet?

[2018-05-17 03:12] RealSense-Customer-Engineering commented on #1693
[Realsense Customer Engineering Team Comment]
hi @baptiste-mnh,

would like to confirm if the message is from command Intel.Realsense.CustomRW.exe -g?
thanks.

[2018-05-17 03:16] RealSense-Customer-Engineering commented on #1586
[Realsense Customer Engineering Team Comment]
we are still working on this issue, and thanks for your information.

[2018-05-17 04:19] ev-mp commented on #1567
Hello @a-loner ,
The above PR includes several documentation modification, including yours.
Thanks for the suggestion.

[2018-05-17 04:19] #1567 closed

[2018-05-17 05:43] RealSense-Customer-Engineering commented on #1372
[Realsense Customer Engineering Team Comment]
segment broamarket
type question
priority low
issue category question
summary test
product D400
OS windows
language=others

[2018-05-17 05:51] JasonChang13 commented on #1372
ignore me

[2018-05-17 07:36] baptiste-mnh commented on #1693
My bad, I was on linux and I used the Dynamic calibration tool. They works like a charm now, thanks!
Is there a linux equivalent command?

[2018-05-17 08:06] RealSense-Customer-Engineering commented on #939
[Realsense Customer Engineering Team Comment]
hi @freealong,

sorry for no feedback, would like to know if you still need help on this topic?

[2018-05-17 09:03] longjj commented on #1707
@RealSense-Customer-Engineering
Today I reinstalled my computer system and reinstalled `opencv 3.0` and  `librealsense` and then the code works! Maybe the cause is the mess dependence's environment since the previous environment was configured by another stuff.

Thanks a lot!

[2018-05-17 09:03] #1707 closed

[2018-05-17 09:34] AntoineWefit commented on #1680
Hi @tchapi,

Even though I'm not an expert, here is a small contribution.

I think your main problem is as you said :
_"It looks kind of a reflection of IR [...]"_
If this "blind spot" only appears when you try to scan special/reflective surfaces such as your PMMA, then I don't think you need to look any further. I'm pretty sure that the IR is somehow reflected by those surfaces and the camera is

[2018-05-17 09:58] kostas01 opened #1721 "Merge point clouds, export to ply"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D415 |
| Firmware Version                   | 5.9.11 |
| Operating System & Version |  Win 10  |                                 |
| Platform

[2018-05-17 10:48] freealong commented on #939
No need on this topic.

[2018-05-17 15:58] Jiloc commented on #931
@carypai  thank you for looking into it.

I can confirm that your implementation works.

It just seems that the camera connection/disconnection handling it's not thread safe. It must be handled by the same thread that uses the pipeline to get frames.

[2018-05-17 16:01] Jiloc commented on #1721
I can suggest you taking a look at https://github.com/PointCloudLibrary/pcl and https://github.com/IntelVCL/Open3D . I ended up using the second one

[2018-05-17 17:44] jgomezlopez opened #1722 "Interlaced color images with D415 camera"
Good evening,

I'm trying to get color images from al D415 in BGR8 format. I save the frame.get_data() pointer to disk
when I open it with a python script with the right resolution and 3 bytes per pixel I see an interlaced image.

I'm running in a Ubuntu 16.04 with a 4.10 Kernel in a NUC 6 i3 and NUC 7 i3 using librealsense 2.11.0

Thanks in advance for your help.

Regards

Jose

[2018-05-17 18:20] GitwellAnyohub opened #1723 "Difference in Advance Mode Controls and Acquisition Parameters"
I'm currently working on a script to optimize acquisition parameters for my experiment. It seems like there are two ways to manipulate which advanced parameters are being used. You can load in a json file that contains the parameters you want.

Here is a script I wrote to do that. First, I used the realsense-viewer's advanced mode to change some parameters and then I saved the json file. By doing

[2018-05-17 19:59] ev-mp commented on #1516
Hello @phat64 ,
The latest v2.11.1 should address this issue. Please check and update

[2018-05-17 20:03] ev-mp commented on #1667
Hello @summer1216 .
In the latest version [2.11.1](https://github.com/IntelRealSense/librealsense/releases/tag/v2.11.1) we fixed the rs-measure demo that now should work correctly with SR300.
Please check and confirm

[2018-05-17 21:35] RealSense-Customer-Engineering commented on #1646
[Realsense Customer Engineering Team Comment]
Hello @PipgZYP, it seems that this resolves your issue and I will close this however if you are still having this problem or any other one please feel free to open a new one.

[2018-05-17 21:35] #1646 closed

[2018-05-18 01:29] RealSense-Customer-Engineering commented on #931
[Realsense Customer Engineering Team Comment]
@Jiloc
Can you describe more why do you think it seems not thread safe?

Pipeline is within the same context of even handling and when you get the device is disconnected, you can set the disconnect to true and not going into getting back frame. If it already goes into wait for frame, it's still okay, exception will throw out after time out.